.bi-embed-box
  - unless @text == "none"
    .bikes-registered
      - if @text.present?
        = @text
      - else
        My Indexed
        = "Bike".pluralize(@bikes.count)
  .bi-slide-over
  - if @bikes.count > 1
    %a#bi-slide-prev.controleys
      <
    %a#bi-slide-next.controleys
      >
  #slider
    .swipe-wrap
      - @bikes.each do |bike|
        .bikey-slide
          %a.bi-bike-link{ href: bike_url(bike), target: "_blank" }
          - if bike.thumb_path
            = image_tag(bike.thumb_path, alt: bike.title_string, class: "bike-photo")
          - else
            %span.no-bike-photo
              no photo
            = image_tag("bike_photo_placeholder.png", alt: bike.title_string, class: "bike-photo")
          .bi-title
            = bike.title_string
            