
= form_for [:admin, @ctype], html: {class: "form-group"} do |f|
  - if @ctype.errors.any?
    = render partial: "/shared/errors", locals: { name: "Component Type", obj: @ctype }
  .form-group
    = f.label :name, "Name"
    = f.text_field :name, class: "form-control w-25"
  .form-group
    = f.label :secondary_name, "Secondary Name"
    = f.text_field :secondary_name, class: "form-control w-25"
  .form-group
    = f.label :cgroup, "Component Group"
    = collection_select :ctype, :cgroup_id, Cgroup.all, :id, :name, {prompt: "Select the component group"}, class: "form-control w-25"
  .form-group
    = f.label :image, "Component type avatar", class: "mt-2"
    - if @ctype.image?
      = image_tag(@ctype.image_url(:thumb))
    - else
      %p
        No picture!
  .form-group
    = f.file_field :image, class: "w-100"
    = f.hidden_field :image_cache

  .mt-4
    = f.submit 'Save', class: 'btn btn-success'
