
%h1
  Component Types
= link_to "New Component type", new_admin_ctype_url, class: "btn btn-success float-right"
%h4
  There are #{pluralize(@ctypes.count, "component type")}.

.full-screen-table-wrapper.mt-4.mb-4
  %table.table.table-striped.table-bordered
    %thead.thead-light
      %th
        Name
      %th
        Slug
      %th
        Component group
      %th.large-screens
        Has image?
    %tbody
      - @ctypes.each do |ctype|
        %tr
          %td
            = link_to ctype.name, edit_admin_ctype_url(ctype)
          %td
            = ctype.slug
          %td
            = ctype.cgroup.name.titleize
          %td.large-screens
            = "&#x2713;".html_safe if ctype.image?
