.form.form-horizontal.clearfix
  - if @organization.errors.any?
    = render partial: "/shared/errors", locals: { name: "Organization", obj: @organization }
  = form_for @organization, { as: :organization, url: admin_organization_custom_layout_path(organization_id: @organization.to_param, id: params[:id]), action: 'update' } do |f|
    = f.fields_for :mail_snippets do |snippet|
      - snippet_name = snippet.object.name
      - next unless snippet_name == @edit_template
      - snippet_description = MailSnippet.organization_snippets[snippet.object.name.to_sym]
      .form-group
        = snippet.label :body, "#{snippet.object.name.titleize} snippet"
        = snippet.text_area :body, placeholder: snippet_description, rows: 10, class: "form-control"
      .row
        .col-md-6
          .form-group
            = snippet.check_box :is_enabled
            = snippet.label :is_enabled, "Enable #{@edit_template.titleize}. Only possible if there is content"
        .col-md-6
          = f.submit 'Save', class: 'btn btn-success float-right'
  .mt-4

%ul#public_image{ :"data-order-url" => order_public_images_url }
  - if @mail_snippet.public_images
    = render partial: '/public_images/public_image', collection: @mail_snippet.public_images, as: :public_image, locals: { skip_order: true }
%section
  = render partial: 'public_images/admin_new_form', locals: { imageable_type: 'MailSnippet' }
