%h1
  Edit #{ link_to @organization.name, admin_organization_path(@organization) } custom layouts
.row
  .col-lg-6
    %p
      = link_to 'Custom layouts version history', ENV['CUSTOM_CODE_SOURCE']
  .col-lg-6
    %table.table-list
      %tr
        %td
          Paid
        %td
          %strong
            = @organization.paid?

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th
        Link to edit
      %th
        Preview
      %th
        Has content
      %th
        Enabled
    %tbody
      %tr
        %td
          = link_to 'Landing page', edit_admin_organization_custom_layout_path(organization_id: @organization.to_param, id: 'landing_page')
        %td.small
          = link_to 'landing page preview', organization_landing_path(organization_id: @organization.to_param)
        %td.table-cell-check
          = check_mark if @organization.landing_html.present?
        %td.table-cell-check
          = check_mark if LandingPages::ORGANIZATIONS.include?(@organization.slug)
      - MailSnippet.organization_snippets.each do |kind, snippet_attrs|
        - snippet = @organization.mail_snippets.where(kind: kind).first
        %tr
          %td
            = link_to snippet_attrs[:description], edit_admin_organization_custom_layout_path(organization_id: @organization.to_param, id: kind)
          %td
            - if snippet_attrs[:emails] == "all"
              All emails
              = link_to "eg finished registration", edit_organization_email_path(kind, organization_id: @organization.to_param), class: "small"
            - elsif snippet_attrs[:emails] == "finished_registration"
              = link_to "preview finished registration", edit_organization_email_path(kind, organization_id: @organization.to_param), class: "small"
            - elsif snippet_attrs[:emails] == "partial_registration"
              = link_to "preview partial registration", edit_organization_email_path(kind, organization_id: @organization.to_param), class: "small"
            - else
              %span.text-warning
                Unknown email kind: "#{snippet_attrs[:emails]}"
          %td.table-cell-check
            = check_mark if snippet&.body.present?
          %td.table-cell-check
            = check_mark if snippet&.is_enabled
