- render_sortable ||= false
- bike_code_batch_organizations = BikeStickerBatch.all.map { |b| [b.id.to_s, b.organization&.short_name] }.to_h
.full-screen-table
  %table.table.table-striped.table-bordered.table-sm.without-exterior-border
    %thead.small-header
      %th
        - if render_sortable
          = sortable "created_at"
        - else
          Created
      %th
        - if render_sortable
          = sortable "organization_id"
        - else
          Organization
      %th
        - if render_sortable
          = sortable "bike_sticker_batch_id", "Batch"
        - else
          Batch
      %th
        Linked
      %th
        Bike
      %th
        -if render_sortable
          = sortable "code_integer", "Code #"
        -else
          Code #
    %tbody
      - bike_stickers.each do |bike_sticker|
        %tr
          %td
            - if bike_sticker.organization.present?
              - bike_sticker_url = edit_organization_sticker_path(organization_id: bike_sticker.organization_id, id: bike_sticker.code)
            - else
              - bike_sticker_url = "/bikes/scanned/#{bike_sticker.code}"
            %a.convertTime{ href: bike_sticker_url }
              = l bike_sticker.created_at, format: :convert_time
          %td
            - if bike_sticker.organization.present?
              = link_to bike_sticker.organization.name, admin_bike_stickers_path(sortable_search_params.merge(organization_id: bike_sticker.organization_id))
          %td
            - if bike_sticker.bike_sticker_batch.present?
              = link_to bike_sticker.bike_sticker_batch_id, admin_bike_stickers_path(sortable_search_params.merge(search_bike_sticker_batch_id: bike_sticker.bike_sticker_batch_id))
              %small.less-strong
                = bike_code_batch_organizations[bike_sticker.bike_sticker_batch_id.to_s]
          %td
            - if bike_sticker.claimed? && bike_sticker.claimed_at.present?
              %span.convertTime
                = l bike_sticker.claimed_at, format: :convert_time
          %td
            - if bike_sticker.claimed?
              / For these, use bike_id to avoid loading association
              = organized_bike_text(bike_sticker.bike)
          %td
            %strong
              = link_to bike_sticker.pretty_code, "/bikes/scanned/#{bike_sticker.code}?organization_id=#{bike_sticker.organization.to_param}"
            - unless bike_sticker.sticker?
              %em.small.text-warning
                = bike_sticker.kind
