.admin-subnav
  .col-md-5
    %h1
      Manage Stickers
  .col-md-7
    %ul
      %li.nav-item
        = link_to "New batch", new_admin_bike_sticker_path, class: "btn btn-outline-success btn-sm"
      %li.nav-item
        %small= link_to "reassign", reassign_admin_bike_stickers_path, class: "btn btn-outline-secondary btn-sm less-strong ml-2"
      %li.nav-item
        = link_to "graph", url_for(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"

  .col-12.mt-4
    - unless @bike_sticker_batch.present? # Doesn't make sense to count if there is a batch
      %h5
        = number_display(@bike_sticker_batches.count)
        - if @matching_batches
          matching
          = "batch".pluralize(@bike_sticker_batches.count)
        - elsif @all_batches
          batches
          %small.less-strong
            \- show
            = link_to "only most recent", url_for(sortable_search_params.merge(search_all_batches: false))
        - else
          most recent batches
          %small.less-strong
            \-
            = number_display(BikeStickerBatch.count)
            = link_to "total batches", url_for(sortable_search_params.merge(search_all_batches: true)), class: "less-strong"

    = render partial: "batches_table", locals: {bike_sticker_batches: @bike_sticker_batches, render_sortable: false, matching_count: @matching_batches}


  = render Admin::CurrentHeader::Component.new(params:,  viewing: "Stickers" , user: @user, bike: @bike, marketplace_listing: @marketplace_listing, primary_activity: @primary_activity, current_organization:)

- if @render_chart
  = column_chart time_range_counts(collection: matching_bike_stickers, column: @time_range_column), stacked: true, thousands: ","

.mt-2
  = render partial: "/shared/period_select"

- if @bike_sticker_batch.present?
  - if InputNormalizer.boolean(params[:search_show_problems])
    .mt-4.mb-4
      %h4
        Showing Problem stickers
        %small= link_to "hide", url_for(sortable_search_params.merge(search_show_problems: false)), class: "less-strong"
      - duplicated = @bike_sticker_batch.duplicated_integers
      %span.d-block.strong Duplicates:
      - if duplicated.any?
        %ul
          - duplicated.each do |int|
            %li.small
              %code
                = int
      - else
        %em.less-strong None
      %span.d-block.strong Non-sequential stickers:
      - if @bike_sticker_batch.non_sequential_integers.any?
        %ul
          - @bike_sticker_batch.non_sequential_integers.each do |arr|
            %li.small
              #{arr[0]} > #{arr[1]}
      - else
        %em.less-strong none
    %hr
  - else
    .text-center.pt-4
      = link_to "Show problem stickers for Batch ##{@bike_sticker_batch.id}", url_for(sortable_search_params.merge(search_show_problems: true)), class: "btn btn-outline-warning btn-sm"
      %em.ml-2.less-strong (duplicates and non-sequential stickers)

.row.mt-4
  .col-md-6
    %p
      = number_display(matching_bike_stickers.size)
      matching
      = "sticker".pluralize(matching_bike_stickers.size)
      - unless @search_claimed
        %span.less-strong
          = number_with_delimiter(matching_bike_stickers.claimed.count)
          claimed
      = @period == "all" ? "" : "were"
      %em
        = humanized_time_range_column(@time_range_column)
        = humanized_time_range(@time_range)
      - if sortable_search_params?
        \-
        %em
          = link_to "view all stickers", url_for

    - if @bike_sticker_batch.present?
      %p
        %strong
          Viewing Just Batch ##{@bike_sticker_batch.id}
        %small
          = link_to "view all batches", url_for(sortable_search_params.except(:search_bike_sticker_batch_id))

  .col-md-6.mt-2
    = form_tag admin_bike_stickers_path, method: :get, class: "form-inline" do
      = render partial: "/shared/hidden_search_fields"
      = hidden_field_tag :search_bike_sticker_batch_id, params[:search_bike_sticker_batch_id]
      .form-check.ml-auto.ml-2
        = check_box_tag :search_claimed, true, @search_claimed, class: "form-check-input"
        = label_tag :search_claimed, "Claimed only"
      .form-group.ml-2
        = text_field_tag :search_query, params[:search_query], placeholder: "search sticker", class: "form-control"

      = submit_tag 'Search', name: 'search', class: 'btn btn-primary ml-2'

= render_admin_pagination_with_count(collection: @bike_stickers, skip_total: true)

= render partial: "table", locals: { bike_stickers: @bike_stickers, render_sortable: true }

= render_admin_pagination_with_count(collection: @bike_stickers, skip_total: true)
