.admin-subnav
  .col-md-5
    %h1
      Mailchimp Data
  .col-md-7
    %ul
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@list != "all" ? "active" : "") }
          #{@list.titleize} #{@list == "all" ? "lists" : "list"}
        .dropdown-menu
          = link_to "All lists", url_for(sortable_search_params.merge(search_list: "all")), class: "dropdown-item #{@list == 'all' ? 'active' : '' }"
          = link_to "Organization list", url_for(sortable_search_params.merge(search_list: "organization")), class: "dropdown-item #{@list == 'organization' ? 'active' : '' }"
          = link_to "Individual list", url_for(sortable_search_params.merge(search_list: "individual")), class: "dropdown-item #{@list == 'individual' ? 'active' : '' }"
      %li.nav-item
        %a.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@search_users == "all" ? "" : "active") }
          - if @search_users == "all"
            With and without users
          - else
            = @search_users.humanize
        .dropdown-menu
          = link_to "With and without users", admin_mailchimp_data_path(sortable_search_params.merge(search_users: "all")), class: "dropdown-item #{@search_users == 'all' ? 'active' : ''}"
          .dropdown-divider
          = link_to "With user", admin_mailchimp_data_path(sortable_search_params.merge(search_users: "with_user")), class: "dropdown-item #{@search_users == 'with_user' ? 'active' : ''}"
          = link_to "No user", admin_mailchimp_data_path(sortable_search_params.merge(search_users: "no_user")), class: "dropdown-item #{@search_users == 'no_user' ? 'active' : ''}"

      %li.nav-item
        %a.nav-link{href: ".data-cell-collapsed", "aria-expanded" => "false", "data-toggle" => "collapse"}
          Toggle data
      %li.nav-item
        = link_to "graph", admin_mailchimp_data_path(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"

= render partial: "/shared/period_select"

.row.mb-4.mt-4
  .col-sm-6.col-lg-4.mt-4
    = number_with_delimiter(matching_mailchimp_data.count)
    matching Mailchimp Data
    %em
      = humanized_time_range_column(@time_range_column)
      = humanized_time_range(@time_range)
  .col-sm-6.col-lg-4.mt-3
    = form_tag admin_mailchimp_data_path, method: :get, class: "form-inline" do
      = render partial: "/shared/hidden_search_fields"
      = hidden_field_tag :search_list, params[:search_list]
      = hidden_field_tag :search_users, params[:search_users]
      .form-group.ml-auto.mb-0
        = text_field_tag :query, params[:query], placeholder: "Search email", class: "form-control ml-auto"
      = submit_tag 'Search', name: 'search', class: 'btn btn-primary ml-2'
  .col-lg-4
    = paginate @mailchimp_data, views_prefix: "admin"


%table.table.table-striped.table-bordered.table-sm.without-exterior-border#recordsTable
  %thead.small-header.hidden-md-down
    %th
      Email
    %th.small
      Feedbacks
    %th
      = sortable "created_at"
    %th.small
      = sortable "updated_at"
    %th
      Lists
    %th
      Groups
      - if display_dev_info?
        %small.only-dev-visible interests
    %th
      = sortable "mailchimp_updated_at"
    %th.collapse.data-cell-collapsed Data

  %tbody
    - @mailchimp_data.each do |mailchimp_datum|
      %tr
        %td
          - if mailchimp_datum.user.present?
            = link_to mailchimp_datum.email, admin_user_path(mailchimp_datum.user)
          - else
            = mailchimp_datum.email
        %td
          = safe_join(mailchimp_datum.feedbacks.map { |f| link_to(f.humanized_kind, admin_feedback_path(f), class: "small") }, ", ")
        %td
          %span.convertTime
            = l(mailchimp_datum.created_at, format: :convert_time)
        %td
          %small.convertTime
            = l(mailchimp_datum.updated_at, format: :convert_time)
        %td
          = mailchimp_datum.lists.join(", ")
        %td
          = mailchimp_datum.interests.join(", ")
        %td
          - if mailchimp_datum.mailchimp_updated_at.present?
            %span.convertTime
              = l(mailchimp_datum.mailchimp_updated_at, format: :convert_time)
        %td.collapse.data-cell.data-cell-collapsed.small
          = pretty_print_json(mailchimp_datum.data)
