!!!
%html
  %head
    = header_tags
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,700' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag "print_tickets", media: "all"

  %body#print-tickets
    .row
      - require 'rqrcode'
      - tickets_per_row = (@tickets.count / 3.0).ceil
      - ticket_rows = [@tickets.slice(0, tickets_per_row), @tickets.slice(tickets_per_row, tickets_per_row), @tickets.slice(2*tickets_per_row, tickets_per_row)]
      - tickets_per_row.times do |i|
        - [ticket_rows.first[i], ticket_rows.second[i], ticket_rows.third[i]].each do |ticket|
          - next unless ticket.present?
          .ticket-wrapper
            .ticket-display
              .row
                .ticket-text
                  .ticket-number
                    = ticket.number
                  .organization-name
                    = current_organization.name

                .qrcode
                  - ticket_link = claim_ticket_organization_customer_appointments_url(organization_id: current_organization.to_param, location_id: current_location&.id, ticket_token: ticket.link_token)
                  - qrcode = RQRCode::QRCode.new(ticket_link, level: :h)
                  - png = qrcode.as_png(bit_depth: 1, border_modules: 0, color_mode: ChunkyPNG::COLOR_GRAYSCALE, color: 'black', file: nil, fill: 'white', module_px_size: 6, resize_exactly_to: false, resize_gte_to: false, size: 240)
                  <img src="#{png.to_data_url}" />

