.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th
        = sortable "created_at", render_sortable: render_sortable
      %th
        = sortable "membership_level", "Level", render_sortable: render_sortable
      %th
        = sortable "amount_cents", "Amount", render_sortable: render_sortable
      %th
        = sortable "currency_enum", "Currency", render_sortable: render_sortable
      %th
        = sortable "interval", render_sortable: render_sortable
      %th Test?
      %th Active?
      %th
        %small Stripe ID
    %tbody
      - collection.each do |stripe_price|
        %tr
          %td
            .less-strong-hold
              %span.convertTime
                = l stripe_price.created_at, format: :convert_time
              %span.less-strong-right.d-none.d-md-block
                = stripe_price.id
          %td
            = Membership.level_humanized(stripe_price.membership_level)
          %td
            = stripe_price.amount_formatted
          %td
            = stripe_price.currency_name
          %td
            = stripe_price.interval
          %td
            = check_mark if stripe_price.test?
          %td
            = check_mark if stripe_price.active?
          %td
            %code.small= stripe_price.stripe_id
