-# TODO: add translations

.organized-page-header
  %h1
    Edit
    %em
      = MailSnippet.kind_humanized(@kind)

- unless viewable_email_kinds.include?(@kind)
  .alert.alert-warning.mb-4
    This email isn't normally viewable by normal users, it isn't part of the organizations permitted viewable kinds

- if @can_edit
  - created_at = @kind == "organization_stolen_message" ? @object.content_added_at : @object.created_at
  .row
    .col-md-6
      %table.table-list
        %tbody
          %tr
            %td Created
            %td
              - if created_at.present?
                %span.convertTime.preciseTime
                  = l(created_at, format: :convert_time)
              - else
                %span.less-strong not created
          %tr
            %td Last updated
            %td
              - if created_at.present?
                %span.convertTime.preciseTime
                  = l(@object.updated_at, format: :convert_time)
    .col-md-6
      %table.table-list
        %tbody
          %tr
            %td Enabled?
            %td
              - if @object.is_enabled
                = check_mark
              - else
                %small.less-strong false
              - if @impound_claim_kind && !current_organization.impound_claims?
                %br
                Impound claims are not currently enabled
                %small To turn on impound claims, you must enable the #{link_to "publicly accessible impound page", edit_organization_manage_impounding_path(organization_id: current_organization.to_param)}

  = form_for @object, url: organization_email_path(@kind, organization_id: current_organization), action: "update", method: :patch do |f|
    - if @kind == "organization_stolen_message"
      .form-group.mb-5.mt-4
        = f.label :report_url, class: "control-label" do
          URL to make a stolen bike report in your jurisdiction
          %small.less-strong shown to all users who report a stolen bike
        = f.text_field :report_url, class: "form-control"

    %h3.uncap.mt-4
      Edit the
      = @kind == "organization_stolen_message" ? "stolen message" : "email"

    - if @object.editable_subject?
      .form-group
        = f.label :subject, "Custom email subject", class: "control-label"
        = f.text_field :subject, class: "form-control"

    - if @object.editable_subject?
      .form-group
        = f.label :subject, "Custom email subject", class: "control-label"
        = f.text_field :subject, class: "form-control"
    .form-group
      = f.label :body, class: "control-label" do
        - if @kind == "organization_stolen_message"
          Custom alert message to add to stolen bikes
          %small
            - if @object.area?
              Stolen bikes within
              %em= @object.search_radius_display
              of your organization will see this message
            - else
              Stolen Bikes registered through your organization will see this message
            %em.less-strong.d-block{style: "line-height: 1;"}
              max length:
              %strong= @object.max_body_length
              characters
        - else
          Custom HTML message to add to the email
          %small
            %strong.text-warning
              HTML is required
            to do <em>any</em> formatting (for instance line breaks).
            %em.less-strong.d-block{style: "line-height: 1;"}
              Need help with HTML? Check out
              = link_to "this tutorial", "https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started", target: "_blank"
              \- or email #{link_to "gavin@bikeindex.org", "mailto:gavin@bikeindex.org", target: "_blank"}.
      = f.text_area :body, rows: 4, maxlength: @object.max_body_length, placeholder: "Custom text", class: "form-control"
    - if @kind == "other_parking_notification"
      = render(Alert::Component.new(text: "Other parking notifications don't include a \"picked up the bike\" link", kind: :info, margin_classes: 'tw:mt-2 mb-4'))

    .form-group
      = f.check_box :is_enabled
      = f.label :is_enabled, class: "org-form-label" do
        Enabled
        %em.less-strong
          = @kind == "organization_stolen_message" ? "message" : "customizations"
          won't show up unless checked

    .mt-2
      = submit_tag "Save", class: "btn btn-success btn-md-lg"

- else
  = render(Alert::Component.new(header: "Not customizable directly", text: "Ask Bike Index support for help", kind: :info))

-# We can't preview impound_claims unless there are impound records
- if @impound_claim_kind && @impound_claim.blank?
  %h3.uncap.mt-5.mb-1.text-warning
    Can't preview email
  %p.mt-0
    You have to have an <em>impounded record</em> to be able to see a preview of an impounded claim email
- else
  #emailPreview.collapse.show.in
    %h3.uncap.mt-4 Preview of email sent:
    .email-preview.parking-notification-email-preview
      .text-center.small.less-strong email for preview only
      <iframe src="#{organization_email_url(@kind, organization_id: current_organization.to_param)}"></iframe>

  #emailPreviewUpdated.collapse
    %h3.uncap.mt-4 Save the email to see the preview

  -# Tiny little thing to make the preview show and collapse
  :coffee
    $(document).ready ->
      window.previewCollapsed = false

      $("#mail_snippet_body").keyup ->
        return true if previewCollapsed
        $("#emailPreview").collapse("hide")
        $("#emailPreviewUpdated").collapse("show")
