-# TODO: add translations

.organized-page-header
  %h1
    Edit
    %em
      = @kind.humanize

- unless viewable_email_kinds.include?(@kind)
  .alert.alert-warning.mb-4
    This email isn't normally viewable by normal users, it isn't part of the organizations permitted viewable kinds



- if @can_edit
  .row
    .col-md-6
      %table.table-list
        %tbody
          %tr
            %td Created
            %td
              - if @mail_snippet.id.present?
                %span.convertTime.preciseTime
                  = l(@mail_snippet.created_at, format: :convert_time)
              - else
                not created
          %tr
            %td Last updated
            %td
              - if @mail_snippet.id.present?
                %span.convertTime.preciseTime
                  = l(@mail_snippet.updated_at, format: :convert_time)
    .col-md-6
      %table.table-list
        %tbody
          %tr
            %td Enabled?
            %td
              - if @mail_snippet.is_enabled
                = check_mark
              - else
                %small.less-strong false
              - if @impound_claim_kind && !current_organization.impound_claims?
                %br
                Impound claims are not currently enabled
                %small To turn on impound claims, you must enable the #{link_to "publicly accessible impound page", edit_organization_manage_impounding_path(organization_id: current_organization.to_param)}




  %h3.uncap.mt-4
    Edit the email

  = form_for @mail_snippet, url: organization_email_path(@kind, organization_id: current_organization), action: "update", method: :patch do |f|
    .form-group
      = f.label :subject, "Custom email subject", class: "control-label"
      = f.text_field :subject, class: "form-control"
    .form-group
      = f.label :body, class: "control-label" do
        Custom HTML message to add to the email
        %small
          %strong.text-warning
            HTML is required
          to do <em>any</em> formatting (for instance line breaks).
          %em.less-strong.d-block{ style: "line-height: 1;" }
            Need help with HTML? Check out
            = link_to "this tutorial", "https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started"
            \- or email #{link_to "gavin@bikeindex.org", "mailto:gavin@bikeindex.org"}.
      = f.text_area :body, rows: 4, placeholder: "Custom text", class: "form-control"

    .form-group
      = f.check_box :is_enabled
      = f.label :is_enabled, class: "org-form-label" do
        Enabled
        %em.less-strong customizations won't show up unless checked

    .mt-2
      = submit_tag "Save", class: "btn btn-success btn-md-lg"
- else
  .alert.alert-info.mt-4.mb-4
    %h3.uncap.less-strong Not customizable directly
    %p Ask Bike Index support for help

-# We can't preview impound_claims unless there are impound records
- if @impound_claim_kind && @impound_claim.blank?
  %h3.uncap.mt-5.mb-1.text-warning
    Can't preview email
  %p.mt-0
    You have to have an <em>impounded record</em> to be able to see a preview of an impounded claim email
- else
  #emailPreview.collapse.show.in
    %h3.uncap.mt-4 Preview of email sent:

    .email-preview.parking-notification-email-preview
      <iframe src="#{organization_email_url(@kind, organization_id: current_organization.to_param)}"></iframe>

  #emailPreviewUpdated.collapse
    %h3.uncap.mt-4 Save the email to see the preview

  -# Tiny little thing to make the preview show and collapse
  :coffee
    $(document).ready ->
      window.previewCollapsed = false

      $("#mail_snippet_body").keyup ->
        return true if previewCollapsed
        $("#emailPreview").collapse("hide")
        $("#emailPreviewUpdated").collapse("show")
