-# TODO: add translations

.organized-page-header
  %h1
    Customize Emails

%table.table.table-striped.table-bordered.table-sm.without-exterior-border.list-table#recordsTable
  %thead.small-header.hidden-md-down
    %th Kind
    %th Enabled?
    %th Created
    %th Last updated
    %th Body
  %tbody
    - viewable_email_kinds.each do |kind|
      - if kind == "finished_registration"
        - mail_snippets = current_organization.mail_snippets.where(kind: MailSnippet.finished_registration_kinds)
      - elsif kind == "partial_registration"
        - mail_snippets = current_organization.mail_snippets.where(kind: "partial")
      - else
        - mail_snippets = current_organization.mail_snippets.where(kind: kind)
      %tr
        %td
          = link_to kind.humanize, edit_organization_email_path(kind, organization_id: current_organization.to_param)
        %td
          = check_mark if mail_snippets.any? && mail_snippets.enabled.any?
        %td
          - if mail_snippets.any?
            %span.convertTime
              = l(mail_snippets.first.created_at, format: :convert_time)
        %td
          - if mail_snippets.any?
            %span.convertTime
              = l(mail_snippets.last.updated_at, format: :convert_time)
        %td
          - if mail_snippets.any?
            %small
              = truncate(mail_snippets.first.body, length: 100)
