- tweets ||= @tweets
- render_sortable ||= false
- skip_twitter_account ||= false
- skip_kind ||= false

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th
        - if render_sortable
          = sortable "created_at"
        - else
          Created
      %th.small
        Twitter ID
      - unless skip_twitter_account
        %th
          - if render_sortable
            = sortable "twitter_account_id"
          - else
            Twitter Account
      - unless skip_kind
        %th
          - if render_sortable
            = sortable "kind"
          - else
            Kind
      %th
        Tweet
      %th
        Stolen Record
      %th
        Image?
      %th
        Retweets
    %tbody
      - tweets.each do |tweet|
        %tr
          %td
            %a.convertTime{ href: admin_tweet_path(tweet.id) }
              = l(tweet.created_at, format: :convert_time)
          %td
            %small.less-strong
              = link_to tweet.twitter_id || "ID MISSING!", tweet.tweet_link
          - unless skip_twitter_account
            %td
              - if tweet.twitter_account.present?
                = link_to tweet.twitter_account.screen_name, admin_tweets_path(search_twitter_account_id: tweet.twitter_account.to_param)
              - else
                = tweet.tweetor
          - unless skip_kind
            %td.small
              = tweet.kind&.gsub(/_?tweet/, "")&.humanize
          %td
            - if tweet.retweet?
              %strong RT:
              = link_to tweet.original_tweet&.tweetor, admin_tweet_path(tweet.original_tweet)
            - else
              %small
                - if tweet.body_html.present?
                  = strip_tags(tweet.body_html)
                - else
                  = tweet.body
          %td
            - if tweet.stolen_tweet?
              %small.less-strong
                - link_text = tweet.bike.title_string if tweet.bike.present?
                - link_text ||= tweet.stolen_record.id
                = link_to link_text, admin_stolen_bike_path(tweet.stolen_record_id, stolen_record_id: true) if tweet.stolen_record.present?
          %td
            = check_mark if tweet.image.present?
          %td
            - unless tweet.retweet?
              = tweet.retweets.count
