
%h3
  = link_to 'View all tweets', admin_tweets_url

.row.mt-4
  .col-auto
    %small
    = link_to @tweet.tweet_link.gsub(/https?..\//, ''), @tweet.tweet_link, target: '_blank'
.row
  .col-md-2
    .form-group
      = label :tweet_by, "Tweet by"
      = text_field_tag :twitter_id, @tweet.tweetor, disabled: true, class: "form-control"
  .col-md-2
    .form-group
      = label :twitter_id, "Twitter ID"
      = text_field_tag :twitter_id, @tweet.twitter_id, disabled: true, class: "form-control"
= form_for [:admin, @tweet], url: { action: 'update', controller: 'tweets' } do |f|
  - if @tweet.errors.any?
    = render partial: "/shared/errors", locals: { name: "Tweet", obj: @tweet}
  .row
    .col-md-4
      .form-group
        = f.label :body_html, 'Tweet display html'
        = f.text_area :body_html, rows: 4, class: "form-control"
  .row
    .col-md-6
      .form-group.avatar-upload
        = f.label :image, 'Tweet photo', class: 'control-label'
        .avatar-img
          - if @tweet.image?
            = image_tag(@tweet.image_url(:small))
          - else
            %p
              No picture!
            = f.file_field :image
        - if @tweet.image.present?
          .form-group
            = f.label :remove_image
            = f.check_box :remove_image, class: "form-control"
  .row
    .col-md-6
      .form-group
        %em
          Tweet alignment in image:
          .form-check-inline
            = f.radio_button :alignment,'top-left', class: "form-check-input"
            = f.label :alignment, "Top left", {:for => "tweet_alignment_top-left", class: "form-check-label pl-0"}
          .form-check-inline.form-check
            = f.radio_button :alignment, 'top-right', class: "form-check-input"
            = f.label :alignment, "Top right", {:for => "tweet_alignment_top-right", class: "form-check-label pl-0"}
          .form-check-inline.form-check
            = f.radio_button :alignment, 'bottom-left', class: "form-check-input"
            = f.label :alignment, "Bottom-left", {:for => "tweet_alignment_bottom-left", class: "form-check-label pl-0"}
          .form-check-inline.form-check
            = f.radio_button :alignment, 'bottom-right', class: "form-check-input"
            = f.label :alignment, "Bottom-right", {:for => "tweet_alignment_bottom-right", class: "form-check-label pl-0"}
  .row.justify-content-end
    .col-auto
      = f.submit 'Save', class: 'btn btn-success'

.padded
%hr
%h3
  Landing page rendering:
= stylesheet_link_tag 'revised', media: 'all'

.padded.cleafix

.signup-landing-page
  .container
    .row
      .landing-why-col
        = render partial: '/landing_pages/tweet', locals: { tweet_id: @tweet.id }

.padded
%hr
.control-group.padded
%label.control-label
  Twitter response data
%pre
  = @tweet.twitter_response.to_yaml
