%header.with-subtitle
  %h1
    Tweets
  %p
    = link_to 'new tweet', new_admin_tweet_path
%h4
  #{Tweet.count} tweets stored
%section.full-screen-table
  %table.table.table-striped.table-bordered
    %thead
      %th
        Created
      %th.large-screens
        Twitter id
      %th
        By
      %th
        Tweet
      %th
        Image?
    %tbody
      - @tweets.each do |tweet|
        %tr
          %td
            - if tweet.created_at.today?
              %span.hidden
                = tweet.created_at.strftime("%-m.%-d.%Y %-H.%M")
              - created_text = "Today at #{tweet.created_at.strftime("%-I %p")}"
            - elsif Date.yesterday().beginning_of_day() <= tweet.created_at
              %span.hidden
                = tweet.created_at.strftime("%-m.%-d.%Y %-H.%M")
              - created_text = "Yesterday at #{tweet.created_at.strftime("%-I %p")}"
            - else
              %span.hidden
                = tweet.created_at.strftime("%-m.%-d.%Y %-H.%M")
              - created_text = "#{tweet.created_at.strftime("%-m/%-d/%Y at %-I %p")}"
            = link_to created_text, admin_tweet_path(tweet.twitter_id)
          %td.large-screens
            %small.less-strong
              = tweet.twitter_id
          %td
            = tweet.tweetor
          %td
            = strip_tags(tweet.body_html)
          %td
            = "&#x2713;".html_safe if tweet.image?
    