%h1
  New Tweet
%p
  = link_to 'View all tweets', admin_tweets_url




.card.bg-light
  = form_for [:admin, @tweet], url: { action: 'create', controller: 'tweets' } do |f|
    - if @tweet.errors.any?
      .card-header
        = render partial: "/shared/errors", locals: { name: "Tweet", obj: @tweet }
    .card-body
      %p
        Get the twitter ID from the URL of the tweet. It's the final number at the end of the url
      %p
        e.g. for <code>https://twitter.com/stolenbikereg/status/874644243737751553</code> - 874644243737751553
      .form-group
        = f.label :twitter_id, 'Twitter id'
        = f.text_field :twitter_id, class: "form-control"

      .mt-4
        = f.submit 'Create tweet!', class: 'btn btn-success'
