.admin-subnav
  .col-12
    %h1
      New Tweet

#tweetForm
  - if @tweet.errors.any?
    = render partial: "/shared/errors", locals: { name: "Tweet", obj: @tweet }

  = form_for [:admin, @tweet], url: { action: "create", controller: "tweets" } do |f|
    .row
      .col-md-6.offset-md-3
        .form-group.mb-4
          = f.label :kind, "Kind"
          = f.select :kind, [["Import tweet", "imported_tweet"], ["Send tweet", "app_tweet"]], { prompt: "Choose kind", required: true }, class: "form-control"

    .card.bg-light.collapse#kind-app_tweet{ class: (@tweet.kind == "app_tweet" ? "show in" : "") }
      .card-body
        .row
          .col-md-6
            .form-group.fancy-select.unfancy
              = f.label :twitter_account_id do
                Account
                %small.less-strong
                  will sent the original tweet
              = f.collection_select(:twitter_account_id, TwitterAccount.all, :id, :screen_name, { prompt: "Choose  " }, { class: "form-control" })
              .form-group.avatar-upload
                = f.label :image, 'Tweet photo', class: 'control-label'
                .avatar-img
                  .input-group
                    .custom-file
                    = f.label :image, "Tweet Image", class: "custom-file-label"
                    = f.file_field :image, class: "custom-file-input"
          .col-md-6
            .form-group#characterCounterField
              = f.label :body do
                Tweet
                %small.less-strong
                  Make sure the text is under the character count
              = f.text_area :body, rows: 4, class: "form-control"
              :javascript
                window.maxCharacterCount = #{TwitterTweeterIntegration::TWEET_LENGTH};
              %p.text-info.text-right{ style: "margin-top: -0.4rem; font-size: 150%;" }
                %span#characterTotal

        .form-group
          = f.submit 'Send tweet!', class: 'btn btn-success'

        .mt-4
          %strong
            Retweet:
          %small
            %a.btn.btn-outline-secondary.btn-sm.less-strong.ml-4#checkAll{ href: "#" }
              select all
            %a.btn.btn-outline-secondary.btn-sm.less-strong.ml-4#uncheckAll{ href: "#" }
              unselect
        .row#twitterAccountIds.mt-2
          - TwitterAccount.active.each do |twitter_account|
            .form-check
              %label
                = check_box_tag "twitter_account_ids[]", twitter_account.id, true, id: "#twitter_account_ids_#{twitter_account.id}", multiple: true
                = twitter_account.screen_name
        %em.small.less-strong
          Even if checked, original account won't retweet itself (so feel free to leave it checked)
    .card.bg-light.collapse#kind-imported_tweet{ class: (@tweet.kind == "imported_tweet" ? "show in" : "") }
      .card-body
        %p
          %strong Import a tweet
        %p
          %em
            This is primarily for adding a tweet to a landing page.
        %p
          Get the twitter ID from the URL of the tweet. It's the final number at the end of the url
        %p
          e.g. for <code>https://twitter.com/stolenbikereg/status/874644243737751553</code> - 874644243737751553
        .form-group
          = f.label :twitter_id, 'Twitter id'
          = f.text_field :twitter_id, class: "form-control"

        .mt-4
          = f.submit 'Create tweet!', class: 'btn btn-success'
