.form.form-horizontal
  = form_for [:admin, @organization, @invoice] do |f|
    - if @invoice.errors.any?
      = render partial: "/shared/errors", locals: { name: "Invoice", obj: @invoice }

    %section.full-screen-table
      %table.table.table-striped.table-bordered
        %thead
          %th.table-cell-check
            = link_to "&#x2713;".html_safe, "#" # make this select/deselect all
          %th
            Name
          %th
            Kind
          %th
            Amount
        %tbody
          - paid_feature_ids = @invoice.paid_feature_ids
          - @paid_features.each do |paid_feature|
            %tr
              %td
                = f.check_box "paid_feature_ids[#{paid_feature.id}]", checked: paid_feature_ids.include?(paid_feature.id)
              %td
                = link_to paid_feature.name, edit_admin_paid_feature_url(paid_feature)
              %td
                %small
                  = paid_feature.kind.humanize
              %td
                = paid_feature.amount_formatted
          %tr
            %td{ style: "border-top: 2px solid black;" }
            %td{ style: "border-top: 2px solid black;" }
            %td{ style: "text-align: right; border-top: 2px solid black;" }
              Upfront Features
              %span#upfrontCount
                X
            %td{ style: "border-top: 2px solid black;" }
              $<span id="upfrontCost">X</span>
          %tr
            %td
            %td
            %td{ style: "text-align: right;" }
              Recuring Features
              %span#recurringCount
                X
            %td
              $<span id="recurringCost">X</span>
          %tr
            %td
            %td
            %td{ style: "text-align: right;" }
              Discount
            %td
              $<span id="discountCost">X</span> 
          %tr
            %td
            %td
            %td{ style: "text-align: right;" }
              = f.label :amount_due, "Amount due $"
            %td
              = f.number_field :amount_due


    = f.submit "Save", class: 'button-green'