- render_sortable ||= false
- display_organization ||= false
- skip_discount_due ||= false

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm.sortable{ class: render_sortable ? "" : "table-sm" }
    %thead.thead-light
      %th
        - if render_sortable
          = sortable "id", "#"
        - else
          \#
      %th.small Active
      - if display_organization
        %th
          - if render_sortable
            = sortable "organization_id"
          - else
            Organization
      %th
        - if render_sortable
          = sortable "subscription_start_at", "Start"
        - else
          Start
      %th
        - if render_sortable
          = sortable "subscription_end_at", "End"
        - else
          End
      - unless skip_discount_due
        %th
          %small
            - if render_sortable
              = sortable "amount_due_cents", "$ Due"
            - else
              $&nbsp;Due
      %th
        - if render_sortable
          = sortable "amount_paid_cents", "$ Paid"
        - else
          $&nbsp;paid
      - unless skip_discount_due
        %th
          Discount
      %th
        Features
    %tbody
      - invoices.each do |invoice|
        - organization = Organization.unscoped.find_by_id(invoice.organization_id)
        - next if organization.blank?
        %tr
          %td
            - if organization.present?
              = link_to invoice.display_name.gsub(/invoice\s?/i, ""), edit_admin_organization_invoice_path(organization_id: organization.to_param, id: invoice.to_param)
          %td.small
            - if invoice.active?
              %small.text-success.d-block
                Active
            - if invoice.previous_invoice.present?
              %small.less-strong.d-block.mt-1
                Follows ##{invoice.previous_invoice.id}
          - if display_organization
            %td
              - if organization.present?
                = link_to organization.short_name, admin_organization_path(organization.to_param)
                = link_to search_emoji, admin_invoices_path(organization_id: organization.to_param)
                - unless invoice.organization.present?
                  %small.text-danger
                    organization is deleted!
          %td
            - if invoice.subscription_start_at.present?
              %span.convertTime
                = l invoice.subscription_start_at, format: :convert_time
          %td
            - if invoice.endless?
              %small.less-strong endless
            - elsif invoice.subscription_end_at.present?
              %span.convertTime{ class: invoice.subscription_end_at < Time.current ? "text-danger" : "" }
                = l invoice.subscription_end_at, format: :convert_time
          - unless skip_discount_due
            %td
              = invoice.amount_due_formatted
          %td
            %span{ class: invoice.paid_in_full? ? "text-success" : "" }
              = invoice.amount_paid_formatted
            - if invoice.payments.any?
              %ul.tw:list-disc.tw:pl-2
                - invoice.payments.each do |payment|
                  %li{ style: "font-size: 80%;" }
                    #{link_to "#{payment.amount_formatted} #{payment.payment_method}", admin_payment_path(payment)},
                    %span.convertTime
                      = l payment.created_at, format: :convert_time
          - unless skip_discount_due
            %td
              %span{ class: invoice.discount_cents > 0 ? "text-danger" : "" }
                = invoice.discount_formatted
          %td
            %ul.mt-1.mb-1.pl-3{ style: "font-size: 80%;" }
              - invoice.organization_features.each do |organization_feature|
                %li
                  = link_to organization_feature.name, edit_admin_organization_feature_path(organization_feature)
                  -# %em{ style: "font-size: 70%;" }
                  -#   = organization_feature.description

            %small
              = safe_join(invoice.feature_slugs.map { |slug| content_tag(:code, slug) }, ", ")
