%header.with-subtitle.padded
  %h1
    #{ link_to @organization.name, admin_organization_path(@organization) } Invoices
  = link_to "New Invoice", new_admin_organization_invoice_path(organization_id: @organization.to_param), class: "button-green sharing-links"

= render partial: "/admin/organizations/invoices/table", locals: { invoices: @organization.invoices }

%h2
  #{@organization.name} has #{pluralize(@organization.payments.count, "payment")}

%p.less-strong
  You can add invoices to payments by editing them. If you don't see a payment in this list, #{link_to "search the payments", admin_payments_path } and add it by editing it.

%section.full-screen-table
  %table.table.table-striped.table-bordered
    %thead
      %th
        Paid&nbsp;at
      %th
        User
      %th
        Invoice
      %th
        Kind
      %th
        Amount
    %tbody
      - @organization.payments.each do |payment|
        %tr
          %td
            %a.convertTime{ href: edit_admin_payment_path(payment) }
              = l payment.created_at, format: :convert_time
          %td
            - if payment.user_id.present?
              = link_to payment.user.display_name, edit_admin_user_path(payment.user)
            - elsif payment.email.present?
              = payment.email
              %small.less-strong
                no user
          %td
            - if payment.invoice_id.present?
              = link_to payment.invoice.display_name, edit_admin_organization_invoice_path(organization_id: @organization.to_param, id: payment.invoice.to_param)
              - if payment.invoice.subscription_start_at
                %small.convertTime
                  = l payment.invoice.subscription_start_at, format: :convert_time
          %td
            %small
              = payment.kind.humanize
          %td
            = payment.amount_formatted
