- render_sortable ||= false
- skip_user ||= false

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm.without-exterior-border#recordsTable
    %thead.small-header.hidden-md-down
      %th
        - if render_sortable
          = sortable "created_at"
        - else
          Created
      %th.small
        - if render_sortable
          = sortable "updated_at"
        - else
          Updated
      %th
        - if render_sortable
          = sortable "kind"
        - else
          Kind
      - unless skip_user
        %th
          - if render_sortable
            = sortable "user_id"
          - else
            User
      %th Delivered?
    %tbody
      - notifications.each do |notification|
        %tr
          %td
            %span.convertTime
              = l(notification.created_at, format: :convert_time)
          %td
            %small.convertTime
              = l(notification.updated_at, format: :convert_time)
          %td= notification.kind&.titleize
          - unless skip_user
            %td
              - if notification.user_id.present?
                - if notification.user.present?
                  = link_to notification.user.email, admin_user_path(notification.user_id)
                - else # Handle deleted users
                  - user = User.unscoped.find_by_id(notification.user_id)
                  - if user.present?
                    = link_to user.email, admin_user_path(notification.user_id)
                    %small.text-danger user deleted
                  - else
                    %small.text-danger missing user: #{notification.user_id}
                = link_to "notifications", url_for(sortable_search_params.merge(user_id: notification.user_id)), class: "small gray-link"
          %td
            - unless notification.delivered?
              = notification.delivered?
