- render_sortable ||= false
- skip_user ||= false
- skip_bike ||= false
- skip_channel ||= false
- skip_sender ||= false

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm.without-exterior-border#recordsTable
    %thead.small-header.hidden-md-down
      %th
        - if render_sortable
          = sortable "created_at"
        - else
          Created
      %th.small
        - if render_sortable
          = sortable "updated_at"
        - else
          Updated
      %th
        - if render_sortable
          = sortable "kind"
        - else
          Kind
      - unless skip_channel
        %th.small Method
      - unless skip_user
        %th
          - if render_sortable
            = sortable "user_id"
          - else
            User
      %th.small Delivered?
      - unless skip_bike
        %th
          - if render_sortable
            = sortable "bike_id"
          - else
            Bike
      %th Object
      - unless skip_sender
        %th Sender
    %tbody
      - notifications.each do |notification|
        %tr
          %td
            %span.convertTime
              = l(notification.created_at, format: :convert_time)
            - if display_dev_info?
              %code.small.only-dev-visible= notification.id
          %td
            %small.convertTime
              = l(notification.updated_at, format: :convert_time)
          %td= notification.kind&.titleize
          %td
            %small.less-strong= notification.message_channel
          - unless skip_user
            %td
              - if notification.user_id.present?
                - if notification.user.present?
                  = link_to notification.user.email, admin_user_path(notification.user_id)
                - else # Handle deleted users
                  - user = User.unscoped.find_by_id(notification.user_id)
                  - if user.present?
                    = link_to user.email, admin_user_path(notification.user_id)
                    %small.text-danger user deleted
                  - else
                    %small.text-danger missing user: #{notification.user_id}
                = link_to "notifications", url_for(sortable_search_params.merge(user_id: notification.user_id)), class: "small gray-link"
              - else
                = notification.calculated_email
          %td.text-center
            - if notification.delivered?
              %small.less-strong= check_mark
            - else
              %span.text-danger= notification.delivered?
          - unless skip_bike
            %td
              - if notification.bike_id.present?
                %small
                  = link_to admin_bike_path(notification.bike_id) do
                    - if notification.bike.present?
                      = organized_bike_text(notification.bike)
                    - else
                      \##{notification.bike_id}
          %td
            - if notification.notifiable.present?
              = link_to notification.notifiable_display_name, admin_path_for_object(notification.notifiable)
          %td
            - sender_display_name = notification.sender_display_name
            %span{class: (sender_display_name == "auto" ? "less-strong" : "")}
              = notification.sender_display_name

