.admin-subnav
  .col-md-5
    %h1
      Notifications
  .col-md-7
    %ul
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@kind != "all" ? "active" : "") }
          #{@kind.titleize} #{@kind == "all" ? "kinds" : "kind"}
        .dropdown-menu
          = link_to "All kinds", url_for(sortable_search_params.merge(search_kind: nil)), class: "dropdown-item #{@kind == 'all' ? 'active' : '' }"
          = link_to "Donation kinds", url_for(sortable_search_params.merge(search_kind: "donation")), class: "dropdown-item #{@kind == 'donation' ? 'active' : '' }"
          = link_to "Theft Alert kinds", url_for(sortable_search_params.merge(search_kind: "theft_alert")), class: "dropdown-item #{@kind == 'theft_alert' ? 'active' : '' }"
          = link_to "With bike", url_for(sortable_search_params.merge(search_kind: "with_bike")), class: "dropdown-item #{@kind == 'with_bike' ? 'active' : '' }"
          .dropdown-divider
          - Notification.kinds.each do |kind|
            = link_to "#{kind.humanize} kind", url_for(sortable_search_params.merge(search_kind: kind)), class: "dropdown-item #{@kind == kind ? 'active' : '' }"
      %li.nav-item
        = link_to "With bike", url_for(sortable_search_params.merge(search_with_bike: !@with_bike)), class: "nav-link #{@with_bike ? 'active' : ''}"
      %li.nav-item
        = link_to "graph", url_for(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"
  = render partial: "/shared/admin_current_header", locals: { viewing: "Notifications" }

- if @render_chart
  .col-12.mt-2
    = column_chart time_range_counts(collection: matching_notifications, column: @time_range_column), stacked: true, thousands: ",", defer: true

= render partial: "/shared/period_select"

.row.mb-4.mt-4
  .col-sm-6.col-lg-4.mt-4
    = number_with_delimiter(matching_notifications.count)
    = "matching Notification".pluralize(matching_notifications.count)
    %em
      = humanized_time_range_column(@time_range_column)
      = humanized_time_range(@time_range)
  .col-lg-4
    = paginate @notifications, views_prefix: "admin"

= render partial: "/admin/notifications/table", locals: { notifications: @notifications, render_sortable: true }
