<div
  class="related-fields"
  data-controller="legacy-form-well--address-record--component"
  data-legacy-form-well--address-record--component-us-id-value="<%= Country.united_states_id %>">
  <div class="form-group row unfancy">
    <label class="form-well-label"></label>
    <div class="form-well-input" id="us_id_data" data-usid="<%= Country.united_states_id %>">
      <%= @builder.select(:country_id, Country.select_options,
        {prompt: translation(".choose_country")},
        {class: "form-control", "data-legacy-form-well--address-record--component-target" => "country" })
      %>
    </div>
  </div>
  <% if !no_street? %>
    <div class="form-group row">
      <%= @builder.label :street, address_label, class: "form-well-label" %>
      <div class="form-well-input">
        <%= @builder.text_field :street, placeholder: street_placeholder, class: "form-control" %>
        <% if street_requires_below_helper? %>
          <span class="below-input-help text-warning">
            <%= translation(:your_full_address_is_required, org_name: @organization.short_name) %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="form-group row">
    <% if no_street? %>
      <%= @builder.label :city, address_label, class: "form-well-label" %>
    <% else %>
      <label class="form-well-label"></label>
    <% end %>
    <div class="form-well-input">
      <%= @builder.text_field :city, placeholder: translation(".city"), class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="form-well-label"></label>
    <div class="form-well-input">
      <%= @builder.collection_select(:region_record_id, State.united_states, :id, :name,
        {include_blank: true, prompt: translation(".state")},
        {class: "form-control #{initial_state_class}", "data-legacy-form-well--address-record--component-target" => "state" })
      %>
      <%= @builder.text_field(:region_string, placeholder: translation(".region"),
        class: "form-control #{initial_region_class}", "data-legacy-form-well--address-record--component-target" => "region")
      %>
    </div>
  </div>
  <div class="form-group row mb-4">
    <label class="form-well-label"></label>
    <div class="form-well-input">
      <%= @builder.text_field :postal_code, placeholder: translation(".postal_code"), class: "form-control" %>
    </div>
  </div>
</div>
