.admin-subnav
  .col-md-12
    %h1
      Sale

.row.mt-4
  .col-md-6
    %table.table-list
      %tbody
        - if display_dev_info?
          %tr
            %td.only-dev-visible ID
            %td
              %code= @sale.id
        %tr
          %td Seller
          %td
            = render Admin::UserCell::Component.new(user: @sale.seller, user_id: @sale.seller_id)
        %tr
          %td Buyer
          %td
            - if @sale.buyer.present?
              = render Admin::UserCell::Component.new(user: @sale.buyer, user_id: @sale.buyer&.id)
            - else
              %span.less-strong= @sale.new_owner_email
        %tr
          %td Amount
          %td
            - if @sale.amount_cents.present?
              = "#{@sale.currency_symbol}#{number_display(@sale.amount)}"
            - else
              %span.less-strong not set
        %tr
          %td Sold via
          %td= @sale.sold_via&.humanize
        %tr.small
          %td Sold at
          %td
            %span.convertTime.preciseTime
              = l @sale.sold_at, format: :convert_time
        %tr.small
          %td Created
          %td
            %span.convertTime.preciseTime
              = l @sale.created_at, format: :convert_time

  .col-md-6
    %table.table-list
      %tbody
        %tr
          %td Item
          %td
            - if @sale.item.is_a?(Bike)
              = render Admin::BikeCell::Component.new(bike: @sale.item, bike_id: @sale.item_id)
            - elsif @sale.item.is_a?(BikeVersion)
              BikeVersion
              = link_to @sale.item_id, bike_version_path(@sale.item_id)
              %small (bike: #{link_to @sale.item.bike_id, admin_bike_path(@sale.item.bike_id)})
        %tr
          %td Ownership
          %td
            - if @sale.ownership.present?
              = link_to @sale.ownership_id, admin_ownership_path(@sale.ownership_id)
              %small (bike: #{link_to @sale.ownership.bike_id, admin_bike_path(@sale.ownership.bike_id)})
        - if @marketplace_listing.present?
          %tr
            %td Marketplace Listing
            %td
              = link_to @marketplace_listing.id, admin_marketplace_messages_path(search_marketplace_listing_id: @marketplace_listing.id)
              %span{class: @marketplace_listing.sold? ? "text-success" : "text-info"}
                = @marketplace_listing.status_humanized
        - if @sale.marketplace_message.present?
          %tr
            %td Marketplace Message
            %td
              = link_to @sale.marketplace_message_id, admin_marketplace_message_path(@sale.marketplace_message_id)
        %tr
          %td New Ownership
          %td
            - if @sale.new_ownership.present?
              = link_to @sale.new_ownership.id, admin_ownership_path(@sale.new_ownership.id)
            - else
              %span.less-strong pending
