%h1
  = t(".edit_membership_for")
  %em
    - if @user.name.present?
      = @user.name
    - else
      = @user.email

%p
  - date = @user.created_at.strftime("%-m/%-d/%Y")
  = t(".joined_bike_index_date", date: date)

%section.full-screen-table.padded
  %p= t(".bikes_indexed_for_org_html", org_name: @membership.organization.name, user: @user.name.presence || @user.email)

  %table#org-bikes-table.table.table-striped.table-bordered
    %thead
      %th
        = t(".date_indexed")
      %th.medium-screens
        = t(".sent_to")
      %th
        = t(".manufacturer")
      %th.large-screens
        = t(".color")
        &nbsp;&nbsp;

    %tbody
      - @bikes.each do |bike|
        %tr
          %td
            - if bike.created_at.today?
              %span.hidden= bike.created_at.strftime("%-m.%-d.%Y %-H.%M")
              = t(".today_at_timestamp", timestamp: bike.created_at.strftime("%-I %p"))
            - elsif Date.yesterday.beginning_of_day <= bike.created_at
              %span.hidden= bike.created_at.strftime("%-m.%-d.%Y %-H.%M")
              = t(".yesterday_at_timestmap", timestmap: bike.created_at.strftime("%-I %p"))
            - else
              %span.hidden= bike.created_at.strftime("%-m.%-d.%Y %-H.%M")
              = bike.created_at.strftime("%-m/%-d/%Y")
              = t(".at")
              = bike.created_at.strftime("%-I %p")
          %td.medium-screens
            = bike.owner_email
          %td
            = bike.mnfg_name
          %td.large-screens
            = bike.primary_frame_color.name


%section.padded
  .well.span6.centered-form-well
    %h3
      = t(".edit")
      = @user.email

    .form.form-horizontal.padded
      = form_for @membership do |f|

        .control-group
          = f.label :role, class: "control-label"
          .controls.radio-controls
            %label.radio
              = f.radio_button :role, "admin"
              = t(".admin_of_organization")
            %label.radio
              = f.radio_button :role, "member"
              = t(".member_of_organization")

        .membership-actions.clearfix
          = f.submit t(".update_role"), class: 'button-green'
          = link_to t(".delete_member"),
            membership_url(@membership),
            method: :delete,
            data: { confirm: t(".are_you_sure_you_want_to_remove_user", user_email: @user.email) },
            class: "button-red"
