.sign-in-up{ class: (sign_in_partner.present? ? "with-partner" : "not-partner") }
  - unless sign_in_partner.present?
    .sign-in-up-header.container
      .row
        %h1= t(".get_on_bike_index")
  .container
    .sign-in-up-wrap
      .row
        .main-form
          - company = session[:company] if sign_in_partner.present? && session[:company].present?
          %h3.sign-in-up-main-form-header{ class: (company.present? ? "mb-1" : "") }
            %small
              - if sign_in_partner.present?
                = t(".no_bike_index_account")
              - else
                = t(".dont_have_an_account")
              = link_to t(".sign_up"), new_user_path(partner: sign_in_partner, email: params[:email])
            - if company.present?
              - image_path = company.match?(/metro/i) ? "bikehub/metro_logo.png" : "bikehub/bikehub_logo_nosubtitle.png"
              = image_tag image_path, alt: "", class: "company-logo"
              = t(".log_in")
              %span.company-text.uncap
                for
                %em= company
            - else
              = t(".log_in")

          = form_for :session, url: identify_session_path(params.permit(:return_to)) do |f|
            - if sign_in_partner
              = hidden_field_tag :partner, sign_in_partner

            .form-group
              = f.label :email, class: 'sr-only'
              = f.email_field :email,
              value: params[:email],
              placeholder: t(".email"),
              autocomplete: "username",
              required: true,
              autofocus: true,
              class: 'form-control'

            = f.submit t(".continue"), class: 'btn btn-primary btn-lg'
