%h3#never-block
  Never lose track of your trusty steed
.span8.photo-animation
  #photos-flip 
    / cache('new_session_pictures') do
    - PublicImage.unscoped.order("created_at desc").limit(18).each_with_index do |photo, i|
      .bike-photo{id: "photo#{i}"}
        .flipper
          .front
          %a.front-behind{ href: bike_url(photo.imageable) }
            %span.back-colored
              %span
                #{photo.imageable.manufacturer_name},
              %span
                #{photo.imageable.primary_frame_color.name}
          .back
            %span.img-location
              = photo.image_url(:small)
.span4.signinup-form
  .well
    %h3
      Log in!
    = render :partial => "sessions/form"