
= form_for [:admin, @manufacturer] do |f|
  = render(AlertForErrors::Component.new(object: @manufacturer))

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
    - if @manufacturer.id.present?
      %small.below-input-help
        %span.less-strong Secondary name (name in parentheses):
        = @manufacturer.secondary_name.present? ? @manufacturer.secondary_name : nil

  .form-group
    = f.label :website
    = f.text_field :website, class: "form-control"

  .form-group
    = f.label :twitter_name, "Twitter handle"
    = f.text_field :twitter_name, class: "form-control"

  .form-group
    = f.label :open_year
    = f.text_field :open_year, class: "form-control"

  .form-group
    = f.label :close_year
    = f.text_field :close_year, class: "form-control"

  .form-group
    = f.label :frame_maker
    = f.check_box :frame_maker

  .form-group
    = f.label :motorized_only
    = f.check_box :motorized_only

  .form-group
    = f.label :logo
    - if @manufacturer.logo?
      = image_tag(@manufacturer.logo_url(:thumb))
    - else
      %p
        No logo!
    = f.file_field :logo, accept: ImageUploader.permitted_extensions.join(",")
    = f.hidden_field :logo_cache

  .form-group
    = f.label :description
    = f.text_area :description, rows: 7, class: "form-control"

  = f.submit "Submit", class: 'btn btn-success mb-4'

