
= form_for [:admin, @manufacturer] do |f|
  - if @manufacturer.errors.any?
    = render partial: "/shared/errors", locals: { name: "Payment", obj: @manufacturer }

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"

  .form-group
    = f.label :website
    = f.text_field :website, class: "form-control"


  .form-group
    = f.label :open_year
    = f.text_field :open_year, class: "form-control"

  .form-group
    = f.label :close_year
    = f.text_field :close_year, class: "form-control"

  .form-group
    = f.label :frame_maker
    = f.check_box :frame_maker

  .form-group
    = f.label :logo
    - if @manufacturer.logo?
      = image_tag(@manufacturer.logo_url(:thumb))
    - else
      %p
        No logo!
    = f.file_field :logo
    = f.hidden_field :logo_cache

  .form-group
    = f.label :description
    = f.text_area :description, rows: 7, class: "form-control"

  = f.submit "Submit", class: 'btn btn-success mb-4'
sdd
