<% nav_header_list_items = capture do %>
  <li class="nav-item">
    <%= link_to "New Manufacturer", new_admin_manufacturer_url, class: "nav-link" %>
  </li>
<% end %>

<% table_view = capture do %>
  <div class="col-12 mt-4">
    <% if sortable_search_params? %>
      <% if @with_websites %>
        <p>
          Manufacturers with <strong>websites</strong>
          <%= link_to "view with and without websites", url_for(sortable_search_params.merge(search_with_websites: nil)), class: "gray-link small" %>
        </p>
      <% end %>
      <% if @with_logos %>
        <p>
          Manufacturers with <strong>with logos</strong>
          <%= link_to "view with and without logos", url_for(sortable_search_params.merge(search_with_logos: nil)), class: "gray-link small" %>
        </p>
      <% end %>
      <h4 class="mt-4">
        <%= number_display(@manufacturers.count) %> matching manufacturers
      </h4>
    <% else %>
      <h4>
        <%= number_display(@manufacturers.count) %> total,
        <span class="less-strong"><%= number_display(Manufacturer.with_websites.count) %> with <%= link_to "websites", url_for(sortable_search_params.merge(search_with_websites: !@with_websites)) %>, <%= number_display(Manufacturer.with_logos.count) %> with <%= link_to "logos", url_for(sortable_search_params.merge(search_with_logos: !@with_logos)) %>.</span>
      </h4>
    <% end %>
  </div>

  <%= render partial: "/admin/manufacturers/table", locals: {collection: @manufacturers, render_sortable: true} %>

  <%= form_tag import_admin_manufacturers_path, multipart: true do %>
    <div class="form-group">
      <%= label :csv, "Upload CSV of Manufacturers list" %>
      <%= file_field_tag :file %>
    </div>

    <%= submit_tag "Import CSV of Manufacturers", class: "btn btn-warning float-right mb-4" %>
  <% end %>
<% end %>

<%= render(Admin::IndexSkeleton::Component.new(
  collection: @manufacturers,
  viewing: "Manufacturers",
  nav_header_list_items:,
  table_view:,
  skip_charting: true
)) %>
