.admin-subnav
  .col-md-5
    %h1
      Manage manufacturers
  .col-md-7
    %ul
      %li.nav-item
        = link_to 'New Manufacturer', new_admin_manufacturer_url, class: "nav-link"

  .col-12.mt-4
    %h4
      #{number_with_delimiter(@manufacturers.count)} total,
      %span.less-strong
        #{number_with_delimiter(Manufacturer.with_websites.count)} with websites,
        #{number_with_delimiter(Manufacturer.with_logos.count)} with logos.

.full-screen-table.mt-4
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light.sortable
      %th
        = sortable "name"
      %th
        = sortable "frame_maker", "frame"
      %th
        Website
      %th
        = sortable "created_at"
    %tbody
      - @manufacturers.each do |manufacturer|
        %tr
          %td
            = link_to manufacturer.name, admin_manufacturer_url(manufacturer)
          %td.table-cell-check
            = "&#x2713;".html_safe if manufacturer.frame_maker
          %td
            - if manufacturer.website
              = link_to "Company website", manufacturer.website
          %td
            %span.convertTime
              = l manufacturer.created_at, format: :convert_time


= form_tag import_admin_manufacturers_path, multipart: true do
  .form-group
    = label :csv, "Upload CSV of Manufacturers list"
    = file_field_tag :file
  = submit_tag "Import CSV of Manufacturers", class: "btn btn-warning float-right mb-4"
