.admin-subnav
  .col-md-5
    %h1
      Manage manufacturers
  .col-md-7
    %ul
      %li.nav-item
        = link_to 'New Manufacturer', new_admin_manufacturer_url, class: "nav-link"

  = render partial: "/shared/admin/current_header", locals: {viewing: "Manufacturers"}

  .col-12.mt-4
    - if sortable_search_params?
      - if @with_websites
        %p
          Manufacturers with
          %strong websites
          = link_to "view with and without websites", url_for(sortable_search_params.merge(search_with_websites: nil)), class: "gray-link small"
      - if @with_logos
        %p
          Manufacturers with
          %strong with logos
          = link_to "view with and without logos", url_for(sortable_search_params.merge(search_with_logos: nil)), class: "gray-link small"
      %h4.mt-4
        #{admin_number_display(@manufacturers.count)} matching manufacturers

    - else
      %h4
        #{admin_number_display(@manufacturers.count)} total,
        %span.less-strong
          #{admin_number_display(Manufacturer.with_websites.count)} with #{link_to "websites", url_for(sortable_search_params.merge(search_with_websites: !@with_websites))},
          #{admin_number_display(Manufacturer.with_logos.count)} with #{link_to "logos", url_for(sortable_search_params.merge(search_with_logos: !@with_logos))}.

.full-screen-table.mt-4
  %table.table.table-striped.table-bordered.table-sm
    %thead.sortable
      %th
        = sortable "name"
      %th
        = sortable "frame_maker", "frame"
      %th
        = sortable "motorized_only", "motorized"
      %th
        Website
      %th
        = sortable "created_at"
      - if display_dev_info?
        %th.small.only-dev-visible
          = sortable "priority"
    %tbody
      - @manufacturers.each do |manufacturer|
        %tr
          %td
            = link_to manufacturer.name, admin_manufacturer_url(manufacturer)
          %td.table-cell-check
            = check_mark if manufacturer.frame_maker
          %td.table-cell-check
            = check_mark if manufacturer.motorized_only
          %td
            - if manufacturer.website
              = link_to "Company website", manufacturer.website
          %td
            %span.convertTime
              = l manufacturer.created_at, format: :convert_time
          - if display_dev_info?
            %td
              = admin_number_display(manufacturer.priority)


= form_tag import_admin_manufacturers_path, multipart: true do
  .form-group
    = label :csv, "Upload CSV of Manufacturers list"
    = file_field_tag :file
  = submit_tag "Import CSV of Manufacturers", class: "btn btn-warning float-right mb-4"
