
%h1 Manage Manufacturers
= link_to 'New Manufacturer', new_admin_manufacturer_url, class: "btn btn-success float-right"

%h4
  #{@manufacturers.count} total,
  %span.less-strong
    #{Manufacturer.with_websites.count} with websites,
    #{Manufacturer.with_logos.count} with logos.

.full-screen-table-wrapper.mt-4
  %table.table.table-striped.table-bordered
    %thead.thead-light
      %th
        Name
      %th
        Frames
      %th
        Website
      %th
        Added
    %tbody
      - @manufacturers.each do |manufacturer|
        %tr
          %td
            = link_to manufacturer.name, admin_manufacturer_url(manufacturer)
          %td.table-cell-check
            = "&#x2713;".html_safe if manufacturer.frame_maker
          %td
            - if manufacturer.website
              = link_to "Company website", manufacturer.website
          %td
            %span.convertTime
              = l manufacturer.created_at, format: :convert_time


= form_tag import_admin_manufacturers_path, multipart: true do
  .form-group
    = label :csv, "Upload CSV of Manufacturers list"
    = file_field_tag :file
  = submit_tag "Import CSV of Manufacturers", class: "btn btn-warning float-right mb-4"
