%h1
  = @manufacturer.name

%hr
.row
  .col-6
    %table.table-list
      %tbody
        %tr
          %td
            ID
          %td
            = @manufacturer.id
        %tr
          %td
            Slug
          %td
            = @manufacturer.slug
        %tr
          %td
            Open Year
          %td
            = @manufacturer.open_year
        %tr
          %td
            Close Year
          %td
            = @manufacturer.close_year
        - if @manufacturer.website.present?
          %tr
            %td
              Manufacturer website
            %td
              = link_to @manufacturer.website, @manufacturer.website
        %tr
          %td
            Description
          %td
            = @manufacturer.description
        %tr
          %td
            Bikes
          %td
            %a{ href: admin_bikes_path(search_manufacturer_id: @manufacturer.slug) }
              = @manufacturer.bikes.count
              %small
                view
        %tr
          %td
            Components
          %td
            = @manufacturer.components.count
        %tr
          %td
            Logo
          %td
            = link_to image_tag(@manufacturer.logo.url(:thumb)), @manufacturer.logo_url
        %tr
          %td
            Frame Maker?
          %td.table-cell-check
            - if @manufacturer.frame_maker
              &#x2713
  .col-6
    = link_to "Edit", edit_admin_manufacturer_url(@manufacturer), class: "btn btn-success"
    = link_to "Delete", admin_manufacturer_url(@manufacturer), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
