%h1
  = @manufacturer.name

%hr
.row
  .col-6
    %table.table-list
      %tbody
        %tr
          %td
            ID
          %td
            = @manufacturer.id
        %tr
          %td
            Created
          %td
            %span.convertTime.preciseTime
              = l @manufacturer.created_at, format: :convert_time
        %tr
          %td
            Slug
          %td
            = @manufacturer.slug
        %tr
          %td
            Open Year
          %td
            = @manufacturer.open_year
        %tr
          %td
            Close Year
          %td
            = @manufacturer.close_year
        %tr
          %td
            Manufacturer website
          %td
            - if @manufacturer.website.present?
              = link_to @manufacturer.website, @manufacturer.website
        %tr
          %td
            Twitter
          %td
            - if @manufacturer.twitter_name.present?
              = link_to "#{@manufacturer.twitter_name}", "https://twitter.com/#{@manufacturer.twitter_name}"
        %tr
          %td
            Description
          %td
            = @manufacturer.description
        %tr
          %td
            Bikes
          %td
            = admin_number_display(@manufacturer.bikes.count)
            %a{ href: admin_bikes_path(search_manufacturer_id: @manufacturer.slug) }
              view
        %tr
          %td
            Components
          %td
            = @manufacturer.components.count
        %tr
          %td
            Logo
          %td
            = link_to image_tag(@manufacturer.logo.url(:thumb)), @manufacturer.logo_url
        %tr
          %td
            Frame Maker?
          %td.table-cell-check
            - if @manufacturer.frame_maker
              &#x2713
  .col-6
    = link_to "Edit", edit_admin_manufacturer_url(@manufacturer), class: "btn btn-success"
    = link_to "Delete", admin_manufacturer_url(@manufacturer), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
