.admin-subnav
  .col-md-12
    %h1
      = @manufacturer.name
      %small.less-strong
        %small simple:

        = @manufacturer.short_name

.row
  .col-6
    %table.table-list
      %tbody
        %tr
          %td
            ID
          %td
            = @manufacturer.id
        %tr
          %td
            Created
          %td
            %span.convertTime.preciseTime
              = l @manufacturer.created_at, format: :convert_time
        - if display_dev_info?
          %tr
            %td.only-dev-visible
              Updated
            %td
              %span.convertTime.preciseTime
                = l @manufacturer.updated_at, format: :convert_time
        %tr
          %td
            Slug
          %td
            = @manufacturer.slug
            %small
              %span.less-strong.ml-1 secondary:
              = @manufacturer.secondary_slug
        %tr
          %td
            Frame Maker?
          %td
            = check_mark if @manufacturer.frame_maker
        %tr
          %td
            Motorized only?
          %td
            = check_mark if @manufacturer.motorized_only
        %tr
          %td
            Bikes
          %td
            = admin_number_display(@manufacturer.bikes.count)
            %a{ href: admin_bikes_path(search_manufacturer: @manufacturer.slug) }
              view
        %tr
          %td
            Components
          %td
            = @manufacturer.components.count
  .col-6
    %table.table-list
      %tbody
        - if display_dev_info?
          %tr
            %td.only-dev-visible
              Autocomplete priority
            %td
              = @manufacturer.priority
        %tr
          %td
            Official Org
          %td
            - if @manufacturer.official_organization.present?
              = link_to @manufacturer.official_organization.name, admin_organization_path(@manufacturer.official_organization.to_param)
        %tr
          %td
            Open Year
          %td
            = @manufacturer.open_year
        %tr
          %td
            Close Year
          %td
            = @manufacturer.close_year
        %tr
          %td
            Website
          %td
            - if @manufacturer.website.present?
              = link_to @manufacturer.website, @manufacturer.website
        %tr
          %td
            Twitter
          %td
            - if @manufacturer.twitter_name.present?
              = link_to "#{@manufacturer.twitter_name}", "https://twitter.com/#{@manufacturer.twitter_name}"
        %tr
          %td
            Description
          %td
            = @manufacturer.description
        %tr
          %td
            Logo
          %td
            = link_to image_tag(@manufacturer.logo.url(:thumb)), @manufacturer.logo_url
  .col-6
    = link_to "Edit", edit_admin_manufacturer_url(@manufacturer), class: "btn btn-success"
    = link_to "Delete", admin_manufacturer_url(@manufacturer), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
