= form_for [:admin, @recovery_display] do |f|
  - if @recovery_display.errors.any?
    = render partial: "/shared/errors", locals: { name: "Recovery Display", obj: @recovery_display }
  - if @recovery_display.stolen_record_id.present?
    = f.hidden_field :stolen_record_id, value: @recovery_display.stolen_record_id
  .card.mb-4.bg-light
    .card-body
      .row
        .col-lg-6
          .form-group
            = f.label :quote_by
            = f.text_field :quote_by, class: "form-control"
        .col-lg-6
          .form-group
            = f.label :link
            = f.text_field :link, class: "form-control"
      .row
        .col-lg-6
          .form-group
            = f.label :date_recovered
            - f.object.date_recovered ||= Time.now
            = f.datetime_local_field :date_recovered, max: Time.now + 1.day, step: 60, required: true, class: 'form-control dateInputUpdateZone', "data-initialtime" => l(f.object.date_recovered, format: :convert_time)
        .col-lg-6
          - if @bike.present?
            .form-group
              %label
                Bike url
              %input.less-strong.w-100{ type: 'text', value: bike_url(@recovery_display.bike) }
        .col-lg-6
          #recovery-photo-upload-input
            .form-group.mt-4
            = f.label :image, "Recovery photo"
            - if @recovery_display.image?
              = image_tag(@recovery_display.image_url(:thumb))
            - else
              %p
                No picture!
            .input-group.mb-3
              .custom-file
                = f.label :image, "Choose file", class: "custom-file-label"
                = f.file_field :image, class: "custom-file-input"
          .form-group.avatar-upload
            .avatar-img
              - if @bike.present? && @recovery_display.image.blank?
                - if @bike.public_images.present? || @bike.stock_photo_url.present?
                  - if @bike.public_images.present?
                    - text = "has image"
                    - url = @bike.public_images.first.image_url
                  - else
                    - text = "has stock image"
                    - url = @bike.stock_photo_url
                  %label
                    #{link_to "Bike", bike_url(@bike), target: "_blank"} #{text}
                  %a.btn.btn-success#use_image_for_display{ href: '#', data: {url: url}}
                    Use first image
                - else
                  Bike has no image
      - if @recovery_display.image.present?
        .row.mb-4.mt-4
          .col-lg-6
            .form-check
              = f.check_box :remove_image, class: "form-check-input"
              = f.label :remove_image, class: "form-check-label"
      .row
        .col-lg-6
          .form-group
            = f.label :body
            = f.text_area :quote, placeholder: 'Quote about recovery', rows: 4, class: "form-control"
      = f.hidden_field :remote_image_url
      = f.submit 'Save', class: 'btn btn-success float-right'
