- if @bike.present?
  = render partial: "/admin/bikes/bike_tabs", locals: {bike: @bike, active_tab: "recovery_displays", display_recovery: true}
  %h1.mt-5.mb-4 Recovery displays

- else
  - nav_header_list_items = capture_haml do
    %li.nav-item
      = link_to "New recovery display", new_admin_recovery_display_url, class: "nav-link btn btn-outline-success"
    %li.nav-item
      = link_to "bust cache", admin_recovery_display_path("bust_cache"), class: "nav-link less-strong"

  = render_admin_index_skeleton(chart_collection: @render_chart && matching_recovery_displays, nav_header_list_items:, time_range_column: "recovery_displays.#{@time_range_column}", collection: @recovery_displays)

