
= form_for [:admin, @membership] do |f|
  - if @membership.errors.any?
    = render partial: "/shared/errors", locals: { name: "Payment", obj: @membership }
  %h3
    User membership
  .form-group
    = f.label :organization
    = collection_select( :membership, :organization_id, @organizations, :id, :name, {include_blank: "Please select an organization"},:required =>true,  class: "form-control w-25" )


  .form-group
    = f.label :email
    = f.text_field :invited_email, class: "form-control w-25"

  .form-group
    = f.label :role, "Role: "
    %label
      = f.radio_button :role, "admin"
      Admin of organization
    %label
      = f.radio_button :role, "member"
      Member of organization




  = f.submit 'Save', class: 'btn btn-success'
