.card
  .card-body
    = form_for [:admin, @membership] do |f|
      - if @membership.errors.any?
        = render partial: "/shared/errors", locals: { name: "OrganizationRole", obj: @membership }

      - if @membership.id.blank?
        .form-group
          = f.label :user_email
          = f.email_field :user_email, required: true, class: "form-control"

      .form-group
        = f.label :start_at
        = f.hidden_field :timezone, value: "", class: "hiddenFieldTimezone"
        = f.datetime_local_field :start_at, step: 60, class: "form-control"

      .form-group
        = f.label :end_at
        = f.datetime_local_field :end_at, step: 60, class: "form-control"
        %small.below-input-help
          %em leave blank if there shouldn't be an explicit end

      .form-group
        %label
          Membership Kind
        - Membership.kinds.keys.each do |kind|
          .form-check
            %label
              = f.radio_button :kind, kind, class: "form-check-input"
              = kind.humanize

      .form-group.mt-4
        = f.submit 'Save', class: 'btn btn-success'

      .form-group.mt-4
        = f.label :notes do
          Admin notes
          %small.less-strong not shown to user
        = f.text_area :notes, class: "form-control"
