
%h1 Manage Memberships
= link_to 'New Membership', new_admin_membership_url, class: "btn btn-success float-right"

%h2
  = @memberships.count
  Current memberships

= paginate @memberships, views_prefix: 'admin'

= render partial: "/admin/memberships/table", locals: { memberships: @memberships }

= paginate @memberships, views_prefix: 'admin'
