- memberships ||= @memberships
- skip_organization ||= false
- render_sortable ||= false

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th
        = sortable "created_at", render_sortable: render_sortable
      %th
        = sortable "invited_email", "recipient", render_sortable: render_sortable
      - unless skip_organization
        %th
          = sortable "organization_id", render_sortable: render_sortable
      %th
        = sortable "claimed_at", render_sortable: render_sortable
      %th
        %small
          = sortable "sender_id", "Sender", render_sortable: render_sortable
      %th
        %small
          = sortable "role", "Admin?", render_sortable: render_sortable

    %tbody
      - memberships.each do |membership|
        %tr
          %td
            .less-strong-hold
              %a.convertTime{ href: admin_membership_url(membership) }
                = l membership.created_at, format: :convert_time
              %span.less-strong-right.d-none.d-md-block
                = membership.id
          %td
            - if membership.user.present?
              = link_to membership.invited_email || membership.user.display_name,
                admin_user_path(membership.user.to_param)
            - else
              = membership.invited_email
          - unless skip_organization
            %td
              = link_to membership.organization.name, admin_organization_path(membership.organization)
          %td
            - if membership.claimed_at.present?
              %span.convertTime
                = l membership.claimed_at, format: :convert_time
          %td
            - if membership.sender.present?
              = link_to membership.sender.display_name, admin_user_path(membership.sender_id)
            - else
              = membership.sender_id
          %td
            = check_mark if membership.admin?
