.admin-subnav
  .col-md-5
    %h1
      Manage Memberships
  .col-md-7
    %ul
      %li.nav-item
        = link_to "New Membership", new_admin_membership_url(organization_id: current_organization&.to_param), class: "nav-link"

%h4
  = number_with_delimiter @memberships.total_count
  matching
  = "membership".pluralize(@memberships.total_count)
- if current_organization.present?
  %p.mt-2
    Viewing #{link_to current_organization.name, admin_organization_path(current_organization)} Memberships
    %small
      = link_to "view orgs view", organization_users_path(organization_id: current_organization.to_param), class: "less-strong"

.mt-4
  = paginate @memberships, views_prefix: 'admin'

= render partial: "/admin/memberships/table", locals: { memberships: @memberships, render_sortable: true }

= paginate @memberships, views_prefix: 'admin'
