- nav_header_list_items = capture_haml do
  %li.nav-item
    = link_to "Active", url_for(sortable_search_params.merge(search_activeness: "active")), class: "nav-link #{(@activeness == 'active') ? 'active' : ''}"
  %li.nav-item
    = link_to "not active", url_for(sortable_search_params.merge(search_activeness: "not_active")), class: "nav-link #{(@activeness == 'not_active') ? 'active' : ''}"
  %li.nav-item
    = link_to "New Membership", new_admin_membership_url, class: "nav-link"

- table_view = render partial: "/admin/memberships/table", locals: {memberships: @collection, render_sortable: true}

= render partial: "/shared/admin/index_skeleton", locals: {nav_header_list_items:, table_view:, chart_collection: @render_chart && matching_memberships}


