- nav_header_list_items = capture_haml do
  %li.nav-item.dropdown
    %a.nav-link.dropdown-toggle{href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@status.present? ? "active" : "")}
      - if @status.blank?
        All statuses
      - else
        #{@status.titleize} only
    .dropdown-menu
      = link_to "All statuses", url_for(sortable_search_params.merge(search_status: nil)), class: "dropdown-item #{@status.present? ? '' : 'active'}"
      .dropdown-divider
      - searchable_statuses.each do |kind|
        = link_to "#{kind.titleize} only", url_for(sortable_search_params.merge(search_status: kind)), class: "dropdown-item #{@status == kind ? 'active' : ''}"
  %li.nav-item.dropdown
    %a.nav-link.dropdown-toggle{href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@level.present? ? "active" : "")}
      - if @level.blank?
        All levels
      - else
        #{@level.titleize} only
    .dropdown-menu
      = link_to "All levels", url_for(sortable_search_params.merge(search_level: nil)), class: "dropdown-item #{@level.present? ? '' : 'active'}"
      .dropdown-divider
      - searchable_levels.each do |kind|
        = link_to "#{kind.titleize} only", url_for(sortable_search_params.merge(search_level: kind)), class: "dropdown-item #{@level == kind ? 'active' : ''}"
  %li.nav-item.dropdown
    %a.nav-link.dropdown-toggle{href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@manager.present? ? "active" : "")}
      - if @manager.blank?
        Stripe & admin
      - else
        #{@manager.titleize} only
    .dropdown-menu
      = link_to "Stripe & admin", url_for(sortable_search_params.merge(search_manager: nil)), class: "dropdown-item #{@manager.present? ? '' : 'active'}"
      .dropdown-divider
      - searchable_managers.each do |kind|
        = link_to "#{kind.titleize} only", url_for(sortable_search_params.merge(search_manager: kind)), class: "dropdown-item #{@manager == kind ? 'active' : ''}"
  %li.nav-item
    = link_to "New Membership", new_admin_membership_url, class: "nav-link"

- table_view = render partial: "/admin/memberships/table", locals: {memberships: @collection, render_sortable: true}

= render(Admin::IndexSkeleton::Component.new(nav_header_list_items:, table_view:, chart_collection: @render_chart && matching_memberships))


