.admin-subnav
  .col-md-5
    %h1
      Manage Memberships
  .col-md-7
    %ul
      %li.nav-item
        = link_to "New Membership", new_admin_membership_url, class: "nav-link"

%h2
  = @memberships.count
  Current memberships

= paginate @memberships, views_prefix: 'admin'

= render partial: "/admin/memberships/table", locals: { memberships: @memberships }

= paginate @memberships, views_prefix: 'admin'
