%header.with-subtitle
  %h1 Manage Memberships
  = link_to 'New Membership', new_admin_membership_url, class: "button-green sharing-links"

%section.full-screen-table
  %h2
    = @memberships.count
    Current memberships
  %table#admin-users-table.table.table-striped.table-bordered
    %thead
      %th
        Id&nbsp;
      %th.medium-screens
        Created&nbsp;<small class="convertTimezone"></small>
      %th
        Email
      %th
        Organization
      %th.large-screens
        Management links
    %tbody
      - @memberships.each do |membership|
        %tr
          %td
            = link_to membership.id, admin_membership_url(membership)
          %td.medium-screens
            %span.convertTime
              = l membership.created_at, format: :convert_time
          %td
            = membership.user.email
          %td
            = link_to membership.organization.name, admin_organization_path(membership.organization)
          %td.large-screens
            #{link_to 'Edit', edit_admin_membership_url(membership)}