.row
  .col-md-6
    %table.table-list
      %tr
        %td
          Account
        %td
          = @social_post.poster
      %tr
        %td
          Post ID
        %td
          %code= @social_post.platform_id
      %tr
        %td
          Created
        %td
          %span.convertTime
            = l @social_post.created_at, format: :convert_time
      - if @social_post.stolen_record_id.present?
        %tr
          %td
            Bike
          %td
            - link_text = @social_post.bike.title_string if @social_post.bike.present?
            - link_text ||= @social_post.stolen_record.id
            = link_to link_text, admin_stolen_bike_path(@social_post.stolen_record_id, stolen_record_id: true) if @social_post.stolen_record.present?
  .col-md-6
    %table.table-list
      %tr
        %td
          Text
        %td
          = @social_post.posted_text
      %tr
        %td
          Image
        %td
          - if @social_post.posted_image.present?
            = image_tag @social_post.posted_image, style: "display: block; max-height: 200px; width: auto;"
      %tr
        %td
          Kind
        %td
          - if @social_post.kind.present?
            = @social_post.kind.gsub(/_?post/, "").humanize

- if @social_post.imported_post?
  %h3 Landing page rendering
  .landing-why-col.clearfix
    = render partial: 'landing_pages/social_post', locals: { post_id: @social_post.id }

- if @social_post.reposts.any?
  %h3.mt-4 Reposts
  = render partial: "admin/social_posts/table", locals: { social_posts: @social_post.reposts, skip_reposts: true }

%hr.mt-4

%h3 Platform Response Data
= pretty_print_json(@social_post.platform_response)
