.admin-subnav
  .col-12.text-right
    = link_to @social_post.post_link.gsub(/https?..\//, ''), @social_post.post_link, target: '_blank'

= form_for [:admin, @social_post], url: { action: 'update', controller: 'social_posts' } do |f|
  = render(AlertForErrors::Component.new(object: @social_post))

  .row.mt-4
    .col-md-6
      - if @social_post.stolen_post?
        - if @social_post.posted_image.present?
          = image_tag(@social_post.posted_image)
      - else
        .form-group.avatar-upload
          = f.label :image, 'Tweet photo', class: 'control-label'
          .avatar-img
            - if @social_post.image?
              = image_tag(@social_post.image_url(:small))
            - else
              %p
                No picture!
              .input-group
                .custom-file
                = f.label :image, "Tweet Image", class: "custom-file-label"
                = f.file_field :image, class: "custom-file-input", accept: ImageUploader.permitted_extensions.join(",")
          - if @social_post.image.present?
            .form-check
              = f.check_box :remove_image, class: "form-check-input"
              = f.label :remove_image, class: "form-check-label"

  .row
    .col-md-4
      .form-group
        = f.label :body_html, "Tweet display html"
        = f.text_area :body_html, rows: 4, class: "form-control"

    .col-md-8.my-auto
      .form-group
        %em
          Tweet alignment in image:
          .form-check-inline
            = f.radio_button :alignment,'top-left', class: "form-check-input"
            = f.label :alignment, "Top left", {:for => "social_post_alignment_top-left", class: "form-check-label pl-0"}
          .form-check-inline.form-check
            = f.radio_button :alignment, 'top-right', class: "form-check-input"
            = f.label :alignment, "Top right", {:for => "social_post_alignment_top-right", class: "form-check-label pl-0"}
          .form-check-inline.form-check
            = f.radio_button :alignment, 'bottom-left', class: "form-check-input"
            = f.label :alignment, "Bottom-left", {:for => "social_post_alignment_bottom-left", class: "form-check-label pl-0"}
          .form-check-inline.form-check
            = f.radio_button :alignment, 'bottom-right', class: "form-check-input"
            = f.label :alignment, "Bottom-right", {:for => "social_post_alignment_bottom-right", class: "form-check-label pl-0"}

  .row.justify-content-end
    .col-auto
      = f.submit "Save", class: "btn btn-success"
      = link_to "Delete",
      { controller: "admin/social_posts", id: @social_post.id, action: :destroy},
      data: { confirm: "Are you sure you want to delete this post?" },
      method: :delete,
      class: "btn btn-danger"

%hr

= render partial: "display"
