%section.sbr-main-section
  .receptacle
    .inner-recep
      = link_to 'Register your stolen bike', new_bike_url(stolen: true), class: 'list-stolen-bike'
      .stolen-registry-logo
        = image_tag '/assets/stolen/stolen-registry.svg'
      %h1
        Stolen Bike Registry

      = form_tag bikes_path, method: :get, class: 'sbr-search-fields' do 
        = hidden_field_tag :stolen, true
        = hidden_field_tag :search_type, 'description'
        #search-type-tabs
          %a.search-type-tab.active{ href: '#', data: { stype: 'description' } }
            %span
              Search bike
            descriptions
          %a.search-type-tab{ href: '#', data: { stype: 'serial' } }
            %span
              Search bike
            serials
        .sbr-search-inputs
          = text_field_tag :query_typed, params[:query_typed], class: 'sbr-bike-search', autofocus: true
          = button_tag(type: "submit", class: "sbrbtn") do
            = image_tag '/assets/stolen/search.svg'
          .proximity#stolen-proximity
            %span
              Stolen near
            = text_field_tag :proximity, params[:proximity], placeholder: 'anywhere'
.sbr-banner
  Over 
  / = StolenRecord.unscoped.where(current: false).count
  1999
  bikes recovered - and counting

%section.sbr-get-involved
  .receptacle
    .inner-recep

      %h2
        Get Involved! Help stop bike theft
      .involve-yerself
        .involve-report
          %h3
            Report someone selling stolen bikes on Craigslist, Ebay or anywhere else
          %h3
            Report a bicycle chop shop
        .involve-widget
          %h3
            Add a recent stolen bikes widget to your site.
          %ul.stolen-recent-widget
            
          %p
            = link_to 'Wordpress plugin', 'https://github.com/purcebr/bike-index-listings'
          %p
            = link_to 'HTML code', 'https://github.com/sethherr/bike-index-listings'

%section
  .receptacle
    .inner-recep

      = render 'stolen/stickers'