%section.sbr-get-involved
  .receptacle
    .inner-recep
      %h2
        Get Involved! Help us stop bike theft

      .involve-yerself

        .involve-report
          %h3
            Report bike theft issues:
          .involve-report-form
            = form_for @feedback do |f|
              = f.hidden_field :feedback_type, value: 'stolen_information'
              - if @feedback.errors.any?
                #alert-block
                  .alert.alert-error
                    %a.close{"data-dismiss" => "alert"} ×
                    %h4
                      Please fix the following 
                      = pluralize(@feedback.errors.count, "error")
                    %ul
                      - @feedback.errors.full_messages.each do |msg|
                        %li 
                          = msg  
              .report-type
                %label
                  = f.radio_button :title, "Someone is selling a stolen bike", checked: true
                  Report someone selling a stolen bike
                %label
                  = f.radio_button :title, "Bike ChopShop report"
                  Report a bicycle chop shop
                    
              .contact-text
                = f.text_area :body, placeholder: "Where is this happening? URL, address - any information you have", rows: 5
              .contact-actions.control-group
                = f.email_field :email, placeholder: "Your email address"
                = f.submit 'Send alert!', class: 'btn pull-right'

        .involve-widget
          %h3
            List recent stolen bikes on your site
          
          
          #binx_stolen_widget{ data: { location: '' } }
          <script src="http://widget.bikeindex.org/include.js"></script>
            

%section
  .receptacle
    .inner-recep

      = render 'stolen/stickers'

%section
  .receptacle
    .inner-recep
      %h3
        You can also make a donation!
      %p
        If stickers aren't your thing, a 
        %strong
          donation is also always appreciated.
        Every single penny you donate goes towards recovering more bikes.
