%section.sbr-get-involved
  .receptacle
    .inner-recep
      %h2
        Get Involved! Help us stop bike theft

      .involve-yerself

        .involve-report
          %h3
            Report bike theft issues:
          .involve-report-form
            = form_for @feedback do |f|
              = f.hidden_field :feedback_type, value: 'stolen_information'
              - if @feedback.errors.any?
                #alert-block
                  .alert.alert-error
                    %a.close{"data-dismiss" => "alert"} ×
                    %h4
                      Please fix the following 
                      = pluralize(@feedback.errors.count, "error")
                    %ul
                      - @feedback.errors.full_messages.each do |msg|
                        %li 
                          = msg  
              .report-type
                %label
                  = f.radio_button :title, "Someone is selling a stolen bike", checked: true
                  Report someone selling a stolen bike
                %label
                  = f.radio_button :title, "Bike ChopShop report"
                  Report a bicycle chop shop
                    
              .contact-text
                = f.text_area :body, placeholder: "Where is this happening? URL, address - any information you have", rows: 5
              .contact-actions.control-group
                = f.email_field :email, placeholder: "Your email address"
                = f.submit 'Send alert!', class: 'btn pull-right'

        .involve-widget
          %h3
            List recent stolen bikes on your site
          
          
          #bi-stolen-widget{ data: { location: 'ip' } }
            

%section
  .receptacle
    .inner-recep

      = render 'stolen/stickers'

%section
  .receptacle
    .inner-recep
      %h3
        You can also make a donation!
      %p
        If stickers aren't your thing, a 
        %strong
          donation is also always appreciated.
        Every single penny you donate goes towards recovering more bikes.

      :plain
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="F4X72WUEF9QXJ">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        <script type="text/javascript">
        var loadBikes,stolenBinxList,unableToBinxList,__indexOf=[].indexOf||function(e){for(var t=0,n=this.length;n>t;t++)if(t in this&&this[t]===e)return t;return-1};stolenBinxList=function(e,t){var n,i,r,s,o,l,a,d,u,c;for(null==t&&(t=null),a=document.getElementById("bi-stolen-widget"),s=document.createElement("ul"),s.setAttribute("id","bistole-list"),s.innerHTML="",r=u=0,c=e.length;c>u&&(n=e[r],!(r>6));r=++u)l=new Date(Date.parse(n.stolen_record.date_stolen)),l=l.toString().split(/\d{2}:/)[0],o="<li>",null!=n.thumb&&(o+="<a href='"+n.url+"' class='stolen-thumb'><img src='"+n.thumb+"'></a>"),o+="  <h4>\n    <a href='"+n.url+"'>"+n.title+"</a>\n  </h4>\n  <p>\n    Stolen from "+n.stolen_record.location+"\n    &mdash; on "+l+"\n  </p>\n</li>",s.innerHTML+=o;return a.appendChild(s),d=document.createElement("div"),d.setAttribute("class","widget-info"),d.innerHTML="Get the <a href='https://github.com/purcebr/bike-index-listings'>WordPress plugin</a> or <a href='https://github.com/sethherr/stolen_bikes_widget_html'>HTML code</a>",a.appendChild(d),null!=t?(i={bikes:e,time:t},localStorage.setItem("binx_rstolen",JSON.stringify(i))):void 0},loadBikes=function(location,bikes){var req,url;return null==bikes&&(bikes=[]),req=new XMLHttpRequest,url="https://bikeindex.org/api/v1/bikes?stolen=true&proximity="+location+"&proximity_radius=100",req.addEventListener("readystatechange",function(){var data,successResultCodes,time,_ref;return 4===req.readyState?(successResultCodes=[200],_ref=req.status,__indexOf.call(successResultCodes,_ref)>=0?(data=eval("("+req.responseText+")"),data.bikes.length>5?(bikes=bikes.concat(data.bikes),time=(new Date).getTime(),stolenBinxList(bikes,time)):loadBikes("",data.bikes)):[]):void 0}),req.open("GET",url,!1),req.send()},unableToBinxList=function(){var e,t;return t=document.getElementById("bi-stolen-widget"),e=document.createElement("div"),e.innerHTML="<div class='binxerror'>\n<h4>Something went wrong. We couldn't get any recent stolen bikes. Check the <a href='https://bikeindex.org'>Bike Index</a> for an updated list.</h4>\n<pre>\n          ~~O     \n        -  /,    \n       -  -|~(*)  \n      -  (*)      \n\n     ---^------   \n</pre><p>... or maybe you should just go ride your bike</p></div>",t.appendChild(e)},function(){var e,t,n,i;return n=document.getElementById("bi-stolen-widget").getAttribute("data-location"),t=!1,e=localStorage.getItem("binx_rstolen"),i=(new Date).getTime(),loadBikes(n)}();</script>
