%section.sbr-main-section
  .receptacle
    .inner-recep
      = link_to 'Register your stolen bike', new_bike_url(stolen: true), class: 'list-stolen-bike sbrbtn sbrbtn-default'
      %h1
        Stolen Bike Registry

      = form_tag bikes_path, method: :get, class: 'sbr-search-fields' do 
        = hidden_field_tag :stolen, true
        .sbr-search-inputs
          = text_field_tag :query, params[:query], class: 'sbr-bike-search'
          = submit_tag "Search", name: "search", class: "sbrbtn sbrbtn-success"
          / # = text_field_tag :serial, params[:serial], placeholder: 'Search serial numbers', class: 'sbr-serial-search'
          .proximity#stolen-proximity
            %span
              Stolen near
            = text_field_tag :proximity, params[:proximity], placeholder: 'anywhere'
          .sbr-search-type
            
            searching
            .sbrbtn-group
              .sbrbtn.sbrbtn-default{ type: "button", :'data-searching' => 'serial' }
                Serials
              .sbrbtn.sbrbtn-default{ type: "button", :'data-searching' => 'description' }
                Descriptions
.sbr-banner
  We get bikes back -
  = StolenRecord.unscoped.where(current: false).count
  and counting

%section.sbr-get-involved
  .receptacle
    .inner-recep
      %h2
        Get Involved!
      .involve-yerself
        %h3
          Report CL seller
      .involve-yerself
        %h3
          Report chop shop
      .involve-yerself
        %h3
          Add recent stolen bikes to your page
        = link_to 'Wordpress plugin', 'https://github.com/purcebr/bike-index-listings'

%section
  .receptacle
    .inner-recep

      / # = render 'stolen/stickers'