- impound_records ||= @impound_records
- skip_bike ||= false
- render_sortable ||= false
- render_resolved_at ||= false
- skip_location ||= !current_organization.enabled?("impound_bikes_locations")

- # TODO: add translations

%table.table.table-striped.table-bordered.table-sm.without-exterior-border.list-table#recordsTable
  %thead.small-header.hidden-md-down
    %th
      - if render_sortable
        = sortable "display_id", "ID"
      - else
        ID
    %th
      - if render_sortable
        = sortable "created_at"
      - else
        Created
    %th
      - if render_sortable
        = sortable "updated_at"
      - else
        Updated
    - unless skip_location
      %th
        - if render_sortable
          = sortable "location_id"
        - else
          Location
    - unless skip_bike
      %th Bike
    %th
      - if render_sortable
        = sortable "status"
      - else
        Status
    %th
      - if render_sortable
        = sortable "user_id", "last updator"
      - else
        last updator

    - if render_resolved_at
      %th
        - if render_sortable
          = sortable "resolved_at"
        - else
          Resolved
  %tbody
    - impound_records.each do |impound_record|
      %tr
        %td
          = impound_record.display_id
        %td
          %a.convertTime.preciseTime{ href: organization_impound_record_path(impound_record.display_id, organization_id: impound_record.organization_id) }
            = l(impound_record.created_at, format: :convert_time)
        %td
          %span.convertTime.preciseTime
            = l(impound_record.updated_at, format: :convert_time)
        - unless skip_location
          %td
            %small
              = impound_record.location&.name
        - unless skip_bike
          %td
            - if impound_record.bike.present?
              = link_to organized_bike_text(impound_record.bike), bike_path(impound_record.bike, organization_id: current_organization.id)
        %td
          %em
            = impound_record.status_humanized
        %td
          = impound_record.user&.display_name&.truncate(20)
        - if render_resolved_at
          %td
            - if impound_record.resolved_at.present?
              %span.convertTime.preciseTime
                = l(impound_record.resolved_at, format: :convert_time)
