<div class="organized-page-header mb-4">
  <h1 class="uncap"><%= t(".impound_records") %></h1>
</div>

<% if @render_chart %>
  <%= column_chart time_range_counts(collection: available_impound_records), stacked: true, thousands: "," %>
<% end %>

<div class="text-right mb-2 mt-4">
  <a
    class="btn btn-sm less-strong btn-outline-secondary <%= 'active' if @render_chart %>"
    href="<%= organization_impound_records_path(sortable_search_params.merge(organization_id: current_organization.to_param, render_chart: !@render_chart)) %>"
  >
    <%= t(".render_chart") %>
  </a>
</div>

<%= render partial: "/shared/period_select" %>

<div class="mt-4 mb-4">
  <%= render(Search::FormOrganized::Component.new(
    target_search_path: organization_impound_records_path(organization_id: current_organization.to_param),
    target_frame: :organized_impound_records_results_frame,
    interpreted_params: @interpreted_params
  )) do %>
    <div class="tw:mt-2 tw:flex tw:items-center tw:justify-end tw:gap-2">
      <em class="tw:text-sm tw:text-gray-500">impounded within</em>
      <%= number_field_tag :search_proximity, @search_proximity, class: "twinput tw:w-20", step: 0.01 %>
      <em class="tw:text-sm tw:text-gray-500">miles of</em>
      <%= text_field_tag :search_location, @search_location, placeholder: "anywhere", class: "twinput tw:flex-1" %>
    </div>
  <% end %>
</div>

<hr style="opacity: .3;">

<%= turbo_frame_tag :organized_impound_records_results_frame do %>
  <% if @render_results %>
    <%= render partial: "results" %>
  <% else %>
    <span id="loadedWithoutResults" class="tw:hidden"></span>
  <% end %>
<% end %>

<div id="hiddenLoadingSpinner" class="tw:hidden">
  <%= render UI::LoadingSpinner::Component.new(text: "Loading results...") %>
</div>
