- # TODO: add translations

.organized-page-header
  %h1
    Impound Record
    - if @bike.unregistered_parking_notification?
      %span.text-warning
        for
        %em unregistered
        = @bike.type

.row
  .col-md-6
    %table.table-list
      %tbody
        %tr
          %td Created
          %td
            %span.convertTime.preciseTime
              = l(@impound_record.created_at, format: :convert_time)
        %tr
          %td Impounded by
          %td= @impound_record.creator&.display_name
        - if @impound_record.resolved?
          %tr
            %td Resolved
            %td
              %span.convertTime
                = l(@impound_record.resolved_at, format: :convert_time)
        - if @impound_record_updates.any?
          %tr
            %td Updated
            %td
              %span.convertTime.preciseTime
                = l(@impound_record.updated_at, format: :convert_time)
          %tr
            %td By
            %td= @impound_record.user&.display_name
        - if current_organization.enabled?("impound_bikes_locations")
          %tr
            %td Location
            %td= @impound_record.location&.name

  .col-md-6
    %table.table-list
      %tbody
        %tr
          %td Status
          %td
            %strong
              = @impound_record.status
        %tr
          %td Bike
          %td
            - if @bike.present?
              = link_to organized_bike_text(@bike), bike_path(@bike, organization_id: current_organization.to_param)

- if @parking_notification.present?
  %hr.mt-4
  %h2.uncap
    Impounded by
    %em
      = link_to "this notification", organization_parking_notification_path(@parking_notification, organization_id: current_organization.to_param)

  = render partial: "/organized/parking_notifications/show_details", locals: { viewing_impound_record: true }
