<div class="mt-4">
  <%= render(Search::FormOrganized::Component.new(
    target_search_path: organization_impound_records_path(organization_id: @current_organization.to_param),
    interpreted_params: @interpreted_params
  )) do %>
    <div class="tw:mt-2 tw:flex tw:items-center tw:justify-end tw:gap-2">
      <em class="tw:text-sm tw:text-gray-500">impounded within</em>
      <%= number_field_tag :search_proximity, @search_proximity, class: "twinput tw:w-20", step: 0.01 %>
      <em class="tw:text-sm tw:text-gray-500">miles of</em>
      <%= text_field_tag :search_location, @search_location, placeholder: "anywhere", class: "twinput tw:flex-1" %>
    </div>
  <% end %>
</div>

<div class="row mt-4 mb-4">
  <div class="col-sm-9">
    <%= number_with_delimiter(@pagy.count) %>
    <%= translation(".matching_impound_record", count: @pagy.count) %>

    <em><%= helpers.humanized_time_range(@time_range) %></em>

    <div class="dropdown d-inline-block ml-2">
      <a
        class="dropdown-toggle btn btn-outline-primary <%= 'active' unless @search_status == 'current' %>"
        href="#"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <%= status_dropdown_text %>
      </a>

      <div class="dropdown-menu">
        <% @available_statuses.each do |status| %>
          <% status_active = @search_status == status %>
          <% status_link_params = sortable_search_params.merge(organization_id: @current_organization.id, search_status: (status_active ? nil : status)) %>

          <%= link_to display_status_for(status), organization_impound_records_path(status_link_params), class: "dropdown-item #{status_active ? 'active' : ''}" %>

          <% if status == "all" %>
            <%# Add a divider before all %>
            <div class="dropdown-divider"></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="dropdown d-inline-block ml-2">
      <a
        class="dropdown-toggle btn btn-sm btn-outline-secondary <%= 'active' unless @search_unregisteredness == 'all' %>"
        href="#"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <%= unregisteredness_dropdown_text %>
      </a>

      <div class="dropdown-menu">
        <%= link_to translation(".all_bikes"), organization_impound_records_path(sortable_search_params.except(:search_unregisteredness)), class: "dropdown-item #{@search_unregisteredness == 'all' ? 'active' : ''}" %>
        <%= link_to translation(".only_unregistered"), organization_impound_records_path(sortable_search_params.merge(search_unregisteredness: "only_unregistered")), class: "dropdown-item #{@search_unregisteredness == 'only_unregistered' ? 'active' : ''}" %>
        <%= link_to translation(".only_user_registered"), organization_impound_records_path(sortable_search_params.merge(search_unregisteredness: "only_registered")), class: "dropdown-item #{@search_unregisteredness == 'only_registered' ? 'active' : ''}" %>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="text-right">
      <a
        class="gray-link"
        id="toggleMultiUpdate"
        href="#makeMultiUpdate"
        data-toggle="collapse"
        data-target="#makeMultiUpdate"
      >
        <%= translation(".update_multiple_records").downcase %>
      </a>
    </div>
  </div>
</div>

<%# The form wraps the table too, so checked rows submit with it %>
<%= render(Org::ImpoundRecordUpdateForm::Component.new(current_organization: @current_organization)) do %>
  <div class="full-screen-table">
    <%= render(Org::ImpoundRecordsTable::Component.new(impound_records: @impound_records, current_organization: @current_organization, render_sortable: true, render_resolved_at: !skip_resolved, skip_status: !render_status)) %>
  </div>
<% end %>

<div class="pt-4 pb-4">
  <%= render(UI::Pagination::Component.new(pagy: @pagy, page_params: params, size: :lg)) %>
</div>
