- render_sortable ||= false
- skip_bike ||= false

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light.sortable
      %th
        - if render_sortable
          = sortable "date_recovered"
        - else
          Date recovered
      %th
        - if render_sortable
          = sortable "recovery_display_status", "Status"
        - else
          Status
      - unless skip_bike
        %th
          Bike
      %th
        Recovery info
      %th
        Location
      %th
        %small
          Helped
      %th
        %small
          Shareable
      %th
        %small
          Display
    %tbody
      - recoveries.each do |recovery|
        %tr
          %td
            %a{href: edit_admin_recovery_url(recovery.id) }
              - if recovery.date_recovered.present?
                - date = recovery.date_recovered
              - else
                %small
                - date = recovery.created_at
                %span.text-danger
                  no recovery date
              %span.convertTime
                = l date, format: :convert_time
          %td
            %small
              = recovery.recovery_display_status.gsub("_", "&nbsp;").html_safe

          - unless skip_bike
            %td
              - if recovery.bike.present?
                .less-strong-hold
                  %span.less-strong-right
                    = link_to recovery.bike_id, edit_admin_bike_url(recovery.bike)
                  = recovery.bike.title_string
                  - if recovery.estimated_value.present?
                    %small.less-strong
                      $#{recovery.estimated_value}
          %td
            - if recovery.recovered_description.present?
              %small
                = recovery.recovered_description
            %small.less-strong
              = recovery.theft_description.truncate(200) if recovery.theft_description.present?
            - if recovery.recovering_user.present?
              %br
              %small.less-strong
                Recovered by
                = link_to recovery.recovering_user.display_name, admin_user_path(recovery.recovering_user.to_param)
                - unless recovery.recovering_user_owner?
                  %span.text-warning
                    not owner!
          %td
            - if recovery.address.present?
              = recovery.city
          %td.table-cell-check
            / Posted
            / = check_mark if recovery.recovery_posted
            = check_mark if recovery.index_helped_recovery
          %td.table-cell-check
            = check_mark if recovery.can_share_recovery
          %td.table-cell-check
            - if recovery.recovery_display.present?
              = link_to check_mark, edit_admin_recovery_display_url(recovery.recovery_display)

