= render partial: "/admin/bikes/bike", locals: { bike: @bike, target: "show", stolen_record: @recovery, display_recovery: true }

/ .admin-subnav.midpage-subnav
/   .col-md-12
/     %h1
/       - if @bike.present?
/         Update recovery for #{@bike.type}
/       - else
/         Update Recovery for deleted bike

%h2.mt-4 Recovery display
.row.text-center
  - if @recovery.waiting_on_decision?
    .col-6
      = button_to "Not Displayable", admin_recovery_path(id: @recovery.id, stolen_record: {is_not_displayable: true}), method: :put, class: "btn btn-lg btn-warning"
    .col-6
      = link_to "Share recovery", new_admin_recovery_display_path(stolen_record_id: @recovery.id), class: "btn btn-lg btn-primary"
  - elsif @recovery.displayed?
    .col-6
      %p
        This recovery is displayed.
    .col-6
      = link_to "Edit Recovery Display", edit_admin_recovery_display_url(@recovery.recovery_display), class: "btn btn-lg btn-primary"
  - elsif @recovery.not_displayed?
    .col-12
      %p
        This recovery is not displayed.
      = button_to "Mark Eligible for display", admin_recovery_path(id: @recovery.id, stolen_record: { mark_as_eligible: true }), method: :put, class: "btn btn-lg btn-success"

%hr{ style: "margin: 60px 0 30px;" }
%h2 Edit recovery information

= form_for([:admin, @recovery], url: { action: "update", controller: "recoveries" } , html: { class: "form form-horizontal" }) do |f|
  - if @recovery.errors.any?
    = render partial: "/shared/errors", locals: { name: "Recovery", obj: @recovery}
  .row.mt-4
    .col-md-6
      .form-group
        = f.label :recovered_description, "Recovery description"
        = f.text_area :recovered_description, rows: 4, class: "form-control"

    .col-md-6
      .form-group.form-check
        = f.check_box :index_helped_recovery, class: "form-check-input"
        = f.label :index_helped_recovery, class: "form-check-label"

      .form-group.form-check
        = f.check_box :can_share_recovery, class: "form-check-input"
        = f.label :can_share_recovery, class: "form-check-label"
      .form-group.mt-4
        = submit_tag "Update the recovery", class: "btn btn-success"
