%header.with-subtitle#admin-recoveries
  %h1
    Recoveries
  - if @posted
    = link_to 'Only unposted', admin_recoveries_url, class: "sharing-links"
  - else
    = link_to 'All recoveries (including posted)', admin_recoveries_url(posted: true), class: "sharing-links"

%h4
  = StolenRecord.recovered.count
  recoveries
%h4
  = StolenRecord.recovery_unposted.count
  are waiting to be posted

.paginate-container
  = will_paginate @recoveries, next_label: "Next", previous_label: "Previous"
%section.full-screen-table
  = form_tag approve_admin_recoveries_path, class: '', id: 'multi_check' do
    = hidden_field_tag :multipost, true
    - unless @posted
      .clearfix#multiapprove_submit
        = submit_tag 'Post checked recoveries', class: 'button-blue pull-right'
    %table.table.table-striped.table-bordered
      %thead
        - unless @posted
          %th
            %input#all_select{ type: 'checkbox' }
        %th
          Date recovered
        %th.medium-screens
          Bike
        %th
          Recovery info
        %th.large-screens
          Location
        %th
          Posting


      %tbody
        - @recoveries.each do |recovery|
          %tr
            - unless @posted
              %td.multipost_checkbox
                = check_box_tag "recovery_selected[#{recovery.id}]", recovery.id

            %td
              %a{href: edit_admin_recovery_url(recovery.id) }
                - if recovery.date_recovered.present?
                  = recovery.date_recovered.strftime("%-m.%-d.%Y")
                - else
                  Stolen on
                  = recovery.created_at.strftime("%-m.%-d.%Y")
            %td.medium-screens
              - if recovery.bike.present?
                .less-strong-hold
                  %span.less-strong-right
                    = link_to recovery.bike_id, edit_admin_bike_url(recovery.bike)
                  = recovery.bike.title_string
                
            %td
              - if recovery.recovered_description.present?
                = recovery.recovered_description
              .large-screens.less-strong
                = recovery.theft_description.truncate(200) if recovery.theft_description.present?
            %td.large-screens
              - if recovery.address.present?
                = recovery.city
            %td
              Posted
              = "&#x2713;".html_safe if recovery.recovery_posted
              %br
              Can share
              = "&#x2713;".html_safe if recovery.can_share_recovery
          
  .paginate-container
    = will_paginate @recoveries, next_label: "Next", previous_label: "Previous"
