%header.with-subtitle#admin-recoveries
  %h1
    Recoveries
    - unless @all_recoveries
      that can be displayed
    
  / - if @posted
  /   = link_to 'Only unposted', admin_recoveries_url, class: "sharing-links"
  - if @all_recoveries
    = link_to 'Only displayable', admin_recoveries_url, class: "sharing-links"
  - else
    = link_to 'All recoveries', admin_recoveries_url(all_recoveries: true), class: "sharing-links"


%h4
  = StolenRecord.recovered.count
  recoveries
%h4
  = StolenRecord.recovery_unposted.count
  are waiting to be posted

.paginate-container
  = paginate @recoveries
%section.full-screen-table
  = form_tag approve_admin_recoveries_path, class: '', id: 'multi_check' do
    = hidden_field_tag :multipost, true
    / - unless @posted
    /   .clearfix#multiapprove_submit
    /     = submit_tag 'Post checked recoveries', class: 'button-blue pull-right'
    %table.table.table-striped.table-bordered
      %thead
        / - unless @posted
        /   %th
        /     %input#all_select{ type: 'checkbox' }
        %th.date-recovered-cell
          Date recovered
        %th.medium-screens
          Bike
        %th
          Recovery info
        %th.large-screens
          Location
        %th.sm-cell
          H<span class="sm-cell-hide">elped</span>
        %th.sm-cell
          S<span class="sm-cell-hide">hareable</span>
        %th.sm-cell
          D<span class="sm-cell-hide">isplay</span>


      %tbody
        - @recoveries.each do |recovery|
          %tr
            / - unless @posted
            /   %td.multipost_checkbox
            /     = check_box_tag "recovery_selected[#{recovery.id}]", recovery.id

            %td
              %a{href: edit_admin_recovery_url(recovery.id) }
                - if recovery.date_recovered.present?
                  - date = recovery.date_recovered
                - else
                  - date = recovery.created_at
                  Stolen on
                = l date, format: :dotted

            %td.medium-screens
              - if recovery.bike.present?
                .less-strong-hold
                  %span.less-strong-right
                    = link_to recovery.bike_id, edit_admin_bike_url(recovery.bike)
                  = recovery.bike.title_string
                  - if recovery.estimated_value.present?
                    %small.less-strong
                      $#{recovery.estimated_value}
                
            %td
              - if recovery.recovered_description.present?
                = recovery.recovered_description
              .large-screens.less-strong
                = recovery.theft_description.truncate(200) if recovery.theft_description.present?
            %td.large-screens
              - if recovery.address.present?
                = recovery.city
            %td.table-cell-check.sm-cell
              / Posted
              / = "&#x2713;".html_safe if recovery.recovery_posted
              = "&#x2713;".html_safe if recovery.index_helped_recovery
            %td.table-cell-check.sm-cell
              = "&#x2713;".html_safe if recovery.can_share_recovery
            %td.table-cell-check.sm-cell
              - if recovery.recovery_display.present?
                = link_to "&#x2713;".html_safe, edit_admin_recovery_display_url(recovery.recovery_display)
          
  .paginate-container
    = paginate @recoveries
:scss
  @media (max-width: 700px) {
    .full-screen-table {
      table {
        table-layout: fixed;
        .date-recovered-cell { width: 6em; }
        .sm-cell { width: 2em; }
        .sm-cell-hide { display: none; }
      }
    }
  }
:javascript
  $(document).ready(function() {$('.full-screen-table').parents('.receptacle').css('max-width', '100%');});