.admin-subnav
  .col-sm-6
    %h1
      %small Update Twitter Account:
      = @twitter_account.screen_name
    %small.mr-4
      = link_to "View account data", admin_twitter_account_path(@twitter_account)
    %small
      = link_to "Log in to refresh credentials", "/auth/twitter"

  .col-sm-6.text-right
    = link_to "Delete account",
      admin_twitter_account_path(@twitter_account),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this? This can't be undone" },
      class: "btn btn-danger"

.container-fluid
  = render "form",
    twitter_account: @twitter_account,
    action: admin_twitter_account_path(@twitter_account),
    method: :patch,
    submit_label: "Save"
