.blog-header  
  %article.blogger-info
    %h4
      %a.blog-poster{href: user_path(@blogger)}
        = @blogger.name if @blogger.name
    %h4      
      #{l @blog.post_date, format: :standard_display}

  %hr

%h1
  = @blog.title

- if @blog.subtitle
  %h2.blog-subhead
    = @blog.subtitle

:markdown
  #{@blog.body}

%article.content-comments
  = render "/shared/disqus"