- render_sortable ||= false
- skip_bike ||= false

.full-screen-table.mt-4
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th
        = sortable "created_at", render_sortable: render_sortable
      %th
        %small= sortable "updated_at", render_sortable: render_sortable
      - unless skip_bike
        %th
          %small Bike
      %th
        Creator
      %th
        = sortable "origin", render_sortable: render_sortable
      %th
        = sortable "owner_email", render_sortable: render_sortable
      - if display_dev_info?
        %th
          %small.only-dev-visible send email?
      %th
        = sortable "organization_id", render_sortable: render_sortable
      %th
        %small Current?
      %th
        %small Claimed
      %th.d-none.d-md-table-cell
        %small User&nbsp;hidden
    %tbody
      - ownerships.each do |ownership|
        %tr
          %td
            .less-strong-hold
              %a.convertTime{ href: edit_admin_ownership_url(ownership.id) }
                = l ownership.created_at, format: :convert_time
              &nbsp;
              %code.less-strong-right.d-none.d-md-block
                = ownership.id
          %td
            %small.convertTime
              = l ownership.updated_at, format: :convert_time
          - unless skip_bike
            %td
              - if ownership.bike.present?
                %small
                  = link_to bike_title_html(ownership.bike), admin_bike_path(ownership.bike)
              - else
                %small.text-danger Missing Bike ##{ownership.bike_id}
          %td
            - creator = ownership.creator
            - if creator.blank?
              %em.text-warning user deleted
              - if display_dev_info?
                %span.only-dev-visible
                  \##{ownership.creator_id}
            - else
              = creator.display_name
          %td
            %small= ownership.creation_description
          %td
            = ownership.owner_email
          - if display_dev_info?
            %td= check_mark if ownership.send_email
          %td
            = ownership.organization&.name
          %td.table-cell-check
            = check_mark if ownership.current
          %td
            - if ownership.claimed
              - if ownership.claimed_at.present?
                %span.convertTime
                  = l ownership.claimed_at, format: :convert_time
              - else
                %small.less-strong unknown time
          %td.table-cell-check.d-none.d-md-table-cell
            = check_mark if ownership.user_hidden
