.row
  .col-md-4
    %h1
      Edit ownership
  .col-md-8
    %p
      = link_to "Back to editing bike", edit_admin_bike_path(@bike), class: "float-right btn btn-primary"

%ul.list-unstyled
  = render partial: "/admin/bikes/bike", locals: {bike: @bike, target: "show" }
.row
  .col-auto
    %h2
      %span.text-danger
        BE CAREFUL. YOU CAN BREAK STUFF HERE
.row
  .col-md-6
    = form_for [:admin, @ownership], html: { class: "form form-horizontal" } do |f|
      - if @ownership.errors.any?
        = render partial: "/shared/errors", locals: { name: "Ownership", obj: @ownership }
      .form-group
        = f.label :creator_id
        = f.email_field :creator_email, value: @ownership.creator.email, required: true, prompt: "Creator's email", class: "form-control"

      .form-group
        = f.label :user_id
        - user_email = @ownership.user.present? ? @ownership.user.email : ''
        = f.email_field :user_email, value: user_email, required: true, prompt: "Owner's email", class: "form-control"
      .form-group
        = f.label :owner_email
        = f.text_field :owner_email, required: true, class: "form-control"

      .form-check.form-check-inline
        = f.check_box :current, class: "form-check-input"
        = f.label :current, class: "form-check-label"
      .form-check.form-check-inline
        = f.check_box :user_hidden, class: "form-check-input"
        = f.label :user_hidden, class: "form-check-label"
      .form-check.form-check-inline
        = f.check_box :claimed, class: "form-check-input"
        = f.label :claimed, class: "form-check-label"
      .form-group.mt-4
        = submit_tag "Update the ownership", class: "btn btn-success"
  .col-md-6
    %table.table-list
      %tr
        %td
          Created At
        %td.convertTime
          = l @bike.created_at, format: :convert_time
      %tr
        %td
          Owner Email
        %td
          = @bike.owner_email
      %tr
        %td
          Current Owner
        %td
          = @bike.owner.email
      %tr
        %td
          Cached Data
        %td
          = @bike.cached_data
