= render partial: "/admin/bikes/bike_tabs", locals: {bike: @bike, target: "ownerships" }

%h1.mt-5.mb-4
  Ownerships
= render partial: "/admin/ownerships/table", locals: {ownerships: @bike.ownerships.reorder(created_at: :desc), skip_bike: true}

%div{class: "admin-subnav midpage-subnav"}
  .col-12
    %h1
      Edit ownership
      %code= @ownership.id
    %h2
      %span.text-danger
        BE CAREFUL. YOU CAN BREAK STUFF HERE

.row
  .col-md-6
    = form_for [:admin, @ownership], html: { class: "form form-horizontal" } do |f|
      = render(AlertForErrors::Component.new(object: @ownership))

      .form-group
        = f.label :creator_id
        = f.email_field :creator_email, value: @ownership.creator&.email, required: true, prompt: "Creator's email", class: "form-control"

      .form-group
        = f.label :user_email
        - user_email = @ownership.user.present? ? @ownership.user.email : ''
        = f.email_field :user_email, value: user_email, required: true, prompt: "Owner's email", class: "form-control"
      .form-group
        = f.label :owner_email
        = f.text_field :owner_email, required: true, class: "form-control"

      .form-check.form-check-inline
        = f.check_box :current, class: "form-check-input"
        = f.label :current, class: "form-check-label"
      .form-check.form-check-inline
        = f.check_box :user_hidden, class: "form-check-input"
        = f.label :user_hidden, class: "form-check-label"
      .form-check.form-check-inline
        = f.check_box :claimed, class: "form-check-input"
        = f.label :claimed, class: "form-check-label"
      .form-group.mt-4
        = submit_tag "Update the ownership", class: "btn btn-success"
  .col-md-6
    %table.table-list
      %tr
        %td Created At
        %td.convertTime
          = l @bike.created_at, format: :convert_time
      %tr
        %td Owner Email
        %td= @bike.owner_email
      %tr
        %td Current Owner
        %td= @bike.owner.email
      %tr
        %td Send Email
        %td
          = check_mark if @ownership.send_email
      %tr
        %td Cached Data
        %td= @bike.cached_data
      %tr
        %td Token
        %td
          - if @ownership.token.present?
            %code
              = link_to @ownership.token, bike_path(@bike.to_param, t: @ownership.token)
      %tr
        %td Claim message
        %td= @ownership.claim_message&.humanize
      %tr
        %td Pre-registration?
        %td= check_mark if @ownership.organization_pre_registration
      %tr
        %td Origin
        %td
          %code= @ownership.origin


- if display_dev_info?
  .row.mt-5
    .col-md-6
      %h5.only-dev-visible Registration info
      = pretty_print_json(@ownership.registration_info, true)
