.admin-subnav
  .col-md-5
    %h1
      Ownerships
  .col-md-7
    %ul
      %li.nav-item.dropdown.dropleft
        %a.nav-link.dropdown-toggle{href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@search_origin != "all" ? "active" : "")}
          - if @search_origin == "all"
            All origins
          - elsif @search_origin == "only_initial"
            Only initial
          - else
            = Ownership.origin_humanized(@search_origin).titleize
        .dropdown-menu
          = link_to "All origins", url_for(sortable_search_params.merge(search_origin: nil)), class: "dropdown-item #{@search_origin == 'all' ? 'active' : ''}"
          = link_to "Only initial", url_for(sortable_search_params.merge(search_origin: "only_initial")), class: "dropdown-item #{@search_origin == 'only_initial' ? 'active' : ''}"
          .dropdown-divider
          - Ownership.origins.each do |origin|
            = link_to Ownership.origin_humanized(origin).titleize, url_for(sortable_search_params.merge(search_origin: origin)), class: "dropdown-item #{@search_origin == origin ? 'active' : ''}"
      %li.nav-item
        = link_to "graph", url_for(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"
  = render partial: "/shared/admin_current_header", locals: {viewing: "Ownerships"}

- if @render_chart
  = column_chart time_range_counts(collection: matching_ownerships, column: @time_range_column), stacked: true, thousands: ","

= render partial: "/shared/period_select"

= render partial: "/shared/pagination", locals: {collection: @ownerships}

= render partial: "/admin/ownerships/table", locals: {ownerships: @ownerships, render_sortable: true}
