%h1 Ambassadors

%p
  = link_to "Search for Stolen Bikes", bikes_path, class: "menu-item"

%h2 Leaderboard

%table.table.table-striped.table-hover.table-bordered.table-sm.without-exterior-border
  %thead.small-header
    %tr
      %th Name
      %th Email
      %th Progress
  %tbody
    - @ambassadors.each do |ambassador|
      %tr
        %td= ambassador.name
        %td= ambassador.email
        %td=# AmbassadorTask.completion_progress(ambassador)

%h2 Tasks

%table.table.table-striped.table-hover.table-bordered.table-sm.without-exterior-border
  %thead.small-header
    %tr
      %th Description
      %th Completed
  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.description
        %td= task.completed?
