= form_for [:admin, @organization_feature] do |f|
  .row
    .col-xs-12
      - if @organization_feature.errors.any?
        = render partial: "/shared/errors", locals: { name: "Organization feature", obj: @organization_feature }
  .row
    .col-md-6.col-xs-12
      .form-group
        = f.label :kind
        = f.select :kind, OrganizationFeature.kinds.map { |k| [k.humanize, k] }, {}, class: "form-control"
    .col-md-6.col-xs-12
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
  - if current_user.developer?
    .row.only-dev-visible
      .col-md-6
        .form-group
          = f.label :feature_slugs_string do
            Organization Feature Slugs <small>comma delineated</small>
          = f.text_area :feature_slugs_string, class: "form-control"
      .col-md-6{ style: "background: #fff;" }
        %small.less-strong.p-1
          Permitted slugs:
          = safe_join(OrganizationFeature::EXPECTED_SLUGS.sort.map { |slug| content_tag(:code, slug) }, ", ")
  .row.mt-2
    .col-md-6.col-xs-12
      .form-group
        = f.label :amount
        .input-group.mb-2
          .input-group-prepend
            = f.select :currency, options_for_select(currency_symbols.zip(available_currencies)), {}, class: "form-control small"
          = f.number_field :amount, step: 1, min: 0, class: "form-control"
    .col-xs-12.col-md-6
      .form-group
        = f.label :details_link
        = f.text_field :details_link, class: "form-control"
  .row
    .col-12
      .form-group
        = f.label :description
        = f.text_area :description, style: "width: 100%;", class: "form-control"

  = f.submit (@organization_feature.id.present? ? "Update" : "Create"), class: 'btn btn-success'
