.form.form-horizontal
  = form_for [:admin, @paid_feature] do |f|
    - if @paid_feature.errors.any?
      = render partial: "/shared/errors", locals: { name: "Paid feature", obj: @paid_feature }

    .control-group.padded
      .control-label
        = f.label :kind
      .controls
        = f.select :kind, PaidFeature.kinds.map { |k| [k.humanize, k] }

    .control-group.padded
      .control-label
        = f.label :name
      .controls
        = f.text_field :name

    .control-group.padded
      .control-label
        = f.label :amount
      .controls
        = f.number_field :amount, step: 1, min: 0

    .control-group.padded
      .control-label
        = f.label :description
      .controls
        = f.text_area :description, style: "width: 100%;"

    .control-group.padded
      .control-label
        = f.label :details_link
      .controls
        = f.text_field :details_link

    = f.submit (@paid_feature.id.present? ? "Update" : "Create"), class: 'button-green'