<td class="hiddenColumn url_cell">
  <code class="small p0" style="word-break: normal"><%= @bike.html_url %></code>
</td>

<td class="hiddenColumn created_at_cell">
  <a
    class="localizeTime"
    href="<%= bike_path(@bike, organization_id: @organization.to_param) %>"
    data-turbo-frame="_top"
    aria-label="View bike"
  >
    <%= l @bike.created_at, format: :convert_time %>
  </a>
</td>

<td class="hiddenColumn updated_at_cell">
  <small class="localizeTime">
    <%= l @bike.updated_by_user_fallback, format: :convert_time %>
  </small>
</td>

<td class="hiddenColumn table-cell-check stolen_cell">
  <%= check_mark if @bike.status_stolen? %>
</td>

<td class="hiddenColumn serial_number_cell"><%= @bike.serial_number %></td>

<td class="hiddenColumn propulsion_type_cell">
  <span class="<%= 'less-strong' if @bike.propulsion_type == 'foot-pedal' %>">
    <%= @bike.propulsion_titleize %>
  </span>
</td>

<td class="hiddenColumn cycle_type_cell">
  <span class="<%= 'less-strong' if @bike.cycle_type == 'bike' %>">
    <%= @bike.type_titleize %>
  </span>
</td>

<td class="hiddenColumn manufacturer_cell"><%= @bike.mnfg_name %></td>

<td class="hiddenColumn model_cell"><%= @bike.frame_model %></td>

<td class="hiddenColumn color_cell">
  <span class="less-strong"><%= @bike.frame_colors.join(", ") %></span>
</td>

<td class="hiddenColumn owner_email_cell">
  <small class="hidden-sm-up">
    <%= helpers.organized_bike_text(@bike) %>
    <br>
  </small>

  <% if @bike.email_visible_for?(@organization) %>
    <%= @bike.owner_email %>
    <small>
      <%= link_to "\u{1F50E}", organization_bikes_path(organization_id: @organization.to_param, search_email: @bike.owner_email), class: "display-sortable-link", data: {turbo_frame: "_top"} %>
    </small>
  <% else %>
    <em class="less-strong"><%= translation(".email_hidden") %></em>
  <% end %>
</td>

<td class="hiddenColumn creation_description_cell">
  <% if @bike.creation_description %>
    <small class="less-strong">
      <%= helpers.origin_display(@bike.creation_description) %>
    </small>
  <% end %>
</td>

<td class="hiddenColumn owner_name_cell">
  <% if @bike.owner_name.present? %>
    <em><%= @bike.owner_name %></em>
  <% end %>
</td>

<td class="hiddenColumn status_cell small">
  <%= helpers.status_display(@bike.status_humanized_no_with_owner) %>
</td>

<% if @organization.enabled?("registration_notes") %>
  <td class="hiddenColumn notes_cell tw:leading-none">
    <small><%= bike_organization_note&.body %></small>
  </td>
<% end %>

<% @additional_registration_fields.each do |reg_field| %>
  <% next if reg_field == "extra_registration_number" %>

  <td class="hiddenColumn <%= "#{reg_field}_cell" %>">
    <% bike_attr = OrganizationFeature.reg_field_to_bike_attrs(reg_field) %>

    <% if bike_attr == "address" %>
      <% if @bike.valid_mailing_address? %>
        <small>
          <%= render UI::AddressDisplay::Component.new(address_record: BikeServices::CalculateLocation.registration_address_record(@bike), visible_attribute: :street) %>
        </small>
      <% end %>
    <% elsif bike_attr == "organization_affiliation" %>
      <%= @bike.organization_affiliation(@organization)&.humanize %>
    <% elsif bike_attr == "student_id" %>
      <%= @bike.student_id(@organization)&.humanize %>
    <% else %>
      <%= @bike.send(bike_attr) %>
    <% end %>
  </td>
<% end %>

<%# All organizations can see additional serial# %>
<td class="hiddenColumn extra_registration_number_cell">
  <%= @bike.extra_registration_number %>
</td>

<% if @organization.enabled?("bike_stickers") %>
  <td class="hiddenColumn sticker_cell">
    <% @bike.bike_stickers.each_with_index do |bike_sticker, index| %>
      <% if bike_sticker.organization.present? && bike_sticker.organization_id == @organization.id %>
        <%= link_to bike_sticker.pretty_code,
          edit_organization_sticker_path(id: bike_sticker.code, organization_id: bike_sticker.organization&.to_param),
          class: "small", data: {turbo_frame: "_top"} %>
      <% else %>
        <small><%= bike_sticker.pretty_code %></small>
      <% end %>

      <% if index > 0 %>
        <br>
      <% end %>
    <% end %>
  </td>
<% end %>

<% if @organization.enabled?("impound_bikes") %>
  <td class="hiddenColumn impound_id_cell">
    <% if @bike.status_impounded? && @bike.current_impound_record.present? %>
      <%= number_display(@bike.current_impound_record.id) %>
    <% end %>
  </td>
  <td class="hiddenColumn impounded_cell">
    <% if @bike.status_impounded? && @bike.current_impound_record&.created_at&.present? %>
      <small class="localizeTime">
        <%= l @bike.current_impound_record.created_at, format: :convert_time %>
      </small>
    <% end %>
  </td>
<% end %>
