<nav
  class="tw:w-full tw:flex tw:justify-center tw:items-center tw:-space-x-px <%= size_classes %>"
  aria-label="<%= pagy_t('pagy.aria_label.nav', count: @pagy.pages) %>"
>
  <%= prev_html.html_safe %>
  <% @pagy.series.each do |item| %>
    <%= pagy_series_link(item) %>
  <% end %>
  <%= next_html %>
</nav>
