.container-fluid.root-landing-banner-subheader
  .row
    .subheader-tile.col-md-3
      = link_to for_bike_shops_path, class: "subheader-tile-link" do
        .subheader-image.bg-image-bike-shops
        .subheader-image-caption
          %em= t(".for")
          %span.upcase
            = t(".bike_shops")
            %span.chevron &raquo;
    .subheader-tile.col-md-3
      = link_to for_cities_path, class: "subheader-tile-link" do
        .subheader-image.bg-image-bike-cities
        .subheader-image-caption
          %em= t(".for")
          %span.upcase
            = t(".cities")
            %span.chevron &raquo;
    .subheader-tile.col-md-3
      = link_to for_schools_path, class: "subheader-tile-link" do
        .subheader-image.bg-image-bike-schools
        .subheader-image-caption
          %em= t(".for")
          %span.upcase
            = t(".schools")
            %span.chevron &raquo;
    .subheader-tile.col-md-3
      = link_to for_community_groups_path, class: "subheader-tile-link" do
        .subheader-image.bg-image-bike-groups
        .subheader-image-caption
          %em= t(".for")
          %span.upcase
            = t(".community_groups")
            %span.chevron &raquo;
