- plans.each do |plan, plan_data|
  %li
    - if plan == :free
      - unless render_features # Bottom section doesn't render this duplicate "free"
        %h4
          Free
      %section
        %h5
          &nbsp;
        %h3
          Free
        %p
          Forever
        %a.btn.btn-primary{ href: new_organization_path }
          Sign Up Now
    - else
      %h4
        #{plan.to_s.titleize} #{lead_type.titleize}
      %section
        %h5
          = plan_data[:subhead]
        %h3
          <span>$</span>#{number_with_delimiter(plan_data[:cost])}
        %p
          USD/Annually
        %a.btn.btn-primary.tryPaidButton{ href: "#", "data-plan" => plan.to_s }
          Try For Free

    - if render_features
      .plan-features
        %a.showPlanFeatures.collapsed{ href: "##{plan}_features", "aria-controls" => "#{plan}_features", "data-toggle" => "collapse" }
          %span.uncollapsed
            See Features >
          %span.incollapsed
            Hide Features ^
        %ul.collapse{ id: "#{plan}_features" }
          - plan_features.each do |feature|
            - next unless feature[plan].present?
            %li
              - if feature[plan].is_a?(String)
                = feature[plan]
              = feature[:title]

