.signup-landing-page.ambassadors-landing-page-how-to
  %header.banner-header
    .container
      .banner.row
        .icon-wrapper
          = render "/landing_pages/icons/header_ambassadors_svg"
        .banner-text
          %h1 Become a Bike Index<br>Ambassador
          %h3 Want to help fight bike theft in your community?<br>Start here!

    .ribbon
      .container
        %h2
  .container
    .row.main-body-row
      .landing-why-col
        %h3 Why Work With Bike Index?
        %p
          Bike Index is a non-profit

        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        = render partial: '/landing_pages/tweet', locals: { tweet_id: 840324239425073152 }

        %h3 Register bikes for your customers
        
        %p
          We offer an easy way for you to register your customer's bikes - new or old. All you need at the point of sale is the bike's serial number, manufacturer, color and customer's email. And with their permission, we'll send them an email with all the pertinent information and their bicycle will be protected, forever, for free.

        = image_tag 'lightspeed_logo.png', class: 'landing-lightspeed-logo', alt: 'Lightspeed logo'
        %h3 Use Lightspeed Retail?
        %p
          We've made an official Lightspeed add-on to provide entirely automated registration for every bike you sell. All you have to do is make sure you input the serial number and take the customer's email.
        %p
          <a href="/lightspeed">Learn more</a> or <a href="/connect_lightspeed">connect your Lightspeed account</a>.

        .mobile-contact-link
          %a.btn.btn-primary.btn-lg{ href: new_organization_path }
            Apply

        .trusted-by.hidden-lg-up
          %h3
            Used by bike shops everywhere
          - shop_partners = capture_haml do
            %ul
              %li.hidden-on-trusted-by-next-steps
                = image_tag 'landing_pages/partners/Joe-Bike.png', alt: 'Joe Bike'
              %li.partner-logo-rectangle
                = image_tag 'landing_pages/partners/Gray-Goat.png', alt: 'Gray Goat'
              %li
                = image_tag 'landing_pages/partners/Bike-Lane-Chicago.png', alt: 'Bike Lane Chicago'
              %li
                = image_tag 'landing_pages/partners/All-Star-Bikes.png', alt: 'All Star Bikes'
              %li.partner-logo-rectangle
                = image_tag 'landing_pages/partners/Mission-Bicycle-Company.png', alt: 'Mission Bicycle Company'
              %li.partner-logo-rectangle
                = image_tag 'landing_pages/partners/City-Bikes-DC.png', alt: 'City Bikes DC'
              %li
                = image_tag 'landing_pages/partners/Ferris-Wheels.png', alt: 'Ferris Wheels'
              
          = shop_partners

      .next-steps-col
        .next-steps-wrap
          %header#contact-bike-index
            Sign up for free
          %a.btn.btn-primary.btn-lg{ href: new_organization_path }
            Get started
          .trusted-by-next-steps.hidden-md-down
            %h3
              Used everywhere
            = shop_partners
            