.signup-landing-page.signup-landing-page-ambassadors.signup-landing-page-ambassadors-current
  %header.banner-header
    .container
      .row
        .icon-wrapper
          = render "/landing_pages/icons/header_ambassadors_svg"
      .row
        %h1 Current Ambassadors
        %h3 The heroes of bikedom
        %a.btn.btn-primary.btn-lg{ href: 'mailto:lily@bikeindex.org' }
          Join their ranks

    .ribbon
      .container
        .noribbon
  .container.ambassadors-list
    .row
      .col-md-3.col-xs-6
        = image_tag 'landing_pages/ambassadors/Michelle-Farris.jpg', alt: 'Michelle Farris'
        %h2
          Michelle Farris
        %h3
          Seattle, WA
        %h4
          Why Bike Index?
        %p
          Educating kids about how to lock their bikes and register them is an important part of growing bike commuters!
      .col-md-3.col-xs-6
        = image_tag 'landing_pages/ambassadors/Brock-Howell.jpg', alt: 'Brock Howell'
        %h2
          Brock Howell
        %h3
          Seattle, WA
        %h4
          Why Bike Index?
        %p
          As the founder of Bicycle Security Advisors&mdash;who’s mission is to provide communities with the best information on how to keep bikes safely parked and protected from theft&mdash;Bike Index is unequivocally the most effective registry you can use.
      .col-md-3.col-xs-6
        = image_tag 'landing_pages/ambassadors/Chris-Olin.jpg', alt: 'Chris Olin'
        %h2
          Chris Olin
        %h3
          Rochester, NY
        %h4
          Why Bike Index?
        %p
          Bike Index isn't the only internet bike registry, but it's the only one that works and I firmly believe it's a direct result of how it was designed.
      .col-md-3.col-xs-6
        = image_tag 'landing_pages/ambassadors/Dirk-Degroot.jpg', alt: 'Dirk Degroot'
        %h2
          Dirk Degroot
        %h3
          Seattle, WA
        %h4
          Why Bike Index?
        %p
          After a couple of recoveries, I got hooked. It was so nice to be able to return some of these bikes to people who really love them.
      .col-md-3.col-xs-6
        = image_tag 'landing_pages/ambassadors/Jason-Cawood.jpg', alt: 'Jason Cawood'
        %h2
          Jason Cawood
        %h3
          Troutdale, OR
        %h4
          Why Bike Index?
        %p
          I believe community involvement makes a difference in crime and Bike Index is the easiest way to get involved and actually make a difference
      .col-md-3.col-xs-6
        = image_tag 'landing_pages/ambassadors/David-Saunders.jpg', alt: 'David Saunders'
        %h2
          David Saunders
        %h3
          Buffalo-Niagara, NY
        %h4
          Why Bike Index?
        %p
          Bike Index provides ease of use and security of mind. The simplicity of design makes it effective.
      .col-md-3.col-xs-6
        = image_tag 'landing_pages/ambassadors/Larry-Hager.jpg', alt: 'Larry Hager'
        %h2
          Larry Hager
        %h3
          Leduc, AB, Canada
        %h4
          Why Bike Index?
        %p
          If a person loses their bike there is such a feeling of loss but when its recovered there is such a feeling of renewal and restoration. That is the reason I promote Bike Index
            
      .col-md-3.col-xs-6
        = image_tag 'landing_pages/ambassadors/placeholder.png', alt: 'This could be you!'
        %h2
          Your Name Here
        %h3
          Anytown, USA
        %h4
          What's your story?
        %p
          Become a Bike Index Ambassador and help stolen bikes find their way home