- landing_page_target = 'ascend'
.signup-landing-page{ class: "signup-landing-page-#{landing_page_target}" }

  .container
    .row.main-body-row
      .landing-why-col.ascend-how
        .ascend-image
          = render "landing_pages/icons/header_#{landing_page_target}_svg"

        %h1= translate_with_args(".automatic_bicycle_registration")
        %h3= translate_with_args(".link_your_ascend_retail_and_bike_index")

        %p= translate_with_args(".we_have_a_new_free_bicycle_registration")
        %p= translate_with_args(".if_your_shop_uses_lightspeed_html", lightspeed_path: lightspeed_path)
        %p= translate_with_args(".once_youve_set_up_the_trek_ascenwd")
        %p= translate_with_args(".then_if_a_customers_bike_goes_missing_html", privacy_path: privacy_path)
        %p
          %strong

        %ol
          %li
            - new_org_link = link_to translate_with_args(".new_bike_shop_org"), new_organization_path
            = translate_with_args(".sign_up_as_a_new_org_html", new_org_link: new_org_link)
          %li
            - ascend_link = link_to translate_with_args(".ascend_knowledge_base_article"), "https://help.ascendrms.com/reporting/send-purchase-and-registration-information-to-bike-index"
            = translate_with_args(".follow_the_setup_instructions_html", ascend_link: ascend_link)

          %li
            = translate_with_args(".email_us_the_password_to_finish_setting_u")
        %p
          - shops_email_link = link_to "bikeshops@bikeindex.org", "mailto:bikeshops@bikeindex.org"
          - security_link = link_to translate_with_args(".security_link_text"), "https://bikeindex.org/info/security-faq-pos-integrations"
          = translate_with_args(".email_shops_security_html", shops_email_link: shops_email_link, security_link: security_link)
