- landing_page_target = "school"

.signup-landing-page.signup-landing-page-campus-packages
  %header.banner-header
    .container
      .campus-packages-main-title
        %h1
          Bike Index for Colleges & Universities
        %h2
          Clean up your Campus' messy registry.
          %br
          All plans come with a 30-day free trial

      %ul.campus-packages-price-list
        %li
          %h4
            Free Forever
          .campus-packages-package
            %h5
              &nbsp;
            %h3
              <span>$</span>0
            %p
              \/Month
            %a.btn.btn-primary{ href: new_organization_path }
              Sign Up Now

        %li
          %h4
            Supporting School
          .campus-packages-package
            %h5
              Keep us peddling
            %h3
              <span>$</span>25
            %p
              \/Month
            %a.btn.btn-primary.tryPaidButton{ href: "#", "data-plan" => "supporting" }
              Try For Free

        %li
          %h4
            Small Campus
          .campus-packages-package
            %h5
              0-10k Members
            %h3
              <span>$</span>330
            %p
              \/Month
            %a.btn.btn-primary.tryPaidButton{ href: "#", "data-plan" => "small" }
              Try For Free

          %li
            %h4
              Medium Campus
            .campus-packages-package
              %h5
                10k-20k Members
              %h3
                <span>$</span>500
              %p
                \/Month
              %a.btn.btn-primary.tryPaidButton{ href: "#", "data-plan" => "medium" }
                Try For Free

          %li
            %h4
              Large Campus
            .campus-packages-package
              %h5
                20k+ Members
              %h3
                <span>$</span>750
              %p
                \/Month
              %a.btn.btn-primary.tryPaidButton{ href: "#", "data-plan" => "large" }
                Try For Free
  .container.main-compare-packages-container
    %h2
      Compare Plans and Features
    %table.table.compare-packages-table.table-striped
      %thead
        %tr
          %th
          %th
            %h4
              Free Forever
            %h3
              $0
            %p
              (USD/Month billed annually)
            %a.btn.btn-primary{ href: new_organization_path }
              Sign Up Now


          %th
            %h4
              Supporting School
            %h3
              $25
            %p
              (USD/Month billed annually)
            %a.btn.btn-primary.tryPaidButton{ href: "#", "data-plan" => "supporting" }
              Try For Free

          %th
            %h4
              Small Campus
            %h3
              $330
            %p
              (USD/Month billed annually)
            %a.btn.btn-primary.tryPaidButton{ href: "#", "data-plan" => "small" }
              Try For Free

          %th.most-popular-option
            .most-popular-note
              Most Popular
            %h4
              Medium Campus
            %h3
              $500
            %p
              (USD/Month billed annually)
            %a.btn.btn-primary.tryPaidButton{ href: "#", "data-plan" => "medium" }
              Try For Free

          %th
            %h4
              Large Campus
            %h3
              $750
            %p
              (USD/Month billed annually)
            %a.btn.btn-primary.tryPaidButton{ href: "#", "data-plan" => "large" }
              Try For Free
      %tbody
        %tr
          %td
            Email&nbsp;Support
          %td.table-cell-check
            %span.included-feature
              &#8226;
          %td.table-cell-check
            %span.included-feature
              &#8226;
          %td.table-cell-check
            %span.included-feature
              &#8226;
          %td.table-cell-check
            %span.included-feature
              &#8226;
          %td.table-cell-check
            %span.included-feature
              &#8226;

        %tr
          %td
            Feature description that is extra long
          %td.table-cell-check
            %span.included-feature
              &#8226;
          %td.table-cell-check
            %span.included-feature
              &#8226;
          %td.table-cell-check
            %span.included-feature
              &#8226;
          %td.table-cell-check
            %span.included-feature
              &#8226;
          %td.table-cell-check
            %span.included-feature
              &#8226;
        %tr
          %td
            Email support
          %td.table-cell-check
            &mdash;
          %td.table-cell-check
            %span.included-feature
              &#8226;
          %td.table-cell-check
            %span.included-feature
              &#8226;
          %td.table-cell-check
            %span.included-feature
              &#8226;
          %td.table-cell-check
            %span.included-feature
              &#8226;


    %p.mt-4
      %em.less-strong
        A la carte features and custom development available. Get in touch to find out more

  .contact-us-callout-wrapper
    .contact-us-callout
      %p
        Questions? Want to get started?
        = link_to "Contact us", "#", class: "btn btn-primary tryPaidButton"

- modal_body = capture_haml do
  = form_for @feedback, html: { class: 'organized-form' } do |f|
    .modal-body
      .form-group
        = f.label :name, "#{landing_page_target.titleize} name", class: "form-label"
        = f.text_field :name, required: true, class: "form-control"
      - unless current_user.present?
        .form-group
          = f.label :email, class: 'form-label'
          = f.text_field :email, class: 'form-control'

      = f.hidden_field :feedback_type, value: "lead_for_#{landing_page_target}"

      = f.submit "Sign up", class: 'btn btn-primary btn-lg'

= render partial: '/shared/modal', locals: { title: "Contact us for a free trial", id: "organizationSignupModal", modal_body: modal_body }
