- lead_type = "city"

:ruby
  plans = {
    free: { cost: 0, subhead: nil },
    supporting: { cost: 499, subhead: "Keep us pedaling" },
    small: { cost: 3999, subhead: "Town" },
    medium: { cost: 5999, subhead: "Small City", popular: true },
    large: { cost: 7999, subhead: "Metropolis" },
  }
  plan_sizes = plans.keys
  plan_features = [
    { free: true, supporting: true, small: true, medium: true, large: true, title: "Create organization account and contact registrants" },
    { free: true, supporting: true, small: true, medium: true, large: true,  title: "Embed a basic registration form on your website" },
    { free: false, supporting: true, small: true, medium: true, large: true,  title: "Search bikes in organization account" },
    { free: false, supporting: true, small: true, medium: true, large: true,  title: "Import CSV file of registrations from former system" },
    { free: false, supporting: true, small: true, medium: true, large: true,  title: "Social media ad campaign" },
    { free: "10", supporting: "10", small: "10", medium: "unlimited", large: "unlimited", title: "Staff accounts" },
    { free: false, supporting: false, small: true, medium: true, large: true,  title: "Branded registration landing page" },
    { free: false, supporting: false, small: true, medium: true, large: true,  title: "QR sticker scanning and messaging" },
    { free: false, supporting: false, small: true, medium: true, large: true,  title: "Ongoing programming, hosting, and support" },
    { free: false, supporting: false, small: false, medium: true, large: true,  title: "Contact registrants who have not finished registration" },
    { free: false, supporting: false, small: false, medium: true, large: true,  title: "Add logos and text to Bike Index emails " },
    { free: false, supporting: false, small: false, medium: true, large: true,  title: "Export custom data into CSV/XLSX files" },
    { free: false, supporting: false, small: false, medium: false, large: true,  title: "Add specific form fields to your landing page" },
    { free: false, supporting: false, small: false, medium: false, large: true,  title: "Avery mailing address formatted XLS export for mailing stickers" },
    { free: false, supporting: false, small: false, medium: true, large: true,  title: "Nest multiple organizations in one" },
  ]

.signup-landing-page.signup-landing-page-packages.signup-landing-page-cities-packages
  %header.banner-header
    .container
      .packages-main-title
        %h1
          Bike Index for Cities
        %h2
          Give your constituents the bike registry they want
          %br
          All plans come with a 30-day free trial
      %ul.packages-price-list
        = render partial: "/landing_pages/packages_list", locals: { lead_type: lead_type, plan_features: plan_features, plans: plans, render_features: false }

  .container.main-compare-packages-container
    %h2
      Compare Plans and Features
    %table.table.compare-packages-table.table-striped
      %thead
        %tr
          %th
          %th
            - plans.each do |plan, plan_data|
              - if plan == :free
                %h4
                  Free
                %h3
                  $0
                %p
                  Forever
                %a.btn.btn-primary{ href: new_organization_path }
                  Sign Up Now
              - else
                %th
                  %h4
                    #{plan.to_s.titleize} #{lead_type}
                  %h3
                    $#{number_with_delimiter(plan_data[:cost])}
                  %p
                    (USD/annually)
                  %a.btn.btn-primary.tryPaidButton{ href: "#", "data-plan" => plan.to_s }
                    Try For Free

      %tbody
        - plan_features.each do |feature|
          %tr
            %td
              = feature[:title]
            - plan_sizes.each do |size|
              %td
                - if feature[size].is_a?(String)
                  = feature[size]
                - else
                  %span.feature-boolean
                    - if feature[size]
                      %span.included-feature
                        &#8226;
                    - else
                      &mdash;


    %ul.packages-price-list-small-screens
      = render partial: "/landing_pages/packages_list", locals: { lead_type: lead_type, plan_features: plan_features, plans: plans, render_features: true }

    %p.mt-4
      %em.less-strong
        A la carte features and custom development available.
        %a.tryPaidButton{ href: "#" }
          Get in touch
        to find out more

  .contact-us-callout-wrapper
    .contact-us-callout
      Questions? Want to get started?
      = link_to "Contact us", "#", class: "btn btn-primary tryPaidButton"

- modal_body = capture_haml do
  = form_for @feedback, html: { class: 'organized-form' } do |f|
    .modal-body
      .form-group.currently-hidden
        - package_opts = plan_sizes.map { |s| ["#{s.to_s.titleize} package", s] }
        = f.select(:package_size, package_opts, { prompt: "Choose a package size" }, { class: "form-control" })
      .form-group
        = f.label :name, lead_type.titleize, class: "form-label"
        = f.text_field :name, required: true, class: "form-control"
      .form-group
        = f.label :phone_number, class: "form-label"
        = f.text_field :phone_number, class: "form-control"
      .form-group
        = f.label :email, class: "form-label"
        = f.email_field :email, value: current_user&.email, required: true, class: "form-control"
      .form-group.additional-field
        = f.label :additional, "Additional", class: "form-label"
        = f.text_area :additional, class: "form-control"
      - if @feedback.errors.present?
        .form-group.additional-field
          = f.text_area :body,  class: "form-control", rows: 2, required: true
      - else
        = f.hidden_field :body
      = f.hidden_field :feedback_type, value: "lead_for_#{lead_type}"

      = f.submit "Sign up", class: "btn btn-primary btn-lg"

= render partial: '/shared/modal', locals: { title: "Contact us for a free trial", id: "organizationSignupModal", modal_body: modal_body, start_open: @page_errors }
