.signup-landing-page
  %header.banner-header
    .container
      .banner.row
        .col-xs-1
          = image_tag 'landing_pages/circle_bike.svg'
        .col-xs-11
          %h1 Bike Index for Schools
          %h3 With bicycle theft a growing problem across campuses everywhere, students’ bikes can be difficult to protect without help.
    .ribbon
      .container
        %h2 Guard your school against bike theft
  .container
    .row
      .landing-why-col
        %h3 Why Choose Bike Index?
        %p
          Students have limited protections against bike theft, that’s why we’ve designed a platform to solve a fundamental barrier in safeguarding their bikes: the lack of a universal bike registry.
        %p
          With our web-based tools, your students can register their bikes, verify ownership, and alert the community to missing bikes from anywhere, with just a Smartphone or laptop.

        = image_tag 'landing_pages/body_placeholder.jpg'

        %h3 Join Our Growing Network
        %p
          As a Bike Index partner, you and your students will have access to a national network of almost 100,000 catalogued bikes—the largest of its kind—as well as a network of over 75,000 registered riders and 250+ partners in local law enforcement, bike organizations, pawnshops and retail businesses. All participating in a coordinated, community-driven effort dedicated to recovering lost or stolen bikes.

        = image_tag 'landing_pages/body_placeholder.jpg'

        %p
          Bike Index has generated 3,200+ successful recoveries, and with Bike Index’s assistance your campus staff and security will have the support they need to help us—and your school—generate a lot more. 


      .landing-signup-col
        .signup-col-wrap
          .contact-us-today
            %header
              Talk to us today
            = form_for Organization.new, html: { class: 'organized-form' } do |f|
              .form-group
                = f.label :name, 'Organization name', class: 'form-label'
                = f.text_field :name, required: true, class: 'form-control'

              .form-group
                = f.label :website, class: 'form-label'
                = f.text_field :website, class: 'form-control'
              .form-group
                = f.label :website, class: 'form-label'
                = f.text_field :website, class: 'form-control'

              %a.btn.btn-primary.btn-lg
                Get in touch
        .signup-col-wrap
          .trusted-by
            %h3
              Trusted by top universities and police departments
            %ul
              %li
                = image_tag 'landing_pages/used_by.png'
                %span A School
              %li
                = image_tag 'landing_pages/used_by.png'
                %span Another School
              %li
                = image_tag 'landing_pages/used_by.png'
                %span Another School
              %li
                = image_tag 'landing_pages/used_by.png'
                %span A police Department
              %li
                = image_tag 'landing_pages/used_by.png'
                %span A police Department
  = render '/landing_pages/footer/banner'