- landing_page_target = 'law_enforcement'
.org-signup-landing-page{ class: "org-landing-page-#{landing_page_target}" }
  %header.banner-header
    .container
      .banner.row
        .icon-wrapper
          = render "/landing_pages/icons/header_#{landing_page_target}_svg"
        .banner-text
          %h1 Bike Index for <br> Law Enforcement
          %h3 Is your agency equipped to fight bike theft? Bike Index can help officers get bikes back into the right hands.
    .ribbon
      .container
        %h2 Don’t let bike theft handcuff your department
  .container
    .row.main-body-row
      .landing-why-col
        %h3 Why Bike Index?
        %p
          Bike Index is the nation’s most widely used bicycle registration and recovery service. By partnering with Bike Index, your department will have access to our database of approximately 120,000 catalogued bikes, as well as a network of over 80,000 registered riders. We have 370+ additional partners across law enforcement agencies, bike organizations, pawn shops and retail businesses, all dedicated to recovering lost or stolen bikes, at no cost to the owners.

        %p
          You're the first one people call when their bike is stolen. You have the authority to bring bikes back, and it's not an easy job - we know. Let us provide you with tools to make this process smoother.
        
        = render partial: '/landing_pages/tweet', locals: { tweet_id: 839247587521679360 }

        %h3 How it works
        %p
          Bike Index users provide serial numbers, proof of ownership and identifying information about their bikes. When a bike is reported lost or stolen, our partners can search Bike Index to identify, locate, and track it from any computer or smartphone. Our extensive archive has helped officers recover bikes involved in criminal situations, from simple theft to chop shops, drug houses - even fencing rings and online black markets.

        %p
          Read about our over #{ number_with_delimiter recovered_bike_count.round(-2) } recoveries on our <a href="/news">blog</a>. For a complete list of Bike Index’s partners, visit <a href="/where">our partners page</a>, and for information on partnering with Bike Index, please contact us.

        = render partial: '/landing_pages/tweet', locals: { tweet_id: 890211853942407168 }
        
        .mobile-contact-link
          %a.btn.btn-primary.btn-lg.scroll-to-ref{ href: '#contact-bike-index', data: { offset: -110 } }
            Contact Bike Index

        .trusted-by
          %h3
            Trusted by Law Enforcement Everywhere
          %ul
            %li
              = image_tag 'landing_pages/partners/St-Louis-PD.png', alt: 'St. Louis PD'
            %li.partner-logo-rectangle
              = image_tag 'landing_pages/partners/Bike-Theft-Task-Force-Portland.png', alt: 'Portland Bike Theft Task Force'
            %li
              = image_tag 'landing_pages/partners/Santa-Monica-PD.png', alt: 'Santa Monica PD'
            %li
              = image_tag 'landing_pages/partners/City-of-Bend.png', alt: 'City of Bend'
            %li.offset-partner-logo
              = image_tag 'landing_pages/partners/Sunnyvale.png', alt: 'Sunnyvale'
            %li
              = image_tag 'landing_pages/partners/University-of-Washington.png', alt: 'University of Washington'
            %li
              = image_tag 'landing_pages/partners/SFPD.png', alt: 'SFPD'

      .next-steps-col
        .next-steps-wrap
          %header#contact-bike-index
            Talk to us today
          = render partial: '/landing_pages/next_steps_contact', locals: { landing_page_target: landing_page_target }
            
  = render '/landing_pages/footer'
