- landing_page_target = 'school'
.signup-landing-page{ class: "signup-landing-page-#{landing_page_target}" }
  %header.banner-header
    .container
      .banner.row
        .icon-wrapper
          = render "/landing_pages/icons/header_#{landing_page_target}_svg"
        .banner-text
          %h1 Bike Index for <br> Universities
          %h3 So many campus members ride bicycles. Protecting these bikes can be a full-time job. Let us help.
    .ribbon
      .container
        %h2 Guard your school against bike theft
  .container
    .row.main-body-row
      .landing-why-col
        %h3 Why Bike Index?
        %p
          We’ve designed a platform to solve a fundamental barrier in safeguarding bicycles: the lack of a universal bike registry. With our consolidated university registration sites, it's easier for police and transportation departments to search and recover campus bicycles. 
        %p
          Your students can register their bikes, verify ownership, and alert the community to missing bikes from anywhere. All they need is any smartphone or laptop. You have access to the data behind it all to understand how best to protect bikes on your campus.

        = render partial: '/landing_pages/tweet', locals: { tweet_id: 839247587521679360 }

        %h3 Join Our Growing Network
        %p
          As an official Bike Index partner, you and your students will have access to our national network of almost 130,000 registered bikes — the most widely-used registry in the U.S. - as well as a network of over 370+ partners in local law enforcement, bike organizations, pawnshops and retail businesses. 
        %p  
          Bike Index is committed to a community-driven effort in recovering lost and stolen bikes. No matter the type of bike or cyclist, we want to keep all bikes rolling with their rightful owners. 

        = render partial: '/landing_pages/tweet', locals: { tweet_id: 875747265167491072 }

        %p
          With over #{ number_with_delimiter recovered_bike_count.round(-2) } successful recoveries, Bike Index has experience to offer to your campus staff and security. You will have the support you need to increase bike protection on your campus.


        .mobile-contact-link
          %a.btn.btn-primary.btn-lg.scroll-to-ref{ href: '#contact-bike-index', data: { offset: -110 } }
            Contact Bike Index

        .trusted-by
          %h3
            Trusted by top universities and police departments
          %ul
            %li
              = image_tag 'landing_pages/used_by.png'
              %span A School
            %li
              = image_tag 'landing_pages/used_by.png'
              %span Another School
            %li
              = image_tag 'landing_pages/used_by.png'
              %span Another School
            %li
              = image_tag 'landing_pages/used_by.png'
              %span A police Department
            %li
              = image_tag 'landing_pages/used_by.png'
              %span A police Department

      .next-steps-col
        .next-steps-wrap
          %header#contact-bike-index
            Talk to us today
          = render partial: '/landing_pages/next_steps_contact', locals: { landing_page_target: landing_page_target }
            
  = render '/landing_pages/footer'
