- landing_page_target = "community_groups"

.signup-landing-page.landing-page{ class: "signup-landing-page-#{landing_page_target}" }
  %header.banner-header
    .container
      .row
        .icon-wrapper
          = render "/landing_pages/icons/header_#{landing_page_target}_svg"
        .banner-text
          %h1
            Bike Index for Community Groups
          %h3
            The most wide-reaching and effective tools against bike theft
            &mdash; period.

    .ribbon.mobile-contact-link
      .container
        %h2
          = link_to "Sign up for free", new_organization_path, class: "btn btn-primary btn-lg"

  .container
    .row.main-body-row
      .landing-why-col
        %h3 Help us help you

        %p
          We provide free and easy access to our registry for anyone and
          everyone who rides a bicycle, in any capacity. Bike Index is a
          community-driven effort in recovering lost and stolen bikes. No matter
          the type of bike or cyclist, we want to keep all bikes rolling with
          the owners that need them.

        %p
          Spread the Bike Index word to your constituents to get them riding
          protected. Create a free organization account #{link_to "here", new_organization_path}.

        %p
          = render partial: "/landing_pages/tweet", locals: { tweet_id: 875377223322259457 }

        %h3 Partners made in heaven
        %p
          Gone are the days where you had to register your bike in your
          neighborhood, county, city, state and country. Just register all bikes
          in Bike Index and a cyclists registration will be valid anywhere. Run
          registration drives? Host community cycling events? Let us know and we
          will send you Bike Index materials.

        %p
          Registrations are free. Forever. Join Bike Index and start registering
          today.

        %p
          Purchase a pack of advocacy materials #{link_to "here", "https://bikeindex.myshopify.com/"}.


        %h4 Related articles:
        %ul
          %li
            = link_to "Bike Index launches new Ambassadors program",
            "https://bikeindex.org/news/bike-index-launches-ambassadors-program"
          %li
            = link_to "Bike Index welcomes Stolen Bikes NOLA",
            "https://bikeindex.org/news/bike-index-welcomes-our-newest-partner---stolen-bikes-nola"


        .trusted-by.hidden-lg-up
          %h3
            Trusted by community groups everywhere
          = image_tag "landing_pages/logos/community-groups.png", alt: "community group partners"

      .next-steps-col
        .next-steps-wrap
          %header
            Trusted by community groups everywhere
            = link_to "Sign up for free", new_organization_path, class: "btn btn-primary btn-lg"
          .trusted-by
            .header
              Used by community groups everywhere
            = image_tag "landing_pages/logos/community-groups.png", alt: "community group partners"
