- landing_page_target = 'shop'
.org-signup-landing-page{ class: "org-landing-page-#{landing_page_target}" }
  %header.banner-header
    .container
      .banner.row
        .icon-wrapper
          = render "/landing_pages/icons/header_#{landing_page_target}_svg"
        .banner-text
          %h1 Bike Index for <br> Bike Shops
          %h3 Unite against bike theft and protect your customers' bikes before they're even out there.

    .ribbon
      .container
        %h2 Provide your customers just one, easy registry.
  .container
    .row.main-body-row
      .landing-why-col
        %h3 Why Bike Index?
        %p
          Bike Index is the nation’s most widely used and most effective bicycle registration and recovery service. By partnering with Bike Index, your shop will be able to provide your customers easy and official access to a network of over 120,000 users keeping an eye out for stolen bikes. 

        %p
          Also we're free, and a non-profit. Our only goal is to help the community counter bike theft and know their bike's information. Anyone who rides a bike knows how integral bike shops are to any local cycling community.  

        = render partial: '/landing_pages/tweet', locals: { tweet_id: 840324239425073152 }

        %h3 Register bikes for your customers
        
        %p
          We offer an easy way for you to register your customer's bikes - new or old. All you need at the point of sale is the bike's serial number, manufacturer, color and customer's email. And with their permission, we'll send them an email with all the pertinent information and their bicycle will be protected, forever, for free.

        = image_tag 'lightspeed_logo.png', class: 'landing-lightspeed-logo', alt: 'Lightspeed logo'
        %h3 Use Lightspeed Retail?
        %p
          We've made an official Lightspeed add-on to provide entirely automated registration for every bike you sell. All you have to do is make sure you input the serial number and take the customer's email.
        %p
          <a href="/lightspeed">Learn more</a> or <a href="/connect_lightspeed">connect your Lightspeed account</a>.

        .mobile-contact-link
          %a.btn.btn-primary.btn-lg{ href: new_organization_path }
            Sign up for Bike Index

        .trusted-by
          %h3
            Trusted by top universities and police departments
          %ul
            %li
              = image_tag 'landing_pages/used_by.png'
              %span A School
            %li
              = image_tag 'landing_pages/used_by.png'
              %span Another School
            %li
              = image_tag 'landing_pages/used_by.png'
              %span Another School
            %li
              = image_tag 'landing_pages/used_by.png'
              %span A police Department
            %li
              = image_tag 'landing_pages/used_by.png'
              %span A police Department

      .next-steps-col
        .next-steps-wrap
          %header#contact-bike-index
            Sign up for free
          %a.btn.btn-primary.btn-lg{ href: new_organization_path }
            Get started
            
  = render '/landing_pages/footer'
