%h1
  = action_name
- landing_page_target = 'school'
.signup-landing-page{ class: "signup-landing-page-#{landing_page_target}" }
  %header.banner-header
    .container
      .banner.row
        .icon-wrapper
          = render "/landing_pages/icons/header_#{landing_page_target}_svg"
        .banner-text
          %h1 Bike Index for <br> Universities
          %h3 With bicycle theft a growing problem across campuses everywhere, students’ bikes can be difficult to protect without help.
    .ribbon
      .container
        %h2 Guard your school against bike theft
  .container
    .row.main-body-row
      .landing-why-col
        %h3 Why Choose Bike Index?
        %p
          Students have limited protections against bike theft, that’s why we’ve designed a platform to solve a fundamental barrier in safeguarding their bikes: the lack of a universal bike registry.
        %p
          With our web-based tools, your students can register their bikes, verify ownership, and alert the community to missing bikes from anywhere, with just a Smartphone or laptop.

        = render partial: '/landing_pages/tweet', locals: { tweet_id: 839247587521679360 }

        %h3 Join Our Growing Network
        %p
          As a Bike Index partner, you and your students will have access to a national network of almost 100,000 catalogued bikes—the largest of its kind—as well as a network of over 75,000 registered riders and 250+ partners in local law enforcement, bike organizations, pawnshops and retail businesses. All participating in a coordinated, community-driven effort dedicated to recovering lost or stolen bikes.

        = render partial: '/landing_pages/tweet', locals: { tweet_id: 875747265167491072 }

        %p
          Bike Index has generated 3,200+ successful recoveries, and with Bike Index’s assistance your campus staff and security will have the support they need to help us—and your school—generate a lot more
      .next-steps-col
        .next-steps-wrap
          %header#contact-bike-index
            Talk to us today
          = render partial: '/landing_pages/next_steps_contact', locals: { landing_page_target: landing_page_target }
          / %a.btn.btn-primary.btn-lg
          /   Get in touch
        .next-steps-wrap
          - trusted_by = capture_haml do
            .trusted-by
              %h3
                Trusted by top universities and police departments
              %ul
                %li
                  = image_tag 'landing_pages/used_by.png'
                  %span A School
                %li
                  = image_tag 'landing_pages/used_by.png'
                  %span Another School
                %li
                  = image_tag 'landing_pages/used_by.png'
                  %span Another School
                %li
                  = image_tag 'landing_pages/used_by.png'
                  %span A police Department
                %li
                  = image_tag 'landing_pages/used_by.png'
                  %span A police Department
          / = trusted_by

    .row.mobile-bottom
      .col-xs-12
        %a.btn.btn-primary.btn-lg.contact-internal-link{ href: '#contact-bike-index' }
          Contact the Bike Index
      .col-xs-12
        = trusted_by

  = render '/landing_pages/footer'

:javascript
  $(document).ready(function() {
    $('.contact-internal-link').click(function(e) {
      event.preventDefault();
      var $target = $($(event.target).attr('href'));
      return $('body').animate({
        scrollTop: $target.offset().top - 100
      }, 'fast');
    });
  });
