- landing_page_target = "campus-packages"

.signup-landing-page{ class: "signup-landing-page-#{landing_page_target}" }
  %header.banner-header
    .container
      .row
        .icon-wrapper
          = render "/landing_pages/icons/header_school_svg"
        .banner-text
          %h1 Bike Index for Universities
          %h3 Protecting bikes on campus can be a full-time job. Let us help.
  .container
    .row.main-body-row
      .landing-why-col
        %h3 Make bike registration better
        %p
          We've designed a platform to solve a fundamental barrier in
          safeguarding bicycles: the lack of a universal bike registry. With our
          consolidated university registration sites, it's easier for police and
          transportation departments to search and recover campus bicycles.

        %p
          Your students can register their bikes, verify ownership, and alert
          the community to missing bikes from anywhere. All they need is any
          smartphone or laptop. You have access to the data behind it all to
          understand how best to protect bikes on your campus.

        = render partial: '/landing_pages/tweet', locals: { tweet_id: 863853852658761729 }

        %h3 How it works
        %p
          Bike Index users provide serial numbers, proof of ownership and
          identifying information about their bikes. When a bike is reported
          lost or stolen, our partners can search Bike Index to identify,
          locate, and track it from any computer or smartphone. Our extensive
          archive has helped officers recover bikes involved in criminal
          situations, from simple theft to chop shops, drug houses - even
          fencing rings and online black markets.

        %p
          Read about our over #{ number_with_delimiter Counts.recoveries }
          recoveries on our blog. For a complete list of Bike Index's partners,
          visit our partners page, and for information on partnering with Bike
          Index, please contact us.

        %h4 Related articles:
        %ul
          %li
            = link_to "Universities should use Bike Index as their registration system of choice",
            "https://bikeindex.org/news/universities-should-use-bike-index-as-their-registration-system-of-cho"
          %li
            = link_to "University of Pittsburgh partners with Bike Index to protect campus bicycles",
            "https://bikeindex.org/news/university-of-pittsburgh-partners-with-bike-index-to-protect-campus-bi"


        .mobile-contact-link
          %a.btn.btn-primary.btn-lg.scroll-to-ref{ href: '#contact-bike-index', data: { offset: -110 } }
            Contact Bike Index

      .next-steps-col
        .next-steps-wrap
          %header
            Keep campus bikes in order
            .btn.btn-primary.btn-lg Features &amp; Pricing &raquo;
          .trusted-by
            .header Trusted by top universities
            = image_tag "landing_pages/logos/universities.png", alt: "university partners"

  = render '/landing_pages/footer'
