- landing_page_target = "law_enforcement"

.signup-landing-page.landing-page{ class: "signup-landing-page-#{landing_page_target}" }
  %header.banner-header
    .container
      .row
        .icon-wrapper
          = render "landing_pages/icons/header_#{landing_page_target}_svg"

        .banner-text
          %h1= t(".bike_index_for_law_enforcement")
          %h3= t(".is_your_department_equipped_to_fight_bike")

    .ribbon.mobile-contact-link
      .container
        %h2
          = link_to t(".sign_up_for_free"), new_organization_path, class: "btn btn-primary btn-lg"

  .container
    .row.main-body-row
      .landing-why-col
        %h3= t(".recover_your_citizens_bikes")

        %p= t(".youre_the_first_one")

        - automated_tweets_link = link_to t(".automated_tweets"), "https://twitter.com/stolenbikessfo"
        - local_ambassadors_link = link_to t(".local_ambassadors"), ambassadors_how_to_path
        %p
          = t(".you_have_the_authority_to_bring_html", automated_tweets_link: automated_tweets_link, local_ambassadors_link: local_ambassadors_link)

        %p= t(".with_over_215000_registries_and_almost_55")

        %p= render partial: "landing_pages/tweet", locals: { tweet_id: 839247587521679360 }

        %h3= t(".put_a_lock_on_bike_theft")

        %p= t(".our_extensive_archive_has_helped_officers")

        %p= t(".with_over_600_partnerships_html", link: link_to(t(".here"), new_organization_path))

        %p
          = t(".if_you_want_to_collaborate_html", link: link_to(t(".here"), for_cities_path))

        %p= render partial: "landing_pages/tweet", locals: { tweet_id: 890211853942407168 }

        %h4= t(".related_articles")
        %ul
          %li
            = link_to t(".bend_reduces_bike_theft_by_60_percent"), news_path("bend-reduces-bike-theft-by-60-percent-with-help-from-pine-mountain-spo")
          %li
            = link_to t(".bike_indexs_newest_municipal_partner"), news_path("bike-indexs-newest-municipal-partner-new-orleans")

        .trusted-by.hidden-lg-up
          %h3
            = t(".trusted_by_law_enforcement_everywhere")
          = image_tag "landing_pages/logos/law-enforcement.png", alt: "law enforcement partners"

      .next-steps-col
        .next-steps-wrap
          %header
            = t(".trusted_by_law_enforcement_everywhere")
            = link_to t(".sign_up_for_free"), new_organization_path, class: "btn btn-primary btn-lg"
          .trusted-by
            .header
              = t(".trusted_by_law_enforcement_everywhere")
            = image_tag "landing_pages/logos/law-enforcement.png", alt: "law enforcement partners"
