- landing_page_target = "bike_shops"

.signup-landing-page.landing-page{ class: "signup-landing-page-#{landing_page_target}" }
  %header.banner-header
    .container
      .row
        .icon-wrapper
          = image_tag "redesign_2025/bikeshop.gif", alt: "Bike Shops"
        .banner-text
          %h1= t(".bike_index_for_bike_shops")
          %h3= t(".bikes_before_they")
          %h3= t(".do_right_by_your_customers")

    .ribbon.mobile-contact-link
      .container
        %h2= link_to t(".sign_up_for_free"), new_organization_path, class: "btn btn-primary btn-lg"

  .container
    .row.main-body-row
      .landing-why-col
        .embeded-tweet-break-top
          = render partial: "landing_pages/social_post", locals: { post_id: 840324239425073152 }

        %h3= t(".register_bikes_for_your_customers")
        %p
          = t(".build_goodwill_with_your_customers_with_a")
        %p
          - network_link = link_to t(".network_of_shop_partners"), where_path
          = t(".join_our_network_link_html", network_link: network_link)
          - new_org_link = link_to t(".here"), new_organization_path
          = t(".sign_up_for_a_free_bike_index_account_html", new_org_link: new_org_link)

        .video-responsive
          <iframe src="https://www.youtube.com/embed/Gq1Omxev9II" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        %h3{ style: "margin-top: 30px;"}
          = t(".automatic_registration_at_point_of_sale")
        %p
          = t(".for_free_we_provide_you_with_t")

        %p
          = render partial: "landing_pages/social_post", locals: { post_id: 1319724415840481280 }

        %p
          - security_link = link_to t(".security_link_text"), "https://bikeindex.org/info/security-faq-pos-integrations"
          = t(".curious_what_information_html", security_link: security_link)


        %h3.clearfix.with-landing-pos-logo
          = image_tag "lightspeed_logo.png", class: "", alt: "Lightspeed logo"
          = t(".use_lightspeed_retail")
        %p= t(".our_official_lightspeed_integration_provi")

        %p
          = link_to t(".learn_more"), lightspeed_path
          = t(".or")
          = link_to t(".connect_your_lightspeed_account"), lightspeed_interface_path(organization_id: passive_organization&.id)

        %h3.clearfix.with-landing-pos-logo
          = image_tag "ascend-logo.png", class: "landing-ascend-logo", alt: "Ascend logo"
          = t(".use_ascend")

        %p
          - ascend_link = link_to t(".here"), ascend_path
          = t(".connect_your_ascend_account_html", ascend_link: ascend_link)

        %p
          - printed_materials_link = link_to t(".printed_materials"), store_path
          = t(".dont_use_ascend_or_lightspeed_html", printed_materials: printed_materials_link)

        %h4= t(".related_articles")
        %ul
          %li
            = t(".check_out")
            = link_to t(".bike_shops_deck"), "https://docs.google.com/presentation/d/1oQ3b96NRtAgJmYNhNfrAP3khDvB8lO_0gFG1cq86Rx0/edit?usp=sharing"
          %li
            = link_to t(".driving_service_revenues_with_bicycle_reg"), news_path("driving-service-revenues-with-bicycle-registration")
          %li
            = link_to t(".5_ways_to_grow_community_for_your_bike_sh"), news_path("5-ways-to-grow-community-for-your-bike-shop")
          %li
            = link_to t(".embed_a_bike_index_registration_form"), news_path("embed-a-bike-index-registration-form-on-your-website")

        .trusted-by.hidden-lg-up
          %h3= t(".used_at_bike_shops_everywhere")
          = image_tag "landing_pages/logos/bike_shops.png", alt: "bike shop partners"

      .next-steps-col
        .next-steps-wrap
          %header
            = t(".used_at_bike_shops_everywhere")
            = link_to t(".sign_up_for_free"), new_organization_path, class: "btn btn-primary btn-lg"
          .trusted-by
            .header= t(".trusted_by_bike_shops_everywhere")
            = image_tag "landing_pages/logos/bike_shops.png", alt: "bike shop partners"
