.root-landing-page
  %header.root-landing-banner-header
    .container
      .row
        .root-landing-header-text
          %p
            %strong
              = number_with_delimiter recovered_bike_count
            bikes recovered.
          %h1 Bike Registration that Works
        .root-landing-signup
          = form_for User.new do |f|
            .form-group
              = f.label :email, class: 'sr-only'
              = f.email_field :email, placeholder: 'email', class: 'form-control'
            .form-group
              = f.label :name, class: 'sr-only'
              = f.text_field :name, placeholder: 'name', class: 'form-control'
            .form-group
              = f.label :password, class: 'sr-only'
              = f.password_field :password, placeholder: 'password', class: 'form-control'

            .checkbox
              %label
                = f.check_box :terms_of_service
                I agree to Bike Index 
                %a.no-tab{ data: { target: terms_url } }
                  terms and conditions

            = f.submit 'Sign up for free', class: 'btn btn-success btn-lg'
            .or-block
              or
            %a.btn.btn-primary.btn-lg.root-landing-facebook{ href: '/auth/facebook' }
              Sign up with Facebook


  .root-landing-recovery-stories
    .container
      .row
        .recovery-story-wrapper
          %h3
            Recovery story goes here

  .root-landing-how-it-works
    .container
      .row
        register, etc
            
  = render partial: '/landing_pages/footer', locals: { is_root: true }

  .root-landing-who
    .container
      %h3.landing-container-label Used By
      .root-landing-who-wrap
        .root-landing-who-square
          = image_tag 'landing_pages/partners/people_for_bikes.png', alt: 'People For Bikes'
        .root-landing-who-square
          = image_tag 'landing_pages/partners/people_for_bikes.png', alt: 'People For Bikes'
        .root-landing-who-rectangle
          = image_tag 'landing_pages/partners/bike_east_bay.png', alt: 'Bike East Bay'
        .root-landing-who-square
          = image_tag 'landing_pages/partners/people_for_bikes.png', alt: 'People For Bikes'
        .root-landing-who-rectangle
          = image_tag 'landing_pages/partners/bike_east_bay.png', alt: 'Bike East Bay'
        .root-landing-who-square
          = image_tag 'landing_pages/partners/people_for_bikes.png', alt: 'People For Bikes'
        .root-landing-who-rectangle
          = image_tag 'landing_pages/partners/bike_east_bay.png', alt: 'Bike East Bay'

