<% nav_header_list_items = capture do %>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle <%= @search_kind != 'all' ? 'active' : '' %>"
      href="#"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <% if @search_kind == "all" %>
        All Kinds
      <% else %>
        <%= @search_kind.humanize %>
      <% end %>
    </a>

    <div class="dropdown-menu">
      <%= link_to "All kinds", admin_bike_sticker_updates_path(sortable_search_params.merge(search_kind: nil)), class: "dropdown-item #{@search_kind == 'all' ? 'active' : ''}" %>

      <% BikeStickerUpdate.kinds.each do |kind| %>
        <% kind_active = @search_kind == kind %>
        <%= link_to kind.humanize, admin_bike_sticker_updates_path(sortable_search_params.merge(search_kind: kind_active ? nil : kind)), class: "dropdown-item #{kind_active ? 'active' : ''}" %>
      <% end %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle <%= @search_organization_kind != 'all' ? 'active' : '' %>"
      href="#"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <% if @search_organization_kind == "all" %>
        Organization Kinds
      <% else %>
        <%= @search_organization_kind.humanize %>
      <% end %>
    </a>

    <div class="dropdown-menu">
      <%= link_to "All Organization kinds", admin_bike_sticker_updates_path(sortable_search_params.merge(search_organization_kind: nil)), class: "dropdown-item #{@search_organization_kind == 'all' ? 'active' : ''}" %>

      <% BikeStickerUpdate.organization_kinds.each do |kind| %>
        <% kind_active = @search_organization_kind == kind %>
        <%= link_to kind.humanize, admin_bike_sticker_updates_path(sortable_search_params.merge(search_organization_kind: kind_active ? nil : kind)), class: "dropdown-item #{kind_active ? 'active' : ''}" %>
      <% end %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle <%= @search_creator_kind != 'all' ? 'active' : '' %>"
      href="#"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <% if @search_creator_kind == "all" %>
        All creators
      <% else %>
        <%= @search_creator_kind.gsub("creator_", "").humanize %>
      <% end %>
    </a>

    <div class="dropdown-menu">
      <%= link_to "All creators", admin_bike_sticker_updates_path(sortable_search_params.merge(search_creator_kind: nil)), class: "dropdown-item #{@search_creator_kind == 'all' ? 'active' : ''}" %>

      <% BikeStickerUpdate.creator_kinds.each do |creator_kind| %>
        <% kind_active = @search_creator_kind == creator_kind %>
        <%= link_to creator_kind.gsub("creator_", "").humanize, admin_bike_sticker_updates_path(sortable_search_params.merge(search_creator_kind: kind_active ? nil : creator_kind)), class: "dropdown-item #{kind_active ? 'active' : ''}" %>
      <% end %>
    </div>
  </li>
<% end %>

<% rendered_chart = nil %>

<% if @render_chart %>
  <% rendered_chart = capture do %>
    <% if @search_kind == "all" %>
      <% series = BikeStickerUpdate.kinds.map { |kind| {name: kind.humanize, data: UI::Chart::Component.time_range_counts(collection: matching_bike_sticker_updates.where(kind: kind), time_range: @time_range)} } %>
      <%= render(UI::Chart::Component.new(series:, time_range: @time_range, stacked: true, colors: ["#5cb85c", "#3498db", "#ffc281", "#d12310"])) %>
    <% else %>
      <% series = [{name: "Sticker updates", data: UI::Chart::Component.time_range_counts(collection: matching_bike_sticker_updates, time_range: @time_range)}] %>
      <%= render(UI::Chart::Component.new(series:, time_range: @time_range, stacked: true)) %>
    <% end %>

    <% unless params[:organization_id].present? %>
      <% update_kinds = BikeStickerUpdate.kinds %>
      <div class="full-screen-table mt-2">
        <table class="table table-striped table-bordered table-sm">
          <thead class="small-header">
            <th>Organization</th>

            <% if @search_kind == "all" %>
              <% update_kinds.each do |kind| %>
                <th class="small"><%= kind.humanize %></th>
              <% end %>
            <% end %>

            <th>Total</th>
          </thead>

          <tbody>
            <% matching_org_ids = matching_bike_sticker_updates.distinct.pluck(:organization_id)
            matching_sticker_per_org_id = matching_org_ids.map do |id|
              if @search_kind == "all"
                values = update_kinds.map { |kind| [kind, matching_bike_sticker_updates.where(organization_id: id, kind: kind).count] }.to_h
                [id, values.merge(total: values.values.sum)]
              else
                [id, {total: matching_bike_sticker_updates.where(organization_id: id).count}]
              end
            end %>

            <% matching_sticker_per_org_id.sort_by { |_id, values| values[:total] }.each do |id, values| %>
              <% organization = Organization.unscoped.find_by_id(id) if id.present? %>

              <tr>
                <td class="small">
                  <% if organization.present? %>
                    <%= link_to organization.short_name, admin_bike_sticker_updates_path(sortable_search_params.merge(organization_id: id)), class: (organization.deleted? ? "text-danger" : "") %>
                  <% else %>
                    <%= link_to "no organization", admin_bike_sticker_updates_path(sortable_search_params.merge(organization_id: "none")), class: "gray-link" %>
                  <% end %>
                </td>

                <% if @search_kind == "all" %>
                  <% update_kinds.each do |kind| %>
                    <td><small><%= number_display(values[kind]) %></small></td>
                  <% end %>
                <% end %>

                <td><%= number_display(values[:total]) %></td>
              </tr>
            <% end %>

            <tr>
              <td>Total</td>

              <% if @search_kind == "all" %>
                <% update_kinds.each do |kind| %>
                  <td>
                    <small>
                      <%= number_display(matching_sticker_per_org_id.map { |_id, values| values[kind] }.sum) %>
                    </small>
                  </td>
                <% end %>
              <% end %>

              <td>
                <%= number_display(matching_sticker_per_org_id.map { |_id, values| values[:total] }.sum) %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
<% end %>

<% admin_search_form = capture do %>
  <div class="tw:mt-4 tw:mb-2 tw:flex tw:justify-end">
    <%= form_tag admin_bike_sticker_updates_path, method: :get, class: "form-inline" do %>
      <%= render partial: "/shared/hidden_search_fields" %>

      <div class="form-group">
        <%= text_field_tag :search_query, params[:search_query], placeholder: "search for bike sticker", class: "form-control" %>
      </div>

      <%= submit_tag "Search", name: "search", class: "btn btn-primary ml-2" %>
    <% end %>
  </div>
<% end %>

<% table_view = capture do %>
  <% if @searched_bike_stickers.present? %>
    <div
      class="row matching-bike-stickers mt-4 mb-4"
      style="background: rgba(0, 0, 0, 0.05); border: 1px solid #ccc;"
    >
      <div class="col-12 pt-4 pb-2">
        <h2>
          Matching
          <% if params[:search_query].present? %>
            <%= link_to "bike stickers", admin_bike_stickers_path(search_query: params[:search_query]) %>
          <% else %>
            bike stickers
          <% end %>
          <small><%= number_display(@searched_bike_stickers.count) %></small>
        </h2>

        <% if @searched_bike_stickers.count > 100 %>
          <h3>More than 100 matching stickers, just showing the first 100</h3>
        <% end %>

        <%= render partial: "/admin/bike_stickers/table", locals: {bike_stickers: @searched_bike_stickers.limit(100)} %>
      </div>
    </div>
  <% end %>

  <%= render partial: "table", locals: {collection: @bike_sticker_updates, render_sortable: true} %>
<% end %>

<%= render(Admin::IndexSkeleton::Component.new(
  collection: @bike_sticker_updates,
  viewing: "Sticker updates",
  rendered_chart:,
  nav_header_list_items:,
  admin_search_form:,
  table_view:
)) %>
