<% time_zone ||= nil %>

<% if time_zone.present? %>
  <script>
    window.localTimezone = <%== time_zone.to_json %>;
  </script>
<% end %>

<h2 class="tw:mb-4 tw:text-sm">
  <span class="tw:opacity-65">Local time zone:</span>
  <span class="localizeTimezone"></span>
</h2>

<h6 class="tw:mt-2 tw:mb-1 tw:text-sm tw:opacity-65">
  format <code>:localize_time</code>
</h6>

<p id="current-time">
  <span class="tw:text-sm tw:opacity-65">Current time:</span>
  <%= render(UI::Time::Component.new(time: ::Time.current)) %>
</p>

<p>
  <span class="tw:text-sm tw:opacity-65">Yesterday:</span>
  <%= render(UI::Time::Component.new(time: ::Time.current - 1.day)) %>
</p>

<p>
  <span class="tw:text-sm tw:opacity-65">Tomorrow:</span>
  <%= render(UI::Time::Component.new(time: ::Time.current + 1.day)) %>
</p>

<p>
  <span class="tw:text-sm tw:opacity-65">One week ago:</span>
  <%= render(UI::Time::Component.new(time: ::Time.current - 7.days)) %>
</p>

<p>
  <span class="tw:text-sm tw:opacity-65">One year ago:</span>
  <%= render(UI::Time::Component.new(time: ::Time.current - 1.year)) %>
</p>

<h6 class="tw:mt-5 tw:mb-1 tw:text-sm tw:opacity-65">
  format <code>:localize_time_precise</code>
</h6>

<p>
  <span class="tw:text-sm tw:opacity-65">Yesterday (precise time):</span>
  <%= render(UI::Time::Component.new(time: ::Time.current - 1.day, format: :localize_time_precise)) %>
</p>

<p>
  <span class="tw:text-sm tw:opacity-65">One year ago (precise time):</span>
  <%= render(UI::Time::Component.new(time: ::Time.current - 1.year, format: :localize_time_precise)) %>
</p>
