<div class="tw:relative tw:inline-block" data-controller="dropdown">
  <button
    type="button"
    class="<%= button_classes %>"
    id="<%= button_id %>"
    aria-expanded="false"
    data-action="click->dropdown#toggle"
    data-dropdown-target="button"
  >
    <span class="tw:sr-only">Open <%= @name %> menu</span>
    <%= button_content %>

    <span
      class="
        twdropdown-chevron tw:inline-block tw:transition-transform
        tw:duration-200
      "
    >
      ▾
    </span>
  </button>

  <div
    class="
      tw:hidden tw:min-w-44 tw:rounded-lg tw:border tw:border-gray-200
      tw:bg-white tw:shadow-lg tw:dark:border-gray-700 tw:dark:bg-gray-800
    "
    data-dropdown-target="menu"
    data-dropdown-placement-value="<%= floating_ui_placement %>"
  >
    <ul role="menu" class="twdropdown" aria-labelledby="<%= button_id %>">
      <% entries.each do |entry| %>
        <%= entry %>
      <% end %>
    </ul>
  </div>
</div>
