<div class="tw:relative tw:inline-block" data-controller="dropdown">
  <button
    type="button"
    class="<%= @button_class %>"
    id="<%= @button_id %>"
    aria-expanded="false"
    data-action="click->dropdown#toggle"
    data-dropdown-target="button"
  >
    <span class="tw:sr-only">Open <%= @name %> menu</span>
    <%= @button_content %>
  </button>

  <div
    class="
      tw:z-50 tw:hidden tw:min-w-44 tw:rounded-lg tw:border
      tw:border-gray-200 tw:bg-white tw:shadow-lg tw:dark:border-gray-700
      tw:dark:bg-gray-800
    "
    data-dropdown-target="menu"
    data-dropdown-placement-value="<%= floating_ui_placement %>"
  >
    <% if @header %>
      <%= @header %>
    <% end %>

    <ul
      class="dropdown-menu tw:list-none tw:py-1"
      aria-labelledby="<%= @button_id %>"
    >
      <% items.each do |item| %>
        <% if item.to_s.strip == "---" %>
          <li role="separator" class="tw:my-1 tw:border-t tw:border-gray-200 tw:dark:border-gray-700"></li>
        <% else %>
          <li class="tw:[&>a]:block tw:[&>a]:px-4 tw:[&>a]:py-1 tw:[&>a]:text-gray-700 tw:[&>a]:no-underline tw:[&>a]:hover:bg-gray-100 tw:[&>a]:hover:text-gray-900 tw:dark:[&>a]:text-gray-200 tw:dark:[&>a]:hover:bg-gray-700 tw:dark:[&>a]:hover:text-gray-100"><%= item %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
