= f.submit 'Save', class: 'button-green save-listicles'
#listicle_image
  - @blog.listicles.each do |l|
    - if l.image.present?
      .list-image{ data: { order: l.list_order } }
        = image_tag l.image_url(:thumb)
        - if l.image_width.present?
          %span.bb-image-width
            W: #{l.image_width} H: #{l.image_height}
          - if l.image_width < 726
            %span.bb-image-width-small
              Image is too small
        / %a.edit-image-crop{ href: listicle_image_edit_admin_news_index_url(id: l.id), target: '_blank' }
        /   Crop image
= f.fields_for :listicles do |builder|
  = render 'listicle_fields', f: builder
.padded.clearfix.listicle-block
  = link_to_add_fields "Add listicle page", f, :listicles