- skip_order ||= false
.card.bg-light.admin-public-image
  .card-body
    .row
      .col-md-2.col-sm-6.mt-auto
        %p
          = public_image.name.truncate(18)
      .col-md-8.col-sm-6.mt-auto
        - if public_image.imageable_type != 'Blog'
          %textarea.form-control
            \&lt;img class="post-image" src="#{public_image.image_url}" alt="ENTER YOUR TEXT HERE"&gt;
          }
        - else
          %textarea.form-control
            \&lt;img class="post-image" src="#{public_image.image_url}" alt="ENTER YOUR TEXT HERE"&gt;
      .col-md-2.col-sm-12
        .img-box
          = image_tag(public_image.image_url(:small)) if public_image.image?
    %hr
    .row.mt-2
      .col-md-2
        = link_to "Delete", public_image_url(public_image, return_url: edit_admin_news_url(@blog)), method: :delete
      .col-md-8
        %p
          %span
            Copy the above text and paste it where you'd like it to appear in the post
      .col-md-2
        - unless skip_order
          .index-image-select
            %input{:class => "index_image_#{public_image.id}", :name => "index_image_id", :type => "radio", :value => "#{public_image.id}"}/
