.admin-subnav
  .col-md-6
    %h1
      News/Blogs/Info
  .col-md-6
    = link_to 'New Post', new_admin_news_url, class: "btn btn-success float-right"

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th
        Date&nbsp;<small class="convertTimezone"></small>
      %th.d-none.d-lg-table-cell
        Creator
      %th
        Content
      %th
        Kind
      %th
        Language
      %th
        Published
    %tbody
      - @blogs.each do |blog|
        %tr
          %td
            .less-strong-hold
              %small.convertTime
                = l blog.published_at, format: :convert_time
              - if current_user.developer?
                %small.less-strong-right
                  = blog.id
          %td.d-none.d-lg-table-cell
            = blog.user&.name || blog.user&.email
          %td
            %p.blog-index
              = link_to blog.title, edit_admin_news_url(blog)
              %br
              = blog.body_abbr.html_safe if blog.body_abbr
          %td
            - if blog.info?
              %span.text-success Info
            - elsif blog.is_listicle
              %span.text-warning Vignettes
          %td
            = t(blog.language, scope: [:locales])
          %td.table-cell-check
            = check_mark if blog.published
