%h1
  New #{@dignified_name}

- url = {action: "create", controller: "news"}
= form_for [:admin, @blog], :url => url do |f|
  = render(UI::AlertForErrors::Component.new(object: @blog))

  .row
    .col-auto
      .form-group
        = f.text_field :title, placeholder: "Blog title", class: "form-control"

  .row.mt-2
    .col-auto
      = f.submit 'Create Blog!', class: 'btn btn-success'
