<%
  # Only render stacked kinds if rendering type counts
  colors = ["#FBCA04", "#0E8A16", "#006B75", "#1D76DB", "#0052CC", "#B60205", "#D93F0B", "#5319E7", "#D4C5F9", "#2C3E50", "#F9D0C4", "#C2E0C6", "#C5DEF5", "#7DCABB"]

  # GROSS, sorry
  pos_kinds_start_counts = []
  start_colors = []
  pos_kinds_end_counts = []
  end_colors = []
  Organization.pos_kinds.each_with_index do |k, i|
    if matching_organization_statuses.where(pos_kind: k).where(start_at: @time_range).limit(1).present?
      pos_kinds_start_counts << {name: k.humanize, data: time_range_counts(collection: matching_organization_statuses.where(pos_kind: k), column: :start_at)}
      start_colors << colors[i]
    end
    if matching_organization_statuses.where(pos_kind: k).where(end_at: @time_range).limit(1).present?
      pos_kinds_end_counts << {name: k.humanize, data: time_range_counts(collection: matching_organization_statuses.where(pos_kind: k), column: :end_at)}
      end_colors << colors[i]
    end
  end

  show_with_pos_counts = %w[not_no_pos with_pos].include?(@pos_kind)
%>

<table
  class="
    table table-striped table-bordered table-sm without-exterior-border
    tw:mb-8
  "
>
  <thead class="small-header">
    <tr>
      <% if show_with_pos_counts %>
        <th>Active POS at start</th>
        <th>Active POS at end</th>
      <% else %>
        <th>Matching statuses at start</th>
        <th>Matching statuses at end</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% if show_with_pos_counts %>
        <td>
          <%= number_display(matching_organization_statuses_untimed.with_pos.at_time(@time_range.first).count) %>
        </td>
        <td>
          <%= number_display(matching_organization_statuses_untimed.with_pos.at_time(@time_range.last).count) %>
        </td>
      <% else %>
        <td>
          <%= number_display(matching_organization_statuses_untimed.at_time(@time_range.first).count) %>
        </td>
        <td>
          <%= number_display(matching_organization_statuses_untimed.at_time(@time_range.last).count) %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>

<% unless @ended %>
  <h4 class="mt-4">POS kinds <code>start_at</code></h4>
  <%= column_chart pos_kinds_start_counts, stacked: true, thousands: ",", colors: start_colors %>
<% end %>

<% unless @current %>
  <h4 class="mt-4">POS kinds <code>end_at</code></h4>
  <%= column_chart pos_kinds_end_counts, stacked: true, thousands: ",", colors: end_colors %>
<% end %>

<div class="tw:mt-10"></div>
