.admin-subnav
  .col-12
    %h1
      Autocomplete status

.row
  .col-md-6
    %h4.mb-3
      Autocomplete info
    %table.table-list
      %tbody
        %tr
          %td Category Keys
          %td
            = number_display(@autocomplete_info[:category_keys])
            %small.less-strong.ml-1
              should be > 100k
        %tr
          %td Cache Keys
          %td
            = number_display(@autocomplete_info[:cache_keys])
            %small.less-strong.ml-1
              they should expire every 10 minutes...

        - @autocomplete_info.except(:category_keys, :cache_keys).each do |key, value|
          %tr
            %td= key.to_s.humanize
            %td
              - if value.is_a?(Integer)
                = number_display(value)
              - else
                = value
