= javascript_include_tag "//www.google.com/jsapi", "chartkick"

%h1.text-center
  Go Hard

%h2.mb-4.mt-4
  Recent
  = link_to "Bikes", admin_bikes_url

= render partial: "/admin/bikes/admin_bikes_table", locals: { bikes: @bikes }


.row
  .col-md-7
  .col-md-5
    %p.float-right
      #{Bike.count} bikes total
      %em
        - today = Bike.where("created_at >= ?", Time.zone.now.beginning_of_day).count
        - yesterday = (Bike.where("created_at >= ?", Time.zone.now.beginning_of_day - 1.day).count) - today
        (#{today} today, #{yesterday} yesterday)
    - bikes = [ { name: 'Registrations', data: Bike.unscoped.group_by_day(:created_at, range: 1.weeks.ago.midnight..Time.now).count }, { name: 'Stolen', data: Bike.unscoped.where(stolen: true).group_by_day(:created_at, range: 1.weeks.ago.midnight..Time.now).count }]

%hr

= line_chart bikes

%hr

%h2.mt-4
  Recent
  = link_to "Users", admin_users_url
= render partial: "/admin/users/table"
.row
  .col-md-7
  .col-md-5
    %p.float-right
      #{User.count} users total
      - today = User.where("created_at >= ?", Time.zone.now.beginning_of_day).count
      - yesterday = (User.where("created_at >= ?", Time.zone.now.beginning_of_day - 1.day).count) - today
      %em
        (#{today} today, #{yesterday} yesterday)

%hr

%h2.mt-4
  Recent
  = link_to "Organizations", admin_organizations_url
.full-screen-table-wrapper
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th
        Name
      %th
        Approved
      %th
        Created At
      %th
        Bikes
      %th
        Memberships
      %th
        Type
      %th
        Locations
    %tbody
      - @organizations.each do |organization|
        %tr
          %td
            = link_to organization.name, admin_organization_url(organization)
            %small.less-strong
              = "paid" if organization.is_paid
          %td
            = "&#x2713;".html_safe if organization.approved
          %td
            %span.convertTime
              = l organization.created_at, format: :convert_time
          %td
            = organization.bikes.count
          %td
            = organization.memberships.count
          %td
            = link_to organization.kind.humanize, admin_organizations_path(kind: organization.kind)
          %td
            .less-strong-hold

              = organization.locations.count
              - if organization.show_on_map
                %span.less-strong-right
                  Mapped

  / # = link_to "Clear cache", admin_bust_z_cache_url, class: "button-blue"
