= javascript_include_tag "//www.google.com/jsapi", "chartkick"

%h1.text-center
  Go Hard

%h2.mb-4.mt-4
  Recent
  = link_to "Bikes", admin_bikes_url

= render partial: "/admin/bikes/admin_bikes_table", locals: { bikes: @bikes }


.row.justify-content-end
  .col-auto
    %p
      = number_with_delimiter(Bike.count)
      bikes total
      %em
        - today = Bike.where("created_at >= ?", Time.zone.now.beginning_of_day).count
        - yesterday = (Bike.where("created_at >= ?", Time.zone.now.beginning_of_day - 1.day).count) - today
        (#{today} today, #{yesterday} yesterday)
    - bikes = [ { name: 'Registrations', data: Bike.unscoped.group_by_day(:created_at, range: 1.weeks.ago.midnight..Time.now).count }, { name: 'Stolen', data: Bike.unscoped.where(stolen: true).group_by_day(:created_at, range: 1.weeks.ago.midnight..Time.now).count }]

= line_chart bikes

%hr

%h2.mt-4
  Recent
  = link_to "Users", admin_users_url
= render partial: "/admin/users/table"
.row.justify-content-end
  .col-auto
    %p
      = number_with_delimiter(User.count)
      users total
      - today = User.where("created_at >= ?", Time.zone.now.beginning_of_day).count
      - yesterday = (User.where("created_at >= ?", Time.zone.now.beginning_of_day - 1.day).count) - today
      %em
        (#{today} today, #{yesterday} yesterday)

%hr

%h2.mt-4
  Recent
  = link_to "Organizations", admin_organizations_url
= render partial: "/admin/organizations/admin_organizations_table"
.row.justify-content-end
  .col-auto
    %p
      = number_with_delimiter(Organization.count)
      Organizations total
      - today = Organization.where("created_at >= ?", Time.zone.now.beginning_of_day).count
      - yesterday = (Organization.where("created_at >= ?", Time.zone.now.beginning_of_day - 1.day).count) - today
      %em
        (#{today} today, #{yesterday} yesterday)
