= javascript_include_tag "//www.google.com/jsapi", "chartkick"

%h1.text-center
  Go Hard

%h2.mb-4.mt-4
  Recent
  = link_to "Bikes", admin_bikes_url

= render partial: "/admin/bikes/admin_bikes_table", locals: { bikes: @bikes }


.row
  .col-md-7
  .col-md-5
    %p.float-right
      #{Bike.count} bikes total
      %em
        - today = Bike.where("created_at >= ?", Time.zone.now.beginning_of_day).count
        - yesterday = (Bike.where("created_at >= ?", Time.zone.now.beginning_of_day - 1.day).count) - today
        (#{today} today, #{yesterday} yesterday)
    - bikes = [ { name: 'Registrations', data: Bike.unscoped.group_by_day(:created_at, range: 1.weeks.ago.midnight..Time.now).count }, { name: 'Stolen', data: Bike.unscoped.where(stolen: true).group_by_day(:created_at, range: 1.weeks.ago.midnight..Time.now).count }]

%hr

= line_chart bikes

%hr

%h2.mt-4
  Recent
  = link_to "Users", admin_users_url
= render partial: "/admin/users/table"
.row
  .col-md-7
  .col-md-5
    %p.float-right
      #{User.count} users total
      - today = User.where("created_at >= ?", Time.zone.now.beginning_of_day).count
      - yesterday = (User.where("created_at >= ?", Time.zone.now.beginning_of_day - 1.day).count) - today
      %em
        (#{today} today, #{yesterday} yesterday)

%hr

%h2
  Suspicious
  = link_to "DUPED bikes", duplicates_admin_bikes_url
- @duplicate_groups.each do |duplicate_group|
  %p
    %strong
      #{duplicate_group.segment}
    = link_to "ignore #{duplicate_group.segment}", ignore_duplicate_toggle_admin_bikes_path(id: duplicate_group.id), method: 'PUT', class: 'pull-right less-strong'
  %table.table.table-striped.table-bordered
    = render partial: "/admin/bikes/admin_bikes_table", locals: { bikes: duplicate_group.bikes, no_show_header: true, show_serial: true }

%hr


= form_for [:admin, @flavor] do |f|
  .row
    .col-md-8
      %h2
        Flavor
    .col-md-3
      .form-group.float-right
        = f.text_field :message, placeholder: "FLAVOR!!!!!", class: "form-control"
    .col-md-1
      .form-group
        = f.submit "Add", class: "btn btn-primary"

  %table.table.table-striped.table-bordered.table-sm.mb-4
    %thead.thead-light
      %th
        Text
      %th
        Date Added
      %th
        &nbsp;


    %tbody
      - @flavors.each do |flavor|
        %tr
          %td
            = flavor.message
          %td.convertTime
            = l flavor.created_at, format: :convert_time
          %td
            = link_to "delete", admin_flavor_text_url(flavor), method: :delete


  / # = link_to "Clear cache", admin_bust_z_cache_url, class: "button-blue"
