%h1.text-center
  Go Hard

%h2.mb-4.mt-4
  Recent
  = link_to "Bikes", admin_bikes_url

= render partial: "/admin/bikes/table", locals: { bikes: @bikes }

:ruby
  today = Bike.where("created_at >= ?", Time.current.beginning_of_day).count
  yesterday = (Bike.where("created_at >= ?", Time.current.beginning_of_day - 1.day).count) - today
  bikes = [
    { name: 'Registrations', data: Bike.unscoped.current.non_stolen.where(created_at: @time_range).send(group_by_method(@time_range), "bikes.created_at", range: @time_range, format: group_by_format(@time_range)).count },
    { name: 'Stolen', data: Bike.unscoped.current.stolen.where(created_at: @time_range).send(group_by_method(@time_range), "bikes.created_at", range: @time_range, format: group_by_format(@time_range)).count }
  ]

.row.justify-content-end
  .col-auto
    %p
      = number_with_delimiter(Bike.count)
      bikes total
      %em
        (#{number_with_delimiter(yesterday)} yesterday, #{number_with_delimiter(today)} today)

= column_chart bikes, stacked: true, thousands: ",", defer: true

%hr

%h2.mt-4
  Recent
  = link_to "Users", admin_users_url
= render partial: "/admin/users/table"
.row.justify-content-end
  .col-auto
    %p
      = number_with_delimiter(User.count)
      users total
      - today = User.where("created_at >= ?", Time.current.beginning_of_day).count
      - yesterday = (User.where("created_at >= ?", Time.current.beginning_of_day - 1.day).count) - today
      %em
        (#{number_with_delimiter(yesterday)} yesterday, #{number_with_delimiter(today)} today)

%hr

%h2.mt-4
  Recent
  = link_to "Organizations", admin_organizations_url
= render partial: "/admin/organizations/table"
.row.justify-content-end
  .col-auto
    %p
      = number_with_delimiter(Organization.count)
      Organizations total
      - today = Organization.where("created_at >= ?", Time.current.beginning_of_day).count
      - yesterday = (Organization.where("created_at >= ?", Time.current.beginning_of_day - 1.day).count) - today
      %em
        (#{number_with_delimiter(yesterday)} yesterday, #{number_with_delimiter(today)} today)
