.admin-subnav
  .col-12
    %h1
      Maintaining things

%h2
  Component manufacturer other

= render partial: "/admin/components/table", locals: {collection: @component_mnfgs}

%h2
  Component type other

= render partial: "/admin/components/table", locals: {collection: @component_types}

%h2
  Handlebar Types other
.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th
        Date
      %th
        Bike
    %tbody
      - @bikes_other_handlebar_type.each do |bike|
        %tr
          %td
            %span.convertTime
              = l bike.created_at, format: :convert_time

          %td
            = render Admin::BikeCell::Component.new(bike: bike)

.full-screen-table
  %h2
    Recent example bikes
    = link_to "Delete example bikes", admin_destroy_example_bikes_url
  - if @bikes.any?
    = render partial: "/admin/bikes/table"
    .row.justify-content-end
      .col-auto
        %p
          #{Bike.unscoped.where(example: true).count} example bikes total

  - else
    No example bikes right now!
