.admin-subnav
  .col-12
    %h1
      Scheduled jobs

.full-screen-table.mt-4
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      - if display_dev_info?
        %th.only-dev-visible
      %th Job
      %th Frequency
      %th Next run
      %th Last started
      %th Last finished
      %th Duration
    %tbody
      - ScheduledJobRunner.scheduled_workers.sort_by { |klass| klass.name.downcase }.each do |klass|
        - last_started = klass.last_started && Time.parse(klass.last_started)
        %tr
          - if display_dev_info?
            %td
              %code.small= klass
          %td
            = klass.to_s.gsub(/\Ascheduled/i, "").gsub(/worker\z/i, "").underscore.humanize
          %td
            = period_in_words(klass.frequency)
          %td
            - if last_started.blank? || (last_started + klass.frequency) < Time.current
              %span.less-strong now
            - else
              = period_in_words((last_started + klass.frequency) - Time.current)
          %td
            - if klass.last_finished.present?
              %span.convertTime.preciseTime
                = l Time.parse(klass.last_finished), format: :convert_time
          %td
            - if last_started.present?
              %span.convertTime.preciseTime
                = l last_started, format: :convert_time
          %td
            - if klass.last_finished.present? && last_started.present?
              = period_in_words(Time.parse(klass.last_finished) - last_started)
