%section.full-screen-table
  %h2
    TSV Exports!

%p
  TSVs are generated every night.
.tsv_export_list
  %table.table.table-striped.table-bordered
    %tbody
      - TsvMaintainer.tsvs.each do |tsv_info|
        %tr
          %td
            - if tsv_info[:updated_at].present?
              = l Time.zone.at(tsv_info[:updated_at].to_i), format: :short_with_hour
          %td
            %a{href: tsv_info[:path] }
              = tsv_info[:filename]
          %td
            = tsv_info[:description]
  
= form_tag admin_update_tsv_blacklist_path, method: :put, multipart: true do
  .control-group.padded
    = label_tag :tsv_blacklist, class: 'control-label' do
      Blacklist Bike Urls, <strong>1 per line</strong>. These can be the id (the number in the url), the bike url, admin url or edit url
    .blog-field
      = text_area_tag :blacklist, @blacklist.map{|i| "#{ENV['BASE_URL']}/bikes/#{i}"}.join("\n"), rows: 10, class: 'control-field'
  .control-group.actions.big-action
    = submit_tag "Save changes", class: "button-green submit-bike-update"