.admin-subnav
  .col
    %h1
      TSV Exports!
    %p
      TSVs are generated every night.


%h4
  Tsv reports:
- if @tsvs.none?
  %p.text-warning No TSVs
- else
  .full-screen-table
    %table.table.table-striped.table-bordered.table-sm.without-exterior-border#recordsTable
      %thead.small-header.hidden-md-down
        %th Updated
        %th File
        %th description
      %tbody
        - @tsvs.sort_by { |a| a[:updated_at] }.each do |tsv_info|
          %tr
            %td
              %span.convertTime
                = tsv_info[:updated_at].to_i
            %td
              %a{href: tsv_info[:path] }
                = tsv_info[:filename]
            %td
              = tsv_info[:description]

.row.mt-4
  .col-md-6
    = form_tag admin_update_tsv_blocklist_path, method: :put, multipart: true do
      = label_tag :tsv_blocklist do
        Blocklist Bike Urls, <strong>1 per line</strong>. These can be the id (the number in the url), the bike url, admin url or edit url
        .form-group
          = text_area_tag :blocklist, @blocklist.map{|i| "#{ENV['BASE_URL']}/bikes/#{i}"}.join("\n"), rows: 10, class: 'form-control'

    = submit_tag "Save changes", class: "btn btn-success submit-bike-update"
