.mb-4
  %h1
    = t(".edit_membership_html", email: @membership.invited_email)

%p.text-right
  = link_to t(".remove_from_organization"),
    organization_user_path(id: @membership.id, organization_id: current_organization.to_param),
    method: :delete,
    data: { confirm: t(".confirmation", user_name: @name, org_name: current_organization.name) },
    class: "btn btn-danger"

%table.table-list
  %tbody
    %tr
      %td
        = t(".invited")
      %td
        %span.converTime.preciseTime
          = l(@membership.created_at, format: :short_with_year)
    %tr
      %td
        = t(".signed_up")
      %td
        - if @membership.claimed?
          %span.converTime.preciseTime= l(@membership.claimed_at, format: :short_with_year)
        - else
          = t(".has_not_signed_up_html", name: @membership.invited_display_name)

= form_for @membership, { as: :membership, url: organization_user_path(id: @membership.id, organization_id: current_organization.to_param), action: 'update', html: { class: 'organized-form' } } do |f|
  .form-group.row
    %label.org-form-label= t(".email")
    .col-sm-4
      %p.static-form-control= @membership.user&.email

  .form-group.row
    %label.org-form-label
      = t(".membership_type")
    .col-sm-4
      .radio
        %label
          = f.radio_button :role, Membership.membership_types.first
          = t(".admin_of_organization")
      .radio
        %label
          = f.radio_button :role, Membership.membership_types.second
          = t(".member_of_organization")

  .row.mt-4.form-group
    .form-submit-button
      = f.submit t(".update"), class: "btn btn-success btn-lg"
