.mb-4
  %h1
    Edit membership
    %em.small
      for
      = @membership.invited_email
%p.text-right
  = link_to 'remove from organization', organization_user_path(id: @membership.id, organization_id: current_organization.to_param), method: :delete, data: { confirm: "Are you sure you want to remove #{@name} from #{current_organization.name}? (They will still be to use their personal account)" }, class: 'btn btn-danger'

%table.table-list
  %tbody
    %tr
      %td
        Invited
      %td
        %span.converTime.preciseTime
          = l @membership.created_at, format: :short_with_year
    %tr
      %td
        Signed up
      %td
        - if @membership.claimed?
          %span.converTime.preciseTime
            = l @membership.claimed_at, format: :short_with_year
        - else
          #{@membership.invited_display_name}
          %strong
            has still not signed up

= form_for @membership, { as: :membership, url: organization_user_path(id: @membership.id, organization_id: current_organization.to_param), action: 'update', html: { class: 'organized-form' } } do |f|

  .form-group.row
    %label.org-form-label
      Email
    .col-sm-4
      %p.static-form-control
        = @membership.user.email

  .form-group.row
    %label.org-form-label
      Membership type
    .col-sm-4
      .radio
        %label
          = f.radio_button :role, Membership.membership_types.first
          Admin of organization
      .radio
        %label
          = f.radio_button :role, Membership.membership_types.second
          Member of organization

  .row.mt-4.form-group
    .form-submit-button
      = f.submit 'Update', class: 'btn btn-success btn-lg'
