.mb-4
  %h1.uncap
    = t(".edit_organization_role_html", email: @organization_role.invited_email)

%p.text-right
  = link_to t(".remove_from_organization"),
    organization_user_path(id: @organization_role.id, organization_id: current_organization.to_param),
    method: :delete,
    data: { confirm: t(".confirmation", user_name: @name, org_name: current_organization.name) },
    class: "btn btn-danger"

%table.table-list
  %tbody
    %tr
      %td
        = t(".invited")
      %td
        %span.convertTime.preciseTime
          = l(@organization_role.created_at, format: :convert_time)
    %tr
      %td
        = t(".signed_up")
      %td
        - if @organization_role.claimed?
          %span.convertTime.preciseTime= l(@organization_role.claimed_at, format: :convert_time)
        - else
          = t(".has_not_signed_up_html", name: @organization_role.invited_display_name)
    %tr
      %td
        = t(".last_login")
      %td
        - if @organization_role&.user&.last_login_at&.present?
          %span.convertTime.preciseTime= l(@organization_role.user.last_login_at, format: :convert_time)
    %tr
      %td
        = t(".last_login_ip")
      %td
        - if @organization_role&.user&.last_login_ip&.present?
          %code= @organization_role.user.last_login_ip

= form_for @organization_role, { as: :organization_role, url: organization_user_path(id: @organization_role.id, organization_id: current_organization.to_param), action: 'update', html: { class: 'organized-form' } } do |f|
  .form-group.row
    %label.org-form-label= t(".email")
    .col-sm-4
      %p.static-form-control= @organization_role.user&.email

  = render partial: "organization_role_fields", locals: {f: f}

  .row.mt-4.form-group
    .form-submit-button
      = f.submit t(".update"), class: "btn btn-success btn-lg"
