.mb-4
  %h1= t(".manage_users")
  - user_count = number_with_delimiter(current_organization.sent_invitation_count)
  - if current_organization.restrict_invitations?
    %p
      = t(".you_have_invited_html", users_count: pluralize(user_count, t(".user")))
    %p
      - remaining_count = number_with_delimiter(current_organization.remaining_invitation_count)
      = t(".remaining_invites_html", invitations_count: remaining_count)

      - if current_organization.remaining_invitation_count > 0
        = link_to t(".invite_more_users"), new_organization_user_path(organization_id: current_organization.to_param)
  - else
    %p
      %strong
        #{user_count}
      Current users
    %p
      = t(".whitelisted_domain_info_html", email_suffix: "@#{current_organization.passwordless_user_domain}", org_name: current_organization.short_name)
      %em.less-strong
        = t(".you_can_also")
        #{link_to t(".manually_invite_email"), new_organization_user_path(organization_id: current_organization.to_param)}.
  %p
    - if current_organization.auto_user.present?
      = t(".emails_are_currently_sent_from_html", email: current_organization.auto_user.email)
      =  link_to t(".update_email"), organization_manage_path(organization_id: current_organization.to_param)

.paginate-container
  = paginate @memberships

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.sortable
      %th= sortable "created_at", t(".created")
      %th= sortable "invited_email", t(".to")
      %th= sortable "claimed_at", t(".claimed")
      %th= sortable "role", t(".is_admin")
      %th
        %small
          = sortable "sender_id", t(".sender")
    %tbody
      - @memberships.each do |membership|
        %tr
          %td
            %a.convertTime{ href: edit_organization_user_path(membership.id, organization_id: current_organization.to_param) }
              = l(membership.created_at, format: :convert_time)
          %td
            = membership.invited_display_name
            %small.less-strong.d-none.d-lg-inline-block
              = membership.invited_email
          %td
            - if membership.claimed_at.present?
              %span.convertTime
                = l(membership.created_at, format: :convert_time)
          %td= check_mark if membership.admin?
          %td
            - if membership.sender.present?
              %small
                = membership.sender.display_name
