.mb-4
  %h1
    Manage Users
  %p
    You have invited:
    %strong
      = number_with_delimiter(current_organization.sent_invitation_count)
      = "user".pluralize(current_organization.sent_invitation_count)
  %p
    You can add
    %strong
      = number_with_delimiter current_organization.remaining_invitation_count
      more
    - if current_organization.remaining_invitation_count > 0
      = link_to "Invite another user", new_organization_user_path(organization_id: current_organization.to_param)
  %p
    - if current_organization.auto_user.present?
      Emails are currently sent from <em>#{current_organization.auto_user.email}</em>. #{ link_to 'Update email', organization_manage_index_path(organization_id: current_organization.to_param) }

.paginate-container
  = paginate @memberships

.organized-table
  %table.table.table-striped.table-bordered.table-sm
    %thead
      %th
        = sortable "created_at"
      %th
        = sortable "invited_email", "To"
      %th
        = sortable "claimed_at"
      %th
        = sortable "role", "Admin?"
      %th
        %small
          = sortable "sender_id"
    %tbody
      - @memberships.each do |membership|
        %tr
          %td
            %span.convertTime
              = l membership.created_at, format: :convert_time
            %small.less-strong
              = membership.id
          %td
            = membership.invited_display_name
            %small.less-strong.d-none.d-lg-inline-block
              = membership.invited_email

          %td
            - if membership.claimed_at.present?
              %span.convertTime
                = l membership.created_at, format: :convert_time
          %td
            = "&#x2713;".html_safe if membership.admin?
          %td
            - if membership.sender.present?
              %small
                = membership.sender.display_name
