.organized-page-header
  %h1
    Manage Users
  %p
    You have added
    %strong
      #{ pluralize(current_organization.users.count, 'user') }
  %p
    And can add
    %strong
      #{current_organization.available_invitation_count} more.
    = link_to 'Invite another user', new_organization_user_path(organization_id: current_organization.to_param)
  %p
    - if current_organization.auto_user.present?
      Emails are currently sent from <em>#{current_organization.auto_user.email}</em>. #{ link_to 'Update email', organization_manage_index_path(organization_id: current_organization.to_param) }

.organized-table
  %table.table.table-striped.table-bordered
    %thead
      %th
        Name
      %th
        Email
      %th
        Date added
      / %th
      /   Total indexed
    %tbody
      - @memberships.each do |membership|
        %tr
          %td
            = link_to membership.user.name, edit_organization_user_path(membership.id, organization_id: current_organization.to_param)
          %td
            = membership.user.email
          %td
            = l membership.created_at, format: :short_with_year
          / %td.medium-screens
          /   = @bikes.where(creator_id: membership.user.id).count if @bikes.present?
      - @organization_invitations.each do |organization_invitation|
        %tr
          %td
            = link_to organization_invitation.invitee_name, edit_organization_user_path(organization_invitation.id, is_invitation: true, organization_id: current_organization.to_param)
          %td
            = organization_invitation.invitee_email
          %td
            %strong
              Has not signed up
            %br
            %small
              invited #{l organization_invitation.created_at, format: :short_with_year}
          %td
          / %td
