%h1.uncap
  = t(".manage_users")


- unless @show_matching_count
  - user_count = number_with_delimiter(current_organization.sent_invitation_count)
  - if current_organization.restrict_invitations?
    %p
      = t(".you_have_invited_html", users_count: pluralize(user_count, t(".user")))
    %p
      - remaining_count = number_with_delimiter(current_organization.remaining_invitation_count)
      = t(".remaining_invites_html", invitations_count: remaining_count)

      - if current_organization.remaining_invitation_count > 0
        = link_to t(".invite_more_users"), new_organization_user_path(organization_id: current_organization.to_param)
  - else
    %p
      %strong
        #{user_count}
      = t(".current_users")
    %p
      = t(".whitelisted_domain_info_html", email_suffix: "@#{current_organization.passwordless_user_domain}", org_name: current_organization.short_name)
      %em.less-strong
        = t(".you_can_also")
        #{link_to t(".manually_invite_email"), new_organization_user_path(organization_id: current_organization.to_param)}.
  %p
    - if current_organization.auto_user.present?
      = t(".emails_are_currently_sent_from_html", email: current_organization.auto_user.email)
      =  link_to t(".update_email"), organization_manage_path(organization_id: current_organization.to_param)

.row.mb-4.mt-4
  .col-md-6
    .paginate-container.text-left
      = paginate @memberships
  - if @show_user_search
    .col-md-6.text-right{ style: "margin-top: 0.25rem;" }
      = form_tag organization_users_path(organization_id: current_organization.to_param), method: :get, class: "form-inline" do
        = hidden_field_tag :sort, sort_column
        = hidden_field_tag :sort_direction, sort_direction
        = hidden_field_tag :organization_id, params[:organization_id]
        .form-group
          = text_field_tag :query, params[:query], placeholder: t(".find_by_name_or_email"), class: "form-control mt-2"
          = submit_tag t(".search"), name: "search", class: "btn btn-primary ml-2 mt-2"

- if @show_matching_count
  %p.mt-2.mb-2
    %strong
      = number_with_delimiter(@memberships.total_count)
    = t(".matching_user").pluralize(@memberships.total_count)

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.sortable
      %th= sortable "created_at", t(".created")
      %th= sortable "invited_email", t(".to")
      %th= sortable "claimed_at", t(".claimed")
      %th= sortable "role", t(".is_admin")
      %th
        %small
          = sortable "sender_id", t(".sender")
    %tbody
      - @memberships.each do |membership|
        %tr
          %td
            %a.convertTime{ href: edit_organization_user_path(membership.id, organization_id: current_organization.to_param) }
              = l(membership.created_at, format: :convert_time)
          %td
            = membership.invited_display_name
            %small.less-strong.d-none.d-lg-inline-block
              = membership.invited_email
          %td
            - if membership.claimed_at.present?
              %span.convertTime
                = l(membership.created_at, format: :convert_time)
          %td= check_mark if membership.admin?
          %td
            - if membership.sender.present?
              %small
                = membership.sender.display_name
