.side-box.mt-4
  %h3.first-item
    = t(".strava_integration")
  .inner
    - strava_integration = current_user.strava_integration
    - if strava_integration.present?
      - if strava_integration.syncing?
        %p
          %strong= t(".syncing_activities")
        %p.strava-download-count
          = t(".downloaded_count", count: strava_integration.activities_downloaded_count, total: strava_integration.athlete_activity_count || "?")
        .progress.mb-2
          .progress-bar{role: "progressbar", style: "width: #{strava_integration.sync_progress_percent}%", "aria-valuenow" => strava_integration.sync_progress_percent, "aria-valuemin" => "0", "aria-valuemax" => "100"}
            #{strava_integration.sync_progress_percent}%
        %p.small.less-strong
          = t(".sync_running_in_background")
        %div{data: {controller: "strava-sync-status", "strava-sync-status-url-value" => strava_sync_status_path}}

      - elsif strava_integration.synced?
        %p
          %strong= t(".connected_to_strava")
        %p
          = t(".activities_synced", count: strava_integration.activities_downloaded_count)

        - if strava_integration.athlete_gear.present?
          %p
            %strong= t(".your_strava_gear")
          %ul.list-unstyled
            - strava_integration.athlete_gear.each do |gear|
              %li= gear["name"]

      - elsif strava_integration.error?
        %p.text-danger
          %strong= t(".sync_error")
        %p= t(".sync_error_description")

      - else
        %p= t(".strava_connected_pending")

      = link_to t(".disconnect_strava"), strava_disconnect_path, method: :delete, class: "btn btn-sm btn-outline-danger mt-2", data: {confirm: t(".disconnect_confirm")}

    - else
      %p= t(".integrate_your_bikes_with_strava")
      = link_to strava_connect_path, class: "btn btn-primary" do
        = t(".connect_with_strava")
