= form_for @user, url: my_account_path, method: :patch, multipart: true, html: { class: 'primary-edit-user-form' } do |f|
  .form-well-container.container
    .row
      -# NOTE: delete_account uses JS to add .no-save-button to this menu
      %nav.primary-edit-form-well-menu
        %ul
          - @edit_templates.each do |template, description|
            %li
              - classname = @edit_template == template ? 'active' : ''
              %a{ href: edit_my_account_path(edit_template: template), class: classname }
                %h4
                  = description

        .form-well-edit-page-select
          // ignore this select in dirty forms
          %select.dirtyignore
            - @edit_templates.each do |template, description|
              %option{ selected: (@edit_template == template), value: edit_my_account_path(edit_template: template) }
                = description
        .edit-form-well-submit-wrapper
          = hidden_field_tag :edit_template, @edit_template
          = submit_tag t(".save_changes"), class: 'btn btn-lg btn-primary'

      .col-md-8.form-well
        = render partial: @edit_template, locals: { f: f }

.mobile-nonfloating-menu.pl-1.pr-1.text-center
  %strong.d-inline-block
    = t(".edit_pages")
  - menu_link_count = @edit_templates.keys.count
  - @edit_templates.each_with_index do |t_d, i|
    - template, description = t_d[0], t_d[1]
    - is_active = 'active' if @edit_template.match(/#{template}/)
    %a.ml-1.mr-1.d-inline-block.text-underline{href: edit_my_account_path(edit_template: template), class: is_active}
      = description
