<script src="/vendored_assets/bikes_search1.js"></script>

.container
  .row
    .col-md-12
      %h1
        Search for bike versions

  .mt-3.mb-4
    = render partial: "/shared/bike_search_form", locals: {search_path: bike_versions_path, skip_serial_field: true}

  .row
    .col-md-12
      - if @bike_versions.present?
        %ul.bike-boxes
          - @bike_versions.each do |bike_version|
            %li.bike-box-item{class: "tw:even:bg-gray-100 tw:dark:even:bg-gray-800"}
              %a.bike-list-image{ href: bike_version_path(bike_version), class: ('hover-expand' if bike_version.thumb_path) }
                = bike_thumb_image(bike_version)
              .bike-information
                %h5.title-link
                  %a{ href: bike_version_path(bike_version) }
                    %strong
                      = bike_version.type unless bike_version.type == 'bike'
                      = [bike_version.year, bike_version.mnfg_name].reject(&:blank?).join(' ')
                    = bike_version.frame_model.to_s
                %ul.attr-list
                  = attr_list_item(bike_version.frame_colors.to_sentence, t(".primary_colors"))
        .row
          .col-md-4.mt-4.offset-md-2
            .ad-block.ad-binx.ad468x60
          .col-md-8.col-lg-4.mt-4
            .paginate-container.paginate-container-bottom
              = render(Pagination::Component.new(pagy: @pagy, page_params: params, size: :lg))
        .row
          .col-md-8.mt-4.offset-md-2
            = render partial: "/shared/google_ad", locals: {klass: "ad-block ad-google adFullWidth"}
      - else
        %h3.no-exact-results
          No bike versions matched


:javascript
  window.interpreted_params = #{@interpreted_params.to_json};
  window.bike_placeholder_image = "#{bike_placeholder_image_path}";
