= render partial: "/bikes/bike_show_overlays"

.container
  - if current_user.present? # Header row is super admin stuff and credibility badges
    = render partial: "/bikes/header_row"

  .row
    .col-md-8
      %h1.bike-title
        = bike_status_span(@bike)
        %span.uncap= bike_title_html(@bike)

    .col-md-4.ad-col
      .ad-block.ad-binx.ad468x60
  .row
    = render partial: "/bikes/main_show_block"
    .col-md-4
      .social-share-bike.mb-4.mt-4
        %h4
          Share it!
        = render "/shared/share_this"

      .ad-block.ad-binx.ad300x600
      = render partial: "/shared/google_ad", locals: {klass: "ad-block ad-google ad300x600 mt-2"}
