.mb-4
  %h1
    Edit Sticker
    %em
      = @bike_code.code
  - if @bike_code.claimed?
    %p.text-right
      = link_to "Remove Bike link", organization_sticker_path(id: @bike_code.code, organization_id: active_organization.to_param, bike_id: nil), method: :put, class: "btn btn-danger"
%ul.attr-list
  %li
    %span.attr-title
      Bike:
    - if @bike_code.claimed?
      = link_to organized_bike_text(@bike_code.bike), bike_path(@bike_code.bike)
    - else
      %strong
        Unclaimed
  %li
    %span.attr-title
      Claimed:
    - if @bike_code.claimed_at.present?
      %span.convertTime
        = l @bike_code.created_at, format: :convert_time
  %li
    %span.attr-title
      Claimed by:
    - if @bike_code.user.present?
      = @bike_code.user.display_name
  %li
    %span.attr-title
      Previous Bike
    - if @bike_code.previous_bike_id
      - previous_bike = Bike.where(id: @bike_code.previous_bike_id).first
      = link_to previous_bike&.title_string || @bike_code.previous_bike_id, bike_path(@bike_code.previous_bike_id)

%hr.mt-4.mb-4

= form_for @bike_code, { url: organization_sticker_path(id: @bike_code.code, organization_id: active_organization.to_param), action: "update", html: { class: "organized-form" } } do |f|

  .form-group.row
    = f.label :bike_id, "Bike ID/URL", class: "org-form-label"
    .col-sm-4
      = f.text_field :bike_id, required: true, class: "form-control"
  .row.mt-4
    .form-submit-button
      = f.submit "Update", class: "btn btn-success btn-lg"
