.mb-4
  %h1
    = translate_with_args(".edit_sticker")
    %strong= @bike_sticker.pretty_code
  - if @bike_sticker.bike_id.present?
    %p.text-right
      = link_to translate_with_args(".remove_bike_link"),
        organization_sticker_path(id: @bike_sticker.code, organization_id: current_organization.to_param, bike_id: nil),
        method: :put,
        class: "btn btn-danger"

%table.table-list
  %tbody
    %tr
      %td= translate_with_args(".sticker")
      %td= @bike_sticker.pretty_code
    %tr
      %td= translate_with_args(".claimed")
      %td
        - if @bike_sticker.claimed_at.present?
          %span.convertTime
            = l(@bike_sticker.created_at, format: :convert_time)
    %tr
      %td= translate_with_args(".bike")
      %td
        - if @bike_sticker.claimed?
          = link_to(organized_bike_text(@bike_sticker.bike), bike_path(@bike_sticker.bike, organization_id: current_organization.to_param))
        - elsif @bike_sticker.bike_id.present?
          %span.text-danger= translate_with_args(".bike_is_unavailable")
        - else
          %strong= translate_with_args(".unclaimed")
    %tr
      %td= translate_with_args(".claimed_by")
      %td= @bike_sticker.user&.display_name

    - if @bike_sticker.previous_bike_id
      %tr
        %td= translate_with_args(".previous_bike")
        %td
          - previous_bike = Bike.find_by_id(@bike_sticker.previous_bike_id)
          - label = previous_bike&.title_string || @bike_sticker.previous_bike_id
          = link_to(label, bike_path(@bike_sticker.previous_bike_id, organization_id: current_organization.to_param))

%hr.mt-4.mb-4

= form_for @bike_sticker,
  { url: organization_sticker_path(id: @bike_sticker.code,
    organization_id: current_organization.to_param),
    action: "update",
    html: { class: "organized-form" } } do |f|

  .form-group.row
    = f.label :bike_id, translate_with_args(".bike_id_or_url"), class: "org-form-label"

    .col-sm-4
      = f.text_field :bike_id, required: true, class: "form-control"

  .row.mt-4
    .form-submit-button
      = f.submit translate_with_args(".update"), class: "btn btn-success btn-lg"

-# de-emphasize the updates
- bike_sticker_updates = @bike_sticker.bike_sticker_updates
%div{style: "opacity: 0.7;"}
  %hr.mt-5

  %h3.mt-4 Sticker assignments

  - if bike_sticker_updates.none?
    %p No updates
  - else
    %table.table.table-striped.table-bordered.table-sm.without-exterior-border
      %thead.small-header.hidden-md-down
        %th Time
        %th By
        %th Who
        %th Bike
        %th Kind
      %tbody
        - bike_sticker_updates.reorder(created_at: :desc).each do |bike_sticker_update|
          %tr
            %td
              %span.convertTime.preciseTime
                = l(bike_sticker_update.created_at, format: :convert_time)
            %td
              = bike_sticker_update.creator_kind_humanized
            %td
              = bike_sticker_update.user&.display_name
              - if bike_sticker_update.organization_id == current_organization.id
                = current_organization.short_name
              - else
                %em
                  - if bike_sticker_update.organization_id.present?
                    (#{bike_sticker_update.organization&.short_name || bike_sticker_update.organization_id})
                  - else
                    (No organization)
            %td
              - if bike_sticker_update.bike.present?
                = link_to(organized_bike_text(bike_sticker_update.bike), bike_path(bike_sticker_update.bike, organization_id: current_organization.to_param))
              - elsif bike_sticker_update.bike_id.present?
                %span.text-danger= translate_with_args(".bike_is_unavailable")
                %small.less-strong ID: #{bike_sticker_update.bike_id}
            %td
              = bike_sticker_update.kind_humanized
