.mb-4
  %h1
    Edit Sticker
    %em
      = @bike_code.code
  - if @bike_code.bike_id.present?
    %p.text-right
      = link_to "Remove Bike link", organization_sticker_path(id: @bike_code.code, organization_id: current_organization.to_param, bike_id: nil), method: :put, class: "btn btn-danger"

%table.table-list
  %tbody
    %tr
      %td
        Sticker
      %td
        = @bike_code.code
    %tr
      %td
        Claimed
      %td
        - if @bike_code.claimed_at.present?
          %span.convertTime
            = l @bike_code.created_at, format: :convert_time
    %tr
      %td
        Bike
      %td
        - if @bike_code.claimed?
          = link_to organized_bike_text(@bike_code.bike), bike_path(@bike_code.bike)
        - elsif @bike_code.bike_id.present?
          %span.text-danger
            Bike is unavailable - it was probably deleted
        - else
          %strong
            Unclaimed
    %tr
      %td
        Claimed by
      %td
        - if @bike_code.user.present?
          = @bike_code.user.display_name

    - if @bike_code.previous_bike_id
      %tr
        %td
          Previous Bike
        %td
          - previous_bike = Bike.find_by_id(@bike_code.previous_bike_id)
          = link_to previous_bike&.title_string || @bike_code.previous_bike_id, bike_path(@bike_code.previous_bike_id)

%hr.mt-4.mb-4

= form_for @bike_code, { url: organization_sticker_path(id: @bike_code.code, organization_id: current_organization.to_param), action: "update", html: { class: "organized-form" } } do |f|

  .form-group.row
    = f.label :bike_id, "Bike ID/URL", class: "org-form-label"
    .col-sm-4
      = f.text_field :bike_id, required: true, class: "form-control"
  .row.mt-4
    .form-submit-button
      = f.submit "Update", class: "btn btn-success btn-lg"
