-# TODO: translations

- if !current_organization.hot_sheet_enabled?
  .alert.alert-info
    %h3.uncap
      Hot Sheets are not enabled!
    - if current_user.admin_of?(current_organization)
      %p
        Enable them on the
        %span{ style: "text-decoration: underline;" } #{link_to "Hot Sheet configuration page", edit_organization_hot_sheet_path(organization_id: current_organization.to_param)}

- else
  .hot-sheet-header
    %h1
      #{current_organization.short_name} Hot Sheet
    %h3.uncap.mb-0.d-inline-block
      %span.switch-day-link
        - unless @next.blank?
          = link_to "&lt;", organization_hot_sheet_path(organization_id: current_organization.to_param, day: @next.sheet_date)
      %span.sheet-day-text
        - if @current
          Current
        - else
          - unless @hot_sheet.present?
            No hotsheet for
          = @day.strftime("%A, %b %-d")
      %span.switch-day-link
        - unless @previous.blank?
          = link_to "&gt;", organization_hot_sheet_path(organization_id: current_organization.to_param, day: @previous.sheet_date)


  -# if current_user.member_of?(current_organization, no_superuser_override: true)
  %alert.alert-info
    %h4 #{current_organization.short_name} Hot Sheet Notification preferences

