<div data-controller="collapse ui--period-select">
  <div
    id="timeSelectionBtnGroup"
    class="text-right tw:flex tw:flex-wrap tw:justify-end tw:gap-2 <%= "custom-period-selected" if @period == "custom" %>"
    role="group"
  >
    <% if @prepend_text.present? %>
      <span class="mr-2 less-strong d-block d-lg-inline-block">
        <%= @prepend_text %>
      </span>
    <% end %>

    <% visible_periods.each do |p| %>
      <%= render period_button(p[:key]) do %>
        <span>
          <% if p[:prefix] %>
            <span class="d-none d-md-inline">
              <%= translation(".#{p[:prefix]}") %>
            </span>
          <% end %><%= translation(".#{p[:label]}") %>
        </span>
      <% end %>
    <% end %>

    <%= render UI::Button::Component.new(
      text: translation(".custom"),
      size: :sm,
      active: @period == "custom",
      data: {period: "custom", action: "click->collapse#toggle"}
    ) %>
  </div>

  <%= form_with(
    url: "#",
    method: :get,
    builder: BikeIndexFormBuilder,
    html: {class: custom_form_classes, data: {collapse_target: "content", action: "submit->ui--period-select#submit"}}
  ) do |f| %>
    <div class="tw:flex tw:flex-wrap tw:items-center tw:justify-end tw:gap-3">
      <div class="tw:flex tw:items-center tw:gap-2">
        <%= f.label :start_time_selector, translation(".from"), class: "twlabel tw:m-0" %>

        <%= render Form::Input::Component.new(
          form_builder: f,
          attribute: :start_time_selector,
          kind: :datetime_local_field,
          html_options: {value: @start_time.strftime("%Y-%m-%dT%H:%M"), step: 60}
        ) %>
      </div>

      <div class="tw:flex tw:items-center tw:gap-2">
        <%= f.label :end_time_selector, translation(".to"), class: "twlabel tw:m-0" %>

        <%= render Form::Input::Component.new(
          form_builder: f,
          attribute: :end_time_selector,
          kind: :datetime_local_field,
          html_options: {value: @end_time.strftime("%Y-%m-%dT%H:%M"), step: 60}
        ) %>
      </div>

      <%= render UI::Button::Component.new(
        text: translation(".update"),
        color: :primary,
        size: :sm,
        kind: :submit
      ) %>
    </div>
  <% end %>
</div>
