.organized-exports
  .organized-page-header
    %h1
      %em
        = current_organization.name
      new export

  = form_for @export, {url: organization_exports_path(organization_id: current_organization.to_param), action: "create", html: {class: "organized-form"}} do |f|
    = f.hidden_field :timezone, value: "", class: "hiddenFieldTimezone"
    - if current_organization.enabled?("avery_export")
      .form-group.row
        = f.label :avery_export, "Avery Label Export", class: "org-form-label"
        .col-sm-4
          = f.check_box :avery_export
    - elsif current_organization.enabled?("bike_stickers")
      .form-group.row
        = f.label :assign_bike_codes, "Assign bike stickers", class: "org-form-label"
        .col-sm-4
          = f.check_box :assign_bike_codes
    - if current_organization.enabled?("avery_export") || current_organization.enabled?("bike_stickers")
      .form-group.row.shownOnAssignBikeCodes
        = f.label :bike_code_start, "Initial Sticker #", class: 'org-form-label'
        .col-sm-6
          = f.text_field :bike_code_start, value: current_organization.bike_stickers.next_unclaimed_code&.pretty_code, class: "form-control"
          %span.below-input-help
            Starting with given input, stickers will be incrementally assigned to bikes.
            -# For avery, we assign bike stickers unless they leave blank. Otherwise, unselect "assign_bike_codes"
            - if current_organization.enabled?("avery_export")
              Leave blank to skip assigning stickers to bikes
    .row.mt-2.hiddenOnAveryExport
      .col-lg-4
        %p.export-included-columns-label
          Included columns:
      .col-lg-8
        .row
          - checked_headers = @export.headers.present? ? @export.headers : Export.default_headers
          - Export.permitted_headers(current_organization).sort.each do |header|
            .form-group.col-xs-6.col-md-4
              %label.checkbox
                = f.check_box :headers, {multiple: true, checked: checked_headers.include?(header)}, header, 1
                - if header == "motorized"
                  Motorized / e-vehicle
                - else
                  = header.titleize(keep_id_suffix: true)
    .form-group.row.mt-4.hiddenOnOnlyCustom
      = f.label :start_at, "Registered after", class: "org-form-label"
      .col-sm-4
        %a.field-expander{href: "#"}
          Set after time
        .collapsed-fields
          = f.datetime_local_field :start_at, step: 60, class: "form-control"
          %a.field-collapser{href: "#"}
            remove
    .form-group.row.hiddenOnOnlyCustom
      = f.label :end_at, "Registered before", class: "org-form-label"
      .col-sm-4
        %a.field-expander{href: "#"}
          Set before time
        .collapsed-fields
          = f.datetime_local_field :end_at, step: 60, class: "form-control"
          %a.field-collapser{href: "#"}
            remove
    .form-group.row
      = f.label :custom_bike_ids, "Bikes to export", class: "org-form-label"
      .col-sm-8
        .row.hiddenOnOnlyCustom
          - if current_organization.enabled?("show_partial_registrations")
            - include_full = @export.partial_registrations != "only"
            - include_partial = @export.partial_registrations != false
            .col-xs-4.mb-0.hiddenOnAveryExport{style: "line-height: 1.25;"}
              %label.checkbox
                = check_box_tag :include_full_registrations, true, include_full
                Registered bikes
            .col-xs-4.mb-0.hiddenOnAveryExport{style: "line-height: 1.25;"}
              %label.checkbox
                = check_box_tag :include_partial_registrations, true, include_partial
                Incomplete registrations
          .col-xs-4.mb-0
            %a#addSpecificBikes.field-expander{href: "#"}
              Add specific bikes to export
        .collapsed-fields#expandCustomBikeIds
          = f.text_area :custom_bike_ids, value: @export.custom_bike_ids&.join(", "), placeholder: "Put the Bike Index URLs for specific additional bikes to include in this export. Separate with newlines or commas", class: "form-control mt-1"
          %span.below-input-help
            For example: <code>https://bikeindex.org/bikes/123, https://bikeindex.org/bikes/4567</code>
            %br
            %span.less-strong (can also be just the IDs - e.g. for the above: <code>123, 4567</code>)
          %label.checkbox.mt-0
            = f.check_box :only_custom_bike_ids
            <em>Only</em> include specific bikes
    .form-group.row.mt-2.hiddenOnAveryExport
      = f.label :format, "Export file format", class: "org-form-label"
      .col-sm-4
        = f.select :file_format, Export::VALID_FILE_FORMATS, {}, class: "form-control"

    .row.mt-4
      .form-submit-button
        = f.submit "Create export", class: "btn btn-success btn-lg"
