.organized-page-header
  %h1
    %em
      = current_organization.name
    new export

= form_for @export, { url: organization_exports_path(organization_id: current_organization.to_param), action: "create", html: { class: "organized-form" } } do |f|
  .form-group.row
    = f.label :start_at, "Registered after", class: "org-form-label"
    .form-well-input
      = f.datetime_local_field :start_at, step: 60, class: "form-control"
  .form-group.row
    = f.label :end_at, "Registered before", class: "org-form-label"
    .form-well-input
      = f.datetime_local_field :end_at, step: 60, class: "form-control"
  %p.less-strong.offset-md-2.mt-4{ style: "margin-bottom: 0;" }
    Included columns:
  - Export.permitted_headers.each do |header|
    .form-group.row
      .form-well-input.offset-md-4
        %label.checkbox
          = f.check_box :headers, { multiple: true, checked: Export.default_headers.include?(header) }, header, 1
          = header.titleize

  = f.submit "Create export", class: "btn btn-success btn-lg"