.organized-page-header
  %h1
    Exports
    %small
      = link_to "Download Export", @export.file.url, class: "btn btn-secondary pull-right"

%table.organized-list-table
  %tbody
    %tr
      %td
        Created
      %td
        %span.convertTime
          = l @export.created_at, format: :convert_time

    %tr
      %td
        By
      %td
        - if @export.user.present?
          = @export.user.display_name
    %tr
      %td
        Format
      %td
        = @export.file_format
    %tr
      %td
        Progress
      %td
        - export_progress_class = @export.progress == "finished" ? "text-success" : ""
        %span{ class: export_progress_class }
          = @export.progress

    %tr
      %td
        Bikes exported
      %td
        = @export.rows

    %tr
      %td
        Columns in csv
      %td
        %ul
          - @export.headers.each do |header|
            %li
              = header.humanize
