.organized-exports
  .organized-page-header
    %h1
      = translate_with_args(".exports")
      - if @export.finished?
        %small
          = link_to translate_with_args(".download_export"), @export.file.url, class: "btn btn-secondary pull-right"

  - if @avery_export_redirect
    .mb-4
      = render partial: "shared/alert", locals: { body: translate_with_args(".shared_alert_body"), type: "success" }

  %table.table-list
    %tbody
      %tr
        %td= translate_with_args(".created")
        %td
          %span.convertTime.preciseTime
            = l(@export.created_at, format: :convert_time)
      %tr
        %td= translate_with_args(".by")
        %td= @export.user.display_name if @export.user.present?
      %tr
        %td= translate_with_args(".format")
        %td= @export.file_format
      %tr
        %td= translate_with_args(".progress")
        %td#exportProgress{ class: @export.progress, "data-createdat" => @export.created_at.to_i }
          %span{ class: export_progress_class(@export) }
            = @export.calculated_progress
      - if current_organization.enabled?("show_partial_registrations")
        %tr
          %td= translate_with_args(".registration_types")
          %td
            - if @export.partial_registrations == "only"
              %strong Only incomplete
              registrations
            - elsif @export.partial_registrations
              Registered bikes & incomplete registrations
            - else
              Only registered bikes
      %tr
        %td= translate_with_args(".bikes_exported")
        %td
          = @export.rows
          - bike_ids = @export.exported_bike_ids

          - if bike_ids.present?
            %a.small.less-strong{ href: "#show_exported_bikes",
                                 'aria-controls' => 'show_exported_bikes',
                                 'data-toggle' => 'collapse' }
              - if @export&.rows.to_i > 100
                = translate_with_args(".show_first_100_bikes_in_export")
              - else
                = translate_with_args(".show_bikes_in_export")

            .collapse#show_exported_bikes
              %ul.exported-link-list
                - bike_ids.each_with_index do |id, i|
                  %li
                    #{link_to id, bike_path(id, organization_id: current_organization.to_param)}#{i == (@export.exported_bike_ids.count - 1) ? "" : ","}
      - unless @export.only_custom_bike_ids
        %tr
          %td
            = translate_with_args(".bikes_registered_after")
          %td
            - if @export.start_at.present?
              %span.convertTime.preciseTime
                = l(@export.start_at, format: :convert_time)
            - else
              %small.less-strong
                \-
        %tr
          %td
            = translate_with_args(".bikes_registered_before")
          %td
            - if @export.end_at.present?
              %span.convertTime.preciseTime
                = l(@export.end_at, format: :convert_time)
            - else
              %small.less-strong
                \-
      - if @export.custom_bike_ids.present?
        %tr
          %td= translate_with_args(".specific_bikes")
          %td
            - if @export.only_custom_bike_ids
              %small.d-block.mb-1 Only these specific bikes are included in this export:
            - included_bike_ids = (@export.custom_bike_ids & @export.bikes_scoped.pluck(:id))
            -# Make sure if there are a bunch of custom bikes, that it doesn't go on forever
            %div{style: "max-height: 300px; overflow-x: scroll;"}
              %ul.mb-0.row
                - @export.custom_bike_ids.each do |custom_id|
                  %li.col-md-4.col-xs-6
                    - if included_bike_ids.include?(custom_id)
                      = link_to custom_id, bike_path(custom_id, organization_id: current_organization.to_param)
                    - else
                      %small.text-warning
                        = link_to(custom_id, bike_path(custom_id, organization_id: current_organization.to_param), class: "less-strong text-warning text-underline")
                        \:
                        %em= translate_with_args(".unable_to_export")
      - if @export.avery_export?
        %tr
          %td= translate_with_args(".avery_export")
          %td
            - if @export.finished?
              %strong= link_to(t(".view_avery_labels"), @export.avery_export_url, class: "avery_export_url")
            - else
              %em.text-success= translate_with_args(".pending")
      - if @export.assign_bike_codes? || @export.avery_export?
        %tr
          %td= translate_with_args(".stickers")
          %td
            - if @export.assign_bike_codes?
              %em= translate_with_args(".stickers_exported", bike_stickers_count: @export.bike_stickers_assigned&.count.to_i)
              - if @export.bike_stickers_assigned.any?
                %ul.exported-link-list
                  - bike_code_links = @export.bike_stickers_assigned.each do |code, i|
                    %li
                      #{link_to code, edit_organization_sticker_path(code, organization_id: current_organization.to_param)}#{i == (@export.bike_stickers_assigned.count - 1) ? "" : ","}

                - if @export.bike_codes_removed?
                  %em.text-danger= translate_with_args(".stickers_have_been_unassigned")
                - else
                  = link_to(t(".unassign_stickers"),
                    organization_export_path(@export.id, organization_id: current_organization.to_param, remove_bike_stickers: true),
                    method: :put,
                    class: "btn btn-warning float-right")
              - else
                %small.less-strong= translate_with_args(".no_stickers_assigned")
            - else
              = translate_with_args(".not_assigned")

      %tr
        %td= translate_with_args(".columns_in_csv")
        %td
          %ul.mb-0
            - @export.written_headers.each do |header|
              %li= header.humanize(keep_id_suffix: true)
