.row.mt-4
  .col-md-5
    %p
      #{number_with_delimiter(matching_stolen_bike_listings.count)} matching listings

.mt-4

= paginate @stolen_bike_listings

.full-screen-table
  %table.table.table-bordered.table-striped.table-sm
    %thead.thead-light.sortable
      %th
        = sortable "listed_at"
      %th
        = sortable "amount_cents", "price"
      %th
        = sortable "mnfg_name", "Manufacturer"
      %th
        Model
      %th
        Listing text
      %th
        Photos
    %tbody
      - @stolen_bike_listings.each do |stolen_bike_listing|
        %tr
          %td
            %span.convertTime
              = l stolen_bike_listing.listed_at, format: :convert_time
          %td
            = stolen_bike_listing.amount_formatted
          %td
            = stolen_bike_listing.mnfg_name
          %td
            = stolen_bike_listing.model
          %td
            = stolen_bike_listing.listing
          %td
            - stolen_bike_listing.photo_urls.each_with_index do |url, index|
              = link_to index, url

= paginate @stolen_bike_listings
- unless @users.present?
  %h1.mt-4
    No listings found!
