- org_name = @creation_org&.name || @ownership&.creator&.display_name
- bike_url = ownership_url(@ownership)
- frame_colors = @bike.frame_colors

- bike_type = if @bike.stolen? && @bike.abandoned?
  - t(".text.recovered_biketype", biketype: @bike.type)
- elsif @bike.stolen?
  - t(".text.stolen_biketype", biketype: @bike.type)
- else
  - @bike.type

- case
- when @vars[:registered_by_owner]
  = t(".text.you_added_a_bike_type_on_bike_index", bike_type: bike_type)
- when @vars[:new_registration]
  = t(".text.org_added_a_bike", org_name: org_name, bike_type: bike_type)
- else
  = t(".text.org_sent_a_bike", org_name: org_name, bike_type: bike_type)

= "\n"

= t(".text.bike_make", bike_mnfg_name: @bike.mnfg_name)
= t(".text.bike_serial", bike_serial_number: @bike.serial_number)
= t(".text.bike_colors", frame_colors: frame_colors.to_sentence)

- if @bike.stolen
  - stolen_record = @bike.current_stolen_record
  - if @bike.abandoned?
    = t(".text.bike_found_at", address: stolen_record.display_address(skip_default_country: true))
  - else
    = t(".text.bike_stolen_from", address: stolen_record.display_address(skip_default_country: true))

  = t(".text.bike_date", date: l(stolen_record.date_stolen, format: :dotted))

- if (@bike.ownerships.count == 1 && @bike.registered_new)
  = t(".text.color_may_be_incorrect")
  = "\n"

- if @bike.stolen
  - if @bike.abandoned
    = t(".text.hopefully_you_find_the_owner_soon")
  - else
    = t(".text.hopefully_you_find_the_biketype_soon", biketype: @bike.type)

  = t(".text.give_us_a_heads_up_when_you_do", bike_edit_url: edit_bike_url(@bike))

- unless @ownership.claimed
  = t(".text.claim_the_biketype_at_this_url", biketype: @bike.type, bike_url: bike_url)
  = t(".text.sign_up_on_bikeindex_to_claim", biketype: @bike.type)
  = t(".text.edit_it_upload_photos")

- unless @bike.abandoned
  = "\n"

  = t(".text.protect_your_bike")
  = "\n"

  = t(".text.use_a_ulock")
  = t(".text.secure_both_wheels")
  = t(".text.before_locking_check")
  = "\n"

  = t(".text.read_more_here", protect_your_bike_url: protect_your_bike_url)
