- if @vars[:new_user]
  %h2{ style: 'margin-bottom: 12px;' }
    Welcome to the Bike Index

- if @organization && @organization.mail_snippet_body('welcome').present?
  = @organization.mail_snippet_body('welcome').html_safe

- else
  - if @bike.recovered
    %h1
      Thanks for adding this #{ @bike.type } you found to the index!
  - elsif @bike.stolen
    %h1
      #{ @bike.type } thieves are jerks.
    %p
      We're sorry your #{ @bike.type } was stolen.
  - else
    %h1
      Congrats on adding your #{ @bike.type } to the index!

  %hr

%p
  - if @vars[:registered_by_owner]
    You added a
  - else
    %strong
      = @creation_org.present? ? @creation_org.name : @ownership.creator.display_name

    - if @vars[:new_registration]
      added a
    - else
      sent you a
  - if @bike.stolen? || @bike.recovered
    = @bike.recovered ? 'recovered/found ' : 'stolen '
  #{ @bike.type } to the Bike Index#{ ' for you' unless @vars[:registered_by_owner] }:

- unless @ownership.claimed
  %h2
    You're almost done registering

- bike_url = ownership_url(@ownership)

- thumb_url = @bike.thumb_path || @bike.stock_photo_url
- unless thumb_url.present?
  - thumbclass = 'placeholder'
  - thumb_url = 'https://files.bikeindex.org/email_assets/bike_photo_placeholder.png'
.bike-display
  .image-holder{ class: thumbclass }
    %a{ href:  bike_url }
      %img{ src: thumb_url }
  %ul.info-holder
    %li
      %strong
        Make:
      = @bike.manufacturer_name
    %li
      %strong
        Serial:
      = @bike.serial_number
    %li
      %strong
        Color#{ 's' if @bike.frame_colors.count > 1 }:
      = @bike.frame_colors.to_sentence
    - if @bike.stolen
      - stolen_record = @bike.current_stolen_record
      %li
        %strong
          = @bike.recovered ? 'Found:' : 'Stolen from:'
        = stolen_record.show_stolen_address
      %li
        %strong
          Date:
        = l stolen_record.date_stolen, format: :dotted
    - if (@bike.ownerships.count == 1 && @bike.registered_new)
      %li
        %em.less-strong
          Color may be incorrect. Please update it if necessary!
  .clearstuffdiv

- if @bike.stolen
  %p
    - if @bike.recovered
      Hopefully you find the owner soon.
    - else 
      Hopefully you find the #{ @bike.type } soon.

    #{ link_to "Give us a heads up", edit_bike_url(@bike) } when you do!
- unless @ownership.claimed
  - claim_type = @vars[:registered_by_owner] ? 'Claim the' : 'Confirm this'
  = link_to "#{claim_type} #{ @bike.type }", bike_url, class: 'binx-button'
  %p
    Sign up on BikeIndex.org to claim your #{ @bike.type }
    - if @bike.stolen
      and edit it, upload photos and add any information that will help people identify your missing bike.
    - else
      and edit it, upload photos and make sure you never lose track of your trusty steed!
- if @organization && @organization.mail_snippet_body('security').present?
  = @organization.mail_snippet_body('security').html_safe
- else
  - unless @bike.recovered
    %hr

    %h2
      Protect your bike by following these locking guidelines.
    %ul.locking-demonstration-list
      %li
        %strong
          Use a U-Lock.
        Cable locks should never be used as a primary means of locking a bike in a city.
      %li
        Secure both wheels - either with two U-locks, or one U-lock and one heavy duty cable.
      %li
        Before locking, check that what you are locking to can't be easily removed.
    %p
      Read more about #{ link_to 'protecting your bike here', protect_your_bike_url }
    .locking-demonstration
      %img{ alt: 'Correctly locking a bike', src: 'https://files.bikeindex.org/email_assets/locking.gif', title: 'Pink Power U-Locks are a registered trademark of Bike Index, Inc' }
    %p.center-text
      %em
        A correctly locked bike. The frame is locked to the bike rack and both wheels are secured.

