%h1
  Is your bike still on campus?

- organization_message_snippet = @organization.mail_snippets.enabled.graduated_bike_email.first
- if @email_preview
  - organization_message_snippet ||= @organization.mail_snippets.graduated_bike_email.first

- if organization_message_snippet.present?
  = organization_message_snippet.body.html_safe

= render partial: "shared/email_bike_box"

- if @retrieval_link_url.present?
  .mark-retrieved-box
    = link_to "I am still on campus", @retrieval_link_url, class: "binx-button"
    %p
      %em
        Let
        %strong
          = @organization&.name
        know that your #{@bike.type} is still on campus! Click the button above.
