- bikes = @user&.rough_approx_bikes || []
%h1
  = @graduated_notification.subject

- organization_message_snippet = @organization.mail_snippets.enabled.graduated_notification.first

- if organization_message_snippet&.body&.present?
  = organization_message_snippet.body.html_safe

- if bikes.count >= 1
  = render partial: "shared/email_bike_box"

- if @retrieval_link_url.present?
  .mark-retrieved-box
    = link_to @retrieval_link_url, class: "binx-button" do
      Click to renew
    %p
      %em
        Your #{@bike.type} registration is set to expire soon.
        %br
        If you're remaining on campus or returning in the fall, please click the link above to keep your registration up to date.

