-# TODO: translations

%h1.uncap{ style: "margin-bottom: 1rem;" }
  = @hot_sheet.subject

- @stolen_records.each do |stolen_record|
  - bike = stolen_record.bike
  -# bike.update(updated_at: Time.current) # Bump bike cached attributes, to be sure we have all the info
  - thumb_url = bike.thumb_path || bike.stock_photo_url
  - bike_link = bike_url(bike, organization_id: @organization.to_param, sign_in_if_not: true)

  - unless thumb_url.present?
    - thumbclass = 'placeholder'
    - thumb_url = 'https://files.bikeindex.org/email_assets/bike_photo_placeholder.png'
  .hot-sheet-bike-display
    %table.bike-display
      %tbody
        / %tr.bike-title
        /   %td.bike-display-wrapper-cell{ colspan: 2 }
        /     = link_to organized_bike_text(bike, skip_creation: true), bike_link
        %tr
          %td.info-holder.bike-display-wrapper-cell
            %table.table-list
              %tr.bike-title
                %td{ colspan: 2 }
                  = link_to organized_bike_text(bike, skip_creation: true), bike_link
              / %tr
              /   %td Make
              /   %td
              /     = bike.mnfg_name
              %tr
                %td Serial
                %td
                  - if bike.no_serial?
                    %em.less-strong
                      = bike.serial_display&.downcase
                  - else
                    %span.serial-display
                      = bike.serial_display

              %tr
                %td
                  %span.stolen-color Stolen at
                %td
                  -# Render the hour
                  = stolen_record.date_stolen.strftime("%l%P")
                  - if stolen_record.date_stolen.to_date == @hot_sheet.sheet_date
                    %strong Today
                  - elsif stolen_record.date_stolen.to_date == @hot_sheet.sheet_date.yesterday
                    %strong Yesterday
                  - else
                    = l stolen_record.date_stolen, format: :standard_display

              %tr
                %td From
                %td
                  = Geocodeable.address(stolen_record, country: false)
              %tr
                %td PD&nbsp;report
                %td
                  = stolen_record.police_report_number
                  -# Only show the department if there is a number, some people put it in anyway
                  - if stolen_record.police_report_number.present?
                    %small.less-strong
                      = stolen_record.police_report_department
          %td.image-holder.bike-display-wrapper-cell{ class: thumbclass }
            %a{ href:  bike_link }
              %img{ src: thumb_url }

- if @organization.overview_dashboard?
  .clear-org-buttons
    = link_to "View #{@organization.short_name} Dashboard", organization_dashboard_index_url(organization_id: @organization.to_param), class: "org-button"

.email-hot-sheet-link-footer
  %p
    View this
    %em
      = link_to "Stolen Bike Hot Sheet", organization_hot_sheet_url(organization_id: @organization.to_param, day: @hot_sheet.sheet_date)
    on Bike Index

  .clear-org-buttons
    - location = [@organization.city]
    - location += [@organization.country&.name] unless @organization.country&.united_states?
    = link_to "Search Stolen Bikes near #{@organization.city}", bikes_url(stolenness: "proximity", distance: 100, location: location.reject(&:blank?).join(", ")), class: "org-button"

  %p.hot-sheet-notification-change
    %small.less-strong
      Don't want to receive hot sheets emails? Update your email preferences on #{link_to "your account page", edit_my_account_url}.
