%h1
  Hello #{@membership.invited_display_name},

- if @is_new_user
  %h2
    Welcome to Bike Index
- if @sender.present?
  %p #{@sender.display_name} has indicated that you are a member of #{@organization.name}.

= link_to "Join #{@organization.short_name}", new_user_url(email: @vars[:email]), class: 'binx-button'
