%h1
  = @parking_notification.title

- organization_message_snippet = @organization.mail_snippets.enabled.where(kind: @parking_notification.kind).first
- if @email_preview
  - organization_message_snippet ||= @organization.mail_snippets.where(kind: @parking_notification.kind).first

- if organization_message_snippet.present?
  %div{ style: "margin-top: 20px;" }
  = organization_message_snippet.body.html_safe

- if @parking_notification.repeat_record?
  %h2.uncap{ style: "margin-top: 1rem;" }
    This is your #{@parking_notification.notification_number.ordinalize} notification!


- if @parking_notification.impound_notification? && @parking_notification.impound_record.present?
  - impound_record = @parking_notification.impound_record
  - if impound_record.location.present?
    %div{ style: "padding: 1rem; border: 1px solid #ccc; margin: 1rem 0;" }
      %strong
        It is being held at #{impound_record.location.name}
      %br
      %em
      = impound_record.location.address

%p
  Your #{@bike.title_string}
  - if @parking_notification.impound_notification?
    was located at:
  - else
    is located at:
  %br
  %em
    = @parking_notification.address

- if @parking_notification.message.present?
  %p
    %strong= @parking_notification.message

<img class="geolocated-message-map" src="https://maps.googleapis.com/maps/api/staticmap?center=#{@parking_notification.latitude},#{@parking_notification.longitude}&zoom=13&size=640x400&maptype=roadmap&scale=2&markers=color:red%7C#{@parking_notification.latitude},#{@parking_notification.longitude}&key=#{ENV["GOOGLE_MAPS_STATIC"]}">

- if @retrieval_link_url.present?
  .mark-retrieved-box
    = link_to "I picked up my #{@bike.type}", @retrieval_link_url, class: "binx-button"
    %p
      %em
        Let
        %strong
          = @organization&.name
        know that you retrieved your #{@bike.type}! Click the button above.
