%header.with-subtitle
  %h1 Your applications
  %p
    = link_to 'New Application', new_oauth_application_path, class: 'btn binxbtn binxbtn-lg'

%table.table.table-striped.margined
  %thead
    %tr
      %th Name
      %th Callback URL
      %th
      %th
  %tbody
    - @applications.each do |application|
      %tr{:id => "application_#{application.id}"}
        %td
          = application.name
        %td
          = application.redirect_uri
        %td
          = link_to "View", [:oauth, application], class: 'btn binxbtn-default'
        %td
          = link_to 'Edit', edit_oauth_application_path(application), class: 'btn binxbtn-primary'
        %td
          = render 'delete_form', application: application
.container
  %h3.padded
    Documentation on API V2 is available at #{link_to "documentation/api_v2", api_v2_documentation_index_url}