.page-header
  %h1
    Application: #{@application.name}
.row
  .col-md-8
    %h4
      Application Id:
    %p
      %code#application_id= @application.uid
    %h4
      Secret:
    %p
      %code#secret= @application.secret
    %h4.padded
      Callback urls:

    %table.table
      %tbody
        - @application.redirect_uri.split.each do |uri|
          %tr
            %td
              %code
                = uri
            %td
              = link_to 'Authorize', oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code'), class: 'btn binxbtn', target: '_blank'
  .col-md-4
    %h3 Actions
    %p
      = link_to 'Edit', edit_oauth_application_path(@application), class: 'btn binxbtn-primary'
    %p
      = render 'delete_form', application: @application

%hr
  %h2
    Return to #{link_to "Documentation page", api_v2_documentation_index_url}.