= form_for record, url: action, method: method, html: { class: "form" } do |f|
  .row
    .col-sm-6
      .form-group
        = f.label :name, "Name", class: "form-label"
        = f.text_field :name, class: "form-control"
    .col-sm-6
      .form-group
        = f.label :language
        = f.select :language,
          options_for_select(language_choices, selected: record.language),
          {},
          class: "form-control"
    .col-sm-4.col-6
      .form-group
        = f.label :currency_enum, "Currency"
        = f.select :currency_enum, options_for_select(Currency.select_options), {},  class: "form-control"
    .col-sm-4.col-6
      .form-group
        = f.label :amount_cents, "Price (cents)", class: "form-label"
        = f.number_field :amount_cents, class: "form-control"
    .col-sm-4.col-6
      .form-group
        = f.label :amount_cents_facebook, "Facebook ad buy (cents)", class: "form-label"
        = f.number_field :amount_cents_facebook, class: "form-control"
    .col-sm-4.col-6
      .form-group
        = f.label :views, "Views Provided", class: "form-label"
        = f.number_field :views, class: "form-control"
    .col-sm-4.col-6
      .form-group
        = f.label :duration_days, "Duration (days)", class: "form-label"
        = f.number_field :duration_days, class: "form-control"
    .col-sm-4.col-6
      .form-group
        = f.label :ad_radius_miles, class: "form-label"
        = f.number_field :ad_radius_miles, class: "form-control"
  .form-group.mb-0
    = f.label :description, "Description", class: "form-label"
    = f.text_area :description, class: "form-control", rows: "5"

  .float-right.mt-0
    [
    = link_to "Markdown",
      "https://www.markdownguide.org/getting-started",
      target: "_blank",
      tabindex: -1
    permitted
    ]
  .row.mt-4
    .col-6
      .form-group
        = submit_tag submit_label, class: "btn btn-success btn-lg"
    .col-sm-6
      .form-group.mt-4
        = f.check_box :active, class: ""
        = f.label :active, "Active?", class: "form-check-label"
