<% if @search_info.present? %>
  <%= render partial: "/shared/alert", locals: { body: @search_info, type: "info" } %>
<% end %>

<div class="tw:mx-auto tw:mt-8 tw:mb-6 tw:max-w-7xl tw:px-4 tw:lg:mt-12">
  <% component_class = SearchResults::Container::Component.component_class_for_result_view(@result_view) %>

  <%= render(SearchResults::Container::Component.new(result_view: @result_view, search_kind: @search_kind, no_results: t("search.registrations.results.no_matched_marketplace"))) do %>
    <% @bikes.each do |bike| %>
      <% cache(["search_results", @search_kind, @result_view, bike]) do %>
        <%= render(component_class.new(bike:, search_kind: @search_kind)) %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if @pagy.next %>
  <%= turbo_frame_tag "page_#{@pagy.next}", src: search_marketplace_path(page: @pagy.next, **params.except(:page, :controller, :action).permit!), loading: :lazy do %>
    <div class="tw:py-4 tw:text-center">
      <%= render UI::LoadingSpinner::Component.new(text: "Loading more...") %>
    </div>
  <% end %>
<% end %>
