<div class="tw:mx-auto tw:mb-6 tw:max-w-7xl tw:px-4">
  <h1 class="tw:mb-4 tw:text-3xl tw:text-slate-800">Bike Index Marketplace</h1>

  <%= render Search::Form::Component.new(target_search_path: search_marketplace_path,
    target_frame: :marketplace_results_frame, interpreted_params: @interpreted_params,
    currency: @currency, marketplace_scope: @marketplace_scope, price_min_amount: @price_min_amount,
    price_max_amount: @price_max_amount, result_view: @result_view) %>
</div>

<%= turbo_frame_tag :marketplace_results_frame do %>
  <% if @render_results %>
    <%= turbo_frame_tag "page_#{@pagy.page}" do %>
      <%= render partial: "marketplace_results" %>
    <% end %>
  <% else %>
    <span id="loadedWithoutResults" class="tw:hidden"></span>
  <% end %>
<% end %>

<div id="hiddenLoadingSpinner" class="tw:hidden">
  <%= render LoadingSpinner::Component.new(text: t(".loading_results")) %>
</div>
