<span class="tw:inline-flex tw:items-center tw:gap-x-2">
  Strava Requests
  <span class="
    tw:inline-flex tw:items-center tw:gap-x-1 tw:text-sm tw:font-normal
    tw:text-gray-500
  ">Rate limit <%= render Admin::StravaRateLimit::Component.new(rate_limit_json: @rate_limit_json) %></span>
</span>

<div
  class="
    tw:mt-2 tw:mb-2 tw:flex tw:flex-wrap tw:items-center tw:gap-x-6
    tw:gap-y-1 tw:text-xs tw:font-normal tw:text-gray-500
  "
>
  <div class="tw:leading-tight">
    <div>short resets: <%= short_resets_display %></div>

    <div>
      long resets:
      <span class="localizeTime preciseTimeSeconds"><%= l(long_resets_at, format: :convert_time) %></span>
    </div>

    <div>batch: <%= number_display(@batch_size) %></div>
  </div>

  <div class="tw:leading-tight">
    <div>headroom: <%= number_display(@headroom) %></div>

    <div>
      fetch_activity headroom:
      <%= number_display(@fetch_activity_short_headroom) %> short,
      <%= number_display(@fetch_activity_long_headroom) %> long
    </div>

    <div>
      <i>enqueuer</i> fetch_activity headroom:
      <%= number_display(@enqueuer_fetch_activity_short_headroom) %> short,
      <%= number_display(@enqueuer_fetch_activity_long_headroom) %> long
    </div>
  </div>

  <% if StravaJobs::RequestRunner.new.skip_job? %>
    <%= render(UI::Alert::Component.new(text: "StravaJobs::RequestRunner is skipped", kind: :error)) %>
  <% end %>
</div>
