- bikes ||= @bikes
- no_show_header ||= false
- show_serial ||= false
- unless no_show_header
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th
        Added&nbsp;<small class="convertTimezone"></small>
      %th.d-none.d-md-table-cell
        Sent to
      %th
        Manufacturer
      %th.d-none.d-lg-table-cell
        Info
      %th.d-none.d-sm-table-cell
        Created by

    %tbody
      - bikes.decorate.each do |bike|
        - cache(bike) do
          %tr
            %td
              .less-strong-hold
                %a.convertTime{ href: edit_admin_bike_url(bike) }
                  = l bike.created_at, format: :convert_time
                %span.less-strong-right
                  - if bike.example
                    %span
                      = bike.id
                  - else
                    = bike.id
            %td.d-none.d-md-table-cell
              = bike.owner_email
              - if bike.user?
                - if bike.owner.donor?
                  <span class="donor-icon">D</span>
                - elsif bike.owner.paid_org?
                  <span class="paid-org-icon">O</span>
            %td
              - if bike.manufacturer_other.present?
                %span.table-error
                  %span.hidden
                    0 1
                  = bike.manufacturer_other
              - else
                = bike.mnfg_name
            %td.d-none.d-lg-table-cell
              .less-strong-hold
                = [bike.year, bike.frame_model].join(' ')
                = "(#{bike.type})" unless bike.type == 'bike'
                - if bike.paint.present? && bike.paint.color_id.blank?
                  .less-strong
                    = link_to bike.paint.name, edit_admin_paint_url(bike.paint)
                    = bike.frame_colors.to_sentence
                - if bike.stolen
                  %span.less-strong-right
                    stolen
                - if show_serial
                  %br
                  %span.less-strong
                    = bike.serial_number

            %td.d-none.d-sm-table-cell
              .less-strong-hold
                - if bike.creation_organization.present?
                  = link_to bike.creation_organization.name, admin_organization_path(bike.creation_organization)
                - if bike.creation_description
                  %span.less-strong-right
                    - if bike.bulk_import.present?
                      = link_to "bulk import", admin_bulk_import_path(bike.bulk_import), class: "less-strong"
                    - else
                      = bike.creation_description
