- stolen_record ||= stolen_record || bike.present? && bike.find_current_stolen_record
- display_recovery ||= stolen_record.present? && stolen_record.recovered?

.admin-bike-partial
  - if bike.blank?
    %h1.text-danger
      No Bike present
  - else
    .row
      .col-lg-2.col-3.mt-auto.mb-2.admin-image-thumb
        %a{ href: edit_admin_bike_path(bike.to_param) }
          - if bike.thumb_path.present?
            = image_tag bike.thumb_path, alt: bike.title_string
          - else
            %h3.less-strong
              No Image
      .col-lg-5.col-9.mt-auto.mb-2
        %p.strong.mb-0
          = link_to edit_admin_bike_path(bike.to_param) do
            - if bike.stolen
              %span.text-danger
                Stolen
            = bike.title_string
          = link_to "non-admin view", bike_path(bike.to_param), class: "text-muted float-right"
        %table.table-list.mb-0
          %tbody
            %tr
              %td
                Serial number
              %td
                = bike.serial_number
            %tr
              %td
                Colors
              %td
                = bike.frame_colors.to_sentence
            %tr
              %td
                Created
              %td
                %span.convertTime
                  = l bike.created_at, format: :convert_time
                %small.convertTimezone
            %tr
              %td
                Updated
              %td
                %span.convertTime
                  = l bike.updated_at, format: :convert_time

            - pdf ||= false
            - if pdf
              %tr
                %td
                  PDF
                %td
                  = link_to "Printable registration", pdf_bike_url(bike)
      .col-lg-5
        %table.table-list
          %tr
            %td
              Owner Email
            %td
              = bike.owner_email
          - if bike.user.present?
            %tr
              %td
                Current Email
              %td
                = link_to bike.user.email, edit_admin_user_url(bike.user.id)
            %tr
              %td
                Donor
              %td
                - if bike.user.donor?
                  <span class="donor-icon">D</span><span class="less-strong">onor</span>
                - if bike.user.paid_org?
                  %br
                - if bike.user.paid_org?
                  <span class="less-strong">Paid</span> <span class="paid-org-icon">O</span><span class="less-strong">rganization member</span>
          - else
            %tr
              %td
                Owner
              %td
                Unclaimed
          %tr
            %td
              Cached Data
            %td
              %em.less-strong
                = bike.cached_data
          %tr
            %td
              Creation
            %td
              - if bike.creation_organization.present?
                = link_to bike.creation_organization.name, admin_organization_path(bike.creation_organization)
              - else
                %small.less-strong
                  self reg
              - if bike.creation_description.present?
                \-
                %em
                  Via #{bike.creation_description}
              - if bike.creation_state&.bulk_import.present?
                %br
                Import
                = link_to admin_bulk_import_path(bike.creation_state.bulk_import.to_param) do
                  \##{bike.creation_state.bulk_import_id}
                  - if bike.creation_state.bulk_import.ascend?
                    %small
                      Ascend
  - if stolen_record.present?
    %h4.mt-2
      %span.text-danger
        Theft information
      - unless controller_name == "stolen_bikes"
        %span.float-right
          = link_to edit_admin_stolen_bike_url(stolen_record.id, stolen_record_id: true) do
            - if stolen_record.approved?
              Stolen message
            - else
              Stolen message/approval
    .row
      .col-md-6
        %table.table-list
          %tbody
            %tr
              %td
                Theft description
              %td
                = stolen_record.theft_description
            %tr
              %td
                Stolen record created
              %td.convertTime
                = l stolen_record.created_at, format: :convert_time
            %tr
              %td
                Stolen at
              %td.convertTime
                = l stolen_record.date_stolen, format: :convert_time
            %tr
              %td
                Callable by
              %td
                - if stolen_record.phone_for_everyone
                  %strong
                    Everyone
                - else
                  = "Users" if stolen_record.phone_for_users
                  = "Shops" if stolen_record.phone_for_shops
                  = "Police" if stolen_record.phone_for_police
            - unless stolen_record.recovered?
              %tr
                %td
                  Link to recover
                %td
                  %input.form-control{ type: 'text', value: edit_bike_recovery_url(bike_id: bike.id, token: stolen_record.find_or_create_recovery_link_token).to_s }
      .col-md-6
        %table.table-list
          %tbody
            %tr
              %td
                Approved?
              %td
                = check_mark if stolen_record.approved
            %tr
              %td
                Estimated $
              %td
                = stolen_record.estimated_value
            %tr
              %td
                Location
              %td
                = stolen_record.display_address
                - if stolen_record.missing_location?
                  %em.small.text-warning missing address (user alerted)
            %tr
              %td
                Phone
              %td
                = stolen_record.phone_display
                - if stolen_record.secondary_phone.present?
                  %br
                  %small
                    %span.less-strong secondary:
                    = stolen_record.secondary_phone
            %tr
              %td
                Police Department
              %td
                = stolen_record.police_report_department
            %tr
              %td
                Police Report
              %td
                = stolen_record.police_report_number
  - if display_recovery && stolen_record.present? && stolen_record.recovered?
    %h4.mt-2
      Recovery Information
      - unless controller_name == "recoveries"
        %small{ style: "font-size: 80%;" }
          = link_to "admin recovery view", admin_recovery_path(stolen_record.to_param), class: "text-muted"
    .row
      .col-sm-12.col-lg-6
        %table.table-list
          %tbody
            %tr
              %td
                Recovered at
              %td
                - if stolen_record.recovered_at.present?
                  %span.convertTime{ href: bike.present? ? admin_bike_url(bike) : "#" }
                    = l stolen_record.recovered_at, format: :convert_time
            %tr
              %td
                Recovered by
              %td
                - if stolen_record.recovering_user.present?
                  = link_to stolen_record.recovering_user.display_name, admin_user_path(stolen_record.recovering_user.to_param)
                  - unless stolen_record.recovering_user_owner?
                    %em.text-warning.less-strong
                      not owner!
                - elsif stolen_record.pre_recovering_user?
                  %small.less-strong
                    pre-recording of recovering user
                - else
                  %small
                    No user present
                    %span.less-strong
                      most likely recovered by owner
            %tr
              %td
                We Helped
              %td
                = check_mark if stolen_record.index_helped_recovery
            %tr
              %td
                Can Share
              %td
                = check_mark if stolen_record.can_share_recovery
      .col-sm-12.col-lg-6
        %table.table-list
          %tbody
            %tr
              %td.text-left{ colspan: 2 }
                Description
            %tr
              %td.full-width-data{ colspan: 2 }
                = stolen_record.recovered_description
