
%li.admin-bike-partial
  .row
    .col-lg-1.col-md-2.col-3.mt-auto
      - if bike.thumb_path.present?
        %img{:alt => bike.title, src: bike.thumb_path}
      - else
        %h3.text-center
          No Image
    .col-lg-5.col-md-4.col-9.mt-auto
      %p.strong.mb-0
        = link_to bike.title_string, bike.list_link_url(target)
      %table.table-list.mb-0
        %tbody
          %tr
            %td
              Serial number
            %td
              = bike.serial_number
          %tr
            %td
              Colors
            %td
              = bike.frame_colors.to_sentence
    - if bike.stolen and bike.current_stolen_record.present?
      .col-lg-6.border.border-danger.mt-auto
        %h4
          = link_to 'Stolen edit page', edit_admin_stolen_bike_url(@bike)
        %table.table-list
          %tr
            %td
              Stolen at
            %td
              %span.convertTime.preciseTime
                = l bike.current_stolen_record.date_stolen, format: :convert_time
          %tr
            %td
              From
            %td
              = bike.short_address(bike.current_stolen_record)



      - pdf ||= false
      -if pdf
        = link_to "Printable registration", pdf_bike_url(bike)
