- stolen_record ||= stolen_record || bike.present? && bike.fetch_current_stolen_record
- display_recovery ||= stolen_record.present? && stolen_record.recovered?
- active_tab ||= "#{controller_name}-#{action_name}"

-# require inline CSS setting because of caching
- unless display_dev_info?
  <style>.only-dev-visible {display: none !important;} </style>

.admin-bike-tabs
  - if bike.blank?
    %h1.text-danger
      No Bike present
  - else
    - if bike.deleted? || bike.likely_spam? || bike.example? || bike.user_hidden
      .row.mb-4
        .col-sm-10.offset-sm-1.col-md-6.offset-md-3
          - if bike.deleted?
            .alert.alert-danger.mb-4
              %h4.text-danger #{bike.type_titleize} Deleted
              Deleted:
              %span.convertTime.preciseTime
                = l bike.deleted_at, format: :convert_time
          - if bike.likely_spam?
            .alert.alert-danger.mb-4
              %h4.text-danger This #{bike.type_titleize} is likely spam
              No need to remove, this doesn't show up in searches and will be deleted, automatically
          - if bike.example?
            .alert.alert-danger.mb-4
              %h4.text-danger #{bike.type_titleize} is a test registration
              No need to remove, this doesn't show up in searches and will be deleted, automatically
              %small.d-block.mt-1 This is also known as an <em>example bike</em>
          - if bike.user_hidden
            .alert.alert-warning.mb-4
              %h4.text-warning
                Marked HIDDEN
              - if @bike.unregistered_parking_notification?
                %span.d-block.mb-2
                  %strong Hidden because it was created by parking notification.
                  Only members of the organization (and Bike Index superadmins) can see it.
                Creation notification:
                - unregistered_parking_notification = @bike.parking_notifications.reorder(:created_at).first
                = link_to unregistered_parking_notification.kind_humanized.downcase, organization_parking_notification_path(unregistered_parking_notification, organization_id: unregistered_parking_notification.organization.to_param), class: "text-underline"
                %small.d-block.mt-2 This is also known as an <span class="text-warning">unregistered</span> bike

              - else
                %strong.d-block.mb-1 Hidden by the user
                No one but the user (and Bike Index superadmins) can see it
    .row
      - cache(["admin_bike_main", bike, stolen_record]) do
        .col-lg-2.col-3.mt-auto.mb-2.admin-image-thumb
          %a{ href: edit_admin_bike_path(bike.to_param) }
            - if bike.thumb_path.present?
              = image_tag bike.thumb_path, alt: bike.title_string
            - else
              %h3.less-strong
                No Image
        .col-lg-5.col-9.mt-auto.mb-2.pr-lg-0
          %p.strong.mb-0
            = link_to edit_admin_bike_path(bike.to_param) do
              = bike_status_span(@bike)
              = bike.title_string
            = link_to "non-admin view", bike_path(bike.to_param, organization_id: bike.creation_organization.to_param), class: "text-muted float-right"
          %table.table-list.mb-0
            %tbody
              %tr.small.only-dev-visible
                %td ID
                %td
                  %code= bike.id
                  %span.ml-2
                    status:
                    %code= bike.status&.gsub("status_", "")
                  - if bike.user_hidden
                    %small.text-warning.ml-2 user hidden

              %tr
                %td
                  Serial number
                %td
                  = render_serial_display(@bike, current_user, skip_explanation: true)
              %tr
                %td
                  Colors
                %td
                  = bike.frame_colors.to_sentence
                  - if bike.paint_id.present?
                    = link_to bike.paint_description, edit_admin_paint_url(bike.paint), class: "small gray-link"
              %tr
                %td
                  Created
                %td
                  %span.convertTime
                    = l bike.created_at, format: :convert_time
                  %small.convertTimezone
              %tr
                %td
                  Creation
                %td
                  - if bike.creation_organization.present?
                    = link_to bike.creation_organization.name, admin_organization_path(bike.creation_organization)
                  - else
                    - if bike.creator != bike.user
                      - if bike.creator.blank?
                        %small.text-danger Creator missing
                      - else
                        = render Admin::UserCell::Component.new(user: bike.creator, search_url: admin_bikes_path(user_id: bike.creator_id))
                    - else
                      %small.less-strong self reg
                  - if bike.creation_description.present?
                    \-
                    %em
                      Via
                      = origin_display(bike.creation_description)
                    - if bike.current_ownership&.doorkeeper_app_id.present?
                      %small.less-strong
                        oauth app
                        %em
                          = bike.current_ownership.doorkeeper_app&.name || bike.current_ownership.doorkeeper_app_id
                      = link_to search_emoji, admin_bikes_path(search_doorkeeper_app_id: bike.current_ownership.doorkeeper_app_id), class: "ml-1 mr-1"
                  - if bike.current_ownership&.bulk_import.present?
                    %br
                    Import
                    = link_to admin_bulk_import_path(bike.current_ownership.bulk_import.to_param) do
                      \##{bike.current_ownership.bulk_import_id}
                      - if bike.current_ownership.bulk_import.ascend?
                        %small
                          Ascend
              %tr
                %td
                  Updated
                %td
                  %span.convertTime
                    = l bike.updated_by_user_fallback, format: :convert_time
                  - if bike.updator_id.present?
                    %em.small
                      by
                      - if bike.updator.present?
                        = link_to bike.updator.display_name, admin_user_path(bike.updator)
                      - else
                        %span.text-danger
                          User ##{params[:user_id]}
                          %em missing
                  - if bike.not_updated_by_user?
                    %em.small.less-strong not updated after creation
                  %small.only-dev-visible.convertTime
                    = l bike.updated_at, format: :convert_time

              - pdf ||= false
              - if pdf
                %tr
                  %td
                    PDF
                  %td
                    = link_to "Printable registration", pdf_bike_url(bike)
        .col-lg-5
          %table.table-list
            %tr
              %td
                Owner Email
              %td
                = bike.owner_email
                - bike_search_url = bike.user.present? ? admin_bikes_path(user_id: bike.user.id) : admin_bikes_path(search_email: bike.owner_email)
                = link_to search_emoji, bike_search_url, class: "ml-1 mr-1"
                - if bike.claimed?
                  %small.text-info claimed
            %tr
              %td
                Owner
              %td
                - if bike.user.present?
                  = render Admin::UserCell::Component.new(user: bike.user)
                - else
                  Unclaimed
            %tr
              %td
                Cached Data
              %td
                %em.less-strong
                  = bike.cached_data
            - address = bike.address_hash
            %tr
              %td
                Address
              %td
                %small

                  - if address.present? # Make this a little easier to see, don't use ruby specific hashes
                    \{
                    = address.map { |k, v| "#{k}: " + (v.present? ? "\"#{v}\"" : "") }.join(", ")
                    \}

            - reg_address = bike.registration_address
            - if reg_address.present? && reg_address != address
              %tr
                %td
                  Reg Address
                %td
                  %small

                    - if reg_address.present? # Make this a little easier to see, don't use ruby specific hashes
                      \{
                      = reg_address.compact.map { |k, v| "#{k}: " + (v.present? ? "\"#{v}\"" : "") }.join(", ")
                      \}
                      %small.only-dev-visible.ml-2
                        %em
                          source:
                        = BikeServices::CalculateLocation.registration_address_source(bike)

            -# Only show phone if no stolen record
            - if stolen_record.blank? && bike.phone.present?
              %tr
                %td
                  Phone
                %td
                  = phone_display(bike.phone)

  - if stolen_record.present?
    %h4.mt-2
      %span.text-danger
        Theft information
    .row
      .col-md-6.pr-md-0
        %table.table-list
          %tbody
            %tr.small.only-dev-visible
              %td ID
              %td
                %code= stolen_record.id
            %tr
              %td
                Theft description
              %td
                = stolen_record.theft_description
            %tr
              %td
                Stolen record created
              %td.convertTime
                = l stolen_record.created_at, format: :convert_time
            %tr
              %td
                Stolen at
              %td.convertTime
                = l stolen_record.date_stolen, format: :convert_time
            %tr
              %td
                Callable by
              %td
                - if stolen_record.phone_for_everyone
                  %strong
                    Everyone
                - else
                  = "Users" if stolen_record.phone_for_users
                  = "Shops" if stolen_record.phone_for_shops
                  = "Police" if stolen_record.phone_for_police
            - unless stolen_record.recovered?
              %tr
                %td
                  Link to recover
                %td
                  %input.form-control{ type: 'text', value: edit_bike_recovery_url(bike_id: bike.id, token: stolen_record.find_or_create_recovery_link_token).to_s }
      .col-md-6
        %table.table-list
          %tbody
            %tr
              %td
                Approved?
              %td
                - if stolen_record.approved
                  = check_mark
                - else
                  %small.less-strong nope
            %tr
              %td
                Estimated $
              %td
                = stolen_record.estimated_value
            %tr
              %td
                Location
              %td
                = stolen_record.address(force_show_address: true)
                - if stolen_record.without_location?
                  %em.small.text-warning missing address (user alerted)
            %tr
              %td
                Phone
              %td
                = phone_display(stolen_record.phone)
                - if stolen_record.secondary_phone.present?
                  %br
                  %small
                    %span.less-strong secondary:
                    = phone_display(stolen_record.secondary_phone)
            %tr
              %td
                Police Department
              %td
                = stolen_record.police_report_department
            %tr
              %td
                Police Report
              %td
                = stolen_record.police_report_number
  - if display_recovery && stolen_record.present? && stolen_record.recovered?
    %h4.mt-2.text-success
      Recovery Information
      = link_to "view", admin_recovery_path(stolen_record.to_param), class: "small"
    .row
      .col-sm-12.col-lg-6
        %table.table-list
          %tbody
            %tr
              %td
                Recovered at
              %td
                - if stolen_record.recovered_at.present?
                  %span.convertTime{ href: bike.present? ? admin_bike_url(bike) : "#" }
                    = l stolen_record.recovered_at, format: :convert_time
            %tr
              %td
                Recovered by
              %td
                - if stolen_record.recovering_user.present?
                  = link_to stolen_record.recovering_user.display_name, admin_user_path(stolen_record.recovering_user.to_param)
                  - unless stolen_record.recovering_user_owner?
                    %em.text-warning.less-strong
                      not owner!
                - elsif stolen_record.pre_recovering_user?
                  %small.less-strong
                    pre-recording of recovering user
                - else
                  %small
                    No user present
                    %span.less-strong
                      most likely recovered by owner
            %tr
              %td
                We Helped
              %td
                = check_mark if stolen_record.index_helped_recovery
            %tr
              %td
                Can Share
              %td
                = check_mark if stolen_record.can_share_recovery
      .col-sm-12.col-lg-6
        %table.table-list
          %tbody
            %tr
              %td.text-left{ colspan: 2 }
                Description
            %tr
              %td.full-width-data{ colspan: 2 }
                = stolen_record.recovered_description
  - if bike.present?
    #bike-tab-wrapper{"data-activetab" => active_tab}
      .nav.nav-tabs
        - cache(["admin_bike_tabs-1", bike, stolen_record]) do
          - impound_count = bike.impound_records.count + ImpoundClaim.involving_bike_id(bike.id).count

          .nav-item
            = link_to "Edit", edit_admin_bike_path(bike), class: "nav-link bikes-edit"
          .nav-item
            = link_to admin_bike_path(bike, active_tab: "duplicates"), class: "nav-link bikes-duplicates" do
              D<span class="d-none d-md-inline">uplicates</span>
              %small
                (#{number_display(bike.duplicate_bike_groups.count)})
          .nav-item
            = link_to admin_bike_path(bike, active_tab: "messages"), class: "nav-link bikes-messages" do
              M<span class="d-none d-md-inline">essages</span>
              %small
                (#{number_display(bike.messages_count)})
          .nav-item
            = link_to admin_marketplace_listings_path(search_bike_id: bike.id), class: "nav-link marketplace_listings-index" do
              L<span class="d-none d-md-inline">istings</span>
              %small
                (#{number_display(bike.marketplace_listings.count)})
          .nav-item
            = link_to admin_bike_path(bike.id, active_tab: "ownerships"), class: "nav-link bikes-ownerships" do
              O<span class="d-none d-md-inline">wnerships</span>
              %small
                (#{number_display(bike.ownerships.count)})
          .nav-item
            = link_to admin_bike_path(bike, active_tab: "stickers"), class: "nav-link bikes-stickers" do
              S<span class="d-none d-md-inline">tickers</span>
              %small
                (#{number_display(bike.bike_stickers.count)})
          - if stolen_record.present?
            .nav-item
              = link_to edit_admin_stolen_bike_url(stolen_record.id, stolen_record_id: true), class: "nav-link stolen_bikes-edit" do
                Stolen
                %span{ class: (stolen_record.approved? ? "text-success" : "text-danger")}
                  = stolen_record.approved? ? "✅" : "❌"
          .nav-item
            = link_to admin_theft_alerts_path(search_bike_id: bike.id), class: "nav-link theft_alerts" do
              P<span class="d-none d-md-inline">romoted alerts</span>
              %small
                (#{number_display(bike.theft_alerts.count)})
          .nav-item
            = link_to admin_bike_path(bike, active_tab: "recoveries"), class: "nav-link bikes-recoveries" do
              R<span class="d-none d-md-inline">ecoveries</span>
              %small
                (#{number_display(bike.recovered_records.count)})
          - if impound_count > 0
            .nav-item
              = link_to admin_bike_path(bike, active_tab: "impound"), class: "nav-link bikes-impound" do
                I<span class="d-none d-md-inline">mpoundings</span>
                %small
                  (#{number_display(impound_count)})

        -# NOTE: not cached, only renders when looking at recoveries
        - if display_recovery
          .nav-item
            = link_to admin_recovery_displays_path(search_bike_id: bike.id), class: "nav-link recovery_displays" do
              Recovery displays
