.search-statuses.mb-1{class: (@not_default_statuses ? "" : "collapse")}
  :javascript
    window.statusesSearchDefault = #{!@not_default_statuses};
  %p.mb-1
    %em Include bikes that are:
  .row
    .col-6
      .form-check
        = check_box_tag :search_status_stolen, true, @searched_statuses.include?("stolen"), class: "form-check-input"
        = label_tag :search_status_stolen, "Stolen"
      .form-check
        = check_box_tag :search_status_with_owner, true, @searched_statuses.include?("with_owner"), class: "form-check-input"
        = label_tag :search_status_with_owner do
          With owner
          %small.less-strong (not stolen)
      .form-check
        = check_box_tag :search_status_abandoned, true, @searched_statuses.include?("abandoned"), class: "form-check-input"
        = label_tag :search_status_abandoned, "Abandoned"
      .form-check
        = check_box_tag :search_status_impounded, true, @searched_statuses.include?("impounded"), class: "form-check-input"
        = label_tag :search_status_impounded, "Impounded"
      .form-check
        = check_box_tag :search_status_unregistered_parking_notification, true, @searched_statuses.include?("unregistered_parking_notification"), class: "form-check-input"
        = label_tag :search_status_unregistered_parking_notification, "Parking Notifications"

    .col-6
      .form-check
        - if @searched_statuses.include?("deleted_only")
          = check_box_tag :search_status_deleted_only, true, @searched_statuses.include?("deleted_only"), class: "form-check-input"
          = label_tag :search_status_deleted_only do
            Deleted
            %strong Only
        - else
          = check_box_tag :search_status_deleted, true, @searched_statuses.include?("deleted"), class: "form-check-input"
          = label_tag :search_status_deleted, "Deleted"
          = link_to "only", url_for(sortable_search_params.merge(search_status_deleted: nil, search_status_deleted_only: true)), class: "gray-link"
      .form-check
        - if @searched_statuses.include?("spam_only")
          = check_box_tag :search_status_spam_only, true, @searched_statuses.include?("spam_only"), class: "form-check-input"
          = label_tag :search_status_spam_only do
            likely Spam
            %strong Only
        - else
          = check_box_tag :search_status_spam, true, @searched_statuses.include?("spam"), class: "form-check-input"
          = label_tag :search_status_spam, "Likely Spam"
          = link_to "only", url_for(sortable_search_params.merge(search_status_spam: nil, search_status_spam_only: true)), class: "gray-link"
          - if current_user.su_option?(:no_hide_spam) && display_dev_info? && @default_statuses.include?("spam")
            %small.less-strong.only-dev-visible
              on by default because <code>su_option</code>
      .form-check
        - if @searched_statuses.include?("example_only")
          = check_box_tag :search_status_example_only, true, @searched_statuses.include?("example_only"), class: "form-check-input"
          = label_tag :search_status_example_only do
            Test / Example
            %strong Only
        - else
          = check_box_tag :search_status_example, true, @searched_statuses.include?("example"), class: "form-check-input"
          = label_tag :search_status_example, "Test / Example"
          = link_to "only", url_for(sortable_search_params.merge(search_status_example: nil, search_status_example_only: true)), class: "gray-link"

      - if @not_default_statuses
        - status_keys = sortable_search_params.keys.select { |k| k.match?(/\Asearch_status/) }
        .text-right.small
          = link_to "reset to default statuses", url_for(sortable_search_params.merge(status_keys.map { |k| [k, nil] }.to_h))
