-# NOTE: Can't use url_for because of caching!
-# TODO: make it possible, using JS

- bikes ||= @bikes
- no_show_header ||= false
- show_serial ||= params[:show_serial].present?
- render_sortable ||= false
- skip_user ||= false
- render_multi_check ||= false

-# require inline CSS setting because of caching
- unless display_dev_info?
  <style>.only-dev-visible {display: none !important;} </style>
- skip_manufacturer_link = params[:search_manufacturer].present?
- if skip_manufacturer_link
  <style>.display-mnfg-link {display: none !important;}</style>
- if skip_user
  <style>.user-cell {display: none !important;}</style>
- unless render_sortable
  <style>.display-sortable-link {display: none !important;}</style>
- unless render_multi_check
  <style>.display-multi-check {display: none !important;}</style>

= form_tag get_destroy_admin_bike_path(id: "multi_delete"), method: :get do
  .display-multi-check.mb-3.text-center
    = submit_tag 'Delete selected', class: 'btn btn-outline-danger'
  .full-screen-table
    %table.table.table-striped.table-bordered.table-sm.bikeTable{class: show_serial ? "show-admin-bike-table-serial-cell" : ""}
      - unless no_show_header
        %thead.thead-light.sortable
          %th.display-multi-check.table-checkbox-select
            %a#multi-checkbox-selector{href: "#"}
              = check_mark
          %th
            = sortable "id", "Added", render_sortable: render_sortable
          %th.small.d-none.d-xl-table-cell
            = sortable "updated_by_user_at", "Updated", render_sortable: render_sortable
          %th.d-none.d-md-table-cell.user-cell
            .less-strong-hold
              = sortable "owner_email", "Sent to", render_sortable: render_sortable
              %small.d-none.d-lg-block.text-info{style: "position: absolute; right: 0.25em; top: 0.4em;"}
                claimed?
          %th
            = sortable "manufacturer_id", render_sortable: render_sortable
          %th.d-none.d-lg-table-cell
            Info
          %th.admin-bike-table-serial-cell
            Serial
          %th.d-sm-table-cell
            Created by
          %th.d-none.d-md-table-cell.small
            Cred
      %tbody
        - bikes.each do |bike|
          - cache(bike) do
            %tr
              %td.display-multi-check.table-checkbox-select
                = check_box_tag "bikes_selected[#{bike.id}]", bike.id
              %td
                .less-strong-hold
                  %a.small.convertTime{href: edit_admin_bike_url(bike)}
                    = l bike.created_at, format: :convert_time
                  -# Add a space so that the id doesn't get grouped with the time
                  &nbsp;
                  %span.less-strong-right.d-none.d-md-block.only-dev-visible
                    = bike.id
              %td.d-none.d-xl-table-cell
                %small.convertTime
                  = l bike.updated_by_user_fallback, format: :convert_time
              %td.d-none.d-md-table-cell.user-cell
                .less-strong-hold
                  = cache do
                    = render Admin::UserCell::Component.new(email: bike.owner_email, user: bike.user, render_search: true)
                  -# Previously, was passing in search_url with search_email: owner_email - which is more inclusive and MUCH SLOWER
                  - if bike.claimed?
                    %span.less-strong-right.text-info{title: "#{bike.type} is claimed", style: "cursor: default"}
                      = check_mark
              %td
                - if bike.manufacturer_other.present?
                  %span.text-warning
                    = bike.manufacturer_other
                - else
                  = bike.mnfg_name
                %small= link_to search_emoji, admin_bikes_path(search_manufacturer: bike.mnfg_name), class: "display-mnfg-link display-sortable-link"
              %td.d-none.d-lg-table-cell
                .less-strong-hold
                  = render Badge::BikeHiddenAdminExplanation::Component.new(bike:)
                  = [bike.year, bike.frame_model_truncated].join(' ')
                  = "(#{bike.type})" unless bike.type == 'bike'
                  - if bike.stolen_recovery?
                    %small
                      = link_to "recovery!", edit_admin_recovery_url(bike.recovered_records.first.id), class: "text-success text-underline"
                  - if bike.thumb_path.present?
                    %small 📷
                  %span.d-none.d-lg-inline.less-strong= bike.frame_colors.to_sentence
                  - if BikeServices::Displayer.paint_description?(bike)
                    %small.less-strong.d-none.d-lg-inline
                      = link_to bike.paint_description, edit_admin_paint_url(bike.paint)
                  - if bike.status_stolen?
                    %span.text-danger.less-strong-right stolen
              %td.admin-bike-table-serial-cell
                %small.less-strong
                  = bike.serial_number
              %td.d-sm-table-cell
                .less-strong-hold
                  - if bike.creation_organization.present?
                    = link_to bike.creation_organization.name, admin_organization_path(bike.creation_organization.to_param)
                    = link_to search_emoji, admin_bikes_path(organization_id: bike.creation_organization.to_param), class: "small display-sortable-link"
                  - if bike.creation_description
                    %span.less-strong-right
                      - if bike.bulk_import.present?
                        = link_to origin_display(bike.creation_description), admin_bulk_import_path(bike.bulk_import), class: "less-strong"
                      - else
                        = origin_display(bike.creation_description)
              %td.d-none.d-md-table-cell.text-right
                - if bike.credibility_score.present?
                  %small{style: "color: #{credibility_scorer_color_table(bike.credibility_score)};"}
                    = bike.credibility_score
