<%# locals: (bikes: nil, no_show_header: false, show_serial: false, render_sortable: false, skip_user: false, render_multi_check: false) %>
<% bikes ||= @bikes %>
<% show_serial = true if params[:show_serial].present? %>

<%# require inline CSS setting because of caching %>
<% unless display_dev_info? %>
  <style>.only-dev-visible {display: none !important;} </style>
<% end %>

<% skip_manufacturer_link = params[:search_manufacturer].present? %>

<% if skip_manufacturer_link %>
  <style>.display-mnfg-link {display: none !important;}</style>
<% end %>

<% if skip_user %>
  <style>.user-cell {display: none !important;}</style>
<% end %>

<% unless render_sortable %>
  <style>.display-sortable-link {display: none !important;}</style>
<% end %>

<% unless render_multi_check %>
  <style>.display-multi-check {display: none !important;}</style>
<% end %>

<% if no_show_header %>
  <style>.ui-table thead {display: none !important;}</style>
<% end %>

<%= form_tag get_destroy_admin_bike_path(id: "multi_delete"), method: :get, data: {controller: "table-multi-delete"} do %>
  <div class="display-multi-check mb-3 text-center">
    <%= submit_tag 'Delete selected', class: 'btn btn-outline-danger' %>
  </div>

  <div
    data-controller="update-cached-sortable-links"
    data-update-cached-sortable-links-base-url-value="<%= url_for(sortable_search_params) %>"
  >
    <%= render(UI::Table::Component.new(records: bikes, cache_key: "admin-bikes-v2", render_sortable:, classes: show_serial ? "show-admin-bike-table-serial-cell" : nil)) do |table| %>
      <% table.column(label: button_tag(check_mark, type: "button", class: "twlink tw:bg-transparent tw:border-0 tw:p-0 tw:cursor-pointer", data: {action: "click->table-multi-delete#toggleAll"}), classes: "display-multi-check tw:w-8", header_classes: "display-multi-check tw:w-8") do |bike| %>
        <%= check_box_tag "bikes_selected[#{bike.id}]", bike.id, false, data: {"table-multi-delete-target" => "checkbox"} %>
      <% end %>

      <% table.column(sortable: "id", label: "Added", lower_right: ->(bike) { content_tag(:span, bike.id, class: "only-dev-visible") }) do |bike| %>
        <%= link_to render(UI::Time::Component.new(time: bike.created_at)), edit_admin_bike_url(bike), class: "tw:text-xs" %>
      <% end %>

      <% table.column(sortable: "updated_by_user_at", label: "Updated", classes: "tw:hidden tw:xl:table-cell tw:text-xs") do |bike| %>
        <%= render UI::Time::Component.new(time: bike.updated_by_user_fallback) %>
      <% end %>

      <% table.column(sortable: "owner_email", label: "Sent to", classes: "tw:hidden tw:md:table-cell user-cell") do |bike| %>
        <div class="tw:relative">
          <%# Pass in search_url because caching breaks with url_for %>
          <% search_url = bike.user.present? ? admin_bikes_path(user_id: bike.user.id) : admin_bikes_path(search_email: bike.owner_email) %>
          <%= render Admin::UserCell::Component.new(email: bike.owner_email, user: bike.user, search_url:) %>

          <% if bike.claimed? %>
            <span
              class="tw:absolute tw:top-0 tw:right-0 <%= UI::Alert::Component::TEXT_CLASSES[:notice] %>"
              title="<%= bike.type %> is claimed"
              style="cursor: default"
            >
              <%= check_mark %>
            </span>
          <% end %>
        </div>
      <% end %>

      <% table.column(sortable: "manufacturer_id") do |bike| %>
        <% if bike.manufacturer_other.present? %>
          <span class="<%= UI::Alert::Component::TEXT_CLASSES[:warning] %>">
            <%= bike.manufacturer_other %>
          </span>
        <% else %>
          <%= bike.mnfg_name %>
        <% end %>

        <small>
          <%= link_to search_emoji, admin_bikes_path(search_manufacturer: bike.mnfg_name), class: "display-mnfg-link display-sortable-link" %>
        </small>
      <% end %>

      <% table.column(label: "Info", classes: "tw:hidden tw:lg:table-cell") do |bike| %>
        <div class="tw:relative">
          <%= render Admin::Badges::BikeHiddenExplanation::Component.new(bike:) %>
          <%= [bike.year, bike.frame_model_truncated].join(' ') %>
          <%= "(#{bike.type})" unless bike.type == 'bike' %>

          <% if bike.stolen_recovery? %>
            <small>
              <%= link_to "recovery!", edit_admin_recovery_url(bike.recovered_records.first.id), class: "#{UI::Alert::Component::TEXT_CLASSES[:success]} tw:underline" %>
            </small>
          <% end %>

          <% if bike.thumb_path.present? %>
            <small>📷</small>
          <% end %>

          <span class="lg:tw:inline tw:hidden tw:text-gray-400">
            <%= bike.frame_colors.to_sentence %>
          </span>

          <% if BikeServices::Displayer.paint_description?(bike) %>
            <small class="lg:tw:inline tw:hidden tw:text-gray-400">
              <%= link_to bike.paint_description, edit_admin_paint_url(bike.paint) %>
            </small>
          <% end %>

          <% if bike.status_stolen? %>
            <span class="tw:absolute tw:right-0 tw:bottom-0 tw:text-xs <%= UI::Alert::Component::TEXT_CLASSES[:error] %>">
              stolen
            </span>
          <% end %>
        </div>
      <% end %>

      <% table.column(label: "Serial", classes: "admin-bike-table-serial-cell") do |bike| %>
        <small class="tw:text-gray-400"><%= bike.serial_number %></small>
      <% end %>

      <% table.column(label: "Created by") do |bike| %>
        <div class="tw:relative">
          <% if bike.creation_organization.present? %>
            <%= link_to bike.creation_organization.name, admin_organization_path(bike.creation_organization.to_param) %>
            <%= link_to search_emoji, admin_bikes_path(organization_id: bike.creation_organization.to_param), class: "small display-sortable-link" %>
          <% end %>

          <% if bike.creation_description %>
            <span class="tw:absolute tw:right-0 tw:bottom-0 tw:text-xs tw:text-gray-400">
              <% if bike.bulk_import.present? %>
                <%= link_to helpers.origin_display(bike.creation_description), admin_bulk_import_path(bike.bulk_import), class: "tw:text-gray-400" %>
              <% else %>
                <%= helpers.origin_display(bike.creation_description) %>
              <% end %>
            </span>
          <% end %>
        </div>
      <% end %>

      <% table.column(label: "Cred", classes: "tw:hidden tw:md:table-cell tw:text-right tw:text-xs") do |bike| %>
        <% if bike.credibility_score.present? %>
          <small
            style="color: <%= helpers.credibility_scorer_color_table(bike.credibility_score) %>;"
          >
            <%= bike.credibility_score %>
          </small>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
