= render partial: "/admin/bikes/bike_tabs", locals: { bike: @bike, active_tab: "bikes-edit" }

.d-none{ data: { url: ENV['BASE_URL'] } }

.admin-subnav.midpage-subnav
  .col-4.col-md-6
    %h1
      Edit Bike
      = link_to "user edit", edit_bike_path(@bike, return_to: url_for), class: "user-edit-link"
  .col-8.col-md-6.text-right
    = render partial: "/bikes/credibility_score", locals: { bike: @bike }

= form_for [:admin, @bike], html: { class: 'form form-horizontal admin-bike-edit' } do |f|
  = render(Alerts::ObjectErrors::Component.new(object: @bike))

  .row
    .col-md-4.col-lg-3
      .form-group
        = render Form::Combobox::Component.new(name: :cycle_type, form: f, label: "Cycle type", required: true, options: CycleType.select_options)
    .col-6.col-md-4.col-lg-5
      .form-group
        = f.label :serial_number
        = f.text_field :serial_number, required: true, class: "form-control #{@bike.no_serial? ? 'fake-disabled' : ''}"
    .col-6.col-md-4.col-lg-3
      .serial-check.serial-check-unknown.ml-2
        = check_box_tag :has_no_serial, true, @bike.serial_unknown?, class: "form-check-input"
        = label_tag :has_no_serial, "Unknown serial"
      .serial-check.serial-check-made-without.ml-2
        = f.check_box :made_without_serial, class: "form-check-input"
        = f.label :made_without_serial
  .row
    .col-6.col-md-4.col-lg-3
      .form-group
        - manufacturer_label = capture do
          Manufacturer
          %em.small
            = link_to "mfg bikes", admin_bikes_path(search_manufacturer: @bike.mnfg_name), class: "less-strong"
        = render Form::Combobox::Component.new(name: :manufacturer_id, form: f, label: manufacturer_label, required: true, options: Manufacturer.frame_makers.pluck(:name, :id))
    .col-6.col-md-4.col-lg-3
      .form-group
        = f.label :manufacturer_other do
          %span.d-none.d-sm-inline
            Other mnfg
          %small.less-strong
            %span.d-none.d-xl-inline
              Only necessary
            if Manufacturer <em>Other</em>
        = f.text_field :manufacturer_other, class: "form-control"
    .col-6.col-md-4.col-lg-3
      .form-group
        = f.label :year
        = f.text_field :year, class: "form-control"
    .col-6.col-md-4.col-lg-3
      .form-group
        = render Form::Combobox::Component.new(name: :primary_frame_color_id, form: f, label: Bike.human_attribute_name(:primary_frame_color_id), placeholder: "Choose color", required: true, include_blank: true, options: Color.all.pluck(:name, :id))
    .col-md-4.col-lg-3
      .form-group
        = f.label :frame_model
        = f.text_field :frame_model, class: "form-control"
    .col-md-4.col-lg-6
      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control"
    .col-md-4.col-lg-3
      = render partial: "/bikes_edit/bike_fields/primary_activity", locals: {f: f, wrapper_class: "form-group fancy-select unfancy"}

  .row.mt-2
    .col-md-4.col-lg-6
      .form-group
        %label
          Owner email
          = f.label :skip_email do
            %span.text-info.ml-2
              = f.check_box :skip_email
              Don't Send email
            %em.small only applies if email changes
        = f.email_field :owner_email, required: true, class: "form-control"
    - if @organizations.present?
      .col-md-4.col-lg-3
        .form-group
          = render Form::Combobox::Component.new(name: :creation_organization_id, form: f, label: Bike.human_attribute_name(:creation_organization_id), placeholder: "Choose organization", include_blank: true, options: @organizations.pluck(:name, :id))
      .col-md-4.col-lg-3
        .form-group.fancy-select.unfancy
          = f.label :bike_organization_ids, 'Current orgs'
          = f.collection_select(:bike_organization_ids, @organizations, :id, :name, { include_blank: true, prompt: '' }, { multiple: true, class: "form-control" })

  .row.mt-4
    .col-12.text-center
      = submit_tag "Update the bike", class: "btn btn-success btn-lg"

  - if @bike.current_stolen_record.present?
    %h4.mt-4#edit-stolen-record
      Edit Stolen Record
    = f.fields_for :stolen_records do |s|
      - next unless s.object.current
      .row.mt-4
        .col-md-4
          .row
            #stolen-bike-location.form-group.col-6
              #country_select_container
                = render Form::Combobox::Component.new(name: :country_id, form: s, label: "Country", placeholder: "Choose country", include_blank: true, options: Country.select_options)
                %p.d-none
                  = Country.united_states_id
            .form-group.col-6
              = render Form::Combobox::Component.new(name: :state_id, form: s, label: "State", placeholder: "State", include_blank: true, options: State.united_states.pluck(:name, :id))
          .form-group
            = label :street, "Intersection or address"
            = s.text_field :street, placeholder: "Intersection or address", class: "form-control"
          .row
            .col-6.form-group
              = label :city, "City"
              = s.text_field :city, placeholder: "City", class: "form-control"
            .col-6.form-group
              = label :zipcode, "Zipcode"
              = s.text_field :zipcode, placeholder: "Zipcode", class: "form-control"

        .col-md-8
          .form-group
            = s.label :theft_description, "Theft description"
            = s.text_area :theft_description, placeholder: "Theft Description", class: "form-control"
          .row
            .col-6.form-group
              = s.label :police_report_department
              = s.text_field :police_report_department, class: "form-control"
            .col-6.form-group
              = s.label :police_report_number
              = s.text_field :police_report_number, class: "form-control"
          .row
            .col-6.form-group
              = s.label :estimated_value, "Estimated value"
              = s.number_field :estimated_value, class: "form-control"
            -# Note: this is no longer an attribute on bikes (PR#1875) - but unchecking this expands the recovery fields
            -# ... and filling in the recovery fields recovers the bike
            .col-6.form-group#stolenCheckBox
              = label_tag :stolen do
                = check_box_tag :stolen, true, true
                Bike is stolen
      #adminRecoveryFields.collapse
        %hr
        .row
          .col-md-6
            .form-group
              = label :mark_recovered_reason, "How was it recovered"
              = text_area_tag :mark_recovered_reason, nil, rows: 3, placeholder: "You HAVE to put something in here", class: "form-control"
          .col-md-6
            .form-group
              = label_tag :mark_recovered_we_helped do
                = check_box_tag :mark_recovered_we_helped, true
                Did Bike Index help?
            .form-group
              = label_tag :can_share_recovery do
                = check_box_tag :can_share_recovery, true
                Can Share
.row.mt-4.mb-4
  - unless @bike.deleted?
    .col.text-right
      = link_to "Delete bike", admin_bike_url(@bike), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger ml-4"

.mt-5
  %table.table.table-striped.table-bordered.table-sm
    %thead
      %th
        Organizations
      %td
        Created
      %td
        Edit claimed?
      %td
        Deleted
    %tbody
      - bike_organizations = BikeOrganization.unscoped.where(bike_id: @bike.id).order(:id)
      - if bike_organizations.none?
        %tr
          %td{colspan: 4}
            %em.less-strong No organizations
      - bike_organizations.each do |bike_organization|
        %tr
          %td
            = link_to bike_organization.organization&.short_name, admin_organization_path(bike_organization.organization_id)
          %td
            %span.localizeTime
              = l bike_organization.created_at, format: :convert_time
            - if display_dev_info?
              %code.only-dev-visible.small.ml-2
                ID: #{bike_organization.id}
          %td
            = check_mark if bike_organization.can_edit_claimed
          %td
            - if bike_organization.deleted_at.present?
              %span.localizeTime.text-danger
                = l bike_organization.deleted_at, format: :convert_time

#BParamsView.mt-5.collapse{class: (display_dev_info? ? "show in" : "")}
  .row
    - @bike.ownerships.reorder(created_at: :desc).each do |ownership|
      .col-md-6.mt-2
        %table.table-list
          %tbody
            %tr
              %td Kind
              %td
                Ownership
                - if @bike.current_ownership_id == ownership.id
                  %span.text-success Current
                - elsif ownership.current?
                  %small.less-strong Current but not set on Bike
                - else
                  %span.text-info transferred
            %tr
              %td
                Created
              %td
                %span.localizeTime
                  = l ownership.created_at, format: :convert_time
                - if display_dev_info?
                  %code.only-dev-visible.small.ml-2
                    ID: #{ownership.id}
            %tr
              %td
                Updated
              %td
                %span.localizeTime
                  = l ownership.updated_at, format: :convert_time
            %tr
              %td
                Organization
              %td
                - if ownership.organization_id.present?
                  - org_display_name = Organization.unscoped.find(ownership.organization_id)&.name || ownership.organization_id
                  = link_to org_display_name, admin_organization_path(ownership.organization_id)
            %tr
              %td
                Creator
              %td
                - if ownership.creator_id.present?
                  - creator_display_name = ownership.creator&.display_name || ownership.creator_id
                  = link_to creator_display_name, admin_user_path(ownership.creator_id)
            - if ownership.registration_info.present?
              - ownership.registration_info.each do |k, v|
                %tr
                  %td= k
                  %td= v
      .col-md-6.mt-2
        - ownership_attrs = ownership.attributes.except("creator_id", "bike_id", "organization_id", "created_at", "updated_at", "token", "id")
        = pretty_print_json(ownership_attrs, true)

  .row.mt-2
  - if @bike.b_params.any?
    .row
      - @bike.b_params.each do |b_param|
        .col-md-6.mt-2
          %table.table-list
            %tbody
              %tr
                %td Kind
                %td BParam
              %tr
                %td
                  Created
                %td
                  %span.localizeTime
                    = l b_param.created_at, format: :convert_time
                  - if display_dev_info?
                    %code.only-dev-visible.small.ml-2
                      ID: #{b_param.id}
              %tr
                %td
                  Updated
                %td
                  %span.localizeTime
                    = l b_param.updated_at, format: :convert_time
        .col-md-6.mt-2
          = pretty_print_json(b_param.params, true)
  - else
    %p
      No <code>BParams</code> exist

-# If display_dev_info, the creation data always shows up
- unless display_dev_info?
  .mt-4
    %a.gray-link{ href: "#BParamsView", data: { toggle: "collapse", target: "#BParamsView" } }
      Creation data & developer information

