- if @fast_attr_update
  = render 'fast_attr_update'
- else
  .d-none{data: { url: ENV['BASE_URL'] }}
  %ul.p-0
    = render partial: "/admin/bikes/bike", locals: { bike: @bike, target: "show" }
  - if @bike.stolen
    %h4
      = link_to 'Stolen edit page', edit_admin_stolen_bike_url(@bike)
  .row
    .col-md-6
      %table.table-list
        %tr
          %td
            Owner Email
          %td
            = @bike.owner_email
        - if @bike.owner.present?
          %tr
            %td
              Current Email
            %td
              = link_to @bike.owner.email, edit_admin_user_url(@bike.owner)
          %tr
            %td
              Donor
            %td
              - if @bike.owner.donor?
                TRUE!
              - else
                No
          %tr
            %td
              Paid Org
            %td
              -if @bike.owner.paid_org?
                - @bike.owner.organizations.paid.each do |organization|
                  <small>#{link_to organization.name, admin_organization_path(organization)}</small>
              - else
                %strong
                  Missing owner!
    .col-md-6
      %table.table-list
        - if @bike.current_stolen_record.present?
          %tr
            %td
              Phone
            %td
              = @bike.current_stolen_record.phone
        %tr
          %td
            Creation
          %td
            - if @bike.creation_organization.present?
              = link_to @bike.creation_organization.name, admin_organization_path(@bike.creation_organization)
            - else
              %small.less-strong
                self reg
            - if @bike.creation_description.present?
              \-
              %em
                - if @bike.creation_description == "pos"
                  Point of Sale, auto reg
                - else
                  Via #{@bike.creation_description}
        %tr
          %td
            Created
          %td
            %span.convertTime
              = l @bike.created_at, format: :convert_time
            %small.convertTimezone
            = @bike.dl_from_attribute('cached_data')

  %hr
  - if @bike.user_hidden
    %h2.text-danger.mb-4{ style: "margin-bottom: 2rem; text-align: center;" }
      Marked HIDDEN by the user
      %small
        no one but the user (and bike index admins) can see it
  = form_for [:admin, @bike], html: { class: 'form form-horizontal admin-bike-edit' } do |f|
    = hidden_field_tag :fast_attr_update, @fast_attr_update


    - if @bike.errors.any?
      = render partial: "/shared/errors", locals: { name: "Bike", obj: @bike }
    .row
      .col-lg-6
        .form-group.fancy-select.unfancy
          = f.label :cycle_type, "Cycle type"
          = select(:bike, :cycle_type, CycleType.select_options, { required: true })
      .col-lg-6
        .form-group
          = f.label :serial_number
          = f.text_field :serial_number, :required =>true, class: "form-control"
        .form-group
          = f.label :has_no_serial
          = f.check_box :has_no_serial

    .row
      .col-lg-6
        .form-group
          = f.label :manufacturer_id
          = f.text_field :manufacturer_id, data: { initial: { id: @bike.manufacturer.id, text: @bike.manufacturer.name }.to_json }, class: "form-control"
      .col-lg-6
        .form-group
          = f.label :manufacturer_other, "Other frame manufacturer"
          = f.text_field :manufacturer_other, class: "form-control"
    .row
      .col-lg-6
        .form-group
          = f.label :card_id, "Spokecard id"
          = f.text_field :card_id, class: "form-control"
      .col-lg-6
        .form-group
          = f.label :hidden do
            - if @bike.user_hidden
              User hidden
            - else
              Hidden (fake delete)
            = f.check_box :hidden
    .row
      .col-lg-6
        .form-group
          = f.label :frame_model
          = f.text_field :frame_model, class: "form-control"
      .col-lg-6
        .form-group
          = f.label :year
          = f.text_field :year, class: "form-control"
    / Disable for performance reasons.
    / .control-group.chosen-select
    /   = f.label :paint_id, "Paint description", class: "control-label"
    /   .controls
    /     = collection_select( :bike, :paint_id, Paint.all, :id, :name, required: true, prompt: "Choose paint" )
    .row
      .col-lg-6
        .form-group.fancy-select.unfancy
          = f.label :primary_frame_color_id
          = collection_select(:bike, :primary_frame_color_id, Color.all, :id, :name, required: true, prompt: "Choose color" )
      .col-lg-6
        .form-group.fancy-select.unfancy
          = f.label :creation_organization_id
          = collection_select(:bike, :creation_organization_id, @organizations, :id, :name, prompt: "Choose organization")
    .row
      .col-lg-6
        .form-group.fancy-select.unfancy
          = f.label :bike_organization_ids, 'Current orgs'
          = f.collection_select(:bike_organization_ids, @organizations, :id, :name, { include_blank: true, prompt: '' }, { multiple: true })
      .col-lg-6
        .form-group
          = f.label :description
          = f.text_field :description, class: "form-control"
    .row.mb-4
      .col-lg-6
        .form-group
          = f.label :owner_email
          = f.text_field :owner_email, :required =>true, class: "form-control"



    = submit_tag "Update the bike", class: "btn btn-success mb-4"
    = link_to "Delete bike", admin_bike_url(@bike), method: :delete, confirm: "Are you sure?", class: "btn btn-danger mb-4"
    - if current_user.superuser
      = link_to "edit bike attributes", edit_admin_bike_url(@bike, fast_attr_update: true), class: "mb-4"

    - if @bike.stolen and @bike.find_current_stolen_record.present?
      %hr
      = f.fields_for :stolen_records do |s|
        - if s.object.current
          .row
            .col-md-6
              #stolen-bike-location.form-group.fancy-select.unfancy
                #country_select_container
                  = label :country, "Country"
                  = s.collection_select(:country_id, Country.all, :id, :name, prompt: "Choose country")
                  %p.d-none
                    = Country.united_states.id
            .col-md-6
              = label :street, "Intersection or address"
              = s.text_field :street, placeholder: "Intersection or address", class: "form-control"
          .row
            .col-md-6
              = label :city, "City"
              = s.text_field :city, placeholder: "City", class: "form-control"
            .col-md-6
              = label :zipcode, "Zipcode"
              = s.text_field :zipcode, placeholder: "Zipcode", class: "form-control"

          .row.mt-4
            .col-md-6.fancy-select.unfancy
              = label :state, "State"
              = s.collection_select(:state_id, State.all, :id, :name, include_blank: true, prompt: "State" )
            .col-md-6
              .form-group
                = label :theft_description, "Theft description"
                = s.text_area :theft_description, placeholder: "Theft Description", class: "form-control"
          .row
            .col-md-6
              .form-group
                = f.label :estimated_value, "Estimated value"
                = s.number_field :estimated_value, class: "form-control"
            .col-md-6
              .form-group#stolen-check-box
                = f.label :stolen, "Bike is stolen"
                = f.check_box :stolen
              #admin-recovery-fields{style: "display: none"}
                .input-group
                  .form-group.large-text
                    = label :mark_recovered_reason, "How was it recovered"
                    #recovery_descr
                      = text_area_tag :mark_recovered_reason, nil, rows: 3
                .input-group
                  .form-group
                    = label :mark_recovered_we_helped, "Did the bike index help?"
                    = check_box_tag :mark_recovered_we_helped, true
                .input-group
                  .form-group
                    = label :can_share_recovery, "Can Share"
                    = check_box_tag :can_share_recovery, true
        - else
          / Don't put anything
          / Because there might be more stolen records and it breaks without
          / an else



  .full-screen-table
    %table.table.table-striped.table-bordered.table-sm
      %thead.thead-light
        %th.d-none.d-lg-table-cell
          ID
        %th.d-none.d-md-table-cell
          Created&nbsp;<small class="convertTimezone"></small>
        %th.d-none.d-lg-table-cell
          Creator
        %th
          Owner email
        %th
          Current?
        %th
          Claimed?
        %th.d-none.d-md-table-cell
          User hidden
      %tbody
        - @bike.ownerships.each do |ownership|
          %tr
            %td.d-none.d-lg-table-cell
              = link_to ownership.id, edit_admin_ownership_url(ownership.id)
            %td.d-none.d-md-table-cell
              %span.convertTime
                = l ownership.created_at, format: :convert_time
            %td.d-none.d-lg-table-cell
              - u = ownership.creator
              - if u.name.present?
                = u.name
              - else
                = u.email
            %td
              = ownership.owner_email
            %td.table-cell-check
              = "&#x2713;".html_safe if ownership.current
            %td.table-cell-check
              = "&#x2713;".html_safe if ownership.claimed
            %td.table-cell-check.d-none.d-md-table-cell
              = "&#x2713;".html_safe if ownership.user_hidden
  - if @recoveries.any?
    %h3.mt-4
      Recoveries
    .full-screen-table
      %table.table.table-striped.table-bordered.table-sm
        %thead.thead-light
          %th.d-none.d-md-table-cell
            Date Recovered&nbsp;<small class="convertTimezone"></small>
          %th
            Description
          %th
            Helped?
          %th
            Share?
          %th
            unrecover
        %tbody
          - @recoveries.each do |recovery|
            %tr
              %td.d-none.d-md-table-cell
                %span.convertTime
                  = l recovery.date_recovered, format: :convert_time
              %td
                = recovery.recovered_description
              %td.table-cell-check.d-none.d-md-table-cell
                = "&#x2713;".html_safe if recovery.index_helped_recovery
              %td.table-cell-check.d-none.d-md-table-cell
                = "&#x2713;".html_safe if recovery.can_share_recovery
              %td
                = link_to 'unrecover', unrecover_admin_bikes_path(stolen_record_id: recovery.id, bike_id: @bike.id), method: :put, data: { confirm: "Are you sure you want to mark this #{@bike.type} unrecovered? The #{@bike.type} will be stolen again." }
