= render partial: "/admin/bikes/bike", locals: { bike: @bike, target: "show" }

.d-none{ data: { url: ENV['BASE_URL'] } }

- if @bike.current_stolen_record.present? && @bike.current_stolen_record.theft_alerts.any?
  %h4.mt-2
    Promoted Alerts
  = render partial: "/admin/theft_alerts/table", locals: { theft_alerts: @bike.current_stolen_record.theft_alerts, skip_bike: true }

- if @recoveries.present?
  %h3.mt-4
    Recoveries
  = render partial: "/admin/recoveries/table", locals: { recoveries: @recoveries, skip_bike: true }

.admin-subnav.midpage-subnav
  .col-12
    %h1
      Edit Bike
      - if @bike.deleted?
        %span.text-danger
          Deleted at:
          %span.convertTime.preciseTime
            = l @bike.deleted_at, format: :convert_time



- if @bike.user_hidden
  %h2.text-danger.mb-4{ style: "margin-bottom: 2rem; text-align: center;" }
    Marked HIDDEN by the user
    %small
      no one but the user (and bike index admins) can see it

= form_for [:admin, @bike], html: { class: 'form form-horizontal admin-bike-edit' } do |f|
  - if @bike.errors.any?
    = render partial: "/shared/errors", locals: { name: "Bike", obj: @bike }
  .row
    .col-md-4.col-lg-3
      .form-group.fancy-select.unfancy
        = f.label :cycle_type, "Cycle type"
        = select(:bike, :cycle_type, CycleType.select_options, { required: true })
    .col-6.col-md-4.col-lg-5
      .form-group
        = f.label :serial_number
        = f.text_field :serial_number, required: true, class: "form-control #{@bike.no_serial? ? 'fake-disabled' : ''}"
    .col-6.col-md-4.col-lg-3
      .serial-check.serial-check-unknown.ml-2
        = check_box_tag :has_no_serial, true, @bike.serial_unknown?, class: "form-check-input"
        = label_tag :has_no_serial, "Unknown serial"
      .serial-check.serial-check-made-without.ml-2
        = f.check_box :made_without_serial, class: "form-check-input"
        = f.label :made_without_serial
  .row
    .col-6.col-md-4.col-lg-3
      .form-group.fancy-select.unfancy
        = f.label :manufacturer_id
        = collection_select(:bike, :manufacturer_id, Manufacturer.frame_makers, :id, :name, {}, { required: true, class: "form-control" })
    .col-6.col-md-4.col-lg-3
      .form-group
        = f.label :manufacturer_other do
          %span.d-none.d-sm-inline
            Other mnfg
          %small.less-strong
            %span.d-none.d-xl-inline
              Only necessary
            if Manufacturer <em>Other</em>
        = f.text_field :manufacturer_other, class: "form-control"
    .col-6.col-md-4.col-lg-3
      .form-group
        = f.label :year
        = f.text_field :year, class: "form-control"
    .col-6.col-md-4.col-lg-3
      .form-group.fancy-select.unfancy
        = f.label :primary_frame_color_id
        = collection_select(:bike, :primary_frame_color_id, Color.all, :id, :name, { prompt: "Choose color" }, { required: true, class: "form-control" })
    .col-md-4.col-lg-3
      .form-group
        = f.label :frame_model
        = f.text_field :frame_model, class: "form-control"
    .col-md-4.col-lg-3
      .form-group
        = f.label :owner_email
        = f.text_field :owner_email, required: true, class: "form-control"
    .col-md-4.col-lg-3
      %label.d-none.d-md-block
        &nbsp;
      = f.label :hidden do
        = f.check_box :hidden
        - if @bike.user_hidden
          User hidden
        - else
          Hidden (oldskool fake delete)
  .row.mt-2
    .col-md-4.col-lg-6
      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control"
    - if @organizations.present?
      .col-md-4.col-lg-3
        .form-group.fancy-select.unfancy
          = f.label :creation_organization_id
          = f.collection_select(:creation_organization_id, @organizations, :id, :name, { prompt: "Choose organization" }, { class: "form-control" })
      .col-md-4.col-lg-3
        .form-group.fancy-select.unfancy
          = f.label :bike_organization_ids, 'Current orgs'
          = f.collection_select(:bike_organization_ids, @organizations, :id, :name, { include_blank: true, prompt: '' }, { multiple: true, class: "form-control" })

  .row.mt-4
    .col-12.text-center
      = submit_tag "Update the bike", class: "btn btn-success btn-lg"

  - if @bike.stolen and @bike.current_stolen_record.present?
    %h4.mt-4#edit-stolen-record
      Edit Stolen Record
    = f.fields_for :stolen_records do |s|
      - next unless s.object.current
      .row.mt-4
        .col-md-4
          .row
            #stolen-bike-location.form-group.fancy-select.unfancy.col-6
              #country_select_container
                = label :country, "Country"
                = s.select(:country_id, Country.select_options, prompt: "Choose country")
                %p.d-none
                  = Country.united_states.id
            .form-group.fancy-select.unfancy.col-6
              = s.label :state, "State"
              = s.collection_select(:state_id, State.all, :id, :name, include_blank: true, prompt: "State")
          .form-group
            = label :street, "Intersection or address"
            = s.text_field :street, placeholder: "Intersection or address", class: "form-control"
          .row
            .col-6.form-group
              = label :city, "City"
              = s.text_field :city, placeholder: "City", class: "form-control"
            .col-6.form-group
              = label :zipcode, "Zipcode"
              = s.text_field :zipcode, placeholder: "Zipcode", class: "form-control"

        .col-md-8
          .form-group
            = s.label :theft_description, "Theft description"
            = s.text_area :theft_description, placeholder: "Theft Description", class: "form-control"
          .row
            .col-6.form-group
              = s.label :police_report_department
              = s.text_field :police_report_department, class: "form-control"
            .col-6.form-group
              = s.label :police_report_number
              = s.text_field :police_report_number, class: "form-control"
          .row
            .col-6.form-group
              = s.label :estimated_value, "Estimated value"
              = s.number_field :estimated_value, class: "form-control"
            .col-6.form-group#stolenCheckBox
              = f.label :stolen do
                = f.check_box :stolen
                Bike is stolen
      #adminRecoveryFields.collapse
        %hr
        .row
          .col-md-6
            .form-group
              = label :mark_recovered_reason, "How was it recovered"
              = text_area_tag :mark_recovered_reason, nil, rows: 3, class: "form-control"
          .col-md-6
            .form-group
              = label_tag :mark_recovered_we_helped do
                = check_box_tag :mark_recovered_we_helped, true
                Did Bike Index help?
            .form-group
              = label_tag :can_share_recovery do
                = check_box_tag :can_share_recovery, true
                Can Share
%h3.mt-4
  Ownerships
.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th.d-none.d-lg-table-cell
        ID
      %th
        Created&nbsp;<small class="convertTimezone"></small>
      %th
        Creator
      %th
        Owner email
      %th
        Current?
      %th
        Claimed?
      %th.d-none.d-md-table-cell
        User hidden
    %tbody
      - @bike.ownerships.reorder(created_at: :desc).each do |ownership|
        %tr
          %td.d-none.d-lg-table-cell
            = ownership.id
          %td
            %a.convertTime{ href: edit_admin_ownership_url(ownership.id) }
              = l ownership.created_at, format: :convert_time
          %td
            - creator = ownership.creator
            - if creator.blank?
              %em.text-warning user deleted
              %span.only-dev-visible
                \##{ownership.creator_id}
            - elsif creator.name.present?
              = creator.name
            - else
              = creator.email
          %td
            = ownership.owner_email
          %td.table-cell-check
            = check_mark if ownership.current
          %td.table-cell-check
            = check_mark if ownership.claimed
          %td.table-cell-check.d-none.d-md-table-cell
            = check_mark if ownership.user_hidden

- if @bike.bike_stickers.present?
  %h3.mt-4
    Stickers
  = render partial: "/admin/bike_stickers/table", locals: { bike_stickers: @bike.bike_stickers }

.row.mt-4.mb-4
  .col-6
    = link_to "Bike messages", admin_feedbacks_path(search_bike_id: @bike.to_param), class: "btn btn-outline-primary"
  .col-6.text-right
    = link_to "Delete bike", admin_bike_url(@bike), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger ml-4"

#BParamsView.mt-4.collapse
  %hr
  .row
    .col-md-6.mt-2
      %table.table-list
        %tbody
          %tr
            %td Coordinates
            %td
              %code
                = @bike.to_coordinates
          %tr
            %td
              Address
            %td
              = pretty_print_json(@bike.address_hash)
  .row
    - @bike.creation_states.each do |creation_state|
      .col-md-6.mt-2
        %table.table-list
          %tbody
            %tr
              %td Kind
              %td CreationState
            %tr
              %td
                Created
              %td
                %span.convertTime
                  = l creation_state.created_at, format: :convert_time
            %tr
              %td
                Updated
              %td
                %span.convertTime
                  = l creation_state.updated_at, format: :convert_time
            %tr
              %td
                Organization
              %td
                - if creation_state.organization_id.present?
                  - org_display_name = Organization.unscoped.find(creation_state.organization_id)&.name || creation_state.organization_id
                  = link_to org_display_name, admin_organization_path(creation_state.organization_id)
            %tr
              %td
                Creator
              %td
                - if creation_state.creator_id.present?
                  - creator_display_name = creation_state.creator&.display_name || creation_state.creator_id
                  = link_to creator_display_name, admin_user_path(creation_state.creator_id)
      .col-md-6.mt-2
        = pretty_print_json(creation_state.attributes.except("creator_id", "bike_id", "organization_id", "created_at", "updated_at"))

  - if @bike.b_params.any?
    .row
      - @bike.b_params.each do |b_param|
        .col-md-6.mt-2
          %table.table-list
            %tbody
              %tr
                %td Kind
                %td BParam
              %tr
                %td
                  Created
                %td
                  %span.convertTime
                    = l b_param.created_at, format: :convert_time
              %tr
                %td
                  Updated
                %td
                  %span.convertTime
                    = l b_param.updated_at, format: :convert_time
        .col-md-6.mt-2
          = pretty_print_json(b_param.params)
  - else
    %p
      No <code>BParams</code> exist

.mt-4
  %a.gray-link{ href: "#BParamsView", data: { toggle: "collapse", target: "#BParamsView" } }
    View Creation data & developer information

