.admin-subnav
  .col-md-5
    %h1
      Manage Bikes
  .col-md-7
    %ul
      %li.nav-item
        = link_to "Unknown Mnfgs", missing_manufacturer_admin_bikes_path, class: "nav-link #{@unknown ? 'active' : ''}"
      %li.nav-item
        - stolen_active = params[:search_stolen].present?
        = link_to "stolen", admin_bikes_path(sortable_search_params.merge(search_stolen: stolen_active ? nil : true)), class: "nav-link #{stolen_active ? 'active' : ''}"
      - if !@user.present?
        %li.nav-item
          - example_active = params[:search_example].present?
          = link_to "example", admin_bikes_path(sortable_search_params.merge(search_non_example: nil, search_example: example_active ? nil : true)), class: "nav-link #{example_active ? 'active' : ''}"
      %li.nav-item
        - non_example_active = params[:search_non_example].present?
        = link_to "non-example", admin_bikes_path(sortable_search_params.merge(search_example: nil, search_non_example: non_example_active ? nil : true)), class: "nav-link #{non_example_active ? 'active' : ''}"
      %li.nav-item
        - any_origin_active = @origin_search_type.blank?
        %a.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (any_origin_active ? "" : "active") }
          - if any_origin_active
            Origin
          - else
            = @origin_search_type.humanize
        .dropdown-menu
          = link_to "Any Origin", admin_bikes_path(sortable_search_params.merge(search_origin: nil)), class: "dropdown-item #{any_origin_active ? 'active' : ''}"
          .dropdown-divider
          - CreationState.origins.each do |origin|
            - origin_active = @origin_search_type == origin
            = link_to origin.humanize, admin_bikes_path(sortable_search_params.merge(search_origin: origin_active ? nil : origin)), class: "dropdown-item #{origin_active ? 'active' : ''}"
      %li.nav-item
        %a.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@pos_search_type.present? ? "active" : "") }
          - if @pos_search_type.present?
            = @pos_search_type.humanize
          - else
            POS
        .dropdown-menu
          - ascend_active = @pos_search_type == "ascend_pos"
          = link_to "Ascend", admin_bikes_path(sortable_search_params.merge(search_pos: ascend_active ? nil : "ascend_pos")), class: "dropdown-item #{ascend_active ? 'active' : ''}"
          - lightspeed_active = @pos_search_type == "lightspeed_pos"
          = link_to "Lightspeed", admin_bikes_path(sortable_search_params.merge(search_pos: lightspeed_active ? nil : "lightspeed_pos")), class: "dropdown-item #{lightspeed_active ? 'active' : ''}"
          .dropdown-divider
          - any_pos_active = @pos_search_type == "any_pos"
          = link_to "Any POS", admin_bikes_path(sortable_search_params.merge(search_pos: any_pos_active ? nil : "any_pos")), class: "dropdown-item #{any_pos_active ? 'active' : ''}"
          - no_pos_active = @pos_search_type == "no_pos"
          = link_to admin_bikes_path(sortable_search_params.merge(search_pos: no_pos_active ? nil : "no_pos")), class: "dropdown-item #{no_pos_active ? 'active' : ''}" do
            <strong>Not</strong> POS

      %li.nav-item
        = link_to "graph", admin_bikes_path(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"
  - if current_organization.present?
    %p.subtitle
      #{link_to current_organization.name, admin_organization_path(current_organization.to_param)} bikes
      %em
        = link_to "org bikes view", organization_bikes_path(organization_id: current_organization.to_param), class: "gray-link"
- if @render_chart
  .col-12.mt-2.mb-4
    - if params[:search_email] || params[:search_user_id].present?
      %hr
      %h2.mt-4.text-warning Can't graph with user search
    - else
      = column_chart time_range_counts(collection: available_bikes, column: "bikes.created_at"), stacked: true, thousands: ",", defer: true

= render partial: "/shared/period_select"

- unless admin_nav_display_view_all
  %p
    There are currently #{number_with_delimiter(PublicImage.count)} bike images
    %em
      (#{PublicImage.where("created_at >= ?", Time.current.beginning_of_day).count} today)

  %p
    = number_with_delimiter(Bike.count)
    publicly registered,
    %em
      (#{Bike.where("created_at >= ?", Time.current.beginning_of_day).count} today)
    = number_with_delimiter(Ownership.where(current: true).where(claimed: true).count)
    are claimed

.row.mt-4
  .col-md-7
    %p
      %strong
        = number_with_delimiter(available_bikes.count)
      Matching Bikes
      %em
        = humanized_time_range(@time_range)
    - if (params.keys & %w[search_user_id search_manufacturer_id]).any? || current_organization.present?
      %ul.mt-0
        - if current_organization.present?
          %li
            By organization:
            = link_to current_organization.name, admin_organization_path(current_organization.to_param)
            %small.less-strong
              - if params[:search_only_creation_organization].present?
                viewing only bikes created by
                = link_to "view all associated bikes", admin_bikes_path(sortable_search_params.merge(search_only_creation_organization: nil))
              - else
                viewing all associated bikes -
                = link_to "view only bikes created by", admin_bikes_path(sortable_search_params.merge(search_only_creation_organization: true))

        - if params[:search_user_id].present?
          %li
            - if @user.present?
              Owned by
              = link_to "#{@user.email}", admin_user_path(@user)
            - else
              No user found for
              %code
                = params[:search_user_id]
        - if params[:search_manufacturer_id].present?
          %li
            - if @manufacturer.present?
              Made by
              = link_to @manufacturer.name, admin_manufacturer_path(@manufacturer)
            - else
              No manufacturer found for
              %code
                = params[:search_manufacturer_id]
  .col-md-5
    = form_tag admin_bikes_path, method: :get, class: "form-inline" do
      = hidden_field_tag :sort, params[:sort]
      = hidden_field_tag :direction, params[:direction]
      = hidden_field_tag :render_chart, params[:render_chart]
      = hidden_field_tag :period, params[:period]
      = hidden_field_tag :start_time, params[:start_time]
      = hidden_field_tag :end_time, params[:end_time]
      = hidden_field_tag :search_example, params[:search_example]
      = hidden_field_tag :search_non_example, params[:search_non_example]
      = hidden_field_tag :search_stolen, params[:search_stolen]
      = hidden_field_tag :search_pos, params[:search_pos]
      = hidden_field_tag :search_origin, params[:search_origin]
      = hidden_field_tag :search_only_creation_organization, params[:search_only_creation_organization]
      = hidden_field_tag :search_user_id, params[:search_user_id]

      = hidden_field_tag :organization_id
      .form-group.ml-auto.mr-2.mb-2
        = text_field_tag :search_email, params[:search_email], placeholder: "Search bikes by email", class: "form-control"
      = submit_tag "Search", name: "search", class: "btn btn-primary mb-2"

.row.mt-4
  .col
    = paginate @bikes, views_prefix: "admin"

- if params[:multi_delete]
  = render partial: "/admin/bikes/table_multidelete"
- else
  = render partial: "/admin/bikes/table", locals: { render_sortable: true }

= paginate @bikes, views_prefix: "admin"
