.admin-subnav
  .col-md-6
    %h1
      Manage Bikes
  .col-md-6
    %ul
      %li.nav-item
        - all_active = !@unknown && params[:email].blank? && (params.keys & %w[ascend lightspeed organization_id]).blank?
        = link_to "all", admin_bikes_path(sortable_search_params), class: "nav-link #{all_active ? 'active' : ''}"
      %li.nav-item
        = link_to "unknown manufacturers", missing_manufacturer_admin_bikes_path, class: "nav-link #{@unknown ? 'active' : ''}"
      %li.nav-item
        = link_to "Ascend", admin_bikes_path(sortable_search_params.merge(ascend: true)), class: "nav-link #{params[:ascend].present? ? 'active' : ''}"
      %li.nav-item
        = link_to "Lightspeed", admin_bikes_path(sortable_search_params.merge(lightspeed: true)), class: "nav-link #{params[:lightspeed].present? ? 'active' : ''}"

.row
  .col-auto
    %p
      There are currently #{number_with_delimiter(PublicImage.count)} bike images
      %em
        (#{PublicImage.where("created_at >= ?", Time.zone.now.beginning_of_day).count} today)

.row.mb-2
  .col-md-6
    %p
      = number_with_delimiter(Bike.count)
      indexed,
      %em
        (#{Bike.where("created_at >= ?", Time.zone.now.beginning_of_day).count} today)
      = number_with_delimiter(Ownership.where(current: true).where(claimed: true).count)
      are claimed

.row
  .col-md-5
    %h4
      = number_with_delimiter(@bikes.total_count)
      = "Matching Bike".pluralize(@bikes.total_count)
  .col-md-7
    = form_tag admin_bikes_path, method: :get, class: "form-inline" do
      .form-group.ml-auto.mr-2.mb-2
        = text_field_tag :email, params[:email], placeholder: "Search bikes by email", class: "form-control"
      = submit_tag "Search", name: "search", class: "btn btn-primary mb-2"

.row.mt-4
  .col
    = paginate @bikes, views_prefix: "admin"

- if params[:multi_delete]
  = render partial: "/admin/bikes/admin_bikes_table_multidelete"
- else
  = render partial: "/admin/bikes/admin_bikes_table"
  = paginate @bikes, views_prefix: "admin"
