- show_search_statuses = !@ignored_only
.admin-subnav
  .col-md-5
    %h1
      Manage Bikes
  .col-md-7
    %ul
      - if show_search_statuses
        %li.nav-item
          %a.nav-link#showStatusesSearch{href: "#", class: (@not_default_statuses ? "active" : "")}
            Search statuses
      %li.nav-item
        = link_to "motorized", url_for(sortable_search_params.merge(search_motorized: !@motorized)), class: "nav-link #{@motorized ? 'active' : ''}"
      %li.nav-item
        = link_to "multi-delete", url_for(sortable_search_params.merge(search_multi_delete: !@multi_delete)), class: "nav-link #{@multi_delete ? 'active' : ''}"
      %li.nav-item
        = link_to "Unknown Mnfgs", missing_manufacturer_admin_bikes_path, class: "nav-link #{@unknown ? 'active' : ''}"
      %li.nav-item
        - any_origin_active = @origin_search_type.blank?
        %a.nav-link.dropdown-toggle{href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (any_origin_active ? "" : "active")}
          - if any_origin_active
            Origin
          - else
            = @origin_search_type.humanize
        .dropdown-menu
          = link_to "Any Origin", url_for(sortable_search_params.merge(search_origin: nil)), class: "dropdown-item #{any_origin_active ? 'active' : ''}"
          .dropdown-divider
          - Ownership.origins.each do |origin|
            - origin_active = @origin_search_type == origin
            = link_to origin.humanize, url_for(sortable_search_params.merge(search_origin: origin_active ? nil : origin)), class: "dropdown-item #{origin_active ? 'active' : ''}"
      %li.nav-item
        %a.nav-link.dropdown-toggle{href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@pos_search_type.present? ? "active" : "")}
          - if @pos_search_type.present?
            = @pos_search_type.humanize
          - else
            POS
        .dropdown-menu
          - ascend_active = @pos_search_type == "ascend_pos"
          = link_to "Ascend", url_for(sortable_search_params.merge(search_pos: ascend_active ? nil : "ascend_pos")), class: "dropdown-item #{ascend_active ? 'active' : ''}"
          - lightspeed_active = @pos_search_type == "lightspeed_pos"
          = link_to "Lightspeed", url_for(sortable_search_params.merge(search_pos: lightspeed_active ? nil : "lightspeed_pos")), class: "dropdown-item #{lightspeed_active ? 'active' : ''}"
          .dropdown-divider
          - any_pos_active = @pos_search_type == "any_pos"
          = link_to "Any POS", url_for(sortable_search_params.merge(search_pos: any_pos_active ? nil : "any_pos")), class: "dropdown-item #{any_pos_active ? 'active' : ''}"
          - no_pos_active = @pos_search_type == "no_pos"
          = link_to url_for(sortable_search_params.merge(search_pos: no_pos_active ? nil : "no_pos")), class: "dropdown-item #{no_pos_active ? 'active' : ''}" do
            <strong>Not</strong> POS
      %li.nav-item
        -# If looking at year or all period, graphs aren't detailed
        - search_period = %w[all year].include?(@period) ? "month" : @period
        = link_to "Detailed graphs", admin_graphs_path(sortable_search_params.merge(search_kind: "bikes", period: search_period)), class: "nav-link"
      %li.nav-item
        = link_to "graph", url_for(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"

- if @render_chart
  .col-12.mt-2.mb-4
    - if @user || @search_email
      %hr
      %h2.mt-4.text-warning Can't graph with user search
    - else
      = column_chart time_range_counts(collection: available_bikes, column: "bikes.created_at"), stacked: true, thousands: ","

= render partial: "/shared/period_select"

- unless admin_nav_display_view_all
  %p
    There are currently #{number_with_delimiter(PublicImage.count)} bike images
    %em
      (#{PublicImage.where("created_at >= ?", Time.current.beginning_of_day).count} today)

  %p
    = number_with_delimiter(Bike.count)
    publicly registered,
    %em
      (#{Bike.where("created_at >= ?", Time.current.beginning_of_day).count} today)
    = number_with_delimiter(Ownership.where(current: true).where(claimed: true).count)
    are claimed

.row.mt-4
  .col-md-6.order-2.order-md-1
    .row
      = render Admin::CurrentHeader::Component.new(params:, viewing: "Bikes", user: @user, bike: @bike, marketplace_listing: @marketplace_listing, primary_activity: @primary_activity, current_organization:)
    - if current_organization.present?
      %p
        - if params[:search_only_creation_organization].present?
          Viewing only bikes created by
          %em= current_organization.name
          = link_to "view all associated bikes", url_for(sortable_search_params.merge(search_only_creation_organization: nil))
        - else
          Viewing all associated
          %em= current_organization.name
          bikes -
          = link_to "view only bikes created by", url_for(sortable_search_params.merge(search_only_creation_organization: true))
        \| #{link_to "org bikes view", organization_bikes_path(organization_id: current_organization.to_param)}
    - if @ignored_only
      %p
        Viewing only
        %strong ignored
        bikes
        %em (deleted, test, spam)
        = link_to "view not ignored bikes", url_for(sortable_search_params.merge(search_ignored: false)), class: "gray-link small"
    - if @search_email.present?
      %p
        Viewing only bikes
        %strong sent to
        %code= @search_email
        = link_to "view sent to any emails", url_for(sortable_search_params.merge(search_email: nil)), class: "gray-link small"
    - if @search_domain.present?
      %p
        Viewing only bikes
        %strong from the domain
        %code= @search_domain
        = link_to "view sent to any domain", url_for(sortable_search_params.merge(search_domain: nil)), class: "gray-link small"
    - if params[:search_model_audit_id].present?
      %p
        Viewing only for model audit
        - if @model_audit.present?
          = model_audit_display(@model_audit, truncate: true)
        - else
          %code
            ID:
            = params[:search_model_audit_id]
        = link_to "view for any model audit", url_for(sortable_search_params.merge(search_model_audit_id: nil)), class: "gray-link small"
    - if params[:serial].present?
      %p
        Viewing only bikes
        %strong with normalized serials matching
        %code= @serial_normalized
        = link_to "view with any serial", url_for(sortable_search_params.merge(serial: nil)), class: "gray-link small"
    - if params[:search_manufacturer].present?
      %p
        - if @manufacturer.present?
          Made by
          = link_to @manufacturer.name, admin_manufacturer_path(@manufacturer)
          - if @manufacturer.official_organization.present?
            %small.less-strong
              (view #{link_to "official org", admin_organization_path(@manufacturer.official_organization.to_param)})
        - else
          No manufacturer found for
          %code
            = params[:search_manufacturer]
        = link_to "view all manufacturer bikes", url_for(sortable_search_params.merge(search_manufacturer: nil)), class: "gray-link small"
  .col-md-6.order-1.order-md-2
    = form_tag admin_bikes_path, method: :get do
      = render partial: "/shared/hidden_search_fields", locals: {include_primary_activity: true}

      = hidden_field_tag :search_pos, params[:search_pos]
      = hidden_field_tag :search_origin, params[:search_origin]
      = hidden_field_tag :search_only_creation_organization, params[:search_only_creation_organization]

      - if show_search_statuses
        = render partial: "/admin/bikes/search_statuses"

      .form-inline
        .form-group.ml-auto.mr-1.mb-2
          = text_field_tag :serial, params[:serial], placeholder: "Find by serial", class: "form-control"
        .form-group.mr-1.mb-2
          = text_field_tag :search_phone, params[:search_phone], placeholder: "Find by phone", class: "form-control"
        .form-group.mr-1.mb-2
          - if @search_domain.present?
            = text_field_tag :search_domain, @search_domain, placeholder: "Search bikes by domain", class: "form-control"
          - else
            = text_field_tag :search_email, params[:search_email], placeholder: "Search bikes by email", class: "form-control"
        = submit_tag "Search", name: "search", class: "btn btn-primary mb-2"

= render Admin::PaginationWithCount::Component.new(collection: @bikes, count: available_bikes.size, pagy: @pagy, per_page: @per_page, time_range: @time_range, period: @period, time_range_column: @time_range_column, params:)

= render partial: "/admin/bikes/table", locals: {render_sortable: true, render_multi_check: @multi_delete}

= render Admin::PaginationWithCount::Component.new(collection: @bikes, skip_total: true, pagy: @pagy, per_page: @per_page, time_range: @time_range, period: @period, time_range_column: @time_range_column, params:)
