.admin-subnav
  .col-md-6
    %h1
      Multi manufacturer update
  .col-md-6
    %ul
      %li.nav-item
        = link_to "all bikes", admin_bikes_path, class: "nav-link"
      %li.nav-item
        = link_to "Alphabetical view", missing_manufacturer_admin_bikes_path(reset_view: true), class: !session[:missing_manufacturer_time_order] ? "nav-link active" : "nav-link"
      %li.nav-item
        = link_to "Time ordered view", missing_manufacturer_admin_bikes_path(time_ordered: true), class: session[:missing_manufacturer_time_order] ? "nav-link active" : "nav-link"

.row.mb-4
  .col-md-8
    %p
      %strong
        = number_with_delimiter(@bikes.total_count)
      matching
      = "bike".pluralize(@bikes)
  .col-md-4
    = form_tag missing_manufacturer_admin_bikes_path, method: :get, class: "form-inline" do
      .form-group.ml-auto.mr-2
        = text_field_tag :search_other_name, params[:search_other_name], placeholder: "Search Other mnfg", class: "form-control"
        = submit_tag "Search", name: "search", class: "btn btn-primary ml-2"
= form_tag update_manufacturers_admin_bikes_path, id: 'multi_bike_manufacturer_update' do
  .row
    .col-md-4
      .fancy-select.unfancy
        = select_tag :manufacturer_id, options_from_collection_for_select(Manufacturer.frames, :id, :name), prompt: "Choose manufacturer"
    .col-md-2
      = submit_tag 'Update selected', class: 'btn btn-primary'
  = paginate @bikes, views_prefix: "admin"
  .full-screen-table.mt-4
    %table.table.table-striped.table-bordered.table-sm
      %thead.thead-light
        %th.table-cell-check
          %a#multi-mnfg-selector{ href: "#" }
            = check_mark
        %th
          Date indexed
        %th
          Manufacturer
        %th
          Info
        %th
          Created by

      %tbody
        - @bikes.each do |bike|
          %tr
            %td.table-cell-check.update-mnfg-select
              = check_box_tag "bikes_selected[#{bike.id}]", bike.id
            %td
              .less-strong-hold
                %a.convertTime{ href: edit_admin_bike_url(bike) }
                  = l bike.created_at, format: :convert_time
                %span.less-strong-right
                  - if bike.example
                    %span.table-error
                      = bike.id
                  - else
                    = bike.id

            %td
              - if bike.manufacturer_other.present?
                = bike.manufacturer_other
              - else
                %em.less-strong
                  = bike.mnfg_name
            %td
              .less-strong-hold
                - desc = ''
                - desc += "#{bike.year} " if bike.year.present?
                - desc += "#{bike.frame_model} " if bike.frame_model.present?
                - desc += "(#{bike.type})" unless bike.type == 'bike'
                = desc
                - if bike.paint.present? && bike.paint.color_id.blank?
                  .less-strong
                    = link_to bike.paint.name, edit_admin_paint_url(bike.paint)
                    = bike.frame_colors.to_sentence
                - if bike.stolen
                  %span.less-strong-right
                    stolen

            %td
              .less-strong-hold
                = bike.creation_organization.name if bike.creation_organization.present?
                - if bike.registered_new
                  %span.less-strong-right
                    pos


  = paginate @bikes, views_prefix: "admin"
