= render partial: "/admin/bikes/bike_tabs", locals: {bike: @bike, active_tab: "bikes-#{@active_tab}", display_recovery: @active_tab == "recoveries" }

%h1.mt-5.mb-4
  = @active_tab.titleize

- if @active_tab == "ownerships"
  = render partial: "/admin/ownerships/table", locals: {ownerships: @bike.ownerships.reorder(created_at: :desc), skip_bike: true}

- elsif @active_tab == "stickers"
  = render partial: "/admin/bike_stickers/table", locals: {bike_stickers: @bike.bike_stickers}

- elsif @active_tab == "duplicates"
  - duplicate_groups = @bike.duplicate_bike_groups
  - duplicate_groups.each do |duplicate_group|
    .row
      .col-lg-6
        %p
          %strong
            #{duplicate_group.segment}
      .col-lg-6
        = link_to "ignore #{duplicate_group.segment}", ignore_duplicate_toggle_admin_bikes_path(id: duplicate_group.id), method: 'PUT', class: 'float-right less-strong'

    = render partial: "/admin/bikes/table", locals: { bikes: duplicate_group.bikes, no_show_header: true, show_serial: true }
  - if duplicate_groups.none
    %h3.mt-4
      No duplicates
- elsif @active_tab == "messages"
  %h3.mt-4
    Notifications
    %small.less-strong
      = link_to number_display(@bike.notifications.count), admin_notifications_path(search_bike_id: @bike.id)
  - if @bike.notifications.any?
    .mt-2
      = render partial: "/admin/notifications/table", locals: {notifications: @bike.notifications.includes(:notifiable).order(created_at: :desc), skip_bike: true, show_message_preview: true}
    .mb-4

  - feedbacks = Feedback.bike(@bike.id).order(created_at: :desc)
  %h3.mt-3
    Feedbacks
    %small.less-strong
      = link_to number_display(feedbacks.count), admin_feedbacks_path(search_bike_id: @bike.id)

  - if feedbacks.any?
    .mt-2
    = render partial: "/admin/feedbacks/table", locals: {feedbacks: feedbacks, skip_bike: true}
    .mb-4

  - user_alerts = UserAlert.where(bike_id: @bike.id).order(created_at: :desc)
  %h3.mt-3
    User Alerts
    %small.less-strong
      = link_to number_display(user_alerts.count), admin_user_alerts_path(search_bike_id: @bike.id)
  - if user_alerts.any?
    .mt-2
    = render partial: "/admin/user_alerts/table", locals: {user_alerts: user_alerts}
    .mb-4

  - parking_notifications = @bike.parking_notifications.order(created_at: :desc)
  %h3.mt-3
    Parking Notifications
    %small.less-strong
      = link_to number_display(parking_notifications.count), admin_parking_notifications_path(search_bike_id: @bike.id)
  - if parking_notifications.any?
    .mt-2
    = render partial: "/admin/parking_notifications/table", locals: {parking_notifications: parking_notifications}
    .mb-4

  - parking_notifications = @bike.parking_notifications.order(created_at: :desc)
  %h3.mt-3
    Graduated Notifications
    %strong
      = link_to number_display(GraduatedNotification.where(bike_id: @bike.id).count), admin_graduated_notifications_path(search_bike_id: @bike.id)

- elsif @active_tab == "recoveries"
  = render partial: "/admin/recoveries/table", locals: {recoveries: @bike.recovered_records, skip_bike: true}

  %h3 Other stolen records
  - if @bike.stolen_records.none?
    No other stolen records
  - else
    %ul
      - @bike.stolen_records.each do |stolen_record|
        %li
          Stolen on
          %a.convertTime{href: edit_admin_stolen_bike_url(stolen_record, stolen_record_id: true)}
            = l stolen_record.date_stolen, format: :convert_time

- elsif @active_tab == "impound"

  %h3.mt-4
    Impound records for this bike
    %small.less-strong
      = link_to number_display(@bike.impound_records.count), admin_impound_records_path(search_bike_id: @bike.id)
  = render partial: "/admin/impound_records/table", locals: {impound_records: @bike.impound_records.reorder(created_at: :desc), skip_claims: true}

  - impound_claims = ImpoundClaim.involving_bike_id(@bike.id).reorder(created_at: :desc)
  %h3.mt-4
    Impound claims involving this bike
    %small.less-strong
      = link_to number_display(impound_claims.count), admin_impound_claims_path(search_bike_id: @bike.id)

  = render partial: "/admin/impound_claims/table", locals: {impound_claims: impound_claims}
