.mb-4
  %h1.uncap
    = t(".impound_settings_html", org_name: @organization.name)

= form_for @impound_configuration, { url: organization_manage_impounding_path(id: @organization.id, organization_id: @organization.to_param), action: "update", html: { class: 'organized-form' } } do |f|

  .form-group.row
    %label.org-form-label
      Public search
    .col-sm-4
      .checkbox
        %label{ style: "line-height: 1.5em;" }
          = f.check_box :public_view
          Publicly accessible impound page
          %small.less-strong
            if checked, #{link_to organization_impounded_bikes_path(organization_id: current_organization.to_param), organization_impounded_bikes_path(organization_id: current_organization.to_param)} will be accessible by everyone.
            %em Serials are never displayed for impounded bikes, so they can be used for verification of ownership
  .form-group.row
    %label.org-form-label Impound location
    .col-sm-4
      - if @organization.default_impound_location.present?
        Bikes are impounded with locations
        %br
        The default location is
        %strong
          = @organization.default_impound_location.name
        %small
          = link_to "update location here", locations_organization_manage_path(organization_id: @organization.to_param)
      - else
        = link_to "Set impound locations", locations_organization_manage_path(organization_id: @organization.to_param)

  .form-group.row.mt-4
    = f.label :display_id_prefix, class: 'org-form-label' do
      ID prefix
    .col-sm-4
      .d-block.less-strong{style: "line-height: 1.25;"}
        The next impound record will have an ID of:
        %code.strong
          = @impound_configuration.calculated_display_id_next

      = f.text_field :display_id_prefix, class: "form-control"
      %span.below-input-help
        If you change this field, the next impound record's ID will be
        %code {prefix}1
        %br
        %em Use this to make IDs in Bike Index match an external system, or rotate every year.

      .d-block{style: "line-height: 1.5;"}
        Previous prefixes:
        %ul
          %li no prefix
          - @impound_configuration.previous_prefixes.each do |prefix|
            %li
              %code=prefix

  .form-group.row.mt-4
    .form-submit-button
      = f.submit t(".save"), class: "btn btn-success btn-lg"
