<% nav_header_list_items = capture do %>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle <%= @status.present? ? "active" : "" %>"
      href="#"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <% if @status.blank? %>
        All statuses
      <% else %>
        <%= @status.titleize %>
        only
      <% end %>
    </a>

    <div class="dropdown-menu">
      <%= link_to "All statuses", url_for(sortable_search_params.merge(search_status: nil)), class: "dropdown-item #{@status.present? ? '' : 'active'}" %>

      <div class="dropdown-divider"></div>

      <% searchable_statuses.each do |kind| %>
        <%= link_to "#{kind.titleize} only", url_for(sortable_search_params.merge(search_status: kind)), class: "dropdown-item #{@status == kind ? 'active' : ''}" %>
      <% end %>
    </div>
  </li>
<% end %>

<%= render(Admin::IndexSkeleton::Component.new(nav_header_list_items:, chart_collection: @render_chart && matching_registration_sequences)) %>
