
= form_for [:admin, @organization_invitation] do |f|
  - if @organization_invitation.errors.any?
    = render partial: "/shared/errors", locals: { name: "Payment", obj: @organization_invitation }

  %h3
    Send organization invitation

  .form-group
    = f.label :organization
    = collection_select :organization_invitation, :organization_id, @organizations, :id, :name, {prompt: "Select the Organization"}, class: "form-control w-25"

  .form-group
    = f.label :invitee_email, "Email you're inviting"
    = f.email_field :invitee_email, :required =>true, class: "form-control w-25"

  .form-group
    = f.label :invitee_name, "Name"
    = f.text_field :invitee_name, :required =>true, class: "form-control w-25"

  .form-group
    = f.label :membership_role, "Membership role: "
    %label
      = f.radio_button :membership_role, "admin"
      Admin
    %label
      = f.radio_button :membership_role, "member"
      Member

  .control-group.actions
    = f.submit 'Send invitation', class: 'btn btn-success'
