
= form_for [:admin, @organization_invitation] do |f|
  - if @organization_invitation.errors.any?
    = render partial: "/shared/errors", locals: { name: "Organization invite", obj: @organization_invitation }
  .card.bg-light
    .card-body
      %h3
        Send organization invitation
      .row
        .col-lg-6
          .form-group.fancy-select.unfancy
            = f.label :organizations
            = collection_select( :organization_invitation, :organization_id, @organizations, :id, :name, {:required =>true, prompt: "Choose an organization"}, class: "form-control")
        .col-lg-6
          .form-group
            = f.label :invitee_email, "Email you're inviting"
            = f.email_field :invitee_email, :required =>true, class: "form-control"
      .row
        .col-lg-6
          .form-group
            = f.label :invitee_name, "Name"
            = f.text_field :invitee_name, :required =>true, class: "form-control"
        .col-lg-6
          .form-group
            = f.label :membership_role, class: "control-label"
            .form-check
              = f.radio_button :membership_role, "admin", class:"form-check-input"
              = f.label :membership_role_admin, "Admin Role", class: "form-check-label"
            .form-check
              = f.radio_button :membership_role, "member", class:"form-check-input"
              = f.label :membership_role_member, "Member role", class: "form-check-label"


      .form-group
        = f.submit 'Send invitation', class: 'btn btn-success'
