%h1
  Manage
  %strong
    #{@organization.name}'s
  Invitations
%p
  = link_to "Back to organization", admin_organization_url(@organization)


%hr
%h2
  Invitations
%h3
  #{@organization.name} has sent #{pluralize(@organization.sent_invitation_count, "invitation")},
  %br
  and has
  = @organization.available_invitation_count
  remaining #{"invitation".pluralize(current_organization.available_invitation_count)}.
  %hr

- if @organization.organization_invitations.any?
  .full-screen-table
    %table.table.table-striped.table-sm
      %thead.thead-light
        %th
          Id&nbsp;
        %th
          Date sent
        %th.d-none.d-lg-table-cell
          Name
        %th
          Email
        %th.d-none.d-lg-table-cell
          Role
        %th
          Organization
        %th
          %span.d-none.d-lg-table-cell
            Redeemed

      %tbody
        - @organization_invitations.each do |org_invite|
          %tr
            %td
              = link_to org_invite.id, admin_organization_invitation_url(org_invite.id, organization_id: @organization.to_param)
            %td
              = org_invite.created_at.strftime("%-I %p on %-m/%-d/%Y ")
            %td.d-none.d-lg-table-cell
              - if org_invite.invitee_name
                = org_invite.invitee_name
            %td
              = org_invite.invitee_email
            %td.d-none.d-lg-table-cell
              = org_invite.membership_role
            %td
              = link_to org_invite.organization.name, admin_organization_url(org_invite.organization.name)
            %td.table-cell-check
              = "&#x2713;".html_safe if org_invite.redeemed


- if @organization.available_invitation_count > 0
  = render partial: "/admin/organization_invitations/form"
