.mb-4
  %h1
    Register bikes from a CSV
  %p
    %strong
      Your CSV <em>must</em> have our required headers.
    The required headers are <code>manufacturer</code>, <code>model</code> <code>color</code> <code>email</code> and <code>serial</code>.

  %p
    Look at #{link_to "our example CSV here", "https://raw.githubusercontent.com/bikeindex/bike_index/master/public/import_only_required.csv"}.

  %h5 Notes on successfully importing:
  %ul
    %li
      You must upload a <code>.CSV</code>
    %li
      For best results, put quotes around all the cells.
    %li
      Your headers must match our headers <em>exactly</em> - for example if you have "serial #" as a header, the import will not work.
    %li
      Doing an import for the first time? Try importing a sample of your CSV with just 1 or 2 rows, and replace the email with your own email - so if the bikes don't import correctly, you can make adjustments and delete the bikes, without having to delete a large number of bikes.

= form_for @bulk_import, { url: organization_bulk_imports_path(organization_id: active_organization.to_param), action: "create", html: { class: "organized-form" } } do |f|
  .card.col-sm-6
    .card-block
      = f.label :file, "CSV File with bikes"
      .form-group.row.file-upload-wrapper
        .form-well-input
          %label.file
            = f.file_field :file, class: "avatar-upload-field"
            %span.file-custom
              %span.file-upload-text Choose file...

      .form-group.row
        .form-well-input
          = f.submit "Upload and begin import", class: "btn btn-secondary btn-lg"

%hr{ style: "margin: 24px 0 48px;" }
%h5
  Optional additions:
%ul
  %li
    We support a few additional, optional columns. You do not have to include them unless you want to.
  %li
    View an #{link_to "example CSV with all optional columns here", "https://github.com/bikeindex/bike_index/blob/master/public/import_all_optional_fields.csv"}.
  %li
    If only some of your bikes have values in optional columns, leave the cell blank for the ones that don't have it (rather than putting <em>unknown</em> or <em>n/a</em>).
  %li
    If you are including "photo_url" make sure the url is of the image itself. If it's of a webpage with the photo on it, <em>the photo import will not work</em>. Examples:
    %ul
      %li
        <span class="text-success">Correct:</span> actual image url
        %a.small{ href: "https://upload.wikimedia.org/wikipedia/commons/6/68/Bike_Index_registration_spokecard.jpg", style: "word-wrap: break-word;" }
          https://upload.wikimedia.org/wikipedia/commons/6/68/Bike_Index_registration_spokecard.jpg
      %li
        <span class="text-danger">INCORRECT:</span> image on webpage
        %a.small{ href: "https://en.wikipedia.org/wiki/Bike_Index#/media/File:Bike_Index_registration_spokecard.jpg", style: "word-wrap: break-word;" }
          https://en.wikipedia.org/wiki/Bike_Index#/media/File:Bike_Index_registration_spokecard.jpg
        <em class="text-danger">- this will not work!</em>
