.mb-4
  %h1= t(".register_bikes_from_a_csv")
  %p
    %strong
      = t(".must_have_required_headers_html")
    = t(".required_headers_are_html")

  %p
    - link_to_example_csv = link_to t(".our_example_csv_here"), t('.example_csv_url')
    = t(".look_at_example_csv_html", link_to_example_csv: link_to_example_csv)

  %h5= t(".notes_on_successfully_importing")
  %ul
    %li= t(".you_must_upload_a_dot_csv_html")
    %li= t(".for_best_results")
    %li= t(".your_headers_must_match_html")
    %li= t(".doing_an_import")

= form_for @bulk_import, { url: organization_bulk_imports_path(organization_id: current_organization.to_param), action: "create", html: { class: "organized-form" } } do |f|
  .card.col-sm-6
    .card-block
      = f.label :file, t(".csv_file_with_bikes")
      .form-group.row.file-upload-wrapper
        .form-well-input
          %label.file
            = f.file_field :file, class: "avatar-upload-field"
            %span.file-custom
              %span.file-upload-text= t(".choose_file")

      .form-group.row
        .form-well-input
          = f.submit t(".upload_and_begin_import"), class: "btn btn-secondary btn-lg"

%hr{ style: "margin: 24px 0 48px;" }
%h5
  = t(".optional_additions")
%ul
  %li= t(".we_support_a_few_additional")
  %li
    - link_to_example_csv = link_to(t(".example_csv_link"), t(".example_csv_url"))
    = t(".view_an_example_csv_html", link_to_example_csv: link_to_example_csv)
  %li= t(".if_only_some_of_your_bikes_html")
  %li
    = t(".if_you_are_including_photo_url_html")
    %ul
      %li
        = t(".correct_actual_image_url_html")
        = link_to t(".spokecard_image_url"), style: "word-wrap: break-word;", class: "small"
      %li
        = t(".incorrect_image_on_webpage_html")
        = link_to t(".spokecard_page_url"), style: "word-wrap: break-word;", class: "small"
        %em.text-danger
          \-
          = t(".this_will_not_work")
