.mb-4
  %h1.uncap
    - if @bulk_import.ascend?
      = t(".ascend_import")
    - elsif @bulk_import.impounded?
      = t(".bulk_import_impounded")
    - else
      = t(".bulk_import")
    = link_to "superadmin", admin_bulk_import_path(@bulk_import.to_param), class: "btn btn-outline-info less-strong float-right"
%table.table-list.mb-4
  %tbody
    %tr
      %td
        = t(".created")
      %td
        %span.localizeTime
          = l @bulk_import.created_at, format: :convert_time

    %tr
      %td
        = t(".progress")
      %td
        = render partial: "/organized/bulk_imports/progress_display", locals: {bulk_import: @bulk_import, show_extended: true}
    %tr
      %td
        = t(".file")
      %td
        - if @bulk_import.file_cleaned?
          %span.text-warning= t(".file_removed")
          %em.small.less-strong= t(".file_removed_explanation")
        - else
          = link_to @bulk_import.file_url.truncate(100), @bulk_import.file_url
    %tr
      %td
        = t(".creator")
      %td
        - if @bulk_import.user.present?
          = @bulk_import.user.display_name
        - else
          \-
    - if permitted_kinds.count > 1
      %tr
        %td Kind
        %td= @bulk_import.kind_humanized
    - if @bulk_import.no_notify
      %tr
        %td notes
        %td
          This import did <strong>not</strong> send emails




- if @bulk_import.import_errors?
  %h2.mt-2.mb-2= t(".errors")
  = render(Org::BulkImportError::Component.new(bulk_import: @bulk_import))

= render(Org::RegistrationSearch::Component.new(organization: current_organization, current_user:, pagy: @pagy, bikes: @bikes, per_page: @per_page, params: params, skip_search_and_filters: true))
