<% if @organization.enabled?("graduated_notifications") && @bike.graduated?(@organization) %>
  <h5 class="mt-4">
    <strong class="text-warning">This is a graduated <%= @bike.type %></strong>

    <span class="text-dark">
      - it is no longer registered with <%= @organization.short_name %>
    </span>

    <em class="small less-strong">
      it was registered with <%= @organization.short_name %> previously
    </em>
  </h5>
<% end %>

<div class="card organized-access-panel">
  <div class="card-block">
    <div class="card-title">
      <div class="row">
        <div class="col-xs-6">
          <h3 class="header-font-alt">
            <span class="hidden-sm-down"><%= @organization.short_name %></span>
            <%= translation(".access_panel") %>
          </h3>
        </div>

        <div class="col-xs-6">
          <% if @bike.unregistered_parking_notification? %>
            <p class="strong text-warning text-right">
              <%= translation(".unregistered_parking_notification") %>
            </p>
          <% elsif organization_registered? %>
            <p class="text-success text-right">
              <span class="hidden-md-down">
                <%= translation(".bike_is_registered", bike_type: @bike.type, org_name: @organization.short_name) %>
              </span>

              <span class="hidden-lg-up">
                <%= translation(".is_registered", org_name: @organization.short_name) %>
              </span>
            </p>
          <% else %>
            <p class="text-warning text-right">
              <span class="hidden-md-down">
                <%= translation(".bike_is_not_registered_html", bike_type: @bike.type, org_name: @organization.short_name).html_safe %>
              </span>

              <span class="hidden-lg-up">
                <%= translation(".is_not_registered_html", org_name: @organization.short_name).html_safe %>
              </span>
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="<%= card_body_grid_classes %>">
        <% if @organization.ambassador? && @bike.current_stolen_record.present? %>
          <div class="less-strong tw:mb-2 tw:text-right">
            <%= translation(".as_a_bikeindex_ambassador_html").html_safe %>

            <%= link_to translation(".mark_bike_recovered"),
                edit_bike_recovery_url(bike_id: @bike.id, token: @bike.current_stolen_record.find_or_create_recovery_link_token),
                class: "btn btn-success btn-sm" %>
          </div>
        <% end %>

        <div class="tw:mb-2 tw:[grid-area:table]">
          <table class="table-list">
            <tbody>
              <tr>
                <td><%= translation(".permission") %></td>

                <td>
                  <% if organization_authorized? %>
                    <%= translation(".org_can_edit_bike", org_name: @organization.short_name, bike_type: @bike.type) %>
                    <% if @bike.can_edit_claimed_organizations.pluck(:id).include?(@organization.id) %>
                      <em class="small">
                        <%= translation(".organization_can_edit_after_claimed", bike_type: @bike.type) %>
                      </em>
                    <% end %>
                    <% if user_can_edit? %>
                      <%= link_to translation(".edit"),
                          edit_bike_path(@bike, edit_template: @bike.default_edit_template),
                          class: "btn btn-success btn-sm float-right" %>
                    <% end %>
                  <% else %>
                    <em class="small less-strong">
                      <%= translation(".org_cannot_edit", org_name: @organization.short_name) %>
                    </em>
                  <% end %>
                </td>
              </tr>

              <% if @organization.enabled?("bike_stickers") %>
                <tr>
                  <td><%= translation(".sticker") %></td>

                  <td>
                    <% stickers = @bike.bike_stickers.reorder(claimed_at: :desc) %>

                    <% if stickers.any? %>
                      <ul>
                        <% stickers.each do |bike_sticker| %>
                          <li>
                            <% if bike_sticker.organization.present? && bike_sticker.organization == @organization %>
                              <%= link_to bike_sticker.pretty_code,
                                  edit_organization_sticker_path(id: bike_sticker.code, organization_id: bike_sticker.organization&.to_param) %>
                            <% else %>
                              <%= bike_sticker.pretty_code %>
                            <% end %>

                            <% if bike_sticker.claimed_at.present? %>
                              <small class="less-strong">
                                claimed
                                <em class="localizeTime preciseTime"><%= l bike_sticker.claimed_at, format: :convert_time %></em>
                              </small>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>

                    <div class="small text-right">
                      <a
                        class="less-strong"
                        href="#"
                        style="opacity: 0.8; text-align: right;"
                        data-toggle="modal"
                        data-target="#assignStickerModal"
                      >
                        <%= translation(".link_sticker") %>
                      </a>
                    </div>
                  </td>
                </tr>
              <% end %>

              <% if @bike.unregistered_parking_notification? %>
                <tr>
                  <td colspan="2" style="text-align: center; font-size: 1rem;">
                    <%= translation(".added_to_track_parking_notification", bike_type: @bike.type) %>
                  </td>
                </tr>
              <% elsif organization_registered? %>
                <% if @organization.parent? %>
                  <tr>
                    <td><%= translation(".organization_registered") %></td>

                    <td>
                      <% if @bike.creation_organization == @organization %>
                        <small><%= @bike.creation_organization.name %></small>
                      <% else %>
                        <em class="small">
                          <%= translation(".organization_child") %>
                        </em>
                        <%= @bike.creation_organization&.name %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td><%= translation(".owner_name") %></td>
                  <td><%= @bike.owner_name %></td>
                </tr>
                <tr>
                  <td><%= translation(".owner_email") %></td>
                  <td><%= @bike.owner_email %></td>
                </tr>
                <tr>
                  <td><%= translation(".registered") %></td>

                  <td>
                    <span class="localizeTime">
                      <%= l @bike.created_at, format: :convert_time %>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td><%= translation(".claimed") %></td>

                  <td>
                    <% if @bike.claimed? %>
                      <%= check_mark %>
                      <small class="localizeTime ml-2">
                        <%= l current_ownership.claimed_at, format: :convert_time %>
                      </small>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td><%= translation(".creator") %></td>
                  <td><%= @bike.creator&.display_name %></td>
                </tr>
                <tr>
                  <td><%= translation(".creation_source") %></td>

                  <td>
                    <em>
                      <%= origin_display(@bike.creation_description) %>

                      <% unless current_ownership.initial? %>
                        <span class="localizeTime">
                          <%= l current_ownership.created_at, format: :convert_time %>
                        </span>
                      <% end %>
                    </em>

                    <% if display_original_ownership? %>
                      <small class="less-strong ml-2">
                        <%= translation(".initial_registration") %>

                        <em>
                          <%= origin_display(original_ownership.creation_description) %>
                        </em>
                      </small>
                    <% end %>
                  </td>
                </tr>
                <%# Bike Stickers are handled separately, so skip it %>
                <% (@organization.additional_registration_fields - ["reg_bike_sticker"]).each do |reg_field| %>
                  <% bike_attr = OrganizationFeature.reg_field_to_bike_attrs(reg_field) %>

                  <tr>
                    <% if bike_attr == "address" %>
                      <td><%= translation(".address") %></td>
                      <td>
                        <% address = @bike.registration_address %>

                        <% if @bike.valid_mailing_address? %>
                          <small>
                            <%= render UI::AddressDisplay::Component.new(address_record: BikeServices::CalculateLocation.registration_address_record(@bike), visible_attribute: :street) %>
                          </small>
                        <% else %>
                          <%# Don't show address if it's the organizations default address %>
                          <% unless address == @organization.default_location&.address_hash_legacy %>
                            <% address.except("latitude", "longitude", "country").each do |k, v| %>
                              <span class="less-strong">
                                <%= k == "address" ? "street" : k %>:
                              </span>

                              <%= v %>
                              <br>
                            <% end %>
                          <% end %>
                          <span class="text-warning">
                            <small>invalid address</small>
                          </span>
                        <% end %>

                        <% address_source = BikeServices::CalculateLocation.registration_address_source(@bike) %>

                        <% if address_source.present? %>
                          <small class="less-strong tw:mt-2 tw:block">
                            <em>Address source:</em>
                            <%= address_source.to_s&.humanize %>
                          </small>
                        <% end %>
                      </td>
                    <% else %>
                      <td>
                        <%= (bike_attr || reg_field)&.humanize(keep_id_suffix: true) %>
                      </td>
                      <td>
                        <% if bike_attr == "organization_affiliation" %>
                          <%= @bike.organization_affiliation(@organization)&.humanize %>
                        <% elsif bike_attr == "student_id" %>
                          <%= @bike.student_id(@organization) %>
                        <% else %>
                          <%= @bike.send(bike_attr) %>
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
                <% if @organization.enabled?("avery_export") %>
                  <tr>
                    <td><%= translation(".avery_exportable") %></td>

                    <td>
                      <% if @bike.avery_exportable? %>
                        <span class="text-success">
                          <%= translation(".is_true") %>
                        </span>
                      <% else %>
                        <span class="text-danger">
                          <%= translation(".is_false") %>
                        </span>
                        <small class="em">
                          <% unless @bike.owner_name.present? %>
                            <%= translation(".missing_owner_name") %>
                          <% end %>

                          <% unless @bike.valid_mailing_address? %>
                            <%= translation(".missing_address") %>
                          <% end %>
                        </small>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                <% if @organization.enabled?("model_audits") %>
                  <tr>
                    <td><%= translation(".model_audit") %></td>

                    <td>
                      <% model_audit = @bike.model_audit if @bike.model_audit_id.present? %>
                      <% organization_model_audit = OrganizationModelAudit.where(organization_id: @organization.id, model_audit_id: @bike.model_audit_id).first if model_audit.present? %>

                      <% if organization_model_audit.present? %>
                        <%= link_to model_audit_display(model_audit), organization_model_audit_path(model_audit, organization_id: @organization.to_param) %>
                        <span class="ml-2 <%= status_display_class(organization_model_audit.certification_status) %>">
                          <%= organization_model_audit.certification_status_humanized %>
                        </span>
                      <% else %>
                        <span class="less-strong">
                          <%= translation(".not_audited") %>
                        </span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>

          <% unless organization_registered? %>
            <p class="less-strong mt-4">
              <em>
                <%= translation(".unable_to_display_additional_information", bike_type: @bike.type, org_name: @organization.name) %>
              </em>
            </p>
          <% end %>
        </div>

        <% if display_unstolen_notification_form? %>
          <div class="unstolen-notification-box tw:[grid-area:message]">
            <p class="mb-2">
              <em>
                <%= translation(".bike_not_marked_stolen", bike_type: @bike.type_titleize) %>
              </em>

              <strong><%= translation(".believe_it_is_anyway") %></strong>
            </p>

            <% if @bike.contact_owner?(@user) %>
              <% redirect = new_session_url(return_to: bike_path(@bike, params: {contact_owner: true})) unless @user.present? %>
              <div
                id="write_them_a_message"
                class="collapse <%= "in" unless @contact_owner_open %>"
                data-redirect="<%= redirect %>"
              >
                <a
                  href="#new_stolen_message"
                  aria-controls="new_stolen_message"
                  data-toggle="collapse"
                >
                  <%= translation(".write_a_message") %>
                </a>

                <%= translation(".contact_the_owner_it_is_stolen", bike_type: @bike.type) %>
              </div>
              <div
                class="collapse <%= "in" if @contact_owner_open %>"
                id="new_stolen_message"
              >
                <% @stolen_notification ||= StolenNotification.new(bike: @bike, sender: @user) %>

                <%= form_for @stolen_notification do |f| %>
                  <%= f.hidden_field :bike_id, value: @bike.id %>

                  <% if @user.ambassador? %>
                    <%= f.text_area :message, required: true, value: @stolen_notification.default_message, rows: 6, class: "form-control" %>
                  <% else %>
                    <%= f.text_area :message, required: true, placeholder: translation(".where_did_you_see_this_bike", bike_type: @bike.type), rows: 6, class: "form-control" %>
                  <% end %>

                  <%= f.text_field :reference_url, placeholder: translation(".link_url_for_online_sighting"), class: "form-control additional-field" %>

                  <div class="send-message">
                    <%= f.submit translation(".send_message"), class: "btn btn-primary btn-lg" %>
                  </div>
                <% end %>
              </div>
              <% if @bike.phoneable_by?(@user) %>
                <p class="phoneable-by mt-4">
                  <%= translation(".or_call_owner_html").html_safe %>
                  <%= phone_link(@bike.phone) %>
                </p>
              <% end %>
            <% else %>
              <p>
                <%= translation(".user_revoked_permission_html").html_safe %>
              </p>
              <p>
                <% support_link = link_to(translation(".support_email"), "mailto:#{translation('.support_email')}") %>
                <%= translation(".email_to_deal_with_this_html", support_link: support_link).html_safe %>
              </p>
            <% end %>
          </div>
        <% end %>

        <% if show_notes? %>
          <div
            class="
              tw:self-start tw:rounded tw:border tw:border-gray-200
              tw:bg-gray-50 tw:p-3 tw:[grid-area:notes]
            "
          >
            <label class="tw:mb-1 tw:block tw:text-sm tw:font-medium tw:text-gray-600">
              <%= @organization.short_name %>
              <%= translation(".notes") %>
            </label>

            <%= form_with(url: organization_bike_path(@bike, organization_id: @organization.to_param), method: :patch) do |f| %>
              <%= f.text_area :notes, value: bike_organization_note&.body, class: "twinput tw:w-full", rows: 3, name: "notes" %>

              <div class="tw:mt-2 tw:flex tw:items-center tw:justify-between">
                <% if bike_organization_note.present? %>
                  <small class="tw:text-gray-500">
                    <%= translation(".note_by", user: bike_organization_note.user.display_name) %>

                    <span class="localizeTime withPreposition">
                      <%= l bike_organization_note.updated_at, format: :convert_time %>
                    </span>
                  </small>
                <% else %>
                  <span></span>
                <% end %>

                <%= f.submit translation(".save_notes"), class: "btn btn-success btn-sm" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <%# Additional law enforcement information %>
      <% if @organization.enabled?("additional_registrations_information") %>
        <div class="row law-enforcement-wrapper mt-4">
          <div class="col-xs-12 mt-2">
            <p class="mt-2 mb-2">
              <%= translation(".additional_registrations_information") %>

              <em class="less-strong hidden-md-down">
                <%= translation(".additional_registrations_information_visible_because", org_name: @organization.short_name) %>
              </em>
            </p>

            <table
              class="
                table table-striped table-bordered table-sm
                without-exterior-border
              "
            >
              <tbody>
                <thead>
                  <th>
                    <%= translation(".additional_registrations_registered_at") %>
                  </th>

                  <th><%= translation(".creation_source") %></th>
                  <th></th>
                </thead>

                <% other_user_bikes.limit(25).each do |other_bike| %>
                  <tr>
                    <td>
                      <span class="localizeTime">
                        <%= l other_bike.created_at, format: :convert_time %>
                      </span>
                    </td>

                    <td>
                      <em class="less-strong">
                        <%= origin_display(@bike.creation_description) %>
                      </em>
                    </td>

                    <td>
                      <% if other_bike.id == @bike.id %>
                        <em class="less-strong">
                          <%= translation(".additional_registrations_this_bike", bike_type: @bike.type) %>
                        </em>
                      <% else %>
                        <%= link_to organized_bike_text(other_bike, skip_creation: true), bike_path(other_bike) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <% if other_user_bikes_count > 25 %>
              <p class="text-center less-strong m-0">
                User has <%= number_display(other_user_bikes_count) %>
                registrations, only 25 most recent shown.
              </p>
            <% end %>
          </div>

          <% if duplicate_bikes.any? %>
            <p class="mt-2 mb-2">
              <%= translation(".additional_registrations_potential_duplicates") %>

              <% @bike.normalized_serial_segments.considered_for_duplicate.each do |normalized_segment| %>
                <code><%= normalized_segment.segment %></code>
              <% end %>
            </p>
            <table
              class="
                table table-striped table-bordered table-sm
                without-exterior-border
              "
            >
              <tbody>
                <% duplicate_bikes.each do |duplicate_bike| %>
                  <tr>
                    <td>
                      <span class="localizeTime">
                        <%= l duplicate_bike.created_at, format: :convert_time %>
                      </span>
                    </td>

                    <td>
                      <%= link_to organized_bike_text(duplicate_bike), bike_path(duplicate_bike) %>

                      <small class="less-strong">
                        <%= duplicate_bike.normalized_serial_segments.considered_for_duplicate.pluck(:segment).join(", ") %>
                      </small>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      <% end %>

      <%# If the bike was initially an unregistered parking notification, but no longer is, show that information %>
      <% if @bike.creator_unregistered_parking_notification? && !@bike.unregistered_parking_notification? && @bike.parking_notifications.reorder(:created_at).first.organization_id == @organization.id %>
        <% unregistered_parking_notification = @bike.parking_notifications.reorder(:created_at).first %>
        <div class="small">
          <em>
            <span class="text-warning">
              Bike originally registered by an
              <%= link_to unregistered_parking_notification.kind_humanized.downcase,
                  organization_parking_notification_path(unregistered_parking_notification, organization_id: unregistered_parking_notification.organization.to_param),
                  class: "text-warning text-underline" %>
              notification
            </span>

            <% if @bike.status == "with_owner" %>
              but was sent to a new owner, so is now a standard
              <%= @bike.type %>
              on Bike Index.
            <% end %>
          </em>
        </div>
      <% end %>

      <% if @bike.impound_records.resolved.where(organization_id: @organization.id).any? %>
        <p>
          <strong>Previously impounded</strong> -
          <%= link_to "view impound records", organization_impound_records_path(organization_id: @organization.to_param, search_bike_id: @bike.id, search_status: "all") %>!
        </p>
      <% end %>
    </div>
  </div>
</div>

<% if @organization.enabled?("graduated_notifications") %>
  <% graduated_notifications = @bike.organization_graduated_notifications(@organization).order(id: :desc) %>
  <% if graduated_notifications.any? %>
    <div class="parking-notifications-wrap">
      <h3 class="mt-2 mb-3">Graduated notifications</h3>
      <%= render partial: "/organized/graduated_notifications/table", locals: {graduated_notifications:, skip_email: true, render_remaining_at: true} %>
    </div>
  <% end %>
<% end %>

<% if @organization.enabled?("parking_notifications") %>
  <% parking_notifications = @organization.parking_notifications.where(bike_id: @bike.id).order(id: :desc) %>
  <div class="parking-notifications-wrap">
    <div class="row mt-2 mb-2">
      <div class="col-xs-8 col-md-6">
        <h3 class="uncap">Parking notifications</h3>
      </div>

      <div class="col-xs-4 col-md-6">
        <div class="text-right">
          <em>
            <%= link_to organization_parking_notifications_path(organization_id: @organization.to_param, search_bike_id: @bike.id, search_status: "all") do %>
              view map
              <div class="d-none d-md-inline">
                of <%= "notifications".pluralize(parking_notifications.count) %>
              </div>
            <% end %>
          </em>
        </div>
      </div>
    </div>

    <% if @bike.status_impounded? %>
      <% impound_record = @bike.current_impound_record&.organization_id == @organization.id ? @bike.current_impound_record : nil %>
      <h3 class="uncap mt-2">
        <span class="text-danger">
          <%= @bike.type_titleize %> is
          <% if @bike.current_impound_record&.organization&.id == @organization.id %>
            impounded!
          <% else %>
            impounded by
            <%= @bike.current_impound_record&.organized? ? @bike.current_impound_record.organization.name : "an individual" %>
            !
          <% end %>
        </span>

        <% if impound_record.present? %>
          <%= link_to "Impound record ##{impound_record.display_id}",
              organization_impound_record_path(impound_record.display_id, organization_id: @organization.to_param) %>
          <em class="small">created by this impound notification:</em>
        <% end %>
      </h3>
    <% end %>

    <%# The parking notification that impounded the bike is never current - but we want to show it separately %>
    <% current_impound_notification = parking_notifications.impound_notification.where(impound_record_id: impound_record&.id).first %>

    <% if current_impound_notification.present? %>
      <%= render partial: "/organized/parking_notifications/table", locals: {parking_notifications: [current_impound_notification], skip_bike: true, skip_map_cell: true, render_address: true, skip_resolved: true, hide_status: true} %>
      <div class="mt-4" style="padding-bottom: 12px;"></div>
    <% end %>

    <% resolved_notifications = parking_notifications.resolved.where.not(id: current_impound_notification&.id) %>

    <p style="margin-top: -12px;">
      <%# Gotta include the current impound notification if it's present %>
      <% current_count = parking_notifications.current.count %>
      <% current_count += 1 if current_impound_notification.present? %>
      <%= pluralize(number_with_delimiter(current_count), "current notification") %>,
      <% if resolved_notifications.count > 0 %>
        -
        <a
          href="#resolvedParkingNotificationTable"
          aria-controls="resolvedParkingNotificationTable"
          data-toggle="collapse"
        >
          show
          <%= pluralize(number_with_delimiter(resolved_notifications.count), "resolved notification") %>
        </a>
      <% else %>
        <span class="less-strong">0 resolved notifications</span>
      <% end %>
      for <%= @bike.type %>
    </p>

    <% if parking_notifications.current.any? %>
      <%= render partial: "/organized/parking_notifications/table", locals: {parking_notifications: parking_notifications.current, skip_bike: true, skip_map_cell: true, render_address: true, skip_resolved: true} %>
    <% end %>

    <% if resolved_notifications.any? %>
      <div class="collapse" id="resolvedParkingNotificationTable">
        <p class="mb-0"><strong>Resolved notifications</strong></p>
        <%= render partial: "/organized/parking_notifications/table", locals: {parking_notifications: resolved_notifications.limit(10), skip_bike: true, skip_map_cell: true, render_address: true} %>
      </div>
    <% end %>

    <% unless @bike.status_impounded? %>
      <% parking_notification_open = params[:parking_notification].present? %>
      <div
        class="text-center collapse <%= "in" unless parking_notification_open %>"
        id="openNewParkingNotification"
      >
        <a class="btn btn-primary btn-lg" href="#newParkingNotificationFields">
          New parking notification
        </a>
      </div>
      <div
        id="newParkingNotificationFields"
        class="collapse <%= "in" if parking_notification_open %>"
      >
        <hr>
        <% parking_notification_present = @parking_notification.present? %>
        <% @parking_notification ||= ParkingNotification.new(bike_id: @bike.id, organization: @organization, use_entered_address: false) %>

        <% unless parking_notification_present %>
          <%# We only want to assign is_repeat if creating a new parking notification %>
          <% @parking_notification.is_repeat = @parking_notification.likely_repeat? %>
          <% @parking_notification.set_location_from_organization %>
        <% end %>

        <% @parking_notification.kind ||= @parking_notification.potential_initial_record&.kind || ParkingNotification.kinds.first %>

        <%= form_for @parking_notification, url: organization_parking_notifications_path(organization_id: @organization) do |f| %>
          <%= f.hidden_field :bike_id %>
          <%= f.hidden_field :latitude, class: "parkingLocation-latitude" %>
          <%= f.hidden_field :longitude, class: "parkingLocation-longitude" %>
          <%= f.hidden_field :accuracy, class: "parkingLocation-accuracy" %>

          <div class="mt-4 text-center">
            <% if @parking_notification.can_be_repeat? %>
              <div
                class="btn-group"
                role="group"
                aria-label="Repeat notice"
                data-toggle="buttons"
              >
                <label class="btn btn-secondary <%= "active" unless @parking_notification.is_repeat %>">
                  <%= f.radio_button :is_repeat, false %> First notice
                </label>

                <label class="btn btn-secondary <%= "active" if @parking_notification.is_repeat %>" <%= "disabled" unless @parking_notification.can_be_repeat? %>> <%# herb:disable erb-no-output-in-attribute-position %>
                  <%= f.radio_button :is_repeat, true %>
                  <%# We have to add 1 on the repeat because this hasn't been created yet %>
                  Repeat
                  #<%= @parking_notification.earlier_bike_notifications.count %>
                  of earlier notification
                </label>
              </div>
            <% end %>
          </div>

          <div class="row mt-4">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :message, "Optional message to send to user" %>
                <%= f.text_area :message, placeholder: "Optional", class: "form-control" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <p style="margin-bottom: 0;">Notification because</p>

                <% ParkingNotification.kinds.each do |kind| %>
                  <label class="radio-inline mr-2">
                    <%= f.radio_button :kind, kind %>
                    <%= ParkingNotification.kinds_humanized[kind.to_sym] %>
                  </label>
                <% end %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 mt-4">
              <div class="avatar-upload-wrapper">
                <label class="file">
                  <%= f.file_field :image, class: "avatar-upload-field", accept: ImageUploader.permitted_extensions.join(",") %>

                  <span class="file-custom">
                    <span class="file-upload-text">Choose file</span>
                  </span>

                  <%= f.hidden_field :image_cache %>
                </label>
              </div>
            </div>

            <div class="col-sm-6 mt-4">
              <%= submit_tag "Create parking notification!", class: "btn btn-success parkingLocation-submit-btn", disabled: true %>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-6" id="choseLocationMethod">
              <span
                class="
                  less-strong waitingOnLocationText hideOnLocationFind
                  collapse in
                "
              >
                <%= translation(".waiting_on_device_location") %>
              </span>

              <div class="use-entered-address-radios showOnLocationFind collapse mb-2">
                <div class="radio">
                  <label>
                    <%= f.radio_button :use_entered_address, false %> Use
                    current location
                  </label>
                </div>

                <div class="radio">
                  <label>
                    <%= f.radio_button :use_entered_address, true %> Enter
                    address manually
                  </label>
                </div>
              </div>

              <div class="form-group address-group related-fields collapse">
                <div class="ifManualRequired">
                  <%= f.text_field :street, placeholder: translation(".address_or_intersection"), class: "form-control" %>
                </div>

                <div class="ifManualRequired">
                  <%= f.text_field :city, placeholder: translation(".city"), class: "form-control" %>
                </div>

                <div class="row countrystatezip">
                  <div class="col-sm-4 fancy-select unfancy no-restore-on-backspace hidden-other <%= "unhidden" if @parking_notification.country_id == Country.united_states_id %>">
                    <%= f.collection_select(:state_id, State.united_states, :id, :name, {include_blank: true, prompt: translation(".state")}, {class: "form-control"}) %>
                  </div>

                  <div class="col-sm-4">
                    <%= f.text_field :zipcode, placeholder: translation(".zipcode"), class: "form-control" %>
                  </div>

                  <div
                    class="
                      col-sm-4 fancy-select unfancy no-restore-on-backspace
                      ifManualRequired
                    "
                    id="us_id_data"
                    data-usid="<%= Country.united_states_id %>"
                  >
                    <%= f.select(:country_id, Country.select_options,
                        {prompt: translation(".choose_country")},
                        {class: "country-select-input form-control"}) %>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group less-strong">
                <%= f.label :internal_notes, translation(".parking_notification_notes_html", org_name: @organization.short_name).html_safe %>
                <%= f.text_area :internal_notes, class: "form-control" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if show_sticker_modal? %>
  <% sticker_modal_body = capture do %>
    <div class="modal-body">
      <%= form_for BikeSticker.new, url: organization_sticker_path(id: "code", organization_id: @organization.to_param), action: "update", method: "PUT" do |f| %>
        <%= f.hidden_field :bike_id, value: @bike.id %>

        <div class="form-group">
          <%= f.label :code, translation(".sticker_code"), class: "org-form-label" %>
          <%= f.text_field :code, required: true, class: "form-control" %>
        </div>

        <div class="modal-btn-footer">
          <div class="form-submit-button">
            <%= f.submit translation(".assign_sticker"), class: "btn btn-success btn-lg" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= render partial: "shared/modal", locals: {title: translation(".assign_sticker"), modal_body: sticker_modal_body, id: "assignStickerModal"} %>
<% end %>
