<h3 class="tw:mt-8 tw:mb-3 tw:text-center tw:text-sm tw:opacity-60">
  bottom_start (button_size: :sm)
</h3>

<div class="tw:text-center">
  <%= render(UI::Dropdown::Component.new(name: "bottom start", drop_direction: :bottom_start, button_size: :sm)) do |d|
    d.with_entry_item { content_tag(:a, "Option 1", href: "#") }
    d.with_entry_item { content_tag(:a, "Option 2", href: "#") }
  end %>
</div>

<h3 class="tw:mt-8 tw:mb-3 tw:text-center tw:text-sm tw:opacity-60">
  top_end (button_size: :lg)
</h3>

<div class="tw:text-center">
  <%= render(UI::Dropdown::Component.new(name: "top end", drop_direction: :top_end, button_size: :lg)) do |d|
    d.with_entry_item { content_tag(:a, "Option 1", href: "#") }
    d.with_entry_item { content_tag(:a, "Option 2", href: "#") }
  end %>
</div>

<h3 class="tw:mt-8 tw:mb-3 tw:text-center tw:text-sm tw:opacity-60">
  top_start (button_color: :primary)
</h3>

<div class="tw:text-center">
  <%= render(UI::Dropdown::Component.new(name: "top start", drop_direction: :top_start, button_color: :primary)) do |d|
    d.with_entry_item { content_tag(:a, "Option 1", href: "#") }
    d.with_entry_item { content_tag(:a, "Option 2", href: "#") }
  end %>
</div>

<h3 class="tw:mt-8 tw:mb-3 tw:text-center tw:text-sm tw:opacity-60">
  right (button_color: :error)
</h3>

<div class="tw:text-center">
  <%= render(UI::Dropdown::Component.new(name: "right", drop_direction: :right, button_color: :error)) do |d|
    d.with_entry_item { content_tag(:a, "Option 1", href: "#") }
    d.with_entry_item { content_tag(:a, "Option 2", href: "#") }
  end %>
</div>

<h3 class="tw:mt-8 tw:mb-3 tw:text-center tw:text-sm tw:opacity-60">
  left (button_color: :link)
</h3>

<div class="tw:text-center">
  <%= render(UI::Dropdown::Component.new(name: "left", drop_direction: :left, button_color: :link)) do |d|
    d.with_entry_item { content_tag(:a, "Option 1", href: "#") }
    d.with_entry_item { content_tag(:a, "Option 2", href: "#") }
  end %>
</div>
