<div
  class="settings-list <%= 'tw:hidden!' unless settings_default_open? %>"
  data-org--bike-search-target="settings"
>
  <h3 class="header-font-alt"><%= translation(".visible_columns") %></h3>

  <% column_rows = (enabled_columns.size / 3.0).ceil %>

  <div
    class="
      tw:grid tw:grid-flow-col tw:grid-cols-2 tw:gap-x-6 tw:gap-y-1 tw:pb-6
      tw:md:grid-cols-3
    "
    style="grid-template-rows: repeat(<%= column_rows %>, auto)"
  >
    <% enabled_columns.each do |cell_name| %>
      <label class="tw:flex tw:items-center tw:gap-1">
        <% if cell_name == "avery_cell" %>
          <%= check_box_tag cell_name, cell_name, show_avery_export?,
              data: { action: "change->org--bike-search#averyToggled" } %>
        <% else %>
          <%= check_box_tag cell_name, cell_name, false,
              data: { action: "change->org--bike-search#columnToggled" } %>
        <% end %>

        <%= column_renames[cell_name.to_sym] %>
      </label>
    <% end %>
  </div>

  <% unless @skip_search_and_filters %>
    <% if @organization.enabled?("bike_stickers") %>
      <div class="tw:mb-3 tw:flex tw:flex-wrap tw:items-center tw:gap-1">
        <span class="sort-group-label"><%= translation(".stickers") %></span>

        <div class="tw:flex tw:flex-wrap">
          <%= filter_radio_tag :search_stickers, "", translation(".all"), @search_stickers.blank?, first: true %>
          <%= filter_radio_tag :search_stickers, "with", translation(".filter_with_stickers_html"), @search_stickers == "with" %>
          <%= filter_radio_tag :search_stickers, "none", translation(".filter_no_sticker_html"), @search_stickers == "none", last: true %>
        </div>
      </div>
    <% end %>
    <% if @organization.enabled?("reg_address") %>
      <div class="tw:mb-3 tw:flex tw:flex-wrap tw:items-center tw:gap-1">
        <span class="sort-group-label"><%= translation(".address") %></span>

        <div class="tw:flex tw:flex-wrap">
          <%= filter_radio_tag :search_address, "", translation(".all"), @search_address.blank?, first: true %>
          <%= filter_radio_tag :search_address, "with_street", translation(".filter_with_address_html"), @search_address == "with_street" %>
          <%= filter_radio_tag :search_address, "without_street", translation(".filter_no_address_html"), @search_address == "without_street", last: true %>
        </div>
      </div>
    <% end %>
    <div class="tw:mb-3 tw:flex tw:flex-wrap tw:items-center tw:gap-1">
      <span class="sort-group-label"><%= translation(".status") %></span>

      <div class="tw:flex tw:flex-wrap">
        <%= filter_radio_tag :search_status, "all", translation(".all"), @search_status == "all", first: true %>

        <% if @organization.enabled?("impound_bikes") %>
          <%= filter_radio_tag :search_status, "not_impounded", translation(".filter_not_impounded_html"), @search_status == "not_impounded" %>
          <%= filter_radio_tag :search_status, "impounded", translation(".filter_impounded_html"), @search_status == "impounded" %>
        <% end %>

        <%= filter_radio_tag :search_status, "with_owner", translation(".filter_not_stolen_or_impounded_html"), @search_status == "with_owner" %>
        <%= filter_radio_tag :search_status, "stolen", translation(".filter_stolen_html"), @search_status == "stolen", last: true %>
      </div>
    </div>
    <div
      class="
        tw:mt-6 tw:mb-3 tw:flex tw:flex-wrap tw:items-center
        tw:justify-between tw:gap-2
      "
    >
      <% if @organization.enabled?("registration_notes") %>
        <button
          type="button"
          class="btn btn-sm btn-outline-primary uncap"
          data-action="click->org--bike-search#toggleNotesSearch"
          data-org--bike-search-target="notesButton"
        >
          <%= translation(".show_notes_search") %>
        </button>
      <% end %>

      <% if @organization.enabled?("csv_exports") %>
        <div class="tw:ml-auto tw:text-right">
          <%= link_to translation(".create_export_of_vehicles", cycle_type: cycle_type.pluralize(2)),
              organization_bikes_path(search_params.merge(create_export: true)),
              class: "gray-link", data: {turbo_frame: "_top", "org--bike-search-target": "exportLink"} %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="tw:mt-2 tw:flex tw:justify-end">
  <button
    type="button"
    class="btn btn-sm btn-outline-primary uncap <%= 'active' if settings_default_open? %>"
    data-action="click->org--bike-search#toggleSettings"
    data-org--bike-search-target="settingsButton"
  >
    <%= translation(".settings") %>
    <%= helpers.inline_svg_tag "icons/settings_slider.svg", class: "tw:inline", alt: "settings icon" %>
  </button>
</div>
