<div
  class="settings-list <%= 'tw:hidden!' unless settings_default_open? %>"
  data-org--bike-search-target="settings"
>
  <h3 class="header-font-alt"><%= translation(".visible_columns") %></h3>

  <div class="row pb-3">
    <% enabled_columns.each do |cell_name| %>
      <div class="col-xs-6 col-md-4">
        <div class="form-group">
          <label>
            <% if cell_name == "avery_cell" %>
              <%= check_box_tag cell_name, cell_name, show_avery_export?,
                  data: { action: "change->org--bike-search#averyToggled" } %>
            <% else %>
              <%= check_box_tag cell_name, cell_name, false,
                  data: { action: "change->org--bike-search#columnToggled" } %>
            <% end %>

            <%= column_renames[cell_name.to_sym] %>
          </label>
        </div>
      </div>
    <% end %>
  </div>

  <% unless @skip_search_and_filters %>
    <% if @organization.enabled?("bike_stickers") %>
      <p class="search-sort-btns">
        <span class="sort-group-label"><%= translation(".stickers") %></span>

        <%= link_to translation(".all"),
            organization_bikes_path(search_params.merge(search_stickers: nil)),
            class: "btn btn-secondary #{@search_stickers.blank? ? 'active' : ''}",
            data: {turbo_frame: "_top"} %>

        <%= link_to organization_bikes_path(search_params.merge(search_stickers: "with")),
            class: "btn btn-secondary #{@search_stickers == 'with' ? 'active' : ''}",
            data: {turbo_frame: "_top"} do %>
          <%= translation(".filter_with_stickers_html") %>
        <% end %>

        <%= link_to organization_bikes_path(search_params.merge(search_stickers: "none")),
            class: "btn btn-secondary #{@search_stickers == 'none' ? 'active' : ''}",
            data: {turbo_frame: "_top"} do %>
          <%= translation(".filter_no_sticker_html") %>
        <% end %>
      </p>
    <% end %>
    <% if @organization.enabled?("reg_address") %>
      <p class="search-sort-btns">
        <span class="sort-group-label"><%= translation(".address") %></span>

        <%= link_to translation(".all"),
            organization_bikes_path(search_params.merge(search_address: nil)),
            class: "btn btn-secondary #{@search_address.blank? ? 'active' : ''}",
            data: {turbo_frame: "_top"} %>

        <%= link_to organization_bikes_path(search_params.merge(search_address: "with_street")),
            class: "btn btn-secondary #{@search_address == 'with_street' ? 'active' : ''}",
            data: {turbo_frame: "_top"} do %>
          <%= translation(".filter_with_address_html") %>
        <% end %>

        <%= link_to organization_bikes_path(search_params.merge(search_address: "without_street")),
            class: "btn btn-secondary #{@search_address == 'without_street' ? 'active' : ''}",
            data: {turbo_frame: "_top"} do %>
          <%= translation(".filter_no_address_html") %>
        <% end %>
      </p>
    <% end %>
    <p class="search-sort-btns">
      <span class="sort-group-label"><%= translation(".status") %></span>

      <%= link_to translation(".all"),
          organization_bikes_path(search_params.merge(search_status: "all")),
          class: "btn btn-secondary #{@search_status == 'all' ? 'active' : ''}",
          data: {turbo_frame: "_top"} %>

      <% if @organization.enabled?("impound_bikes") %>
        <%= link_to organization_bikes_path(search_params.merge(search_status: "not_impounded")),
            class: "btn btn-secondary #{@search_status == 'not_impounded' ? 'active' : ''}",
            data: {turbo_frame: "_top"} do %>
          <%= translation(".filter_not_impounded_html") %>
        <% end %>
        <%= link_to organization_bikes_path(search_params.merge(search_status: "impounded")),
            class: "btn btn-secondary #{@search_status == 'impounded' ? 'active' : ''}",
            data: {turbo_frame: "_top"} do %>
          <%= translation(".filter_impounded_html") %>
        <% end %>
      <% end %>

      <%= link_to organization_bikes_path(search_params.merge(search_status: "with_owner")),
          class: "btn btn-secondary #{@search_status == 'with_owner' ? 'active' : ''}",
          data: {turbo_frame: "_top"} do %>
        <%= translation(".filter_not_stolen_or_impounded_html") %>
      <% end %>

      <%= link_to organization_bikes_path(search_params.merge(search_status: "stolen")),
          class: "btn btn-secondary #{@search_status == 'stolen' ? 'active' : ''}",
          data: {turbo_frame: "_top"} do %>
        <%= translation(".filter_stolen_html") %>
      <% end %>
    </p>
    <% if @organization.enabled?("csv_exports") %>
      <p class="search-sort-btns text-right">
        <%= link_to translation(".create_export_of_vehicles", cycle_type: cycle_type.pluralize(2)),
            organization_bikes_path(search_params.merge(create_export: true)),
            class: "gray-link", data: {turbo_frame: "_top"} %>
      </p>
    <% end %>
  <% end %>
</div>

<div class="tw:mt-2 tw:flex tw:justify-end">
  <button
    type="button"
    class="btn btn-sm btn-outline-primary uncap <%= 'active' if settings_default_open? %>"
    data-action="click->org--bike-search#toggleSettings"
    data-org--bike-search-target="settingsButton"
  >
    <%= translation(".settings") %>
    <%= helpers.inline_svg_tag "icons/settings_slider.svg", class: "tw:inline", alt: "settings icon" %>
  </button>
</div>
