<li class="bike-box-item tw:odd:bg-gray-100 tw:dark:odd:bg-gray-800">
  <a class="bike-list-image <%= 'hover-expand' if @bike.thumb_path %>" href="<%= @bike.html_url %>" data-turbo="false">
    <%= bike_thumb_image(@bike) %>
  </a>
  <div class="bike-information <%= 'multi-attr-lists' if render_second_column? %>">
    <h5 class="title-link">
      <a href="<%= @bike.html_url %>" data-turbo="false">
        <strong>
          <%= [@bike.year, @bike.mnfg_name].reject(&:blank?).join(' ') %>
        </strong>
        <%= @bike.frame_model.to_s %>
        <% unless @bike.type == 'bike' %>
          <em class="less-strong"><%= @bike.type %></em>
        <% end %>
      </a>
    </h5>
    <ul class="attr-list">
      <li>
        <strong class="attr-title"><%= translation(".serial") %>:</strong>
        <%# current_user is only present if not cached %>
        <%= render_serial_display(@bike, @current_user) %>
      </li>
      <%= attr_list_item(@bike.frame_colors.to_sentence, translation(".primary_colors")) %>
    </ul>

    <% if render_second_column? %>
      <ul class="attr-list">
        <% if @bike.is_for_sale? %>
          <li>
            <%= bike_status_span(@bike) %>:
            <%= @current_event_record.currency_symbol %><%= number_display(@current_event_record.amount) %>
            <small><%= @current_event_record.currency_name %></small>
          </li>
          <%= attr_list_item(@current_event_record.formatted_address_string, translation(".location")) %>
          <li>
            <strong class="attr-title"><%= translation(".posted_at") %>:</strong>
            <span class="localizeTime">
              <%= l @current_event_record.published_at, format: :convert_time %>
            </span>
          </li>
        <% else %>
          <li>
            <%= bike_status_span(@bike) %>:
            <span class="localizeTime">
              <%= l @bike.occurred_at, format: :convert_time %>
            </span>
          </li>
          <%= attr_list_item(@current_event_record.address(country: [:iso]), translation(".location")) %>
        <% end %>
      </ul>
    <% end %>
  </div>
</li>
