.row
  .col-lg-6.col-sm-12
    %h1
      Edit paint
    %p
      = link_to "Back to all paints", admin_paints_path
  .col-lg-6.col-sm-12
    .card
      .card-header.text-danger
        Probably don't edit this.
      .card-body
        Otherwise future bikes posted with this paint won't be able to find this paint, and will recreate it.


= form_for [:admin, @paint] do |f|
  - if @paint.errors.any?
    = render partial: "/shared/errors", locals: { name: "Paint", obj: @paint }
  .row
    .col-lg-3.col-md-6.col-sm-12
      .form-group
        = f.label :name, 'Description'
        = f.text_field :name, class: "form-control"
    .col-lg-3.col-md-6.col-sm-12
      .form-group
        = f.label :color_id
        = collection_select( :paint, :color_id, Color.all, :id, :name, {prompt: "Choose color"}, class: "form-control" )
    .col-lg-3.col-md-6.col-sm-12
      .form-group
        = f.label :secondary_color_id
        = collection_select( :paint, :secondary_color_id, Color.all, :id, :name, {prompt: "Choose color"}, class: "form-control" )
    .col-lg-3.col-md-6.col-sm-12
      .form-group
        = f.label :tertiary_color_id, class: "control-label"
        = collection_select( :paint, :tertiary_color_id, Color.all, :id, :name, {prompt: "Choose color"}, class: "form-control" )

  = submit_tag "Update the color", class: "btn btn-success"

%hr

- if @bikes.present?
  .full-screen-table-wrapper
    %table.table-striped.table-bordered
      = render partial: "/admin/bikes/admin_bikes_table"

- else
  = link_to "Delete!", admin_paint_url(@paint), method: :delete, class: "btn btn-danger"
