.admin-subnav
  .col-lg-6.col-sm-12
    %h1
      Edit paint
  .col-lg-6.col-sm-12
    .alert.alert-danger
      %h4
        Can't edit the name.
      %p
        Otherwise future bikes posted with this paint won't be able to find this paint, and will recreate it.

  - if @paint.id.present?
    .col-md-6.offset-md-3.mt-2
      %table.table-list
        %tbody
          %tr
            %td
              Created
            %td
              %span.convertTime.preciseTime
                = l @paint.created_at, format: :convert_time
          %tr
            %td
              Updated
            %td
              %span.convertTime.preciseTime
                = l @paint.updated_at, format: :convert_time
          %tr
            %td
              Manufacturer
            %td
              = @paint.manufacturer&.name
          %tr
            %td
              Bike cache count
            %td
              = @paint.bikes_count


= form_for [:admin, @paint] do |f|
  - if @paint.errors.any?
    = render partial: "/shared/errors", locals: { name: "Paint", obj: @paint }
  .row
    .col-lg-3.col-md-6.col-sm-12
      .form-group
        = f.label :name
        = f.text_field :name, disabled: true, class: "form-control"
    .col-lg-3.col-md-6.col-sm-12
      .form-group
        = f.label :color_id
        = collection_select( :paint, :color_id, Color.all, :id, :name, {prompt: "Choose color"}, class: "form-control" )
    .col-lg-3.col-md-6.col-sm-12
      .form-group
        = f.label :secondary_color_id
        = collection_select( :paint, :secondary_color_id, Color.all, :id, :name, {prompt: "Choose color"}, class: "form-control" )
    .col-lg-3.col-md-6.col-sm-12
      .form-group
        = f.label :tertiary_color_id, class: "control-label"
        = collection_select( :paint, :tertiary_color_id, Color.all, :id, :name, {prompt: "Choose color"}, class: "form-control" )

  = submit_tag "Update the paint", class: "btn btn-success"

%hr{ style: "margin: 40px 0;" }

- if @bikes.present?
  %p
    = number_with_delimiter(@bikes.total_count)
    Bikes with this paint
  = paginate @bikes, views_prefix: "admin"

  = render partial: "/admin/bikes/table"

- else
  = link_to "Delete!", admin_paint_url(@paint), method: :delete, class: "btn btn-danger"
