
%h1
  Manage Paints

%h4
  = Paint.count
  indexed,
  %em
    (#{Paint.where("created_at >= ?", Time.zone.now.beginning_of_day).count} today)
  = Paint.where('color_id IS NULL').count
  are unlinked

.row.form-group
  .col-sm-7
  .col-sm-4
    = form_tag admin_paints_path, method: :get do
      = text_field_tag :name, params[:name], placeholder: "Search paints by name", class: "form-control"
  .col-sm-1
    = submit_tag "Search", name: "search", class: "btn btn-success"

- if @paints.present?
  = paginate @paints, views_prefix: "admin"
  .full-screen-table
    %table.table.table-striped.table-bordered
      %thead.thead-light
        %th
          Date created
        %th
          manufacturer
        %th
          Bikes
        %th
          Description
        %th
          Color

      %tbody
        - @paints.each do |paint|
          %tr
            %td
              %a.convertTime.preciseTime{ href: admin_paint_url(paint) }
                = l paint.created_at, format: :convert_time
            %td
              - if paint.manufacturer_id.present?
                = paint.manufacturer.name
            %td
              = paint.bikes.count
            %td
              = paint.name
            %td
              - if paint.color_id.present?
                = paint.color && paint.color.name
              - if paint.secondary_color_id.present?
                = "- #{paint.secondary_color.name}"
              - if paint.tertiary_color_id.present?
                = "- #{paint.tertiary_color.name}"

  = paginate @paints, views_prefix: "admin"


- else
  %h1.mb-4
    No paints found!
