%header.with-subtitle
  %h1
    Manage Paints

%h4
  = @paints.count
  indexed,
  %em
    (#{Paint.where("created_at >= ?", Time.zone.now.beginning_of_day).count} today)
  = @paints.where('color_id IS NULL').count
  are unlinked

.special-search-field-container
  .special-search-field
    = form_tag admin_paints_path, method: :get do
      = text_field_tag :name, params[:name], placeholder: "Search paints by name"
      = submit_tag "Search", name: "search", class: "button-blue"

- if @paints.present?
  .paginate-container
    = will_paginate @paints, next_label: "Next", previous_label: "Previous"
  %section.full-screen-table
    %table.table.table-striped.table-bordered
      %thead
        %th
          Date created
        %th.large-screens
          manufacturer
        %th
          Bikes
        %th
          Description
        %th.medium-screens
          Color

      %tbody
        - @paints.each do |paint|
          %tr
            %td
              %a{href: edit_admin_paint_url(paint) }

                - if paint.created_at.today?
                  Today at #{paint.created_at.strftime("%-I %p")}
                - elsif Date.yesterday().beginning_of_day() <= paint.created_at
                  Yesterday at #{paint.created_at.strftime("%-I %p")}
                - else
                  = paint.created_at.strftime("%-m.%-d.%Y at %-H")
            %td.large-screens
              - if paint.manufacturer_id.present?
                = paint.manufacturer.name
            %td
              = paint.bikes.count
            %td
              = paint.name
            %td.medium-screens
              - if paint.color_id.present?
                = paint.color.name
              - if paint.secondary_color_id.present?
                = "- #{paint.secondary_color.name}"
              - if paint.tertiary_color_id.present?
                = "- #{paint.tertiary_color.name}"
  .paginate-container
    = will_paginate @paints, next_label: "Next", previous_label: "Previous"


- else
  %h1.padded
    No paints found!
