.form-wrap
  .form-well-form-header-always-visible
    %h3= t(".reset_password")

  .form-group.row.unnested-field
    = f.label :current_password, class: 'form-well-label'
    .form-well-input
      = f.password_field :current_password, placeholder: t(".for_password_update"), class: 'form-control'
  .form-group.row.unnested-field
    = f.label :password, t(".new_password"), class: 'form-well-label'
    .form-well-input
      = f.password_field :password, placeholder: t(".new_password"), class: 'form-control'
  .form-group.row.unnested-field
    = f.label :password_confirmation, t(".new_password_confirmation"), class: 'form-well-label'
    .form-well-input
      = f.password_field :password_confirmation, placeholder: t(".new_password_confirmation"), class: 'form-control'
  = render "/shared/form_well_footer_save"
