.form-wrap
  .form-well-form-header
    %h3
      Reset password
  .form-group.row.unnested-field
    = f.label :current_password, class: 'form-well-label'
    .form-well-input
      = f.password_field :current_password, placeholder: 'For password update', class: 'form-control'
  .form-group.row.unnested-field
    = f.label :password, 'New password', class: 'form-well-label'
    .form-well-input
      = f.password_field :password, placeholder: 'New Password', class: 'form-control'
  .form-group.row.unnested-field
    = f.label :password_confirmation, 'New password confirmation', class: 'form-well-label'
    .form-well-input
      = f.password_field :password_confirmation, placeholder: 'New Password confirmation', class: 'form-control'
