%section.content
  .receptacle
    .inner-recep.legal-content
      = render partial: "/info/vendor_terms_text"

.accept-vendor-terms

  = form_for @user do |f|

    .form-group
      .control-group
        = f.label :vendor_terms_of_service, class: "center-accept-terms-text" do
          = f.check_box :vendor_terms_of_service
          I agree to Bike Index
          %strong
            Terms of Service for Organizations.
    .agree-action
      = f.submit "Submit", class: "btn btn-primary btn-lg center-accept-terms-button"
