= form_for @user, html: { class: "form-horizontal form user-settings", id: "edit-user-form" } do |f|
  - if @user.errors.any?
    #alert-block
      .alert.alert-error
        %h4
          Please fix the following 
          = pluralize(@user.errors.count, "error")
        %ul
          - @user.errors.full_messages.each do |msg|
            %li
              = msg

  %fieldset.col-sm-2
    %legend
      Edit Personal Information for 
      = @user.email
    .form-group
      %p
        Any use of your personal information is governed by the terms of our #{link_to "Privacy policy", privacy_url}. We do not sell, trade, or rent your personal information to third parties.

      .form-group.row
        %label.form-label.col-sm-1{ for: "user_user_name" }
          Name
        .controls
          = f.text_field :name
      .form-group.row
        %label.label-with-tip.control-label.col-sm-1{ for: "user_zipcode" }
          %p
            Zipcode
          / %span.formtip
          /   ?
          /   %a.tooltip{ rel: "tooltip", :"data-placement" => "bottom", title: "If entered, closer bikes will appear first in search results." }
          /     ?
        .controls
          = f.text_field :zipcode, placeholder: "Default search location"
      .form-group.row
        %label.control-label.col-sm-1{ for: "user_Password" }
          Password
        .controls
          = f.password_field :password, placeholder: "Password"
      .form-group.row
        %label.control-label.col-sm-1{ for: "user_password_confirmation" }
          Password Confirmation
        .controls
          = f.password_field :password_confirmation, placeholder: "Password confirmation"
      .form-group.row
        = f.label :current_password, class: "control-label col-sm-1"
        .controls
          = f.password_field :current_password, placeholder: "For password update"
      .form-group.emailme-maybe.row
        = f.label :is_emailable, class: "control-label col-sm-1" do 
          Get quarterly updates
        .controls
          = f.check_box :is_emailable
          
          

    .form-group.actions
      = f.submit "Update information", class: 'btn btn-success'

  %fieldset.col-sm-2
    %legend
      Sharing settings
    .form-group.sharing-collapser{ data: {target: "#personal-page" } }
      %p
        The Bike Index can create a page listing all your bikes that includes all the information you want to share. It's your personal page.
        = link_to "(preview page)", user_url(@user), target: "_blank"
      %p
        Would you like us to create this page for you?
      .form-group
        %label.radio-inline
          = f.radio_button :show_bikes, "true"
          Create page
        %label.radio-inline
          = f.radio_button :show_bikes, "false"
          No, please don't create me a page

    #personal-page.collapse
      .form-group.avatar-upload
        %label.control-label
          Profile avatar
        .controls
          .avatar-img
            - if @user.avatar? 
              = image_tag(@user.avatar_url(:thumb))
            - else
              %p
                No picture!
          = f.file_field :avatar
          = f.hidden_field :avatar_cache

      %label.control-label{ for: "title" }
        Title for personal page
      .controls
        = f.text_field :title, placeholder: "This user's bikes"
      .description
        %label.control-label{ for: 'description' }
          Enter some information about yourself if you'd like
        .description-input
          .controls
            = f.text_area :description

    .form-group.sharing-collapser{ data: {target: "#twitter-field" } }
      %label.control-label
        Show Twitter
      .controls.radio-controls
        %label.radio-inline
          = f.radio_button :show_twitter, "true"
          Show Twitter
        %label.radio-inline
          = f.radio_button :show_twitter, "false"
          No Twitter
    
    #twitter-field.collapse
      .form-group.controls-appended
        %label.form-label{ for: "user_twitter" }
          Twitter handle
        .controls.input-prepend
          %span.add-on
            @
          = f.text_field :twitter, placeholder: "Twitter handle"

    .form-group.sharing-collapser{ data: {target: "#personal-field" } }
      %label.control-label
        Show Personal Site
      .controls.radio-controls
        %label.radio-inline
          = f.radio_button :show_website, "true"
          Show personal site
        %label.radio-inline
          = f.radio_button :show_website, "false"
          No personal site

    #personal-field.collapse
      .form-group.controls-appended
        %label.form-label{ for: "user_website" }
          Personal Site URL
        .controls.input-prepend
          %span.add-on
            http&#58;&#47;&#47;
          = f.text_field :website, placeholder: "Enter site URL"
    .form-group.row
      %label.form-label.col-sm-1{ for: "title" }
        Additional Link
      .controls
        = f.text_field :my_bikes_link_target, value: @user.mb_link_target, placeholder: "http://example.com"
    .form-group.row
      %label.form-label.col-sm-1{ for: "title" }
        Title for link
      .controls
        = f.text_field :my_bikes_link_title, value: @user.mb_link_title, placeholder: "My awesome link"

    .form-group#username_ref
      %p
        Your username is the URL for your sharing page and the bike embed form. Update it if you care about those things.
      .padded.row
        %label.form-label.col-sm-1{ for: "username" }
          Username
        .controls
          = f.text_field :username

    .form-group.actions
      = f.submit "Update sharing", class: 'btn btn-success'
