.sign-in-up{ class: (sign_in_partner.present? ? "with-partner" : "not-partner") }
  - unless sign_in_partner.present?
    .sign-in-up-header.container
      .row
        %h1= t(".get_on_bike_index")
  .container
    .sign-in-up-wrap
      .row
        .oauth-providers
          / %a.facebook-login{ href: '/auth/facebook' }
          /   %span.oauth-logo-block= image_tag 'revised/facebook_login.svg'
          /   %span.oauth-text-block= t(".sign_up_using_facebook")

          / %a.strava-login{ href: '/auth/strava' }
          /   %span.oauth-logo-block= image_tag 'revised/strava_login.svg'
          /   %span.oauth-text-block= t(".sign_up_using_strava")
        .sign-in-up-or
          / %h3= t(".or")
        .main-form
          %h3.sign-in-up-main-form-header
            = t(".sign_up")
            %small
              - if sign_in_partner.present?
                = t(".already_have_a_bike_index_account")
              - else
                = t(".already_have_an_account")
              = link_to t(".log_in"), new_session_path(partner: sign_in_partner, email: params[:email])

          = form_for @user do |f|
            - if sign_in_partner
              = hidden_field_tag :partner, sign_in_partner

            .form-group
              = f.label :email, class: 'sr-only'
              = f.email_field :email, placeholder: 'email', class: 'form-control'
            .form-group
              = f.label :name, class: 'sr-only'
              = f.text_field :name, placeholder: 'name', class: 'form-control'
            .form-group
              = f.label :password, class: 'sr-only'
              = f.password_field :password, placeholder: 'password', class: 'form-control'

            .checkbox.terms-and-conditions
              %label
                = f.check_box :terms_of_service

                - if sign_in_partner == "bikehub"
                  = t(".agree_bikeindex_bikehub_toc_html",
                  bikehub_toc_link: link_to(t(".terms_and_conditions"), nil, data: { target: t(".bikehub_terms_url") }, class: "no-tab"),
                  bikeindex_toc_link: link_to(t(".terms_and_conditions"), nil, data: { target: terms_path }, class: "no-tab"))
                - else
                  = t(".agree_bikeindex_toc_html", bikeindex_toc_link: link_to(t(".terms_and_conditions"), nil, data: { target: terms_path }, class: "no-tab"))

            - unless sign_in_partner.present?
              .checkbox
                %label
                  = f.check_box :notification_newsletters
                  = t(".get_bike_indexs_newsletter")

            = f.submit t(".sign_up"), class: 'btn btn-primary btn-lg'

          %p= link_to t(".forgot_your_password"), request_password_reset_users_path
