.user-page
  .container
    .row
      .col-md-6
        .row
          .col-xs-3
            - if @user.avatar
              - unless @user.avatar.url(:medium) == 'https://files.bikeindex.org/blank.png'
                = image_tag @user.avatar.url(:medium), class: 'users-show-avatar'
          .col-xs-3
            %header.with-subtitle
            %h2
              - if @user.title.present?
                = @user.title
              - else
                This user's bikes
            %p.sharing-links
              = @user.show_twitter_and_website(@user)
      .col-md-6.ad-col
        .ad-block#top468x60
    - if @user.description
      .row
        .col-md-12
          .description
            = @user.description
    .row
      .col-md-8
        %h3 Bikes
      .sharing-section.col-md-4
        = render '/shared/share_this'
    .row.shared-bikes-row
      .col-xs-12
        - if @bikes.any?
          .card-deck-wrapper
            .card-deck
              - @bikes.each do |bike|
                .card
                  %a.bike-list-image{ href: bike_url(bike) }
                    = bike.thumb_image
                    - if bike.stolen
                      %span.personal-page-stolen-tag
                        - if bike.recovered
                          Recovered
                        - else
                          Stolen!
                  .card-title
                    %h4
                      = link_to bike.title_string, bike.list_link_url(bike)
          .row.paginate-container-row
            .col-md-12
              .paginate-container.paginate-container-bottom
                = paginate @bikes
        - else
          %h2
            This user has no bikes yet!
