.container
  .choose-a-new-pass
    %h3
      = t(".choose_a_new_password")
    %p
      = t(".and_try_not_to_forget_it")

    = form_for @user, html: { class: "form-horizontal form" } do |f|
      = f.hidden_field :password_reset_token, value: params[:token]
      .form-group
        %label{ for: "user_Password" }
          = t(".update_your_password")
          = f.password_field :password, placeholder: t(".password"), class: 'form-control'
      .form-group
        %label{ for: "user_password_confirmation" }
          = t(".password_confirmation")
          = f.password_field :password_confirmation, placeholder: t(".password_confirmation"), class: 'form-control'
      .actions
        = f.submit t(".update_password"), class: 'btn btn-primary btn-lg'

