.choose-a-new-pass
  %h1
    Choose a new password!
  %p
    (and try not to forget it...)
  
  = form_for @user, html: { class: "form-horizontal form" } do |f|
    = f.hidden_field :password_reset_token, params[:token]
    .control-group.padded
      %label.control-label{ for: "user_Password" }
        Update your password
      .controls
        = f.password_field :password, placeholder: "Password"
    .control-group
      %label.control-label{ for: "user_password_confirmation" }
        Password Confirmation
      .controls
        = f.password_field :password_confirmation, placeholder: "Password confirmation"
    .control-group.actions
      = f.submit "Update password", class: 'button-green'

