.container
  .choose-a-new-pass
    %h3
      Choose a new password!
    %p
      (and try not to forget it...)

    = form_for @user, html: { class: "form-horizontal form" } do |f|
      = f.hidden_field :password_reset_token, value: params[:token]
      .form-group
        %label{ for: "user_Password" }
          Update your password
          = f.password_field :password, placeholder: "Password", class: 'form-control'
      .form-group
        %label{ for: "user_password_confirmation" }
          Password Confirmation
          = f.password_field :password_confirmation, placeholder: "Password confirmation", class: 'form-control'
      .actions
        = f.submit "Update password", class: 'btn btn-primary btn-lg'

