- render_sortable ||= false
- skip_user ||= false
- render_deleted = @deleted

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm.without-exterior-border#recordsTable
    %thead.small-header.hidden-md-down
      %th
        = sortable "created_at", render_sortable: render_sortable
      %th.small
        = sortable "updated_at", render_sortable: render_sortable
      - unless skip_user
        %th
          = sortable "user_id", render_sortable: render_sortable
      %th
        = sortable "kind", render_sortable: render_sortable
      %th
        = sortable "controller_name", render_sortable: render_sortable
      %th
        = sortable "action_name", render_sortable: render_sortable
      %th
        Options
      - if render_deleted
        %th
          = sortable "deleted_at", render_sortable: render_sortable
    %tbody
      - collection.each do |superuser_ability|
        %tr
          %td
            %a.convertTime{href: edit_admin_superuser_ability_path(superuser_ability.to_param)}
              = l(superuser_ability.created_at, format: :convert_time)
            - if display_dev_info?
              %code.small.only-dev-visible= superuser_ability.id
          %td
            %small.convertTime
              = l(superuser_ability.updated_at, format: :convert_time)
          - unless skip_user
            %td
              - if superuser_ability.user_id.present?
                = cache(superuser_ability.user) do
                  = render Admin::UserCell::Component.new(user_id: superuser_ability.user_id, user: superuser_ability.user, render_search: render_sortable)
          %td= superuser_ability.kind.titleize
          %td
            = superuser_ability.controller_name
          %td
            = superuser_ability.action_name
          %td
            = superuser_ability.su_options.join(", ")
          - if render_deleted
            %td
              - if superuser_ability.deleted_at.present?
                %span.convertTime.preciseTime.text-danger
                  = l(superuser_ability.deleted_at, format: :convert_time)
