.admin-subnav
  .col-md-5
    %h1
      Superuser Abilities
  .col-md-7
    %ul
      %li.nav-item
        = link_to "deleted", url_for(sortable_search_params.merge(search_deleted: !@deleted)), class: "nav-link #{@deleted ? 'active' : ''}"
      %li.nav-item
        = link_to "graph", url_for(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"

  = render Admin::CurrentHeader::Component.new(params:, viewing: "Superuser Abilities", user: @user, bike: @bike, marketplace_listing: @marketplace_listing, primary_activity: @primary_activity, current_organization:)


- if @render_chart
  = column_chart time_range_counts(collection: searched_superuser_abilities, column: @time_range_column), stacked: true, thousands: ","

= render partial: "/shared/period_select"

= render partial: "/shared/admin/pagination", locals: {collection: @superuser_abilities, count: searched_superuser_abilities.count}

= render partial: "/admin/superuser_abilities/table", locals: {superuser_abilities: @superuser_abilities, render_sortable: true, render_deleted: @deleted}

= render partial: "/shared/admin/pagination", locals: {collection: @superuser_abilities, count: searched_superuser_abilities.count}
