%p
  = t(".we_sent_an_email_to")
  %strong #{@b_param.owner_email}

%h2.uncap
  = t(".youre_not_done")

%p
  = t(".follow_link_in_email")

- if @b_param.status_stolen?
  %p
    = t(".well_do_our_best_to_help_you_recover_it")
