%h2
  - if @b_param.stolen
    = t(".we_got_this")
  - else
    = t(".radicool")
%p
  = t(".we_sent_an_email_to")
  %strong #{@b_param.owner_email}

%p
  = t(".in_it_youll_find_instructions")

- if @b_param.stolen
  %p
    = t(".well_do_our_best_to_help_you_get_it_back")
