-# Make sure that period is passed - because it's a different period than other places
- sortable_params = {period: default_period}.merge(sortable_search_params).symbolize_keys
= render partial: "admin/graphs/graphs_subnav", locals: {sortable_params: sortable_params}

- if @kind == "general"

  %h2.mt-4 Users past week
  = column_chart variable_admin_graphs_path(search_kind: "users", period: "week"), stacked: true, thousands: ","

  %h2.mt-4
    Users past year
  = column_chart variable_admin_graphs_path(search_kind: "users", period: "year"), stacked: true, thousands: ","


  %h2.mt-4
    Bikes past year
  = column_chart variable_admin_graphs_path(search_kind: "bikes", period: "year"), stacked: true, thousands: ","

- elsif @kind == "bikes"
  = render partial: "bikes_graphs", locals: {sortable_params:}

