-# Make sure that period is passed - because it's a different period than other places
- sortable_params = {period: default_period}.merge(sortable_search_params).symbolize_keys
= render partial: "admin/graphs/graphs_subnav", locals: {sortable_params: sortable_params}

- if @kind == "general"

  %h2.mt-4 Users past week
  = column_chart variable_admin_graphs_path(search_kind: "users", period: "week"), stacked: true, thousands: ","

  %h2.mt-4
    Users past year
  = column_chart variable_admin_graphs_path(search_kind: "users", period: "year"), stacked: true, thousands: ","


  %h2.mt-4
    Bikes past year
  = column_chart variable_admin_graphs_path(search_kind: "bikes", period: "year"), stacked: true, thousands: ","

- elsif @kind == "bikes"
  = render partial: "bikes_graphs", locals: {sortable_params:}

- elsif @kind == "pos_integrations"
  - colors = ["#B60205", "#D93F0B", "#FBCA04", "#0E8A16", "#006B75", "#1D76DB", "#0052CC", "#5319E7", "#D4C5F9", "#2C3E50", "#F9D0C4", "#C2E0C6", "#C5DEF5", "#7DCABB"]
  = column_chart variable_admin_graphs_path(sortable_params), thousands: ",", colors:

- else
  - if @total_count.present?
    %p.mt-4
      #{number_display(@total_count)} matching #{@kind}
      %em
        = humanized_time_range(@time_range)
  .mt-4
  = column_chart variable_admin_graphs_path(sortable_params), thousands: ","
