.admin-subnav
  .col-md-6
    %h1
      %em.strong
        - if params[:query].present?
          = params[:query].titleize
        - else
          All
      Invoices
  .col-md-6
    %ul
      - if sortable_search_params?
        %li.nav-item
          = link_to "view all", admin_invoices_path, class: "nav-link"
      %li.nav-item
        = link_to "active", admin_invoices_path(sortable_search_params.merge(query: "active")), class: "nav-link #{params[:query] == 'active' ? 'active' : ''}"
      %li.nav-item
        = link_to "inactive", admin_invoices_path(sortable_search_params.merge(query: "inactive")), class: "nav-link #{params[:query] == 'inactive' ? 'active' : ''}"

      %li.nav-item
        %a.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@search_endless.present? ? "active" : "") }
          = @search_endless.present? ? @search_endless.humanize : "endless-ness"
        .dropdown-menu
          - endless_only_active = params[:search_endless] == "endless_only"
          = link_to "Endless only", admin_invoices_path(sortable_search_params.merge(search_endless: endless_only_active ? nil : "endless_only")), class: "dropdown-item #{endless_only_active ? 'active' : ''}"
          - not_endless_active = params[:search_endless] == "not_endless"
          = link_to "Not Endless", admin_invoices_path(sortable_search_params.merge(search_endless: not_endless_active ? nil : "not_endless")), class: "dropdown-item #{not_endless_active ? 'active' : ''}"

      %li.nav-item
        %a.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@time_range_column == 'created_at' ? '' : 'active') }
          Matching time for #{humanized_time_range_column(@time_range_column) || "created"}
        .dropdown-menu
          = link_to "Matching time for created", admin_invoices_path(sortable_search_params.merge(time_range_column: "created_at")), class: "dropdown-item #{@time_range_column == 'created_at' ? 'active' : ''}"
          = link_to "Matching time by subscription ended", admin_invoices_path(sortable_search_params.merge(time_range_column: "subscription_end_at")), class: "dropdown-item #{@time_range_column == 'subscription_end_at' ? 'active' : ''}"
          = link_to "Matching time by subscription started", admin_invoices_path(sortable_search_params.merge(time_range_column: "subscription_start_at")), class: "dropdown-item #{@time_range_column == 'subscription_start_at' ? 'active' : ''}"
      %li.nav-item
        = link_to "graph", admin_invoices_path(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"

- if @render_chart
  = column_chart time_range_counts(collection: matching_invoices, column: @time_range_column), stacked: true, thousands: ",", defer: true

.mt-2
  = render partial: "/shared/period_select"

%p
  = @invoices.total_count
  = "matching invoice".pluralize(@invoices.total_count)
  %em
    %strong
      = humanized_time_range_column(@time_range_column)
    = humanized_time_range(@time_range)

%p.less-strong
  Go to individual organizations to create new invoices

= paginate @invoices, views_prefix: "admin"

= render partial: "/admin/organizations/invoices/table", locals: { invoices: @invoices, render_sortable: true, display_organization: true }
