- render_sortable ||= false
- skip_bike ||= false
- skip_user ||= false

.full-screen-table
  %table.table.table-bordered.table-striped.table-sm
    %thead.thead-light
      %tr
        %th
          = sortable "created_at", render_sortable: render_sortable
        - unless skip_user
          %th User
          %th Name
        %th
          = sortable "feedback_type", "Type", render_sortable: render_sortable
        - unless skip_bike
          %th Bike
        %th.w-25 Body
    %tbody
      - feedbacks.each do |feedback|
        %tr
          %td
            %a.convertTime{ href: admin_feedback_url(feedback) }
              = l feedback.created_at, format: :convert_time
          - unless skip_user
            %td
              = render partial: "/shared/admin/user_cell", locals: {email: feedback.email, user: feedback.user, render_search: render_sortable, cache: true}
            %td
              = feedback.name
          %td
            = feedback.humanized_type
            - if render_sortable && params[:search_kind].blank?
              = link_to search_emoji, admin_feedbacks_path(sortable_search_params.merge(search_kind: feedback.feedback_type)), class: "small"
          - unless skip_bike
            %td
              - if feedback.bike_id.present?
                = render partial: "/shared/admin/bike_cell", locals: {bike: feedback.bike, bike_id: feedback.bike_id, bike_link_path: admin_bike_path(feedback.bike_id, active_tab: "messages"), render_search: true}
          %td
            = feedback.body.truncate(100)
