.admin-subnav
  .col
    %h1
      Messages
.row
  .col-sm-6
    %table.table-list
      %tbody
        %tr
          %td
            Created
          %td
            %span.convertTime.preciseTime
              = l @feedback.created_at, format: :convert_time
        %tr
          %td
            Type
          %td
            = link_to @feedback.humanized_type, admin_feedbacks_path(search_kind: @feedback.kind)
        %tr
          %td
            Title
          %td
            = @feedback.title
        %tr
          %td
            User
          %td
            = @feedback.name
            %span.less-strong
              - if @feedback.user
                = link_to @feedback.user.display_name, edit_admin_user_path(@feedback.user.to_param)
                user present
              - else
                = link_to @feedback.email, admin_users_path(user_query: @feedback.email)
        - if @feedback.feedback_hash.present?
          %tr
            %td
              data
            %td
              %pre
                %code
                  = @feedback.feedback_hash.to_yaml.gsub("---\n", "")
        %tr
          %td
            Bike
          %td
            - if @bike.present?
              - if @bike.deleted?
                = link_to "Soft Deleted", edit_admin_bike_path(id: @feedback.feedback_hash["bike_id"])
              - else
                = link_to @bike.id, edit_admin_bike_path(id: @feedback.feedback_hash["bike_id"])
            - elsif @feedback.bike_id.blank?
              %small.less-strong no bike
            - else
              Bike permanently deleted
  .col-sm-6
    .card
      .card-body
        %h5.card-title
          Message text
        %p.card-text
          = @feedback.body

