-# TODO: translations
.organized-page-header
  %h1.uncap
    Virtual Line
    %small.less-strong
      WalkRightUp

- if current_organization.locations.count == 0
  .alert.alert-warning
    %h3.uncap
      = current_organization.name
      does not have a location
    %p
      = link_to "Add a location", locations_organization_manage_path(organization_id: current_organization.to_param), class: "text-underline"
      to be able to enable Virtual Line
- else
  %table.table.table-striped
    %tbody
      - current_organization.locations.each do |location|
        %tr
          %td
            = link_to location.name, organization_line_path(location.to_param, organization_id: current_organization)
          %td
            - if location.virtual_line_on?
              %strong
                Virtual line
                %span.text-success on
            - else
              %small.less-strong
                Virtual line
                %span.text-warning off
          %td
            %strong
              = number_with_delimiter(location.appointments.in_line.count)
            %small.less-strong
              = "Customer".pluralize(location.appointments.in_line.count)
              in line
