<div class="tw:mt-1 tw:space-y-0.5 tw:leading-snug tw:[&_p]:mb-2!">
  <% if connected? %>
    <p><%= strava_icon %> <strong>Integration</strong></p>
    <% if syncing? %>
      <p>
        <%= translation(".syncing_activities") %>

        <span id="strava-download-count">
          <%= progress_percent %>% (<%= number_display(downloaded_count) %> /
          <%= number_display(total_count) %>) <%= translation(".downloaded") %>
        </span>
      </p>
      <p class="small less-strong">
        <%= translation(".sync_running_in_background") %>
      </p>
      <% if @strava_integration.persisted? %>
        <div
          data-controller="strava-sync-status"
          data-strava-sync-status-url-value="<%= helpers.sync_status_strava_integration_path %>"
        ></div>
      <% end %>
    <% elsif synced? %>
      <p><strong><%= translation(".connected_to_strava") %></strong></p>
      <p>
        <%= number_display(downloaded_count) %>
        <%= translation(".activities_synced", count: downloaded_count) %>
      </p>
      <% if @strava_integration.strava_gears.any? %>
        <p>
          <strong><%= number_display(@strava_integration.strava_gears.bikes.with_item.count) %></strong>
          / <%= number_display(@strava_integration.strava_gears.bikes.count) %>
           <%= translation(:strava_bikes_connected) %>
        </p>
      <% end %>
    <% elsif error? %>
      <p class="text-danger">
        <strong><%= translation(".sync_error") %></strong>
      </p>
      <p><%= translation(".sync_error_description") %></p>
    <% elsif pending? %>
      <p><%= translation(".strava_connected_pending") %></p>
      <% if @strava_integration.persisted? %>
        <div
          data-controller="strava-sync-status"
          data-strava-sync-status-url-value="<%= helpers.sync_status_strava_integration_path %>"
        ></div>
      <% end %>
    <% end %>
    <%= link_to translation(".disconnect_strava"),
          helpers.strava_integration_path,
          method: :delete,
          class: "btn btn-sm btn-outline-danger tw:mt-4",
          data: { confirm: translation(".disconnect_confirm") } %>
  <% else %>
    <p><%= translation(".integrate_your_bikes_with_strava") %></p>
    <%= link_to helpers.new_strava_integration_path do %>
      <%= helpers.image_tag("logos/btn_strava_connect.svg", alt: translation(".connect_with_strava"), style: "height: 32px; width: auto;") %>
    <% end %>
  <% end %>
</div>
