-# Need to pass update_url if you want the url to be for organization
- update_url ||= review_impound_claim_path(@impound_claim.id)
- block_superuser_update ||= false

- @bike_claimed = @impound_claim.bike_claimed
- @bike_submitting = @impound_claim.bike_submitting

%h3.uncap.mb-0 Claiming bike:
.row
  .col-md-6.mt-2
    %table.table-list
      %tbody
        %tr
          %td Claim Created
          %td
            %span.convertTime.preciseTime
              = l(@impound_claim.created_at, format: :convert_time)
        %tr
          %td Status
          %td
            %strong
              = status_display(@impound_claim.status_humanized)
            - if @impound_claim.resolved?
              %span.convertTime.preciseTime
                = l(@impound_claim.resolved_at, format: :convert_time)
            - elsif @impound_claim.submitted_at.present?
              %small.less-strong
                submitted:
                %span.convertTime.preciseTime
                  = l(@impound_claim.submitted_at, format: :convert_time)
        %tr
          %td Claimant
          %td
            = @impound_claim.user.display_name
        - if Flipper.enabled?(:phone_verification)
          %tr
            %td Verified phone?
            %td
              = check_mark if @impound_claim.user.phone_confirmed?
        - if @bike_submitting.present?
          %tr
            %td Bike
            %td
              - if @bike_submitting.present?
                = link_to organized_bike_text(@bike_submitting), bike_path(@bike_submitting, organization_id: current_organization.to_param)
        %tr
          %td Bike registered
          %td
            - if @bike_submitting.present?
              %span.convertTime.preciseTime
                = l(@bike_submitting.created_at, format: :convert_time)
        %tr
          %td Photos with bike
          %td.inline-images
            - @impound_claim.bike_submitting_images.photo_of_user_with_bike.each do |image|
              = link_to image_tag(image.image_url(:small), class: "d-inline-block"), image.image_url
        %tr
          %td Proof of purchase
          %td.inline-images
            - @impound_claim.bike_submitting_images.photo_of_receipt.each do |image|
              = link_to image_tag(image.image_url(:small), class: "d-inline-block"), image.image_url


  .col-md-6
    - if @bike_submitting.present?
      .bike-boxes.mt-0
        = render partial: "/bikes/bike", locals: { bike: @bike_submitting, skip_cache: true }
    %p.mt-4
      %strong.d-block
        Message from
        %em= @impound_claim.user.display_name
        about their claim to this #{@impound_claim.bike_type}:
      %em= @impound_claim.message

  - if @impound_claim.submitting?
    .col-sm-6.offset-sm-3
      .card.mt-4
        .card-block
          .card-title
            %h3.uncap Respond to this claim
          .card-body
            - if current_user.superuser? && block_superuser_update # Block update is to prevent superusers from editing things they shouldn't
              %p.m0
                %em.text-warning
                  Hey #{current_user.first_display_name} - you don't own this #{@impound_claim.kind} #{@impound_claim.bike_type} - so you aren't allowed to respond to the claim.
                %small.d-block.less-strong You'll only see this message if you're a superuser.
            - else
              = form_for @impound_claim, {url: update_url} do |f|
                .form-group.mt-0
                  = f.text_area :response_message, placeholder: "Message to include (optional)", class: "form-control"
                .row.mt-4.approveOrDenyClaim
                  -# NOTE: the values for these match things in the update action. Make sure you update those if you change here
                  .col-xs-6.text-center
                    = submit_tag "Approve", value: "Approve", name: "submit", class: "btn btn-lg btn-success"
                  .col-xs-6.text-center
                    = submit_tag "Deny", value: "Deny", name: "submit", class: "btn btn-lg btn-danger"
              %p.mt-4.mb-0
                %em.less-strong
                  Clicking one these buttons will send an email to the claimant, letting them know the response to their claim.
                  %strong They will still need to arrange to pick up the bike.
  - elsif @impound_claim.submitted?
    .col-sm-6.offset-sm-3
      %h3.uncap.mt-2.mb-2
        This claim has been updated since it was submitted:
      = render partial: "/organized/impound_records/impound_record_updates_table", locals: {impound_record_updates: @impound_claim.impound_record_updates.reorder(created_at: :desc)}

%h3.uncap.mb-0.mt-4
  - if @impound_claim.organized?
    = @impound_claim.organization.short_name
  - else
    = @impound_claim.impound_record&.user_id == current_user.id ? "Your" : "User's"
  #{@impound_claim.kind.titleize} #{@impound_claim.bike_type}:
.row
  .col-md-6.mt-2
    %table.table-list
      %tbody
        %tr
          %td Bike
          %td
            - if @bike_claimed.present?
              = link_to organized_bike_text(@bike_claimed), bike_path(@bike_claimed, organization_id: current_organization.to_param)

        - if @impound_claim.organized?
          %tr
            %td Impound ID
            %td
              %strong
                = link_to @impound_record.display_id, organization_impound_record_path(@impound_record.display_id, organization_id: current_organization.id)
              - if display_dev_info?
                %small.only-dev-visible.ml-2
                  %em.less-strong real id:
                  %code
                    = @impound_record.id
          %tr
            %td #{@impound_claim.kind.titleize} by
            %td= @impound_record.creator&.display_name
        - unless @parking_notification.present?
          %tr
            %td Created
            %td
              %span.convertTime.preciseTime
                = l(@impound_record.created_at, format: :convert_time)

        - unless @impound_record.current?
          %tr
            %td Status
            %td
              %strong
                = status_display(@impound_record.status_humanized)

        - if @impound_claim.organized? # Can't write notes unless organized
          %tr
            %td Notification Notes
            %td
              - if @impound_record.notification_notes_and_messages.present?
                %ul
                  - @impound_record.notification_notes_and_messages.each do |note|
                    %li= note

        - if @impound_claim.submitted?
          %tr
            %td Response message
            %td= @impound_claim.response_message

  - if @bike_claimed.present?
    .col-md-6
      .bike-boxes.mt-0
        = render partial: "/bikes/bike", locals: { bike: @bike_claimed, skip_cache: true }
