- if current_user.bike_tokens.available.any?
  .bike-tokens
    .bike-token-list
      %p
        You have #{pluralize(current_user.bike_tokens.available.count, "remaining free bike ticket")}!
      .tix-wrapper
        = link_to new_bike_url(bike_token_id: current_user.bike_tokens.available.last.id) do 
          = image_tag "/assets/ticket-edge.png", class: "left"
          = image_tag "/assets/ticket-edgeR.png", class: "right"
          %span.tix
            %span.tix-title
              &#9733;
              Add one free bike
              &#9733;
            %span.email
              = current_user.email
            %span.tix-num
              = current_user.bike_tokens.available.last.id + 107
            %span.use
              Use ticket to create a bike
      / %h3
      /   You have
      /   = pluralize(current_user.bike_tokens.available.count, "bike token")
      / %h4
      /   Click on one to add one of your bikes to the Index for free!
      / %ul
      /   - current_user.bike_tokens.available.each do |token|
      /     %li
      /       = link_to "Bike token", new_bike_url(bike_token_id: token.id)