- search_path ||= bikes_path
- skip_serial_field ||= false
- include_location_search ||= false

- include_organized_search_fields ||= false
- include_hidden_search_fields ||= include_organized_search_fields


- search_form_class = "bikes-search-form"
- search_form_class += " single-search-input " if skip_serial_field

= form_tag search_path, id: "bikes_search_form", class: search_form_class, enforce_utf8: false, method: :get do
  .query-field-wrap.nojs
    = hidden_field_tag :locale, params[:locale] if params[:locale].present?
    - opt_vals = @selected_query_items_options.map { |i| i.is_a?(String) ? [i, i] : [i["text"], i["search_id"]]  }
    = select_tag :query_items,                                      |
      options_for_select(opt_vals, selected: opt_vals.map(&:last)), |
      placeholder: t(".search_bike_descriptions"),                  |
      class: "form-control query-field",                            |
      multiple: true
    = text_field_tag :query, params[:query], placeholder: t(".search_bike_descriptions"), title: t(".search_bike_descriptions"), class: "form-control query-field"
    - if include_organized_search_fields
      .sidebyside-queries
        = text_field_tag :search_email, params[:search_email], placeholder: t(".search_owner_email"), class: "form-control query-field email-field-too"
        = text_field_tag :serial, params[:serial], placeholder: t(".search_for_serial_number"), class: "form-control query-field email-field-too"
    - elsif !skip_serial_field
      = text_field_tag :serial, params[:serial], placeholder: t(".search_for_serial_number"), title: t(".search_for_serial_number"), class: "form-control query-field"
  .search-button-wrap
    = button_tag(type: t(".submit"), class: "searchit btn btn-primary") do
      :plain
        <svg id="search-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><defs><style>.cls-1,.cls-2{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;}.cls-2{stroke-linecap:round;}</style></defs><title>searcher</title><circle class="cls-1" cx="10.39" cy="10.39" r="9.39"/><line class="cls-2" x1="17.03" y1="17.03" x2="28" y2="28"/></svg>
  - if include_location_search
    .stolen-search-fields{ class: ("currently-hidden" unless params[:stolenness] == "proximity") }
      = text_field_tag :location, params[:location], placeholder: t(".anywhere"), title: "Search location", class: "form-control stolen-proximity"
      %span
        = t(".miles_of")
      = number_field_tag :distance, @interpreted_params[:distance] || 100, placeholder: "100", min: 1, title: "Search distance", class: "form-control stolen-radius"
      %span
        = t(".within")
      = hidden_field_tag :stolenness, params[:stolenness]

  - if include_organized_search_fields
    = render partial: "/shared/hidden_search_fields", locals: {kind: "organized_bike_search"}
    = hidden_field_tag :search_stickers, params[:search_stickers]
    = hidden_field_tag :search_address, params[:search_address]
    = hidden_field_tag :search_secondary, params[:search_secondary]
    = hidden_field_tag :search_model_audit_id, params[:search_model_audit_id]

- if @interpreted_params[:raw_serial].present? && @interpreted_params[:serial].blank?
  .alert.alert-warning.mt-4
    = t(".doesnt_look_like_serial")
