- signed_in_user ||= nil
- ownership = bike.current_ownership
- skip_to_see ||= false

%p
  - if OrganizationDisplayer.avatar?(ownership.organization)
    = image_tag ownership.organization.avatar.url(:medium), class: "claim-message-org-avatar"
  %strong
    - if ownership.organization.present?
      = ownership.organization.name
    - elsif ownership.creator&.name.present?
      = ownership.creator.name
    - else
      = EmailNormalizer.obfuscate(ownership&.creator.email)
  = t(".registered_your_bike_on_index", bike_type: bike.type)


%p
  = t(".public_resource_reunited_value_html", value: as_currency(Counts.recoveries_value))

%p
  = t(".supercharge_if_your_bike_stolen", bike_type: bike.type)

- unless skip_to_see
  %p
    - sign_up = t(".sign_up")
    = t(".to_see_your_bike_sign_up_html", bike_type: bike.type, sign_up_link: link_to(sign_up, new_user_url))

