- if @blog.present?
  - render_why_donate = @blog.title_slug == Blog.why_donate_slug
  - render_get_your_stolen_bike_back = @blog.title_slug == Blog.get_your_stolen_bike_back_slug

.container
  .row
    -# Unless one of the permitted pages, wrap it in .legacy-content-wrap
    - additional_class = %w().include?(content_page_type) ? "" : "legacy-content-wrap"
    .col-md-8.primary-content-block{ class: additional_class }
      = yield
      .d-md-none.d-sm-block.mb-2.mt-4
        .ad-block.ad-binx.ad468x60
    .col-md-4.primary-content-menu
      -# check if this is a donation info page
      - if render_why_donate
        - referral_source = params[:source].present? if params[:source].present?
        - referral_source ||= "why-donate" if @blog.title_slug == Blog.why_donate_slug
        - referral_source ||= @blog.title_slug
        .next-steps-wrap.donation
          %header
            = t(".make_a_difference")
            = link_to t(".donate_today"), donate_path(source: referral_source), class: "btn btn-primary"
          %ul
            %li.mt-3
              = link_to "Donate $5", donate_path(initial_amount: 5, source: referral_source), class: "btn btn-secondary donate-btn"
            %li.mt-2
              = link_to "Donate $50", donate_path(initial_amount: 50, source: referral_source), class: "btn btn-secondary donate-btn"
            %li.mt-2.mb-2
              = link_to "Donate $200", donate_path(initial_amount: 200, source: referral_source), class: "btn btn-secondary donate-btn"
        :scss
          .next-steps-wrap .btn.donate-btn {
            display: block;
            width: auto;
            margin-top: 0;
          }
          .next-steps-wrap.donation {
            border-radius: 4px;
          }
      - elsif render_get_your_stolen_bike_back
        .next-steps-wrap.donation
          %header
            Bike Index recovery record
          %ul
            %li.mt-3
              %strong
                #{number_with_delimiter(Counts.recoveries)} -
              Stolen bikes recovered
            %li.mt-2
              %strong
                $#{number_with_delimiter(Counts.recoveries_value)} -
              Value of bikes recovered with Bike Index
      - else
        %nav.content-nav-group
          %h3= t(".related")
          %ul
            - if content_page_type == "news"
              %li
                - all_active = action_name == "index" && !sortable_search_params?
                = link_to t(".bike_index_news"), news_index_path, class: (all_active ? "active" : "")
            - if @related_blogs.present?
              - @related_blogs.each do |blog|
                %li.mt-3
                  = link_to blog.title, news_url(blog)
            - else
              %li
                = active_link t(".about"), about_path
            - unless content_page_type == 'news'
              %li
                = active_link t(".help"), help_url
              %li
                = active_link t(".where"), where_path
              - if %w(manufacturers where).include?(content_page_type)
                %li
                  = active_link t(".sign_up_your_organization"), new_organization_path

        %nav.content-nav-group
          %h3= t(".other_pages")
          %ul
            %li
              = active_link t(".how_to_get_your_stolen_bike_back"), get_your_stolen_bike_back_path
            - unless content_page_type == "news"
              %li
                = active_link t(".bike_index_news"), news_index_path
            %li
              = active_link t(".protect_your_bike"), protect_your_bike_path
            %li
              = active_link t(".bicycle_serials"), serials_path
            - if %w(news about manufacturers).include?(content_page_type)
              %li
                = active_link t(".donate"), why_donate_path
            - if %w(news serials manufacturers).include?(content_page_type)
              %li
                = active_link t(".bike_index_store"), store_path
            %li
              = active_link t(".design_and_developer_resources"), dev_and_design_path
            %li
              = active_link t(".sign_up_your_organization"), new_organization_path

        .ad-block.ad-binx.ad300x600.d-none.d-md-block
        = render partial: "/shared/google_ad", locals: {klass: "ad-block ad-google ad300x600 mt-3 d-none d-md-block"}

  - if render_get_your_stolen_bike_back
    .root-landing-recovery-stories.mt-4
      #recovery-stories-container.extras-hidden
        = render RecoveryDisplay.limit(5)
        .recovery-block.recovery-see-more
          = link_to "read more recovery stories",
            recovery_stories_path,
            class: "see-more-link"

  - if @blog.present? && current_user&.superuser?
    .text-center.mt-4.less-strong
      = link_to "edit post", edit_admin_news_path(@blog), class: "btn btn-outline-primary"
