.container.main-container-wrap
  .row
    .col-md-8.primary-content-block
      = yield
    .col-md-4.content-menu-block
      %nav.content-nav-group
        %h3
          Related
        %ul
          %li
            forum
          %li
            contact
          %li
            sign up your org (on mnfg and where)
          %li
            = link_to "about", about_path
          %li
            = link_to "where", where_path
      %nav.content-nav-group
        %h3
          Un-Related content
        %ul
          %li
            Bike Index news
          %li
            protect_your_bike
          %li
            donate (on about page)
          %li
            store (serials page)
          %li
            dev and design resources
          %li
            sign up your organization
          / all for news ^
          %li
            = link_to "about", about_path

          %li
            = link_to "where", where_path
            