- kind ||= "law_enforcement"
- law_enforcement_org = current_user&.organizations&.law_enforcement&.unpaid&.first
- org_name = law_enforcement_org&.name || "your organization"

- modal_body = capture_haml do
  .modal-body
    %p= t(".greeting", user_name: current_user&.display_name)
    %p= t(".thank_you")
    %p= t(".law_enforcement_features")

    %ul
      %li= link_to t(".contact_bike_owners"), "https://bikeindex.org/news/recovering-bikes-before-they-are-marked-stolen", target: "_blank"
      %li= t(".multiple_serial_search_pane")

    %p
      = t(".email_for_access_html", email_link: link_to("support@bikeindex.org", "mailto:support@bikeindex.org"))

    %p.less-strong.text-center{ style: "text-align: center;" }
      %em= t(".bikeindex_is_a_nonprofit", org_name: org_name)

= render partial: "shared/modal", locals: { title: t(".thank_you"), modal_body: modal_body, id: "donateMessageModal", start_open: true}
