.form-well-header.container{ data: { template: @edit_template } }
  -# Show alerts if bike is impounded or has current notifications
  = render partial: "owner_bike_status_alerts"
  .edit-bike-header
    %h1.uncap
      - if @bike.fetch_current_stolen_record.present?
        %span.uppercase.stolen-color= t(".stolen")
      - elsif @bike.current_impound_record.present?
        - if @bike.impounded_found?
          %span.uppercase.found-color= t(".found")
        - else
          %span.uppercase.impounded-color= t(".impounded")
      - else
        = t(".edit")
      = BikeDecorator.new(@bike).title_html
      - if @bike.deleted?
        %em.text-danger.uncap
          This #{@bike.type} was deleted
          - if @bike.deleted_at.present?
            %span.convertTime.preciseTime
              = l(@bike.deleted_at, format: :convert_time)

    - unless @bike.user?
      %p.mb-0
        - if @bike.authorized_by_organization?(org: passive_organization)
          = t(".owned_with_permission_to_edit_html", owner_email: @bike.owner_email, org_name: passive_organization&.short_name)
        - else # it's almost certainly because the user hasn't claimed it
          = t(".owned_but_hasnt_been_claimed_html", owner_email: @bike.owner_email)

    %p.mb-4
      = link_to t(".view_bike", bike_type: @bike.type.titleize), bike_path(@bike), class: "gray-link"
= yield
