.form-well-header.container{ data: { template: @edit_template } }
  .edit-bike-header
    %h1
      - if @bike.stolen and @bike.find_current_stolen_record.present?
        %span.text-danger
          = @bike.recovered ? 'recovered' : 'stolen'
      - else
        Edit
      = @bike.year
      = @bike.mnfg_name
      = @bike.frame_model
      = @bike.type unless @bike.type == 'bike'
    - unless @bike.user?
      %p.mb-0
        Owned by
        %em
          = @bike.owner_email
        - if @bike.authorized_by_organization?(org: passive_organization)
          but #{passive_organization.short_name} has permission to edit
        - else # it's almost certainly because the user hasn't claimed it
          but it hasn't been claimed yet
    %p.mb-4
      = link_to "View #{@bike.type.titleize}", bike_path(@bike), class: "gray-link"
= yield
