.form-well-header.container{ data: { template: @edit_template } }
  .edit-bike-header
    %h1
      - if @bike.stolen && @bike.find_current_stolen_record.present?
        %span.text-danger
          = @bike.abandoned ? t(".abandoned") : t(".stolen")
      - else
        = t(".edit")
      = @bike.year
      = @bike.mnfg_name
      = @bike.frame_model
      = @bike.type unless @bike.type == 'bike'

    - unless @bike.user?
      %p.mb-0
        - if @bike.authorized_by_organization?(org: passive_organization)
          = t(".owned_with_permission_to_edit_html", owner_email: @bike.owner_email, org_name: passive_organization&.short_name)
        - else # it's almost certainly because the user hasn't claimed it
          = t(".owned_but_hasnt_been_claimed_html", owner_email: @bike.owner_email)

    %p.mb-4
      = link_to t(".view_bike", bike_type: @bike.type.titleize), bike_path(@bike), class: "gray-link"
= yield
