#edit-bike-skeleton
  .form-well-header.container{data: {template: @edit_template}}
    - unless @bike.version?
      -# Show alerts if bike is impounded or has current notifications
      = render partial: "/bikes/owner_bike_status_alerts"
    .edit-bike-header
      %h1.uncap
        - if @bike.status_with_owner?
          = t(".edit")
        - else
          = bike_status_span(@bike)
        - if @bike.version?
          %strong= @bike.display_name
          %small.d-block.d-md-inline
            of
            %em= @bike_og.title_string
        - else
          = bike_title_html(@bike)
        - if @bike.deleted?
          %em.text-danger.uncap.d-block
            This #{@bike.version? ? "version" : @bike.type} was deleted
            - if @bike.deleted_at.present?
              %span.convertTime.preciseTime.withPreposition
                = l(@bike.deleted_at, format: :convert_time)

      - unless @bike.user?
        %p.mb-0
          - if @bike.authorized_by_organization?(u: current_user, org: passive_organization)
            = t(".owned_with_permission_to_edit_html", owner_email: @og_email || @bike.owner_email, org_name: passive_organization&.short_name)
          - else # it's almost certainly because the user hasn't claimed it
            = t(".owned_but_hasnt_been_claimed_html", owner_email: @og_email || @bike.owner_email)

      %p.mb-4
        - if @bike.version?
          = link_to t(".view_bike_version", bike_type: @bike.type_titleize), bike_version_path(@bike), class: "gray-link"
        - else
          = link_to t(".view_bike", bike_type: @bike.type_titleize), bike_path(@bike), class: "gray-link"
  = yield

  .mobile-nonfloating-menu.pl-1.pr-1.text-center.bootstrapstyle
    %strong.d-inline-block
      = t(".edit_pages", bike_type: @bike.type)
    - menu_link_count = @edit_templates.keys.count
    - @edit_templates.each_with_index do |t_d, i|
      - template, description = t_d[0], t_d[1]
      - is_active = 'active' if @edit_template.match(/#{template}/)
      %a.ml-1.mr-1.d-inline-block.text-underline{href: edit_bike_template_path_for(@bike, template), class: is_active}
        = description
