<% @ownership ||= @bike.current_ownership %>
<% bike_url_path ||= bike_url(@bike, t: @ownership.token) %>
<% skip_link_tracking = bike_url_path.match?(/\?/) # Skip link tracking if there are query parameters - e.g. token %>
<% bike_url_path = @email_preview_tokenized_url if @email_preview %>
<% thumb_url = @bike.thumb_path || @bike.stock_photo_url %>

<% unless thumb_url.present? %>
  <% thumbclass = 'placeholder' %>
  <% thumb_url = 'https://files.bikeindex.org/email_assets/bike_photo_placeholder.png' %>
<% end %>

<table class="bike-display">
  <tbody>
    <tr>
      <td class="image-holder <%= thumbclass %>">
        <a
          href="<%= bike_url_path %>"
          data-pm-no-track="<%= skip_link_tracking %>"
        >
          <img src="<%= thumb_url %>">
        </a>
      </td>

      <td class="info-holder">
        <ul>
          <li><strong><%= t(".make") %></strong><%= @bike.mnfg_name %></li>

          <li>
            <strong><%= t(".serial") %></strong>
            <%= render_serial_display(@bike, skip_explanation: true) %>
          </li>

          <li>
            <strong>
              <%= t(".color").pluralize(@bike.frame_colors.count) %>:
              <%= @bike.frame_colors.to_sentence %>
            </strong>

            <% if BikeServices::Displayer.paint_description?(@bike) %>
              <small class="less-strong">
                - <%= @bike.paint_description %>
              </small>
            <% end %>
          </li>

          <% if @bike.current_stolen_record.present? %>
            <% stolen_record = @bike.current_stolen_record %>
            <li>
              <strong>
                <%= @bike.status_impounded? ? t(".found") : t(".stolen_from") %>
              </strong>

              <%= stolen_record.address(country: [:skip_default]) %>
            </li>
            <li>
              <strong><%= t(".stolen_at") %></strong>
              <%= l stolen_record.date_stolen, format: :dotted %>
            </li>
          <% end %>

          <% if @bike.current_ownership&.new_registration? && @bike.pos? %>
            <li>
              <em class="less-strong"><%= t(".color_may_be_incorrect") %></em>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
