:javascript
  var anchor, idx, url, $target;
  url = window.location.href;
  idx = url.indexOf('#');
  if (idx !== -1) {
    anchor = url.substring(idx + 1);
    $(document).ready(function() {
      $target = $("#" + anchor);
      $target.collapse('show');
      $('body').animate({ scrollTop: $target.offset().top - 120 }, 'fast');
    });
  }

%article
  .faq-block#main-faq-block
    %h3= t(".faqs")
    %dl
      %dt.collapse-faq
        %a.collapsed{ href: "#who-can-register", data: { toggle: "collapse"} }
          %span &#x25B6;
          = t(".who_can_register_bikes")

      %dd#who-can-register.collapse
        %p= t(".everyone_can_register_bikes_for_free")

      %dt.collapse-faq
        %a.collapsed{ href: "#how-verify", data: { toggle: "collapse"} }
          %span &#x25B6;
          = t(".how_bikes_are_verified")

      %dd#how-verify.collapse
        %p= t(".registration_html", partner_link: link_to(t(".partner_link"), where_url))
        %p= t(".verification_questions")

      %dt.collapse-faq
        %a.collapsed{ href: "#bike-by-serial", data: { toggle: "collapse"} }
          %span &#x25B6;
          = t(".can_you_tell_me_what_bike_by_serial")

      %dd#bike-by-serial.collapse
        %p= t(".not_yet")
        %p= t(".we_recommend_searching")

        = form_tag bikes_path, method: :get do
          = text_field_tag :serial,
          params[:serial],
          placeholder: t("bike_serial_number"),
          class: 'faq-search-search-field'

          = button_tag(type: "submit", class: "searchit") do
            = image_tag "stolen/search.svg"
        %p= t(".similar_serials")

      %dt.collapse-faq
        %a.collapsed{ href: "#what-if-i-sell", data: { toggle: "collapse"} }
          %span &#x25B6;
          = t(".what_if_i_sell_my_bike")

      %dd#what-if-i-sell.collapse
        %p= t(".free_to_transfer")

        %p.steps= t(".go_to_edit_page")
        = image_tag "home/transfer_shot1.png", alt: "Click to reveal the transfer fields", class: "demo-screen"

        %p.steps= t(".reveal_owner_email_html")
        = image_tag "home/transfer_shot2.png", alt: "Click to reveal the transfer fields", class: "demo-screen"

      %dt.collapse-faq
        %a.collapsed{ href: "#how-vendor", data: { toggle: "collapse"} }
          %span &#x25B6;
          = t(".can_partner_with_bikeindex")

      %dd#how-vendor.collapse
        %p= t(".absolutely")
        %p= t(".organization_signup_html", signup_link: link_to(t(".organization_signup_link"), new_organization_path))

      %dt.collapse-faq
        %a.collapsed{ href: "#how-advertising", data: { toggle: "collapse"} }
          %span &#x25B6;
          = t(".how_can_i_advertise")

      %dd#how-advertising.collapse
        %p= t(".in_the_process_of_setting_up_advertising")
        %p= t(".email_us_html", email_link: link_to("lily@bikeindex.org", "mailto:lily@bikeindex.org"))

      %dt.collapse-faq
        %a.collapsed{ href: "#already-stolen", data: { toggle: "collapse"} }
          %span &#x25B6;
          = t(".bike_was_already_stolen")

        %dd#already-stolen.collapse
          %p
            %strong= t(".add_details")
          %p= t(".comprehensive_public_database")
          %p= t(".visit_or_add_html", visit_link: link_to(t(".stolen_bikes_link"), stolen_bikes_url), add_link: link_to(t(".add_a_stolen_bike_link"), new_bike_url(stolen: true)))

      %dt.collapse-faq
        %a.collapsed{ href: "#does-this-prevent-theft", data: { toggle: "collapse"} }
          %span &#x25B6;
          = t(".how_does_this_prevent_bike_theft")

      %dd#does-this-prevent-theft.collapse
        %p= t(".people_with_good_intentions")
        %p= t(".bike_index_is_that_resource")
        %p= t(".we_offer_bike_shops")
        %p= t(".we_successfully_recover")

      %dt.collapse-faq
        %a.collapsed{ href: "#kit-bro", data: { toggle: "collapse"} }
          %span &#x25B6;
          = t(".how_can_i_stay_up_to_date")

        %dd#kit-bro.collapse
          %p= t(".read_our_blog_html", blog_link: link_to(t(".blog_link"), blogs_url))
          %p= t(".follow_us_html", twitter_link: link_to("Twitter", "https://twitter.com/BikeIndex"), facebook_link: link_to("Facebook", "https://facebook.com/bikeindex"))

      %dt.collapse-faq
        %a.collapsed{ href: "#used-for-evil", data: { toggle: "collapse"} }
          %span &#x25B6;
          = t(".can_thieves_search")
        %dd#used-for-evil.collapse
          %p= t(".possible_but_uncommon")

      %dt.collapse-faq
        %a.collapsed{ href: "#what-about-privacy", data: { toggle: "collapse"} }
          %span &#x25B6;
          = t(".what_about_my_privacy")

      %dd#what-about-privacy.collapse
        %p= t(".your_personal_information_is_never_viewed")
        %p= t(".bikes_are_public_and_searchable")
        %p= t(".to_learn_more_html", article_link: link_to(t(".article_link"), "https://www.bikeindex.org/news/privacy-on-the-bike-index"))

      %dt.collapse-faq
        %a.collapsed{ href: "#public-serials", data: { toggle: "collapse"} }
          %span &#x25B6;
          = t(".why_public")

        %dd#public-serials.collapse
          %p
            %strong= t(".serial_numbers_public")
            = t(".the_faster_and_easier_it_is")
          %p= t(".this_isnt_optimistic_speculation")
          %p= t(".weve_recovered_bikes")
          %p= t(".other_registries_html", wikipedia_link: link_to(t(".security_by_obscurity_link"), "https://en.wikipedia.org/wiki/Security_through_obscurity"))
          %p= t(".while_serial_numbers")
          %p= t(".we_care_about_your_privacy")
