%article
  .faq-block#main-faq-block
    %h3
      Common issues & frequently asked questions
    %dl
      %dt.collapse-faq
        %a.collapsed{ href: "#who-can-register", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          Who can register bikes?
      %dd#who-can-register.collapse
        %p
          Everyone can register bikes, for free.
     
      %dt.collapse-faq
        %a.collapsed{ href: "#how-verify", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          How do you verify the bikes that people register? 
      %dd#how-verify.collapse
        %p
          Registering your bike at #{ link_to 'one of our partner shops', where_url } verifies the registration (shops may choose to only register bikes that they sell).
        %p
          Any question of verification is dealt with by reviewing your registration information. This hasn't been an issue.
      
      %dt.collapse-faq
        %a.collapsed{ href: "#bike-by-serial", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          Can you tell me what bike I have based on its serial number?
      %dd#bike-by-serial.collapse
        %p
          No. This is a feature we're working on, but we aren't there yet.
        %p
          For now, we recommend searching for your bike's serial number. We will show you any registered bikes that have similar serial numbers.
        = form_tag bikes_path, method: :get do 
          = text_field_tag :serial, params[:serial], placeholder: 'Bike serial number', class: 'faq-search-search-field'
          = button_tag(type: "submit", class: "searchit") do
            = image_tag '/assets/stolen/search.svg'        
        %p
          If there are any bikes with similar serial numbers, particularly if just the last few numbers are different &mdash; your bike is most likely that make and model.
      
      %dt.collapse-faq
        %a.collapsed{ href: "#what-if-i-sell", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          What if I sell my bike?
      %dd#what-if-i-sell.collapse
        %p
          Bike registration is permanent, it's free to transfer bikes.
        %p.steps
          Go to the edit page for the bike and click on the link at the bottom
        = image_tag "/assets/home/transfer_shot1.png", alt: "Click to reveal the transfer fields", class: "demo-screen"
        %p.steps
          This will reveal the owner's email. Enter in the new owners email and click 
          %em
            Send Bike.
        = image_tag "/assets/home/transfer_shot2.png", alt: "Click to reveal the transfer fields", class: "demo-screen"

      %dt.collapse-faq
        %a.collapsed{ href: "#how-vendor", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          Can my local bike shop partner with the Bike Index?
      %dd#how-vendor.collapse
        %p
          Absolutely!
        %p
          Have them visit the #{link_to "organization signup page", vendor_signup_url}, we'll set them up with a organization account so they can register bikes for free.
        
      %dt.collapse-faq
        %a.collapsed{ href: "#already-stolen", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          My bike was already stolen. What should I do?
        %dd#already-stolen.collapse
          %p
            %strong
              Add the bike and details about the theft to the Index now!
          %p
            Bike Index is a comprehensive public database - if your bike was stolen, we think everyone should know about it.
          %p
            Visit the #{link_to "stolen bikes page", stolen_bikes_url} to for more information, or #{link_to "add a stolen bike here", new_bike_url(stolen: true)}.        
      %dt.collapse-faq
        %a.collapsed{ href: "#does-this-prevent-theft", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          How does this prevent bike theft?
      %dd#does-this-prevent-theft.collapse
        %p
          Right now people with good intentions buy stolen bikes because there isn't a single searchable, simple resource to check before buying a bike.
        %p
          Bike Index is that resource. The next time you buy a used bike, check the Index first.
        %p
          We offer bike shops and law enforcement an easy to use interface to look up any suspicious bikes they encounter, and a way to quickly contact the proper owner.
        %p 
          We successfully recover stolen bikes every week through this process.


      %dt.collapse-faq
        %a.collapsed{ href: "#kit-bro", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          How can I stay up to date on what the Bike Index is doing?
        %dd#kit-bro.collapse
          %p
            Read our #{link_to "blog", blogs_url}! We post most cool things we do there.
          %p
            You can also follow us on #{link_to "Twitter", "https://twitter.com/BikeIndex"} and #{link_to "Facebook", "https://facebook.com/bikeindex"}.
          
      / %dt.collapse-faq
      /   %a.collapsed{ href: "#business-type", data: { toggle: "collapse"} }
      /     %span
      /       &#x25B6;
      /     Is the Bike Index a not-for-profit?
      /   %dd#business-type.collapse
      /     %p
      /       We're an Illinois 
      /       = succeed "," do
      /         %a{ href: "http://en.wikipedia.org/wiki/Benefit_corporation" }
      /           benefit corporation
      /       a type of company that is required by law to create benefit for society as well as shareholders.
      /     %p
      /       Essentially, it's a hybrid of a for-profit and not-for-profit company.
          
      /     %p
      /       We decided to form a benefit corporation because we believe it's the best way to build an excellent service, be awesome, and fight bike theft.

      %dt.collapse-faq
        %a.collapsed{ href: "#used-for-evil", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          Is it possible for bike thieves to search Index to check if a bike is listed as stolen before they sell it?
        %dd#used-for-evil.collapse
          %p
            It is possible, but not common. We track and flag suspect activities to prevent abuse of the Bike Index. 

      %dt.collapse-faq
        %a.collapsed{ href: "#what-about-privacy", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          What about my privacy?
      %dd#what-about-privacy.collapse
        %p
          Your personal information is never viewed, shared or sold without your permission.
        %p
          Bikes are public and searchable, but no information about the owner is visible. You can choose to share information (such as your twitter or personal website) but this is turned off by default.
        %p
          To learn more check out 
          = link_to "our article", "https://www.bikeindex.org/news/privacy-on-the-bike-index"
          about privacy.

      %dt.collapse-faq
        %a.collapsed{ href: "#public-serials", data: { toggle: "collapse"} }
          %span
            &#x25B6;
          Why are serial numbers and non-stolen bikes public?
        %dd#public-serials.collapse
          %p
            %strong
              We make serial numbers public because it's the best way to recover stolen bikes and deter theft.
            The faster and easier it is to access serials, the more stolen bikes we recover. Restricting access to serial numbers only helps thieves.
          %p
            This isn't optimistic speculation: we've proved this and continue to do so with every stolen bike we recover.
          %p
            We've recovered bikes before they could even be marked stolen because they could be found on the Index.
          %p
            Other registries generally hide serials because of their technical limitations. They keep information away from those most likely to use it for good, even though #{link_to "security by obscurity", "https://en.wikipedia.org/wiki/Security_through_obscurity"} doesn't work.
          %p
            While serial numbers and bike information is public, there is nothing to connect users to the bikes they own. We never make user information available unless the user explicitly choses to do so.
          %p
            We care about your privacy more than anyone&mdash;you can hide your registration so nobody but you can see it. We just don't think this is a good idea.