<footer class="global-footer" id="page-foot">
  <div class="container">
    <ul class="footer-links">
      <li>
        <%= link_to "Register a bike", choose_registration_path %>

        <ul>
          <li><%= link_to "Bike Index partner organizations", where_path %></li>
          <li><%= link_to "Bike Index resources", resources_path %></li>
        </ul>
      </li>

      <li>
        <%= link_to "About Bike Index", about_path %>

        <ul>
          <li><%= link_to "Bike Index news", news_index_path %></li>
          <li><%= link_to "List of manufacturers", manufacturers_path %></li>
          <li><%= link_to "Donate to Bike Index", why_donate_path %></li>
        </ul>
      </li>

      <li class="contact-nav-btns">
        <%= link_to "Help", help_path %>

        <ul>
          <li>
            <%= link_to "Contact us", help_path(anchor: 'contact_us_section') %>
            <%= link_to "Sign up a shop or organization", new_organization_path %>
            <%= link_to "API Documentation", documentation_index_path %>
          </li>
        </ul>
      </li>

      <li class="social">
        <ul>
          <li>
            <%= link_to image_tag("facebook.svg", alt: "Bike Index Facebook"), "https://facebook.com/bikeindex", class: 'footer-facebook' %>
          </li>

          <li>
            <%= link_to image_tag("twitter.svg", alt: "Bike Index Twitter"), "https://twitter.com/BikeIndex", class: 'footer-twitter' %>
          </li>

          <li>
            <%= link_to image_tag("instagram.svg", alt: "Bike Index Instagram"), "http://instagram.com/bikeindex/", class: 'footer-instagram' %>
          </li>
        </ul>
      </li>
    </ul>

    <p>
      <span
        data-license="https://github.com/bikeindex/bike_index/blob/main/LICENSE"
      >
        <%= Time.current.year %> &copy; Bike Index.
      </span>
      <% if current_user.present? && current_user.has_organization_role? %>
        <%= link_to "Privacy policy", privacy_path %>
        ,
        <%= link_to "vendor terms", vendor_terms_path %>
      <% else %>
        <%= link_to "Privacy policy", privacy_path %>
      <% end %>
      and
      <%= link_to "terms and conditions", terms_path %>
      .
    </p>
  </div>
</footer>
