%footer.primary-footer
  .primary-footer-nav
    .container
      .row
        %nav.col-md-2.pull-right
          %h4= t(".bike_index")
          %ul
            %li= active_link t(".faq"), support_path
            %li= active_link t(".blog"), news_index_path
            %li= active_link t(".help"), help_path
            %li= active_link t(".about"), about_path
            %li= active_link t(".where_we_are"), where_path
            %li= active_link t(".stolen_bike_recoveries"), recovery_stories_path
            %li= active_link t(".how_to_get_your_stolen_bike_back"), get_your_stolen_bike_back_path

        %nav.col-md-2.pull-right
          %h4= t(".support_us")
          %ul
            %li= active_link t(".donate"), why_donate_path
            %li= active_link t(".store"), store_path
            %li= active_link t(".ambassadors"), ambassadors_how_to_path

        %nav.col-md-2.pull-right
          %h4= t(".resources")
          %ul
            %li= active_link t(".api_documentation"), documentation_index_path
            %li= active_link t(".dev_resources"), dev_and_design_path
            %li= active_link t(".design_logos"), image_resources_path
            %li= active_link t(".security"), security_path
            %li= active_link t(".bike_manufacturer_list"), manufacturers_path
            %li= active_link t(".protect_your_bike"), protect_your_bike_path
            %li= active_link t(".stolen_bike_map"), "https://map.bikewise.org/"

        %nav.col-md-2.pull-right
          %h4= t(".who_we_serve")
          %ul
            %li= active_link t(".bike_shops"), for_bike_shops_path
            %li= active_link t(".schools_and_universities"), for_schools_path
            %li= active_link t(".cities"), for_cities_path
            %li= active_link t(".law_enforcement"), for_law_enforcement_path
            %li= active_link t(".community_groups"), for_community_groups_path
            %li= link_to t(".press_inquiries"), "mailto:bryan@bikeindex.org,gavin@bikeindex.org"

        %nav.col-md-2.pull-right

        %nav.col-md-2.social-nav
          %ul
            %li
              = link_to "https://universeodon.com/@bikeindex", rel: 'me' do
                %span.sr-only Bike Index Fediverse
                %i.fab.fa-mastodon.fa-3x
            %li
              = link_to "https://facebook.com/bikeindex" do
                %span.sr-only Bike Index Facebook
                %i.fab.fa-facebook-square.fa-3x
            %li
              = link_to "https://twitter.com/BikeIndex" do
                %span.sr-only Bike Index Twitter
                %i.fab.fa-twitter.fa-3x
            %li
              = link_to "https://instagram.com/bikeindex" do
                %span.sr-only Bike Index Instagram
                %i.fab.fa-instagram.fa-3x

  %nav.terms-and-stuff
    .container
      .row
        .col-md-6.text-left
          = form_tag nil, method: :get, class: "locale-form" do
            .row
              .form-group
                = label_tag(:locale, t(".language"))
                = select_tag(:locale,
                  options_for_select(language_choices, selected: I18n.locale),
                  class: "form-control-sm",
                  onchange: "this.form.submit()")
                - if current_user.present? && current_user.preferred_language != I18n.locale
                  %em.below-input-help.text-right
                    = link_to t(".change_preferred_language"), edit_my_account_path
                = submit_tag "update", name: "Update", class: "btn btn-primary btn-sm sr-only"
        .col-md-6.text-right
          %p
            = [link_to(t(".privacy_policy"), privacy_url),
              (current_user&.has_organization_role? ? link_to(t(".vendor_terms"), vendor_terms_url) : nil),
            link_to(t(".terms_and_conditions"), terms_url)].compact.to_sentence.html_safe

          %p
            %span{data: {license: "https://github.com/bikeindex/bike_index/blob/main/LICENSE"}}
              = t(".copyright_html", current_year: Time.current.year)

-# Facebook pixel
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '199066297131941');
fbq('track', "PageView");
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=199066297131941&ev=PageView&noscript=1"/></noscript>


:javascript
  var trackOutboundLink = function(url) {
    ga("send", "event", "outbound", "click", url, {transport: "beacon", hitCallback: function() {document.location = url;}});
  };

  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-K88RMWC');

<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K88RMWC" height="0" width="0" style="display:none;visibility:hidden" title="Google tag manager"></iframe>
