%footer.primary-footer
  .primary-footer-nav
    .container
      .row
        %nav.col-md-3.pull-right
          %h4
            = active_link 'Donate to Bike Index', support_the_index_path
          %ul
            %li
              = active_link 'Store', shop_path
        %nav.col-md-3.pull-right
          %h4
            = active_link 'Help', help_path
          %ul
            %li
              = active_link 'Sign up a shop or organization', new_organization_path
            %li
              = active_link 'List of manufacturers', manufacturers_path
        %nav.col-md-3.pull-right
          %h4
            = active_link 'Dev and Design Resources', dev_and_design_path
          %ul
            %li
              = active_link 'API documentation', documentation_index_path
        %nav.col-md-3.social-nav
          %ul
            %li
              %a.footer-facebook{ href: 'https://facebook.com/bikeindex', alt: 'Bike Index Facebook' }
                :plain
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.09 40.09">
                    <g>
                      <path class="svgpath" d="M2987.81,2564.42a20,20,0,1,1,20-20A20.07,20.07,0,0,1,2987.81,2564.42Zm0-38.57a18.52,18.52,0,1,0,18.52,18.52A18.54,18.54,0,0,0,2987.81,2525.85Z" transform="translate(-2967.76 -2524.33)"/>
                      <path class="svgpath" d="M2997,2552.31a1,1,0,0,1-1,1h-4.75v-7.22h2.42l0.36-2.81h-2.79v-1.8a1.17,1.17,0,0,1,1.39-1.37h1.49v-2.52a19.91,19.91,0,0,0-2.17-.11,3.39,3.39,0,0,0-3.62,3.72v2.08h-2.43v2.81h2.43v7.22h-8.93a1,1,0,0,1-1-1v-16.59a1,1,0,0,1,1-1H2996a1,1,0,0,1,1,1v16.59Z" transform="translate(-2967.76 -2524.33)"/>
                    </g>
                  </svg>

            %li
              %a{ href: 'https://twitter.com/BikeIndex', alt: 'Bike Index Twitter' }
                :plain
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.09 40.09">
                    <g>
                      <path class="svgpath" d="M2806.61,2590.64a7.69,7.69,0,0,1-2.48,1,3.85,3.85,0,0,0-2.85-1.26,4,4,0,0,0-3.9,4,4.08,4.08,0,0,0,.1.91,11,11,0,0,1-8-4.18,4.07,4.07,0,0,0-.53,2,4,4,0,0,0,1.74,3.33,3.83,3.83,0,0,1-1.77-.5v0a4,4,0,0,0,3.13,3.92,3.72,3.72,0,0,1-1,.14,3.79,3.79,0,0,1-.73-0.07,3.92,3.92,0,0,0,3.65,2.78,7.71,7.71,0,0,1-4.85,1.71,7.81,7.81,0,0,1-.93-0.05,10.87,10.87,0,0,0,6,1.8c7.18,0,11.1-6.1,11.1-11.39,0-.17,0-0.35,0-0.52a8,8,0,0,0,1.95-2.07,7.62,7.62,0,0,1-2.24.63A4,4,0,0,0,2806.61,2590.64Z" transform="translate(-2777.81 -2578.33)"/>
                      <path class="svgpath" d="M2797.85,2618.42a20,20,0,1,1,20-20A20.07,20.07,0,0,1,2797.85,2618.42Zm0-38.57a18.52,18.52,0,1,0,18.52,18.52A18.54,18.54,0,0,0,2797.85,2579.85Z" transform="translate(-2777.81 -2578.33)"/>
                    </g>
                  </svg>
            %li
              %a{ href:  'https://instagram.com/bikeindex', alt: 'Bike Index Instagram' }
                :plain
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.09 40.09">
                    <g>
                      <path class="svgpath" d="M2868.16,2589H2854a2.21,2.21,0,0,0-2.21,2.21v14.2a2.21,2.21,0,0,0,2.21,2.21h14.19a2.21,2.21,0,0,0,2.21-2.21v-14.2A2.21,2.21,0,0,0,2868.16,2589Zm-3,2.91a0.58,0.58,0,0,1,.58-0.58h1.75a0.58,0.58,0,0,1,.58.58v1.75a0.58,0.58,0,0,1-.58.58h-1.75a0.58,0.58,0,0,1-.58-0.58v-1.75Zm-4.05,2.85a3.57,3.57,0,1,1-3.58,3.57A3.58,3.58,0,0,1,2861.09,2594.78Zm7.54,10.53a0.58,0.58,0,0,1-.58.58h-14a0.58,0.58,0,0,1-.58-0.58v-8.73h2.33a3.55,3.55,0,0,0-.41,1.77,5.66,5.66,0,0,0,11.33,0,3,3,0,0,0-.45-1.77h2.33v8.73Z" transform="translate(-2840.54 -2578.33)"/>
                      <path class="svgpath" d="M2860.58,2618.42a20,20,0,1,1,20-20A20.07,20.07,0,0,1,2860.58,2618.42Zm0-38.57a18.52,18.52,0,1,0,18.52,18.52A18.54,18.54,0,0,0,2860.58,2579.85Z" transform="translate(-2840.54 -2578.33)"/>
                    </g>
                  </svg>



  %nav.terms-and-stuff
    .container
      %p
        %span{data: {license: "https://github.com/bikeindex/bike_index/blob/master/LICENSE"}}
          #{Time.zone.now.year} &copy; Bike Index.
        - if current_user.present? && current_user.has_membership?
          #{link_to "Privacy policy", privacy_path}, #{link_to "vendor terms", vendor_terms_path}
        - else
          #{link_to "Privacy policy", privacy_path}
        and #{link_to "terms and conditions", terms_path}.
- cache 'facebook_pixel' do
  = render '/shared/facebook_pixel'
