%footer.primary-footer
  .primary-footer-nav
    .container
      .row
        %nav.col-md-2.pull-right
          %h4= t(".bike_index")
          %ul
            %li= active_link t(".faq"), support_path
            %li= active_link t(".blog"), news_index_path
            %li= active_link t(".help"), help_path
            %li= active_link t(".about"), about_path
            %li= active_link t(".where_we_are"), where_path
            %li= active_link t(".stolen_bike_recoveries"), recovery_stories_path

        %nav.col-md-2.pull-right
          %h4= t(".support_us")
          %ul
            %li= active_link t(".donate"), support_bike_index_path
            %li= active_link t(".store"), store_path
            %li= active_link t(".ambassadors"), ambassadors_how_to_path

        %nav.col-md-2.pull-right
          %h4= t(".resources")
          %ul
            %li= active_link t(".api_documentation"), documentation_index_path
            %li= active_link t(".dev_resources"), dev_and_design_path
            %li= active_link t(".design_logos"), image_resources_path
            %li= active_link t(".bike_manufacturer_list"), manufacturers_path
            %li= active_link t(".stolen_bike_map"), "https://map.bikewise.org/"

        %nav.col-md-2.pull-right
          %h4= t(".who_we_serve")
          %ul
            %li= active_link t(".bike_shops"), for_bike_shops_path
            %li= active_link t(".schools_and_universities"), for_schools_path
            %li= active_link t(".cities"), for_cities_path
            %li= active_link t(".law_enforcement"), for_law_enforcement_path
            %li= active_link t(".community_groups"), for_community_groups_path

        %nav.col-md-2.pull-right

        %nav.col-md-2.social-nav
          %ul
            %li
              = link_to "https://facebook.com/bikeindex", alt: 'Bike Index Facebook' do
                %i.fab.fa-facebook-square.fa-3x
            %li
              = link_to "https://twitter.com/BikeIndex", alt: 'Bike Index Twitter'  do
                %i.fab.fa-twitter.fa-3x
            %li
              = link_to "https://instagram.com/bikeindex", alt: 'Bike Index Instagram'  do
                %i.fab.fa-instagram.fa-3x

  %nav.terms-and-stuff
    .container
      .row
        .col-md-6.text-left
          = form_tag nil, method: :get, class: "locale-form" do
            .row
              .form-group
                = label_tag(:locale, t(".language"))
                = select_tag(:locale,
                  options_for_select(language_choices, selected: I18n.locale),
                  class: "form-control-sm",
                  onchange: "this.form.submit()")
                - if current_user.present? && current_user.preferred_language != I18n.locale
                  %em.below-input-help.text-right
                    = link_to t(".change_preferred_language"), edit_my_account_path
        .col-md-6.text-right
          %p
            = [link_to(t(".privacy_policy"), privacy_url),
              (current_user&.has_membership? ? link_to(t(".vendor_terms"), vendor_terms_url) : nil),
            link_to(t(".terms_and_conditions"), terms_url)].compact.to_sentence.html_safe

          %p
            %span{data: {license: "https://github.com/bikeindex/bike_index/blob/master/LICENSE"}}
              = t(".copyright_html", current_year: Time.current.year)

- cache 'facebook_pixel' do
  = render '/shared/facebook_pixel'

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-38316708-1', 'auto');
  ga('send', 'pageview');

  var trackOutboundLink = function(url) {
    ga("send", "event", "outbound", "click", url, {
      transport: "beacon",
      hitCallback: function() {
        document.location = url;
      }
    });
  };

  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-K88RMWC');

<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K88RMWC" height="0" width="0" style="display:none;visibility:hidden"></iframe>
