!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:name => "description", :content => "The Bike Index is a resource that works with you and bike shops to register and protect your bicycle. We're a national database fighting bike theft." }
    %title
      = titleation
    <link rel="shortcut icon" href="/fav.ico" />
    = stylesheet_link_tag "application", :media => "all"
    <link href='https://fonts.googleapis.com/css?family=Rambla:400' rel='stylesheet' type='text/css'>
    = javascript_include_tag "application"
    = csrf_meta_tags
    <!-- Pulled from https://code.google.com/p/html5shiv/ -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <meta http-equiv="refresh" content="0;url=https://www.bikeindex.org/update_browser" />
    <![endif]-->

:plain
  <!--
                                                      
        Stop reading code and go ride your bike!                          ~~O
                                                                        -  /\,
        https://github.com/bikeindex/bike_index                        -  -|~(*)
                                                                      -  (*)
        
                                                                        ^--------                                         
  -->
  <script type="text/javascript">$(document).ready(function () {
  $("#header-tabs").prepend("<div id='tab-cover'></div>");$.ajax({type:"GET",url:"/api/v1/users/current",success:function(e,t,n){var r,i,s,o,u,a;if(e["user_present"]){$("#total-top-header .yes_user").removeClass("hidden");if(e["is_superuser"]){$("#total-top-header .super_user").removeClass("hidden")}if(_.isArray(e["memberships"])){a=e["memberships"];for(o=0,u=a.length;o<u;o++){i=a[o];s='<li class="expand_t">\n  <a href="#'+i["slug"]+'">'+i["short_name"]+"</a>\n</li>";r='<div class="tab-pane" id="'+i["slug"]+'">\n  <ul>\n    <li>\n      <a href="/bikes/new?creation_organization_id='+i["organization_id"]+'">\n        <strong>Add a bike</strong> through '+i["organization_name"]+'\n      </a>\n    </li>\n    <li>\n      <a href="'+i["base_url"]+'">\n        '+i["organization_name"]+" Account\n      </a>\n    </li>";if(i["is_admin"]){r=r+('<li>\n  <a href="'+i["base_url"]+'/edit">\n    Manage organization\n  </a>\n</li>')}r=r+"</ul></div>";$("#total-top-header .global-tabs").append(s);$("#total-top-header .tab-content").append(r)}}if(e["email"]){$("#your_settings_n_stuff").text(e["email"])}return $("#tab-cover").fadeOut()}else{$("#total-top-header .no_user").removeClass("hidden");return $("#tab-cover").fadeOut()}},error:function(e,t,n){$("#total-top-header .no_user").removeClass("hidden");$("#tab-cover").fadeOut();return BikeIndex.alertMessage("error","User load error","We're sorry, we failed to load your user information. Try reloading maybe?")}})});</script>

- body_class = "welcome-page" if current_page?(root_path) and controller_name == "welcome"
%body#body{ class: body_class }
  = render 'layouts/messages'