.top-header#total-top-header{data: {domain: Rails.env}}
  / %span.background-extend
  .receptacle
    .inner-recep
      %a.follow-link.logo{ href: user_home_url }
        = image_tag "/assets/logo.svg", class: "standard-logo"
        = image_tag "/assets/logo_cover.svg", class: "transparent-logo"
        %span.transparent-logo-bg
        %span.transparent-logo-bg

        %span.logo-background
        %h2
          Bike Index
      %nav#header-tabs.collapse.in
        %ul.global-tabs
          %span#global-tabs-cover

          %li.expand_t.yes_user.hidden
            %a#your_settings_n_stuff{href: "#you"}
              You
          %li.super_user.hidden
            = link_to 'Superuser home', admin_root_path, class: "follow-link"
        
          %li.expand_t.no_user.hidden
            %a.expand-sign-in{href: "#signup"}
              Log in
          %li.no_user.hidden
            = link_to "Sign up", new_user_url, class: "follow-link"

        .tab-content
          #you.tab-pane.yes_user.hidden
            %ul
              %li
                = link_to 'Your bikes', user_home_url, class: "follow-link"
              %li
                %a{ title: "Your preferences", href: "/my_account"}
                  Preferences
              %li
                = link_to 'Log out', session_path, method: :delete
          
          #signup.tab-pane.login-header.no_user.hidden
            = render 'sessions/form'

      = form_tag bikes_path, method: :get, id: "head-search-bikes" do 
        - if params[:manufacturer_id].present?
          - mnfg = {id: params[:manufacturer_id], text: Manufacturer.find(params[:manufacturer_id]).name} if params[:manufacturer_id].present?
        - else
          - mnfg = ''
        - cache 'header_search' do
          - select_list = Color.all.map { |c| { id: "c_#{c.id}", text: c.name, display: c.display } }
          - select_list += Manufacturer.frames.map { |m| { id: "m_#{m.id}", text: m.name } }
          %span#header-search-select.hidden{ data: { options: select_list.to_json }}
        .search-fields#header-search{ data: { selected: mnfg.to_json } }
          %span.search-background
          - params[:query] = params[:query].gsub(/,?#,?/,'').gsub(/(\A,|,\z)/, '') if params[:query].present?
          .sfieldr
            = text_field_tag :query,                             |
              strip_tags(params[:query]),                        |
              placeholder: "Search bike traits or serials",      |
              class: "search-text-field"                         
            = button_tag(type: "submit", class: "searchit") do
              = image_tag '/assets/stolen/search.svg'
          = hidden_field_tag :serial, params[:serial]
            
          .optional-fields
            / .additional-fields
            /   = text_field_tag :serial, params[:serial], placeholder: 'Serial number lookup'
            /   / %span.absent-serial-blocker
            /   / %a#serial-absent{href: "#"}
            /   /   %span
            /   /     has
            /   /   no serial

            / .stolenness

            /   %label{ for: "stolen" }
            /     = check_box_tag :stolen, 1, params[:stolen]
            /     Only stolen
            .proximity#stolen-proximity
              = text_field_tag :proximity, params[:proximity], placeholder: 'Location to prioritize'
              %span
                area thefts first