.top-header.search-expanded#total-top-header{:data => {domain: Rails.env}}
  %span.background-extend
  .receptacle
    .inner-recep
      %a.follow-link.logo{ href: root_url(:subdomain => false) }
        = image_tag "/assets/logo.svg", class: "standard-logo"
        = image_tag "/assets/logo_cover.svg", class: "transparent-logo"
        %span.transparent-logo-bg
        %span.transparent-logo-bg

        %span.logo-background
        %h2
          Bike Index
      %nav#header-tabs.collapse.in
        %ul.global-tabs

          %li.expand_t.settings.yes_user.hidden
            %a{href: "#you"}
              = image_tag '/assets/settings.svg', id: "settingsimage"
          %li.account.yes_user.hidden
            = link_to 'Your Index', user_home_url(:subdomain => false), class: "follow-link"
          %li.super_user.hidden
            = link_to 'Superuser home', admin_root_path, class: "follow-link"
        
          %li.expand_t.no_user.hidden
            %a{href: "#signup"}
              Log in
          %li.no_user.hidden
            = link_to "Sign up", new_user_url, class: "follow-link"

        .tab-content
          #you.tab-pane.yes_user.hidden
            %ul
              %li
                %a{ title: "Your preferences", href: "/my_account"}
                  Preferences
              %li
                = link_to 'Log out', session_path(:subdomain => false), :method => :delete
          
          #signup.tab-pane.login-header.no_user.hidden
            = render 'sessions/form'



      %span.search-background
      = form_tag bikes_path, method: :get, id: "head-search-bikes" do 
        .search-fields#header-search
          = text_field_tag :query, params[:query], placeholder: "Find bikes!", class: "search-text-field"
          .optional-fields
            .manufacturers
              = collection_select :manufacturer_ids, params[:manufacturer_ids],
                @frame_makers, :id, :name,
                {include_blank: true},
                { multiple: true, :data => {placeholder: "Choose manufacturers"} }
            .bike-attributes
              = collection_select :bike_attribute_ids, params[:bike_attribute_ids],
                @attributes, :id, :name,
                {include_blank: true},
                { multiple: true, :data => {placeholder: "Choose color"} }
            .stolenness 
              %span
                include
              %a.activated{ href: "#"}
                stolen
              %a.activated{ href: "#"}
                non-stolen
              
              
            / = collection_select(:manufacturer_id, params[:query], @frame_makers, :id, :name, prompt: "Bike manufacturer", class: "manufacturers-chosen-search" )
            / = collection_select(:color_id, params[:query], Color.all, :id, :name, prompt: "Color")


          .search-button
            = submit_tag "Search", name: "search", class: "button-blue"