<% cache('header_search_awesomeness') do %>
  <%= text_field_tag :query,
    params[:query],
    placeholder: "Search for bikes",
    :data => { provide: "typeahead", items: "3", source: Manufacturer.all.map(&:name).to_json },
    class: "search-text-field"
  %>
  
  <div class="optional-fields">
    <div class="bike-attributes">
      <input name="find_bike_attributes[ids][]" type="hidden" value="" /><select data-placeholder="Enter attributes" id="find_bike_attributes_ids" multiple="multiple" name="find_bike_attributes[ids][]"><option value=""></option>
        <optgroup label="Frame colors">
          <% Color.unscoped.commonness.each do |attribute| %>
            <option value="<%= attribute.priority %>c<%= attribute.id %>"><%= attribute.name %></option>
          <% end %>
        </optgroup>
        <optgroup label="Handlebar types">
          <% HandlebarType.all.each do |attribute| %>
            <option value="h<%= attribute.id %>"><%= attribute.name %> bars</option>
          <% end %>
        </optgroup>
        <optgroup label="Frame Materials">
          <% FrameMaterial.all.each do |attribute| %>
            <option value="h<%= attribute.id %>"><%= attribute.name %> bars</option>
          <% end %>
        </optgroup>
        <optgroup label="Wheel Sizes">
          <% WheelSize.unscoped.commonness.each do |attribute| %>
            <option value="<%= attribute.priority %>w<%= attribute.id %>"><%= attribute.name %></option>
          <% end %>
        </optgroup>
        <optgroup label="Manufacturers">
          <% Manufacturer.all.each do |attribute| %>
            <option value="m_<%= attribute.slug %>"><%= attribute.name %></option>
          <% end %>
        </optgroup>
      </select>
    </div>

    <div class="stolenness">
      <label for: "stolen">
        <%= check_box_tag :stolen, params[:stolen], value: 1 %>
        stolen
      </label>
      <label for="non_stolen">
        <%= check_box_tag :non_stolen, params[:non_stolen], value: 1 %>
        non-stolen
      </label>
    </div>
  </div>
<% end %>