- kind ||= "admin"

-# Sortable
= hidden_field_tag :sort, sort_column
= hidden_field_tag :sort_direction, sort_direction
-# Period
= hidden_field_tag :render_chart, @render_chart
= hidden_field_tag :period, params[:period]
= hidden_field_tag :end_time, params[:end_time]
= hidden_field_tag :start_time, params[:start_time]

- if kind == "organized_bike_search"
  = hidden_field_tag :stolenness, @stolenness
  = hidden_field_tag :organization_id, passive_organization&.to_param
