%nav.organized-left-menu
  .organized-menu-wrapper
    %header
      - if active_organization.display_avatar
        = image_tag active_organization.avatar.url(:medium)
      %h3
        Admin panel
        %span
          = active_organization.name
        
    %ul.organized-mainmenu
      %li
        = active_link "#{active_organization.short_name} Bikes", organization_bikes_path(organization_id: active_organization.to_param), class: "menu-item"
      %li
        = active_link "Add a bike", new_organization_bike_path(active_organization), class: "menu-item"
      %li
        - if active_organization.paid_for?("show_partial_registrations")
          = active_link "Incomplete registrations", incompletes_organization_bikes_path(active_organization), class: "menu-item"
        - else
          %span.disabled-menu-item.menu-item
            Incomplete registrations
        %ul.organized-submenu
          %li
          - if active_organization.paid_for?("show_recoveries")
            %li
              = active_link "Recoveries", recoveries_organization_bikes_path(active_organization), class: "menu-item"
          - if active_organization.paid_for?("csv_exports")
            %li
              = active_link "Exports", organization_exports_path(organization_id: active_organization.to_param), match_controller: true, class: "menu-item"
      - if active_organization.paid_for?("bike_codes")
        %li
          %span.menu-item.top-level{ class: ("active" if controller_name == "stickers") }
            Stickers
          %ul.organized-submenu
            %li
              = active_link "Search", organization_stickers_path(organization_id: active_organization.to_param)
      - if active_organization.message_kinds.any?
        %li
          %span.menu-item.top-level{ class: ("active" if controller_name == "messages") }
            Messages
          %ul.organized-submenu
            - active_organization.message_kinds.each do |message_kind|
              %li
                = link_to message_kind.titleize, organization_messages_path(organization_id: active_organization.to_param, kind: message_kind), class: (params[:kind] == message_kind ? "active" : "")
      - if current_user.admin_of?(active_organization) || current_user.superuser?
        %li
          - manage_active = %w(users manage emails).include?(controller_name)
          %span.menu-item.top-level{ class: ("active" if manage_active) }
            Manage
          %ul.organized-submenu
            %li
              = active_link "Users", organization_users_path(organization_id: active_organization.to_param), match_controller: true
            %li
              = active_link "Organization", organization_manage_index_path(organization_id: active_organization.to_param)
            %li
              = active_link "Locations", locations_organization_manage_index_path(organization_id: active_organization.to_param)
            - if active_organization.show_bulk_import?
              %ul.organized-submenu
                %li
                  - bulk_link_name = active_organization.ascend_imports? ? "Ascend Imports" : "Bulk Imports"
                  = active_link bulk_link_name, organization_bulk_imports_path(organization_id: active_organization.to_param), match_controller: true

.organized-wrap
  .container
    = yield
