-# Note: This should only ever render one alert - hence the elsif
-# The alerts are in priority from highest to lowest

- if current_user.general_alerts.include?("stolen_bikes_without_locations")
  - without_location_bikes = current_user.rough_stolen_bikes.select { |bike| bike.current_stolen_record&.without_location? }
  - if without_location_bikes.present?

    - modal_body = capture_haml do
      .modal-body
        %p
          = t(".location_critical_html", bike_type: without_location_bikes.first.type)
        - without_location_bikes.each do |bike|
          %p
            = link_to t(".add_location_theft_bike_title_html", bike_title: bike.title_string), edit_bike_path(bike.to_param, page: "theft_details", anchor: "where-theft-happened")
        %p
          %em.less-strong
            = t(".without_location_all_is_lost", bike_type: without_location_bikes.first.type)

    = render partial: "shared/modal", locals: { title: t(".stolen_missing_location_title"), modal_body: modal_body, id: "stolenMissingLocationModal", start_open: true }

- if current_user.general_alerts.include?("theft_alert_without_photo")
  - missing_photo_bikes = current_user.rough_stolen_bikes.select { |bike| bike.current_stolen_record&.theft_alert_missing_photo? }
  - if missing_photo_bikes.present?

    - modal_body = capture_haml do
      .modal-body
        %p
          = t(".photo_critical_html", bike_type: missing_photo_bikes.first.type)
        - missing_photo_bikes.each do |bike|
          %p
            = link_to t(".add_photo_theft_bike_title_html", bike_title: bike.title_string), edit_bike_path(bike.to_param, page: "photos")
        %p
          %em.less-strong
            = t(".without_photo_all_is_lost", bike_type: missing_photo_bikes.first.type)

    = render partial: "shared/modal", locals: { title: t(".missing_stolen_photo_title"), modal_body: modal_body, id: "stolenMissingLocationModal", start_open: true }
