.form.form-horizontal#chosen-container
  = form_for [:admin, @bike_token_invitation] do |t|
    - if @bike_token_invitation.errors.any?
      #alert-block
        .alert.alert-error
          %h4
            Please fix the following 
            = pluralize(@bike_token_invitation.errors.count, "error")
          %ul
            - @bike_token_invitation.errors.full_messages.each do |msg|
              %li
                = msg
    %h3
      Send free bike invitation
    
    .control-group.chosen-select.padded
      %label.control-label
        Who's sending the bike?
      .controls
        - if @organization.present?
          = collection_select( :bike_token_invitation, :organization_id, @organizations, :id, :name, :required =>true, prompt: "Choose an organization", value: @organization.id)
        - else
          = collection_select( :bike_token_invitation, :organization_id, @organizations, :id, :name, :required =>true, prompt: "Choose an organization")
          
    .control-group
      = t.label :invitee_email, "Email you're inviting", class: "control-label"
      .controls
        = t.email_field :invitee_email, required: true

    .control-group
      = t.label :invitee_name, "Name", class: "control-label"
      .controls
        = t.text_field :invitee_name

    .control-group
      = t.label :bike_token_count, "How many bikes?", class: "control-label"
      .controls
        = t.number_field :bike_token_count, required: true

    .control-group
      = t.label :subject, "Email subject", class: "control-label"
      .controls
        = t.text_field :subject, required: true

    .control-group.invitation-message
      = t.label :message, "Email body", class: "control-label"
      .controls
        = t.text_area :message, required: true, rows: 10

        

    .control-group.actions.padded
      = t.submit 'Send invitation', class: 'button-green'