%header.with-subtitle
  %h1 Manage Free Bike Tickets
  = link_to 'Send a ticket', new_admin_bike_token_invitation_url, class: "button-green sharing-links"

%h3.invitations-sent
  #{ pluralize(BikeTokenInvitation.where(redeemed: true).count, "invitation") } have been redeemed

%section.full-screen-table
  %table.table.table-striped
    %thead
      %th
        Id&nbsp;
      %th
        Bikes sent
      %th.large-screens
        Date sent
      %th.medium-screens
        Name
      %th
        Email
      %th.medium-screens
        Organization
      %th
        %span.medium-screens
          Redeemed
    %tbody
      - @bike_token_invitations.each do |bike_token_invite|
        %tr
          %td
            = link_to bike_token_invite.id, edit_admin_bike_token_invitation_url(bike_token_invite.id)
          %th
            = bike_token_invite.bike_token_count
          %td.large-screens
            = bike_token_invite.created_at.strftime("%-I %p on %-m/%-d/%Y ")
          %td.medium-screens
            - if bike_token_invite.invitee_name
              = bike_token_invite.invitee_name
          %td
            = bike_token_invite.invitee_email
          %td.medium-screens
            = link_to bike_token_invite.organization.name, admin_organization_url(bike_token_invite.organization.name)
          %td.table-cell-check
            = "&#x2713;".html_safe if bike_token_invite.redeemed