- graduated_notifications ||= @graduated_notifications
- skip_bike ||= false
- render_sortable ||= false
- render_remaining_at ||= false
- skip_status ||= false
- skip_email ||= false

- # TODO: add translations

%table.table.table-striped.table-bordered.table-sm.without-exterior-border.list-table#recordsTable
  %thead.small-header.hidden-md-down
    %th
      - if render_sortable
        = sortable "created_at"
      - else
        Created
    %th
      - if render_sortable
        = sortable "processed_at"
      - else
        Processed
    - unless skip_bike
      %th Bike
    - unless skip_status
      %th
        Status
    - unless skip_email
      %th
        - if render_sortable
          = sortable "email"
        - else
          email
    - if render_remaining_at
      %th
        - if render_sortable
          = sortable "marked_remaining_at"
        - else
          Marked remaining
  %tbody
    - graduated_notifications.each do |graduated_notification|
      %tr
        %td
          -# NOTE: we permit viewing the non-primary notifications, but only link to the primary ones here
          - notification_link = graduated_notification.primary_notification_id.present? ? graduated_notification.primary_notification_id : graduated_notification.id
          %a.convertTime.preciseTime{ href: organization_graduated_notification_path(notification_link.to_param, organization_id: graduated_notification.organization_id) }
            = l(graduated_notification.created_at, format: :convert_time)
        %td
          - if graduated_notification.processed_at.present?
            %span.convertTime
              = l(graduated_notification.processed_at, format: :convert_time)
          - else
            %small.less-strong
              @
              %span.convertTime
                = l(graduated_notification.pending_period_ends_at, format: :convert_time)
        - unless skip_bike
          %td
            - if graduated_notification.bike.present?
              = link_to organized_bike_text(graduated_notification.bike), bike_path(graduated_notification.bike, organization_id: current_organization.id)
        - unless skip_status
          %td
            %em
              = status_display(graduated_notification.status.humanize)
        - unless skip_email
          %td
            = graduated_notification.email
        - if render_remaining_at
          %td
            - if graduated_notification.marked_remaining_at.present?
              %span.convertTime.preciseTime
                = l(graduated_notification.marked_remaining_at, format: :convert_time)
