<% current_organization = @current_organization %>

<%#
  Per-row update kinds the org--impound-update-multi Stimulus controller reads
  off the checkbox; a lambda so the UI::Table cell block (instance_exec'd) can
  still reach it
%>
<% update_kinds = ->(impound_record) { impound_record.update_multi_kinds.join(" ") } %>

<%= render(UI::Table::Component.new(records: @impound_records, render_sortable: @render_sortable)) do |table| %>
  <% table.column(sortable: "display_id_integer", label: "ID") do |impound_record| %>
    <%= impound_record.display_id %>
  <% end %>

  <% table.column(sortable: "created_at") do |impound_record| %>
    <%= link_to organization_impound_record_path(impound_record.display_id, organization_id: impound_record.organization_id), class: "localizeTime preciseTime" do %>
      <%= l(impound_record.created_at, format: :convert_time) %>
    <% end %>
  <% end %>

  <% table.column(sortable: "updated_at") do |impound_record| %>
    <span class="localizeTime preciseTime">
      <%= l(impound_record.updated_at, format: :convert_time) %>
    </span>
  <% end %>

  <% unless @skip_location %>
    <% table.column(sortable: "location_id") do |impound_record| %>
      <small><%= impound_record.location&.name %></small>
    <% end %>
  <% end %>

  <% unless @skip_bike %>
    <% table.column(label: "Bike") do |impound_record| %>
      <% if impound_record.bike.present? %>
        <%= link_to helpers.organized_bike_text(impound_record.bike), bike_path(impound_record.bike, organization_id: current_organization.id) %>
        <% unless impound_record.bike.no_serial? %>
          <small>
            <%= helpers.render_serial_display(impound_record.bike, helpers.current_user) %>
          </small>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% unless @skip_status %>
    <% table.column(label: "Status") do |impound_record| %>
      <em>
        <%= helpers.status_display(impound_record.status_humanized_short) %>
      </em>
    <% end %>
  <% end %>

  <% table.column(sortable: "user_id", label: "last updator") do |impound_record| %>
    <%= impound_record.user&.display_name&.truncate(20) %>
  <% end %>

  <% if @render_resolved_at %>
    <% table.column(sortable: "resolved_at") do |impound_record| %>
      <% if impound_record.resolved_at.present? %>
        <span class="localizeTime preciseTime">
          <%= l(impound_record.resolved_at, format: :convert_time) %>
        </span>
      <% end %>
    <% end %>
  <% end %>

  <% table.column(label: "Impounded from") do |impound_record| %>
    <small>
      <%= render(UI::AddressDisplay::Component.new(address_record: impound_record.impounded_from_address_record, visible_attribute: :street, kind: :single_line)) %>
    </small>
  <% end %>

  <% unless @skip_multiselect %>
    <% select_all = link_to(check_mark, "#", data: {action: "click->table-multi-checkbox#toggleAll"}) %>
    <% table.column(label: select_all, classes: multiselect_cell_classes) do |impound_record| %>
      <%= check_box_tag "ids[#{impound_record.id}]", impound_record.id, false, data: {"table-multi-checkbox-target" => "checkbox", "update-kinds" => update_kinds.call(impound_record)} %>
    <% end %>
  <% end %>
<% end %>
