<div class="container">
  <% if current_user.present? %>
    <div class="row choose-registration-items">
      <div class="choose-links col-sm-6">
        <ul>
          <% if current_user.organization_roles.any? %>
            <% current_user.organization_roles.each do |organization_role| %>
              <li>
                <a
                  class="organization-choice choose-type"
                  data-target="<%= new_bike_url(organization_id: organization_role.organization.id) %>"
                >
                  <span class="add-selected"> &#10004 </span>
                  <%= t(".add_a_bike_through") %>
                  <em><%= organization_role.organization.name %></em>
                </a>
              </li>
            <% end %>
          <% end %>

          <li>
            <a
              class="purchase-choice choose-type"
              data-target="<%= new_bike_url %>"
            >
              <span class="add-selected"> &#10004 </span>
              <%= t(".add_your_own_bike") %>
            </a>
          </li>

          <li>
            <a
              class="choose-type"
              data-target="<%= new_bike_url(status: "stolen") %>"
            >
              <span class="add-selected"> &#10004 </span>
              <%= t(".add_a_stolen_bike") %>
            </a>
          </li>

          <li>
            <a
              class="choose-type"
              data-target="<%= new_bike_url(status: "impounded") %>"
            >
              <span class="add-selected"> &#10004 </span>
              <%= t(".add_abandoned_bike_you_found") %>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 add-bike-column">
        <a
          id="add-bike"
          class="btn btn-success btn-lg"
          href="<%= new_bike_url %>"
        >
          <%= t(".register_bike") %>
        </a>
      </div>
    </div>
  <% end %>
</div>
