.container
  - if current_user.present?
    .row.choose-registration-items
      .choose-links.col-sm-6
        %ul
          - if current_user.memberships.any?
            - current_user.memberships.each do |membership|
              %li
                %a.organization-choice.choose-type{data: {target: new_bike_url(creation_organization_id: membership.organization.id)}}
                  %span.add-selected
                    &#10004
                  = t(".add_a_bike_through")
                  %em
                    = membership.organization.name
          %li
            %a.purchase-choice.choose-type{data: {target: new_bike_url}}
              %span.add-selected
                &#10004
              = t(".add_your_own_bike")

          %li
            %a.choose-type{data: {target: new_bike_url(stolen: true)}}
              %span.add-selected
                &#10004
              = t(".add_a_stolen_bike")
          %li
            %a.choose-type{data: {target: new_bike_url(recovered: true)}}
              %span.add-selected
                &#10004
              = t(".add_a_stolenfound_bike")
      .col-sm-6.add-bike-column
        %a#add-bike.btn.btn-success.btn-lg{href: new_bike_url}
          = t(".register_bike")
