#home-title
  %h1
    Do right by your bike
  %h3
    The Bike Index works with you and bike shops to register and protect your bicycle

#treating-right
  .treating-right-image
    / = image_tag "/assets/home/breakfast_in_bed.svg", alt: "Show your bike some love", title: "Show your bike some love"
    = image_tag "/assets/home/binb/bed.svg", alt: "Show your bike some love", title: "Show your bike some love"
    = image_tag "/assets/home/binb/wheel2.png", alt: "Show your bike some love", title: "Show your bike some love", class: "wheel-layer", id: "wheel-spin"
    = image_tag "/assets/home/binb/fork.png", alt: "Show your bike some love", title: "Show your bike some love", class: "fork-layer"
  .receptacle.overfloating
    .inner-recep
      .treating-right-text
        = link_to "Add your bike", choose_registration_path, class: "button-green"
        %h2
          Show your trusty steed some love
    .home-sharing
      = render "/shared/home_share"    

#kickstarter
  .receptacle.overfloating
    .inner-recep
      %h2
        = link_to "Check out our Kickstarter!", "http://kck.st/181KohZ"
      .kickstarter-iframe
        :plain
          <iframe frameborder="0" height="380" src="http://www.kickstarter.com/projects/1073266317/the-bike-index-lets-stop-bike-theft-together/widget/card.html" width="220"></iframe>

#our-database
  .receptacle
    .inner-recep
      %article
        %h3
          Convenient bike registration
        %ul.fancy-bullets
          %li
            %span.blue-bullet
            %p
              Show off your sweet ride.
          %li
            %span.blue-bullet
            %p
              Report stolen bicycles.
          %li
            %span.blue-bullet
            %p
              Contact the owner of a stolen bike if you find one.
          %li
            %span.blue-bullet
            %p
              Verify any bike you buy or sell.
      .sample-list
        = link_to (image_tag "/assets/home/bikes_list1.jpg", alt: "Sample Bike Index return"), "https://www.bikeindex.org/bikes/71", class: "top-image"
        = link_to (image_tag "/assets/home/bikes_list2.jpg", alt: "Sample Bike Index return"), "https://www.bikeindex.org/bikes/2", class: "middle-image"
        = link_to (image_tag "/assets/home/bikes_list3.jpg", alt: "Sample Bike Index return"), "https://www.bikeindex.org/bikes/12"



#fight-theft-profit
  .receptacle.overfloating
    .inner-recep
      .fight-theft-image
        = image_tag "/assets/home/hacksaw-man-with-bike.png", alt: "Fight bike theft", title: "A bike, maybe just like yours."
      .theft-profit-block
        %h3
          Add your bike, fight bike theft
        %p
          Bikes are stolen because they can be sold quickly and easily.
        %p
          Add your bike to the Index to make it easier to recover if it's ever stolen.

#best-ever
  .receptacle.overfloating
    .inner-recep
      %article
        .icographix
          = image_tag "/assets/home/community_retina.png", alt: "Community", title: "We love the bike community"
        %h3
          Community partnerships
        %p
          We connect with local bike shops and advocacy organizations to offer you free bikes registration.

      %article
        .icographix
          = image_tag "/assets/home/find_retina.png", alt: "Searching", title: "Find it, everywhere."
        %h3
          Powerful search
        %p
          Full text search of all registered bikes, accessible at the top of every page.

      %article
        .icographix
          = image_tag "/assets/home/convenient_retina.png", alt: "Convenience", title: "So convenient it's like ice cream"
        %h3
          Convenient registration
        %p
          Register in seconds: only 5 pieces of information are required to positively identify your bike.

      %article
        .icographix
          = image_tag "/assets/home/mobile_retina.png", alt: "Mobility", title: "Mobile accessible for your adventure planning"
        %h3
          Mobile friendly
        %p
          Designed from the ground up with mobile devices in mind. Access the Index when and how you please.

      %article
        .icographix
          = image_tag "/assets/home/code_retina.png", alt: "Open source", title: "Open source, because we love you"
        %h3
          Open source
        %p
          We built the service we wanted to use to save our bikes. We're open source to create the best service for everyone.

      %article
        .icographix
          = image_tag "/assets/home/verification_retina.png", alt: "Verification", title: "Verify everything"
        %h3
          Used bike verification
        %p
          Use the Bike Index to verify any bike you buy or sell. You can transfer bike registrations for free.



            


.faq-block
  .receptacle.overfloating
    .inner-recep.faq-holder
      = render "/shared/faq"     