%main.root-landing-page
  %header.jumbotron.root-landing-banner-header.bg-image-bike-hero
    .container
      .root-landing-header-text
        %h2= t(".value_of_bikes_recovered", value: as_currency(Counts.recoveries_value))
        %h1.upcase= t(".hero")
        %h2
          = link_to new_bike_path do
            = t(".register_now")
            %span.chevron &raquo;

  = render partial: "/landing_pages/for_organizations_photo_list"

  - cache "root_body_wrap", skip_digest: true do # Expired in recovery_displays_controller
    .root-landing-recovery-stories
      .container
        #recovery-stories-container.extras-hidden
          = render @recovery_displays
          .recovery-block.recovery-see-more
            = link_to t(".read_more_recovery_stories"),
              recovery_stories_path,
              class: "see-more-link"

    .root-landing-how-it-works
      .container
        %h3.landing-container-label= t(".but_how_does_it_work")
        .row
          .col-md-2.root-landing-how-icon
            = render "/landing_pages/icons/how_icon_register_svg"
            = image_tag "landing_pages/dashed_line.svg", class: "root-icon-connector"
          .col-md-7.root-landing-explanation
            .root-landing-explanation-wrap
              %h4= t(".register_your_bike")
              %p= t(".how_it_works")
        .row
          .col-md-2.root-landing-how-icon
            = render '/landing_pages/icons/how_icon_alert_svg'
            = image_tag 'landing_pages/dashed_line.svg', class: 'root-icon-connector'
          .col-md-7.root-landing-explanation
            .root-landing-explanation-wrap
              %h4= t(".alert_the_community")
              %p= t(".if_your_bike_goes_missing")
        .row
          .col-md-2.root-landing-how-icon
            = render '/landing_pages/icons/how_icon_responds_svg'
            = image_tag "landing_pages/dashed_line.svg", class: "root-icon-connector"
          .col-md-7.root-landing-explanation
            .root-landing-explanation-wrap
              %h4= t(".the_community_responds")
              %p= t(".identifying_your_bike")
        .row
          .col-md-2.root-landing-how-icon
            = render "/landing_pages/icons/how_icon_recover_svg"
          .col-md-7.root-landing-explanation
            .root-landing-explanation-wrap
              %h4= t(".you_get_your_bike_back")
              %p= t(".recover_your_bike_for_free")

      %a.btn.btn-lg.btn-success.root-action-btn{ href: new_bike_path }
        = t(".register_now")

  .root-landing-who
    .container
      %h3.landing-container-label= t(".used_by")

      .root-landing-who-wrap
        .root-landing-who-square
          = image_tag "landing_pages/partners/UMD.png", alt: "University of Maryland"
        .root-landing-who-rectangle
          = image_tag "landing_pages/partners/Bike-East-Bay.png", alt: "Bike East Bay"
        .root-landing-who-square
          = image_tag "landing_pages/partners/University-of-Washington.png", alt: "University of Washington"
        .root-landing-who-square
          = image_tag "landing_pages/partners/Bike-Pittsburgh.png", alt: "Bike Pittsburgh"
        .root-landing-who-square
          = image_tag "landing_pages/partners/SFPD.png", alt: "San Francisco Police Department"
        .root-landing-who-square
          = image_tag "landing_pages/partners/Wisconsin-Bike-Fed.png", alt: "Wisconsin Bike Federation"
        .root-landing-who-rectangle
          = image_tag "landing_pages/partners/Bike-Theft-Task-Force-Portland.png", alt: "Portland Bike Theft taskforce"
        .root-landing-who-square
          = link_to image_tag("landing_pages/partners/Pinhead.png", alt: "Pinhead locks"), "https://pinheadlocks.com/"

        .root-landing-who-square
          = image_tag "landing_pages/partners/St-Louis-PD.png", alt: "St. Louis PD"
        .root-landing-who-rectangle
          = image_tag "landing_pages/partners/Seattle-Bike-Blog.png", alt: "Seattle Bike Blog"
        .root-landing-who-square
          = image_tag "landing_pages/partners/Sunnyvale.png", alt: "Sunnyvale"
        .root-landing-who-square
          = image_tag "landing_pages/partners/Stolen-Bikes-NOLA.png", alt: "Stolen Bikes NOLA"
        .root-landing-who-square
          = image_tag "landing_pages/partners/City-of-Bend.png", alt: "City of Bend"
        .root-landing-who-rectangle
          = image_tag "landing_pages/partners/Mission-Bicycle-Company.png", alt: "Mission Bicycle Company"
        .root-landing-who-square
          = image_tag "landing_pages/partners/Santa-Monica-PD.png", alt: "Santa Monica Police Department"
        .root-landing-who-square
          = link_to image_tag("landing_pages/partners/Bike-Portland.png", alt: "Bike Portland"), "https://bikeeastbay.org/Register"

  .root-by-the-numbers
    .container-fluid
      %h3.landing-container-label= t(".bike_index_statistics")
      .row
        .col-md-10.charted
          :ruby
            scale_color = "rgb(172, 172, 172)"
            chartkick_library_props = {
              animation: { duration: 5000, easing: "easeOutQuart" },
              scales: {
                yAxes: [{
                  gridLines: { color: "rgba(172, 172, 172, 0)" },
                  ticks: { fontColor: scale_color }
                }],
                xAxes: [{
                  weight: 5,
                  borderColor: "rgba(0,0,0,0)",
                  gridLines: { color: "rgba(172, 172, 172, 0)" },
                  ticks: { fontColor: scale_color }
                }]
              }
            }

          = column_chart Counts.week_creation_chart, thousands: ",", defer: true, library: chartkick_library_props
          %h4.chart-label
            = t(".bikes_registered_this_week")
        .col-md-2
          .count-block
            %h4
              = t(".total_bikes_registered")
              %span.count-display
                = number_with_delimiter(Counts.total_bikes)
          .count-block
            %h4
              = t(".stolen_bikes_registered")
              %span.count-display
                = number_with_delimiter(Counts.stolen_bikes)
          .count-block
            %h4
              = t(".stolen_bikes_recovered")
              %span.count-display
                = number_with_delimiter(Counts.recoveries)
          .count-block
            %h4
              = t(".total_recovery_value")
              %span.count-display
                $#{number_with_delimiter(Counts.recoveries_value)}
          .count-block
            %h4
              = t(".partner_organizations")
              %span.count-display
                = number_with_delimiter(Counts.organizations)
