.container.home-header
  %h1
    Bike Registration
    %span
      that Works
  %h2
    #{Bike.count} bikes registered. #{StolenRecord.recovered.count} bikes recovered
.wheeled
  .register-container
    = link_to "Register for free!", choose_registration_path, class: "btn"
  .wheel-holder
    = image_tag "/assets/updated/home/wheel.png", id: 'wheeled_wheel'

.home-body-container
  .container
    .testimonial-user
      = image_tag "/assets/updated/home/recovery_testimonial_1.png"
      %h3
        Erin Vogel
      %h4
        Bike recovery 9-2014

    .testimonial-quote
      %p
        %span
          \"
        I got my bike back less than one month after it was stolen! I was contacted by a bike shop, someone brought it to them for work and they ran the serial number and found it on the Bike Index.
        %span
          \"

.home-blank-container
