%main.root-landing-page
  %header.jumbotron.root-landing-banner-header.bg-image-bike-hero
    .container
      .root-landing-header-text
        %h2
          Over $#{number_with_delimiter(Counts.recoveries_value)} Worth of Bikes Recovered
        %h1.upcase= t(".hero")
        %h2
          = link_to new_bike_path do
            Register Now
            %span.chevron &raquo;

  = render partial: "/landing_pages/for_organizations_photo_list"

  - cache "root_body_wrap", skip_digest: true do # Expired in recovery_displays_controller
    .root-landing-recovery-stories
      .container
        #recovery-stories-container.extras-hidden
          = render @recovery_displays
          .recovery-block.recovery-see-more
            %a.see-more-link{href: recovery_stories_path}
              Read more recovery stories

    .root-landing-how-it-works
      .container
        %h3.landing-container-label But How Does it work?
        .row
          .col-md-2.root-landing-how-icon
            = render '/landing_pages/icons/how_icon_register_svg'
            = image_tag 'landing_pages/dashed_line.svg', class: 'root-icon-connector'
          .col-md-7.root-landing-explanation
            .root-landing-explanation-wrap
              %h4 Register Your Bike
              %p
                It’s simple. Submit your name, bike manufacturer, serial number, and component information to enter your bike into the most widely used bike registry on the planet.
        .row
          .col-md-2.root-landing-how-icon
            = render '/landing_pages/icons/how_icon_alert_svg'
            = image_tag 'landing_pages/dashed_line.svg', class: 'root-icon-connector'
          .col-md-7.root-landing-explanation
            .root-landing-explanation-wrap
              %h4 Alert the Community
              %p
                If your bike goes missing, mark it as lost or stolen to notify the entire Bike Index community and its partners.
        .row
          .col-md-2.root-landing-how-icon
            = render '/landing_pages/icons/how_icon_responds_svg'
            = image_tag 'landing_pages/dashed_line.svg', class: 'root-icon-connector'
          .col-md-7.root-landing-explanation
            .root-landing-explanation-wrap
              %h4 The community responds
              %p
                A user or partner encounters your bike, uses Bike Index to identify it, and contacts you.
        .row
          .col-md-2.root-landing-how-icon
            = render '/landing_pages/icons/how_icon_recover_svg'
          .col-md-7.root-landing-explanation
            .root-landing-explanation-wrap
              %h4 You Get your Bike Back
              %p
                With the help of the Bike Index community and its partners, you have the information necessary to recover your lost or stolen bike at no cost to you. It’s what we do.

      %a.btn.btn-lg.btn-success.root-action-btn{ href: new_bike_path }
        Register now!

  .root-landing-who
    .container
      %h3.landing-container-label Used By

      .root-landing-who-wrap
        .root-landing-who-square
          = image_tag "landing_pages/partners/UMD.png", alt: "University of Maryland"
        .root-landing-who-rectangle
          = image_tag "landing_pages/partners/Bike-East-Bay.png", alt: "Bike East Bay"
        .root-landing-who-square
          = image_tag "landing_pages/partners/University-of-Washington.png", alt: "University of Washington"
        .root-landing-who-square
          = image_tag "landing_pages/partners/Bike-Pittsburgh.png", alt: "Bike Pittsburgh"
        .root-landing-who-square
          = image_tag "landing_pages/partners/SFPD.png", alt: "San Francisco Police Department"
        .root-landing-who-square
          = image_tag "landing_pages/partners/Wisconsin-Bike-Fed.png", alt: "Wisconsin Bike Federation"
        .root-landing-who-rectangle
          = image_tag "landing_pages/partners/Bike-Theft-Task-Force-Portland.png", alt: "Portland Bike Theft taskforce"
        .root-landing-who-square
          = link_to image_tag("landing_pages/partners/Pinhead.png", alt: "Pinhead locks"), "https://pinheadlocks.com/"

        .root-landing-who-square
          = image_tag "landing_pages/partners/St-Louis-PD.png", alt: "St. Louis PD"
        .root-landing-who-rectangle
          = image_tag "landing_pages/partners/Seattle-Bike-Blog.png", alt: "Seattle Bike Blog"
        .root-landing-who-square
          = image_tag "landing_pages/partners/Sunnyvale.png", alt: "Sunnyvale"
        .root-landing-who-square
          = image_tag "landing_pages/partners/Stolen-Bikes-NOLA.png", alt: "Stolen Bikes NOLA"
        .root-landing-who-square
          = image_tag "landing_pages/partners/City-of-Bend.png", alt: "City of Bend"
        .root-landing-who-rectangle
          = image_tag "landing_pages/partners/Mission-Bicycle-Company.png", alt: "Mission Bicycle Company"
        .root-landing-who-square
          = image_tag "landing_pages/partners/Santa-Monica-PD.png", alt: "Santa Monica Police Department"
        .root-landing-who-square
          = link_to image_tag("landing_pages/partners/Bike-Portland.png", alt: "Bike Portland"), "https://bikeeastbay.org/Register"

  .root-by-the-numbers
    .container-fluid
      %h3.landing-container-label Bike Index statistics
      .row
        .col-md-10.charted
          :ruby
            scale_color = "rgb(172, 172, 172)"
            chartkick_library_props = {
              animation: { duration: 5000, easing: "easeOutQuart" },
              scales: {
                yAxes: [{
                  gridLines: { color: "rgba(172, 172, 172, 0)" },
                  ticks: { fontColor: scale_color }
                }],
                xAxes: [{
                  weight: 5,
                  borderColor: "rgba(0,0,0,0)",
                  gridLines: { color: "rgba(172, 172, 172, 0)" },
                  ticks: { fontColor: scale_color }
                }]
              }
            }

          = column_chart Counts.week_creation_chart, thousands: ",", defer: true, library: chartkick_library_props
          %h4.chart-label
            Bikes registered this week
        .col-md-2
          .count-block
            %h4
              Total Bikes Registered
              %span.count-display
                = number_with_delimiter(Counts.total_bikes)
          .count-block
            %h4
              Stolen Bikes Registered
              %span.count-display
                = number_with_delimiter(Counts.stolen_bikes)
          .count-block
            %h4
              Stolen Bikes Recovered
              %span.count-display
                = number_with_delimiter(Counts.recoveries)
          .count-block
            %h4
              Total Recovery value
              %span.count-display
                $#{number_with_delimiter(Counts.recoveries_value)}
          .count-block
            %h4
              Partner Organizations
              %span.count-display
                = number_with_delimiter(Counts.organizations)
