.container.home-header
  %h1
    Bike Registration
    %span
      that Works
  %h3
    = number_with_delimiter(Bike.count)
    bikes registered. Over
    = number_with_delimiter(StolenRecord.recovered.where("date_recovered < ?", Time.zone.now.beginning_of_day).count)
    stolen bikes recovered.
- cache 'index_home' do 
  .wheeled
    .register-container
      = link_to "Register a bike", choose_registration_path, class: "btn"
    .wheel-holder
      = image_tag "/assets/updated/home/wheel_white.png", id: 'wheeled_wheel'

  .home-subhead
    .container
      %h2
        Help us fight bicycle theft &mdash; one registration at a time.
      
      %h3
        The Bike Index makes stolen bikes harder to sell and easier to recover by making sure important information about your bike is there when you need it the most.
      %h3
        The process is simple, secure, and free. 
        %a.scroll-to-ref{ href: "#how_it_works" }
          Learn more
        or
        = link_to "register your bike now!", choose_registration_path
  .info-blocks
    .container
      %article
        = image_tag "/assets/updated/info_blocks/online.svg"
        %h2
          Simple
        %p
          We keep all the important information about your bike in one place so it's there when you need it the most. 

      %article
        = image_tag "/assets/updated/info_blocks/secured.svg"
        %h2
          Secure
        %p
          We help used bike sellers and buyers by providing an easy way to verify that a bicycle isn’t stolen.

      %article
        = image_tag "/assets/updated/info_blocks/free.svg"
        %h2
          Free
        %p
          Bike Index is a free service for bike shops and individuals.

  .home-testimonial.testimonial-2
    .container
      .testimonial-user
        = image_tag "/assets/updated/home/recovery_testimonial_2.png"
        %h3
          Eva Linh
        %h4
          Bike
          %span
            recovered 9.2014

      .testimonial-quote
        %p
          A good samaritan found my bike abandoned by a tree, ran my bike's serial number on the Bike Index, found my contact info and returned it to me. It was stolen a little over a month ago and I still can't believe I got it back!

  .how-it-works#how_it_works
    .container
      %h2
        How it works
      %p
        It's simple: we offer an easy and efficient way to store and update important identifying information about your bike. We're an online storehouse for serial numbers, frame colors, components, and any other piece of identifying information you can think of.
      %p
        In the unfortunate event that your bike is stolen, you can harness the power of our network to help get it back. Registering with Bike Index ensures that law enforcement, bike shops, individuals, and everyone in between will have the information they need to help reunite you with your bike. 
      %p
        Bike Index is the most widely used open bicycle registration site in the world. We strive to be the best online resource in the fight against bicycle theft.

    
  .home-testimonial
    .container
      .testimonial-user
        = image_tag "/assets/updated/home/recovery_testimonial_1.png"
        %h3
          Bob Spaziano
        %h4
          Jamis Citizen
          %span
            recovered 9.2014

      .testimonial-quote
        %p
          I recovered my bike thanks to the Bike Index and the Raleigh Police! The police located it and used the Bike Index to identify it and return it to me.
  .bike-background
    .supporters
      .container
        %h2
          Recommended &amp; supported by:
        %ul.horizontal-list
          %li
            %a{href: "http://www.peopleforbikes.org/", target: "_blank"}
              = image_tag "/assets/supporters/people_for_bikes.png", alt: "People for bikes logo", title: "People for bikes"
          %li
            %a{href: "http://trailnet.org/", target: "_blank"}
              = image_tag "/assets/supporters/trailnet.png", alt: "Trailnet logo", title: "Trailnet"
          %li
            %a{href: "http://bikepgh.org/", target: "_blank"}
              = image_tag "/assets/supporters/bike_pgh.png", alt: "Bike Pittsburgh logo", title: "Bike Pittsburgh"
          %li
            %a{href: "https://www.BikeEastBay.org/", target: "_blank"}
              = image_tag "/assets/supporters/bike_east_bay.png", alt: "Bike East Bay logo", title: "Bike East Bay"
          %li
            %a{href: "http://indycog.org/", target: "_blank"}
              = image_tag "/assets/supporters/indycog.png", alt: "INDYCOG logo", title: "INDYCOG"
          %li
            %a{href: "http://www.activetrans.org/", target: "_blank"}
              = image_tag "/assets/supporters/active_trans1.png", alt: "Active Transportation Alliance logo", title: "Active Transportation Alliance"
          / %li
          /   %a{href: "https://stlouis-mo.gov/", target: "_blank"}
          /     = image_tag "/assets/supporters/st_louis.png", alt: "City of Saint Louis"
      
      %p.and-many-more
        \... and many more. #{link_to "View the complete list here", where_path}
