- cache 'root_head_wrap', skip_digest: true do # Expired in recovery_displays_controller
  - @recovery_displays = RecoveryDisplay.limit(10)
  .container.home-header#home_headies
    %h1
      %a.home_header_link{href: choose_registration_path }
      Bike Registration
      %span
        that Works
    .testimonial-container
      %h2.visuallyhidden
        Testimonials:
      - @recovery_displays.each_with_index do |recovery, i|
        - cache(recovery) do
          .testimonial-block{class: "testimonial-#{recovery.id}"}
            %p.testimonial-quote
              %span.ptestimonial
                = recovery.quote.html_safe
            %span.testimonial-user
              - if recovery.image.present?
                %img{ data: { lazy: recovery.image_url(:medium) }}
              - else
                %span.no-image-spacer
              - if recovery.quote_by
                %span.h3testimonial
                  = recovery.quote_by
              %span.h4testimonial
                - txt = recovery.bike.present? ? recovery.bike.type.titleize : 'Bike'
                - txt += " <span class='recover-date'>recovered #{l recovery.date_recovered, format: :dotted}</span>"
                - if recovery.link.present?
                  %a.recover-date{href: recovery.link}
                    = txt.html_safe
                - else
                  = txt.html_safe
                
    .wheeled
      %span.register-container
        = link_to "Register a bike", choose_registration_path, class: "btn binxbtn binxbtn-lg"
      %span.wheel-holder
        = image_tag "updated/home/wheel_white.png", alt: "(spinning wheel graphic)", id: 'wheeled_wheel', role: 'presentation', :"aria-hidden" => "true"
- cache('root_bike_count', expires_in: 5.minutes) do
  .home-subhead
    .container
      %h2
        Help us fight bicycle theft&mdash;register your bike.
      
      %h3
        The Bike Index makes stolen bikes harder to sell and easier to recover by making sure important information about your bike is there when you need it the most.
      %h3
        The process is simple, secure, and free. 
        %a.scroll-to-ref{ href: "#how_it_works" }
          Learn more
        or #{link_to "register your bike now", choose_registration_path}.
      %h3
        So far we've <strong>registered #{number_with_delimiter(Bike.count)} bikes</strong> and <strong>recovered #{number_with_delimiter(StolenRecord.recovered.where("date_recovered < ?", Time.zone.now.beginning_of_day).count)}</strong> stolen bikes.
- cache 'root_home_1' do
  .info-blocks
    .container
      %article
        = image_tag "updated/info_blocks/online.svg"
        %h2
          Simple
        %p
          We keep all the important information about your bike in one place so it's there when you need it the most. 

      %article
        = image_tag "updated/info_blocks/secured.svg"
        %h2
          Secure
        %p
          We help used bike sellers and buyers by providing an easy way to verify that a bicycle isn’t stolen.

      %article
        = image_tag "updated/info_blocks/free.svg"
        %h2
          Free
        %p
          Bike Index is a free service for bike shops and individuals.

  .how-it-works#how_it_works
    .container
      %h2
        How it works
      %p
        It's simple: we offer an easy and efficient way to store and update important identifying information about your bike.
      %p
        In the unfortunate event that your bike is stolen, you can harness the power of our network to help get it back. Registering with Bike Index ensures that law enforcement, bike shops, individuals, and everyone in between has the information they need to help reunite you with your bike.
      %p
        Bike Index is the most widely used bicycle registration service in the world. We strive to be the best resource in the fight against bicycle theft.

      %p
        / Have any questions? Join the discussion #{link_to 'here', 'https://discuss.bikeindex.org'}.

    
  .bike-background
    .supporters
      .container
        %h2
          Used by:
        %ul.horizontal-list
          %li
            %a{href: "http://www.peopleforbikes.org/", target: "_blank"}
              = image_tag "supporters/people_for_bikes.png", alt: "People for bikes logo", title: "People for bikes"
          %li
            %a{href: "http://trailnet.org/", target: "_blank"}
              = image_tag "supporters/trailnet.png", alt: "Trailnet logo", title: "Trailnet"
          %li
            %a{href: "http://bikepgh.org/", target: "_blank"}
              = image_tag "supporters/bike_pgh.png", alt: "Bike Pittsburgh logo", title: "Bike Pittsburgh"
          %li
            %a{href: "https://www.BikeEastBay.org/", target: "_blank"}
              = image_tag "supporters/bike_east_bay.png", alt: "Bike East Bay logo", title: "Bike East Bay"
          %li
            %a{href: "http://indycog.org/", target: "_blank"}
              = image_tag "supporters/indycog.png", alt: "INDYCOG logo", title: "INDYCOG"
          %li
            %a{href: "http://www.activetrans.org/", target: "_blank"}
              = image_tag "supporters/active_trans1.png", alt: "Active Transportation Alliance logo", title: "Active Transportation Alliance"
        %ul.horizontal-list
          %li
            %a{href: "http://www.seattle.gov/police/", target: "_blank"}
              = image_tag "supporters/seattlepd.png", alt: "Seattle police"
          %li
            %a{href: "https://stlouis-mo.gov/", target: "_blank"}
              = image_tag "supporters/st_louis.png", alt: "City of Saint Louis"
          %li
            %a{href: "http://sf-police.org/", target: "_blank"}
              = image_tag "supporters/sfpd.png", alt: "San Francisco Police Department logo", title: "San Francisco Police Department logo"
          %li
            %a{href: "http://www.ci.berkeley.ca.us/police/", target: "_blank"}
              = image_tag "supporters/berkeley_pd.png", alt: "Berkeley Police Department logo", title: "Berkeley Police Department logo"
          %li
            %a{href: "https://www.portlandoregon.gov/police/66825", target: "_blank"}
              = image_tag "supporters/pbttf.png", alt: "Portland Bike Theft Task Force", title: "Portland Bike Theft Task Force"
          %li
            %a{href: "https://www.portlandoregon.gov/police/66825", target: "_blank"}
              = image_tag "supporters/bendpd.png", alt: "Bend Oregon Police Department", title: "Bend Oregon Police Department"
          
          
      
      %p.and-many-more
        \... and many more. #{link_to "View the complete list here", where_path}
