#home-title
  %h1
    Do right by your bike
  %h3
    Bicycle registration that just works. Online, powerful, free.

#treating-right
  .treating-right-image
    = image_tag "/assets/home/binb/bed.svg", alt: "Show your bike some love", title: "Show your bike some love"
    = image_tag "/assets/home/binb/wheel2.png", alt: "Show your bike some love", title: "Show your bike some love", class: "wheel-layer", id: "wheel-spin"
    = image_tag "/assets/home/binb/fork.png", alt: "Show your bike some love", title: "Show your bike some love", class: "fork-layer"
  .receptacle.overfloating
    .inner-recep
      .treating-right-text
        = link_to "Register it!", choose_registration_path, class: "button-green"
        %h2
          Show your trusty steed some love
    .home-sharing
      / = render "/shared/home_share"
      %a.hidden{ href: "https://plus.google.com/112992910030626766953", rel: "publisher"}
        Google+


.bike-background
  #best-ever
    .receptacle.overfloating
      .inner-recep
        %article
          .icographix
            = image_tag "/assets/home/community_retina.png", alt: "Community", title: "We love the bike community"
          %h3
            Community partnerships
          %p
            Partnered with bike shops and bike advocacy groups to make registration convenient.

        %article
          .icographix
            = image_tag "/assets/home/find_retina.png", alt: "Searching", title: "Find it, everywhere."
          %h3
            Powerful search
          %p
            Full text search of all registered bikes, accessible at the top of every page.

        %article
          .icographix
            = image_tag "/assets/home/convenient_retina.png", alt: "Convenience", title: "So convenient it's like ice cream"
          %h3
            Convenient registration
          %p
            Register in seconds, or have a bike organization register for you.

        %article
          .icographix
            = image_tag "/assets/home/mobile_retina.png", alt: "Mobility", title: "Mobile accessible for your adventure planning"
          %h3
            Mobile friendly
          %p
            Access the Index when and how you please.

        %article
          .icographix
            = image_tag "/assets/home/code_retina.png", alt: "Open source", title: "Open source, because we love you"
          %h3
            Open source
          %p
            Built for everyone, open for everyone.

        %article
          .icographix
            = image_tag "/assets/home/verification_retina.png", alt: "Verification", title: "Verify everything"
          %h3
            Used bike verification
          %p
            Verify any bike you buy or sell. Transfer bike registrations for free.
  
  #supporters
    .receptacle.overfloating
      .inner-recep
        %h2
          Recommended &amp; supported by:
        %ul.horizontal-list
          %li
            %a{href: "http://www.peopleforbikes.org/", target: "_blank"}
              = image_tag "/assets/supporters/people_for_bikes.png", alt: "People for bikes logo", title: "People for bikes"
          %li
            %a{href: "http://bikepgh.org/", target: "_blank"}
              = image_tag "/assets/supporters/bike_pgh.png", alt: "Bike Pittsburgh logo", title: "Bike Pittsburgh"
          %li
            %a{href: "http://trailnet.org/", target: "_blank"}
              = image_tag "/assets/supporters/trailnet.png", alt: "Trailnet logo", title: "Trailnet"
          %li
            %a{href: "https://www.ebbc.org/", target: "_blank"}
              = image_tag "/assets/supporters/ebbc.png", alt: "East Bay Bicycle Coalition logo", title: "East Bay Bicycle Coalition"
          %li
            %a{href: "http://indycog.org/", target: "_blank"}
              = image_tag "/assets/supporters/indycog.png", alt: "INDYCOG logo", title: "INDYCOG"
          %li
            %a{href: "http://www.activetrans.org/", target: "_blank"}
              = image_tag "/assets/supporters/active_trans1.png", alt: "Active Transportation Alliance logo", title: "Active Transportation Alliance"
          / %li
          /   %a{href: "https://stlouis-mo.gov/", target: "_blank"}
          /     = image_tag "/assets/supporters/st_louis.png", alt: "City of Saint Louis"
    .and-many-more
      %p
        \... and many more - #{link_to "view our partners", where_path}

#movie-wrap
  #iframe-holder
  #movie-cover
    %a.play-button
