.container
  .row.first-row
    .col-md-8
      %h1
        = t(".user_bikes", current_user_name: current_user.display_name)

    .col-md-4.ad-col
      .ad-block#top468x60
  .row
    .col-md-8
      %ul.user-items-nav.nav.nav-tabs{ role: 'tablist' }
        %li.nav-item
          %a.nav-link{ class: ('active' unless @locks_active_tab), href: '#bikes_tab_content', data: { toggle: 'tab', role: 'tab' } }
            = t(".bikes")
        %li.nav-item
          %a.nav-link{ class: ('active' if @locks_active_tab), href: '#locks_tab_content', data: { toggle: 'tab', role: 'tab' } }
            = t(".locks")
      .user-items-content.tab-content
        .tab-pane#bikes_tab_content{ class: ('active' unless @locks_active_tab) }
          - if @bikes.present?
            %ul.bike-boxes
              - @bikes.each do |bike|
                %li.bike-box-item
                  - image_link = bike.thumb_path ? bike_url(bike) : edit_bike_url(bike, page: 'photos')
                  %a.bike-list-image{ href: image_link, class: ('hover-expand' if bike.thumb_path) }
                    - unless bike.thumb_path
                      .thumb-overlay
                        = image_tag 'revised/photo_icon.svg'
                        %h4= t(".add_a_photo")
                    = bike.thumb_image
                  .bike-information.multi-attr-lists
                    %h5.title-link
                      - if bike.stolen
                        %strong.stolen-color
                          - if bike.abandoned
                            = t(".abandoned")
                          - else
                            = t(".stolen")
                      %strong
                        - unless bike.type == 'bike'
                          = bike.type
                        = [bike.year, bike.mnfg_name].reject(&:blank?).join(' ')
                      #{bike.frame_model}
                    %ul.attr-list
                      = bike.attr_list_item(bike.serial_display, t(".serial"))
                      = bike.attr_list_item(bike.frame_colors.to_sentence, t(".primary_colors"))
                      - if bike.current_stolen_record.present?
                        - abandoned_or_stolen =  bike.abandoned? ? t(".date_abandoned") : t('.date_stolen')
                        = bike.attr_list_item(l(bike.current_stolen_record.date_stolen, format: :dotted), abandoned_or_stolen)
                        = bike.attr_list_item(bike.short_address(bike.current_stolen_record), t(".location"))
                    %ul.attr-list
                      %li= link_to t(".edit_bike"), edit_bike_path(bike)
                      %li
                        - if bike.stolen
                          = link_to t(".printable_pdf"), pdf_bike_path(bike)
                        - else
                          = link_to t(".mark_bike_stolen"), edit_bike_path(bike, page: "report_stolen"), class: "text-danger less-strong"

            .paginate-container.paginate-container-bottom
              = paginate @bikes
          - else
            %h2= t(".you_have_no_registered_bikes")
        .tab-pane#locks_tab_content{ class: ('active' if @locks_active_tab) }
          - if @locks.present?
            %table.table.table-striped.table-bordered
              %thead
                %th= t(".lock_type")
                %th= t(".manufacturer")
                %th= t(".key_serial")
                %th= t(".combination")
              %tbody
                - @locks.each do |lock|
                  %tr
                    %td
                      = lock.lock_type_name
                      = link_to(t(".edit"), edit_lock_path(lock))
                    %td= lock.manufacturer_name
                    %td= lock.key_serial
                    %td= lock.combination
          - else
            %h2= t(".you_have_no_registered_locks")
    .col-md-4
      .side-box
        %h3.first-item
          = t(".register_new_items")
        .inner
          = link_to t(".add_a_bike"), choose_registration_path, class: "btn btn-primary btn-lg"
          = link_to t(".add_a_lock"), new_lock_url, class: "btn btn-primary-offset btn-lg"
        %h3
          = t(".next_steps")
        .inner.last-item
          - if @bikes.present?
            .lock-group
              .image-column
                - if @bikes.last.stolen
                  = image_tag 'https://abs.twimg.com/emoji/v1/72x72/1f622.png', alt: 'Crying, sad face'
                - else
                  = image_tag 'https://abs.twimg.com/emoji/v1/72x72/1f60a.png', alt: 'Happy, Smiling face'
              .col-xs-10
                %p
                  - if @bikes.count > 0
                    - if @bikes.last.stolen
                      = t(".sorry_your_bike_was_stolen", bikes_last_type: @bikes.last.type)
                    - else
                      = t(".thanks_for_adding_your_bike", bikes_last_type: @bikes.last.type)
                  - else
                    %strong= t(".welcome")
                    = t(".to_bike_index_thanks_for_signing_up")
          .lock-group
            .image-column
              = image_tag 'revised/lock_icon.svg'
            .col-xs-10
              %p
                %strong
                  = t(".tell_us_more_about_yourself")
                = link_to t(".update_your_profile"), my_account_url
          - if @bikes.present?
            .lock-group
              .image-column
                = image_tag "logos/bikefair.svg"
              .col-xs-10
                %p
                  Want to sell one of your registered bikes?
                  = link_to "List a bike on BikeFair", "https://bikefair.org/auth/bikeindex"
      .ad-block#right300x600
