#news_display
  %h1.blog-index-head
    = t(".bike_index_blog")
    = form_tag nil, method: :get, class: "" do
      = select_tag(:language,
        options_for_select(blog_languages, selected: params[:language].presence),
        class: "display: inline", onchange: "this.form.submit()")
    = link_to image_tag('feed_icon.svg'), news_index_url(format: 'atom'), { title: t('.bike_index_blog_feed')}

  %hr
%article
  %ul.news-index-list
    - @blogs.each_with_index do |blog, index|
      %li
        - if index < 10 && blog.index_image.present?
          %a.index-image-link{ href: news_url(blog) }
            = image_tag blog.index_image
        %h2
          %a{ href: news_url(blog) }
            %span
              = blog.title

        %p.blog-index
          = blog.description
