#news_display
  .row
    .col-md-12.col-lg-8.col-xl-9
      %h1
        = t(".bike_index_blog")
        = link_to image_tag('feed_icon.svg', class: "rss-svg"),
          news_index_url(format: 'atom'),
          title: t('.bike_index_blog_feed'),
          class: "blog-rss-link"

    .col-md-12.col-lg-3.blog-language-selection-container
      View posts in
      = form_tag nil, method: :get,
        class: "blog-language-selection", id: "js-blog-language-selection" do
        = select_tag :language,
          options_for_select(blog_languages, selected: params[:language].presence),
          onchange: "this.form.submit()"
  %hr

%article
  %ul.news-index-list
    - @blogs.each_with_index do |blog, index|
      %li
        - if index < 10 && blog.index_image.present?
          %a.index-image-link{ href: news_url(blog) }
            = image_tag blog.index_image
        %h2
          %a{ href: news_url(blog) }
            %span
              = blog.title

        %p.blog-index
          = blog.description
