.row
  .col-md-12.col-lg-8.col-xl-9
    %h1
      = t(".bike_index_blog")
      = link_to image_tag('feed_icon.svg', class: "rss-svg"),
        news_index_url(format: 'atom'),
        title: t('.bike_index_blog_feed'),
        class: "blog-rss-link"

  -# We have no posts in other languages :/
  -# .col-md-12.col-lg-3.blog-language-selection-container
  -#   View posts in
  -#   = form_tag nil, method: :get,
  -#     class: "blog-language-selection", id: "js-blog-language-selection" do
  -#     = select_tag :language,
  -#       options_for_select(language_choices, selected: params[:language].presence),
  -#       onchange: "this.form.submit()"

%hr

- if sortable_search_params?
  - render_all_images = true
  .mt-3.mb-4
    %h4.uncap
      = number_with_delimiter(@blogs_count)
      = "matching article".pluralize(@blogs_count)
      - if @search_tags.present?
        about
        %em
          = @search_tags.map(&:name).to_sentence
%article
  %ul.news-index-list
    - @blogs.each_with_index do |blog, index|
      %li
        - if (render_all_images || index < 10) && blog.index_image.present?
          %a.index-image-link{ href: news_url(blog) }
            = image_tag blog.index_image
        %h2
          %a{ href: news_url(blog) }
            %span
              = blog.title

        %p.mb-1
          = blog.description

        %p.blog-topics-list
          - if blog.published_at.present? # Should always be present, but just in case...
            %em
              %span.convertTime= l blog.published_at, format: :convert_time
              \-
          Topics:
          = safe_join(blog.content_tags.commonness.map { |tag| link_to(tag.name, news_index_path(search_tags: tag.slug), class: "gray-link") }, ", ")
