- blogger = @blog.user
.blog-header
  %h1.global-title
    - if current_user&.superuser?(controller_name: "news")
      .clearfix
        = link_to "edit", edit_admin_news_path(@blog.to_param), class: "btn btn-outline-info less-strong uncap float-right"
    = @blog.title

  %article.blogger-info.pl-2
    - unless @blog.canonical_url?
      %h4
        = t(".by")
        - if blogger.userlink.present?
          %a{href: blogger.userlink}
            = blogger.name
        - else
          %em= blogger.name
    %h4.pub-date
      %span.convertTime= l @blog.published_at, format: :convert_time

    %p.blog-topics-list.mb-3
      Topics:
      = safe_join(@blog.content_tags.commonness.map { |tag| link_to(tag.name, news_index_path(search_tags: tag.slug), class: "gray-link") }, ", ")
  %hr.mb-5.less-strong
- if @blog.is_listicle
  - @blog.listicles.each_with_index do |list_item, i|
    - unless i == 0
      %hr.listicle-separator
    = listicle_html(list_item)

- else
  :markdown
    #{@blog.body}

- if @blog.canonical_url?
  .mt-4
    %h4.less-strong
      = t(".also_published")
      = link_to @blog.pretty_canonical, @blog.canonical_url


- if Rails.env.production? && @blog.published
  -# Clear the ad overhang with a padded block
  .padded
  %article#discourse-comments
    :plain
      <script type="text/javascript">
        DiscourseEmbed = { discourseUrl: 'https://discuss.bikeindex.org/',
                           discourseEmbedUrl: '#{news_url(@blog)}' };

        (function() {
          var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
          d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
      </script>
