#news_display
  .blog-header
    %h1.global-title
      = @blog.title
    %article.blogger-info
      %h4
        by
        %a.blog-poster{href: @blogger.userlink}
          = @blogger.name if @blogger.name
      %h4.pub-date
        - if @blog.published_at > Time.now - 1.week
          #{l @blog.published_at, format: :standard_display}
        - else
          #{l @blog.published_at, format: :no_day_with_year}
- if @blog.is_listicle
  = render "listicle_page"

- else
  :kramdown
    #{@blog.body}