#news_display
  .blog-header
    %h1.global-title
      = @blog.title
    %article.blogger-info
      %h4
        by
        %a.blog-poster{href: user_path(@blogger)}
          = @blogger.name if @blogger.name
      %h4.pub-date
        - if @blog.published_at > Time.now - 1.week
          #{l @blog.published_at, format: :standard_display}
        - else
          #{l @blog.published_at, format: :no_day_with_year}
- if @blog.is_listicle
  = render "listicle_page"

- else
  :kramdown
    #{@blog.body}

  %article.padded
    .party-blck.lg-party{ data: {width: '728px', height: '90px', slot: '6744634586'}}
    .party-blck.sm-party{ data: {width: '320px', height: '100px', slot: '7822695384'}}


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>