.blog-header  
  %article.blogger-info
    %h4
      %a.blog-poster{href: user_path(@blogger)}
        = @blogger.name if @blogger.name
    %h4
      - if @blog.published_at > Time.now - 1.week
        #{l @blog.published_at, format: :standard_display}
      - else
        #{l @blog.published_at, format: :no_day_with_year}

  %hr

%h1
  = @blog.title

:kramdown
  #{@blog.body}

%article.content-comments
  = render "/shared/disqus"