#news_display
  .blog-header
    %h1.global-title
      = @blog.title
    %article.blogger-info
      %h4
        by
        %a.blog-poster{href: @blogger.userlink}
          = @blogger.name if @blogger.name
      %h4.pub-date
        - if @blog.published_at > Time.now - 1.week
          #{l @blog.published_at, format: :standard_display}
        - else
          #{l @blog.published_at, format: :no_day_with_year}
- if @blog.is_listicle  
  - @blog.listicles.each_with_index do |list_item, i|
    - unless i == 0
      %hr.listicle-separator
    = listicle_html(list_item)


- else
  :kramdown
    #{@blog.body}

%article 
  = render '/shared/ad'

%article#discourse-comments
  :javascript

    DiscourseEmbed = { discourseUrl: 'https://discuss.bikeindex.org/',
                       discourseEmbedUrl: '#{blog_url(@blog)}' };

    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
  