.blog-header  
  %article.blogger-info
    %h4
      %a.blog-poster{href: user_path(@blogger)}
        = @blogger.name if @blogger.name
    %h4
      - if @blog.published_at > Time.now - 1.week
        #{l @blog.published_at, format: :standard_display}
      - else
        #{l @blog.published_at, format: :no_day_with_year}

  %hr

%h1
  = @blog.title
  
- if @blog.is_listicle
  = render "listicle_page"

- else
  :kramdown
    #{@blog.body}

%article.padded
  :plain
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- base_leaderboard -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-8140931939249510"
         data-ad-slot="2955503783"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

%article.content-comments
  = render "/shared/disqus"