.admin-subnav
  .col-md-5
    %h1 Completed Ambassador Task Assignments

.row
  .col-md-6
    - if !@results_filtered
      %p= pluralize |
          number_with_delimiter(@ambassador_task_assignments.total_count), |
          "completed activities"
    - else
      %p
        = pluralize |
          number_with_delimiter(@ambassador_task_assignments.total_count), |
          "matching completed activities"
        %em= link_to "view all", admin_ambassador_task_assignments_path
  .col-md-6
    = form_tag admin_ambassador_task_assignments_path, method: :get,
      class: "form-inline admin-filter-menu" do
      = hidden_field_tag :sort, sort_column
      = hidden_field_tag :sort_direction, sort_direction

      .form-group.ml-2
        = select_tag :organization_id, |
          options_from_collection_for_select(Organization.ambassador, "id", "name"), |
          prompt: "Filter by organization", |
          class: "form-control"

      = submit_tag "Filter", name: "search", class: "btn btn-primary ml-2"


= paginate @ambassador_task_assignments, views_prefix: "admin"

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm.without-exterior-border
    %thead.small-header
      %th= sortable "completed_at"
      %th Organization
      %th= sortable "task_title"
      %th= sortable "ambassador_name"
    %tbody
      - @ambassador_task_assignments.each do |assignment|
        %tr
          %td.convertTime= l(assignment.completed_at, format: :convert_time)
          %td= assignment.organization_name
          %td= assignment.title
          %td= assignment.ambassador_name


= paginate @ambassador_task_assignments, views_prefix: "admin"
