- payment ||= @payment

.row
  .col-md-6
    %table.table-list
      %tr
        %td Method
        %td
          %span.less-strong= payment.payment_method
      %tr
        %td Amount
        %td
          = payment.amount_formatted
      %tr
        %td Currency
        %td
          %span{class: (payment.currency_enum == Currency.default.slug ? "less-strong" : "text-info")}
            = payment.currency_name
      - if payment.stripe_id.present?
        %tr
          %td Stripe ID
          %td
            = link_to payment.stripe_id.truncate(20), "https://dashboard.stripe.com/payments/#{payment.stripe_id}", title: payment.stripe_id
      %tr
        %td For
        %td
          - if payment.theft_alert.present?
            = link_to "Promoted alert", edit_admin_theft_alert_path(payment.theft_alert)
          - elsif payment.invoice_id.present?
            = render partial: "payment_invoice_cell", locals: {payment:}
          - elsif payment.membership_id.present?
            = link_to "Membership", admin_membership_path(payment.membership_id)
          %small.less-strong
            (#{payment.kind_humanized})
  .col-md-6
    %table.table-list
      %tr
        %td Created
        %td
          %span.convertTime.preciseTime
            = l payment.created_at, format: :convert_time
      %tr
        %td Paid
        %td
          - if payment.paid?
            %span.convertTime.preciseTime
              = l payment.paid_at, format: :convert_time
          - else
            %span.text-danger Incomplete!
      %tr
        %td User
        %td
          - search_url = payment.user_id.present? ? admin_payments_path(user_id: payment.user_id) : admin_payments_path(search_email: payment.email)
          = render partial: "/shared/admin/user_cell", locals: {user: payment.user, email: payment.email, search_url: search_url}
      %tr
        %td Referral source
        %td
          - if payment.referral_source.present?
            %code.small= payment.referral_source
