%h1
  Edit Payment

.form.form-horizontal{ style: "margin-bottom: 80px" }
  = form_for [:admin, @payment] do |f|
    - if @payment.errors.any?
      = render partial: "/shared/errors", locals: { name: "Payment", obj: @payment }

    .control-group.padded
      .control-label
        = f.label :kind
      .controls
        %span.less-strong
          = @payment.kind

    .control-group.padded
      .control-label
        = f.label :amount
      .controls
        %span.less-strong
          = @payment.amount_formatted

    - organizations = Organization.all
    .control-group.chosen-select
      = f.label :organization_id, class: "control-label"
      .controls
        = collection_select(:payment, :organization_id, organizations, :id, :name, prompt: "Choose organization")
    .control-group.padded
      .control-label
        = f.label :invoice_id, "Invoice #"
      .controls
        = f.text_field :invoice_id

    = f.submit "Submit", class: 'button-green'

