.row.mb-4
  .col-md-4
    %h1
      Edit Payment

= render partial: "/admin/payments/display", locals: {payment: @payment}

.pb-4

- if @payment.can_assign_to_membership?
  .card.ml-auto.mr-auto.mb-5.mt-4.col-6
    .card-body
      %p
        You can give this user a Bike Index membership by clicking
        %em assign to membership
        \- which will give this user a membership if they don't have one, or extend their current membership if they do.
      = button_to "assign to membership", admin_payment_path(id: @payment.id, assign_to_membership: true), method: :patch, class: "btn btn-primary"

- if @payment.can_assign_to_invoice?
  .row
    .col-md-8.offset-md-2
      = form_for [:admin, @payment] do |f|
        = render(AlertForErrors::Component.new(object: @payment))

        .row
          .col-lg-6
            .form-group.fancy-select.unfancy
              = f.label :organization_id
              = collection_select(:payment, :organization_id, Organization.approved, :id, :name, prompt: "Choose organization")
          .col-lg-6
            .form-group
              = f.label :invoice_id, "Invoice #"
              = f.text_field :invoice_id, class: "form-control"

        = f.submit "Submit", class: 'btn btn-success float-right'

