.admin-subnav
  .col-md-6
    %h1
      Payments
  .col-md-6
    = link_to "New payment", new_admin_payment_url, class: "btn btn-success float-right"

.row.mb-4
  .col-md-6
    %h4
      = pluralize(@payments.total_count, "matching payment")
  .col-md-6
    = paginate @payments, views_prefix: "admin"


.full-screen-table
  %table.table.table-striped.table-bordered.sortable.table-sm
    %thead.thead-light
      %th
        = sortable "created_at", "Paid"
      %th
        = sortable "user_id"
      %th
        = sortable "organization_id"
      %th
        = sortable "invoice_id"
      %th
        = sortable "kind"
      %th
        = sortable "amount_cents", "Amount"
    %tbody
      - @payments.each do |payment|
        %tr
          %td
            %a.convertTime{ href: edit_admin_payment_path(payment) }
              = l payment.created_at, format: :convert_time
          %td
            - if payment.user.present?
              = link_to payment.user.display_name, edit_admin_user_path(payment.user)
            - elsif payment.email.present?
              = payment.email
              %small.less-strong
                no user

          %td
            - if payment.organization.present?
              = link_to payment.organization.short_name, admin_organization_path(payment.organization)
          %td
            - if payment.invoice.present? && payment.organization.present?
              #{link_to payment.invoice.display_name, edit_admin_organization_invoice_path(organization_id: payment.organization.to_param, id: payment.invoice.id)}
              - if payment.invoice.subscription_start_at
                %small.convertTime
                  = l payment.invoice.subscription_start_at, format: :convert_time
          %td
            %small
              - if payment.stripe?
                = link_to "Stripe", "https://dashboard.stripe.com/payments/#{payment.stripe_id}"
              - else
                = payment.kind.humanize
          %td
            = payment.amount_formatted
= paginate @payments, views_prefix: "admin"
