%header.with-subtitle
  %h1
    - if params[:query].present?
      %em
        = params[:query] 
    Invoices
%p
  Go to organizations to create new invoices

.paginate-container{ style: "margin-top: 30px;" }
  %h4
    = pluralize(@invoices.total_count, "matching invoice")
    .pull-right
      - if params[:query].present?
        %small
          = link_to "view all", admin_invoices_path(query: "active")
        \|
      %small
        = link_to "active", admin_invoices_path(query: "active"), class: (params[:query] == "active" ? "active" : "")
      \|
      %small
        = link_to "inactive", admin_invoices_path(query: "inactive"), class: (params[:query] == "inactive" ? "active" : "")

  = paginate @invoices

= render partial: "/admin/organizations/invoices/table", locals: { invoices: @invoices, sortable: true, display_organization: true }
