.admin-subnav
  .col-md-6
    %h1
      - if params[:query].present?
        %em
          = params[:query]
          Invoices
    %h4
      = pluralize(@invoices.total_count, "matching invoice")
    %p
      Go to organizations to create new invoices

  .col-md-6
    - if params[:query].present?
      %small
        = link_to "view all", admin_invoices_path(query: "active")
      \|
    %small
      = link_to "active", admin_invoices_path(query: "active"), class: (params[:query] == "active" ? "active" : "")
    \|
    %small
      = link_to "inactive", admin_invoices_path(query: "inactive"), class: (params[:query] == "inactive" ? "active" : "")

= paginate @invoices, views_prefix: "admin"

= render partial: "/admin/organizations/invoices/table", locals: { invoices: @invoices, render_sortable: true, display_organization: true }
