- modal_body = capture_haml do
  .modal-body
    = form_for @model_attestation, {url: organization_model_audits_path(organization_id: current_organization.to_param), method: :post, action: "create", html: {class: "form"}} do |f|
      = f.hidden_field :model_audit_id
      .form-group
        = f.label :kind do
          Update the
          %strong#updateModalMnfg Manufacturer
          %em#updateModalFrameModel Model
        - opts = [["Mark Certified", "certified_by_trusted_org"], ["Mark NOT certified", "uncertified_by_trusted_org"], ["Record other update", "certification_update"]]
        = f.select(:kind, opts, {include_blank: true, required: true}, {class: 'form-control'})
      .form-group.collapse.in.hidden-not-certification-updating
        = f.label :certification_type
        = f.text_field :certification_type, placeholder: "optional", required: false, class: "form-control"
      .form-group
        = f.label :url do
          Url
          %small where to find the certification/documentation
        = f.text_field :url, placeholder: "optional", required: false, class: "form-control"
      .form-group.file-upload-wrapper{style: "position: relative;"}
        %label.file
          = f.file_field :file, class: "avatar-upload-field", accept: PdfUploader.permitted_extensions.join(",")
          %span.file-custom
            %span.file-upload-text Upload documentation (optional)
      .form-group
        = f.label :info, "Additional info"
        = f.text_area :info, placeholder: "optional", required: false, class: "form-control"
      .modal-btn-footer
        .form-submit-button
          = f.submit "submit", class: "btn btn-success btn-lg"



= render partial: 'shared/modal', locals: {title: "Update certification status", id: 'update-model-cert-modal', modal_body: modal_body}

:javascript
  $(".updateModelCert").on("click", e => {
    const $target = $(e.target)
    $("#updateModalMnfg").text($target.attr("data-mnfgname"))
    $("#updateModalFrameModel").text($target.attr("data-framemodel"))
    $("#update-model-cert-modal #model_attestation_model_audit_id").val($target.attr("data-modelauditid"))
    return true
  })
  $("#model_attestation_kind").on("change", e => {
    const collapseState = $("#model_attestation_kind").val() == ["certification_update"] ? "hide" : "show"
    $(".hidden-not-certification-updating").collapse(collapseState)
  })
