-# TODO: add translations

.organized-page-header
  %h1
    E-Vehicle audits

= render partial: "/shared/period_select"

.mt-4.mb-4
  = pluralize(number_with_delimiter(@organization_model_audits.total_count), "matching models")
  %em
    = humanized_time_range(@time_range)
  - if params[:search_mnfg_name].present?
    %span.less-strong
      for manufacturer
      %em
        = params[:search_mnfg_name]
      = link_to "view for all manufacturers", url_for(sortable_search_params.merge(search_mnfg_name: nil)), class: "gray-link small ml-1"

- render_sortable = true

- organization_model_audits ||= @organization_model_audits
- render_sortable ||= false
- manufacturer_other_id = Manufacturer.other.id
- skip_manufacturer_search ||= params[:search_mnfg_name].present?
%table.table.table-striped.table-bordered.table-sm.without-exterior-border
  %thead.small-header.hidden-md-down
    %th
      = sortable "mnfg_name", "Manufacturer", render_sortable: render_sortable
    %th
      = sortable "frame_model", "Model", render_sortable: render_sortable
    %th
      = sortable "last_bike_created_at", "Most Recent registration", render_sortable: render_sortable
    %th
      = sortable "bikes_count", "Vehicles #", render_sortable: render_sortable
    %th
      = sortable "certification_status", render_sortable: render_sortable

  %tbody
    - organization_model_audits.each do |organization_model_audit|
      - model_audit = organization_model_audit.model_audit
      %tr
        %td
          = model_audit.mnfg_name
          - unless skip_manufacturer_search
            %small= link_to "🔎", url_for(sortable_search_params.merge(search_mnfg_name: model_audit.mnfg_name))
          - if model_audit.manufacturer_other.present? && display_dev_info?
            %small.only-dev-visible other
        %td
          = link_to model_audit_frame_model_display(model_audit), organization_model_audit_path(model_audit, organization_id: current_organization.to_param)
          - if display_dev_info?
            %small.only-dev-visible= organization_model_audit.id
        %td
          %span.convertTime.preciseTime
            - if organization_model_audit.last_bike_created_at
              = l(organization_model_audit.last_bike_created_at, format: :convert_time)
            - else
              %span.less-strong= l(organization_model_audit.updated_at, format: :convert_time)
        %td
          %strong
            = admin_number_display(organization_model_audit.bikes_count)
        %td
          - if organization_model_audit.certification_status.present?
            %span{class: status_display_class(organization_model_audit.certification_status)}
              = organization_model_audit.certification_status_humanized
          - elsif model_audit.model_attestations.limit(1).present?
            %small.less-strong has attestation

          %a.btn.btn-sm.btn-secondary.float-right.updateModelCert{data: {toggle: "modal", target: "#update-model-cert-modal", modelauditid: model_audit.id, mnfgname: model_audit.mnfg_name, framemodel: model_audit.frame_model}}
            update

.paginate-container.paginate-container-bottom
  = pagy_bootstrap_nav(@pagy).html_safe

= render partial: "/organized/model_audits/submit_model_attestation"
