-# TODO: add translations

.organized-page-header
  %h1
    %strong= @model_audit.mnfg_name
    %em= model_audit_frame_model_display(@model_audit)
    &nbsp;
    %small E-Vehicle audit

.row.mt-4
  .col-md-6
    %table.table-list
      %tbody
        %tr
          %td Manufacturer
          %td
            = @model_audit.mnfg_name
            %small= link_to "view all manufacturer's audits", organization_model_audits_path(search_mnfg_name: @model_audit.mnfg_name, organization_id: current_organization.to_param)
        %tr
          %td Frame model
          %td
            = model_audit_frame_model_display(@model_audit)
        %tr
          %td Vehicle type
          %td
            = @model_audit.cycle_type_name
        %tr
          %td Propulsion
          %td
            = @model_audit.propulsion_type_name
  .col-md-6
    %table.table-list
      %tbody
        %tr
          %td Total vehicles
          %td
            = number_display @bikes_count
            %small= link_to "search matching vehicles", organization_bikes_path(organization_id: current_organization.id, search_model_audit_id: @model_audit.id)
        %tr
          %td Most recent
          %td
            - if @organization_model_audit&.last_bike_created_at.present?
              %span.convertTime.preciseTime
                = l(@organization_model_audit&.last_bike_created_at, format: :convert_time)

        %tr
          %td Certification
          %td
            %span{class: status_display_class(@model_audit.certification_status)}
              = @organization_model_audit&.certification_status_humanized
        - if display_dev_info?
          %tr
            %td.only-dev-visible IDs
            %td
              Org Model Audit ID
              %code.mr-2= @organization_model_audit&.id
              Model Audit ID
              %code
                = link_to @model_audit&.id, admin_bikes_path(search_model_audit_id: @model_audit&.id)

%h2.uncap.mt-4
  Attestations
  %small
    %a.btn.btn-sm.btn-secondary.updateModelCert{data: {toggle: "modal", target: "#update-model-cert-modal", modelauditid: @model_audit.id, mnfgname: @model_audit.mnfg_name, framemodel: @model_audit.frame_model}}
      submit new
- if @model_attestations.none?
  %h4.mt-2.uncap No Attestations
- else
  %table.table.table-striped.table-bordered.table-sm.without-exterior-border
    %thead.small-header.hidden-md-down
      %th
        Created
      %th
        Kind
      %th
        Submitted by
      %th
        Certification
      %th
        Documentation
      %th
        Information

    %tbody
      - @model_attestations.each do |model_attestation|
        %tr
          %td
            %span.convertTime.preciseTime
              = l(model_attestation.created_at, format: :convert_time)
            - if display_dev_info?
              %code.only-dev-visible= model_attestation.id
          %td
            %span{class: status_display_class(model_attestation.kind)}
              = model_attestation.kind_humanized
          %td
            = model_attestation.organization&.short_name
            - if model_attestation.organization_id == current_organization.id
              %small= model_attestation.user&.display_name
          %td
            = model_attestation.certification_type
          %td
            - if model_attestation.file.present?
              %strong= link_to "File", model_attestation.file.url, target: "_blank"
            - if model_attestation.url.present?
              %small= link_to truncate(model_attestation.url), model_attestation.url
          %td
            = model_attestation.info

%h2.uncap.pt-3.mt-4.mb-0
  Vehicles
  - if @bikes_count > @per_page
    %small
      first #{@per_page} shown, #{link_to "see all", organization_bikes_path(organization_id: current_organization.id, search_model_audit_id: @model_audit.id)}

= render partial: "/organized/bikes/search", locals: {only_show_bikes: true}

= render partial: "/organized/model_audits/submit_model_attestation"
