<% items.each do |item| %>
  <% case item[:type] %>
  <% when :divider %>
    <li class="divider-nav-item"></li>
  <% when :disabled %>
    <li>
      <span class="<%= disabled_classes(item) %>">
        <%= item[:label] %>
      </span>
    </li>
  <% when :link %>
    <li>
      <% if item[:active] == :auto %>
        <%= helpers.active_link item[:label], item[:path], match_controller: item[:match_controller], class: link_classes(item) %>
      <% else %>
        <%= link_to item[:label], item[:path], class: link_classes(item) %>
      <% end %>
    </li>
  <% when :super_admin_link %>
    <li class="less-strong mt-4">
      <%= link_to item[:label], item[:path], class: "nav-link" %>
    </li>
  <% end %>
<% end %>
