- render_sortable ||= false
- skip_status ||= false
- skip_organization ||= false
- skip_claims ||= false

%table.table.table-striped.table-bordered.table-sm.without-exterior-border#recordsTable
  %thead.small-header.hidden-md-down
    %th
      = sortable "created_at", render_sortable: render_sortable
    %th.small
      = sortable "updated_at", render_sortable: render_sortable
    %th
      Impounded
    - unless skip_organization
      %th
        = sortable "organization_id", render_sortable: render_sortable
    %th
      = sortable "location_id", render_sortable: render_sortable
    %th Bike
    %th
      = sortable "status", render_sortable: render_sortable
    %th
      = sortable "user_id", "last updator", render_sortable: render_sortable
    - unless skip_status
      %th
        = sortable "resolved_at", render_sortable: render_sortable
    - unless skip_claims
      %th.small Claims
  %tbody
    - impound_records.each do |impound_record|
      %tr
        %td
          %a.convertTime.preciseTime{href: admin_impound_record_path("pkey-#{impound_record.id}")}
            = l(impound_record.created_at, format: :convert_time)
        %td
          %small.convertTime.preciseTime
            = l(impound_record.updated_at, format: :convert_time)
        %td
          - if impound_record.impounded_at.present?
            %small.convertTime.preciseTime
              = l(impound_record.impounded_at, format: :convert_time)
        - unless skip_organization
          %td
            - if impound_record.organization_id.present?
              = link_to impound_record.organization&.short_name || impound_record.organization_id, admin_impound_records_path(sortable_search_params.merge(organization_id: impound_record.organization_id))
        %td
          %small
            = impound_record.location&.name
        %td
          - if impound_record.bike.present?
            = link_to organized_bike_text(impound_record.bike), admin_bike_path(impound_record.bike)
        %td
          %em
            = status_display(impound_record.status_humanized_short)
        %td
          = impound_record.user&.display_name&.truncate(20)
        - unless skip_status
          %td
            - if impound_record.resolved_at.present?
              %span.convertTime.preciseTime
                = l(impound_record.resolved_at, format: :convert_time)
        - unless skip_claims
          %td
            - if impound_record.bike_id.present?
              = link_to number_display(impound_record.impound_claims.count), admin_impound_claims_path(search_bike_id: impound_record.bike_id)
