-# TODO: make this better. Leaves much to be desired

- impound_record_id = @impound_record.display_id || @impound_record.id
- organization_name = @impound_record.organization.present? ? @impound_record.organization.name : @impound_record.organization_id

.admin-subnav
  .col-12
    %h1
      Impound Record
    - if @bike.present? && @bike.creator_unregistered_parking_notification?
      %small.text-warning
        for
        %em
          unregistered #{@bike.type}
    - if organization_name.present?
      %h2.mt-4
        %em= link_to "View record in organization", organization_impound_record_path(@impound_record.display_id, organization_id: @impound_record.organization_id)

.row
  .col-sm-6
    %table.table-list
      %tbody
        %tr
          %td Created
          %td
            %span.convertTime.preciseTime
              = l(@impound_record.created_at, format: :convert_time)
        %tr
          %td Updated
          %td
            %span.convertTime.preciseTime
              = l(@impound_record.updated_at, format: :convert_time)
        %tr
          %td Status
          %td
            %em
              = status_display(@impound_record.status_humanized)
        %tr
          %td Organization
          %td
            - if organization_name.present?
              = link_to organization_name, admin_organization_path(@impound_record.organization_id)
            - else
              %small.less-strong NO organization
%h2
  Impound claims
%ul
  - @impound_record.impound_claims.each do |impound_claim|
    %li= link_to "Impound claim ##{impound_claim.id}", admin_impound_claim_path(impound_claim.id)
