- first_form_well ||= false

- if promoted_alerts.present?
  - show_creator = promoted_alerts.pluck(:user_id).uniq != [current_user.id]
  .form-wrap{ class: first_form_well ? "" : "secondary-form-wrap" }
    .form-well-form-header-always-visible
      %h3
        = t(".existing_promoted_alerts")
    .row
      .col-sm-12
        %table.table.table-bordered{ style: "background: #fff;" }
          %thead.small-header
            %tr
              %th= t(".created")
              %th= t(".plan")
              %th= t(".status")
              %th= t(".start")
              %th= t(".end")
              - if show_creator
                %th.small=t(".creator")

          %tbody
            - promoted_alerts.each do |promoted_alert|
              %tr
                %td
                  %span.convertTime
                    = l(promoted_alert.created_at, format: :convert_time)
                %td= promoted_alert.promoted_alert_plan.name
                %td= promoted_alert.status
                %td
                  - if promoted_alert.start_at.present?
                    %span.convertTime= l(promoted_alert.start_at, format: :convert_time)
                %td
                  - if promoted_alert.end_at.present?
                    .convertTime= l(promoted_alert.end_at, format: :convert_time)
                - if show_creator
                  %td
                    %small= promoted_alert.user&.display_name
