<h2><%= @stolen_notification.sender.email %> sent a message about this stolen <%= @stolen_notification.bike.type %>!</h2>

<p>They have sent more stolen notifications than they are allowed.</p>

<p><%= @stolen_notification.message %></p>

<p class="explanation" style="text-align: center;color: #555;"><a href="<%= bike_url(@stolen_notification.bike) %>">View your <%= @stolen_notification.bike.type %> on the Bike Index</a></p>

<hr>

<h3><%= link_to "Update their account", edit_admin_user_url(@stolen_notification.sender) %> if they should be allowed to send more email.<h3>

<h3><%= link_to "Resend the message afterward", admin_stolen_notification_url(@stolen_notification), method: :put %></h3>