- if @feedback.feedback_type == 'serial_update_request'
  %h1
    Serial update request
  %p
    From
    = @feedback.email
  %p
    Reason for update:
    = @feedback.body
  %p
    New serial:
    = @feedback.feedback_hash[:new_serial]
  %p
    - bike = Bike.find(@feedback.feedback_hash[:bike_id])
    = link_to 'View the bike', edit_admin_bike_url(bike)
- elsif @feedback.feedback_type == 'bike_delete_request'
  %h1
    Bike delete request
  %p
    From
    = @feedback.email
  %p
    Reason for delete:
    = @feedback.body
  %p
    - bike = Bike.find(@feedback.feedback_hash[:bike_id])
    = link_to 'View the bike', edit_admin_bike_url(bike)

- elsif @feedback.feedback_type == 'bike_recovery'
  - bike = Bike.find(@feedback.feedback_hash[:bike_id])
  %h1
    A #{bike.type} has been recovered
  %p
    How the bike was recovered
    = @feedback.body
  %p
    Did we help?
    %strong
      = @feedback.feedback_hash[:did_we_help]
  %p
    = link_to 'View the bike', edit_admin_bike_url(bike)
    
- else
  %p
    From: 
    = @feedback.email

  %p
    = @feedback.name
    says,

  %p
    = @feedback.body