- if @feedback.feedback_type == 'serial_update_request'
  %h1{ :style => "font-weight: 400px;" }
    Serial update notification
  %p
    From
    = @feedback.email
  %p
    Reason for update:
    = @feedback.body
  %p
    Old serial:
    = @feedback.feedback_hash[:old_serial]
  %p
    New serial:
    = @feedback.feedback_hash[:new_serial]
  %p
    - bike = Bike.find(@feedback.feedback_hash[:bike_id])
    = link_to 'View the bike', edit_admin_bike_url(bike)
- if @feedback.feedback_type == 'manufacturer_update_request'
  %h1{ :style => "font-weight: 400px;" }
    Manufacturer update notification
  %p
    From
    = @feedback.email
  %p
    Reason for update:
    = @feedback.body
  %p
    Old manufacturer:
    = @feedback.feedback_hash[:old_manufacturer]
  %p
    New manufacturer:
    = @feedback.feedback_hash[:new_manufacturer]
  %p
    - bike = Bike.find(@feedback.feedback_hash[:bike_id])
    = link_to 'View the bike', edit_admin_bike_url(bike)
- elsif @feedback.feedback_type == 'bike_delete_request'
  %h1{ :style => "font-weight: 400px;" }
    Bike delete request
  %p
    From
    = @feedback.email
  %p
    Reason for delete:
    = @feedback.body
  %p
    - bike = Bike.find(@feedback.feedback_hash[:bike_id])
    = link_to 'View the bike', edit_admin_bike_url(bike)

- elsif @feedback.feedback_type == 'bike_recovery'
  - bike = Bike.find(@feedback.feedback_hash[:bike_id])
  %h1{ :style => "font-weight: 400px;" }
    A #{bike.type} has been recovered
  %p
    How the bike was recovered
    = @feedback.body
  %p
    Did we help?
    %strong
      = @feedback.feedback_hash[:index_helped_recovery]
  - if @feedback.feedback_hash[:index_helped_recovery]
    %p
      Can we share?
      %strong
        = @feedback.feedback_hash[:can_share_recovery]
    - if @feedback.feedback_hash[:can_share_recovery]
      %h3{ :style => "font-weight: 400px;" }
        = link_to "Approve sharing this recovery!", admin_recoveries_url
  %p
    = link_to 'View the bike', edit_admin_bike_url(bike)

- elsif @feedback.feedback_type.present? && @feedback.feedback_type.match(/organization_/i)
  - organization = Organization.find(@feedback.feedback_hash[:organization_id])
  %h1
    = @feedback.body
  %p
    Created by #{@feedback.email}
  %hr
  %p
    = link_to "View the organization", edit_admin_organization_url(organization)

- else
  %p
    From: 
    = @feedback.email

  %p
    = @feedback.name
    says,

  %p
    = @feedback.body