- if @feedback.feedback_type == 'serial_update_request'
  %h1{ :style => "font-weight: 400px;" }
    Serial update notification
  %p
    From
    - if @feedback.user_id
      = link_to @feedback.email, edit_admin_user_url(@feedback.user)
    - else
      = @feedback.email
  %p
    Reason for update:
    = @feedback.body
  %p
    Old serial:
    = @feedback.feedback_hash[:old_serial]
  %p
    New serial:
    = @feedback.feedback_hash[:new_serial]
  %p
    = link_to edit_admin_bike_url(@feedback.bike), edit_admin_bike_url(@feedback.bike)
- if @feedback.feedback_type == 'manufacturer_update_request'
  %h1{ :style => "font-weight: 400px;" }
    Manufacturer update notification
  %p
    From
    - if @feedback.user_id
      = link_to @feedback.email, edit_admin_user_url(@feedback.user)
    - else
      = @feedback.email
  %p
    Reason for update:
    = @feedback.body
  %p
    Old manufacturer:
    = @feedback.feedback_hash[:old_manufacturer]
  %p
    New manufacturer:
    = @feedback.feedback_hash[:new_manufacturer]
  %p
    = link_to edit_admin_bike_url(@feedback.bike), edit_admin_bike_url(@feedback.bike)
- elsif @feedback.feedback_type == 'bike_delete_request'
  %h1{ :style => "font-weight: 400px;" }
    Bike delete request
  %p
    From
    - if @feedback.user_id
      = link_to @feedback.email, edit_admin_user_url(@feedback.user)
    - else
      = @feedback.email
  %p
    Reason for delete:
    = @feedback.body
  %p
    = link_to edit_admin_bike_url(@feedback.bike), edit_admin_bike_url(@feedback.bike)

- elsif @feedback.feedback_type == 'bike_recovery'
  %h1{ :style => "font-weight: 400px;" }
    A #{@feedback.bike.type} has been recovered
  %p
    How the bike was recovered
    = @feedback.body
  %p
    Did we help?
    %strong
      = @feedback.feedback_hash[:index_helped_recovery]
  - if @feedback.feedback_hash[:index_helped_recovery]
    %p
      Can we share?
      %strong
        = @feedback.feedback_hash[:can_share_recovery]
    - if @feedback.feedback_hash[:can_share_recovery]
      %h3{ :style => "font-weight: 400px;" }
        = link_to "Approve sharing this recovery!", admin_recoveries_url
  %p
    = link_to edit_admin_bike_url(@feedback.bike), edit_admin_bike_url(@feedback.bike)

- elsif @feedback.lead_type.present?
  %p
    From:
    - if @feedback.user_id
      = link_to @feedback.email, edit_admin_user_url(@feedback.user)
    - else
      = @feedback.email
  %p
    %strong
      Lead for #{@feedback.lead_type}: #{@feedback.name}
  %p
    = @feedback.body
  
- elsif @feedback.feedback_type.present? && @feedback.feedback_type.match(/organization_/i)
  - organization = Organization.find(@feedback.feedback_hash[:organization_id])
  %h1
    = @feedback.body
  %p
    Created by #{@feedback.email}
  %hr
  %p
    = link_to "View the organization", edit_admin_organization_url(organization)

- else
  %p
    From:
    - if @feedback.user_id
      = link_to @feedback.email, edit_admin_user_url(@feedback.user)
    - else
      = @feedback.email

  - if @feedback.name.present?
    %p
      = @feedback.name
      says,

  %p
    = @feedback.body