%p
  = @message

- if @recovered
  %p
    = link_to "View recovery", admin_recovery_url(@promoted_alert.stolen_record)
  %hr

%h4{style: "margin-top: 1em;"}
  = link_to "Promoted Alert",
    edit_admin_promoted_alert_url(@promoted_alert, params: {state_transition: :begin}),
    target: "_blank"

%h4{style: "margin-top: 1em;"}
  = link_to "Plan: #{promoted_alert_plan_title(@promoted_alert_plan)}",
    edit_admin_promoted_alert_plan_url(@promoted_alert_plan),
    target: "_blank"

%h4{style: "margin-top: 1em;"}
  - if @promoted_alert.payment.nil?
    Payment Failed
  - else
    = link_to "Payment", edit_admin_payment_url(@promoted_alert.payment), target: "_blank"

%h4{style: "margin-top: 1em;"}
  = link_to "User", edit_admin_user_url(@user.id), target: "_blank"

%span{style: "display: block; line-height: 1.5em;"}
  = @user.name

%span{style: "display: block; line-height: 1.5em;"}
  = @user.email

%h4{style: "margin-top: 1em;"}
  = link_to "Bike", edit_admin_bike_url(@bike), target: "_blank"

%span{style: "display: block; line-height: 1.5em;"}
  = @bike.title_string

%span{style: "display: block; line-height: 1.5em;"}
  = "owner email: #{@bike.owner_email}"
