<span>
  <% if @tags.include?(:donor) %>
    <span class="<%= icon_classes(:donor) %>" title="Donor">D</span>
    <% if @full_text %>
      <span class="less-strong">Donor</span>
    <% end %>
  <% end %>

  <% if @tags.include?(:member) %>
    <span class="<%= icon_classes(:donor) %>" title="Member">M</span>
    <% if @full_text %>
      <span class="less-strong">Member</span>
    <% end %>
  <% end %>

  <% if @tags.include?(:organization_role) %>
    <span
      class="org- <%= icon_classes(:organization_role) %>"
      title="<%= org_full_text %>"
    >
      <%= org_icon_text %>
    </span>
    <% if @full_text %>
      <span class="ml-1 less-strong"><%= org_full_text %></span>
    <% end %>
  <% end %>

  <% if @tags.include?(:recovery) %>
    <span class="<%= icon_classes(:recovery) %>" title="Recovered bike">R</span>
    <% if @full_text %>
      <span class="less-strong">Recovered bike</span>
    <% end %>
  <% end %>

  <% if @tags.include?(:superuser) %>
    <span class="<%= icon_classes(:superuser) %>" title="Superuser">S</span>
    <% if @full_text %>
      <span class="less-strong">Superuser</span>
    <% end %>
  <% end %>

  <% if @tags.include?(:theft_alert) %>
    <span
      class="<%= icon_classes(:theft_alert) %>"
      title="Promoted alert purchaser"
    >
      P
    </span>
    <% if @full_text %>
      <span class="less-strong">Promoted alert</span>
    <% end %>
  <% end %>

  <% if banned? %>
    <span class="<%= icon_classes(:banned) %>" title="<%= banned_text %>">
      B
    </span>
    <% if @full_text %>
      <span class="less-strong"><%= banned_text %></span>
    <% end %>
  <% end %>

  <% if email_banned? %>
    <span
      class="<%= icon_classes(:email_banned) %>"
      title="Email Banned: <%= email_banned_text %>"
    >
      EB
    </span>
    <% if @full_text %>
      <span class="less-strong">Email Banned: <%= email_banned_text %></span>
    <% end %>
  <% end %>
</span>
