<div
  class="
    tw:border-b tw:border-yellow-300 tw:bg-yellow-100 tw:px-4 tw:py-2
    tw:text-center tw:text-sm tw:text-black
  "
>
  <%= translation(".label") %>
  <% if @pr_number %>
    &mdash;
    <a
      class="tw:underline"
      href="<%= pr_url %>"
      target="_blank"
      rel="noopener"
    >
      <%= translation(".pr_link", number: @pr_number) %>
    </a>
  <% end %>
  &middot; <%= translation(".disclaimer") %>
  &middot;
  <%= link_to translation(".letter_opener_link"), "/letter_opener", class: "tw:underline" %>
</div>
