!!!
%html
  %head
    = header_tags
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,700' rel='stylesheet' type='text/css'>
    = stylesheet_pack_tag "application_css"
  %body{ id: page_id, class: "organized-virtual-line-body"  }
    -# TODO translations
    :javascript
      window.customers = #{@serialized_appointments.to_json};
    = javascript_pack_tag "operate_line/show"
    #organized-virtual-line-wrapper
      - if @appointments.any?
        %h2
          %a{ href: "#", "data-toggle" => "modal", "data-target" => "#setNextTicketModal" }
            Next
            = "ticket".pluralize(current_location.appointment_configuration.customers_on_deck_count)
          to help
      - else
        %h2.text-center
          %a{ href: "#", "data-toggle" => "modal", "data-target" => "#setNextTicketModal"  }
            Set first ticket in line

      = render "customer_template"

      #nextTicketsToHelp

    .modal.fade#setNextTicketModal{ role: "dialog" }
      .modal-dialog{ role: "document" }
        .modal-content
          .modal-header
            %h5.modal-title
              Set next ticket
            %button.close{ type: "button", "data-dismiss" => "modal", "aria-label" => "Close" }
              %span{ "aria-hidden" => "true"} &times;
          .modal-body
            = form_tag organization_line_path(current_location&.id, organization_id: current_organization.to_param), action: "update", method: "PATCH" do |f|
              .row
                .form-group.col-6
                  = label_tag :next_ticket_number, "Next ticket number"
                  = number_field_tag :next_ticket_number, nil, required: true, class: "form-control"
                .form-group.col-6.text-center
                  %label.d-block &nbsp;
                  = submit_tag "Set next ticket", class: "btn btn-success"
