%h2.header-font-uncap
  = translate_with_args(".10_tips_for_getting_started_in_your_town")

%ol
  %li= translate_with_args(".be_a_part_of_your_local_cycling_culture")
  %li= translate_with_args(".have_twitter_connect")
  %li= translate_with_args(".post_and_rt_stolen_bikes")
  %li= translate_with_args(".find_and_talk_to_local_bloggers")
  %li= translate_with_args(".engage_your_local_city_and_cops")
  %li= translate_with_args(".seek_out_local_facebook_groups")
  %li= translate_with_args(".promote_bike_index")
  %li= translate_with_args(".encourage_people_to_watch")
  %li= translate_with_args(".grow_your_network_via_bike")
  %li= translate_with_args(".ride_your_bike_express_your")
