%h2.header-font-uncap
  = t(".10_tips_for_getting_started_in_your_town")

%ol
  %li= t(".be_a_part_of_your_local_cycling_culture")
  %li= t(".have_twitter_connect")
  %li= t(".post_and_rt_stolen_bikes")
  %li= t(".find_and_talk_to_local_bloggers")
  %li= t(".engage_your_local_city_and_cops")
  %li= t(".seek_out_local_facebook_groups")
  %li= t(".promote_bike_index")
  %li= t(".encourage_people_to_watch")
  %li= t(".grow_your_network_via_bike")
  %li= t(".ride_your_bike_express_your")
