.row
  .col-lg-10.col-sm-12
    %h1 Organization Features
  .col-lg-2.col-sm-12
    = link_to "New Feature", new_admin_organization_feature_url, class: "btn btn-success float-right"



%h4
  #{@organization_features.count} total

.full-screen-table
  %table.table.table-striped.table-bordered
    %thead.thead-light
      %th.small
        = sortable "created_at", "Added"
      %th
        = sortable "name"
      %th
        = sortable "kind"
      %th
        = sortable "amount_cents", "Amount"
    %tbody
      - @organization_features.each do |organization_feature|
        %tr
          %td
            %small.convertTime
              = l organization_feature.created_at, format: :convert_time
          %td
            = link_to organization_feature.name, edit_admin_organization_feature_url(organization_feature)
            - if organization_feature.description.present?
              %br
              %small= organization_feature.description
            - if organization_feature.details_link.present?
              %br
              %small= link_to organization_feature.details_link, organization_feature.details_link

            - if organization_feature.feature_slugs_string.present?
              %br
              %small.less-strong
                %span
                  Feature slugs:
                  %span{style: "color: purple;"}
                    = organization_feature.feature_slugs_string

          %td
            %small
              = organization_feature.kind.humanize
          %td
            = organization_feature.amount_formatted
