-# somewhat gross hack to make it possible to show serial_display for the current user
- skip_cache ||= false

- cache_unless(skip_cache, bike) do
  %li.bike-box-item
    %a.bike-list-image{ href: bike_url(bike), class: ('hover-expand' if bike.thumb_path) }
      = bike.thumb_image
    .bike-information{ class: ('multi-attr-lists' if bike.current_stolen_record.present?) }
      %h5.title-link
        %a{ href: bike_url(bike) }
          %strong
            = bike.type unless bike.type == 'bike'
            = [bike.year, bike.mnfg_name].reject(&:blank?).join(' ')
          = bike.frame_model.to_s
      %ul.attr-list
        %li
          %strong.attr-title #{t(".serial")}:
          - if !skip_cache
            = bike.serial_display
          - else # Show the user specific info
            = bike.serial_display(current_user)
            - if bike.serial_hidden?
              %em.small.less-strong
                - if bike.authorized?(current_user)
                  = t(".hidden_for_unauthorized_users")
                = t(".hidden_because_status", bike_type: bike.type, status: bike.status_humanized_translated)
        = attr_list_item(bike.frame_colors.to_sentence, t(".primary_colors"))
      - if bike.current_stolen_record.present?
        %ul.attr-list
          %li
            = bike.status_html
            %span.convertTime
              = l bike.current_stolen_record.date_stolen, format: :convert_time
          = attr_list_item(bike.current_stolen_record.address_location(include_all: true), t(".location"))
      - if bike.current_impound_record.present?
        %ul.attr-list
          %li
            = bike.status_html
            %span.convertTime
              = l bike.current_impound_record.impounded_at, format: :convert_time
          = attr_list_item(bike.current_impound_record.address, t(".location"))
