%li{ class: bike.stolen && "blist-stolen" }
  = bike.list_image(target)
  .blist-primary-group
    .dl-holder
      %a.blist-link{ href: bike.list_link_url(target) }
        %dl.dl-horizontal
          %dt Serial
          %dd.serial-text
            = bike.serial_number
        %dl.dl-horizontal
          = bike.dl_list_item(bike.title, bike.type.titleize)
        
  .blist-info-group
    .dl-holder
      %dl.dl-horizontal
        = bike.dl_list_item(bike.ass_name("primary_frame_color"), "Color")
        = bike.dl_from_attribute("frame_manufacture_year", "Year")
      %dl.dl-horizontal
        = bike.dl_list_item(bike.ass_name("frame_material"), "Material")        
        = bike.dl_list_item(bike.ass_name("rear_wheel_size"), "Wheel size")

  - if bike.stolen and bike.stolen_records.any?
    .blist-stolen-info
      .dl-holder
        %dl.dl-horizontal
          = bike.dl_list_item(bike.current_stolen_record.date_stolen.strftime("%m-%d-%Y"), "Stolen on")
        %dl.dl-horizontal
          = bike.dl_list_item(bike.short_address(bike.current_stolen_record), "From")
  - pdf ||= false
  - if pdf
    = link_to "Printable registration", pdf_bike_url(bike), class: 'printable-registration'