%section.full-screen-table
  %table#org-bikes-table.table.table-striped.table-bordered
    %thead
      %th
        Date indexed
      %th
        Manufacturer
      %th.medium-screens
        Model
      %th.large-screens
        Color&nbsp;&nbsp;
      %th.medium-screens
        Sent to
      %th.large-screens
        view PDF

    %tbody
      - @bikes.each do |bike|
        %tr
          %td
            - if bike.created_at.today?
              %span.hidden
                = bike.created_at.strftime("%-m.%-d.%Y %-H.%M")
              Today at #{bike.created_at.strftime("%-I %p")}
            - elsif Date.yesterday().beginning_of_day() <= bike.created_at
              %span.hidden
                = bike.created_at.strftime("%-m.%-d.%Y %-H.%M")
              Yesterday at #{bike.created_at.strftime("%-I %p")}
            - else
              %span.hidden
                = bike.created_at.strftime("%-m.%-d.%Y %-H.%M")
              = bike.created_at.strftime("%-m/%-d/%Y")
          %td
            = link_to bike.manufacturer_name, bike.list_link_url(target)
          %td.medium-screens
            = bike.frame_model if bike.frame_model.present?
          %td.large-screens
            = bike.primary_frame_color.name
          %td.medium-screens
            - if bike.created_with_token
              %span.less-strong
                Free bike token
            - else
              = bike.owner_email
          %td.large-screens
            = link_to "PDF", pdf_bike_url(bike)
