- cache(bike_u) do
  %li
    .bike-box
      %a.bg-link{ href: bike_u.list_link_url(target) }
      .information-holder
        .bike-information
          %h3
            = link_to bike_u.title_u, bike_u.list_link_url(target)
          %p
            %span.attr-title
              = t(".serial")
            %span.serial-text
              = bike_u.serial_display
          %p
            %span.attr-title= t(".colors")
            = bike_u.frame_colors.to_sentence
        - if bike_u.stolen
          .theft-information
            %h3
              = t(".status")
              - if bike_u.recovered
                = t(".recovered_found")
              - else
                = t(".stolen")
            - if bike_u.current_stolen_record.present?
              %p
                %span.attr-title
                  = t(".from")
                = bike_u.short_address(bike_u.current_stolen_record)
              %p
                %span.attr-title
                  = t(".stolen_on")
                = bike_u.current_stolen_record.date_stolen.strftime("%Y-%m-%d")

      %a.image-holder{ href: bike_url(bike_u) }
        = bike_u.thumb_image
