- if @bike.stolen && session[:recovery_link_token].present?
  -# Delete token so modal doesn't keep rendering
  - stolen_record = StolenRecord.find_matching_token(bike_id: @bike.id, recovery_link_token: session.delete(:recovery_link_token))

  - if stolen_record.present?
    -# Similar form exists in edit_report_stolen / edit_report_recovered
    - modal_title = "Mark your #{@bike.type} recovered!"
    - modal_body = capture_haml do
      .modal-body
        %p
          = t(".please_tell_us_how_you_got_your_bike", bike_type: @bike.type)
          %br
          %strong
            = t(".its_also_how_we_get_better_at_recovering")

        = form_for @stolen_record, url: bike_recovery_path(bike_id: @bike.id) do |f|
          = hidden_field_tag :token, stolen_record.recovery_link_token
          .form-group
            = f.label :recovered_description, t(".how_did_you_get_it_back")
            = f.text_area :recovered_description, class: 'form-control'
          .form-group
            = f.label :date_recovered, t(".when_did_you_recover_it"), class: 'form-well-label'
            - f.object.date_recovered = TimeParser.round(f.object.date_recovered || Time.current)
            = f.hidden_field :timezone, value: "", class: "hiddenFieldTimezone"
            = f.datetime_local_field :date_recovered, max: Time.current.end_of_day, step: 3600, required: true, class: 'form-control'
          .checkbox
            %label
              = f.check_box :index_helped_recovery
              = t(".did_we_help")
          .checkbox
            %label
              = f.check_box :can_share_recovery
              = t(".can_we_share_your_story")
          .modal-btn-footer
            .row
              .col-xs-6.col-xs-push-6
                = submit_tag t(".mark_recovered"), class: 'btn btn-success'
              .col-xs-6.col-xs-pull-6
                %button.btn.btn-secondary{ 'data-dismiss' => 'modal', type: 'button' }
                  = t(".nevermind")


- if current_user.present?
  - if @bike.claimable_by?(current_user)
    - modal_title = t(".your_bike", bike_type: @bike.type)
    - modal_body = capture_haml do
      .modal-body
        %p= t(".were_honored_to_have_your_bike", bike_type: @bike.type)
        %p= t(".claim_it_so_you_can_update_your_listing")
      .modal-btn-footer
        .row
          .col-xs-6.col-xs-push-3
            = link_to t(".claim_bike_type", bike_type: @bike.type), ownership_path(@bike.current_ownership), class: "btn btn-success"

  - elsif @bike.authorized_for_user?(current_user) && !@bike.authorized_by_organization?(u: current_user)
    .bike-overlay-wrapper
      .bike-edit-overlay
        %p
          -# If the bike user is actually the current bike owner, do this
          - if @bike.user == current_user
            - if @bike.user_hidden
              %strong= t(".this_bike_type_is_hidden", bike_type: @bike.type)
              = t(".no_one_can_see_it_but_you")

            - if @bike.user?
              - if @bike.recovered
                = t(".thank_you_for_recovering_this_bike_type", bike_type: @bike.type)
              - elsif @bike.stolen
                = t(".were_really_bummed_your_bike_type_was_stol", bike_type: @bike.type)
              - else
                = t(".whoa_this_awesome_bike_type_is_yours", bike_type: @bike.type)

              - if @bike.public_images.any?
                = t(".add_some_more_information_about_it")
              - else
                - if @bike.stolen
                  = t(".add_a_picture_so_people_know_what_to_look")
                - else
                  = t(".add_a_picture_of_it_so_everyone_can_admir")
          - else # The bike has been sent to someone other than the current_user
            = t(".you_sent_this_bike_html", bike_type: @bike.type, owner_email: @bike.current_ownership.owner_email)
          = link_to  t(".edit"), edit_bike_path, class: "btn btn-secondary"

- if modal_title.present?
  -# This is for stolen modal or claim modal
  = render partial: 'shared/modal', locals: { title: modal_title, id: 'initial-open-modal', modal_body: modal_body }
