%li{ class: bike.stolen && "blist-stolen" }
  .blist-image-holder
    = bike.thumb_image
  %h3
    = link_to bike.title, bike.list_link_url(target)
  .blist-primary-group
    .dl-holder
      %dl.dl-horizontal
        %dt Serial
        %dd.serial-text
          - if bike.recovered
            Serial hidden
          - else 
            = bike.serial_number
        
        = bike.dl_list_item(bike.frame_colors.to_sentence, "Colors")
        
  
        

  - if bike.stolen and bike.stolen_records.any?
    .blist-stolen-info
      .dl-holder
        %dl.dl-horizontal
          - date_label = "Stolen"
          - date_label = "Recovered" if bike.recovered
          = bike.dl_list_item(bike.current_stolen_record.date_stolen.strftime("%m-%d-%Y"), date_label)
        %dl.dl-horizontal
          = bike.dl_list_item(bike.short_address(bike.current_stolen_record), "From")
  - pdf ||= false
  - if pdf
    = link_to "Printable registration", pdf_bike_url(bike), class: 'printable-registration'