%li{ class: bike.stolen && "blist-stolen" }
  %a.blist-image-holder{href: bike_url(bike) }
    - if bike.thumb_path.present?
      %img{ src: bike.thumb_path, alt: bike.title } 
  %h3
    = link_to bike.title_string, bike.list_link_url(target)
  .blist-primary-group
    .dl-holder
      %dl.dl-horizontal
        %dt Serial
        %dd.serial-text
          - if bike.recovered
            Serial hidden
          - else 
            - if bike.serial_number.match('absent')
              - if bike.stolen
                Unknown
              - else
                Has no serial
            - else
              = bike.serial_number
        
        = bike.dl_list_item(bike.frame_colors.to_sentence, "Colors")
        
  
        

  - if bike.stolen and bike.current_stolen_record.present?
    .blist-stolen-info
      .dl-holder
        %dl.dl-horizontal
          - date_label = "Stolen"
          - date_label = "Recovered" if bike.recovered
          = bike.dl_list_item(bike.current_stolen_record.date_stolen.strftime("%m-%d-%Y"), date_label)
        %dl.dl-horizontal
          = bike.dl_list_item(bike.short_address(bike.current_stolen_record), "From")
  - pdf ||= false
  - if pdf
    = link_to "Printable registration", pdf_bike_url(bike), class: 'printable-registration'