-# somewhat gross hack to make it possible to show serial_display for the current user
- skip_cache ||= false

%li.bike-box-item
  %a.bike-list-image{ href: bike.html_url, class: ('hover-expand' if bike.thumb_path) }
    = bike_thumb_image(bike)
  .bike-information{ class: ('multi-attr-lists' if bike.current_stolen_record.present?) }
    %h5.title-link
      %a{ href: bike.html_url }
        %strong
          = [bike.year, bike.mnfg_name].reject(&:blank?).join(' ')
        = bike.frame_model.to_s
        - unless bike.type == 'bike'
          %em.less-strong= bike.type
    %ul.attr-list
      %li
        %strong.attr-title #{t(".serial")}:
        - if !skip_cache
          = render_serial_display(bike)
        - else # Show the user specific info
          = render_serial_display(bike, current_user)
      = attr_list_item(bike.frame_colors.to_sentence, t(".primary_colors"))
    - if bike.occurred_at.present?
      %ul.attr-list
        %li
          #{bike_status_span(bike)}:
          %span.convertTime
            = l bike.occurred_at, format: :convert_time
        = attr_list_item(bike.current_record.address(country: [:iso]), t(".location"))
