%section.full-screen-table
  %table#user-bikes-table.table.table-striped.table-bordered
    %thead
      %th
        = t(".date_indexed")
      %th
        = t(".manufacturer")
      %th.medium-screens
        = t(".model")
      %th.large-screens
        = t(".color")
      %th.large-screens
        = t(".created_by")

    %tbody
      - pdf ||= false
      - @bikes.each do |bike|
        %tr
          %td
            .less-strong-hold
              - if bike.created_at.today?
                %span.hidden
                  = bike.created_at.strftime("%-m.%-d.%Y %-H.%M")
                = t(".today_at_bikecreated_atstrftimei_p", bikecreated_atstrftimei_p: bike.created_at.strftime('%-I %p'))
              - elsif Date.yesterday().beginning_of_day() <= bike.created_at
                %span.hidden
                  = bike.created_at.strftime("%-m.%-d.%Y %-H.%M")
                = t(".yesterday_at_bikecreated_atstrftimei_p", bikecreated_atstrftimei_p: bike.created_at.strftime('%-I %p'))
              - else
                %span.hidden
                  = bike.created_at.strftime("%-m.%-d.%Y %-H.%M")
                = bike.created_at.strftime("%-m/%-d/%Y")
              - if pdf
                = link_to t(".pdf"), pdf_bike_url(bike), class: 'less-strong-right'

          %td
            = link_to bike.mnfg_name, bike.list_link_url(target)
          %td.large-screens
            = bike.frame_model if bike.frame_model.present?
          %td.large-screens
            = bike.primary_frame_color.name
          %td.large-screens
            - if bike.creator_id.present?
              - u = User.find(bike.creator_id)
              - if u.name.present?
                = u.name
              - else
                = u.email
            - else
              = t(".sorry_were_not_sure_who_created_this")
