- cache(bike) do
  %li.bike-box-item
    %a.bike-list-image{ href: bike_url(bike), class: ('hover-expand' if bike.thumb_path) }
      = bike.thumb_image
    .bike-information{ class: ('multi-attr-lists' if bike.current_stolen_record.present?) }
      %h5.title-link
        %a{ href: bike_url(bike) }
          %strong
            = bike.type unless bike.type == 'bike'
            = [bike.year, bike.mnfg_name].reject(&:blank?).join(' ')
          = bike.frame_model.to_s
      %ul.attr-list
        = bike.attr_list_item(bike.serial_display, t(".serial"))
        = bike.attr_list_item(bike.frame_colors.to_sentence, t(".primary_colors"))
      - if bike.current_stolen_record.present?
        %ul.attr-list
          %li
            %span.attr-title
              = bike.recovered ? t(".recovered") : "Stolen"
            %span.convertTime
              = l bike.current_stolen_record.date_stolen, format: :convert_time
          = bike.attr_list_item(bike.short_address(bike.current_stolen_record), t(".location"))
