.container.mb-4
  .card
    .card-block
      .card-body
        %h3.header-font-alt
          = current_organization.name
          access
        - if current_organization.message_kinds.any?
          %p
            Send
            - current_organization.message_kinds.each do |kind|
              %a.btn.btn-secondary.openMessageModal{ "data-kind" => kind }
                - if kind == "geolocated_messages"
                  GeoMessage
                - else
                  #{kind.humanize}

- modal_body = capture_haml do
  .modal-body
    = form_for OrganizationMessage.new(bike_id: @bike.id), url: organization_messages_path(organization_id: current_organization) do |f|
      = f.hidden_field :bike_id
      = f.hidden_field :kind_slug
      = f.hidden_field :latitude
      = f.hidden_field :longitude
      = f.hidden_field :accuracy
      .form-group
        = f.label :body, "Additional message"
        = f.text_area :body, class: 'form-control'
      .modal-btn-footer
        = submit_tag "Send message", class: "btn btn-success", id: "submitMessageBtn", disabled: true
        %span.less-strong#waitingOnLocationText
          Waiting on device location

= render partial: "/shared/modal", locals: { title: "Message #{@bike.type} owner", modal_body: modal_body, id: "organizationMessageModal" }

