<% if @bike.public_images.any? %>
  <div class="image-holder <%= "just1photo" if @bike.public_images.count == 1 %>" id="selected-photo">
    <%= link_to image_tag(@bike.public_images.first.image_url(:large), alt: "Bike photo", id: "i|#{@bike.public_images.first.listing_order}"), @bike.public_images.first.image_url, target: "_blank", class: "current-photo", id: "image#{ @bike.public_images.first.id}" %>
  </div>
  <% if @bike.public_images.count > 1 %>
    <div id="thumbnail-photos" class="photo-list">
      <ul id="thumbnails">
        <% if @bike.video_embed_src.present? %>
          <li>
            <a href="#" class="clickable-image" data-link="<%= @bike.video_embed_src %>" data-id="video_embed">
              <%= image_tag ("/assets/video_play_button.png"), alt: "Bike Video", class: "video-overlay" %>
              <%= image_tag @bike.public_images.first.image.url(:small) %>
            </a>
          </li>
        <% end %>

        <% @bike.public_images.each do |public_image| %>
          <li>
            <a href="#" class="clickable-image" data-img="<%= public_image.image.url(:large) %>" data-link="<%= public_image.image.url %>" data-id="image<%= public_image.id %>">
              <%= image_tag public_image.image.url(:small), alt: "#{public_image.name}", id: "i|#{public_image.listing_order}" %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% elsif @bike.stock_photo_url.present? %>
  <div class="image-holder just1photo" id="selected-photo">
    <%= link_to image_tag(@bike.stock_photo_url, alt: "Bike photo", id: "i|0"), @bike.stock_photo_url, target: "_blank", class: "current-photo" %>
    <span class="stock-photo">manufacturer photo</span>
  </div>
<% else %>
  <div class="image-holder empty" id="selected-photo">
    <img src="/assets/bike_photo_placeholder.png" alt="No images uploaded!" />
    <span>no image</span>
  </div>
<% end %>

