.bike-show-stolen.padded.margined
  - if @stolenRecord.latitude.present? and @stolenRecord.longitude.present?
    %h2
      Last seen at:
    .stolen-map
      = render "stolen_map"
  %ul.attr-list
    - if @bike.recovered && @bike.creation_organization.present?
      %dt
        Recovered by
      %dd
        = @bike.creation_organization.name
      - if @stolenRecord.creation_organization.present?
        - if @stolenRecord.creation_organization.locations.present? && @stolenRecord.creation_organization.locations.first.phone.present?
          %dt
            #{@stolenRecord.creation_organization.name} phone
            
          %dd
            %a{ href: "tell:#{@stolenRecord.phone}" }
              = @stolenRecord.creation_organization.locations.first.display_phone

    - if @bike.phoneable_by(current_user) && @stolenRecord.phone.present?
      %dt.stolen-color
        Phone number
      %dd
        %a{ href: "tell:#{@stolenRecord.phone}" }
          = @stolenRecord.display_phone
      - if @stolenRecord.secondary_phone.present?
        %dt
          Secondary phone
        %dd
          %a{ href: "tell:#{@stolenRecord.secondary_phone}" }
            = @stolenRecord.display_phone(@stolenRecord.secondary_phone)
    = @bike.dl_list_item(@stolenRecord.address, "Location")
    = @bike.dl_list_item(@stolenRecord.locking_description, "Locking description")
    = @bike.dl_list_item(@stolenRecord.lock_defeat_description, "Locking circumvented")
    = @bike.dl_list_item(@stolenRecord.date_stolen.strftime("%m-%d-%Y"), "Date stolen")
    = @bike.dl_list_item(@stolenRecord.theft_description, "Description")
    = @bike.dl_list_item(@stolenRecord.police_report_number, "Police report #")
    = @bike.dl_list_item(@stolenRecord.police_report_department, "Department & city")

.bike-show-stolen-contact#stolen_bike_owner_contact
  %h3
    Know something about this #{@bike.type}?
    %span.stolen-color
      Contact the owner now!
  - if @bike.recovered
    Is this your bike? Send proof of ownership (such as the bike's serial number or a photo of you with the bike)
  - else
    %p
      If you are contacting this person about an ad you found online <strong>include a link to the ad</strong>.
  - if current_user.present?  
    = form_for @stolenNotification do |f|
      = f.hidden_field :bike_id, value: @bike.id
      = f.text_area :message, required: true, placeholder: "Send a message to the owner of this #{@bike.type}! Help them get their #{@bike.type} back!", rows: 3, class: 'form-control'

      .send-message
        = f.submit "Send message", class: 'btn btn-primary btn-lg'
        - if @bike.phoneable_by(current_user)
          %p
            %strong
              Owner's phone number:
            
            %a{ href: "tell:#{@stolenRecord.phone}" }
              = @stolenRecord.phone


  - else
    .stolen-contact
      %h3

        = link_to "To contact the owner, sign in", new_session_url(return_to: "#{bike_url(@bike)}#stolen_bike_owner_contact")

        / = render 'sessions/form'