-# We only have recommendations for reporting your theft to police if your bike is reported stolen in the Netherlands

- netherlands = Country.find_by_iso("NL")
- if stolen_record.country_id == netherlands.id
  %li{ class: police_report_present ? "completed-item" : "" }
    %span.checklist-checkbox
      = "&#10003;".html_safe if police_report_present
    %span.checklist-text
      = t(".nl_file_police_report")
    - unless police_report_present
      %ul
        %li
          %span.checklist-uncheckbox
          %strong
            = t(".nl_online")
          = link_to t(".nl_website_link_text"), "https://www.politie.nl/aangifte-of-melding-doen/voorbereiding-aangifte/diefstal-fiets.html", target: "_blank"
          %em
            = t(".nl_digid_required")
        %li
          %span.checklist-uncheckbox
          %strong
            = t(".nl_phone")
          = t(".nl_phone_report")
        %li
          %span.checklist-uncheckbox
          %strong
            = t(".nl_person")
          = t(".nl_person_report")
          = link_to "www.politie.nl/mijn-buurt/politiebureaus", "https://www.politie.nl/mijn-buurt/politiebureaus"
