<div class="map-holder col-md-8">
  <div id="map_canvas"></div>
</div>

<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
<%= ENV['MAPBOX_MAPPING'] %>
<%= Rails.env %>

<div id='map' style='width: 400px; height: 300px;'></div>
<script>
  mapboxgl.accessToken = "<%= ENV['MAPBOX_MAPPING'] %>";
  var map = new mapboxgl.Map({
    container: "map_canvas",
    style: "mapbox://styles/mapbox/streets-v11", // stylesheet location
    center: [<%= @bike.current_stolen_record.latitude %>, <%= @bike.current_stolen_record.longitude %>], // starting position [lng, lat]
    zoom: 13
  });
</script>

