- first_form_well ||= false

- if theft_alerts.present?
  .form-wrap{ class: first_form_well ? "" : "secondary-form-wrap" }
    .form-well-form-header-always-visible
      %h3
        = t(".existing_theft_alerts")
    .row
      .col-sm-12
        %table.table.table-bordered{ style: "background: #fff;" }
          %thead.small-header
            %tr
              %th= t(".created")
              %th= t(".plan")
              %th= t(".status")
              %th= t(".start")
              %th= t(".end")

          %tbody
            - theft_alerts.each do |alert|
              %tr
                %td
                  %span.convertTime
                    = l(alert.created_at, format: :convert_time)
                %td= alert.theft_alert_plan.name
                %td= alert.status
                %td
                  - if alert.begin_at.present?
                    %span.convertTime= l(alert.begin_at, format: :convert_time)
                %td
                  - if alert.end_at.present?
                    .convertTime= l(alert.end_at, format: :convert_time)
