= form_for @bike, multipart: true, html: { class: 'primary-edit-bike-form' } do |f|
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: '/bikes/edit_primary_menu'
      .col-md-8.form-well
        .form-wrap
          .edit-bike-form-header
            %h3
              = @edit_templates[@edit_template]


          .related-fields.row
            .form-group
              = f.label :serial_number, class: 'form-well-label'
              %p.serial-and-manufacturer-input
                = @bike.serial_number
              .submit-correction-block
                %a{data: { toggle: 'modal', target: '#serial-correction' } }
                  Submit serial correction
            .form-group
              = f.label :manufacturer, class: 'form-well-label'
              %p.serial-and-manufacturer-input
                = @bike.manufacturer_name
              .submit-correction-block
                %a{data: { toggle: 'modal', target: '#manufacturer-correction' } }
                  Submit Manufacturer Correction

          .form-group.row.fancy-select.unfancy.unnested-field
            = f.label :year, 'Model year', class: 'form-well-label'
            .form-well-input
              - years = (1900..Time.now.year+1).to_a.reverse.map { |i| [i,i] }
              = f.select :year, years, prompt: "Unsure or unknown", selected: Time.now.year
            .right-input-help
              %label
                %input#bike_unknown_year{ type: 'checkbox', tabindex: -1 }
                Unknown year

          .form-group.row.unnested-field
            = f.label :frame_model, class: 'form-well-label'
            .form-well-input
              = f.text_field :frame_model, class: 'form-control'

          = render partial: '/bikes/bike_fields/revised_colors', locals: { f: f }

          .form-group.row.unnested-field
            = f.label :frame_material_id, 'Main frame material', class: 'form-well-label'
            .form-well-input.fancy-select-placeholder.unfancy
              = f.collection_select(:frame_material_id, FrameMaterial.all, :id, :name, prompt: 'Choose material')

          .row.related-fields
            .form-group.frame-sizes{ class: ('unexpanded-unit-size' unless %w(cm in).include?(@bike.frame_size_unit)) }
              %label.form-well-label
                Frame size
              .form-well-input
                .ordinal-sizes.btn-group{ role: 'group', 'aria-label' => 'Size', data: { toggle: 'buttons' } }
                  - %w(xs s m l xl).each do |size|
                    - active = (@bike.frame_size == size)
                    %label.btn.btn-secondary{ class: ('active' if active), data: { size: size } }
                      %input{ type: 'radio', name: 'frame_size', autocomplete: 'off', checked: active }
                      = size.upcase
              .right-input-help
                .frame-size-units.btn-group{ role: 'group', 'aria-label' => 'Size', data: { toggle: 'buttons' } }
                  - %w(cm in).each do |unit|
                    - active = (@bike.frame_size_unit == unit)
                    %label.btn.btn-secondary{ class: ('active' if active), data: { size: unit } }
                      %input{ type: 'radio', name: 'frame_size', autocomplete: 'off', checked: active }
                      = unit.upcase
            .form-group.hidden-other.frame-size-other
              = f.label :frame_size, 'Seat tube length', class: 'form-well-label'
              .form-well-input
                = f.hidden_field :frame_size_unit
                = f.hidden_field :frame_size
                = f.number_field :frame_size_number, class: 'form-control'

          .form-group.row.unnested-field
            = f.label :paint_name, 'Paint description', class: 'form-well-label'
            .form-well-input
              = f.text_field :paint_name, class: 'form-control'

          .form-group.row.unnested-field
            = f.label :name, 'Bike Name', class: 'form-well-label'
            .form-well-input
              = f.text_field :name, class: 'form-control'

          .form-group.row.unnested-field
            = f.label :description, 'General description', class: 'form-well-label form-well-label-large-input'
            .form-well-input-large
              = f.text_area :description, rows: 3, class: 'form-control', placeholder: 'Tell us about your bike!'

          .form-group.row.unnested-field
            = f.label :additional_registration, class: 'form-well-label'
            .form-well-input
              = f.text_field :additional_registration, class: 'form-control'

          .form-group.row.unnested-field.no-divider-row
            = f.label :zipcode, class: 'form-well-label'
            .form-well-input
              = f.text_field :zipcode, class: 'form-control', placeholder: 'zip code'

- serial_correction_body = capture_haml do
  = form_tag do |t|
    .modal-body
      = render partial: '/shared/alert', locals: { body: 'Please fill in both fields', class_names: 'currently-hidden' }
      = hidden_field_tag :serial_update_bike_id, @bike.id
      .form-group
        %label{ for: :serial_update_serial }
          Updated serial
        = text_field_tag :serial_update_serial, '', class: 'form-control'
      .form-group
        %label{ for: :serial_update_reason }
          Reason for update
        = text_area_tag :serial_update_reason, '', class: 'form-control'
    .modal-btn-footer
      .row
        .col-xs-6.col-xs-push-6
          = submit_tag 'Submit update', class: 'btn btn-primary'
        .col-xs-6.col-xs-pull-6
          %button.btn.btn-secondary{ 'data-dismiss' => 'modal', type: 'button' }
            Nevermind
= render partial: '/shared/modal', locals: { title: 'Update serial number', id: 'serial-correction', modal_body: serial_correction_body }

- manufacturer_correction_body = capture_haml do
  = form_tag do |t|
    .modal-body
      = render partial: '/shared/alert', locals: { body: 'Please fill in both fields', class_names: 'currently-hidden' }
      = hidden_field_tag :manufacturer_update_bike_id, @bike.id
      .form-group
        %label{ for: :manufacturer_update_manufacturer }
          Manufacturer
        = text_field_tag :manufacturer_update_manufacturer, '', class: 'form-control unfancy'
      .form-group
        %label{ for: :manufacturer_update_reason }
          Reason for update
        = text_area_tag :manufacturer_update_reason, '', class: 'form-control'
    .modal-btn-footer
      .row
        .col-xs-6.col-xs-push-6
          = submit_tag 'Submit update', class: 'btn btn-primary'
        .col-xs-6.col-xs-pull-6
          %button.btn.btn-secondary{ 'data-dismiss' => 'modal', type: 'button' }
            Nevermind
= render partial: '/shared/modal', locals: { title: 'Update manufacturer', id: 'manufacturer-correction', modal_body: manufacturer_correction_body }
