.primary-edit-bike-form
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: "/bikes/edit_primary_menu", locals: { is_disabled: true }

      .col-md-8.form-well
        .form-wrap{style: "padding-bottom: 20px;"}
          .form-well-form-header
            / Activate Bike Index Alert
            %h3.text-center.w-100
              = @edit_templates[@edit_template]

          = form_tag edit_bike_url(@bike), method: :get, id: "js-select-plan-form" do
            = hidden_field_tag :page, :alert_purchase
            = hidden_field_tag :selected_plan_id
            .row
              %h3.text-center.w-100 Select Plan
            .row
              = render @theft_alert_plans,
                selected_plan: @selected_theft_alert_plan,
                preferred_plan: @theft_alert_plans.max_by(&:amount_cents)
            .row
              .text-center.w-100.mt-2
                %button.btn.btn-lg.btn-primary Select Plan

        - if @theft_alerts.present?
          .row &nbsp;
          .row
            .col-md-12
              = render partial: "theft_alerts_table", locals: { theft_alerts: @theft_alerts }
