- if @bike.errors.any?
  #alert-block
    .alert.alert-error
      %a.close{"data-dismiss" => "alert"} ×
      %h4
        Please fix the following 
        = pluralize(@bike.errors.count, "error")
      %ul
        - @bike.errors.full_messages.each do |msg|
          %li 
            - if msg == "Components ctype can't be blank" # TODO: Get the l18 error messages working. This is a shit solution.
              Component type can't be blank
            - else
              = msg

%header.with-subtitle.bike-edit-head
  %h1
    Editing
    - if @bike.current_owner_exists
      your
      = @bike.title
        
    - else
      the #{@bike.manufacturer_name} you sent
      %span.overflow-text
        #{@bike.owner_email}
  %p
    = link_to "View the #{@bike.type}", bike_url(@bike)
#root_url.hidden{data: { url: ENV['BASE_URL'] }}
.edit-bike-container#chosen-container{ class: ("stolen-background" if @bike.stolen)}
  #edit-bike-form
    %span#clearing_span
    .edit-bike-fields#edit_photos
      .input-group.form-head
        %h2
          Add photos
          %span.subheading-text
            Drag the uploaded photos to rearrange the order in which they display.
      .add-bike-photos
        %ul#public_images{ :"data-order-url" => order_public_images_url }
          - if @bike.public_images
            = render partial: "/public_images/public_image", collection: @bike.public_images, as: :public_image
            
        - if @bike.public_images.length < 49
          %section
            = render "public_images/new_form"

        - else
          %section
            .alert-info
              %p
                You've uploaded your maximum number of images for this #{@bike.type}.
              %p
                We are working on expanding this limit soon!

    = form_for @bike, html: { class: "form-horizontal bikeedit-form-grab" } do |f|
      %nav#edit-menu
        %ul.edit-selection-select.nav
          %li
            %a{ href: "#edit_photos" }
              Photos
              %i.icon-chevron-right
          - if @bike.stolen
            %li
              %a{ href: "#edit_stolen" }
                Stolen information
                %i.icon-chevron-right
          %li
            %a{ href: "#edit_frame" }
              Frame
              %i.icon-chevron-right
          %li
            %a{ href: "#edit_wheels" }
              Wheels
              %i.icon-chevron-right
          %li
            %a{ href: "#edit_drivetrain" }
              Drivetrain 
              / and brakes
              %i.icon-chevron-right
          %li
            %a{ href: "#edit_additionals" }
              Additional information
              %i.icon-chevron-right
          
          %li
            %a{ href: "#edit_ownership" }
              - if @bike.stolen
                Mark bike found!
              - else
                Change owner or delete
              %i.icon-chevron-right
          %li.save
            = submit_tag "Save changes", class: "button-green submit-bike-update"

      - if @bike.stolen and @bike.find_current_stolen_record.present?
        = f.fields_for :stolen_records do |builder|
          - if builder.object.current
            = render partial: 'bikes/bike_fields/stolen_record', locals: { f: builder, bike: f }
          - else
            / Don't put anything
          

      = render partial: 'bikes/bike_fields/frame', locals: { f: f }
      = render partial: 'bikes/bike_fields/wheels', locals: { f: f }

      = render partial: 'bikes/bike_fields/drivetrain_and_brakes', locals: { f: f }
      = render partial: 'bikes/bike_fields/additional_parts', locals: { f: f }

      .edit-bike-fields#edit_ownership
        %header
          %h2
            - if @bike.stolen
              Mark #{@bike.type} recovered
            - else
              Mark stolen or send #{@bike.type} to a new owner
        #bike-stolen-check.hidden
          = f.check_box :stolen
        
        - if @bike.current_owner_exists && @bike.stolen
          .input-group
            .control-group
              .edit-bike-actions
                %a.button-yellow{role: "button", title: "Bike has been recovered", :data => {toggle: "modal", target: "#markBikeRecovered"} }
                  I found my #{@bike.type}! It's no longer stolen
        - elsif @bike.current_owner_exists
          .input-group
            This #{@bike.type} is no longer mine, I am selling or giving it to someone:
            .control-group.padded
              %label.control-label{ for: 'bike_owner_email' }
                New owner's email
              .controls
                = f.text_field :owner_email
            .edit-bike-actions
              = submit_tag "Send #{@bike.type}", class: "button-yellow", confirm: "Are you sure? Once the new owner has claimed this #{@bike.type}, you will no longer be able to edit it."

          .input-group
            %p
              Oh no! This #{@bike.type} was stolen.
              .control-group
                .edit-bike-actions
                  = submit_tag "Mark #{@bike.type} stolen", class: "button-red", id: "mark-stolen", confirm: "Are you sure you want to mark this #{@bike.type} stolen?", class: "button-red"
          
        - else
          .input-group
            .control-group.form-foot
              %h4
                %strong
                  You sent this #{@bike.type} to a new owner.
                They have yet to claim it.
              %p
                Accidentally entered the wrong email address? You can correct it here.
              %label.control-label{ for: 'bike_owner_email' }
                Owner's email
              .controls
                = f.text_field :owner_email
              .controls.actions.padded
                = submit_tag "Change #{@bike.type} owner", class: "button-yellow"
        
        .input-group

          %a.collapsed{ href: "#delete_bike", :data => { toggle: "collapse" } }
            Delete this bike
        #delete_bike.collapse
          .input-group
            I would like to delete this bike
            .control-group.padded
              %a.button-red{role: "button", title: "request bike deletion", :data => {toggle: "modal", target: "#requestBikeDelete"} }
                Delete bike

      .edit-bike-fields
        %header
          %h2
            Save changes
        .input-group.form-save
          = submit_tag "Save changes", class: "button-green submit-bike-update"
 
- if @bike.stolen
  = render "/bikes/form_help/mark_bike_recovered"
= render "/bikes/form_help/request_bike_delete"
= render "/bikes/form_help/submit_serial_correction"
= render "/bikes/form_help/rear_wheel_tip"
= render "/bikes/form_help/color_tip"
= render "/bikes/form_help/handlebar_tip"
= render "/bikes/form_help/email_tip"      
= render "/bikes/form_help/phone_tip"
= render "/bikes/form_help/seat_tube_length_tip"
= render "/bikes/form_help/frame_material_tip"

