/ Integrates with app/assets/javascripts/revised/pages/bikes/edit_stolen.coffee
= form_for @bike, multipart: true, html: { class: "primary-edit-bike-form stolenEditPage" } do |f|
  = f.hidden_field :stolen

  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: "/bikes/edit_primary_menu"

      - if @bike.stolen? && @bike.find_current_stolen_record.present? && !@bike.recovered?
        .col-md-8.form-well#form_well_wrap
          .form-wrap
            .form-well-form-header
              / Mark This Bike Recovered
              %h3= @edit_templates[@edit_template]
            .no-divider-row.full-width-button
              %a.btn.btn-success.btn-lg{data: { toggle: "modal", target: "#toggle-stolen" } }
                This #{@bike.type} has been returned!


- modal_title = "We're so glad you got your #{@bike.type} back!"

- alert_body = capture_haml do
  %p Please tell us how you got your #{@bike.type} back, we really care!
  %p It"s how we get better at recovering bikes.

- modal_body = capture_haml do
  .modal-body
    = render partial: '/shared/alert', locals: { body: alert_body, title: 'Not enough information!', class_names: 'currently-hidden' }
    = form_tag do |t|
      = hidden_field_tag :mark_recovered_bike_id, @bike.id
      = hidden_field_tag :mark_recovered_stolen_record_id, (@bike.current_stolen_record_id if @bike.current_stolen_record_id.present?)
      .form-group
        %label{ for: :mark_recovered_reason }
          How did you get it back?
        = text_area_tag :mark_recovered_reason, '', class: 'form-control'
      .checkbox
        %label
          %input#mark_recovered_we_helped{ type: 'checkbox' }
          Did we help?
      .checkbox
        %label
          %input#mark_recovered_can_share_recovery{ type: 'checkbox' }
          Can we share your story?
      .modal-btn-footer
        .row
          .col-xs-6.col-xs-push-6
            = submit_tag 'Mark recovered', class: 'btn btn-success'
          .col-xs-6.col-xs-pull-6
            %button.btn.btn-secondary{ 'data-dismiss' => 'modal', type: 'button' }
              Nevermind

/ Only one modal if stolen, only one (different) modal if not stolen
= render partial: "/shared/modal", |
  locals: { title: modal_title, id: "toggle-stolen", modal_body: modal_body }
