= form_for @bike, multipart: true, html: { class: 'primary-edit-bike-form' } do |f|
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: "bikes/edit_primary_menu", locals: { is_disabled: true }

      .col-md-8.form-well
        .form-wrap
          .form-well-form-header
            %h3= "#{@edit_templates[@edit_template]} #{@bike.type}"

          .related-fields.hide-this-bike.no-divider-row
            .form-group.row
              .hide-this-bike-link
                %a.collapsed{ href: '#hide_bike_toggle_group', data: { toggle: 'collapse' } }
                  - if @bike.user_hidden
                    = t(".unhide_this_bike", bike_type: @bike.type)
                  - else
                    = t(".hide_this_bike", bike_type: @bike.type)

              .collapse#hide_bike_toggle_group
                - if @bike.user_hidden
                  = f.hidden_field :marked_user_unhidden
                - else
                  = f.hidden_field :marked_user_hidden
                .hide-explanation
                  %p
                    %strong= t(".keeping_your_bike_public")
                  %p
                    - faq_link = link_to t(".faqs"), support_path(anchor: 'public-serials')
                    = t(".you_can_read_more_html", faq_link: faq_link)
                  %p
                    = t(".we_strongly_recommend", bike_type: @bike.type, bike_type: @bike.type)
                  %p.text-xs-center
                    - btn_type = @bike.user_hidden ? 'btn-success' : 'btn-danger'
                    %a.btn.btn-lg#hide_bike_toggle{role: 'button', class: btn_type }
                      - if @bike.user_hidden
                        = t(".unhide_this_bike", bike_type: @bike.type)
                      - else
                        = t(".hide_this_bike", bike_type: @bike.type)
          %hr

          .delete-from-index.no-divider-row
            %a{data: { toggle: 'modal', target: '#request-delete' } }
              = render 'shared/trash_icon'
              = t(".delete_this_bike", bike_type: @bike.type)


- modal_title = t(".modal_title", bike_type: @bike.type)
- modal_body = capture_haml do
  = form_tag do |t|
    .modal-body
      = render partial: 'shared/alert', locals: { body: t(".reason_modal_body", bike_type: @bike.type), title: t(".reason_modal_title"), class_names: 'currently-hidden' }
      = hidden_field_tag :bike_delete_bike_id, @bike.id

      .form-group
        %label{ for: :bike_delete_reason }
          = t(".reason_for_deletion")
        = text_area_tag :bike_delete_reason, '', class: 'form-control'
    .modal-btn-footer
      .row
        .col-xs-6.col-xs-push-6
          = submit_tag t(".delete_bike"), class: 'btn btn-danger'
        .col-xs-6.col-xs-pull-6
          %button.btn.btn-secondary{ 'data-dismiss' => 'modal', type: 'button' }
            = t(".nevermind")

= render partial: 'shared/modal', locals: { title: modal_title, id: 'request-delete', modal_body: modal_body }
