.primary-edit-bike-form
  .form-well-container.container{ class: "edit-bike-page-alert" }
    .row
      = render partial: "bikes/edit_primary_menu", locals: { is_disabled: true }

      .col-md-8.form-well
        .form-wrap
          .form-well-form-header
            %h3.text-center.w-100
              -# 'alert'-prefixed templates should all have the same header and
              -# highlight the same nav menu item
              = @edit_templates.select { |k, v| @edit_template.match(/#{k}/) }.values.first

          = form_tag theft_alerts_path,
            method: :post,
            id: "js-confirm-plan-form",
            data: { key: ENV["STRIPE_PUBLISHABLE_KEY"],
            email: current_user.email,
            type:  "Pay",
            currency: default_currency,
            description: t(".bike_index_promoted_alert") },
            class: "confirm-form" do
            = hidden_field_tag :stripe_amount, @selected_theft_alert_plan.amount_cents
            = hidden_field_tag :stripe_currency, currency
            = hidden_field_tag :stripe_email
            = hidden_field_tag :stripe_token
            = hidden_field_tag :bike_id, @bike.id
            = hidden_field_tag :theft_alert_plan_id, @selected_theft_alert_plan.id

            .row
              %h3.text-center.w-100
                = t(".confirm_your_plan")
              .copy.text-center
                = t(".youve_made_an_excellent_choice")
            .row
              .copy.text-center
                %strong
                  = t(".here_is_what_youll_get", plan_name: @selected_theft_alert_plan.name)
            .row
              .description
                = @selected_theft_alert_plan.description_html.html_safe
            .row
              .copy.text-center
                %strong
                  - price = @selected_theft_alert_plan.amount_cents
                  = t(".charge", price: number_to_currency(price / 100.0), unit: "$", separator: ".")
            .row
              .text-center.w-100.mt-2
                %button.btn.btn-lg.btn-primary#js-confirm-plan-button
                  &check;
                  = t(".confirm")

                = link_to edit_bike_path(@bike, page: :alert), method: :get do
                  %button.btn.btn-lg.btn-secondary
                    %span.times &times;
                    = t(".cancel")

        = render partial: "theft_alerts_table", locals: { theft_alerts: @theft_alerts }

%script{ src: "https://checkout.stripe.com/checkout.js", async: true }
