= form_for @bike, multipart: true, html: { class: 'primary-edit-bike-form' } do |f|
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: 'bikes/edit_primary_menu'

      .col-md-8.form-well
        .form-wrap
          .form-well-form-header
            %h3
              = @edit_templates[@edit_template]


          .related-fields
            .form-group.row
              = f.label :serial_number, class: 'form-well-label'
              %p.form-well-input-static
                = @bike.serial_number
              .right-input-help.right-text-help
                %a{ data: { toggle: 'modal', target: '#serial-correction' } }
                  = t(".submit_serial_correction")
            .form-group.row
              = f.label :manufacturer, class: 'form-well-label'
              %p.form-well-input-static
                = @bike.mnfg_name
              .right-input-help.right-text-help
                %a{ data: { toggle: 'modal', target: '#manufacturer-correction' } }
                  = t(".submit_manufacturer_correction")

          .form-group.row.fancy-select-placeholder.unfancy.unnested-field
            = f.label :year, t(".model_year"), class: 'form-well-label'
            .form-well-input
              - years = (1900..Time.current.year+1).to_a.reverse.map { |i| [i,i] }
              = f.select :year, years, prompt: t(".unsure_or_unknown"), allow_blank: true
            .right-input-help
              %label
                %input#bike_unknown_year{ type: 'checkbox', tabindex: -1 }
                = t(".unknown_year")

          .form-group.row.unnested-field
            = f.label :frame_model, class: 'form-well-label'
            .form-well-input
              = f.text_field :frame_model, class: 'form-control'

          = render partial: 'bikes/bike_fields/revised_colors', locals: { f: f }

          .form-group.row.unnested-field
            = f.label :frame_material, t(".main_frame_material"), class: 'form-well-label'
            .form-well-input.fancy-select-placeholder.unfancy
              = select(:bike, :frame_material, FrameMaterial.select_options , { include_blank: true, prompt: t(".choose_material")})
          .related-fields
            .form-group.row.frame-sizes{ class: ('unexpanded-unit-size' unless %w(cm in).include?(@bike.frame_size_unit)) }
              %label.form-well-label
                = t(".frame_size")
              .form-well-input
                .ordinal-sizes.btn-group{ role: 'group', 'aria-label' => 'Size', data: { toggle: 'buttons' } }
                  - %w(xs s m l xl).each do |size|
                    - active = (@bike.frame_size == size)
                    %label.btn.btn-secondary{ class: ('active' if active), data: { size: size } }
                      %input{ type: 'radio', name: 'frame_size', autocomplete: 'off', checked: active }
                      = size.upcase
              .right-input-help
                .frame-size-units.btn-group{ role: 'group', 'aria-label' => 'Size', data: { toggle: 'buttons' } }
                  - %w(cm in).each do |unit|
                    - active = (@bike.frame_size_unit == unit)
                    %label.btn.btn-secondary{ class: ('active' if active), data: { size: unit } }
                      %input{ type: 'radio', name: 'frame_size', autocomplete: 'off', checked: active }
                      = unit.upcase
            .form-group.row.hidden-other.frame-size-other
              = f.label :frame_size, t(".seat_tube_length"), class: 'form-well-label'
              .form-well-input
                = f.hidden_field :frame_size_unit
                = f.hidden_field :frame_size
                = f.number_field :frame_size_number, class: 'form-control'

          .form-group.row.unnested-field
            = f.label :name, t(".bike_name"), class: 'form-well-label'
            .form-well-input
              = f.text_field :name, class: 'form-control'

          .form-group.row.unnested-field
            = f.label :description, t(".general_description"), class: 'form-well-label form-well-label-large-input'
            .form-well-input-large
              = f.text_area :description, rows: 3, class: 'form-control', placeholder: t('.tell_us_about_your_bike')

          .form-group.row.unnested-field
            = f.label :additional_registration, t(".other_serial_or_registration_number"), class: 'form-well-label'
            .form-well-input
              = f.text_field :additional_registration, class: 'form-control'

          .form-group.row.unnested-field.no-divider-row
            = f.label :city, class: 'form-well-label'
            .form-well-input
              = f.text_field :city, class: 'form-control', required: true, placeholder: t(".city")

          .form-group.row.unnested-field.no-divider-row
            = f.label :zipcode, class: 'form-well-label'
            .form-well-input
              = f.text_field :zipcode, class: 'form-control', required: true, placeholder: t(".zipcode")

          .form-group.row.unnested-field.no-divider-row.fancy-select
            = f.label :country_id, class: 'form-well-label'
            .form-well-input.fancy-select-placeholder.unfancy
              = f.select :country_id, Country.select_options,
                { required: true, prompt: t(".choose_country") },
                { class: 'country-select-input form-control' }

          = render "shared/form_well_footer_save"

          %hr
          .related-fields.mt-4
            - if @bike.bike_stickers.any?
              .form-group.row
                %label.form-well-label
                  = t(".existing_stickers")
                %p.form-well-input-static

                  - @bike.bike_stickers.each do |bike_sticker|
                    = bike_sticker.pretty_code
                    %br
            .form-group.row.no-divider-row.mb-0
              = label_tag :bike_sticker, class: "form-well-label" do
                - sticker_information_link = link_to t(".a_qr_sticker"), "https://bikeindex.org/news/bike-index-unveils-new-qr-stickers-and-partnership-with-the-city-of-pa"
                = t(".add_a_sticker_label_html", sticker_information_link: sticker_information_link)
              .form-well-input
                - bike_code_from_org = @bike.organizations.with_paid_feature_slugs("bike_stickers").last&.bike_stickers&.claimed&.reorder(:code_integer)&.second&.pretty_code
                = text_field_tag :bike_sticker, nil, class: 'form-control', placeholder: bike_code_from_org || "A0 100"

            = render "shared/form_well_footer_save"

- serial_correction_body = capture_haml do
  = form_tag do |t|
    .modal-body
      = render partial: 'shared/alert', locals: { body: t(".please_fill_in_both_fields"), class_names: 'currently-hidden' }
      = hidden_field_tag :serial_update_bike_id, @bike.id
      .form-group
        %label{ for: :serial_update_serial }
          = t(".updated_serial")
        = text_field_tag :serial_update_serial, '', class: 'form-control'
      .form-group
        %label{ for: :serial_update_reason }
          = t(".reason_for_update")
        = text_area_tag :serial_update_reason, '', class: 'form-control'
    .modal-btn-footer
      .row
        .col-xs-6.col-xs-push-6
          = submit_tag t(".submit_update"), class: 'btn btn-primary'
        .col-xs-6.col-xs-pull-6
          %button.btn.btn-secondary{ 'data-dismiss' => 'modal', type: 'button' }
            = t(".nevermind")

= render partial: 'shared/modal', locals: { title: t(".update_serial_number"), id: 'serial-correction', modal_body: serial_correction_body }

- manufacturer_correction_body = capture_haml do
  = form_tag do |t|
    .modal-body
      = render partial: 'shared/alert', locals: { body: t(".please_fill_in_both_fields"), class_names: 'currently-hidden' }
      = hidden_field_tag :manufacturer_update_bike_id, @bike.id
      .form-group
        %label{ for: :manufacturer_update_manufacturer }
          = t(".manufacturer")
        = text_field_tag :manufacturer_update_manufacturer, '', class: 'form-control unfancy'
      .form-group
        %label{ for: :manufacturer_update_reason }
          = t(".reason_for_update")
        = text_area_tag :manufacturer_update_reason, '', class: 'form-control'
    .modal-btn-footer
      .row
        .col-xs-6.col-xs-push-6
          = submit_tag t(".submit_update"), class: 'btn btn-primary'
        .col-xs-6.col-xs-pull-6
          %button.btn.btn-secondary{ 'data-dismiss' => 'modal', type: 'button' }
            = t(".nevermind")

= render partial: 'shared/modal', locals: { title: 'Update manufacturer', id: 'manufacturer-correction', modal_body: manufacturer_correction_body }
