= form_for @bike, multipart: true, html: { class: "primary-edit-bike-form" } do |f|
  = f.hidden_field :stolen

  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: "/bikes/edit_primary_menu"

      .col-md-8.form-well#form_well_wrap
        .form-wrap
          .form-well-form-header
            / Publicize Theft
            %h3= @edit_templates[@edit_template]

          .row
            = render partial: "pricing_plan", collection: @pricing_plans
