= form_for @bike, multipart: true, html: { class: 'primary-edit-bike-form' } do |f|
  = f.hidden_field :stolen
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: '/bikes/edit_primary_menu'
      .col-md-8.form-well#form_well_wrap
        .form-wrap
          .form-well-form-header
            %h3
              = @edit_templates[@edit_template]
          - if @bike.stolen and @bike.find_current_stolen_record.present?
            / Helper text display
            - stolen_type = @bike.recovered ? 'recovered' : 'stolen'
            = f.fields_for :stolen_records do |srecord|
              - next unless srecord.object.current # Because they may have multiple stolen records
              .form-group.row.unnested-field
                = srecord.label :date_stolen_input, "When was it #{stolen_type}", class: 'form-well-label'
                .form-well-input
                  = srecord.text_field :date_stolen_input, required: true, class: 'form-control date_stolen_input', value: srecord.object.formatted_date

              .form-group.row.unnested-field
                = srecord.label :phone, class: 'form-well-label'
                .form-well-input
                  = srecord.text_field :phone, class: 'form-control'

              .form-group.row.unnested-field
                = srecord.label :secondary_phone, class: 'form-well-label'
                .form-well-input
                  = srecord.text_field :secondary_phone, class: 'form-control'

              = render partial: '/bikes/bike_fields/stolen_location', locals: { srecord: srecord, stolen_type: stolen_type }

              .form-group.row.unnested-field
                = srecord.label :estimated_value, class: 'form-well-label'
                .form-well-input.input-group{ style: 'max-height: 2.5rem;'}
                  .input-group-addon
                    $
                  = srecord.number_field :estimated_value, min: '1', class: 'form-control'


              - unless @bike.recovered
                .form-group.row.unnested-field.fancy-select-placeholder.unfancy
                  = srecord.label :locking_description, class:  'form-well-label'
                  .form-well-input
                    = srecord.select(:locking_description, StolenRecord.locking_description_select, prompt: '')
                .form-group.row.unnested-field.fancy-select-placeholder.unfancy
                  = srecord.label :lock_defeat_description, class:  'form-well-label'
                  .form-well-input
                    = srecord.select(:lock_defeat_description, StolenRecord.locking_defeat_description_select, prompt: '')

              .form-group.row.unnested-field
                - description_label = @bike.recovered ? "How did you recovered the #{@bike.type}" : 'Description of the incident'
                = srecord.label :theft_description, description_label, class:  'form-well-label'
                .form-well-input-large
                  = srecord.text_area :theft_description, rows: 3, class: 'form-control'

              .form-group.row.unnested-field
                = srecord.label :police_report_number, 'Police report #', class: 'form-well-label'
                .form-well-input
                  = srecord.text_field :police_report_number, class: 'form-control'
                  %span.below-input-help
                    Without a valid report number, your bike won't be included in partner searches by <a href="https://bikeindex.org/news/bike-index-partners-with-leads-online">LeadsOnline</a>
              .form-group.row.unnested-field.no-divider-row
                = srecord.label :police_report_department, 'Department & city', class: 'form-well-label'
                .form-well-input
                  = srecord.text_field :police_report_department, class: 'form-control'

              %hr
              .form-group.row.unnested-field.full-width-section.no-divider-row
                %label
                  = srecord.check_box :proof_of_ownership
                  Do you have proof of ownership of this #{@bike.type}?
                .full-width-checkbox-help
                  If this #{@bike.type} was added to the Index by a bike shop, that counts as proof of ownership
              %hr
              .form-group.row.unnested-field.full-width-section.no-divider-row
                %label
                  = srecord.check_box :receive_notifications
                  Receive notifications from Bike Index about this stolen #{@bike.type}
                .full-width-checkbox-help
                  e.g. if we tweet about or see someone searching for its serial number
          - else
            .no-divider-row.full-width-button
              %a.btn.btn-danger.btn-lg{data: { toggle: 'modal', target: '#toggle-stolen' } }
                This #{@bike.type} is stolen or missing!

        / if stolen, we also add an exterior block for marking not stolen
        - if @bike.stolen and @bike.find_current_stolen_record.present?
          .form-wrap.secondary-form-wrap
            .form-well-form-header
              %h3
                Recovered
            .no-divider-row.full-width-button
              %a.btn.btn-success.btn-lg{data: { toggle: 'modal', target: '#toggle-stolen' } }
                This #{@bike.type} has been returned!

- if @bike.stolen and @bike.find_current_stolen_record.present?
  / Similar form and text exists in initial_modal_for_show
  - modal_title = "We're so glad you got your #{@bike.type} back!"
  - alert_body = capture_haml do
    %p
      Please tell us how you got your #{@bike.type} back, we really care! 
    %p
      It's how we get better at recovering bikes.
  - modal_body = capture_haml do
    .modal-body
      = render partial: '/shared/alert', locals: { body: alert_body, title: 'Not enough information!', class_names: 'currently-hidden' }
      = form_tag do |t|
        = hidden_field_tag :mark_recovered_bike_id, @bike.id
        = hidden_field_tag :mark_recovered_stolen_record_id, (@bike.current_stolen_record_id if @bike.current_stolen_record_id.present?)
        .form-group
          %label{ for: :mark_recovered_reason }
            How did you get it back?
          = text_area_tag :mark_recovered_reason, '', class: 'form-control'
        .checkbox
          %label
            %input#mark_recovered_we_helped{ type: 'checkbox' }
            Did we help?
        .checkbox
          %label
            %input#mark_recovered_can_share_recovery{ type: 'checkbox' }
            Can we share your story?
        .modal-btn-footer
          .row
            .col-xs-6.col-xs-push-6
              = submit_tag 'Mark recovered', class: 'btn btn-success'
            .col-xs-6.col-xs-pull-6
              %button.btn.btn-secondary{ 'data-dismiss' => 'modal', type: 'button' }
                Nevermind
              

- else
  - modal_title = 'Oh no!'
  - modal_body = capture_haml do
    .modal-body
      %p
        Is your #{@bike.type} actually missing or stolen?
    .modal-btn-footer
      .row
        .col-xs-6
          %button.btn.btn-secondary{ 'data-dismiss' => 'modal', type: 'button' }
            Nevermind
        .col-xs-6
          %button.btn.btn-danger#mark-stolen-btn{ type: 'button' }
            Yes, it is!

/ Only one modal if stolen, only one (different) modal if not stolen
= render partial: '/shared/modal', locals: { title: modal_title, id: 'toggle-stolen', modal_body: modal_body }
