= form_for @bike, multipart: true, html: { class: 'primary-edit-bike-form' } do |f|
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: '/bikes/edit_primary_menu'
      .col-md-8.form-well
        .form-wrap
          .form-well-form-header
            %h3
              #{@edit_templates[@edit_template]} #{@bike.type}

          .form-group.row.unnested-field.no-divider-row
            = f.label :owner_email, class: 'form-well-label'
            .form-well-input
              = f.email_field :owner_email, required: true, class: 'form-control'

          %hr
          
          .related-fields.hide-this-bike.no-divider-row
            .form-group.row
              - hide_toggle = @bike.user_hidden ? 'Un-hide' : 'Hide'
              .hide-this-bike-link
                %a.collapsed{ href: '#hide_bike_toggle_group', data: { toggle: 'collapse' } }
                  #{hide_toggle} this #{@bike.type}
              .collapse#hide_bike_toggle_group
                - if @bike.user_hidden
                  = f.hidden_field :marked_user_unhidden
                - else
                  = f.hidden_field :marked_user_hidden
                .hide-explanation
                  %p
                    %strong
                      Keeping your bike public is the best way to help recover stolen bikes and deter theft.
                  %p
                    You can read more about why this is important to us in our #{link_to "FAQs", support_path(anchor: 'public-serials')}.
                  %p
                    We strongly recommend keeping your #{@bike.type} visible, but you can hide this #{@bike.type} if you prefer. Even though we don't think it's a good idea.
                  - btn_type = @bike.user_hidden ? 'btn-success' : 'btn-danger'
                  %a.btn.btn-lg#hide_bike_toggle{role: 'button', class: btn_type }
                    #{hide_toggle} #{@bike.type}

          %hr

          .delete-from-index.no-divider-row
            %a{data: { toggle: 'modal', target: '#request-delete' } }
              = render '/shared/trash_icon'
              Delete this #{@bike.type} from the Bike Index


- modal_body = capture_haml do
  = form_tag do |t|
    .modal-body
      = render partial: '/shared/alert', locals: { body: "Please fill in the reason for the #{@bike.type} deletion", title: 'We want to know why!', class_names: 'currently-hidden' }
      = hidden_field_tag :bike_delete_bike_id, @bike.id
      .form-group
        %label{ for: :bike_delete_reason }
          Reason for deletion
        = text_area_tag :bike_delete_reason, '', class: 'form-control'
    .modal-btn-footer
      .row
        .col-xs-6.col-xs-push-6
          = submit_tag 'Delete bike', class: 'btn btn-danger'
        .col-xs-6.col-xs-pull-6
          %button.btn.btn-secondary{ 'data-dismiss' => 'modal', type: 'button' }
            Nevermind
= render partial: '/shared/modal', locals: { title: "Are you sure you want to delete this #{@bike.type}?", id: 'request-delete', modal_body: modal_body }