= form_for @bike, multipart: true, html: { class: 'primary-edit-bike-form' } do |f|
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: 'bikes/edit_primary_menu'

      .col-md-8.form-well
        .form-wrap#edit_bike_organizations
          .form-well-form-header
            %h3= t(".groups_and_organizations")
          .col-xs-12
            %p= t(".are_you_part_of_a_school_want_to_bolster_")

          - if @bike.bike_organizations.any?
            = hidden_field_tag :organization_ids_can_edit_claimed_present, true
            .related-fields.no-divider-row
              - if @bike.bike_organizations.where(organization_id: @bike.creation_organization_id).present? && @bike.creation_organization.present?
                .form-group.row
                  %label.form-well-label
                    = t(".creation_organization")
                  %p.form-well-input-static.bike_organization_static_input{ data: { orgid: @bike.creation_organization_id } }
                    = @bike.creation_organization.name
                    %span.can-edit-checkbox
                      %label.checkbox-inline.not-fixed
                        = check_box_tag "organization_ids_can_edit_claimed[]", @bike.creation_organization_id, @bike.editable_organizations.pluck(:id).include?(@bike.creation_organization_id), multiple: true
                        = t(".can_edit_this_bike", bike_type: @bike.type)
                  .right-input-help
                    %a.optional-form-block.remove-organization{ href: '#' }
                      %span.context-display-help
                        &ndash;
                      = t(".remove")
              - @bike.bike_organizations.reorder(:created_at).each_with_index do |bike_organization, index|
                - next if bike_organization.organization == @bike.creation_organization
                .form-group.row
                  %label.form-well-label.less-strong
                    = t(".other_organizations")
                  %p.form-well-input-static.bike_organization_static_input{ data: { orgid: bike_organization.organization_id } }
                    = bike_organization.organization.name
                    %span.can-edit-checkbox
                      %label.checkbox-inline.not-fixed
                        = check_box_tag "organization_ids_can_edit_claimed[]", bike_organization.organization_id, bike_organization.can_edit_claimed, multiple: true
                        = t(".can_edit_this_bike", bike_type: @bike.type)
                  .right-input-help
                    %a.optional-form-block.remove-organization{ href: '#' }
                      %span.context-display-help
                        &ndash;
                      = t(".remove")

          :javascript
            window.organizations = #{Organization.approved.map { |organization| { name: organization.name, id: organization.id } }.to_json };

          .related-fields#additional_organization_fields
            .form-group.row.unnested-field.no-divider-row
              = f.hidden_field :bike_organization_ids, value: @bike.bike_organization_ids.join(',')

            :plain
              <script id="additional-organization-template" type="x-tmpl-mustache">
                <div class='form-group row collapse'>
                  <label class='form-well-label'></label>
                  <div class='form-well-input fancy-select-placeholder unfancy'>
                    <select class="form-control bike_organization_input" autocomplete="off" autocorrect="off" autocapitalize="off">
                      <option value="" disabled selected>
                        #{t(".choose_organization")}
                      </option>
                      {{ #organizations }}
                        <option value="{{ id }}">{{ name }}</option>
                      {{ /organizations }}
                    </select>
                  </div>
                  <div class="right-input-help">
                    <a class="optional-form-block remove-organization">
                      <span class="context-display-help">&ndash;</span>
                      #{t(".remove")}
                    </a>
                  </div>
                </div>
              </script>
          .add-additional-fields-block.no-divider-row
            %a.add_fields#add_additional_organization{ href: '#', role: 'button' }
              %span.context-display-help
                +
              = t(".add_an_organization")

          = render "shared/form_well_footer_save"
