= form_for @bike, multipart: true, html: { class: 'primary-edit-bike-form' } do |f|
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: '/bikes/edit_primary_menu'
      .col-md-8.form-well
        .form-wrap#edit_bike_organizations
          .form-well-form-header
            %h3
              Groups / Organizations
          .col-xs-12
            %p
              Are you part of a school? Want to bolster a local advocacy organization? Add the organization here.

          - if @bike.bike_organizations.any?
            .related-fields.no-divider-row
              - if @bike.bike_organizations.where(organization_id: @bike.creation_organization_id)
                .form-group.row
                  %label.form-well-label
                    Creation organization
                  %p.form-well-input-static.bike_organization_static_input{ data: { orgid: @bike.creation_organization_id } }
                    = @bike.creation_organization.name
                  .right-input-help
                    %a.optional-form-block.remove-organization{ href: '#' }
                      %span.context-display-help
                        &ndash;
                      Remove
              - @bike.bike_organizations.each do |bike_organization|
                - next if bike_organization.organization == @bike.creation_organization
                .form-group.row
                  %label.form-well-label
                  %p.form-well-input-static.bike_organization_static_input{ data: { orgid: bike_organization.organization_id } }
                    = bike_organization.organization.name
                  .right-input-help
                    %a.optional-form-block.remove-organization{ href: '#' }
                      %span.context-display-help
                        &ndash;
                      Remove

          :javascript
            window.organizations = #{Organization.valid.map { |organization| { name: organization.name, id: organization.id } }.to_json };
          .related-fields#additional_organization_fields
            .form-group.row.unnested-field.no-divider-row
              = f.hidden_field :bike_organization_ids, value: @bike.bike_organization_ids.join(',')
            :plain
              <script id="additional-organization-template" type="x-tmpl-mustache">
                <div class='form-group row collapse'>
                  <label class='form-well-label'></label>
                  <div class='form-well-input fancy-select-placeholder unfancy'>
                    <select class="form-control bike_organization_input">
                      <option value="" disabled selected>Choose organization</option>
                      {{ #organizations }}
                        <option value="{{ id }}">{{ name }}</option>
                      {{ /organizations }}
                    </select>
                  </div>
                  <div class="right-input-help">
                    <a class="optional-form-block remove-organization">
                      <span class="context-display-help">&ndash;</span>
                      Remove
                    </a>
                  </div>
                </div>
              </script>
          .add-additional-fields-block.no-divider-row
            %a.add_fields#add_additional_organization{ href: '#', role: 'button' }
              %span.context-display-help
                +
              Add an organization

        .form-wrap.secondary-form-wrap
          .form-well-form-header
            %h3
              Ownership
          .col-xs-12
            %p
              Sell, trade or give away this #{@bike.type}?
              Enter the new owner's email to transfer the registration.
          .form-group.row.unnested-field.no-divider-row
            = f.label :owner_email, class: 'form-well-label'
            .form-well-input
              = f.email_field :owner_email, required: true, class: 'form-control'