<script src="/vendored_assets/bikes_search1.js"></script>

- stolenness_desc = { 'proximity' => 'nearby stolen', 'non' => 'non-stolen', 'stolen' => 'stolen', 'all' => 'all' }[@interpreted_params[:stolenness]]

.container
  .row.first-row
    .col-md-12
      %h1
        = t(".search_for_stolenness_desc_bikes", stolenness_desc: stolenness_desc)

  .row
    .col-md-12
      = render partial: "/shared/bike_search_form", locals: {include_location_search: true}

      .search-type-tabs
        %ul#stolenness_tabs.nav.nav-tabs{ role: 'tablist' }
          %li#stolenness_tab_proximity.nav-item{ data: { stolenness: 'proximity' } }
            %a.nav-link{ href: bikes_path(sortable_search_params.merge(stolenness: 'proximity')), class: ('active' if @stolenness == 'proximity'), role: 'tab' }
              = t(".stolen_within")
              %span#search_distance
                X
              = t(".miles_of")
              %span#search_location
                = t(".you")
              %span.count
          %li#stolenness_tab_stolen.nav-item{ data: { stolenness: 'stolen' } }
            %a.nav-link{ href: bikes_path(sortable_search_params.merge(stolenness: 'stolen')), class: ('active' if @stolenness == 'stolen'), role: 'tab' }
              = t(".stolen_anywhere")
              %span.count
          %li#stolenness_tab_non.nav-item{ data: { stolenness: 'non' } }
            %a.nav-link{ href: bikes_path(sortable_search_params.merge(stolenness: 'non')), class: ('active' if @stolenness == 'non'), role: 'tab' }
              = t(".not_marked_stolen")
              %span.count
          %li#stolenness_tab_all.nav-item{ data: { stolenness: 'all' } }
            %a.nav-link{ href: bikes_path(sortable_search_params.merge(stolenness: 'all')), class: ('active' if @stolenness == 'all'), role: 'tab' }
              = t(".all")
  .row.bikes-searched-default
    .col-md-12
      - if @bikes.present?
        %ul.bike-boxes
          = render partial: 'bikes/bike', collection: @bikes, cached: true
        .row
          .col-md-4.mt-4.offset-md-2
            .ad-block.ad-binx.ad468x60
          .col-md-8.col-lg-4.mt-4
            .paginate-container.paginate-container-bottom
              = pagy_bootstrap_nav(@pagy).html_safe
        .row
          .col-md-8.mt-4.offset-md-2
            = render partial: "/shared/google_ad", locals: {klass: "ad-block ad-google adFullWidth"}
      - else
        %h3.no-exact-results
          = t(".no_bikes_matched")

  #js-secondary-searches


:javascript
  window.interpreted_params = #{@interpreted_params.to_json};
  window.bike_placeholder_image = "#{bike_placeholder_image_path}";

-# Cache this render callout to avoid allocations
- cache("donation_modal1") do
  = render partial: "/shared/donation_modal"
