#bikes-search
  %span#query_searched
    = @query
  %span#attribute_values_searched
    = @attribute_select_values
  %span#stolen_searched
    = 1 if @stolen_searched
  %span#non_stolen_searched
    = 1 if @non_stolen_searched


- if @bikes.present?

  %ul.bike-boxes
    = render partial: "/bikes/bike", collection: @bikes, :locals => {target: "show" }


  .paginate-container
    / = will_paginate @bikes 

- else
  %section.bottom-of-page
    %h3
      Oh no!
    %h4
      We're sorry, no bikes matched your search!