#bikes-search
  %span#query_searched
    = @query
  %span#attribute_values_searched
    = @attribute_select_values
  %span#stolenness_query{data: {stolen: @stolenness[:stolen], nonstolen: @stolenness[:non_stolen] }}

- if @bikes.present?

  %ul.bike-boxes
    = render partial: "/bikes/bike", collection: @bikes, :locals => {target: "show" }


  .paginate-container
    = will_paginate @bikes 

- else
  %section.bottom-of-page
    %h1
      Nothing matched your search

- if @secondary_bikes.present?
  %h2.secondary-bikes
    Serial numbers close to 
    %em
      #{params[:serial]}

  %ul.bike-boxes
    = render partial: "/bikes/bike", collection: @secondary_bikes, :locals => {target: "show" }