#bikes-search
  %span#query_searched
    = @query
  %span#attribute_values_searched
    = @attribute_select_values
  %span#proximity_searched{data: { proximity: @proximity }}

  %span#stolenness_query{data: {stolen: @stolenness[:stolen]} }

- if @bikes.present?

  %ul.bike-boxes
    = render partial: "/bikes/bike_u", collection: @bikes, locals: {target: "show" }

  .container
    .paginate-container-bottom
      = paginate @bikes
      

- else

  .container
    %h1.no-results
      We're sorry,
      - if @secondary_bikes.present?
        no exact matches for that serial
      - else
        nothing matched your search

- if @secondary_bikes.present?  
  .container
    %h2.secondary-bikes
      Serial numbers close to
      %em
        #{params[:serial]}

    %ul.bike-boxes
      = render partial: "/bikes/bike_u", collection: @secondary_bikes, locals: {target: "show" }
