- serial_page_link = link_to(t(".our_serial_page"), serials_url, target: '_blank')
- serial_help_content = t(".serial_help_content_html", serial_page_link: serial_page_link)

.form-well-header.container
  %h1= t(".enter_bike_type_details", bike_type: @bike.type)

= form_for @bike, multipart: true do |f|
  = f.hidden_field :b_param_id_token, value: @b_param&.id_token
  - if @organization.present?
    = f.hidden_field :creation_organization_id, value: @organization.id
  - if @bike.stolen?
    = f.hidden_field :stolen, value: true
    = hidden_field_tag :stolen, value: true

  - if @bike.abandoned
    = f.hidden_field :abandoned, value: true

  .form-well-container.container
    .row
      .col-lg-8.offset-lg-2.form-well
        .form-wrap
          .form-group.row.unnested-field
            = f.label :cycle_type, t(".this_is_a"), class: 'form-well-label'
            .form-well-input.fancy-select.unfancy
              = select(:bike, :cycle_type, CycleType.select_options, { required: true, class: 'form-control'})

          .form-group.row.unnested-field
            = f.label :serial_number, class: 'form-well-label'
            .form-well-input
              #serial-input
                = f.text_field :serial_number, required: true, autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', placeholder: t('.highly_recommended'), class: 'form-control'
                %a.inline-input-help{ title: t(".serial_help"), data: { toggle: 'popover', content: serial_help_content } }
                  ?
              #made-without-serial-input
                %label
                  = f.check_box :made_without_serial
                  = t(".without_serial", bike_type: @bike.type)
              .below-input-help#made-without-serial-help
                .hidden-other
                  %a{ data: { toggle: 'modal', target: '#made-without-serial-modal' } }
                    = t(".without_serial_number", bike_type: @bike.type)
            .right-input-help
              %label.made-without-serial-checkbox
                = check_box_tag :has_no_serial, true, @bike.serial_unknown?, tabindex: -1
                = t(".missing_serial")

          .related-fields
            .form-group.row
              = f.label :manufacturer_id, t(".manufacturer"), class: 'form-well-label'

              .form-well-input
                - initial = @bike.manufacturer && { id: @bike.manufacturer.id, text: @bike.manufacturer.name }.to_json
                = f.text_field :manufacturer_id, value: @bike.manufacturer && @bike.manufacturer.name, class: 'form-control unfancy', data: { initial: initial }
                %span.below-input-help
                  = t(".select_other")

            .form-group.hidden-other.row
              = f.label :manufacturer_other, t(".other_manufacturer"), class: 'form-well-label'
              .form-well-input
                = f.text_field :manufacturer_other, class: 'form-control'

          .form-group.row.fancy-select.unfancy.unnested-field
            = f.label :year, t(".model_year"), class: 'form-well-label'
            .form-well-input
              - years = (1900..Time.current.year+1).to_a.reverse.map { |i| [i,i] }
              = f.select :year, years, prompt: t(".unsure_or_unknown"), selected: @bike.year || Time.current.year
            .right-input-help
              %label
                %input#bike_unknown_year{ type: 'checkbox', tabindex: -1 }
                = t(".unknown_year")

          .form-group.row.unnested-field
            = f.label :frame_model, class: 'form-well-label'
            .form-well-input
              = f.text_field :frame_model, class: 'form-control'

          - classname = (@b_param.display_email? ? '' : 'no-divider-row')
          = render partial: 'bikes/bike_fields/revised_colors', locals: { f: f, classname: classname }

          - if @bike.stolen || @organization&.include_field_reg_phone?(current_user)
            .form-group.row.unnested-field
              = f.label :phone,
                @organization&.registration_field_label("reg_phone") || t(".phone"),
                class: "form-well-label"
              .form-well-input
                = f.text_field :phone, required: true, value: current_user&.phone, class: "form-control"

          - if @bike.stolen
            = fields_for @stolen_record do |srecord|
              = render partial: 'bikes/bike_fields/stolen_location', locals: { srecord: srecord }

          - if @organization&.include_field_reg_address?(current_user)
            .related-fields
              .form-group.row
                -# Set all the bike address attrs
                - @bike.attributes = { address: @b_param.address("address"),
                  address_city: @b_param.address("city"),
                  address_zipcode: @b_param.address("zipcode"),
                  address_state: @b_param.address("state") }

                = f.label :address,
                  @organization.registration_field_label("reg_address") || t(".mailing_address"),
                  class: 'form-well-label'

                .form-well-input
                  = f.text_field :address,
                    required: true,
                    placeholder: t(".street_address"),
                    class: 'form-control'

                  %span.below-input-help
                    = t(".your_full_address_is_required", org_name: @organization.short_name)

              .form-group.row
                %label.form-well-label
                .form-well-input
                  = f.text_field :address_city,
                    required: true,
                    placeholder: t(".city"),
                    class: "form-control"

              .form-group.row
                %label.form-well-label
                .form-well-input
                  = f.text_field :address_zipcode,
                    required: true,
                    placeholder: t(".zipcode"),
                    class: "form-control"

              .form-group.row.fancy-select-placeholder.unfancy
                %label.form-well-label
                .form-well-input
                  = f.collection_select(:address_state, State.all, :abbreviation, :name,
                    { include_blank: true, required: true, prompt: t(".state") },
                    { class: "form-control" })

          - if @organization&.include_field_extra_registration_number?(current_user)
            .form-group.row.unnested-field.no-divider-row
              = f.label :extra_registration_number,
                @organization.registration_field_label("extra_registration_number") || t(".additional_serial_sticker_number"),
                class: "form-well-label"
              .form-well-input
                = f.text_field :extra_registration_number,
                  autocomplete: "off",
                  autocorrect: "off",
                  autocapitalize: "off",
                  class: "form-control"

          - if @organization&.include_field_organization_affiliation?(current_user)
            .form-group.row.unnested-field.no-divider-row.fancy-select.unfancy
              = f.label :organization_affiliation,
                @organization.registration_field_label("organization_affiliation") || t(".affiliation", org_name: @organization.short_name),
                class: "form-well-label"
              .form-well-input
                = f.select :organization_affiliation,
                  @organization.organization_affiliation_options,
                  class: "form-control"

          .form-group.row.unnested-field.no-divider-row
            = f.label :owner_email, class: 'form-well-label'
            .form-well-input
              = f.email_field :owner_email,
                value: @bike.owner_email || current_user&.email,
                required: true,
                placeholder: 'required',
                class: 'form-control'

      .new-bike-submit-wrapper
        = submit_tag t(".register"), class: 'btn btn-lg btn-primary'

- modal_body = capture_haml do
  .modal-body
    %p
      = t(".very_few_bikes_html", bike_type: @bike.type)
    %ul
      %li
        = t(".was_made_before_1970")
      %li.li-or
        \-
        = t(".or")
        \-
      %li
        = t(".is_a_handmade_frame")
    %p
      = t(".it_probably_has_a_serial_number")
    %p
      - how_to_find_link = link_to t('.how_to_find_serial'), serials_url, target: "_blank"
      = t(".read_how_to_find_html", how_to_find_link: how_to_find_link)

  .modal-btn-footer
    .row
      .col-xs-6
        %button.btn.btn-secondary{'data-dismiss' => 'modal', type: 'button'}
          = t(".nevermind")
        = t(".i_just_dont_know_the_serial")
      .col-xs-6
        %button.btn.btn-danger#made-without-serial-button{type: 'button'}
          = t(".im_100_sure")
        = t(".without_serial", bike_type: @bike.type)

= render partial: 'shared/modal', locals: { title: t('.are_you_certain'), id: 'made-without-serial-modal', modal_body: modal_body }
