:plain
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "text/html; charset=UTF-8"}
    = wicked_pdf_stylesheet_link_tag "registration_pdf"
    <link href='https://fonts.googleapis.com/css?family=Rambla:400' rel='stylesheet' type='text/css'>
    
    %title
      - tit = ''
      - tit += "#{@bike.year} " if @bike.year.present?
      - tit += "#{@bike.frame_model} by " if @bike.frame_model.present?
      = tit + @bike.mnfg_name



%body
  %header
    - if @bike.manufacturer.logo && @bike.manufacturer.logo.url != "https://s3.amazonaws.com/bikeindex/blank.png"
      .mnfg-logo
        %img{ src: @bike.manufacturer.logo }
    - if @bike.public_images.present?
      - if Rails.env.development?
        %img.bike-photo{ src: root_url + @bike.public_images.first.image_url }
      - else
        %img.bike-photo{ src: @bike.public_images.first.image_url }
    %h1
      - if @bike.stolen
        %span.stolen-color
          Stolen
      = @bike.title

  - if @bike.stolen and @bike.current_stolen_record.present?
    .stolen-container
      - if @bike.current_stolen_record.theft_description.present?
        %p
          %em
            Description of theft
          = @bike.current_stolen_record.theft_description.truncate(300)
      .bike-details
        %table.table.table-striped
          %tbody
            %tr
              %td.td-title
                Date Stolen
              %td
                = @bike.current_stolen_record.date_stolen.strftime("%m-%d-%Y")
            %tr
              %td.td-title
                Location
              %td
                = @bike.current_stolen_record.address

      .bike-details
        %table.table.table-striped
          %tbody
            %tr
              %td.td-title
                Owner phone
              %td
                %a.phone-number-link{ href: "tell:#{@bike.current_stolen_record.phone}" }
                  = number_to_phone(@bike.current_stolen_record.phone)
            - if @bike.current_stolen_record.police_report_number.present?
              %tr
                %td.td-title
                  Police report
                %td
                  = @bike.current_stolen_record.police_report_number
            - if @bike.current_stolen_record.police_report_department.present?
              %tr
                %td.td-title
                  Department
                %td
                  = @bike.current_stolen_record.police_report_department
  - if @bike.description.present?
    .description
      %p
        %em
          Bike description:
        - if @bike.stolen
          = @bike.description.truncate(500)
        - else
          = @bike.description
  .details-container
    .bike-details
      %table.table.table-striped
        %tbody
          - unless @bike.serial_number == 'absent'
            %tr
              %td.td-title
                Bike Serial
              %td
                = @bike.serial_number
          %tr
            %td.td-title
              Manufacturer
            %td
              = @bike.mnfg_name
          - if @bike.frame_model.present?
            %tr
              %td.td-title
                Model
              %td
                = @bike.frame_model
          - unless @bike.stolen and @bike.current_stolen_record.present?
            - if @bike.frame_size.present?
              %tr
                %td.td-title
                  Frame size
                %td
                  = @bike.seat_tube_display
          - if @bike.paint.present?
            %tr
              %td.td-title
                Paint
              %td
                = @bike.paint.name
          - else
            %tr
              %td.td-title
                = 'Color'.pluralize(@bike.frame_colors.count)
              %td
                = @bike.frame_colors.to_sentence
          - unless @bike.stolen and @bike.current_stolen_record.present?
            - if @bike.front_gear_type.present?
              %tr
                %td.td-title
                  Front gears
                %td
                  = @bike.front_gear_type.name
            - if @bike.rear_gear_type.present?
              %tr
                %td.td-title
                  Rear gears
                %td
                  = @bike.rear_gear_type.name
                  = "with coaster brake" if @bike.coaster_brake
                  - if @bike.components.where(ctype_id: Ctype.find_by_name('Hub').id).present?
                    - hubs = @bike.components.where(ctype_id: Ctype.find_by_name('Hub').id)
                    - if hubs.where(rear: true)
                      - r_hub = hubs.where(rear: true).first

                      (#{r_hub.model_name} by #{r_hub.manufacturer_name})
        

    .bike-details
      - unless @bike.stolen and @bike.current_stolen_record.present?
        %table.table.table-striped
          %tbody
            %tr
              %td.td-title
                Front wheel
              %td
                = @bike.front_wheel_size.name if @bike.front_wheel_size.present?
                with 
                - if @bike.front_tire_narrow
                  narrow tires
                - else
                  wide tires
            %tr
              %td.td-title
                Rear wheel
              %td
                = @bike.rear_wheel_size.name              
                with
                - if @bike.rear_tire_narrow
                  narrow tires
                - else
                  wide tires
            - if @bike.components.where(ctype_id: Ctype.find_by_name('Seat').id).present?
              %tr
                %td.td-title
                  Saddle
                %td
                  - seat = @bike.components.where(ctype_id: Ctype.find_by_name('Seat').id).first
                  = seat.model_name if seat.model_name.present?
                  - if seat.manufacturer.present?
                    by
                    = seat.manufacturer.name
                  = seat.description


      .index-block{ class: ('stolen' if @bike.stolen) }
        .logo-block
          %img{ src: "https://s3.amazonaws.com/bikeindex/logo.png" }
        .index-text
          %h2
            Registration
          %h3
            printout
          %p 
            online @ 
            %a{href: bike_url(@bike) }
              bikeindex.org#{bike_path(@bike)}
