:plain
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "text/html; charset=UTF-8"}
    = wicked_pdf_stylesheet_link_tag "registration_pdf", :media => "all"
    <link href='https://fonts.googleapis.com/css?family=Rambla:400' rel='stylesheet' type='text/css'>
    
    %title
      - tit = ''
      - tit += "#{@bike.frame_manufacture_year} " if @bike.frame_manufacture_year.present?
      - tit += "#{@bike.frame_model} by " if @bike.frame_model.present?
      = tit + @bike.mnfg_name



%body
  %header
    .mnfg-logo
      %img{ src: @bike.manufacturer.logo_location }
    - if @bike.public_images
      %img.bike-photo{ src: root_url + @bike.public_images.first.image_url }
    
    %h1
      #{@bike.frame_manufacture_year} #{@bike.mnfg_name} #{@bike.frame_model}

  .description
    %p
      = @bike.description
  .details-container
    .bike-details
      %table.table.table-striped
        %tbody
          - if @bike.frame_size
            %tr
              %td.td-title
                Frame size
              %td
                = @bike.seat_tube_display
          - if @bike.frame_paint_description
            %tr
              %td.td-title
                Paint job
              %td
                = @bike.frame_paint_description
          - if @bike.front_gear_type_id
            %tr
              %td.td-title
                Chainring
              %td
                = @bike.front_gear_type.name
          - if @bike.rear_gear_type_id
            %tr
              %td.td-title
                Rear gears
              %td
                = @bike.rear_gear_type.name
                = "with coaster brake" if @bike.coaster_brake
                - if @bike.components.where(ctype_id: Ctype.find_by_name('Hub').id)
                  - hubs = @bike.components.where(ctype_id: Ctype.find_by_name('Hub').id)
                  - if hubs.where(rear: true)
                    - r_hub = hubs.where(rear: true).first

                    (#{r_hub.model_name} by #{r_hub.manufacturer_name})
        

    .bike-details
      %table.table.table-striped
        %tbody
          %tr
            %td.td-title
              Front wheel
            %td
              = @bike.front_wheel_size.name
              with 
              - if @bike.front_tire_narrow
                narrow tires
              - else
                wide tires
          %tr
            %td.td-title
              Rear wheel
            %td
              = @bike.rear_wheel_size.name              
              with
              - if @bike.rear_tire_narrow
                narrow tires
              - else
                wide tires
          - if @bike.components.where(ctype_id: Ctype.find_by_name('Seat').id)
            %tr
              %td.td-title
                Saddle
              %td
                - seat = @bike.components.where(ctype_id: Ctype.find_by_name('Seat').id).first
                = seat.model_name
                by
                = seat.manufacturer.name
                = seat.description




        



      .index-block
        .logo-block
          %img{ src: "https://s3.amazonaws.com/bikeindex/logo.png" }
        .index-text
          %h2
            Registration
          %h3
            printout
          %p 
            online @ 
            %a{href: bike_url(@bike) }
              bikeindex.org#{bike_path(@bike)}
