.container
  %h2
    = @bike_code.kind
    %em= @bike_code.code
    = t(".isnt_linked_to_a_bike")
  %hr.mb-4.mb-4

  - if current_user.present?
    - if !@bike_code.claimable_by?(current_user)
      %h3= t(".you_have_claimed_the_maximum_permitted_nu")
      %p
        = t(".support_email_link_to_supportbikeindexorg")
        = t(".please_email_support_email_if_you_dont_un", support_email: support_email)
    - else
      %p
        = t(".you_can_enter_the_url_of_the_bike_you_wou", bike_codekind: @bike_code.kind)
      = form_tag bike_code_path(id: @bike_code.code, organization_id: @bike_code.organization_id), method: :put, class: "row" do
        .col-sm-8.col-lg-10
          .form-group
            = text_field_tag :bike_id, placeholder: "https://bikeindex.org/bikes/1234", class: "form-control"
        .col-sm-4.col-lg-2
          = submit_tag t(".update"), class: "btn btn-success"

      %p{ style: "margin-top: 24px;" }
        = t(".or_click_emlink_item_on_of_your_bikes_to_", bike_codekind: @bike_code.kind)

      %table.table.table-striped.table-bordered.table-sm.without-exterior-border
        %thead.small-header
          %tr
            %th.date-added
              = t(".added")
              %small.convertTimezone
            %th.hidden-xs-down= t(".manufacturer")
            %th.hidden-xs-down= t(".model")
            %th.hidden-xs-down= t(".color")
            %th.hidden-sm-up.hidden-sm-up
              %small
                = t(".mnfg_model_span_classlessstrongcolorspan")
            %th
              = t(".link_it")
        %tbody
          - @bikes.each do |bike|
            %tr
              %td
                %small
                  %a.convertTime{ href: bike_path(bike) }
                    = l bike.created_at, format: :convert_time
              %td.hidden-xs-down
                = bike.mnfg_name
              %td.hidden-xs-down
                = bike.frame_model
              %td.hidden-xs-down
                = bike.frame_colors.to_sentence
              %td.hidden-sm-up
                %small
                  = [t(".bikemnfg_name"), bike.frame_model].select(&:present?)..join(", ")
                  %span.less-strong
                    = bike.frame_colors.to_sentence
                  %br
              %td
                %small
                  = link_to t(".link_bike_codekind", bike_codekind: @bike_code.kind), bike_code_path(id: @bike_code.code, organization_id: @bike_code.organization_id, bike_id: bike.id), method: :put
  - else
    %p{ style: "margin-top: 24px;" }
      = t(".to_link_that_card_with_a_bike")
      = link_to t(".please_sign_in", ), new_session_url(return_to: "bikes/#{@bike_code.code}/scanned?organization_id=#{@bike_code.organization_id}")
