.receptacle.overfloating
  .inner-recep
    %h1
      Oh no! That spoke card isn't linked to a bike
    %article
      %h3
        Tell us what bike it should connected to!
    
    = form_for @feedback do |f|
      - if @feedback.errors.any?
        #alert-block
          .alert.alert-error
            %a.close{"data-dismiss" => "alert"} ×
            %h4
              Please fix the following 
              = pluralize(@feedback.errors.count, "error")
            %ul
              - @feedback.errors.full_messages.each do |msg|
                %li 
                  = msg  

      .feedbacks.padded
        .contact-info
          = f.hidden_field :name, value: "spoke card connect"
          = f.hidden_field :feedback_type, value: 'spokecard'
          = f.email_field :email, required: true, placeholder: "Enter your email address", value: current_user ? current_user.email : ""
          = f.hidden_field :title, value: @card_id
        .contact-text
          - if current_user.present? && current_user.bikes.any?
            = f.text_area :body, placeholder: "Bike url it should be associated with (and anything else you want to say)", rows: 7, value: "I would like to connect this spoke card to my bike \n\nhttps://bikeindex.org/bikes/#{current_user.bikes.first}"
          - else
            = f.hidden_field :body, value: 'not logged in'
        .feedback-actions.control-group
          = f.submit 'Submit!', class: 'button-green pull-right'
        