.container.scanned-not-claimed-page
  %h1
    Oh no!
  %h2
    = @bike_code.kind
    %em
      = @bike_code.code
    isn't linked to a bike.
  %hr.mb-4.mb-4

  - if current_user.present?
    - if @show_organization_bikes
      - if current_organization.bike_search?
        %p.less-strong{ style: "margin-bottom: 0; font-style: italic;" }
          Link one of #{current_organization.name} bikes to this sticker
        = render partial: "/organized/bikes/search", locals: { path_for_search: scanned_bike_path(@bike_code.code, organization_id: current_organization.to_param), skip_view_just_stolen: true }
      - else
        = render "/organized/bikes/list"
    - elsif !@bike_code.claimable_by?(current_user)
      %h3
        You have claimed the maximum permitted number of Bike Codes.
      %p
        Please email #{ link_to "support@bikeindex.org", "mailto:support@bikeindex.org" } if you don't understand why you're seeing this message or if you need an exception made.
    - else
      %p
        You can enter the URL of the bike you would like to link this #{@bike_code.kind} to:
      = form_tag bike_code_path(id: @bike_code.code, organization_id: @bike_code.organization_id), method: "PUT", class: "row" do
        .col-sm-8.col-lg-10
          .form-group
            = text_field_tag :bike_id, "", placeholder: "https://bikeindex.org/bikes/1234", class: "form-control"
        .col-sm-4.col-lg-2
          = submit_tag "Update", class: "btn btn-success"
        
      %p{ style: "margin-top: 24px;" }
        Or, click <em>link it</em> on of your bikes to connect it to this #{@bike_code.kind}:

      %table.table.table-striped.table-bordered.table-sm.without-exterior-border
        %thead.small-header
          %tr
            %th.date-added
              Added&nbsp;<small class="convertTimezone"></small>
            %th.hidden-xs-down Manufacturer
            %th.hidden-xs-down Model
            %th.hidden-xs-down Color
            %th.hidden-sm-up.hidden-sm-up
              %small
                mnfg, model,
                %span.less-strong
                  color
            %th
              Link&nbsp;IT!
        %tbody
          - @bikes.each do |bike|
            %tr
              %td
                %small
                  %a.convertTime{ href: bike_path(bike) }
                    = l bike.created_at, format: :convert_time
              %td.hidden-xs-down
                = bike.mnfg_name
              %td.hidden-xs-down
                = bike.frame_model
              %td.hidden-xs-down
                = bike.frame_colors.to_sentence
              %td.hidden-sm-up
                %small
                  = bike.mnfg_name
                  = ", #{bike.frame_model}" if bike.frame_model.present?
                  %span.less-strong
                    = bike.frame_colors.to_sentence
                  %br
              %td
                %small
                  = link_to bike_code_path(id: @bike_code.code, organization_id: @bike_code.organization_id, bike_id: bike.id), method: "PUT" do
                    Link&nbsp;#{@bike_code.kind}
  - else
    %p{ style: "margin-top: 24px;" }
      To link that card with a bike,
      = link_to "please sign in", new_session_url(return_to: "/bikes/#{@bike_code.code}/scanned?organization_id=#{@bike_code.organization_id}")
