= render partial: "bike_show_overlays"

.container
  -# If there's a passive organization, display bike title at the top too, otherwise you can't tell what bike you're looking at without scrolling down
  -# TODO: move these queries into the controller
  - if current_user.present?
    - show_credibility_badges = current_user.su_option?(:always_show_credibility) || passive_organization.present? && current_user.authorized?(passive_organization) && passive_organization&.enabled?("credibility_badges")
    - superadmin_link = current_user.superuser?(controller_name: "bikes", action_name: "show")
    - if show_credibility_badges || superadmin_link
      .row
        - col_classes = show_credibility_badges ? "col-md-7" : "col-xs-12"
        .clearfix{class: col_classes}
          - if superadmin_link
            = link_to "superadmin", admin_bike_path(@bike.to_param), class: "btn btn-outline-info less-strong superuser-bike-button"
          - if passive_organization.present?
            %h3.secondary-bike-title.mb-2
              = bike_title_html(@bike)
              - if @bike.likely_spam?
                %small.text-danger likely spam
              - if @bike.example
                %small.text-danger= t(".test_registration")
        - if show_credibility_badges
          .col-md-5.text-right
            = render partial: "/bikes/credibility_score", locals: {bike: @bike}



  - if current_user&.superuser?(controller_name: "bikes", action_name: "show")
    - if !@bike.unregistered_parking_notification? && @bike.user_hidden
      %h2.text-warning.mb-4.mt-2
        = t(".hidden_by_owner")
        %small.less-strong.uncap.d-block
          = t(".no_one_but_the_user_and_bike_index_admins")
    - if @bike.deleted?
      %h2.text-danger.uncap.mb-4.mt-2
        Deleted
        - if @bike.deleted_at.present?
          %small.convertTime.preciseTime.withPreposition
            = l @bike.deleted_at, format: :convert_time

  - if @bike_sticker.present?
    .alert.alert-success
      %p= t(".you_scanned_this_sticker_html", pretty_code: @bike_sticker.pretty_code, bike_type: @bike.type)
      - if current_user&.authorized?(@bike_sticker)
        %p.mt-2
          %em.less-strong
            = t(".is_this_linked_to_incorrect_bike")
            %a.gray-link{ href: "#updateBikeCodeLink", data: { toggle: "collapse" } }
              = t(".change_the_bike_sticker_linked_to")
        .collapse#updateBikeCodeLink
          = form_tag bike_sticker_path(id: @bike_sticker.code, organization_id: @bike_sticker.organization_id), method: :put, class: "row mt-4" do
            .col-sm-8.col-lg-10
              .form-group
                = label_tag :bike_id, t(".switch_to_new_bike_id")
                = text_field_tag :bike_id, nil, placeholder: "https://bikeindex.org/bikes/1234", class: "form-control"
            .col-sm-4.col-lg-2.mt-4
              = submit_tag t(".update"), class: "btn btn-success"

  -# Authorize check here, even though we're checking in controller too, because
  -# otherwise we're displaying user data - so it's critical to be sure
  - if current_user.present? && passive_organization.present? && current_user.authorized?(passive_organization)
    = render partial: "organized_access_panel"

  - if current_user.present? && @bike.user == current_user
    = render partial: "owner_bike_status_alerts"

  - if @submitted_impound_claims.present?
    .mt-2
      %em
        You have
        #{pluralize number_with_delimiter(@submitted_impound_claims.count), "submitted claim"}
      = render partial: "impound_claims/claimant_table", locals: { impound_claims: @submitted_impound_claims, skip_bike_claimed: true }
      %hr.mt-2.mb-4.less-strong

  - if @impound_claim.present?
    -# This is open if passed there is an existing impound_claim
    - @contact_owner_open = true if @impound_claim.id.present? && !@contact_owner_open
    = render partial: "impound_claim", locals: { impound_record: @bike.current_impound_record, impound_claim: @impound_claim, start_open: @contact_owner_open }

  .row
    .col-12
      =# image_tag rails_public_blob_url(@bike.current_stolen_record.stolen_image)
  .row
    .col-md-8
      %h1.bike-title
        = bike_status_span(@bike)
        %span.uncap= bike_title_html(@bike)
        - if @bike.example?
          %small.text-warning.uncap= t(".test_registration")

      - if @bike.status_impounded?
        %strong.text-warning= t(".looking_for_correct_owner", bike_type: @bike.type)
      - elsif !@bike.status_with_owner? && @bike.created_by_notification_or_impounding?
        -# This should only show up if the bike isn't registered
        %strong.text-warning= t(".not_registered_by_user")
        - if @bike.current_ownership&.origin == "unregistered_parking_notification"
          %em= t(".created_to_record_parking_notification", bike_type: @bike.type_titleize, organization: @bike.creation_organization.short_name)

      - if @bike.status_stolen? && @stolen_record.present? || @bike.status_impounded? && @bike.current_impound_record.present?
        %p
          %strong= @bike.status_humanized_translated.titleize
          %span.convertTime.preciseTime
            - time = @stolen_record.present? ? @stolen_record.date_stolen : @bike.current_impound_record.impounded_at
            = l time, format: :convert_time
          %small.convertTimezone
          - if (@stolen_record || @bike.current_impound_record).address.present?
            %strong
              = @bike.status_found? ? t(".in") : t(".from")
            = (@stolen_record || @bike.current_impound_record).address

      - if @bike.user&.show_bikes?
        %h4
          = link_to t(".view_users_other_registrations"), user_path(@bike.owner.username)

    .col-md-4.ad-col
      .ad-block.ad-binx.ad468x60
  .row
    = render partial: "/bikes/main_show_block"

    .col-md-4
      .social-share-bike.mb-4.mt-4
        %h4
          - if @bike.status_stolen_or_impounded?
            = t(".spread_the_word")
          - else
            = t(".share_it")
        = render 'shared/share_this'
      - if BikeDisplayer.display_contact_owner?(@bike, current_user)
        .contact-the-owner
          %p.preface
            %em
              = t(".know_something_about_this_bike_type", bike_type: @bike.type)
          %h3
            = t(".contact_the_owner")
          - redirect = new_session_url(return_to: "/bikes/#{@bike.id}?contact_owner=true") unless current_user.present?
          #write_them_a_message.collapse{ class: ("in" unless @contact_owner_open), data: { redirect: redirect } }
            %a.btn.btn-primary.btn-lg{ href: '#new_stolen_message', 'aria-controls' => 'new_stolen_message', 'data-toggle' => 'collapse' }
              = t(".write_them_a_message")

          .collapse#new_stolen_message{ class: ("in" if @contact_owner_open) }
            - @stolen_notification ||= StolenNotification.new(bike: @bike)
            = form_for @stolen_notification do |f|
              = f.hidden_field :bike_id, value: @bike.id
              = f.text_area :message, required: true, placeholder: t(".where_did_you_see_this_bike", bike_type: @bike.type), rows: 6, class: "form-control"
              = f.text_field :reference_url, placeholder: t(".link_url"), class: "form-control additional-field"

              .send-message
                = f.submit t(".send_message"), class: 'btn btn-primary btn-lg'
          - if @bike.phoneable_by?(current_user)
            %p.phoneable-by
              %em
                = t(".or_call")
              %strong
                = t(".owners_phone_number")
              = phone_link(@stolen_record.phone)

      -# Don't show if contact_owner is open - because then we're rendering impound_claim in the main page
      - if BikeDisplayer.display_impound_claim?(@bike, current_user) && !@contact_owner_open
        - redirect = new_session_url(return_to: "/bikes/#{@bike.id}?contact_owner=true") unless current_user.present?

        .contact-the-owner#write_them_a_message.collapse{ class: ("in" unless @contact_owner_open), data: { redirect: redirect } }
          %p.preface
            %em
              Does this look like your #{@bike.type}?
          %h3
            Claim
            = @bike.current_impound_record.kind
            #{@bike.type}

          %a.btn.btn-primary.btn-lg{ href: '#impound_claim', 'aria-controls' => 'impound_claim', 'data-toggle' => 'collapse' }
            Open claim

      .ad-block.ad-binx.ad300x600
      = render partial: "/shared/google_ad", locals: {klass: "ad-block ad-google ad300x600 mt-2"}
