- if current_user.present? and @bike.can_be_claimed_by(current_user)
  = render 'bikes/modals/claim_ownership.html.haml'  

- elsif @bike.owner == current_user
  .show-bike-edit
    %p
      - if @bike.current_owner_exists
        - if @bike.recovered
          Thank you for recovering this #{@bike.type}!
        - elsif @bike.stolen
          We're really bummed your #{@bike.type} was stolen    
        - else
          Whoah, this awesome #{@bike.type} is yours!

        - if @bike.public_images.any?
          Add some more information about it
        - else
          - if @bike.stolen
            Add a picture so people know what to look for!
          - else
            You should add a picture of it, so everyone can admire its beauty
        = link_to  "Edit", edit_bike_path, class: "btn btn-default"
      - else
        You sent this bike to
        %em
          = @bike.current_ownership.owner_email
        but it hasn't been claimed yet, so you can update it
        = link_to  "Edit", edit_bike_path, class: "btn btn-default"


#bike-show.container.single-bike-show
  %header.with-subtitle
    %h1
      - if @bike.stolen
        %strong.stolen-color
          - if @bike.recovered
            Recovered 
          Stolen
      = @bike.title_u

    %p
      = @bike.show_other_bikes
    - if @bike.bike_show_twitter_and_website
      %p
        = @bike.bike_show_twitter_and_website

  .bike-show-main.padded.with-divider
    .bike-photos
      = render 'bikes/photo'
    
    %ul.attr-list
      - serial = @bike.serial_number
      - if serial.match('absent')
        - if @bike.stolen
          - serial = 'Do not know'
        - else
          - serial = 'Has no serial'

      = @bike.attr_list_item(serial, 'Serial')
      - unless @bike.type == "bike"
        = @bike.attr_list_item(@bike.type.titleize, "Cycle type")
      = @bike.attr_list_item(@bike.mnfg_name, 'Manufacturer')
      = @bike.attr_list_item(@bike.frame_model, 'Model')
      = @bike.attr_list_item(@bike.year.to_s, 'Year')
      - if @bike.frame_size.present?
        - size = @bike.frame_size
        - if @bike.frame_size_unit.present?
          - if @bike.frame_size_unit.match('ordinal')
            - size = size.upcase
          - else
            - size = "#{size} #{@bike.frame_size_unit}"
        = @bike.attr_list_item(size, 'Frame size')
      = @bike.attr_list_item(@bike.ass_name("frame_material"), 'Frame Material')
      = @bike.attr_list_item(@bike.ass_name("handlebar_type"), 'Handlebar type')
      - if @bike.front_wheel_size_id.present?
        - if @bike.front_wheel_size_id == @bike.rear_wheel_size_id
          = @bike.attr_list_item(@bike.ass_name("front_wheel_size"), 'Wheel diameter')
        - else
          = @bike.attr_list_item(@bike.ass_name("front_wheel_size"), 'Front wheel diameter')
          = @bike.attr_list_item(@bike.ass_name("rear_wheel_size"), 'Rear wheel diameter')
      = @bike.attr_list_item(@bike.frame_colors.to_sentence, 'Primary colors')
  .sharing-section.padded
    = render "/shared/share_this"

  - if @bike.stolen && @stolen_record.present?
    = render 'stolen_show_fields'

  - if @bike.description.present?
    .bike-show-description.padded
      %h3
        A few more words
      %p
        = @bike.description
  - if @bike.cgroup_array.present?
    .bike-show-components.padded
      - @bike.cgroup_array.each do |cgroup_id|
        .comp-group
          %h3
            = Cgroup.find(cgroup_id).name

          %ul.attr-list
            - @components.each do |component|
              - next unless component.cgroup_id == cgroup_id
              %li
                .attr-title
                  - if component.front && component.rear
                    Front & rear
                  - elsif component.front
                    Front
                  - elsif component.rear
                    Rear
                  - if component.component_type == "unknown"
                    Other
                  - else
                    = component.component_type.titleize if component.component_type.present?
                = component.description
                - if component.year.present? ||  component.model_name.present? || component.manufacturer.present?
                  #{component.model_name}
                  = "#{component.year}" if component.year.present?
                  - if component.manufacturer.present?
                    (#{component.mnfg_name})
