!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{name: "description", content: "Spoke card a bike." }
    %title= content_for?(:title) ? yield(:title) : "Bike Index"
    <link rel="shortcut icon" href="/fav.ico" />
    = stylesheet_link_tag "spokecard", media: "all"
    = csrf_meta_tags
    <!-- Pulled from https://code.google.com/p/html5shiv/ -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

%body
  .spokecard-wrap
    %span.tleft
    %span.bleft
    %span.tright
    %span.bright

    = image_tag "spokecard_front.svg", alt: "Spokecard front", title: "GO FAST", class: "spokecard-background"
    
    .qr-code-f
      %img{ src: @qrcode, alt: "This bike's qrcode" }

  .spokecard-wrap
    %span.tleft
    %span.bleft
    %span.tright
    %span.bright

    = image_tag "spokecard_back.svg", alt: "Spokecard back", title: "GO FAST", class: "spokecard-background"

    .qr-code-b
      %img{ src: @qrcode, alt: "This bike's qrcode" }
