.mb-4
  %h1 Appointment scheduling

- multiple_locations = current_organization.locations.count > 1

- if multiple_locations
  %ul.nav.nav-tabs
    - current_organization.locations.each do |location|
      %li.nav-item
        - if location == current_organization_location
          %a.nav-link.active{ href: "#" }
            = location.name
        - else
          %a.nav-link{ href: schedule_organization_manage_path(organization_id: current_organization.to_param, organization_location_id: location.id) }
            = location.name

= form_for @location, { url: organization_manage_path(id: @organization.id, organization_id: @organization.to_param), action: 'update', html: { class: 'organized-form' } } do |f|

  = hidden_field_tag :id, current_organization_location.id

  .row.mt-4
    .col-lg-6.offset-lg-3
      %table.table-list
        %tbody
          - if multiple_locations
            %tr
              %td Name
              %td= @location.name
          %tr
            %td Phone
            %td= @location.phone
          %tr
            %td Address
            %td
              = [@location.street, @location.city, "#{@location.state.abbreviation} #{@location.zipcode}"].join(", ")
          %tr
            %td Timezone
            %td
              = @location.timezone

  .mt-4
  - @location.fetch_reference_location_schedules.each do |location_schedule|
    - day = location_schedule.day
    - starts_closed = location_schedule.set_closed
    .row
      .col-lg-8.offset-lg-1
        .scheduling-day.mt-2{ id: "schedulingDay-#{day}", "data-day" => day }
          / .col-xs-6
          %h3.header-font-uncap.d-inline-block.mr-2
            #{day.titleize}s
          / .col-xs-6.text-right
          = label_tag "set_closed_#{day}", class: "d-inline-block text-right" do
            = check_box_tag "set_closed_#{day}", day, location_schedule.set_closed, { class: "dayClosedCheckbox ml-2" }
            Closed #{day.titleize}s
          .dayOpen.collapse{ class: (starts_closed ? "" : "in show") }
            .row
              - open_hours = location_schedule.open_hours
              - open_hours = [[9, 5]] unless open_hours.any?
              - open_hours.each_with_index do |time_block, i|
                .col-xs-3.text-right
                  = label_tag "location_open_hours_block_#{i}_open", "Open from"
                .col-xs-4
                  = number_field_tag "location_open_hours_block_#{i}_open", time_block[0], class: "form-control mr-2", step: 1, min: 0
                .col-xs-1.text-right
                  = label_tag "location_open_hours_block_#{i}_closed", "to"
                .col-xs-4
                  = number_field_tag "location_open_hours_block_#{i}_closed", time_block[1], class: "form-control mr-2", step: 1, min: 0

            %hr.mt-4.mb-2

            .row
              - appointment_hours = location_schedule.appointment_hours
              - appointment_hours = [[9, 5]] unless appointment_hours.any?
              - appointment_hours.each_with_index do |time_block, i|
                .col-xs-3.text-right
                  = label_tag "location_appointment_hours_block_#{i}_open", "Appointments from"
                .col-xs-4
                  = number_field_tag "location_appointment_hours_block_#{i}_open", time_block[0], class: "form-control mr-2", step: 1, min: 0
                .col-xs-1.text-right
                  = label_tag "location_appointment_hours_block_#{i}_closed", "to"
                .col-xs-4
                  = number_field_tag "location_appointment_hours_block_#{i}_closed", time_block[1], class: "form-control mr-2", step: 1, min: 0
            .row.mt-4
              .col-xs-8.col-sm-6.text-right
                = label_tag "location_appointments_simultaneous", "Simultaneous appointments"
              .col-xs-4
                = number_field_tag "location_appointments_simultaneous", 1, class: "form-control mr-2", step: 1, min: 0
            .row.mt-2
              .col-xs-8.col-sm-6.text-right
                = label_tag "location_appointments_every_minutes", "Appointments every X minutes"
              .col-xs-4
                = number_field_tag "location_appointments_every_minutes", 30, class: "form-control mr-2", step: 1, min: 0


