%h1.mb-4
  = t(".org_settings_html", org_name: @organization.name)

= form_for @organization, { url: organization_manage_path(id: @organization.id, organization_id: @organization.to_param), action: 'update', html: { class: 'organized-form' } } do |f|

  .form-group.row
    = f.label :name, t(".name"), class: 'org-form-label'
    .col-sm-4
      = f.text_field :name, required: true, class: 'form-control'

  .form-group.row
    = f.label :short_name, t(".abbreviation"), class: 'org-form-label'
    .col-sm-4
      = f.text_field :short_name, class: 'form-control'

  .form-group.row.fancy-select.unfancy
    = f.label :embedable_user_email, class: 'org-form-label' do
      = t(".registration_email")
    .col-sm-4
      = f.select :embedable_user_email,
      @organization.users.pluck(:email),
      prompt: t(".select_email"),
      selected: (@organization.auto_user && @organization.auto_user.email),
      class: "form-control"
      %span.below-input-help
        = t(".org_email_address_html", org_name: @organization.name)

  - unless Organization.admin_required_kinds.include?(@organization.kind)
    .form-group.row
      %label.org-form-label
        = t(".organization_type")
      .col-sm-4
        - Organization.user_creatable_kinds.each do |kind|
          .radio
            %label
              = f.radio_button :kind, kind
              = kind.humanize

  .form-group.row
    = f.label :website, class: 'org-form-label'
    .col-sm-4
      = f.text_field :website, class: 'form-control'

  .form-group.row.avatar-upload-wrapper
    %label.org-form-label
      = t(".organization_logo")
    .col-sm-4
      - if @organization.avatar?
        = image_tag(@organization.avatar_url(:thumb))

      %label.file
        = f.file_field :avatar, class: 'avatar-upload-field'
        %span.file-custom
          %span.file-upload-text= t(".choose_file")
        = f.hidden_field :avatar_cache

  .form-group.row.mt-4
    .form-submit-button
      = f.submit t(".update"), class: 'btn btn-success btn-lg'

- unless current_organization.is_paid
  %hr.delete-organization-section
  %p.text-md-center
    %a.collapsed{ href: '#', data: { toggle: 'collapse', target: '#delete-organization' } }
      = t(".i_would_like_to_terminate_my_account")
  #delete-organization.collapse
    .text-md-center
      = link_to t(".delete_organization"),
        organization_manage_path(id: current_organization.to_param, organization_id: current_organization.to_param),
        method: :delete,
        data: { confirm: t(".removal_confirmation", org_name: current_organization.name) },
        class: 'btn btn-danger'
