.primary-edit-bike-form
  .form-well-container.container{ class: "edit-bike-page-alert" }
    .row
      = render partial: "/bikes_edit/primary_menu", locals: { no_save_button: true }

      .col-md-8.form-well
        .form-wrap
          .form-well-form-header-always-visible
            %h3
              = translate_with_args(".thank_you")
          .row.mt-4
            .col-sm-12
              %p
                = translate_with_args(".your_order_is_pending")
              %p
                = translate_with_args(".stay_tuned_for_an_update_once_weve_proces")

        = render partial: "table", locals: { theft_alerts: @theft_alerts }
