- is_selected = (theft_alert_plan == selected_plan) if selected_plan.present?
- is_preferred = (theft_alert_plan == preferred_plan) if preferred_plan.present?

.col-md-12.col-lg-4
  .detail-card-container.js-plan-container{class: "#{'selected' if is_selected}"}
    .detail-card-title
      = theft_alert_plan.name
      - if is_preferred
        .preferred-tag Best value
    .detail-card
      .detail-card-subtitle
        %strong
          = number_with_delimiter(theft_alert_plan.views)
        Views
      .detail-card-subtitle
        %strong= theft_alert_plan.duration_days
        Days
      .detail-card-subtitle.detail-card-price
        = number_to_currency(theft_alert_plan.amount_cents / 100.0)
    .detail-card-content-main
      = theft_alert_plan.description_html.html_safe
    .detail-card-subtitle.detail-card-footer.js-plan-select{ |
      class: "#{'selected' if is_selected}", |
      data: { theft_alert_plan_id: theft_alert_plan.id } }
