- render_sortable ||= false

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th
        = sortable "created_at", render_sortable: render_sortable
      %th
        = sortable "amount_cents", "amount", render_sortable: render_sortable
      %th
        = sortable "marketplace_listing", render_sortable: render_sortable
      %th
        Body
      %th
        = sortable "kind", "From", render_sortable: render_sortable
      %th
        = sortable "sender_id", render_sortable: render_sortable
      -# I don't think this is necessary...
      -# %th
      -#   = sortable "receiver_id", render_sortable: render_sortable
    %tbody
      - collection.each do |marketplace_message|
        %tr
          %td
            .less-strong-hold
              %a.convertTime{href: admin_marketplace_message_path(marketplace_message)}
                = l marketplace_message.created_at, format: :convert_time
              - if display_dev_info?
                %span.less-strong-right.d-none.d-md-block.only-dev-visible
                  = marketplace_message.id
          %td
            %small= "#{marketplace_message.marketplace_listing.currency_symbol}#{number_display(marketplace_message.marketplace_listing.amount)}"
          %td
            = render partial: "/shared/admin/bike_cell", locals: {bike: marketplace_message.item, bike_id: marketplace_message.item_id, bike_link_path: admin_bike_path(marketplace_message.item_id, active_tab: "messages")}
            = link_to search_emoji, url_for(sortable_search_params.merge(search_marketplace_listing_id: marketplace_message.marketplace_listing_id)), class: "display-sortable-link small ml-1"
          %td
            %span{title: marketplace_message.body}
              = marketplace_message.body.truncate(100)
          %td
            %span{class: (marketplace_message.sender_buyer? ? "less-strong" : "")}
              = marketplace_message.kind_humanized
          %td
            = render partial: "/shared/admin/user_cell", locals: {user: marketplace_message.sender, render_search: true, cache: true}
          -# %td
          -#   = render partial: "/shared/admin/user_cell", locals: {user: marketplace_message.receiver, render_search: true, cache: true}
