<% message_thread_path = admin_marketplace_messages_path(search_marketplace_listing_id: @marketplace_listing.id, user_id: @marketplace_listing.buyer_id || @marketplace_message.receiver_id) %>

<div class="admin-subnav">
  <div class="col-md-12">
    <h1>Marketplace Message</h1>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <table class="table-list">
      <tbody>
        <% if display_dev_info? %>
          <tr>
            <td class="only-dev-visible">ID</td>
            <td><code><%= @marketplace_message.id %></code></td>
          </tr>
        <% end %>

        <tr>
          <td>Sender</td>

          <td>
            <%= render Admin::UserCell::Component.new(user: @marketplace_message.sender, user_id: @marketplace_message.sender_id) %>

            <small class="tw:ml-2">
              <% sender_count = MarketplaceMessage.where(sender_id: @marketplace_message.sender_id).count %>

              <%= link_to admin_marketplace_messages_path(user_id: @marketplace_message.sender_id) do %>
                <%= number_display(sender_count) %> total
                <%= "message".pluralize(sender_count) %> sent
              <% end %>
            </small>
          </td>
        </tr>

        <tr>
          <td>Receiver</td>

          <td>
            <%= render Admin::UserCell::Component.new(user: @marketplace_message.receiver, user_id: @marketplace_message.receiver_id) %>

            <small class="tw:ml-2">
              <% receiver_count = MarketplaceMessage.where(sender_id: @marketplace_message.receiver_id).count %>

              <%= link_to admin_marketplace_messages_path(user_id: @marketplace_message.receiver_id) do %>
                <%= number_display(receiver_count) %> total
                <%= "message".pluralize(receiver_count) %> sent
              <% end %>
            </small>
          </td>
        </tr>

        <tr class="small">
          <td>Created</td>

          <td>
            <span class="localizeTime preciseTime">
              <%= l @marketplace_message.created_at, format: :convert_time %>
            </span>
          </td>
        </tr>

        <tr class="small">
          <td>Updated</td>

          <td>
            <span class="localizeTime preciseTime">
              <%= l @marketplace_message.updated_at, format: :convert_time %>
            </span>
          </td>
        </tr>

        <tr>
          <td>From</td>
          <td><%= @marketplace_message.kind_humanized %></td>
        </tr>

        <tr>
          <td>Count</td>

          <td>
            <%= number_display(@marketplace_message.messages_prior_count) %>
            prior /
            <small><%= number_display(@marketplace_messages_thread.count) %> total <%= link_to "in thread", message_thread_path %></small>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table-list">
      <tbody>
        <tr>
          <td>Marketplace Listing</td>

          <td class="small">
            <span class="localizeTime">
              <%= l @marketplace_listing.created_at, format: :convert_time %>
            </span>

            <% if display_dev_info? %>
              <code class="only-dev-visible">
                <%= @marketplace_listing.id %>
              </code>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>Listing status</td>

          <td>
            <%= render Badge::Status::Component.new(status: @marketplace_listing.status, status_humanized: @marketplace_listing.status_humanized, kind: :marketplace_listing) %>
          </td>
        </tr>

        <tr>
          <td>Listing published</td>

          <td>
            <% if @marketplace_listing.published_at.present? %>
              <span class="localizeTime">
                <%= l @marketplace_listing.published_at, format: :convert_time %>
              </span>
            <% end %>

            <small class="less-strong">
              (<%= number_display(@marketplace_listing.marketplace_messages.count) %>
              
              <%= link_to("messages about this listing", admin_marketplace_messages_path(marketplace_listing_id: @marketplace_message.marketplace_listing_id)) %>)
            </small>
          </td>
        </tr>

        <tr>
          <td>Listing end</td>

          <td>
            <% if @marketplace_listing.end_at.present? %>
              <span class="localizeTime">
                <%= l @marketplace_listing.end_at, format: :convert_time %>
              </span>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>price</td>

          <td>
            <%= amount_display(@marketplace_listing, currency_name_suffix: :if_not_default) %>
          </td>
        </tr>

        <tr>
          <td>Condition</td>
          <td><%= @marketplace_listing.condition %></td>
        </tr>

        <tr>
          <td>Item</td>

          <td>
            <%= render Admin::BikeCell::Component.new(bike: @marketplace_listing.item, bike_id: @marketplace_listing.item_id, bike_link_path: bike_path(@marketplace_listing.item_id, show_marketplace_preview: true)) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="mt-4">
  <%= render(Card::Component.new(shadow: true)) do %>
    <p><strong>subject:</strong><%= @marketplace_message.subject %></p>

    <%= render(UserTextBlockDisplay::Component.new(text: @marketplace_message.body, max_height_class: "")) %>
  <% end %>
</div>

<% if @marketplace_messages_thread.count > 1 %>
  <h2 class="mt-5">
    Message Thread
    <small>(<%= link_to(number_display(@marketplace_messages_thread.count), message_thread_path) %>)</small>
  </h2>
  <%= render partial: "table", locals: {collection: @marketplace_messages_thread.order(id: :desc), render_sortable: false, skip_marketplace_listing: true, truncate_length: 200} %>
<% end %>
