<div class="<%= wrapper_classes %>">
  <%# bootstrap sets font-weight on dt %>
  <dt class="<%= dt_classes %>"><%= @label %></dt>

  <%# bootstrap sets margin_bottom on dd %>
  <dd class="tw:mb-0!">
    <% if render_convertime? %>
      <span class="<%= @time_localizer_classes %>">
        <%= l @value, format: :convert_time %>
      </span>
      <% if @include_time_zone %>
        <span class="localizeTimezone"></span>
      <% end %>
    <% elsif @value.present? || content.present? %>
      <%# By default, render full_width as user content %>
      <% if @full_width && @value.present? %>
        <%= render(UserTextBlockDisplay::Component.new(text: @value, max_height_class: "")) %>
      <% else %>
        <%= @value %>
        <%= content %>
      <% end %>
    <% else %>
      <span class="tw:text-xs tw:opacity-50"><%= no_value_content %></span>
    <% end %>
  </dd>
</div>
