
%h1
  Manage Failed Bikes

%h4
  = @b_params.count
  failed bikes,
  %em
    = @b_params.where(BParam.arel_table[:created_at].gt(Date.yesterday)).count
    today



.full-screen-table-wrapper
  %table.table.table-striped.table-bordered
    %thead.thead-light
      %th
        Date
      %th
        Email
      %th
        Errors
    %tbody
      - @b_params.each do |b_param|
        %tr
          %td
            %a.convertTime.preciseTime{ href: admin_failed_bike_url(b_param.id) }
              = l b_param.created_at, format: :convert_time
          %td
            = b_param.creator.email if b_param.creator
          %td
            - if b_param.bike_errors.present?
              = b_param.bike_errors.each_key { |f| f.to_s.humanize}
            - if b_param.errors.present?
              = b_param.errors.each_key { |f| f.to_s.humanize}
            / - if b_param.params.creation_organization_id && b_param.params.creation_organization_id
            /   - organization = Organization.find(b_param.params.creation_organization_id)
            /   = organization.name
