
%header.with-subtitle
  %h1
    Manage Failed Bikes

%h4
  = @bikeParams.count 
  failed bikes,
  %em
    = @bikeParams.where(BParam.arel_table[:created_at].gt(Date.yesterday)).count
    today

  

%section.full-screen-table
  %table.table.table-striped.table-bordered
    %thead
      %th
        Date
      %th
        Email
      %th
        Errors
    %tbody
      - @bikeParams.each do |bikeParam|
        %tr
          %td
            - if bikeParam.created_at.today?
              - time = "Today at #{bikeParam.created_at.strftime("%-I %p")}"
            - elsif Date.yesterday().beginning_of_day() <= bikeParam.created_at
              
              - time = "Yesterday at #{bikeParam.created_at.strftime("%-I %p")}"
            - else
              
              - time = bikeParam.created_at.strftime("%-m/%-d/%Y")

            = link_to time, admin_failed_bike_url(bikeParam.id)
          %td
            = bikeParam.creator.email if bikeParam.creator
          %td
            - if bikeParam.bike_errors.present?
              = bikeParam.bike_errors.each_key { |f| f.to_s.humanize}
            - if bikeParam.errors.present?
              = bikeParam.errors.each_key { |f| f.to_s.humanize}
            / - if bikeParam.params.creation_organization_id && bikeParam.params.creation_organization_id
            /   - organization = Organization.find(bikeParam.params.creation_organization_id)
            /   = organization.name 
          