%table.table-list
  %tbody
    %tr
      %td
        ID
      %td
        = @b_param.id
    %tr
      %td
        Creator
      %td
        -if @b_param.creator.present?
          = @b_param.creator.email
        -else
          No Creator
    %tr
      %td
        created_at
      %td.convertTime.preciseTime
        = l @b_param.created_at, format: :convert_time
    %tr
      %td
        Modified at
      %td.convertTime.preciseTime
        = l @b_param.updated_at, format: :convert_time




%h3.mt-4
  Bike
%pre
  = @b_param.params.to_yaml



%h3.mt-4
  Bike Errors

%pre
  = @b_param.bike_errors.to_yaml
