%p
  ID: 
  = @bikeParam.id
%p
  Creator: 
  - if @bikeParam.creator.present?
    = @bikeParam.creator.email
  - else
    No creator
%p
  Created: 
  = @bikeParam.created_at.strftime("%-I:%M %p on %-m/%-d/%Y")
%p
  Modified: 
  = @bikeParam.updated_at.strftime("%-I:%M %p on %-m/%-d/%Y")




%h3.padded
  Bike
%pre
  = @bikeParam.params.to_yaml


  
%h3.padded
  Bike Errors

%pre
  = @bikeParam.bike_errors.to_yaml