.admin-subnav
  .col-sm-9.col-md-10
    %h1 Twitter Accounts
  .col-sm-3.col-md-2
    = link_to "New Account", "/auth/twitter", class: "btn btn-success float-right"

  .col-12.mt-4
    %h4
      = pluralize(@twitter_accounts.count, "Matching Twitter account")

.full-screen-table-wrapper
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th= sortable "created_at"
      %th= sortable "screen_name", "Handle"
      %th= sortable "last_error_at", "Errored?"
      %th Active?
      %th Default?
      %th= sortable "national", "National?"
      %th= sortable "language"
      %th Address
      %th Neighborhood
      %th= sortable "city"
      %th State
      %th= sortable "country"
      %th Tweets

    %tbody
      - @twitter_accounts.each do |twitter_account|
        %tr
          %td
            %a.convertTime{ href: admin_twitter_account_path(twitter_account) }
              = l(twitter_account.created_at, format: :convert_time)
          %td
            = twitter_account.screen_name

          %td= cross_mark if twitter_account.errored?
          %td= check_mark if twitter_account.active?
          %td= check_mark if twitter_account.default?
          %td= check_mark if twitter_account.national?
          %td= twitter_account.language
          %td
            %small.less-strong= twitter_account.address
          %td
            %small.less-strong= twitter_account.neighborhood
          %td
            %small.less-strong= twitter_account.city
          %td
            %small.less-strong= twitter_account.state&.abbreviation
          %td
            %small.less-strong= twitter_account.country&.name
          %td
            = number_with_delimiter(twitter_account.tweets.count)
