.admin-subnav
  .col-6
    .mr-4
      = link_to 'Update this account', edit_admin_twitter_account_url(@twitter_account)
  .col-6
    .text-right
      = link_to "Delete account",
        admin_twitter_account_path(@twitter_account),
        method: :delete,
        data: { confirm: "Are you sure you want to delete this? This can't be undone" },
        class: "btn btn-danger"

.row
  .col-md-6
    %h1
      %small Twitter Account:
      = @twitter_account.screen_name

    %table.table-list
      %tbody
        - @twitter_account.attributes.except("twitter_account_info").each_pair do |attr, value|
          %tr
            %td= attr
            %td= value

.row
  .col-md-6
    %h3 Tweets
    = render "admin/tweets/tweets", tweets: @twitter_account.tweets


.row
  .col-md-6
    %h3 Twitter Response Data
    %pre{style: "max-height: 400px; overflow: scroll;"}
      = @twitter_account.twitter_account_info.to_yaml
