= render partial: "admin/bikes/bike", locals: { bike: @bike, target: "show", stolen_record: @stolen_record }

.row.mt-2.mb-4
  - @bike.public_images.each_with_index do |img, index|
    - next if index == 1
    .col-3.mb-2.col-lg-2
      = image_tag img.image_url(:small), class: "ml-auto mr-auto", style: "display: block; max-width: 150px; height: auto;"

%hr
- if @stolen_record.blank?
  %h1.mt-4
    Stolen record not created yet.
  %p
    If this bike has just been marked stolen, wait a minute or two and it will be here!

- elsif @bike.present? && !@current_stolen_record
  %h2.text-warning
    This Stolen record is not the current stolen record for the Bike!
  %p
    Either you're viewing a recovered bike or there is a new stolen record.
  %h4
    = link_to "View the current stolen record", edit_admin_stolen_bike_url(@bike.id)
  %p.text-danger.mt-4
    You Probably don't want to do anything on this page

- elsif @stolen_record.present? && !@stolen_record.approved
  .row.mt-4.mb-4
    .col-sm-6
      %p.mb-0
        %span.text-warning
          %strong
            Warning!
          Approving will:
      %ul.mt-0
        %li
          Send out a tweet
        %li
          The #{@bike.type} will be posted to any pertinent blogs.
        %li
          It can NOT be effectively reversed
    .col-sm-6.text-center
      = link_to "Approve listing", approve_admin_stolen_bike_url(@bike), method: :post, class: "btn btn-lg btn-success"

%hr.mt-4.mb-4

- if @customer_contact.present?
  = form_for [:admin, @customer_contact] do |f|
    %h4
      Send bike owner an email

    - if @customer_contact.errors.any?
      = render partial: "/shared/errors", locals: { name: "Customer contact", obj: @customer_contact}
    .row
      .col-lg-4
        .row
          .form-group.col-sm-6
            = f.label :current_user
            = f.email_field :creator_email, value: current_user.email, class: "form-control"
          .form-group.col-md-6
            = f.label :user_email
            = f.email_field :user_email, value: @bike.owner_email, class: "form-control"
          .form-group.col-12
            = f.label :bike, "Your stolen bike"
            = f.text_field :title, value: "Your stolen #{@bike.title_string}", class: "form-control"
            = f.hidden_field :contact_type, value: 'stolen_contact'
            = f.hidden_field :creator_id, value: current_user.id
            = f.hidden_field :bike_id, value: @bike.id
      .col-lg-8
        .form-group
          = f.label :notification_body
          = f.text_area :body, placeholder: "You can write HTML in here. There will be a link to the #{@bike.type} included automatically.", rows: 7, class: "form-control"
      .col-auto.mt-auto
        = f.submit 'Send it!', class: 'btn btn-success mb-4'
        = link_to "Delete", admin_bike_url(@bike), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger mb-4"

- else
  %h1
    Something is broken on this page
  %h2
    This bike doesn't have an owner
  %p
    Talk to a developer
