
.row
  .col-sm
    %h1
      Stolen bikes
  .col-sm
  .col-sm
  .col-sm
    - if @verified_only
      = link_to 'All stolen (not just unverified)', admin_stolen_bikes_url(unapproved: true)
    - else
      = link_to 'Only unverified bikes', admin_stolen_bikes_url
%p
  = link_to "View stolen notifications sent", admin_stolen_notifications_url

%h4
  = Bike.where(stolen: true).count
  Stolen Bikes indexed,
  %em
    (#{Bike.where(stolen: true).where("created_at >= ?", Time.zone.now.beginning_of_day).count} today)
%h4
  - if StolenRecord.where(approved: false).count == 0
    %h4.text-success
      0 are unapproved
  - else
    = StolenRecord.where(approved: false).count
    are unapproved



= paginate @bikes, views_prefix: "admin"
.full-screen-table-wrapper
  %table.table.table-striped.table-bordered
    %thead.thead-light
      %th
        Stolen record created&nbsp;<small class="convertTimezone"></small>
      %th
        Bike info
      %th
        Theft info
      %th
        Location
      %th
        Approved


    %tbody
      - @bikes.each do |bike|
        - current_stolen_record = bike.current_stolen_record
        %tr
          %td
            .less-strong-hold
              %span.less-strong-right
                - if bike.example
                  %span
                    = bike.id
                - else
                  = bike.id
              %small
                %a{ href: edit_admin_stolen_bike_url(bike) }
                  - created_date = current_stolen_record ? current_stolen_record.created_at : bike.created_at
                  %span.convertTime
                    = l created_date, format: :convert_time
          %td
            = bike.title_string

            - if current_stolen_record && current_stolen_record.estimated_value.present?
              %br
              %small.less-strong
                $#{current_stolen_record.estimated_value}

          - if current_stolen_record.present?
            %td
              = current_stolen_record.theft_description
            %td
              - if current_stolen_record.address.present?
                = current_stolen_record.city
            %td.table-cell-check
              = "&#x2713;".html_safe if current_stolen_record.approved
              - if bike.owner.donor?
                <span class="donor-icon">D</span>
              - elsif bike.owner.paid_org?
                <span class="paid-org-icon">O</span>
          - else
            %td
            %td
            %td
              - if bike.owner.donor?
                <span class="donor-icon">D</span>
              - elsif bike.owner.paid_org?
                <span class="paid-org-icon">O</span>


= paginate @bikes, views_prefix: "admin"
