.row
  .col-sm
    %h1
      Stolen bikes
  .col-sm
  .col-sm
  .col-sm
    - if @verified_only
      = link_to 'All stolen (not just unverified)', admin_stolen_bikes_url(unapproved: true)
    - else
      = link_to 'Only unverified bikes', admin_stolen_bikes_url
%p
  = link_to "View stolen notifications sent", admin_stolen_notifications_url

%h4
  = Bike.where(stolen: true).count
  Stolen Bikes indexed,
  %em
    (#{Bike.where(stolen: true).where("created_at >= ?", Time.current.beginning_of_day).count} today)
%h4
  - if StolenRecord.where(approved: false).count == 0
    %h4.text-success
      0 are unapproved
  - else
    = StolenRecord.where(approved: false).count
    are unapproved



= paginate @bikes, views_prefix: "admin"
.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th
        Stolen record created
      %th.small
        Stolen at
      %th
        Bike info
      %th
        Theft info
      %th.small
        Country
      %th
        City
      %th
        Approved


    %tbody
      - @bikes.each do |bike|
        - current_stolen_record = bike.current_stolen_record
        %tr
          %td
            .less-strong-hold
              %span.less-strong-right
                - if bike.example
                  %span
                    = bike.id
                - else
                  = bike.id
              %small
                %a{ href: edit_admin_stolen_bike_url(bike) }
                  - created_date = current_stolen_record ? current_stolen_record.created_at : bike.created_at
                  %span.convertTime
                    = l created_date, format: :convert_time
          %td
            - if current_stolen_record&.date_stolen&.present?
              %small.convertTime
                = l current_stolen_record.date_stolen, format: :convert_time
          %td
            = bike.title_string

            - if current_stolen_record && current_stolen_record.estimated_value.present?
              %br
              %small.less-strong
                $#{current_stolen_record.estimated_value}

          - if current_stolen_record.present?
            %td{ style: "width: 50%;" }
              = current_stolen_record.theft_description
            %td.small
              - if current_stolen_record.country.present?
                - if current_stolen_record.country == Country.united_states
                  %small.less-strong US
                - else
                  %small.text-success= current_stolen_record.country.iso
            %td
              %span{ class: current_stolen_record.city.blank? ? "less-strong" : "" }
                = [current_stolen_record.city, current_stolen_record.state&.abbreviation, current_stolen_record.zipcode].reject(&:blank?).first
            %td.table-cell-check
              = check_mark if current_stolen_record.approved
              - if bike.owner&.donor?
                <span class="donor-icon">D</span>
              - elsif bike.owner&.paid_org?
                <span class="paid-org-icon">O</span>
          - else
            %td
            %td
            %td
            %td
              - if bike.owner&.donor?
                <span class="donor-icon">D</span>
              - elsif bike.owner&.paid_org?
                <span class="paid-org-icon">O</span>


= paginate @bikes, views_prefix: "admin"
