%header.with-subtitle
  %h1
    Stolen Bikes
  - if @verified_only
    = link_to 'All stolen (not just unverified)', admin_stolen_bikes_url, class: "sharing-links"
  - else
    = link_to 'Only unverified bikes', admin_stolen_bikes_url(unapproved: true), class: "sharing-links"
%h4
  = link_to "View stolen notifications sent", admin_stolen_notifications_url
  
%h4
  = Bike.where(stolen: true).count
  Stolen Bikes indexed,
  %em
    (#{Bike.where(stolen: true).where("created_at >= ?", Time.zone.now.beginning_of_day).count} today)
%h4
  = StolenRecord.where(approved: false).count
  are unapproved

.paginate-container
  = will_paginate @bikes 
%section.full-screen-table
  %table.table.table-striped.table-bordered
    %thead
      %th
        Date indexed
      %th.not-tiny-screens
        Bike info
      %th.large-screens
        Theft info
      %th
        Location
      %th
        Approved

      
    %tbody
      - @bikes.each do |bike|
        %tr
          %td
            .less-strong-hold
              %span.less-strong-right.medium-screens
                - if bike.example
                  %span.table-error
                    = bike.id 
                - else
                  = bike.id 
              %a{href: edit_admin_stolen_bike_url(bike) }

                - if bike.created_at.today?
                  Today at #{bike.created_at.strftime("%-I %p")}
                - elsif Date.yesterday().beginning_of_day() <= bike.created_at          
                  Yesterday at #{bike.created_at.strftime("%-I %p")}
                - else
                  = bike.created_at.strftime("%-m.%-d.%Y")
          %td.not-tiny-screens
            = bike.title_string
          %td.large-screens
            - if bike.current_stolen_record.present?
              = bike.current_stolen_record.theft_description
          %td
            - if bike.current_stolen_record.address.present?
              = bike.current_stolen_record.city
          %td
            = "&#x2713;".html_safe if bike.current_stolen_record.approved

  .paginate-container
    = will_paginate @bikes 