.admin-subnav
  .col-md-5
    %h1
      Stolen Bikes
  .col-md-7
    %ul
      %li.nav-item
        = link_to "promoted alerts", admin_stolen_bikes_url(sortable_search_params.merge(search_with_promoted_alert: !@with_promoted_alert)), class: "nav-link #{@with_promoted_alert ? 'active' : ''}"
      %li.nav-item
        - if @unapproved_only
          = link_to "All stolen (not just unverified)", admin_stolen_bikes_url(sortable_search_params.merge(search_unapproved: true)), class: "nav-link"
        - else
          = link_to "Only unverified bikes", admin_stolen_bikes_url(sortable_search_params.merge(search_unapproved: false)), class: "nav-link"
      %li.nav-item
        = link_to "graph", admin_stolen_bikes_url(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"

= render partial: "/admin/social_accounts/errored"

- if @render_chart
  .col-12.mt-2.mb-4
    %h4
      - if sort_column == "created_at"
        - time_range_column = "stolen_records.created_at"
        Stolen records created

      - else
        - time_range_column = "stolen_records.date_stolen"
        Date stolen
    = column_chart time_range_counts(collection: available_stolen_records, column: time_range_column), stacked: true, thousands: ","

= render partial: "/shared/period_select"

- unless @only_without_location
  = form_tag admin_stolen_bikes_path, method: :get do
    .mt-4.mb-4.d-flex.justify-content-end
      = hidden_field_tag :search_unapproved, params[:search_unapproved]
      = render partial: "/shared/hidden_search_fields"

      .mt-2
        %em.small.less-strong.mr-1.d-md-inline.d-none within
        = number_field_tag :search_distance, @distance, class: "form-control d-inline-block", style: "width: 5rem;"
        %em.small.less-strong.ml-1.mr-1.d-md-inline.d-none miles of
      .mt-2.ml-2
        = text_field_tag :search_location, params[:search_location], placeholder: "anywhere", class: "form-control"
      .mt-2.ml-2
        = submit_tag "Search", name: "search", class: "btn btn-primary"
- if @unapproved_only
  %p.mt-4.mb-0
    Showing only unapproved records
    %em
      - if @only_without_location
        %strong
          without location
        %small.less-strong
          view
          = link_to "records with location", url_for(sortable_search_params.merge(search_without_location: false))
      - else
        %small.less-strong
          = number_display(@unapproved_without_location_count) # use the available_stolen_records count because of special scoping
          unapproved records
          = link_to "without location", url_for(sortable_search_params.merge(search_without_location: true))

= render_admin_pagination_with_count(collection: @stolen_records, viewing: "Stolen Bike", count: available_stolen_records.size)

= form_tag approve_admin_stolen_bike_path(id: "multi_approve"), method: :post do
  .full-screen-table
    %table.table.table-striped.table-bordered.table-sm
      %thead.thead-light.sortable
        %th.table-checkbox-select
          %a#multi-checkbox-selector{href: "#"}
            = check_mark
        %th
          = sortable "created_at", "Stolen created"
        %th.small
          = sortable "date_stolen", "Stolen at"
        %th
          Bike info
        %th
          Theft info
        %th.small
          Country
        %th
          City
        %th
          Approved


      %tbody
        - @stolen_records.each do |stolen_record|
          -# Handle cases where bike is user hidden or deleted
          - bike = stolen_record.bike || Bike.unscoped.find(stolen_record.bike_id)
          %tr
            %td.display-multi-check.table-checkbox-select
              = check_box_tag "sr_selected[#{stolen_record.id}]", stolen_record.id
            %td
              / .less-strong-hold
              /   %span.less-strong-right
              /     - if bike&.example
              /       %span.text-danger
              /         = bike.id
              /     - else
              /       = bike&.id
              %a.small{ href: edit_admin_stolen_bike_url(stolen_record, stolen_record_id: true) }
                - created_date = stolen_record&.created_at || bike&.created_at
                %span.convertTime
                  = l created_date, format: :convert_time
            %td
              - if stolen_record&.date_stolen&.present?
                %small.convertTime
                  = l stolen_record.date_stolen, format: :convert_time
            %td
              - if bike.present?
                = bike.title_string
                - if bike.thumb_path.present?
                  %small 📷
              - else
                %span.text-warning no bike

              - if stolen_record && stolen_record.estimated_value.present?
                %br
                %small.less-strong
                  $#{stolen_record.estimated_value}

            - if stolen_record.present?
              %td{ style: "width: 50%;" }
                = stolen_record.theft_description
              %td.small
                - if stolen_record.country.present?
                  - if stolen_record.country == Country.united_states
                    %small.less-strong US
                  - else
                    %small.text-success= stolen_record.country.iso
              %td
                %span{ class: stolen_record.city.blank? ? "less-strong" : "" }
                  = [stolen_record.city, stolen_record.state&.abbreviation, stolen_record.zipcode].reject(&:blank?).first
              %td.table-cell-check
                = check_mark if stolen_record.approved
                = render(Admin::UserBadges::Component.new(user: bike&.user))
            - else
              %td
              %td
              %td
              %td
                = render(Admin::UserBadges::Component.new(user: bike&.user))
  .mb-3.text-center
    = submit_tag 'Approve selected', class: 'btn btn-outline-primary'
= render_admin_pagination_with_count(collection: @stolen_records, count: available_stolen_records.count, viewing: "Stolen Bike", skip_total: true)
