%h1
  Managing Discount Codes
= link_to 'Back to dashboard', admin_root_path, class: "button-red"
= link_to "Add a Discount Code", new_admin_discount_path
%table.table.table-striped
  %thead
    %tr
      %th
        = link_to "Discount Name", sort: 'name'
      %th
        = link_to "Free bike tokens", sort: 'free_bike_tokens'
      %th
        Default?
      %th
        Management Links
  - @discounts.each do |discount|
    %tr
      %td
        = discount.name
      %td
        = discount.free_bike_tokens
      %td
        = 'YES!' if discount.default?
      %td
        = link_to 'Edit', edit_admin_discount_path(discount)
        = link_to 'Delete', admin_discount_path(discount), method: :delete, confirm: 'Are you sure you want to delete this discount code?'
      