%p#notice= notice

%p
  %b Name:
  = @admin_discount.name
%p
  %b Ticket count:
  = @admin_discount.token_count
%p
  %b Default:
  = @admin_discount.default

= link_to 'Edit', edit_admin_discount_path(@admin_discount)

= link_to 'Back', admin_discounts_path
