.admin-subnav
  .col-12
    %h1
      Stolen Notifications

= render partial: "/shared/period_select"

= render partial: "/shared/pagination", locals: {collection: @stolen_notifications, count: searched_stolen_notifications.count, name: "Stolen Notifications", views_prefix: "admin"}

- skip_sortable = false

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.sortable
      %th
        = sortable "created_at", skip_sortable: skip_sortable
      %th.small
        = sortable "updated_at", skip_sortable: skip_sortable
      %th
        = sortable "bike_id", skip_sortable: skip_sortable
      %th
        message
      %th
        sent

    %tbody
      - @stolen_notifications.each do |stolen_notification|
        %tr
          %td
            %a.convertTime{ href: admin_stolen_notification_url(stolen_notification) }
              = l stolen_notification.created_at, format: :convert_time
          %td
            %small.convertTime
              = l stolen_notification.created_at, format: :convert_time
          %td
            - if stolen_notification.bike
              .less-strong-hold
                %span.less-strong-right
                  = link_to stolen_notification.bike_id, edit_admin_stolen_bike_url(stolen_notification.bike)
                = stolen_notification.bike.title_string
            - else
              Bike deleted!
          %td
            = stolen_notification.message.truncate(120)
          %td.table-cell-check
            - if stolen_notification.send_dates_parsed.count == 0
              %span.text-danger no
            - elsif stolen_notification.send_dates_parsed.count == 1
              = check_mark
            - else
              = stolen_notification.send_dates_parsed.count

= render partial: "/shared/pagination", locals: {collection: @stolen_notifications, count: searched_stolen_notifications.count, name: "Stolen Notifications", views_prefix: "admin", skip_total: true}
