%header.with-subtitle
  %h1
    Stolen Notifications

%h4
  = StolenNotification.count
  Stolen Notifications created,
  %em
    (#{StolenNotification.where("created_at >= ?", Time.zone.now.beginning_of_day).count} today)

.paginate-container
  = paginate @stolenNotifications

%section.full-screen-table
  %table.table.table-striped.table-bordered
    %thead
      %th
        Date created
      %th.large-screens
        Bike
      %th
        message
      %th.not-tiny-screens
        sent

    %tbody
      - @stolenNotifications.each do |stolenNotification|
        %tr
          %td
            %a{href: admin_stolenNotification_url(stolenNotification) }

              - if stolenNotification.created_at.today?
                Today at #{stolenNotification.created_at.strftime("%-I %p")}
              - elsif Date.yesterday().beginning_of_day() <= stolenNotification.created_at
                Yesterday at #{stolenNotification.created_at.strftime("%-I %p")}
              - else
                = stolenNotification.created_at.strftime("%-m.%-d.%Y")
          %td.large-screens
            .less-strong-hold
              %span.less-strong-right
                = link_to stolenNotification.bike_id, edit_admin_stolen_bike_url(stolenNotification.bike)
              = stolenNotification.bike.title_string
          %td
            = stolenNotification.message.truncate(120)
          %td.not-tiny-screens
            - if stolenNotification.send_dates.count == 1
              = "&#x2713;".html_safe
            - else
              = stolenNotification.send_dates.count

  .paginate-container
    = paginate @stolenNotifications
