
%h1
  Stolen Notifications

%h4
  = StolenNotification.count
  Stolen Notifications created,
  %em
    (#{StolenNotification.where("created_at >= ?", Time.zone.now.beginning_of_day).count} today)


= paginate @stolen_notifications, views_prefix: "admin"

.full-screen-table
  %table.table.table-striped.table-bordered
    %thead.thead-light
      %th
        Date created
      %th
        Bike
      %th
        message
      %th
        sent

    %tbody
      - @stolen_notifications.each do |stolen_notification|
        %tr
          %td
            %a.convertTime{ href: admin_stolen_notification_url(stolen_notification) }
              = l stolen_notification.created_at, format: :convert_time
          %td
            - if stolen_notification.bike
              .less-strong-hold
                %span.less-strong-right
                  = link_to stolen_notification.bike_id, edit_admin_stolen_bike_url(stolen_notification.bike)
                = stolen_notification.bike.title_string
            - else
              Bike deleted!
          %td
            = stolen_notification.message.truncate(120)
          %td.table-cell-check
            - if stolen_notification.send_dates_parsed.count == 1
              = "&#x2713;".html_safe
            - else
              = stolen_notification.send_dates_parsed.count

= paginate @stolen_notifications, views_prefix: "admin"
