.row
  .col-lg-11.col-sm-12
    %h1
      Stolen Notification
  .col-lg-1.col-sm-12
    = link_to "Resend", resend_admin_stolen_notification_url(@stolen_notification, pretty_please: true), class: 'btn btn-success mt-4 mb-4'
%h4
  Created
  %a.convertTime{ href: admin_stolen_notification_url(@stolen_notification) }
    = l @stolen_notification.created_at, format: :convert_time
%table.table-list
  %tbody
    %tr
      %td
        Name
      %td
        %a{href: edit_admin_stolen_bike_url(@bike)}
          =@bike.title_string
    %tr
      %td
        Receiver Name
      %td
        = @stolen_notification.receiver_email
    -if @bike.current_stolen_record.present?
      %tr
        %td
          Bike phone
        %td
          = @bike.current_stolen_record.phone
    %tr
      %td
        Sent #
      %td
        = @stolen_notification.send_dates_parsed.count
        times
    - if @stolen_notification.send_dates_parsed.any?
      %tr
        %td
          Times:
        %td
          %ul
            - @stolen_notification.send_dates_parsed.each do |stamp|
              %li.list-unstyled
                %a.convertTime.preciseTime{ href: admin_stolen_notification_url(stamp) }
                  = l Time.at(stamp).to_datetime, format: :convert_time
    - else
      %strong
        Has not been sent!
    - if @stolen_notification.sender.name.present?
      %tr
        %td
          Sender
        %td
          = link_to @stolen_notification.sender.name, edit_admin_user_url(@stolen_notification.sender)
    - else
      %tr
        %td
          Sender
        %td
          = link_to @stolen_notification.sender.email, edit_admin_user_url(@stolen_notification.sender)
    %tr
      %td
        User sent count
      %td
        = @stolen_notification.sender.sent_stolen_notifications.count



.card.bg-light.mb-4.mt-4
  .card-header
    Notification Message
  .card-body
    = @stolen_notification.message
