%header.with-subtitle
  %h1
    Stolen Notification
%h4
  Created
  
  - if @stolenNotification.created_at.today?
    Today at #{@stolenNotification.created_at.strftime("%-I %p")}
  - elsif Date.yesterday().beginning_of_day() <= @stolenNotification.created_at          
    Yesterday at #{@stolenNotification.created_at.strftime("%-I %p")}
  - else
    = @stolenNotification.created_at.strftime("%-m.%-d.%Y")
.well.padded
  .dl-holder
    %dl.dl-horizontal
      = @stolenNotification.dl_listItem((link_to @bike.title_string, edit_admin_stolen_bike_url(@bike)), "Bike")
      = @stolenNotification.dl_listItem(@stolenNotification.receiver_email, "Receiver email")
      - if @bike.current_stolenRecord.present?
        = @stolenNotification.dl_listItem(@bike.current_stolenRecord.phone, "Bike phone")
      %dt
        Sent #{@stolenNotification.send_dates.count} times
      %dd
        - if @stolenNotification.send_dates.any?
          
          - @stolenNotification.send_dates.each do |stamp|
            %p
              - send_date = Time.at(stamp).to_datetime
              - if send_date.today?
                Today at #{send_date.strftime("%-I %p")}
              - elsif Date.yesterday().beginning_of_day() <= send_date
                Yesterday at #{send_date.strftime("%-I %p")}
              - else
                = send_date.strftime("%-m.%-d.%Y")
        - else
          %strong
            Has not been sent!
    %dl.dl-horizontal
      - if @stolenNotification.sender.name.present?
        = @stolenNotification.dl_listItem((link_to @stolenNotification.sender.name, edit_admin_user_url(@stolenNotification.sender)), "Sender")
      - else
        = @stolenNotification.dl_listItem((link_to @stolenNotification.sender.email, edit_admin_user_url(@stolenNotification.sender)), "Sender")
      = @stolenNotification.dl_listItem(@stolenNotification.sender.sent_stolenNotifications.count, "User sent count")
      
  %p.padded
    = @stolenNotification.message
      


    
= link_to "resend", resend_admin_stolenNotification_url(@stolenNotification, pretty_please: true), class: 'button-green'