%h3.padded
  You currently have #{pluralize(current_organization.users.count, "member")}

%section.full-screen-table
  %table#org-users-table.table.table-striped.table-bordered
    %thead
      %th
        Name
      %th
        Email
      %th.medium-screens
        Total indexed
    %tbody
      - current_organization.memberships.each do |membership|
        %tr
          %td
            = link_to membership.user.name, "/organizations/#{current_organization.slug}/memberships/#{membership.id}/edit"
          %td
            = membership.user.email
          %td.medium-screens
            = @bikes.where(creator_id: membership.user.id).count if @bikes.present?
.invitations
  %h2
    Invite more users to your organization
  %h3.organization-description-list
    You have sent #{pluralize(current_organization.sent_invitation_count, "invitation")},
    %br
    and have 
    = current_organization.available_invitation_count
    remaining #{"invitation".pluralize(current_organization.available_invitation_count)}.
    - if current_organization.available_invitation_count > 0
      = link_to "Send an invitation to a member of your organization", "/organizations/#{current_organization.slug}/organization_invitations/new", class: "button-yellow"
      
    