.organized-page-header
  %h1
    %em
      = current_organization.name
    #{@organization_message.kind.titleize} Message

%ul.organized-show-list
  %li
    Created:
    %span.convertTime
      = l @organization_message.created_at, format: :convert_time

  %li
    Delivered:
    - if @organization_message.delivery_status == "success"
      %span.text-success
        Success
    - elsif @organization_message.delivery_status.blank?
      %em.text-warning
        Pending delivery
    - else
      %span.text-danger
        = @organization_message.delivery_status

  %li
    Sender: #{@organization_message.sender.display_name}

  %li
    Bike: 
    - if @bike.present?
      = link_to organized_bike_text(@bike), bike_path(@bike)

  %li
    Subject:
    = @organization_message.subject

  %li
    Additional text:
    - if @organization_message.body.present?
      = @organization_message.body
    - else
      %em.less-strong
        none

#map_canvas{ style: "height: 400px;" }

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><script src="https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_MAPS"]}&sensor=false" type="text/javascript"></script></script>
:plain
  <script type="text/javascript">
    var map;
    function initialize() {
      var center = new google.maps.LatLng(#{@organization_message.latitude}, #{@organization_message.longitude});
      var myOptions = {
        zoom: 13,
        center: center,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

      new google.maps.Marker({
        position: new google.maps.LatLng(#{@organization_message.latitude}, #{@organization_message.longitude}),
        map: map
      });
    }
    $(document).ready(function() {
      google.maps.event.addDomListener(window, "load", initialize);
    });
  </script>