<%# 256px to 512px tw:min-w-3xs tw:max-w-lg %>
<li class="">
  <%= vehicle_image_tag %>
  <% if render_h5? %>
    <h5>
      <% if render_for_sale_info? %>
        <%= @current_event_record.currency_symbol %><%= number_display(@current_event_record.amount) %>
      <% elsif render_event_date? %>
        <span class="localizeTime">
          <%= l occurred_at_with_fallback, format: :convert_time %>
        </span>
      <% end %>
    </h5>
  <% end %>
  <h4 class="">
    <a href="<%= @bike.html_url %>" data-turbo="false">
      <strong>
        <%= [@bike.year, @bike.mnfg_name].reject(&:blank?).join(" ") %>
      </strong>
      <%= @bike.frame_model.to_s %>
      <% unless @bike.type == 'bike' %>
        <em class="less-strong"><%= @bike.type %></em>
      <% end %>
    </a>
  </h4>
</li>
