.organized-page-header.mb-4
  %h1
    %em= current_organization.name
    Dashboard

- if current_organization.regional? && current_organization.is_paid?
  %h3.mt-4 Bikes in Region
  - counts = current_organization.bikes_in_region_counts
  .full-screen-table.mt-4
    %table.table.table-striped.table-bordered.table-sm
      %tbody
        %tr
          %td
            Bikes in nearby organizations
          %td= number_with_delimiter(counts[:in_organizations])
        %tr
          %td
            Bikes nearby,<sup>*</sup> not affiliated with any nearby organizations
            %br
            %small *within #{current_organization.search_radius} mi of city center
          %td= number_with_delimiter(counts[:in_region_unaffiliated])
      %tfoot
        %td
          %strong Total
        %td
          %strong= number_with_delimiter(counts[:all])

  %h3.mt-4 Organization Bikes in Region
  .full-screen-table.mt-4
    %table.table.table-striped.table-bordered.table-sm
      %thead
        %th Organization
        %th Bikes
      %tbody
        - total_bikes_count = 0
        - current_organization.organizations_nearby.each do |organization|
          - count = organization.bikes.count
          - total_bikes_count += count
          %tr
            %td= organization.name
            %td= number_with_delimiter(count)
      %tfoot
        %td
          %strong Total
        %td
          %strong= number_with_delimiter(total_bikes_count)

- if current_organization.parent?
  %h3.mt-4
    Associated organizations
  .full-screen-table.mt-4
    %table.table.table-striped.table-bordered.table-sm
      %thead
        %th Organization
        %th Signed up
        %th Bikes
      %tbody
        - current_organization.child_organizations.each do |organization|
          %tr
            %td
              = organization.name
            %td
              %span.convertTime
                = l(organization.created_at, format: :convert_time)
            %td
              = number_with_delimiter(organization.bikes.count)
