<div class="tw:flex tw:flex-col tw:gap-4">
  <div>
    <%= @form_builder.label :title, "Title", class: "twlabel" %>
    <%= @form_builder.text_field :title, class: "twinput tw:w-full" %>
  </div>

  <div>
    <%= @form_builder.label :subtitle, "Subtitle", class: "twlabel" %>
    <%= @form_builder.text_area :subtitle, rows: 2, class: "twinput tw:w-full" %>
  </div>

  <div>
    <%= @form_builder.label :image, "Image", class: "twlabel" %>

    <% if @form_builder.object.image.attached? %>
      <%= image_tag @form_builder.object.image_url, class: "tw:mb-2 tw:w-48 tw:rounded" %>
    <% end %>

    <%= @form_builder.file_field :image, accept: "image/*", class: "twinput tw:w-full" %>
  </div>

  <div data-controller="bullet-editors">
    <label
      class="twlabel tw:cursor-pointer"
      data-action="bullet-editors#focusFirst"
    >
      Bullets
    </label>

    <%= @form_builder.hidden_field :body, data: {bullet_editors_target: "field"} %>

    <div data-bullet-editors-target="list" class="tw:flex tw:flex-col tw:gap-2">
      <% bullets.each_with_index do |content, index| %>
        <div
          data-bullet-editors-target="bullet"
          class="tw:mb-2 tw:flex tw:items-start tw:gap-2"
        >
          <span
            data-bullet-editors-target="handle"
            draggable="true"
            aria-hidden="true"
            class="tw:cursor-grab tw:pt-2 tw:text-gray-400 tw:select-none"
          >
            ⠿
          </span>

          <div class="tw:flex-1">
            <%= render Form::TextEditor::Component.new(form_builder: bullet_builder(index), attribute: :content, size: :single_line, value: content) %>
          </div>

          <%= render UI::Button::Component.new(text: "Remove", color: :link, html_class: "tw:pt-2 tw:text-xs", data: {action: "bullet-editors#remove"}) %>
        </div>
      <% end %>
    </div>

    <template data-bullet-editors-target="template">
      <div
        data-bullet-editors-target="bullet"
        class="tw:mb-2 tw:flex tw:items-start tw:gap-2"
      >
        <span
          data-bullet-editors-target="handle"
          draggable="true"
          aria-hidden="true"
          class="tw:cursor-grab tw:pt-2 tw:text-gray-400 tw:select-none"
        >
          ⠿
        </span>

        <div class="tw:flex-1">
          <%= render Form::TextEditor::Component.new(form_builder: bullet_builder("__INDEX__"), attribute: :content, size: :single_line, value: "") %>
        </div>

        <%= render UI::Button::Component.new(text: "Remove", color: :link, html_class: "tw:pt-2 tw:text-xs", data: {action: "bullet-editors#remove"}) %>
      </div>
    </template>

    <div class="tw:mt-1">
      <%= render UI::Button::Component.new(text: "+ Add bullet", color: :link, html_class: "tw:text-sm", data: {action: "bullet-editors#add"}) %>
    </div>
  </div>
</div>
