- if @organization.errors.any?
  #alert-block
    .alert.alert-error
      %h4
        Please fix the following
        = pluralize(@organization.errors.count, "error")
      %ul
        - @organization.errors.full_messages.each do |msg|
          %li
            = msg

.control-group.padded
  .control-label
    = f.label :name
  .controls
    = f.text_field :name

.control-group.padded
  .control-label
    = f.label :available_invitation_count, "Available invitations"
  .controls
    = f.number_field :available_invitation_count
  .controls.extra-field
    %p
      = "Invitations sent: #{@organization.sent_invitation_count}"

.control-group.padded
  .control-label
    = f.label :default_bike_token_count
  .controls
    = f.number_field :default_bike_token_count

.control-group.padded
  .control-label
    %label
      Short Name
      %br
      (15 characters or less)
  .controls
    = f.text_field :short_name

.control-group.padded
  .control-label
    = f.label :show_on_map
  .controls
    = f.check_box :show_on_map

.control-group.padded
  .control-label
    = f.label :is_suspended
  .controls
    = f.check_box :is_suspended

.control-group.padded
  .control-label
    = f.label :website
  .controls
    = f.text_field :website

.control-group.chosen-select
  .control-label
    = f.label :embedable_user_email
  .controls
    = f.text_field :embedable_user_email, value: @embedable_email

