-# TODO: use organized/manages/location_fields instead of this

- f.object.organization_id ||= @organization.id
- f.object.name ||= @organization.name
- f.object.address_record = f.object.find_or_build_address_record


.col-md-6.mt-4
  %fieldset.mr-2.ml-2
    .card.bg-light
      .card-body
        .row
          .col-lg-6
            .form-group
              = f.text_field :name, placeholder: "Name", class: "form-control"
          .col-lg-6
            .form-group
              = f.text_field :phone, placeholder: "Phone number", class: "form-control"
          .col-12
            = f.fields_for :address_record do |address_form|
              = render(Org::LocationAddressFields::Component.new(form_builder: address_form))
        .row
          .col-lg-6
            .form-check
              = f.check_box :publicly_visible
              = f.label :publicly_visible, class: "ml-1" do
                Publicly visible
                - unless @organization.allowed_show?
                  %small.text-warning.ml-1 org not shown on map, checking this won't change that
            - if @organization.enabled?("impound_bikes")
              .form-check
                = f.check_box :impound_location
                = f.label :impound_location
              .form-check
                = f.check_box :default_impound_location
                = f.label :default_impound_location

          .col-lg-6
            .form-group.text-center
              - if f.object.destroy_forbidden?
                %small.less-strong
                  can't remove, has impounded bikes
              - else
                = f.check_box :_destroy, class: "d-none"
                = f.label :_destroy, "Remove", class: "remove_fields btn btn-danger"
