
%fieldset.mr-2.ml-2
  .card.bg-light
    .card-body
      .row
        .col-lg-6
          .form-group
            = f.text_field :name, placeholder: "Name", class: "form-control"
        .col-lg-6
          .form-group
            = f.text_field :phone, placeholder: "Phone number", class: "form-control"
      .row
        .col-lg-6
          .form-group
            = f.text_field :street, placeholder: "Street", class: "form-control mt-1"
        .col-lg-6
          .form-group
            = f.text_field :city, placeholder: "City", class: "form-control mt-1"
      .row
        .col-lg-6
          .form-group.fancy-select.unfancy
            = f.collection_select(:state_id, State.all, :id, :name, {prompt: "State", include_blank: true}, class: "form-control mt-1" )
        .col-lg-6
          .form-group
            = f.text_field :zipcode, placeholder: "Zipcode", class: "form-control mt-1"
      .row
        .col-lg-6
          .form-group.fancy-select.unfancy
            = f.collection_select(:country_id, Country.all, :id, :name, {:selected => Country.united_states.id}, class: "form-control mt-1" )
        .col-lg-6
          .form-group.text-center
            = f.check_box :_destroy, class: "d-none"
            = f.label :_destroy, "Remove", class: "remove_fields btn btn-danger"


  %hr
