%fieldset
  .control-group
    = f.label :name, "Name", class: "control-label"
    .controls
      = f.text_field :name

  .control-group
    = f.label :phone, "Phone number", class: "control-label"
    .controls
      = f.text_field :phone

  / .control-group
  /   = f.label :email, "Shop's email (only if you want)", class: "control-label"
  /   .controls
  /     = f.text_field :email
  
  .control-group.chosen-select
    = f.label :country_id, "Address", class: "control-label"
    .controls
      = f.text_field :street, placeholder: "Street"
    .controls.extra-field
      = f.text_field :city, placeholder: "City"
    .controls.extra-field
      = f.collection_select(:state, UsStates.all, :abbr, :name, prompt: "State", include_blank: true )
    .controls.extra-field
      = f.text_field :zipcode, placeholder: "Zipcode"
    .controls.extra-field.chosen-select.country_select_container
      = f.collection_select(:country_id, Country.all, :id, :name, prompt: "Choose country" )

  .remove-control
    = f.check_box :_destroy
    = f.label :_destroy, "Remove", class: "remove_fields"
  
  %hr