- render_sortable ||= false

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light.sortable
      %th
        = sortable "name", render_sortable: render_sortable
      %th.small
        = sortable "approved", render_sortable: render_sortable
      %th
        = sortable "created_at", render_sortable: render_sortable
      %th
        = sortable "bikes", render_sortable: render_sortable
      %th
        OrganizationRoles
      %th
        Type
      %th
        = sortable "pos_kind", "POS", render_sortable: render_sortable
      %th
        Locations
    %tbody
      - @organizations.each do |organization|
        - cache(organization) do
          - next if organization.deleted_at.present?
          %tr
            %td
              = link_to organization.name, admin_organization_url(organization)
              %small.less-strong
                = "paid" if organization.paid?
              - if organization.regional_parents.any?
                - parent_names = organization.regional_parents.pluck(:short_name)
                .small.mt-1
                  %em.less-strong
                    #{"region parent".pluralize(parent_names.count)}:
                  = safe_join(parent_names.map { |c| link_to(c, admin_organization_url(c), class: "gray-link") }, ", ")
              - if organization.parent_organization.present?
                .small.mt-1
                  %em.less-strong.text-warning parent:
                  = link_to(organization.parent_organization.short_name, admin_organization_url(organization.parent_organization), class: "less-strong")
            %td.table-cell-check
              = check_mark if organization.approved
            %td
              %span.convertTime
                = l organization.created_at, format: :convert_time
            %td
              = admin_number_display(organization.bikes.count)
            %td
              = admin_number_display(organization.memberships.count)
            %td
              = link_to organization.kind_humanized, admin_organizations_path(sortable_search_params.merge(search_kind: organization.kind))
            %td
              - if organization.bike_shop? || organization.pos?
                - pos_kind = organization.pos_kind.to_s.gsub("pos", "")
                - link_class = pos_kind.match?("broken") ? "text-warning" : "gray-link"
                %small
                  = link_to pos_kind.humanize, admin_organizations_path(sortable_search_params.merge(search_pos: organization.pos_kind)), class: link_class
            %td
              .less-strong-hold
                = admin_number_display(organization.locations.count)
                - if organization.show_on_map
                  %span.less-strong-right
                    Mapped
