%h1.mt-4
  Edit
  = link_to @organization.name, admin_organization_url(@organization)


= form_for [:admin, @organization] do |f|
  = render partial: 'form', locals: { f: f }
  .row.mt-4
    .col-md-6.mb-4
      %fieldset
        #admin-locations-fields
          = f.fields_for :locations do |builder|
            = render '/admin/organizations/location_fields', f: builder
          = revised_link_to_add_fields "Add a location", f, :locations, class_name: "btn btn-primary"

  .row
    .col-md-2
      %h4
        Locations
      %p#us-country-code.d-none
        = Country.united_states.id
  .mt-4
    = f.submit "Update", class: 'btn-lg btn-success float-right'

.mt-4.mb-4
  = link_to "Manage organization invitations", admin_organization_invitation_url(organization_id: @organization.to_param), class: "btn btn-warning"
