%h1.padded
  Edit
  = link_to @organization.name, admin_organization_url(@organization)

.form.form-horizontal
  = form_for [:admin, @organization] do |f|
    = render partial: 'form', locals: { f: f }
    
    .nested-form
      %p
        %strong
          Locations
      %p#us-country-code.other-value
        = Country.united_states.id
      %fieldset
        #admin-locations-fields.horizontal-form-list
          = f.fields_for :locations do |builder|
            = render '/admin/organizations/location_fields', f: builder
          = link_to_add_fields "Add a location", f, :locations
    
    .control-group.actions.big-action.padded
      = f.submit "Update", class: 'button-green big-action'

    #bike-notification.collapse
      .control-group
        .control-label
          = f.label :new_bike_notification
        .controls
          = f.text_area :new_bike_notification

      - if @organization.new_bike_notification.present?
        .new-notification-container          
          .header-content
            %img{src: "https://files.bikeindex.org/bikeindex-white-tilt.png"} 

          .new-notification
            = @organization.new_bike_notification.html_safe

    .control-group.padded#show_notification
      .controls
        %a{ href: "#", data: {target: "#bike-notification" } }
          Show new bike notification

.actions.padded
  = link_to "Manage organization invitations", admin_organization_invitation_url(@organization.id), class: "button-yellow"