.admin-subnav
  .col-md-4
    %h1
      Organizations
  .col-md-8
    %ul
      %li.nav-item
        - active_kind = params[:search_kind]
        %a.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (active_kind.present? ? "active" : "") }
          - if active_kind.present?
            = active_kind.humanize
          - else
            Kind
        .dropdown-menu
          - Organization.kinds.each do |kind|
            - kind_active = active_kind == kind
            = link_to kind.humanize, admin_organizations_path(sortable_search_params.merge(search_kind: kind_active ? nil : kind)), class: "dropdown-item #{kind_active ? 'active' : ''}"

      %li.nav-item
        - active_pos_kind = params[:search_pos]
        %a.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (active_pos_kind.present? ? "active" : "") }
          - if active_pos_kind.present?
            = active_pos_kind.humanize
          - else
            POS
        .dropdown-menu
          - (Organization.pos_kinds + %w[with_pos without_pos]).each do |pos_kind|
            - if pos_kind == "with_pos"
              .dropdown-divider
            - pos_kind
            - kind_active = active_pos_kind == pos_kind
            = link_to pos_kind.humanize, admin_organizations_path(sortable_search_params.merge(search_pos: kind_active ? nil : pos_kind)), class: "dropdown-item #{kind_active ? 'active' : ''}"

      %li.nav-item
        - paid_search_params = sortable_search_params.merge(search_paid: !@search_paid)
        = link_to "Paid", admin_organizations_path(paid_search_params), class: @search_paid ? "nav-link active" : "nav-link"
      %li.nav-item
        = link_to "Deleted", admin_show_deleted_organizations_url, class: "nav-link"
      %li.nav-item
        = link_to 'New Organization', new_admin_organization_url, class: "nav-link"
.row.mb-4
  .col-md-5
    %p
      = number_with_delimiter(matching_organizations.count)
      - if sortable_search_params?
        %em
          matching
      organizations
      %em
        (#{matching_organizations.where("organizations.created_at >= ?", Time.current.beginning_of_day).count} today)
  .col-md-7
    = form_tag admin_organizations_path, method: :get, class: "form-inline" do
      = hidden_field_tag :sort, sort_column
      = hidden_field_tag :sort_direction, sort_direction
      = hidden_field_tag :search_paid, @search_paid
      = hidden_field_tag :search_kind, params[:search_kind]
      = hidden_field_tag :search_pos, params[:search_pos]
      .form-group.ml-auto.align-self-end.mt-4
        = text_field_tag :search_query, params[:search_query], placeholder: "Name/Location#{current_user.developer? ? '/Organization features' : '' }", class: "form-control", style: "min-width: 300px;"
      .form-group.mt-4
        = submit_tag "Search", name: "search", class: "btn btn-primary ml-2"

= paginate @organizations, views_prefix: "admin"

= render partial: "/admin/organizations/table", locals: { render_sortable: true }

= paginate @organizations, views_prefix: "admin"

