.admin-subnav
  .col-md-9
    %h1
      Manage Organization
  .col-md-3
    = link_to 'New Organization', new_admin_organization_url, class: "btn btn-success float-right"
.row.mb-4
  .col-md-5
    %p
      There are currently #{number_with_delimiter(Organization.count)} bike images
      %em
        (#{Organization.where("created_at >= ?", Time.zone.now.beginning_of_day).count} today)
  .col-md-7
    = form_tag admin_organizations_path, method: :get, class: "form-inline" do
      = hidden_field_tag :sort, sort_column
      = hidden_field_tag :sort_direction, sort_direction
      .form-check.ml-auto.mr-2.ml-2.align-self-end
        = check_box_tag :is_paid, true, checked = sortable_search_params[:is_paid] ? true : false, class:"form-check-input"
        = label_tag :is_paid, "Paid only"
      .form-group
        = text_field_tag :query, params[:query], placeholder: "Search name/location#{current_user.developer? ? '/paid features' : '' }", class: "form-control mt-4"

      = submit_tag 'Search', name: 'search', class: 'btn btn-primary mt-4 ml-2'

= paginate @organizations, views_prefix: "admin"

= render partial: "/admin/organizations/admin_organizations_table", locals: {sortable: true}

= paginate @organizations, views_prefix: "admin"


%hr
  = link_to "View deleted organizations", admin_show_deleted_organizations_url, class: "btn btn-danger"
