.admin-subnav
  .col-md-9
    %h1
      Manage Organization
  .col-md-3
    %ul
      - if params[:search_kind].present?
        %li.nav-item
          = link_to params[:search_kind], admin_users_path(sortable_search_params.except(:search_kind)), class: "nav-link active"
      %li.nav-item
        - paid_search_params = sortable_search_params.merge(search_paid: !@search_paid)
        = link_to "Paid", admin_users_path(paid_search_params), class: @search_paid ? "nav-link active" : "nav-link"
      %li.nav-item
        = link_to 'New Organization', new_admin_organization_url, class: "nav-link"
.row.mb-4
  .col-md-5
    %p
      = number_with_delimiter(@organizations.total_count)
      - if sortable_search_params?
        %em
          matching
      organizations
      %em
        (#{matching_organizations.where("organizations.created_at >= ?", Time.zone.now.beginning_of_day).count} today)
  .col-md-7
    = form_tag admin_organizations_path, method: :get, class: "form-inline" do
      = hidden_field_tag :sort, sort_column
      = hidden_field_tag :sort_direction, sort_direction
      = hidden_field_tag :search_paid, @search_paid
      .form-check.ml-auto.mr-2.ml-2.align-self-end
        = check_box_tag :search_is_paid, true, checked = sortable_search_params[:search_is_paid] ? true : false, class:"form-check-input"
      .form-group
        = text_field_tag :search_query, params[:search_query], placeholder: "Name/Location#{current_user.developer? ? '/Paid features' : '' }", class: "form-control mt-4"

      = submit_tag 'Search', name: 'search', class: 'btn btn-primary mt-4 ml-2'

= paginate @organizations, views_prefix: "admin"

= render partial: "/admin/organizations/admin_organizations_table", locals: { render_sortable: true }

= paginate @organizations, views_prefix: "admin"


%hr
  = link_to "View deleted organizations", admin_show_deleted_organizations_url, class: "btn btn-danger"
