.row
  .col-md-9
    %h1
      Manage Organizations
  .col-md-3
    = link_to 'New Organization', new_admin_organization_url, class: "btn btn-success float-right"

%h3
  #{number_with_delimiter(@organizations_count)} organizations
  = (params[:query].present? || params[:is_paid].present?) ? 'matching' : 'in the system'

  = form_tag admin_organizations_path, method: :get do
    .row
      .col-md-6
        = hidden_field_tag :sort, sort_column
        = hidden_field_tag :sort_direction, sort_direction
      .col-md-2.align-self-end
        .form-check.text-center
          = check_box_tag :is_paid, class: "form-check-input"
          %label.form-check-label{for: "is_paid"}
            Paid only?
      .col-md-3
        = text_field_tag :query, params[:query], placeholder: "Find name, location #{current_user.developer? ? 'or paid features' : '' }", class: "form-control mt-4"
      .col-md-1
        = submit_tag 'Search', name: 'search', class: 'btn btn-primary mt-4'

= paginate @organizations, views_prefix: "admin"
.full-screen-table-wrapper
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      - @sortable_columns.each do |column|
        %th
          = sortable column
      %th
        Bikes
      %th
        Memberships
      %th
        Type
      %th
        Locations
    %tbody
      - @organizations.each do |organization|
        - next if organization.deleted_at.present?
        %tr
          %td
            = link_to organization.name, admin_organization_url(organization)
            %small.less-strong
              = "paid" if organization.is_paid
          %td
            = "&#x2713;".html_safe if organization.approved
          %td
            %span.convertTime
              = l organization.created_at, format: :convert_time
          %td
            = organization.bikes.count
          %td
            = organization.memberships.count
          %td
            = link_to organization.kind.humanize, admin_organizations_path(kind: organization.kind)
          %td
            .less-strong-hold

              = organization.locations.count
              - if organization.show_on_map
                %span.less-strong-right
                  Mapped

  = paginate @organizations, views_prefix: "admin"


%hr
  = link_to "View deleted organizations", admin_show_deleted_organizations_url, class: "btn btn-danger"
