%header.with-subtitle.padded
  %h1
    Viewing
    = @organization.name
  %p
    = link_to "Edit organization", edit_admin_organization_url(@organization)

%section
  .dl-holder.padded
    %dl.dl-horizontal
      %dt Map
      %dd
        - if @organization.show_on_map
          Shown on map
        - else
          %strong
            Not shown

      = @organization.dl_from_attribute("org_type", "Type")
      = @organization.dl_from_attribute("slug")
      = @organization.dl_from_attribute("access_token")
      %dt Auto user email
      %dd
        = @organization.auto_user.email if @organization.auto_user.present?





    %dl.dl-horizontal
      = @organization.dl_list_item(@organization.users.count, "Users")
      = @organization.dl_list_item(@organization.sent_invitation_count, "Sent invites")
      = @organization.dl_list_item(link_to(@organization.available_invitation_count, admin_organization_invitation_url(@organization.id)), link_to("Remaining invites", admin_organization_invitation_url(@organization.id)))
      = @organization.dl_from_attribute("website")


    - if @organization.is_suspended
      %h2.red-text
        Organization is suspended



%section.full-screen-table
  %h2
    = pluralize(@bikes.count, "Bike")

- if @bikes.present?
  .paginate-container
    = will_paginate @bikes, next_label: "Next", previous_label: "Previous"
  %section.full-screen-table
    %table.table.table-striped.table-bordered
      = render partial: "/admin/bikes/admin_bikes_table"
  .paginate-container
    = will_paginate @bikes, next_label: "Next", previous_label: "Previous"


%section.full-screen-table

  %h2
    = pluralize(@organization.users.count, "User")

  %table#org-users-table.table.table-striped.table-bordered
    %thead
      %th
        Edit&nbsp;
      %th
        Name
      %th
        Email
      %th
        Total indexed
    %tbody
      - @organization.users.each do |user|
        %tr
          %td
            = link_to "&rarr;".html_safe, edit_admin_user_url(user)
          %td
            = user.name
          %td
            = user.email
          %td
            = user.bikes.count


%ul
  - @organization.users.each do |user|
    %li
      %p
        = user.name
        = user.email
%hr
- if @locations.any?
  - if @locations.count > 1
    %h3.padded
      = pluralize(@locations.count, "Location")
  .row-fluid.locations-list
    - @locations.each do |location|
      .span4
        .alert.alert-info
          - if location.name
            %p
              Name:
              = location.name

          - if location.phone
            %p
              Phone:
              = location.display_phone

          - if location.street
            %p
              Street address:
              = location.street

.actions.padded
  = link_to "Manage organization invitations", admin_organization_invitation_url(@organization.id), class: "button-yellow"
  = link_to "Edit", edit_admin_organization_url(@organization), class: "button-green"
  = link_to "Delete #{@organization.name}!", admin_organization_url(@organization), method: :delete, confirm: "Are you sure?", class: "button-red"
