.admin-subnav
  .col-md-4
    %h1
      = @organization.name
  .col-md-8
    %ul
      %li.nav-item
        = link_to "organization's view", organization_root_path(organization_id: @organization.to_param), class: "btn btn-outline-success btn-sm"
      %li.nav-item
        = link_to "Edit organization", edit_admin_organization_url(@organization), class: "nav-link"
      - if current_user.developer?
        %li.nav-item
          = link_to "edit custom layouts", admin_organization_custom_layouts_path(organization_id: @organization.to_param), class: "nav-link less-strong"

- if @organization.is_suspended
  %h2.text-danger
    Organization is suspended

- if @organization.law_enforcement_missing_verified_features?
  .alert.alert-info
    This is a law enforcement organization without unstolen notifications. To enable unstolen notifications, #{link_to "add an invoice for this organization", new_admin_organization_invoice_path(organization_id: @organization.to_param, end_at: (Time.current + 10.years).to_i)} and enable "unstolen notifications" in it
.row
  .col-md-6
    %table.table-list
      - if current_user.developer?
        %tr
          %td
            ID
          %td
            %spand.less-strong
              = @organization.id
      %tr
        %td
          Short Name
        %td
          = @organization.short_name
      %tr
        %td
          Map
        %td
          - unless @organization.approved
            %strong
              Not approved
            %small
              therefor hidden
            %em
              Would be
          - if @organization.show_on_map
            %span.less-strong
              Shown on map
          - else
            %strong
              Not Shown
      %tr
        %td
          Kind
        %td
          = @organization.kind.humanize
      %tr
        %td
          Slug
        %td
          = @organization.slug
          \|
          = link_to "embed", embed_registrations_url(organization_id: @organization.to_param)
      %tr
        %td
          Created
        %td
          %span.convertTime.preciseTime
            = l @organization.created_at, format: :convert_time
          %small.convertTimezone
      %tr
        %td
          Updated
        %td
          %span.convertTime.preciseTime
            = l @organization.updated_at, format: :convert_time

  .col-md-6
    %table.table-list
      %tr
        %td
          Auto user email
        %td
          = @organization.auto_user.email if @organization.auto_user.present?
      %tr
        %td
          Users
        %td
          = link_to @organization.users.count, admin_users_path(organization_id: @organization.to_param)
      %tr
        %td
          Sent Invites
        %td
          = number_with_delimiter @organization.sent_invitation_count
      %tr
        %td
          Remaining invites
        %td
          = number_with_delimiter @organization.remaining_invitation_count
      %tr
        %td
          Website
        %td
          = @organization.website
          - if @organization.website.present?
            = link_to @organization.website, class: "strong" do
              &#128279;
      %tr
        %td
          Paid
        %td
          -if @organization.is_paid
            %strong
              True
          -else
            - if LandingPages::ORGANIZATIONS.include?(@organization.slug)
              %p.text-danger
                IS NOT MARKED PAID BUT HAS A LANDING PAGE
            -else
              False
          %em.less-strong
            Set this via #{link_to "invoices", admin_organization_invoices_path(organization_id: @organization.to_param)}
      %tr
        %td
          Parent
        %td
          - if @organization.parent_organization.present?
            = link_to @organization.parent_organization.name, admin_organization_path(@organization.parent_organization)
            %small.less-strong
              If parent's paid, so's this
          - else
            &nbsp;
      - if @organization.child_organizations.present?
        %tr
          %td
            Children
          %td
            .ul
              - @organization.child_organizations.each do |org|
                .li
                  = link_to org.name, admin_organization_url(org)

  - if @organization.bike_shop?
    .col-md-6
      %table.table-list
        %tr
          %td
            POS integration:
          %td
            = @organization.pos_kind.humanize
            %br
            - if @organization.ascend_imports?
              Ascend
            - else
              %small.less-strong
                Unknown
        - if @organization.ascend_imports?
          %tr
            %td
              Ascend name
            %td
              %code
                = @organization.ascend_name
        %tr
          %td
            Info
          %td
            More to come soon
.row.mt-4
  .col-md-6
    %p
      %strong
        = link_to "Edit/Create Invoices", admin_organization_invoices_path(organization_id: @organization.to_param)
        %em.less-strong
          #{@organization.name} has #{pluralize(@organization.invoices.count, "total invoice")}
        - if @organization.invoices.count > 0
          and
          %strong
            #{@organization.invoices.active.count} active
    = render partial: "/admin/organizations/invoices/table", locals: { invoices: @organization.invoices.order(id: :desc).limit(3) }

  .col-md-6
    - if @organization.is_paid
      %table.table-list
        %tbody
          %tr
            %td
              Bike Search
            %td
              - if @organization.paid_for?("bike_search")
                Yes
              - else
                %small.less-strong
                  No
          %tr
            %td
              Templates
            %td
              - if @organization.mail_snippets.any?
                = @organization.mail_snippets.pluck(:name).to_sentence
              - else
                %small.less-strong
                  None
          %tr
            %td
              Landing Page
            %td
              - if @organization.landing_html.present?
                - if LandingPages::ORGANIZATIONS.include?(@organization.slug)
                  = link_to 'public landing page', "#{ENV['BASE_URL']}/#{@organization.slug}"
                - else
                  landing page is not public - #{ link_to 'landing page', organization_landing_path(organization_id: @organization.to_param) }
              - else
                %small.less-strong
                  no landing page
          %tr
            %td
              Org Emails
            %td
              - if @organization.message_kinds.any?
                = @organization.message_kinds.to_sentence
              - else
                %small.less-strong
                  None
          %tr
            %td
              Additional Fields
            %td
              - additional_fields = @organization.additional_registration_fields.map(&:titleize)
              - if additional_fields.any?
                = additional_fields.join(", ")
                %br
                %em.less-strong
                  Custom Label
                - @organization.registration_field_labels.each do |field, label|
                  %small
                    %strong
                      - text = "#{field}: #{label}"
                      = text
              - else
                %small.less-strong
                  None
          %tr
            %td
              Stickers
            %td
              - if @organization.paid_for?("bike_codes")
                = link_to "Has stickers", admin_bike_codes_path(organization_id: @organization.to_param)
              - else
                %small.less-strong
                  no
          %tr
            %td
              Features
            %td{ style: "font-size: 80%" }
              - @organization.paid_feature_slugs.each do |slug|
                %code
                  = slug

%h2.mt-4
  = number_with_delimiter(@bikes.total_count)
  = "Bike".pluralize(@bikes.total_count)
  %em.small
    view #{link_to "org bikes view", organization_bikes_path(organization_id: @organization.to_param)}
= paginate @bikes, views_prefix: "admin"
= render partial: "/admin/bikes/table", locals: { bikes: @bikes }

.row.mt-4
  .col-6
    %h4
      = number_with_delimiter(@organization.memberships.count)
      = "Membership".pluralize(@organization.memberships.count)
      %small
        = number_with_delimiter(@organization.memberships.claimed.count)
        claimed
  .col-6.text-right
    = link_to "View all memberships", admin_memberships_path(organization_id: @organization.to_param)
- if @organization.memberships.count > 0
  = render partial: "/admin/memberships/table", locals: { memberships: @organization.memberships.reorder(created_at: :asc).limit(25), skip_organization: true }

%hr.mt-4
%h4
  Locations
- if @locations.any?
  - if @locations.count > 1
    %h4.mt-4
      = pluralize(@locations.count, "Location")
  .row
    - @locations.each do |location|
      .col-lg-4.col-sm-6.mb-4
        .card
          .card-body
            - if !location.shown && @organization.allowed_show
              %h2
                Location is not visible! Try updating the organization
            %p
              Name:
              = location.name
            %p
              Phone:
              = display_phone(location.phone)
            %p
              Address:
              = location.address


.row
  .col-6
    = link_to "Edit", edit_admin_organization_url(@organization), class: "btn btn-success"
  - unless @organization.deleted?
    .col-6.text-right
      = link_to "Delete", admin_organization_url(@organization), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
