%h1
  Manage Organizations
%h4
  = @organizations.count
  organizations have been deleted!


.full-screen-table-wrapper
  %table.table.table-striped.table-bordered
    %thead.thead-light
      %th
        Created
      %th
        Deleted
      %th
        Name
      %th
        Memberships
      %th
        Management links
    %tbody
      - @organizations.each do |organization|
        %tr
          %td.convertTime
            = l organization.created_at, format: :convert_time
          %td.convertTime
            = l organization.deleted_at, format: :convert_time
          %td
            = organization.name
          %td
            = organization.memberships.count
          %td
            = button_to "Restore", remote: true, action: "recover", id: organization.id


%hr
  = link_to "Back to undeleted organizations", admin_organizations_url, class: "btn btn-success"
