%h1
  Manage Organizations
%h4
  = @organizations.count
  organizations have been deleted!


.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th
        %small ID
      %th
        Created
      %th
        Deleted
        = "\u2193".html_safe
      %th
        Name
      %th
        Memberships
      %th
        Management links
    %tbody
      - @organizations.reorder(deleted_at: :desc).each do |organization|
        %tr
          %td
            %small.less-strong
              = organization.id
          %td.convertTime
            = l organization.created_at, format: :convert_time
          %td.convertTime
            = l organization.deleted_at, format: :convert_time
          %td{ style: "width: 30%; word-break: break-all" }
            = organization.name
          %td
            = organization.memberships.count
          %td
            = link_to "Recover", admin_recover_organization_path(id: organization.id), class: "btn btn-warning"
            -# = button_to "Restore", admin_recover__organization_path {remote: true, action: "recover"}, {id: organization.id, class: "btn btn-warning"}

%hr
  = link_to "Back to undeleted organizations", admin_organizations_url, class: "btn btn-success"
