.admin-subnav
  .col-md-4
    %h1
      = @organization.name
  .col-md-8
    %ul
      %li.nav-item
        = link_to "organization's view", organization_root_path(organization_id: @organization.to_param), class: "btn btn-outline-success btn-sm"
      %li.nav-item
        = link_to "Edit organization", edit_admin_organization_url(@organization), class: "nav-link"
      - if current_user.developer?
        %li.nav-item.only-dev-visible
          = link_to "edit custom layouts", admin_organization_custom_layouts_path(organization_id: @organization.to_param), class: "nav-link less-strong"

- if @organization.is_suspended
  %h2.text-danger
    Organization is suspended

- if @organization.law_enforcement_missing_verified_features?
  .alert.alert-info
    This is a law enforcement organization without unstolen notifications. To enable unstolen notifications, #{link_to "add an invoice for this organization", new_admin_organization_invoice_path(organization_id: @organization.to_param, end_at: (Time.current + 10.years).to_i)} and enable "Law Enforcement functionality" in it
.row
  .col-md-6
    %table.table-list
      - if current_user.developer?
        %tr
          %td
            ID
          %td
            %spand.less-strong.only-dev-visible
              = @organization.id
      %tr
        %td
          Short Name
        %td
          = @organization.short_name
      %tr
        %td
          Map
        %td
          - unless @organization.approved
            %strong
              Not approved
            %small
              therefor hidden
            %em
              Would be
          - if @organization.show_on_map
            %span.less-strong
              Shown on map
          - else
            %strong
              Not Shown
      %tr
        %td
          Kind
        %td
          = @organization.kind.humanize
      %tr
        %td
          Slug
        %td
          = @organization.slug
          \|
          = link_to "embed", embed_registrations_url(organization_id: @organization.to_param)
      %tr
        %td
          Created
        %td
          %span.convertTime.preciseTime
            = l @organization.created_at, format: :convert_time
          %small.convertTimezone
      %tr
        %td
          Updated
        %td
          %span.convertTime.preciseTime
            = l @organization.updated_at, format: :convert_time
      %tr
        %td
          Search Location
        %td
          %span
            = @organization.default_location&.address
      %tr
        %td
          Search Radius (mi)
        %td
          %span
            = @organization.search_radius

  .col-md-6
    %table.table-list
      %tr
        %td
          Auto user email
        %td
          = @organization.auto_user.email if @organization.auto_user.present?
      - if current_user.developer?
        %tr
          %td
            API V1 token
          %td
            %pre.only-dev-visible#stupidLegacyToken{ style: "overflow-x: scroll;" }
              %code.small
                = @organization.access_token
            :scss
              @media (max-width: 1000px) {
                #stupidLegacyToken { max-width: 250px; }
              }
      %tr
        %td
          Users
        %td
          = link_to @organization.users.count, admin_users_path(organization_id: @organization.to_param)
      %tr
        %td
          Sent Invites
        %td
          = number_with_delimiter @organization.sent_invitation_count
      %tr
        %td
          Remaining invites
        %td
          - if @organization.restrict_invitations?
            = number_with_delimiter @organization.remaining_invitation_count
          - else
            %em
              Whitelisted domain, no invite restrictions
      %tr
        %td
          Website
        %td
          = @organization.website
          - if @organization.website.present?
            = link_to @organization.website, class: "strong" do
              &#128279;
      %tr
        %td
          Paid
        %td
          -if @organization.is_paid
            %strong
              True
          -else
            - if LandingPages::ORGANIZATIONS.include?(@organization.slug)
              %p.text-danger
                IS NOT MARKED PAID BUT HAS A LANDING PAGE
            -else
              False
          %em.less-strong
            Set this via #{link_to "invoices", admin_organization_invoices_path(organization_id: @organization.to_param)}
      %tr
        %td
          Associated organizations
        %td
          - if @organization.parent_organization.present?
            .d-block
              %strong
                Child of
            = link_to @organization.parent_organization.name, admin_organization_path(@organization.parent_organization)
            %small.less-strong
              Parent organization should be part of the same organization. Use "regional" feature otherwise
          - if @organization.parent?
            .d-block
              %strong Child organizations
              %small.less-strong
                Child organizations should be part of the same organization. Use "regional" feature otherwise
            %ul{ style: "font-size: 80%;" }
              - @organization.child_organizations.each do |org|
                %li
                  = link_to org.name, admin_organization_url(org)
          - if @organization.regional?
            .d-block
              %strong Regional Sub-Organizations
              %small.less-strong
                set the "Search radius" to control which organizations are associated
            %ul{ style: "font-size: 80%;" }
              - @organization.nearby_organizations.each do |suborg|
                %li
                  = link_to suborg.name, admin_organization_path(suborg)
          - if @organization.regional_parents.any?
            .d-block
              %strong Regional master organizations
              %small.less-strong with search radius including this organization
            %ul{ style: "font-size: 80%;" }
              - @organization.regional_parents.each do |regiona_parent|
                %li
                  = link_to regiona_parent.name, admin_organization_path(regiona_parent)

  - if @organization.bike_shop? || @organization.any_pos?
    .col-md-6
      %table.table-list
        %tr
          %td
            POS integration:
          %td
            - if @organization.ascend_pos?
              = link_to "Ascend POS", organization_bulk_imports_path(organization_id: @organization.to_param)
              %small
                Ascend name:
                %em
                  = @organization.ascend_name
            - elsif @organization.broken_pos?
              %span.text-danger
                POS Integration broken!
              = @organization.pos_kind.humanize

            -# Show link if it's lightspeed - or if it used to be lightspeed
            - if @organization.lightspeed_pos? || @organization.broken_pos? && @organization.bikes.lightspeed_pos.any?
              = link_to "Lightspeed POS", "https://posintegration.bikeindex.org/admin/organizations/#{@organization.id}"

            - if current_user.developer? && @organization.manual_pos_kind.present?
              %br
              %small.only-dev-visible
                %em.less-strong manual POS kind set:
                = @organization.manual_pos_kind
.row.mt-4
  .col-md-6
    %p
      %strong
        = link_to "Edit/Create Invoices", admin_organization_invoices_path(organization_id: @organization.to_param)
        %em.less-strong
          #{@organization.name} has #{pluralize(@organization.invoices.count, "total invoice")}
        - if @organization.invoices.count > 0
          and
          %strong
            #{@organization.invoices.active.count} active
    - if @organization.parent_organization.present?
      %p
        Parent
        %strong.em
          = @organization.parent_organization.short_name
        has
        = link_to admin_organization_invoices_path(organization_id: @organization.parent_organization.to_param) do
          = pluralize(@organization.parent_organization.invoices.count, "invoice")
        %small.less-strong
          which may add features to this organization
    = render partial: "/admin/organizations/invoices/table", locals: { invoices: @organization.invoices.order(id: :desc).limit(3) }

  .col-md-6
    - if @organization.is_paid
      %table.table-list
        %tbody
          %tr
            %td Bike Search
            %td
              - if @organization.enabled?("bike_search")
                Yes
              - else
                %small.less-strong
                  No
          %tr
            %td Templates
            %td
              - if @organization.mail_snippets.any?
                = @organization.mail_snippets.pluck(:name).to_sentence
              - else
                %small.less-strong
                  None
          %tr
            %td Landing Page
            %td
              - if @organization.landing_html.present?
                - if LandingPages::ORGANIZATIONS.include?(@organization.slug)
                  = link_to 'public landing page', "#{ENV['BASE_URL']}/#{@organization.slug}"
                - else
                  landing page is not public - #{ link_to 'landing page', organization_landing_path(organization_id: @organization.to_param) }
              - else
                %small.less-strong
                  no landing page
          %tr
            %td Additional Fields
            %td
              - additional_fields = @organization.additional_registration_fields.map(&:titleize)
              - if additional_fields.any?
                = additional_fields.join(", ")
                %br
                %em.less-strong
                  Custom Label
                - @organization.registration_field_labels.each do |field, label|
                  %small
                    %strong
                      - text = "#{field}: #{label}"
                      = text
              - else
                %small.less-strong
                  None
          %tr
            %td Stickers
            %td
              - if @organization.enabled?("bike_stickers")
                = link_to "Has stickers", admin_bike_stickers_path(organization_id: @organization.to_param)
              - else
                %small.less-strong
                  no
          - if @organization.enabled?("graduated_notifications")
            %tr
              %td Graduated bikes
              %td
                - if @organization.deliver_graduated_notifications?
                  Delivering notifications
                  %small
                    #{@organization.graduated_notification_interval_days} day interval
                - else
                  %em.text-warning
                    Not delivering
                  %small
                    notification interval is not set
          %tr
            %td Enabled features
            %td.small
              = safe_join(@organization.enabled_feature_slugs.map { |slug| content_tag(:code, slug) }, ", ")
.row.mt-4
  .col-sm-6
    %h2
      = number_with_delimiter(@bikes.total_count)
      = "Bike".pluralize(@bikes.total_count)
      %em.small
        = link_to "view all bikes", admin_bikes_path(organization_id: @organization.to_param)

  .col-sm-6.text-right
    = link_to "org bikes view", organization_bikes_path(organization_id: @organization.to_param), class: "gray-link mt-3 d-inline-block"
= render partial: "/admin/bikes/table", locals: { bikes: @bikes }

.row.mt-4
  .col-6
    %h4
      = number_with_delimiter(@organization.memberships.count)
      = "Membership".pluralize(@organization.memberships.count)
      %small
        = number_with_delimiter(@organization.memberships.claimed.count)
        claimed
        %small
          = link_to "new membership", new_admin_membership_url(organization_id: @organization.to_param), class: "gray-link"
  .col-6.text-right
    = link_to "View all memberships", admin_memberships_path(organization_id: @organization.to_param)
- if @organization.memberships.count > 0
  = render partial: "/admin/memberships/table", locals: { memberships: @organization.memberships.reorder(created_at: :asc).limit(25), skip_organization: true }

%hr.mt-4
%h4
  Locations
- if @locations.any?
  - if @locations.count > 1
    %h4.mt-4
      = pluralize(@locations.count, "Location")
  .row
    - @locations.each do |location|
      .col-lg-4.col-sm-6.mb-4
        .card
          .card-body
            - if !location.shown && @organization.allowed_show?
              %h2
                Location is not visible! Try updating the organization
            %p
              Name:
              = location.name
            %p
              Phone:
              = display_phone(location.phone)
            %p
              Address:
              = location.address


.row
  .col-6
    = link_to "Edit", edit_admin_organization_url(@organization), class: "btn btn-success"
  - unless @organization.deleted?
    .col-6.text-right
      = link_to "Delete", admin_organization_url(@organization), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
