= render partial: "/admin/organizations/display_header", locals: {current_action: "", show_custom_layouts: true, organization_view_path: organization_root_path(organization_id: @organization.to_param), show_edit: true}

- if OrganizationDisplayer.law_enforcement_missing_verified_features?(@organization)
  .alert.alert-info
    This is a law enforcement organization without unstolen notifications. To enable unstolen notifications, #{link_to "add an invoice for this organization", new_admin_organization_invoice_path(organization_id: @organization.to_param, end_at: (Time.current + 10.years).to_i)} and enable "Law Enforcement functionality" in it
.row
  .col-md-6
    %table.table-list
      - if display_dev_info?
        %tr.small.only-dev-visible
          %td
            ID
          %td
            = @organization.id
      %tr
        %td
          Short Name
        %td
          = @organization.short_name
          - if CredibilityScorer.organization_trusted?(@organization)
            %span.badge.badge-success.ml-2 Trusted credibility
          - elsif CredibilityScorer.organization_suspicious?(@organization)
            %span.badge.badge-warning.ml-2 Suspicious credibility
          - if @organization.spam_registrations
            %small.ml-1.text-danger high spam registrations
      %tr
        %td
          Map
        %td
          - unless @organization.approved
            %strong
              Not approved
            %small
              therefor hidden
            %em
              Would be
          - if @organization.show_on_map
            %span.less-strong
              Shown on map
          - else
            %strong
              Not Shown
      %tr
        %td
          Kind
        %td
          = @organization.kind_humanized
          - if @organization.enabled?("official_manufacturer")
            - unless @organization.kind == "bike_manufacturer"
              %span.text-warning Kind should be "Bike Manufacturer"
            %br
            - if @organization.manufacturer_id.present?
              %strong= @organization.manufacturer.name
              %em.less-strong Manufacturer official account of
            - else
              %strong.text-danger No Manufacturer assigned
              %span.less-strong #{link_to "edit organization", edit_admin_organization_path(@organization)} to add

      %tr
        %td
          Slug
        %td
          = @organization.slug
          \|
          = link_to "embed", embed_registrations_url(organization_id: @organization.to_param)
      %tr
        %td
          Created
        %td
          %span.convertTime.preciseTime
            = l @organization.created_at, format: :convert_time
          %small.convertTimezone
      %tr
        %td
          Updated
        %td
          %span.convertTime.preciseTime
            = l @organization.updated_at, format: :convert_time
  .col-md-6
    %table.table-list
      %tr
        %td
          Auto user email
        %td
          = @organization.auto_user.email if @organization.auto_user.present?
      - if display_dev_info?
        %tr.small
          %td.only-dev-visible
            API V1 token
          %td.only-dev-visible
            #stupidLegacyToken{ style: "overflow-x: scroll; " }
              %code.small
                = @organization.access_token
        %tr.small
          %td.only-dev-visible
            User Reg all bikes?
          %td.only-dev-visible
            = @organization.user_registration_all_bikes?

      %tr
        %td
          Users
        %td
          = link_to @organization.users.count, admin_users_path(organization_id: @organization.to_param)
      %tr
        %td
          Sent Invites
        %td
          = number_with_delimiter @organization.sent_invitation_count
      %tr
        %td
          Remaining invites
        %td
          - if @organization.restrict_invitations?
            = number_with_delimiter @organization.remaining_invitation_count
          - else
            %em
              permitted domain, no invite restrictions
      %tr
        %td
          Website
        %td
          = @organization.website
          - if @organization.website.present?
            = link_to @organization.website, class: "strong" do
              &#128279;

      %tr
        %td
          POS integration:
        %td
          - if @organization.no_pos?
            %em.small.less-strong no integration
          - elsif @organization.ascend_or_broken_ascend?
            = link_to "Ascend POS", organization_bulk_imports_path(organization_id: @organization.to_param)
            %small
              Ascend name:
              %em
                = @organization.ascend_name
          - elsif @organization.broken_pos?
            %span.text-danger
              POS Integration broken!
            = @organization.pos_kind.humanize
          - elsif @organization.does_not_need_pos?
            %small.less-strong Does not need POS integration

          -# Show link if it's lightspeed - or if it used to be lightspeed
          - if @organization.lightspeed_pos? || @organization.broken_pos? && @organization.bikes.lightspeed_pos.any?
            = link_to "Lightspeed POS", "https://posintegration.bikeindex.org/admin/organizations/#{@organization.id}"
          - if display_dev_info? && @organization.manual_pos_kind.present?
            %small.only-dev-visible.d-inline-block.ml-2
              %em.less-strong manual POS kind set:
              = @organization.manual_pos_kind

          - if !@organization.no_pos? || @organization.opted_into_theft_survey_2023
            %small.ml-3
              %span.less-strong theft survey?
              = @organization.opted_into_theft_survey_2023
.row.mt-4
  .col-md-6
    %p
      - if @organization.invoices.count > 0
        %strong
          #{@organization.invoices.active.count} active
        and
      %em.less-strong
        = link_to "#{pluralize(@organization.invoices.count, 'invoice')} total", admin_organization_invoices_path(organization_id: @organization)
    - if @organization.parent_organization.present?
      %p
        Parent
        %strong.em
          = @organization.parent_organization.short_name
        has
        = link_to admin_organization_invoices_path(organization_id: @organization.parent_organization.to_param) do
          = pluralize(@organization.parent_organization.invoices.count, "invoice")
        %small.less-strong
          which may add features to this organization
    = render partial: "/admin/organizations/invoices/table", locals: {invoices: @organization.invoices.order(id: :desc).limit(3), skip_discount_due: true}
  .col-md-6
    %table.table-list
      %tbody
        %tr
          %td
            Paid
          %td
            - if @organization.paid?
              %strong
                True
            - else
              - if LandingPages::ORGANIZATIONS.include?(@organization.slug)
                %p.text-danger
                  IS NOT MARKED PAID BUT HAS A LANDING PAGE
              -elsif @organization.paid_previously?
                %strong.text-warning Previously paid!
              - else
                False
            %em.small.less-strong
              Set this via #{link_to "invoices", admin_organization_invoices_path(organization_id: @organization.to_param)}

        - if @organization.paid?
          %tr
            %td Bike Search
            %td
              - if @organization.enabled?("bike_search")
                Yes
              - else
                %small.less-strong
                  no
          %tr
            %td Templates
            %td
              - if @organization.mail_snippets.any?
                = @organization.mail_snippets.pluck(:kind).to_sentence
              - else
                %small.less-strong
                  none
          %tr
            %td Landing Page
            %td
              - if @organization.landing_html.present?
                - if LandingPages::ORGANIZATIONS.include?(@organization.slug)
                  = link_to 'public landing page', "#{ENV['BASE_URL']}/#{@organization.slug}"
                - else
                  landing page is not public - #{ link_to 'landing page', organization_landing_path(organization_id: @organization.to_param) }
              - else
                %small.less-strong
                  no
          %tr
            %td Additional Fields
            %td
              - additional_fields = @organization.additional_registration_fields.map { |i| OrganizationFeature.reg_field_to_bike_attrs(i)&.titleize(keep_id_suffix: true) }
              - if additional_fields.none?
                %small.less-strong none
              - else
                %small= additional_fields.join(", ")
                %br
                - if @organization.registration_field_labels.values.none?
                  %em.small.less-strong No custom labels
                - else
                  %em.small.less-strong Custom Labels:
                  %ul.small.mb-0
                    - @organization.registration_field_labels.each do |field, label|
                      %li
                        %strong #{OrganizationFeature.reg_field_to_bike_attrs(field).titleize(keep_id_suffix: true)}:
                        = label
          - if @organization.enabled?("hot_sheet")
            %tr
              %td Hot Sheet
              %td
                - if @organization.hot_sheet_on?
                  Enabled
                  %em.less-strong
                    = "recipient".pluralize(@organization.hot_sheet_configuration.current_recipients.count)
                - else
                  %small.less-strong not enabled
                %small
                  = link_to "configuration", edit_organization_hot_sheet_path(organization_id: @organization.to_param)
          - if @organization.enabled?("organization_stolen_message")
            - organization_stolen_message = OrganizationStolenMessage.for(@organization)
            %tr
              %td Stolen Message
              %td
                - if organization_stolen_message.is_enabled
                  = link_to "Enabled", edit_organization_email_path("organization_stolen_message", organization_id: @organization.to_param)
                - elsif organization_stolen_message.body.present?
                  has content, not enabled
                - else
                  %small.less-strong no
                - if organization_stolen_message.report_url.present?
                  %small Report URL present
          %tr
            %td Stickers
            %td
              - if @organization.enabled?("bike_stickers")
                = link_to admin_bike_stickers_path(organization_id: @organization.to_param) do
                  = number_display(@organization.bike_stickers.count)
                  stickers
              - else
                %small.less-strong
                  no
          - if @organization.enabled?("graduated_notifications")
            %tr
              %td Graduated bikes
              %td
                - if @organization.deliver_graduated_notifications?
                  Delivering notifications
                  %small
                    #{@organization.graduated_notification_interval_days} day interval
                - else
                  %em.text-warning
                    Not delivering
                  %small
                    notification interval is not set
          %tr
            %td Enabled features
            %td.small
              = safe_join(@organization.enabled_feature_slugs.map { |slug| content_tag(:code, slug) }, ", ")

        -# Associated organizations info
        - if @organization.parent_organization.present?
          - associated_orgs = true
          %tr
            %td Child of
            %td
              = link_to @organization.parent_organization.name, admin_organization_path(@organization.parent_organization)
              %small.less-strong.d-block
                Parent organization should be part of the same organization. Use "regional" feature otherwise
        - if @organization.parent?
          - associated_orgs = true
          %tr
            %td Child organizations
            %td
              %ul{ style: "font-size: 80%; margin-bottom: 0.5rem;" }
                - @organization.child_organizations.each do |org|
                  %li
                    = link_to org.name, admin_organization_url(org)
              %small.less-strong.d-block
                Parent organization should be part of the same organization. Use "regional" feature otherwise
        - if @organization.regional?
          - associated_orgs = true
          %tr
            %td Regional Sub-Organizations
            %td
              %ul{ style: "font-size: 80%; margin-bottom: 0.5rem;" }
                - @organization.nearby_organizations.each do |suborg|
                  %li
                    = link_to suborg.name, admin_organization_path(suborg)
          %tr
            %td Regional address
            %td
              = @organization.default_location&.address
          %tr
            %td Search radius
            %td
              = @organization.search_radius_display
              %small.less-strong
                This controls which organizations are regional sub organizations
        - if @organization.regional_parents.any?
          - associated_orgs = true
          %tr
            %td Regional overview organization
            %td
              - if @organization.regional_parents.count == 1
                - regional_parent = @organization.regional_parents.first
                = link_to regional_parent.name, admin_organization_path(regional_parent)
              - else
                %ul{ style: "font-size: 80%; margin-bottom: 0.5rem;" }
                  - @organization.regional_parents.each do |regional_parent|
                    %li
                      = link_to regional_parent.name, admin_organization_path(regional_parent)
              %small.less-strong.d-block Search radius includes this organization
        - unless associated_orgs
          %tr
            %td
              Associated orgs
            %td
              %em.small.less-strong
                No associated organizations


.row.mt-4
  .col-sm-6
    %h2
      = number_with_delimiter(@bikes_count)
      = "Bike".pluralize(@bikes_count)
      %em.small
        = link_to "view all bikes", admin_bikes_path(organization_id: @organization.to_param)

  .col-sm-6.text-right
    = link_to "org bikes view", organization_bikes_path(organization_id: @organization.to_param), class: "gray-link mt-3 d-inline-block"
= render partial: "/admin/bikes/table", locals: { bikes: @bikes }

- organization_roles = @deleted_organization_roles ? @organization.organization_roles.deleted.reorder(deleted_at: :asc) : @organization.organization_roles.reorder(created_at: :asc)
.row.mt-4
  .col-6
    %h4
      = number_with_delimiter(organization_roles.count)
      - if @deleted_organization_roles
        %span.text-danger Deleted
      = "OrganizationRole".pluralize(organization_roles.count)
      %small
        - if @deleted_organization_roles
          %small
            = number_with_delimiter(organization_roles.claimed.count)
            claimed
          - unless @organization.deleted?
            \-
            %small.less-strong
              = link_to admin_organization_path(@organization, deleted_organization_roles: false), class: "gray-link" do
                = number_with_delimiter(@organization.organization_roles.count)
                %strong NOT
                deleted organization role
        - else
          %small
            = number_with_delimiter(@organization.organization_roles.claimed.count)
            claimed
          \-
          %small.less-strong
            = link_to admin_organization_path(@organization, deleted_organization_roles: true), class: "gray-link" do
              = number_with_delimiter(@organization.organization_roles.deleted.count)
              deleted
          %small
            = link_to "new organization role", new_admin_organization_role_url(organization_id: @organization.to_param), class: "btn btn-outline-secondary btn-sm ml-3"
  .col-6.text-right
    = link_to "View all organization_roles", admin_organization_roles_path(organization_id: @organization.to_param)

- if organization_roles.count > 0
  = render partial: "/admin/organization_roles/table", locals: { organization_roles: organization_roles.limit(25), skip_organization: true, render_deleted: @deleted_organization_roles}

%hr.mt-4
%h4
  Locations
- if @locations.any?
  - if @locations.count > 1
    %h4.mt-4
      = pluralize(@locations.count, "Location")
  .row
    - @locations.each do |location|
      .col-lg-4.col-sm-6.mb-4
        .card
          .card-body
            - if location.impound_location
              %strong
                - if location.default_impound_location
                  %span.text-info Default
                Impound location

            - elsif !location.shown && @organization.allowed_show?
              %strong.text-warning
                Location is not visible! Try updating the organization
            %p
              Name:
              = location.name
            %p
              Phone:
              = phone_display(location.phone)
            %p
              Address:
              = location.address


.row
  .col-6
    = link_to "Edit", edit_admin_organization_url(@organization), class: "btn btn-success"
  .col-6.text-right
    - if @organization.deleted?

      = link_to "Un-Delete organization", admin_recover_organization_path(id: @organization.id), data: {confirm: "Are you sure?"}, class: "btn btn-outline-warning"
    - else
      = link_to "Delete", admin_organization_url(@organization), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"
