%h1
  New Bulk Import
= form_for [:admin, @bulk_import] do |f|


  - if @bulk_import.errors.any?
    .card
      .card-header
        %h4.text-danger
          Please fix the following
          = pluralize(@bulk_import.errors.count, "error")
      .card-body
        %ul
          - @bulk_import.errors.full_messages.each do |msg|
            %li.text-danger
              = msg

  = f.label :organization_id
  = f.collection_select(:organization_id, Organization.all, :id, :name, {}, class: "form-control w-50")
  %label CSV:
  = f.file_field :file, class: "form-control-file mb-2"
  %label
    = f.check_box :no_notify
    Don't send emails to registrations
  = f.submit 'Create', class: "btn btn-success float-right"
