.admin-subnav
  .col-md-5
    %h1
      Graduated notifications
  .col-md-7
    %ul
      - if current_organization.present?
        %li.nav-item
          -# NOTE: Inexplicably, have to merge this in to get the URL to work (even though it's already there). IDK, whatever
          = link_to "#{current_organization.short_name} view", organization_graduated_notifications_path({organization_id: current_organization.to_param}.merge(sortable_search_params)), class: "nav-link strong"
      %li.nav-item
        %a.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@search_status == "all" ? "" : "active") }
          #{@search_status.humanize} notifications
        .dropdown-menu
          - (["all"] + GraduatedNotification.statuses).each do |kind|
            - kind_active = @search_status == kind
            - kind_display = "#{GraduatedNotification.status_humanized(kind)} notifications"
            = link_to kind_display, url_for(sortable_search_params.merge(search_status: (kind_active ? nil : kind))), class: "dropdown-item #{kind_active ? 'active' : ''}"
            - if kind == "all" # Add a divider after all
              .dropdown-divider
      %li.nav-item
        = link_to "graph", url_for(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"

  = render Admin::CurrentHeader::Component.new(params:, viewing: "Graduated Notifications", user: @user, bike: @bike, marketplace_listing: @marketplace_listing, primary_activity: @primary_activity, current_organization:)



- if @render_chart
  - time_range_column = @search_status == "marked_remaining" ? "marked_remaining_at" : "created_at"
  = column_chart time_range_counts(collection: matching_graduated_notifications, column: time_range_column), stacked: true, thousands: ","

.mt-2.mb-4
  = render partial: "/shared/period_select"

= render partial: "/shared/admin/pagination", locals: {collection: @graduated_notifications}

%table.table.table-striped.table-bordered.table-sm.without-exterior-border
  %thead.small-header.hidden-md-down
    %th
      = sortable "created_at"
    %th
      = sortable "processed_at", "Sent"
    %th
      %small primary?
    - unless current_organization.present?
      %th
        Organization
    %th Bike
    %th Status
    %th
      = sortable "email"
    %th
      = sortable "marked_remaining_at"
  %tbody
    - @graduated_notifications.each do |graduated_notification|
      %tr
        %td
          %a.convertTime.preciseTime{ href: organization_graduated_notification_path(graduated_notification.id, organization_id: graduated_notification.organization_id) }
            = l(graduated_notification.created_at, format: :convert_time)
        %td
          - if graduated_notification.processed_at
            %span.convertTime.preciseTime
              = l(graduated_notification.processed_at, format: :convert_time)
          - else
            %small.less-strong
              @
              %span.convertTime
                = l(graduated_notification.pending_period_ends_at, format: :convert_time)
        %td
          = check_mark if graduated_notification.primary_notification?
        - unless current_organization.present?
          %td
            = link_to graduated_notification.organization&.short_name, admin_graduated_notifications_path(sortable_search_params.merge(organization_id: graduated_notification.organization_id))
        %td
          - if graduated_notification.bike.present?
            = link_to organized_bike_text(graduated_notification.bike), bike_path(graduated_notification.bike, organization_id: graduated_notification.organization_id)
        %td
          %em
            = status_display(graduated_notification.status_humanized)
        %td
          - if graduated_notification.user_id.present?
            = link_to graduated_notification.email, admin_user_path(graduated_notification.user_id)
          - else
            = graduated_notification.email
        %td
          - if graduated_notification.marked_remaining_at.present?
            %span.convertTime
              = l(graduated_notification.marked_remaining_at, format: :convert_time)
