.container-fluid
  .row.donate-block
    .col-xs-12
      %h3 Donate today
    .select-amount
      %p
        Select an amount
      - numbers = [5, 10, 15, 25, 50, 100, 250]
      %form#bikeindex-stripe-initial-form
        %ul.row.amount-list
          - numbers.each do |amount|
            %li.col-xs-4
              %a.btn.btn-secondary{ data: { amount: amount } }
                #{ amount }$
          %li.col-xs-8
            %input#arbitrary-amount.form-control{ type: 'number', min: '0', placeholder: 'Other amount', step: 0.01 }
        .next-step
          = submit_tag 'next  >', class: 'btn btn-primary'
  <script src="https://checkout.stripe.com/checkout.js"></script>
  - stripe_form_hash = { id: 'stripe_form', data: { key: ENV['STRIPE_PUBLISHABLE_KEY'],  email: current_user && current_user.email } }
  = form_tag payments_path, stripe_form_hash do
    = hidden_field_tag :stripe_token
    = hidden_field_tag :stripe_amount 
    = hidden_field_tag :stripe_email
    
