.container.payments-page
  - if params[:make_payment]
    %h1
      Make a payment
    %ul.payment-types-list.just-one
      %li
        %a.active.select-payment{ href: '#', data: { label: 'Pay', arbitrary: 1}}
          %h3
            Pay the Bike Index
          %hr
          - amount = params[:amount] || 100.00
          .donation
            %input#arbitraty-amount.form-control{ type: 'number', value: amount, min: '0' }
  - else
    %h1
      Support the Bike Index
    %h2
      Want to protect bikes? Think what we're doing is pretty cool? Help us keep going!
    %ul.payment-types-list
      %li
        %a.unselected.select-payment{ href: '#', data: {amount: 250, label: 'Buy coffee'}}
          %h3
            Buy us a cup of coffee
          %hr
          .perks
            %p
              Everyone loves coffee.
          %hr
          .donation
            %p
              $2.50
      %li
        %a.unselected.select-payment{ href: '#', data: {amount: 2500, label: 'Donate'}}
          %h3
            Awesome support
          %hr
          .perks
            %p
              Give us a hand up!
              %br
              (or 10 cups of coffee)
          %hr
          .donation
            %p
              $25.00

      %li
        %a.active.select-payment{ href: '#', data: {amount: 199, subscription: 1, label: 'Subscribe', plan: "01"}}
          %h3
            Monthly membership
          %hr
          .perks
            %p
              We stop asking for money (we haven't actually started asking yet - but we will sometime).
          %hr
          .donation
            %p
              $1.99 per month
      %li
        %a.unselected.select-payment{ href: '#', data: {amount: 9999, label: 'Donate'}}
          %h3
            Lifetime membership
          %hr
          .perks
            %p
              No more asking for money, ever!
          %hr
          .donation
            %p
              $99.99
      %li
        %a.unselected.select-payment{ href: '#', data: { label: 'Donate', arbitrary: 1}}
          %h3
            Something else
          %hr
          .perks
            %p
              Help out however much you feel like!
          %hr
          .donation
            %input#arbitraty-amount.form-control{ type: 'number', value: 3.14, min: '0' }

  - stripe_form_hash = {id: 'stripe_form', data: {key: "#{ENV['STRIPE_PUBLISHABLE_KEY']}"}}
  - stripe_form_hash[:data][:email] = "#{current_user.email}" if current_user.present?
  = form_tag payments_path, stripe_form_hash do 
    <script src="https://checkout.stripe.com/checkout.js"></script>
    = hidden_field_tag :stripe_token
    = hidden_field_tag :stripe_amount
    = hidden_field_tag :stripe_email
    = hidden_field_tag :stripe_subscription
    = hidden_field_tag :stripe_plan

    %a#open_stripe_checkout_btn.btn.binxbtn.binxbtn-lg{ href: '#' }
      Purchase
