<div
  data-controller="search--kind-select-fields--component"
  data-search--kind-select-fields--component-api-count-url-value="<%= API_COUNT_URL %>"
  data-search--kind-select-fields--component-is-marketplace-value="<%= @is_marketplace %>">

  <div
    class="tw:mt-5 tw:sm:mt-2 tw:flex tw:flex-wrap tw:sm:flex-nowrap tw:w-full tw:sm:w-min tw:ml-auto <%= location_wrap_hidden_class %>"
    data-search--kind-select-fields--component-target="locationWrap">

    <span class="tw:flex tw:flex-nowrap">
      <span class="tw:block tw:py-1.5 tw:mr-2"><%= translation(".within") %></span>
      <%= label_tag :distance, translation(".search_distance"), class: "twlabel tw:sr-only" %>
      <%=
        number_field_tag :distance, @distance,
        placeholder: "100", min: 1, class: "twinput tw:mr-2 tw:min-w-20 fieldResetsCounts",
        "data-search--kind-select-fields--component-target" => "distance"
      %>
    </span>
    <span class="tw:flex tw:flex-nowrap tw:mt-3 tw:sm:mt-0">
      <span class="tw:block tw:text-nowrap tw:py-1.5 tw:mr-2"><%= translation(".miles_of") %></span>
      <%= label_tag :location, translation(".search_location"), class: "twlabel tw:sr-only" %>
      <%=
        text_field_tag :location, @location,
        placeholder: translation(".anywhere"), class: "twinput tw:min-w-50 fieldResetsCounts",
        "data-search--kind-select-fields--component-target" => "location"
      %>
    </span>
  </div>

  <ul class="tw:items-center tw:w-full tw:text-sm tw:font-medium tw:text-gray-900 tw:border tw:border-gray-200 tw:rounded-sm tw:sm:flex tw:dark:border-gray-600 tw:dark:text-white tw:mt-6">
    <% stolenness_options.each do |opt| %>
      <% skip_li_border = opt == stolenness_options.last %>
      <li class="<%= stolenness_li_classes(skip_li_border) %>">
        <div class="tw:flex tw:items-center tw:ps-3 tw:relative">
          <%= radio_button_tag(:stolenness, opt, opt_selected?(opt),
            class: "tw:w-4 tw:h-4 tw:text-blue-600 tw:bg-gray-100 tw:border-gray-300 tw:focus:ring-blue-500 " \
              ":tw:dark:focus:ring-blue-600 tw:dark:ring-offset-gray-700 tw:dark:focus:ring-offset-gray-700 " \
              "tw:focus:ring-2 tw:dark:bg-gray-600 tw:dark:border-gray-500",
              "data-action" => "change->search--kind-select-fields--component#updateLocationVisibility")
          %>

          <%= label_tag("stolenness_#{opt}", class: "tw:w-full tw:py-3 tw:ms-2 tw:cursor-pointer") do %>
            <%= translation(".stolenness_#{opt}") %>

            <span class="twless-strong" data-search--kind-select-fields--component-target="<%= opt %>Count"></span>
          <% end %>
          <%# TODO: make these links actually preserve the current search %>
          <% if opt == "for_sale" %>
            <% unless @is_marketplace %>
              <%= link_to "", marketplace_path, class: "tw:inset-0 tw:absolute tw:z-10" %>
            <% end %>
          <% elsif @is_marketplace %>
            <%= link_to "", search_registrations_path, class: "tw:inset-0 tw:absolute tw:z-10" %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
