<%= form_for @feedback do |f| %>

<% if @feedback.errors.any? %>
  <div id="flash" class="alert alert-error">
    <button class="close" data-dismiss="alert">x</button>
    <h4>Please fix the following <%= pluralize(@feedback.errors.count, "error") %>:</h4>
    <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <div class="feedbacks">
    <div class="contact-info">
      <%= f.text_field :name, placeholder: "Enter your name" %>
      <%= f.email_field :email, placeholder: "Enter your email address" %>
      <%= f.text_field :title, placeholder: "Your subject title" %>
    </div>
    <div class="contact-text">
      <%= f.text_area :body, placeholder: "Enter your message", rows: 7 %>
    </div>
    <div class="feedback-actions control-group">
        <%= f.submit 'Submit!', class: 'button-green pull-right' %>
    </div>
    
  </div>
<% end %> 