= form_for @feedback do |f|
  .row.form-group
    .col-sm-6
      = f.email_field :email, placeholder: "Email address", value: current_user ? current_user.email : "", class: 'form-control'
    .col-sm-6
      = f.text_field :name, placeholder: 'Name', value: current_user ? current_user.name : '', class: 'form-control'
  
  .row.form-group
    .col-sm-12
      = f.text_field :title, placeholder: 'Subject', class: 'form-control'
  .row.form-group
    .col-sm-12
      = f.text_area :body, placeholder: 'Your message', rows: 7, class: 'form-control'
  .row.form-group
    .col-sm-12
      = f.submit 'Send it!', class: 'btn btn-primary'
