= form_for @feedback do |f|
  - if @feedback.errors.any?
    #alert-block
      .alert.alert-error
        %a.close{"data-dismiss" => "alert"} ×
        %h4
          Please fix the following 
          = pluralize(@feedback.errors.count, "error")
        %ul
          - @feedback.errors.full_messages.each do |msg|
            %li 
              = msg  

  .feedbacks
    .contact-info
      .contact-first-row
        = f.text_field :name, placeholder: "Name", value: current_user ? current_user.name : ""
        = f.email_field :email, placeholder: "Email address", value: current_user ? current_user.email : ""
      = f.text_field :title, placeholder: "Subject"
    .contact-text
      = f.text_area :body, placeholder: "Your message goes here", rows: 7   
    .feedback-actions.control-group
      = f.submit 'Send it!', class: 'button-green pull-right'
  