%h1#top
  Help with the Bike Index

= render 'shared/faq'

%article
  = render '/shared/google_text_ad'

%hr 

%h3.padded#contact_us_section
  Contact us!

%p
  Have a question we haven't answered? 
  / #{link_to 'Check out our forum', discuss_url}.
%p
  You can reach us at #{link_to "contact@bikeindex.org", "mailto:contact@bikeindex.org"}, or send your message right here.
- if current_user.present?
  %article
    = render 'feedbacks/form'
- else
  %h3
    Sorry, you have to be signed in to send comments because people on the internet.