.vendor-signup
  %header
    .header-text
      %h1
        Are you a bike shop? 
      %h1
        A biking organization?
    .bike-shop-image
      = image_tag "bike-shop.png", alt: "Bike shop"
  %article.vendor-description
    %p
      The Bike Index gives you the ability to quickly and easily register bikes for your customers or members.
    %p
      When you register a bike, your customer will receive an email with the basic information about the bike &mdash; they never need to do anything else, and they will always have a permanent record of their bike.
    %p
      If they ever want to, they can sign in to Bike Index and upload photos or add details, and if their bike is stolen, they can mark it stolen on the Index to get the best chance of recovery.

  .vendor-questions.tabbable
    %ul.nav-tabs
      %li{class: ('active' unless @lightspeed) }
        %a{ href: '#regular-vendor', data: {toggle: 'tab'} }
          Standard use
      %li{class: ('active' if @lightspeed) }
        %a{ href: '#lightspeed-automation', data: {toggle: 'tab'} }
          Use with LightSpeed Cloud
    
    .tab-content
      #regular-vendor.tab-pane{class: ('active' unless @lightspeed) }
        %article
          / <a href="http://youtu.be/rCj6Gkndm1k" style="display: block;"><img style="display: block; margin: 20px auto 10px;" src="https://s3.amazonaws.com/bikeindex/org_manage_screencast_screenshot.png"></a>
          %p
            Watch our screencast on 
            %a{ href: "http://youtu.be/rCj6Gkndm1k" }
              getting started with organizations
            on the Bike Index
        %ul.fancy-bullets
          %li
            %span.blue-bullet
            %h3
              How much does it cost?
            %p
              It's completely free! It will always be free for bike shops and bike organizations to register bikes.
          
          %li
            %span.blue-bullet
            %h3
              Do you have fliers?
            %p
              Yes, you can print
              %a{href: "https://s3.amazonaws.com/bikeindex/Bike+Index+display.pdf"}
                this pdf
              to show your customers that you care about protecting their bikes.

          %li
            %span.blue-bullet
            %h3
              This sounds awesome! How do I sign up?
            %p
              Just submit the form below!

      #lightspeed-automation.tab-pane{class: ('active' if @lightspeed) }
        %article
          %p
            Does your bike shop use LightSpeed Cloud? The Bike Index now offers an integration to make bike registration entirely automatic at your shop (#{link_to 'read the announcement', 'https://bikeindex.org/blogs/automated-registration-for-bike-shops'}).
          %p
            Make sure you register every bike you sell &mdash; so that every one of your customers is protected, no matter how busy your shop is.
          %p
            It works like this:
        %ul.fancy-bullets
          %li
            %span.blue-bullet
            %p
              Every few minutes we contact LightSpeed Cloud and ask if any new bikes have been sold.
          %li
            %span.blue-bullet
            %p
              If any have been, we look up the information about the bikes.
          %li
            %span.blue-bullet
            %p
              If the bike is suppose to be registered, we ask LightSpeed cloud what the customer's email is.
          %li
            %span.blue-bullet
            %p
              We register the bike and send it to your customer.
        %article
          %p
            All you need to do to sign up is get us your API key. Here is a video explaining how to do this.
          :plain
            <iframe width="700" height="394" src="//www.youtube.com/embed/52QTFWm7gHk" frameborder="0" allowfullscreen></iframe>
          %p.padded
            To get automation, you also need to have a Bike Index account. Sign up by submitting the form below if you haven't already (it's free).
        %dl
          %dt.collapse-faq
            %a.collapsed{ href: "#whats-collected", :data => { toggle: "collapse"} }
              %span
              What information do you get from LightSpeed?
          %dd#whats-collected.collapse
            %p
              We only access the information we need for registration (serial number, description, manufacturer, year, color, photo) about the bikes that we are registering and the customer's email associated with the bikes we register.
          %dt.collapse-faq
            %a.collapsed{ href: "#opting-out", :data => { toggle: "collapse"} }
              %span
              What if a customer doesn't want to be registered?
          %dd#opting-out.collapse
            %p
              Just add "do not register" in the notes section of the bike when you sell it.
            %p
              Bikes marked "do not register" are never processed and the customer's email is never accessed.
            %p
              Also, if you don't add your customer's email, we won't register the bike.
%article
  = form_for @feedback do |f|

    - if @feedback.errors.any?
      #alert-block
        .alert.alert-error
          %a.close{"data-dismiss" => "alert"} ×
          %h4
            Please fix the following 
            = pluralize(@feedback.errors.count, "error")
          %ul
            - @feedback.errors.full_messages.each do |msg|
              %li 
                = msg  
    
    
    
    .vendor-signup-form
      .contact-info
        .contact-first-row
          = f.email_field :email, required: true, placeholder: "Shop email address"
          = f.hidden_field :feedback_type, value: 'shop_submission'
          = f.text_field :title, required: true, placeholder: "Shop phone number"
        = f.text_field :name, required: true, placeholder: "Enter your shop's name"
      .contact-text
        = f.text_area :body, required: true, placeholder: "Where is your shop located?", rows: 7
      .feedback-actions.control-group
        = f.submit 'Send the request', class: 'button-green pull-right'
    