.vendor-signup
  %header
    .header-text
      %h1
        Are you a bike shop?
      %h2
        Want to register bikes? 
    .bike-shop-image
      = image_tag "bike-shop.png", alt: "Bike shop"

  .vendor-questions
    %h2
      A few questions and answers
    %ul.fancy-bullets
      %li
        %span.blue-bullet
        %h3
          How much does it cost to get started?
        %p
          It is free. There is no set up fee and it's free to register bikes.


      %li
        %span.blue-bullet
        %h3
          Do I sign a long term contract?
        %p
          Nope. There aren't any long term commitments. You can cancel anytime.
      
      %li
        %span.blue-bullet
        %h3
          Do you have fliers?
        %p
          Yes! You can print out 
          %a{href: "https://s3.amazonaws.com/bikeindex/Bike+Index+display.pdf"}
            this pdf
          to show that you register bikes.

      %li
        %span.blue-bullet
        %h3
          This sounds awesome! How do I sign up?
        %p
          Just submit the form below!


  = form_for @feedback do |f|

    - if @feedback.errors.any?
      #alert-block
        .alert.alert-error
          %a.close{"data-dismiss" => "alert"} ×
          %h4
            Please fix the following 
            = pluralize(@feedback.errors.count, "error")
          %ul
            - @feedback.errors.full_messages.each do |msg|
              %li 
                = msg  
    
    
    
    .vendor-signup-form
      .contact-info
        = f.email_field :email, required: true, placeholder: "Enter your email address", value: current_user ? current_user.email : ""
        = f.hidden_field :feedback_type, value: 'shop_submission'
        = f.text_field :title, required: true, placeholder: "Your phone number"
        = f.text_field :name, required: true, placeholder: "Enter your shop's name"
      .contact-text
        = f.text_area :body, required: true, placeholder: "Where is your shop located?", rows: 7
      .feedback-actions.control-group
        = f.submit 'Submit request', class: 'button-green pull-right'
    