.vendor-signup
  %header
    .header-text
      %h1
        Are you a bike shop? 
      %h1
        A biking organization?
    .bike-shop-image
      = image_tag "bike-shop.png", alt: "Bike shop"
  %article.vendor-description
    %p
      The Bike Index gives you the ability to quickly and easily register bikes for your customers or members.
    %p
      When you register a bike, your customer will receive an email with the basic information about the bike &mdash; they never need to do anything else, and they will always have a permanent record of their bike.
    %p
      If they ever want to, they can sign in to Bike Index and upload photos or add details, and if their bike is stolen, they can mark it stolen on the Index to get the best chance of recovery.

  .vendor-questions.tabbable
    %ul.nav-tabs
      %li{class: ('active' unless @lightspeed) }
        %a{ href: '#regular-vendor', data: {toggle: 'tab'} }
          Standard use
      %li{class: ('active' if @lightspeed) }
        %a{ href: '#lightspeed-automation', data: {toggle: 'tab'} }
          Integration with LightSpeed cloud
    
    .tab-content
      %span.vendor-tab-bg
      #regular-vendor.tab-pane{class: ('active' unless @lightspeed) }
        %article
          %p
            Watch our screencast on 
            %a{ href: "http://youtu.be/rCj6Gkndm1k" }
              getting started with organizations
            on the Bike Index
        %ul.fancy-bullets
          %li
            %span.blue-bullet
            %h3
              How much does it cost?
            %p
              It's completely free! It will always be free for bike shops and bike organizations to register bikes.
          
          %li
            %span.blue-bullet
            %h3
              Do you have fliers?
            %p
              Yes, you can print
              %a{href: "https://s3.amazonaws.com/bikeindex/Bike+Index+display.pdf"}
                this pdf
              to show your customers that you care about protecting their bikes.

          %li
            %span.blue-bullet
            %h3
              This sounds awesome! How do I sign up?
            %p
              Just submit the form below!

      #lightspeed-automation.tab-pane{class: ('active' if @lightspeed) }
        %article
          %p
            Does your shop use LightSpeed Cloud for your point of sale system?
          %p
            If so, the Bike Index offers you a way to automatically, effortlessly register the bikes you sell (#{link_to 'read the announcement', 'https://bikeindex.org/blogs/automated-registration-for-bike-shops'}).  
          %p
            Make sure that every one of your customers' bikes is protected, no matter how busy your shop is.
          %p
            It works like this:
        %ul.fancy-bullets
          %li
            %span.blue-bullet
            %p
              Every few minutes the Bike Index contacts participating LightSpeed Cloud accounts and asks if any new bikes have been sold.
          %li
            %span.blue-bullet
            %p
              If any have been, we look up the information about the bikes.
          %li
            %span.blue-bullet
            %p
              We check to make sure each bike is suppose to be registered. 
          %li
            %span.blue-bullet
            %p
              We ask LightSpeed cloud for the customer's email and register the bike.
        %article
          %p
            All you need to do to sign up is get us your API key. Here is a video explaining how to do this.
          #lightspeed-tutorial-video
          %p.padded
            To set up automation, you also need a Bike Index account. Sign up by submitting the form below if you haven't already (it's free).
        %dl
          %dt.collapse-faq
            %a.collapsed{ href: "#whats-collected", :data => { toggle: "collapse"} }
              %span
                &#x25B6;
              What information do you access from LightSpeed Cloud?
          %dd#whats-collected.collapse
            %p
              We only access information about bicycles you sell. Only the information we need to create an accurate registration &mdash; the serial number, description, manufacturer, year, color, photo and the purchaser's email.
          %dt.collapse-faq
            %a.collapsed{ href: "#opting-out", :data => { toggle: "collapse"} }
              %span
                &#x25B6;
              What if a customer doesn't want to be registered?
          %dd#opting-out.collapse
            %p
              Just add "do not register" to the notes section of the bike when you sell it.
            %p
              Bikes marked "do not register" are never processed and the customer's email is never accessed.
            %p
              Additionally, if you don't add your customer's email we won't register the bike.
%article
  = form_for @feedback do |f|

    - if @feedback.errors.any?
      #alert-block
        .alert.alert-error
          %a.close{"data-dismiss" => "alert"} ×
          %h4
            Please fix the following 
            = pluralize(@feedback.errors.count, "error")
          %ul
            - @feedback.errors.full_messages.each do |msg|
              %li 
                = msg  
    
    
    
    .vendor-signup-form
      .contact-info
        .contact-first-row
          = f.email_field :email, required: true, placeholder: "Shop email address"
          = f.hidden_field :feedback_type, value: 'shop_submission'
          = f.text_field :title, required: true, placeholder: "Shop phone number"
        = f.text_field :name, required: true, placeholder: "Enter your shop's name"
      .contact-text
        = f.text_area :body, required: true, placeholder: "Where is your shop located?", rows: 7
      .feedback-actions.control-group
        = f.submit 'Send the request', class: 'button-green pull-right'
    