.admin-subnav
  .col-md-5
    %h1
      Impound Claims
  .col-md-7
    %ul
      %li.nav-item
        %a.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@search_status == available_statuses.first ? "" : "active") }
          - if @search_status != "current" && ImpoundClaim.statuses.include?(@search_status)
            = ImpoundClaim.status_humanized(@search_status.to_sym)
          - elsif @search_status == "all"
            All statuses
          - else
            #{@search_status.titleize} records
        .dropdown-menu
          - available_statuses.each do |status|
            - if status != "current" && ImpoundClaim.statuses.include?(status)
              - display_status = ImpoundClaim.status_humanized(status)
            - elsif status == "all"
              - display_status = "All statuses"
            - else
              - display_status = "#{status.titleize} records"
            - status_active = @search_status == status
            - status_link_params = sortable_search_params.merge(search_status: (status_active ? nil : status))
            = link_to display_status, admin_impound_claims_path(status_link_params), class: "dropdown-item #{status_active ? 'active' : ''}"
            - if status == "resolved" # Add a divider before all
              .dropdown-divider
      %li.nav-item
        = link_to "graph", admin_impound_claims_path(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"
  = render Admin::CurrentHeader::Component.new(params:,  viewing: "Impound Claims" , user: @user, bike: @bike, marketplace_listing: @marketplace_listing, primary_activity: @primary_activity, current_organization:)

.row.mt-4.mb-4
  .col-sm-6
    = number_with_delimiter(matching_impound_claims.size)
    matching Impound Claims
    %em
      = humanized_time_range(@time_range)
    - if current_organization.present?
      %strong
        from
        = link_to current_organization.short_name, admin_organization_path(current_organization)

- if @render_chart
  = column_chart time_range_counts(collection: matching_impound_claims), stacked: true, thousands: ","
  - unless params[:organization_id].present?
    .row.mt-4
      .col-md-6.offset-md-3
        %table.table-list.wide-definition
          %tbody
            - matching_impound_claim_per_org_id = matching_impound_claims.distinct.pluck(:organization_id).map { |id| [id, matching_impound_claims.where(organization_id: id).count] }
            - matching_impound_claim_per_org_id.sort_by { |id, number| number }.each do |id, number|
              - organization = Organization.unscoped.find_by_id(id) if id.present?
              %tr
                %td
                  - if organization.present?
                    = link_to organization.short_name, admin_impound_claims_path(sortable_search_params.merge(organization_id: id)), class: (organization.deleted? ? "text-danger" : "")
                  - else
                    = link_to "no organization", admin_impound_claims_path(sortable_search_params.merge(organization_id: "none")), class: "gray-link"
                %td
                  = number_with_delimiter(number)

.mt-4.mb-4
  = render partial: "/shared/period_select"

= render_admin_pagination_with_count(collection: @impound_claims, count: matching_impound_claims.size)

= render partial: "table", locals: {impound_claims: @impound_claims, render_sortable: true, skip_organization: current_organization.present?}
