.admin-subnav
  .col-md-5
    %h1
      #{@impound_claim.claim_kind_humanized.titleize} for
      = link_to "impound record ##{@impound_record.display_id}", admin_impound_record_path("pkey-#{@impound_record.display_id}")

- @bike_claimed = @impound_claim.bike_claimed
- @bike_submitting = @impound_claim.bike_submitting

- organization_name = @impound_claim.organization.present? ? @impound_claim.organization.name : @impound_claim.organization_id

- if organization_name.present?
  %h4= link_to "View in organization", organization_impound_claim_path(@impound_claim.id, organization_id: impound_claim.organization_id)
.row
  .col-sm-6
    %table.table-list
      %tbody
        %tr
          %td Created
          %td
            %span.convertTime.preciseTime
              = l(@impound_claim.created_at, format: :convert_time)
        %tr
          %td Updated
          %td
            %span.convertTime.preciseTime
              = l(@impound_claim.updated_at, format: :convert_time)
        %tr
          %td Status
          %td
            %em
              = status_display(@impound_claim.status_humanized)
        %tr
          %td Organization
          %td
            - if organization_name.present?
              = link_to organization_name, admin_organization_path(@impound_claim.organization_id)
  .col-sm-6
    %table.table-list
      %tbody
        %tr
          %td Bike
            %td
              - if @bike_submitting.present?
                = link_to organized_bike_text(@bike_submitting), bike_path(@impound_claim.bike_submitting, organization_id: impound_claim.organization_id)
        %tr
          %td Impound record
            %td
              - if @impound_record.present?
                = link_to @impound_record.display_id, admin_impound_record_path("pkey-#{@impound_record.id}")
                - if organization_name.present?
                  %small.less-strong= link_to "view in organization", organization_impound_record_path(@impound_record.display_id, organization_id: @impound_claim.organization_id)
        %tr
          %td User
          %td
            = @impound_claim.user&.display_name&.truncate(20)
        %tr
          %td Resolved
          %td
            - if @impound_claim.resolved_at.present?
              %span.convertTime.preciseTime
                = l(@impound_claim.resolved_at, format: :convert_time)
