- render_sortable ||= false
- skip_bike ||= false

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.small-header
      %tr
        %th
          = sortable "created_at", render_sortable: render_sortable
        %th
          = sortable "status", render_sortable: render_sortable
        - unless skip_bike
          %th Bike
        %th User
        %th
          = sortable "theft_alert_plan_id", "Plan", render_sortable: render_sortable
        %th
          = sortable "amount_cents_facebook_spent", "Fbook spent", render_sortable: render_sortable
        %th
          = sortable "start_at", "Start", render_sortable: render_sortable
        %th
          = sortable "end_at", render_sortable: render_sortable
        - if display_dev_info?
          %th.only-dev-visible.small FB updated
          %th.only-dev-visible.small FB objective
        %th
          = sortable "reach", render_sortable: render_sortable
        %th.small Clicks
        %th City
        %th Notes
    %tbody
      - theft_alerts.each do |theft_alert|
        %tr
          %td
            = link_to l(theft_alert.created_at, format: :convert_time), edit_admin_theft_alert_path(theft_alert), class: "convertTime"
            %small.less-strong
              = theft_alert.id
          %td
            - if theft_alert.recovered?
              = link_to "recovered!", admin_recovery_path(theft_alert.stolen_record), class: "text-success"
            - if theft_alert.failed_to_activate?
              %span.text-danger Failed activation!
            - elsif theft_alert.activating?
              %span.text-success activating!
            - else
              - unless theft_alert.recovered? && theft_alert.inactive?
                %span{class: theft_alert_status_class(theft_alert)}
                  = theft_alert.status
              - if theft_alert.pending?
                - if theft_alert.activateable?
                  %em.small.text-success activateable
                - else
                  %em.small.d-block
                    %span.text-danger missing:
                    - missing = []
                    - missing << "photo" if theft_alert.missing_photo?
                    - missing << "location" if theft_alert.missing_location?
                    - missing << "payment" unless theft_alert.paid?
                    - missing << "approval" unless theft_alert.stolen_record_approved?
                    = missing.join(", ")

          - unless skip_bike
            %td
              = render partial: "/shared/admin/bike_cell", locals: {bike: theft_alert.bike, bike_id: theft_alert.bike_id, bike_link_path: edit_admin_bike_path(theft_alert.bike_id)}
          %td
            = render partial: "/shared/admin/user_cell", locals: {user: theft_alert.user, render_search: true, cache: true, user_id: theft_alert.user_id}
          %td
            - theft_alert_plan = theft_alert.theft_alert_plan
            %small
              = theft_alert.amount_facebook
              %span.less-strong= theft_alert_plan.name
          %td
            - if theft_alert.amount_cents_facebook_spent.to_i > 0
              = theft_alert.amount_facebook_spent
          %td
            %small.convertTime= l(theft_alert.start_at, format: :convert_time) if theft_alert.start_at.present?
          %td
            - if theft_alert.end_at.present?
              %small.convertTime= l(theft_alert.end_at, format: :convert_time)

          - if display_dev_info?
            %td
              - if theft_alert.facebook_updated_at.present?
                %small.convertTime= l theft_alert.facebook_updated_at, format: :convert_time
            %td
              - if theft_alert.objective_adset.present?
                %small{title: "Campaign: #{theft_alert.objective_campaign}\nAdset: #{theft_alert.objective_adset}\n"}
                  = theft_alert.objective_campaign.humanize.downcase.gsub("outcome", "").strip
          %td
            = admin_number_display(theft_alert.reach)
          %td
            %small= admin_number_display(theft_alert.engagement&.dig("unique_clicks"))
          %td
            = theft_alert.city
            - if theft_alert.state.present?
              %small.less-strong
                = theft_alert.state.abbreviation
            - elsif theft_alert.country.present? && theft_alert.country != Country.united_states
              %small.less-strong
                = theft_alert.country.name

          %td
            %small
              = theft_alert.notes
              - if theft_alert.facebook_post_url.present?
                %small.d-block= link_to "facebook", theft_alert.facebook_post_url
