- render_sortable ||= false
- skip_bike ||= false

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.small-header
      %tr
        %th
          = sortable "created_at", render_sortable: render_sortable
        %th
          = sortable "status", render_sortable: render_sortable
        - unless skip_bike
          %th Bike
        %th User
        %th
          = sortable "promoted_alert_plan_id", "Plan", render_sortable: render_sortable
        %th
          = sortable "amount_cents_facebook_spent", "Fbook spent", render_sortable: render_sortable
        %th
          = sortable "start_at", "Start", render_sortable: render_sortable
        %th
          = sortable "end_at", render_sortable: render_sortable
        - if display_dev_info?
          %th.only-dev-visible.small FB updated
        %th
          = sortable "reach", render_sortable: render_sortable
        %th.small Clicks
        %th City
        %th Notes
    %tbody
      - promoted_alerts.each do |promoted_alert|
        %tr
          %td
            = link_to l(promoted_alert.created_at, format: :convert_time), edit_admin_promoted_alert_path(promoted_alert), class: "convertTime"
            %small.less-strong
              = promoted_alert.id
          %td
            - if promoted_alert.recovered?
              = link_to "recovered!", admin_recovery_path(promoted_alert.stolen_record), class: "text-success"
            - if promoted_alert.failed_to_activate?
              %span.text-danger Failed activation!
            - elsif promoted_alert.activating?
              %span.text-success activating!
            - else
              - unless promoted_alert.recovered? && promoted_alert.inactive?
                %span{class: promoted_alert_status_class(promoted_alert)}
                  = promoted_alert.status
              - if promoted_alert.pending?
                - if promoted_alert.activateable?
                  %em.small.text-success activateable
                - else
                  %em.small.d-block
                    %span.text-danger missing:
                    - missing = []
                    - missing << "photo" if promoted_alert.missing_photo?
                    - missing << "location" if promoted_alert.missing_location?
                    - missing << "payment" unless promoted_alert.paid?
                    - missing << "approval" unless promoted_alert.stolen_record_approved?
                    = missing.join(", ")

          - unless skip_bike
            %td
              - if promoted_alert.bike.present?
                = link_to promoted_alert.bike.title_string, edit_admin_bike_path(promoted_alert.bike)
          %td
            = render partial: "/shared/admin/user_cell", locals: {user: promoted_alert.user, render_search: true, cache: true, user_id: promoted_alert.user_id}
          %td
            - promoted_alert_plan = promoted_alert.promoted_alert_plan
            %small
              = promoted_alert.amount_facebook
              %span.less-strong= promoted_alert_plan.name
          %td
            - if promoted_alert.amount_cents_facebook_spent.to_i > 0
              = promoted_alert.amount_facebook_spent
          %td
            %small.convertTime= l(promoted_alert.start_at, format: :convert_time) if promoted_alert.start_at.present?
          %td
            - if promoted_alert.end_at.present?
              %small.convertTime= l(promoted_alert.end_at, format: :convert_time)

          - if display_dev_info?
            %td
              - if promoted_alert.facebook_updated_at.present?
                %small.convertTime= l promoted_alert.facebook_updated_at, format: :convert_time
          %td
            = admin_number_display(promoted_alert.reach)
          %td
            %small= admin_number_display(promoted_alert.engagement&.dig("unique_clicks"))
          %td
            = promoted_alert.city
            - if promoted_alert.state.present?
              %small.less-strong
                = promoted_alert.state.abbreviation
            - elsif promoted_alert.country.present? && promoted_alert.country != Country.united_states
              %small.less-strong
                = promoted_alert.country.name

          %td
            %small
              = promoted_alert.notes
              - if promoted_alert.facebook_post_url.present?
                %small.d-block= link_to "facebook", promoted_alert.facebook_post_url
