- render_sortable ||= false
- skip_bike ||= false

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.small-header
      %tr
        %th
          - if render_sortable
            = sortable "created_at"
          - else
            Created
        - unless skip_bike
          %th Bike
        %th Creator
        %th
          - if render_sortable
            = sortable "theft_alert_plan_id", "Plan"
          - else
            Plan
        %th
          - if render_sortable
            = sortable "status"
          - else
            Status
        %th
          - if render_sortable
            = sortable "begin_at", "Start"
          - else
            Start
        %th
          - if render_sortable
            = sortable "end_at"
          - else
            End
        %th City
        %th Notes
    %tbody
      - theft_alerts.each do |theft_alert|
        %tr
          %td
            = link_to l(theft_alert.created_at, format: :convert_time), edit_admin_theft_alert_path(theft_alert), class: "convertTime"
          - unless skip_bike
            %td
              - if theft_alert.bike.present?
                = link_to theft_alert.bike.title_string, edit_admin_bike_path(theft_alert.bike)
          %td
            = link_to theft_alert.creator.display_name, edit_admin_user_path(theft_alert.creator.to_param)
          %td
            - theft_alert_plan = theft_alert.theft_alert_plan
            %small
              = link_to theft_alert_plan.title_string, edit_admin_theft_alert_plan_path(theft_alert_plan)
              %span.less-strong
                = number_to_currency(theft_alert_plan.amount_cents / 100.0, unit: "$")
          %td
            - if theft_alert.recovered?
              = link_to "recovered!", admin_recovery_path(theft_alert.bike), class: "text-success"
            - else
              - text_class = "text-info" if theft_alert.active?
              - text_class ||= "text-danger" if theft_alert.pending?
              - text_class ||= "less-strong small" if theft_alert.inactive?
              %span{ class: text_class || "" }
                = theft_alert.status
          %td
            %small.convertTime= l(theft_alert.begin_at, format: :convert_time) if theft_alert.begin_at.present?
          %td
            %small.convertTime= l(theft_alert.end_at, format: :convert_time) if theft_alert.end_at.present?
          %td
            = theft_alert.city
            - if theft_alert.state.present?
              %small.less-strong
                = theft_alert.state.abbreviation
            - elsif theft_alert.country.present? && theft_alert.country != Country.united_states
              %small.less-strong
                = theft_alert.country.name

          %td
            %small
              = theft_alert.notes

