= render partial: "/admin/bikes/bike", locals: { bike: @bike, target: "show", stolen_record: @stolen_record }

= render partial: "/admin/bikes/theft_alert_images", locals: { bike: @bike }

.admin-subnav.midpage-subnav
  .col-12
    %h1
      Edit Promoted Alert

= form_for @theft_alert,
  url: admin_theft_alert_path(@theft_alert),
  method: :patch,
  html: { class: "m-0" } do |f|
  .row
    .col-sm-6
      .form-group
        = f.label :status
        = f.select :status,
          options_for_select(TheftAlert.statuses.keys, @theft_alert.status),
          {},
          class: "form-control"
    .col-sm-6
      .form-group
        - plan_options = TheftAlertPlan.active.map { |e| [theft_alert_plan_title(e), e.id] }
        = f.label :theft_alert_plan_id
        = f.select :theft_alert_plan_id,
          options_for_select(plan_options, @theft_alert.theft_alert_plan.id),
          {},
          class: "form-control"

  - unless @theft_alert.pending?
    .row
      = f.hidden_field :timezone, value: "", class: "hiddenFieldTimezone"
      .col-sm-6
        .form-group
          = f.label :begin_at
          = f.datetime_local_field :begin_at, include_blank: true, class: "form-control"
      .col-sm-6
        .form-group
          = f.label :end_at
          = f.datetime_local_field :end_at, include_blank: true, class: "form-control"

  .form-group
    = f.label :facebook_post_url
    = f.text_field :facebook_post_url, class: "form-control"
  .form-group
    = f.label :notes
    = f.text_area :notes, rows: 3, class: "form-control"

  .form-group
    = submit_tag "Save", class: "btn btn-info"
