.admin-subnav
  .col-12
    %h1 Edit Theft Alert
.container
  = form_for @theft_alert,
    url: admin_theft_alert_path(@theft_alert),
    method: :patch,
    html: { class: "m-0" } do |f|
    .form-group
      = f.label :status, class: "form-label"
      = f.select :status, options_for_select(TheftAlert.statuses.keys), class: "form-control"
    .form-group
      = f.label :begin_at, class: "form-label"
      = f.datetime_select :begin_at, include_blank: true, class: "form-control"
    .form-group
      = f.label :end_at, class: "form-label"
      = f.datetime_select :end_at, include_blank: true, class: "form-control"
    .form-group
      = f.label :facebook_post_url, class: "form-label"
      = f.text_field :facebook_post_url, class: "form-control"
    .form-group
      = f.label :notes, class: "form-label"
      = f.text_area :notes, class: "form-control"
    .form-group
      = submit_tag "Begin", class: "btn btn-info"
