= render partial: "/admin/bikes/bike", locals: { bike: @bike, target: "show", stolen_record: @stolen_record }

%h2.mt-4
  Payment
  %small
    - if @theft_alert.payment.present?
      = link_to "view payment", edit_admin_payment_path(@theft_alert.payment_id)

- if @theft_alert.payment.present?
  = render partial: "/admin/payments/display", locals: { payment: @theft_alert.payment }
- else
  No payment present!

= render partial: "/admin/bikes/theft_alert_images", locals: { bike: @bike }


- if @theft_alert.pending?
  .row.mt-4.mb-4
    .col-xl-4.offset-xl-4.col-md-6.offset-md-3
      .card
        .card-body
          - if @theft_alert.activateable_except_approval?
            %h4.text-center
              - if @theft_alert.activateable?
                Theft alert can be activated!
              - else
                %span.text-warning This stolen record is NOT approved
                %em.small.d-block.mt-2
                  You can still activate if you're sure you want to

            - if @theft_alert.activating?
              %h2.mt-3.text-center
                %span.text-warning Activation in process

              %p
                Activation started at:
                %span.convertTime= l( @theft_alert.activating_at, format: :convert_time)

              %p
                %strong Don't activate again
                unless activation started a while ago

            .text-center.mt-4
              = link_to "Activate!", admin_theft_alert_path(@theft_alert.id, activate_theft_alert: true), method: :patch, action: "update", class: "btn btn-lg btn-success"
          - else
            %h4.text-center
              Theft alert
              %span.text-danger can not
              be activated
            %ul.mt-4
              - unless @theft_alert.stolen_record_approved?
                %li Stolen Record is not approved
              - unless @theft_alert.paid?
                %li Alert is not paid
              - if @theft_alert.missing_photo?
                %li Alert is missing photo
              - if @theft_alert.missing_location?
                %li Alert is missing location
- if @theft_alert.notifications.any?
  %h3 Notifications
  = render partial: "/admin/notifications/table", locals: {notifications: @theft_alert.notifications.reorder(created_at: :desc), skip_user: true}
.admin-subnav.midpage-subnav
  .col-12
    %h1 Edit Promoted Alert

= form_for @theft_alert,
  url: admin_theft_alert_path(@theft_alert),
  method: :patch,
  html: { class: "m-0" } do |f|
  .row
    .col-sm-6
      .form-group
        = f.label :status
        = f.select :status,
          options_for_select(TheftAlert.statuses, @theft_alert.status),
          {},
          class: "form-control"
    .col-sm-6
      .form-group
        - plan_options = TheftAlertPlan.active.map { |e| [theft_alert_plan_title(e), e.id] }
        = f.label :theft_alert_plan_id
        = f.select :theft_alert_plan_id,
          options_for_select(plan_options, @theft_alert.theft_alert_plan.id),
          {},
          class: "form-control"

  - unless @theft_alert.pending?
    .row
      = f.hidden_field :timezone, value: "", class: "hiddenFieldTimezone"
      .col-sm-6
        .form-group
          = f.label :begin_at
          = f.datetime_local_field :begin_at, include_blank: true, class: "form-control"
      .col-sm-6
        .form-group
          = f.label :end_at
          = f.datetime_local_field :end_at, include_blank: true, class: "form-control"

  .form-group
    = f.label :notes
    = f.text_area :notes, rows: 3, class: "form-control"

  .form-group
    = submit_tag "Save", class: "btn btn-info"


- if @theft_alert.facebook_data.present?
  .mt-4
  - if @theft_alert.facebook_post_url.present?
    %strong
      = link_to "link to Facebook post", @theft_alert.facebook_post_url, target: "_blank"
  - else
    = link_to "Update Facebook data", admin_theft_alert_path(@theft_alert.id, update_theft_alert: true), method: :patch, action: "update", class: "btn btn-outline-success"
  .row.mt-2
    .col-sm-6
      = pretty_print_json(@theft_alert.facebook_data)
