.admin-subnav
  .col-12
    %h1 Edit Theft Alert
.container
  = form_for @theft_alert,
    url: admin_theft_alert_path(@theft_alert),
    method: :patch,
    html: { class: "m-0" } do |f|
    = hidden_field_tag :state_transition, "begin"
    .form-group
      = f.label :facebook_post_url, class: "form-label"
      = f.text_field :facebook_post_url, class: "form-control"
    .form-group
      = f.label :notes, class: "form-label"
      = f.text_field :notes, class: "form-control"
    .form-group
      = submit_tag "Begin", class: "btn btn-info"
