= render partial: "/admin/bikes/bike_tabs", locals: {bike: @bike, active_tab: "promoted_alerts", display_recovery: true}

%h1.mt-5.mb-4
  New Promoted Alert

- if @promoted_alerts.any?
  %h4 Existing alerts
  = render partial: "/admin/promoted_alerts/table", locals: {render_sortable: true, promoted_alerts: @promoted_alerts, skip_bike: true}

.row.mt-5.mb-4
  .offset-md-2.col-md-8
    - if @promoted_alert.activateable?
      .alert.alert-success
        %h4
          This alert will activate as soon as you create it.
    - else
      .alert.alert-warning
        %h4
          This alert won't activate,
          %small it's missing required stuff:
        %ul
          - if @promoted_alert.missing_photo?
            %li.text-danger It doesn't have a photo
          - if @promoted_alert.missing_location?
            %li.text-danger It doesn't have a location - "#{@promoted_alert.latitude}"
          - unless @promoted_alert.stolen_record_approved?
            %li.text-danger Stolen record isn't approved

= form_for @promoted_alert, url: admin_promoted_alerts_path, method: :post, html: {class: "m-0"} do |f|
  = f.hidden_field :stolen_record_id
  .row
    .col-md-6
      .form-group
        - plan_options = @promoted_alert_plans.map { |e| ["#{promoted_alert_plan_title(e)} - #{e.amount_formatted}", e.id] }
        = f.label :promoted_alert_plan_id
        = f.select :promoted_alert_plan_id,
          options_for_select(plan_options, @promoted_alert.promoted_alert_plan.id),
          {},
          class: "form-control"

    - @promoted_alert.ad_radius_miles ||= @promoted_alert.promoted_alert_plan.ad_radius_miles
    .col-md-6
      .form-group
        = f.label :ad_radius_miles
        = f.number_field :ad_radius_miles, step: 1, min: 1, class: "form-control"

  .form-group
    = label_tag :location
    = text_field_tag :location, @promoted_alert.address_string, disabled: true, class: "form-control"

  .form-group
    = f.label :notes
    = f.text_area :notes, rows: 3, class: "form-control"

  .form-group
    = submit_tag "Create", class: "btn btn-success"
