<div class="twbootcontainer">
  <%= render(
    Messages::ForSaleItem::Component.new(
      vehicle: @marketplace_listing.item,
      vehicle_id: @marketplace_listing.item_id,
      current_user: @current_user,
      marketplace_listing: @marketplace_listing
    )
  ) %>

  <% if @marketplace_messages.any? %>
    <% @marketplace_messages.each do |marketplace_message| %>
      <%= render(Messages::ThreadShowMessage::Component.new(
        marketplace_message:,
        initial_message: @initial_message,
        current_user: @current_user,
        other_user_name: @other_user_name,
        other_user_id: @other_user_id)) %>
    <% end %>
  <% end %>

  <% if @can_send_message %>
    <%# matches Messages::ThreadShowMessage::Component#margin_class for sender %>
    <div class="tw:ml-4 tw:lg:ml-8">
      <%= render partial: "my_accounts/messages/form", locals: {marketplace_message: @new_marketplace_message} %>
    </div>
  <% else %>
    <div class="tw:mt-10">
      <%= render(Alert::Component.new(text: translation(".can_not_send_new_message"), kind: :error)) %>
    </div>
  <% end %>

  <% if show_mark_sold? %>
    <div class="tw:mt-15 tw:text-center">
      <%= link_to new_sale_path(marketplace_message_id: @initial_message.id), class: "twbtn-blue tw:px-8" do %>
        <%= translation(".sold_to", bike_type: @marketplace_listing.item_type_display.downcase) %>
        <em><%= @other_user_name %></em>
      <% end %>
    </div>
  <% end %>
</div>
