<div data-controller="messages--thread-show--component">
  <ul class="bike-boxes">
    <%= render(Search::BikeBox::Component::new(bike: @marketplace_listing.item, current_user: @current_user)) %>
  </ul>
  <%# TODO: show this too! %>
  <%#= render(PageSection::MarketplaceListingPanel::Component.new(marketplace_listing: @bike.current_marketplace_listing)) %>

  <% if @marketplace_messages.any? %>
    <% @marketplace_messages.each do |marketplace_message| %>
      <div
        id="message-<%= marketplace_message.id %>"
        class="tw:p-4 tw:bg-white tw:border tw:border-gray-200 tw:rounded-sm tw:dark:bg-gray-800 tw:dark:border-gray-700 tw:mt-4">
        <div class="tw:w-full tw:mb-2 tw:gap-x-6 tw:flex tw:flex-nowrap">
          <span class="tw:block tw:grow"><%= user_display(marketplace_message.sender_id) %></span>
          <span class="tw:block localizeTime preciseTime">
            <%= l marketplace_message.created_at, format: :convert_time %>
          </span>
        </div>
        <% if marketplace_message.id == @initial_message.id %>
          <h2 class="tw:text-lg tw:w-full">
            <strong><%= translation(".subject") %>:</strong>
            <%= @initial_message.subject %>
          </h2>
        <% end %>
        <%= render(UserTextBlockDisplay::Component.new(text: marketplace_message.body, max_height_class: "", additional_classes: "tw:mt-4")) %>
      </div>
    <% end %>
  <% end %>
</div>
