<div class="twbootcontainer">
  <%= render(
    Messages::ForSaleItem::Component.new(
      vehicle: @marketplace_listing.item,
      vehicle_id: @marketplace_listing.item_id,
      current_user: @current_user,
      marketplace_listing: @marketplace_listing
    )
  ) %>

  <% if @marketplace_messages.any? %>
    <% @marketplace_messages.each do |marketplace_message| %>
      <% if @sale.present? && @sale.created_at < marketplace_message.created_at && !sold_alert_rendered? %>
        <%= render_sold_alert %>
      <% end %>

      <%= render(Messages::ThreadShowMessage::Component.new(
        marketplace_message:,
        initial_message: @initial_message,
        current_user: @current_user,
        other_user_name: @other_user_name,
        other_user_id: @other_user_id)) %>
    <% end %>
  <% end %>

  <% if @sale.present? && !sold_alert_rendered? %>
    <%= render_sold_alert %>
  <% end %>
  <h2>banned: <%= user_banned? %></h2>
  <% if user_banned? || user_deleted? %>
    <%= render(Alert::Component.new(kind: :warning, text: translation(user_banned? ? :banned_message : :removed_message), margin_classes: "tw:my-8")) %>
  <% elsif @can_send_message %>
    <%# matches Messages::ThreadShowMessage::Component#margin_class for sender %>
    <div class="tw:mb-15 tw:ml-4 tw:lg:ml-8">
      <%= render partial: "my_accounts/messages/form", locals: {marketplace_message: @new_marketplace_message} %>
    </div>
  <% else %>
    <%= render(Alert::Component.new(text: translation(".can_not_send_new_message"), kind: :error, margin_classes: "tw:mt-10 tw:mb-15")) %>
  <% end %>

  <% if show_mark_sold? %>
    <%= helpers.turbo_frame_tag "mark_sold_section" do %>
      <div class="tw:mt-15 tw:text-center">
        <%= link_to new_sale_path(marketplace_message_id: @initial_message.id), class: "twbtn-blue tw:px-8", data: {turbo_stream: true} do %>
          <%= translation(".sold_to", item_type: item_type_display) %>
          <em><%= @other_user_name %></em>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
