<div data-controller="messages--thread-show--component">
  <%= render(Search::BikeBox::Component::new(bike: @marketplace_listing.item, current_user: @current_user)) %>

  <% if @marketplace_messages.any? %>
    <h2><%= @initial_message.subject %></h2>

    <% @marketplace_messages.each do |marketplace_message| %>
      <div class="tw:p-4 tw:bg-white tw:border tw:border-gray-200 tw:rounded-sm tw:dark:bg-gray-800 tw:dark:border-gray-700 ">
        <div class="tw:w-full tw:pb-4 tw:gap-x-6 tw:grid tw:flex">
          <span class="tw:block"><%= user_display(marketplace_message.sender_id) %></span>
          <span class="tw:block convertTime">
            <%= l marketplace_message.created_at, format: :convert_time %>
          </span>
        </div>
        <%= render(UserTextBlockDisplay::Component.new(text: marketplace_message.body)) %>
      </div>
    <% end %>
  <% end %>
</div>
