.organized-page-header
  %h1= t(".org_bikes_html", org_name: current_organization.name)

  %p
    - count = defined?(@bikes.total_count) ? @bikes.total_count : @bikes.count
    - num_bikes = pluralize(number_with_delimiter(count), t(".bike"))
    = t(".num_bikes_registered_html", num_bikes: num_bikes)
.full-screen-table
  %table.table.table-striped.table-hover.table-bordered.table-sm.without-exterior-border
    %thead.small-header
      %tr
        %th.date-added
          = t(".added")
          %small.convertTimezone
        %th= t(".manufacturer")
        %th= t(".model")
        %th= t(".color")
        %th= t(".sent_to")
        -# %th Claimed
        - if @bike_sticker.present?
          %th
            = t(".link")
            %br
            = t(".sticker")
    %tbody
      - @bikes.each do |bike|
        %tr
          %td
            = link_to l(bike.created_at, format: :convert_time), bike_path(bike, organization_id: current_organization.to_param), class: "convertTime"
          %td
            = bike.mnfg_name
          %td
            = bike.frame_model
          %td
            = bike.frame_colors.to_sentence
          %td
            = bike.first_owner_email
            %small.less-strong
              - if bike.creation_description
                = bike.creation_description
              - unless bike.owner_email == bike.first_owner_email
                = "(#{t('.sent_to_a_new_owner')})"
          - if @bike_sticker.present?
            %td
              %small
                = link_to t(".link"),
                bike_sticker_path(id: @bike_sticker.code, organization_id: @bike_sticker.organization_id, bike_id: bike.id),
                method: "PUT"

- if defined?(@bikes.total_count)
  .paginate-container.paginate-container-bottom
    = paginate @bikes
