/ If no url_for_search passed in, default to organization bike search
- path_for_search ||= organization_bikes_path(organization_id: current_organization.to_param)
- skip_view_just_stolen ||= @bike_code.present?

.mb-4
  = form_tag path_for_search, id: 'bikes_search_form', class: 'bikes-search-form', method: :get do
    .query-field-wrap.nojs
      - opt_vals = @selected_query_items_options.map { |i| i.is_a?(String) ? [i, i] : [i['text'], i['search_id']]  }
      = select_tag :query_items,                                      |
        options_for_select(opt_vals, selected: opt_vals.map(&:last)), |
        placeholder: 'Search bike descriptions',                      |
        class: 'form-control query-field',                            |
        multiple: true

      = text_field_tag :query, params[:query], placeholder: 'Search bike descriptions', class: 'form-control query-field'
      .sidebyside-queries
        = text_field_tag :email, params[:email], placeholder: 'Search owner email', class: 'form-control query-field email-field-too'
        = text_field_tag :serial, params[:serial], placeholder: 'Search for serial number', class: 'form-control query-field email-field-too'

    .search-button-wrap
      = button_tag(type: 'submit', class: 'searchit btn btn-primary') do
        :plain
          <svg id="search-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><defs><style>.cls-1,.cls-2{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;}.cls-2{stroke-linecap:round;}</style></defs><title>searcher</title><circle class="cls-1" cx="10.39" cy="10.39" r="9.39"/><line class="cls-2" x1="17.03" y1="17.03" x2="28" y2="28"/></svg>
    = hidden_field_tag :stolenness, @stolenness
    = hidden_field_tag :organization_id, passive_organization&.to_param
    = hidden_field_tag :sort, params[:sort]
    = hidden_field_tag :direction, params[:direction]

%hr{ style: "opacity: .3;" }

%p.mt-4
  - if @search_query_present
    %strong
      = number_with_delimiter(@bikes.total_count)
      = "bike".pluralize(@bikes.total_count)
    matching
  - else
    = number_with_delimiter(@bikes.total_count)
    = "bike".pluralize(@bikes.total_count)
    registered
  - search_params = @interpreted_params.merge(organization_id: current_organization.to_param)
  - unless skip_view_just_stolen
    - if @stolenness == 'all'
      %a.float-right.organized-bikes-stolenness-toggle{ href: organization_bikes_path(search_params.merge(stolenness: 'stolen')), data: { stolenness: 'stolen' } }
        view just stolen bikes
    - else
      %em
        stolen
      bikes
      %a.organized-bikes-stolenness-toggle{ href: organization_bikes_path(search_params.merge(stolenness: 'all')), data: { stolenness: 'all' } }
        view all bikes
  %a.float-right.less-strong.hidden-xs-down{ href: "#organizedSearchSettings", "aria-controls" => "organizedSearchSettings", "data-toggle" => "collapse", style: "margin: 0 .5rem; color: #bbb" }
    settings
- column_renames = { "created_at_cell" => "Registered", "updated_at_cell" => "Updated", "stolen_cell" => "Stolen", "manufacturer_cell" => "Manufacturer", "model_cell" => "Model", "color_cell" => "Color", "owner_email_cell" => "Sent to", "owner_name_cell" => "Owner name", "reg_affiliation_cell" => "Affiliation", "reg_secondary_serial_cell" => "Secondary#", "reg_phone_cell" => "Phone", "reg_address_cell" => "Address", "sticker_cell" => "Sticker" }
.collapse#organizedSearchSettings.settings-list
  %h3.header-font-alt
    Visible columns
  .row
    - optional_columns = current_organization.paid_for?("bike_codes") ? ["sticker_cell"] : []
    - optional_columns += current_organization.additional_registration_fields.map { |f| "#{f}_cell" }
    - (%w[created_at_cell stolen_cell manufacturer_cell model_cell color_cell owner_email_cell updated_at_cell owner_name_cell] + optional_columns).each do |cell_name|
      .col-6.col-md-4
        .form-group
          %label
            = check_box_tag cell_name, cell_name
            = column_renames[cell_name]

.fullscreen-table-wrapper
  %table.table.table-striped.table-hover.table-bordered.table-sm.without-exterior-border
    %thead.small-header.sortable
      %tr
        %th.hiddenColumn.created_at_cell
          = sortable "id", "Registered"
        %th.hiddenColumn.updated_at_cell.hidden-xs-down
          = sortable "updated_at"
        %th.hiddenColumn.hidden-xs-down.stolen_cell
          %small
            = sortable "stolen"
        %th.hiddenColumn.hidden-xs-down.manufacturer_cell
          = sortable "manufacturer_id"
        %th.hiddenColumn.hidden-xs-down.model_cell
          = sortable "frame_model", "Model"
        %th.hiddenColumn.hidden-xs-down.color_cell
          Color
        %th.hiddenColumn.owner_email_cell
          %small.hidden-sm-up
            mnfg, model,
            %span.less-strong
              color
            %br
          = sortable "owner_email", "Sent to"
        %th.hiddenColumn.owner_name_cell.hidden-xs-down
          %small
            Owner name
        - current_organization.additional_registration_fields.each do |field_name|
          %th.hiddenColumn.hidden-xs-down{ class: "#{field_name}_cell" }
            = column_renames["#{field_name}_cell"]
        - if current_organization.paid_for?("bike_codes")
          %th.hiddenColumn.hidden-xs-down{ class: "sticker_cell" }
            Sticker
        / I don't know how to do this in a performant way :/
        / - if current_organization.paid_for?("avery_export")
        /   %th{ class: "avery_export_cell" }
        /     Export
        - if @bike_code.present?
          %th
            Link
            %br
            Sticker
    %tbody
      - @bikes.each do |bike|
        %tr
          - cache("#{current_organization.id}-#{bike.id}-#{bike.updated_at}") do
            %td.hiddenColumn.created_at_cell
              %a.convertTime{ href: bike_path(bike) }
                = l bike.created_at, format: :convert_time
            %td.hiddenColumn.updated_at_cell.hidden-xs-down
              %small.convertTime
                = l bike.updated_at, format: :convert_time
            %td.hiddenColumn.hidden-xs-down.table-cell-check.stolen_cell
              = bike.stolen ? "&#x2713;".html_safe : ""
            %td.hiddenColumn.hidden-xs-down.manufacturer_cell
              = bike.mnfg_name
            %td.hiddenColumn.hidden-xs-down.model_cell
              = bike.frame_model
            %td.hiddenColumn.hidden-xs-down.color_cell
              %span.less-strong
                = bike.frame_colors.join(", ")
            %td.hiddenColumn.owner_email_cell
              %small.hidden-sm-up
                = organized_bike_text(bike)
                %br
              = bike.owner_email
              - if bike.creation_description
                %small.less-strong
                  = bike.creation_description
            %td.hiddenColumn.owner_name_cell.hidden-xs-down
              - if bike.user_name.present?
                %em
                  = bike.user_name
            - current_organization.additional_registration_fields.each do |field_name|
              %td.hiddenColumn.hidden-xs-down{ class: "#{field_name}_cell" }
                - if field_name == "reg_address"
                  = bike.b_params.map { |bp| bp.bike["address"] }.reject(&:blank?).first
                - elsif field_name == "reg_secondary_serial"
                  = bike.additional_registration
                - elsif field_name == "phone"
                  = bike.phone
                - elsif field_name == "reg_affiliation"
                  = bike.organization_affiliation
            / - if current_organization.paid_for?("avery_export")
            /   %td.hiddenColumn{ class: "avery_export" }
            - if current_organization.paid_for?("bike_codes")
              %td.hidden-xs-down{ class: "sticker_cell" }
                - bike.bike_codes.each_with_index do |bike_code, index|
                  - if bike_code.organization.present?
                    = link_to bike_code.code, edit_organization_sticker_path(id: bike_code.code, organization_id: bike_code.organization&.to_param), class: "small"
                  - else
                    %small
                      = bike_code.code
                  - if index > 0
                    %br

          - if @bike_code.present?
            %td
              %small
                = link_to "Link", bike_code_path(id: @bike_code.code, organization_id: @bike_code.organization_id, bike_id: bike.id), method: "PUT"

.paginate-container.paginate-container-bottom
  = paginate @bikes

= javascript_pack_tag "application"
