.organized-page-header
  %h1= t(".org_incomplete_registrations_html", org_name: current_organization.name)

- if @render_chart
  = column_chart time_range_counts(collection: @b_params_total, column: "b_params.created_at"), stacked: true, thousands: ","
.text-right.mb-2
  %a.btn.btn-sm.less-strong.btn-outline-secondary{ href: incompletes_organization_bikes_path(sortable_search_params.merge(organization_id: current_organization.to_param, render_chart: !@render_chart)), class: (@render_chart ? "active" : "") }
    Render chart
= render partial: "/shared/period_select"

%p.mt-4
  %strong
    = @b_params.total_count
    = t(".matching") if params[:query].present?
  = t(".incomplete")
  = t(".registration").pluralize(@b_params.total_count)
  %em
    = humanized_time_range(@time_range)

.mt-4.mb-2
  = form_tag incompletes_organization_bikes_path(organization_id: current_organization.to_param), method: :get do
    .row
      .col-sm-8.col-md-10
        .form-group
          = text_field_tag :query, params[:query], placeholder: t(".search_emails"), class: "form-control"
      .col-sm-4.col-md-2
        .actions
          = submit_tag t(".search"), class: "btn btn-primary"

- include_child_org = current_organization.child_ids.present?
%table.table.table-striped.table-hover.table-bordered.table-sm.without-exterior-border
  %thead.small-header
    %th
      = t(".sent")
      %small.convertTimezone
    %th= t(".bike")
    %th= t(".email")
  %tbody
    - @b_params.each do |b_param|
      %tr
        %td
          %span.convertTime
            = l b_param.created_at, format: :convert_time
        %td
          %strong
            = b_param.primary_frame_color
          = b_param.mnfg_name
        %td
          = b_param.owner_email
          - if include_child_org && b_param.organization != current_organization
            %small.less-strong{ style: "display: block; line-height: 1;" }
              = t(".through_org", org_name: b_param.organization.short_name)
        %td
          - resend_notifications = b_param.partial_notification_resends.pluck(:created_at, :delivery_status)
          .less-strong-hold{style: "min-width:2rem;"}
            - resend_notifications.each do |resend|
              %span.d-block{style: "line-height:1.2;"}
                %small.convertTime
                  = l resend[0], format: :convert_time
                = notification_delivery_display(resend[1])
            -# Hacky restriction on the number of resends you can do
            - unless resend_notifications.count > 3
              %span.less-strong-right
                = link_to t(".re_send"), resend_incomplete_email_organization_bike_path(id: b_param.to_param, organization_id: current_organization.to_param), method: :post, data: {confirm: t(".only_resend_with_permission")}, class: "gray-link"

.paginate-container.paginate-container-bottom
  = paginate @b_params
