- if @bike_code.present?
  %h1
    Oh no!
  %h2
    = @bike_code.kind
    %em
      = @bike_code.code
    isn't linked to a bike.
  %p
    You can enter the URL of the bike you would like to link this #{@bike_code.kind} to:
  = form_tag bike_code_path(id: @bike_code.code, organization_id: active_organization.id), method: "PUT", class: "row" do
    .col-sm-8.col-lg-10
      .form-group
        = text_field_tag :bike_id, "", placeholder: "https://bikeindex.org/bikes/1234", class: "form-control"
    .col-sm-4.col-lg-2
      = submit_tag "Update", class: "btn btn-success"
    
  %p.less-strong
    Or, browse #{active_organization.short_name}'s bikes and click <em>link it</em> to connect it to this #{@bike_code.kind}
  %hr.mt-4.mb-4.less-strong
- if active_organization.paid_for?("bike_search")
  = render "/organized/bikes/search"
- else
  = render "/organized/bikes/list"