- # TODO: add translations
#stolen_fields_store

#root_url.hidden{data: { url: ENV['BASE_URL'] }}
= form_for @bike, url: organization_bikes_path(organization_id: current_organization), multipart: true do |f|
  = f.hidden_field :b_param_id_token
  = f.hidden_field :creation_organization_id
  = f.hidden_field :status, value: "status_abandoned"
  / .input-group
  /   .control-group
  /     = f.label :parking_notification_kind, "Kind of abandoned record" class: "control-label"
  /     .controls
  /       = f.select(:parking_notification_kind, ParkingNotification.kinds, prompt: "Choose kind")
  .input-group
    .control-group
      = f.label :serial_number, class: "control-label"
      .controls
        = f.text_field :serial_number, prompt: "optional", autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off'

  .input-group.with-additional-block
    .control-group.select-jsonified
      = f.label :manufacturer_id, class: "control-label"
      .controls
        = f.text_field :manufacturer_id, value: @bike.manufacturer && @bike.manufacturer.name
        %span.help-block
          Select other if manufacture isn't listed
    .hidden-other.control-group.manufacturer-other-input
      = f.label :manufacturer_other, "other manufacturer", class: "control-label"
      .controls
        = f.text_field :manufacturer_other, placeholder: "Manufacturer name"

  .input-group.with-optional-blocks
    .control-group.special-select-single
      = f.label :primary_frame_color_id, "Frame color", class: "control-label"
      .controls
        = select(:bike, :primary_frame_color_id, Color.select_options, required: true, prompt: "Choose color")
    %a#add-secondary.optional-form-block{data: {target: "#secondary-color", toggle: "#rm-secondary"}}
      Add a color
    %a#rm-secondary.optional-form-block.rm-block.currently-hidden{data: {target: "#secondary-color", toggle: "#add-secondary"}}
      Remove color
    #secondary-color.hidden-other
      .control-group.special-select-single
        %label.control-label
          secondary color
        .controls
          = select(:bike, :secondary_frame_color_id, Color.select_options, prompt: "Choose color")
      %a#add-tertiary.optional-form-block{data: {target: "#tertiary-color", toggle: "#rm-tertiary"}}
        Add a color
      %a#rm-tertiary.optional-form-block.rm-block.currently-hidden{data: {target: "#tertiary-color", toggle: "#add-tertiary"}}
        Remove color
    #tertiary-color.hidden-other
      .control-group
        %label.control-label
          Third color
        .controls.special-select-single
          = select(:bike, :tertiary_frame_color_id, Color.select_options, prompt: "Choose color")


  .input-group.form-foot
    .submit-registration
      = submit_tag "Record Abandoned", class: "button-submit"
      = select(:bike, :cycle_type, CycleType.select_options, { required: true })

