<%= render "organized/bikes/sticker_header" if @bike_sticker.present? %>

<%= render partial: "/shared/period_select" %>

<div class="mb-4"></div>

<% bike_search_settings = Org::BikeSearchSettings::Component.new(
  organization: current_organization,
  interpreted_params: @interpreted_params,
  sortable_search_params:,
  params:,
  search_stickers: @search_stickers,
  search_address: @search_address,
  search_status: @search_status,
  include_avery: true,
  bike_sticker: @bike_sticker
) %>

<% form_interpreted_params = @interpreted_params.merge(
  search_stickers: @search_stickers.presence,
  search_address: @search_address.presence,
  search_status: @search_status
).compact %>

<div
  data-controller="org--bike-search"
  data-org--bike-search-default-columns-value="<%= bike_search_settings.initially_checked_columns.to_json %>"
>
  <div class="mb-4">
    <%= render(Search::FormOrganized::Component.new(
      target_search_path: organization_bikes_path(organization_id: current_organization.to_param),
      target_frame: :organized_bikes_results_frame,
      interpreted_params: form_interpreted_params,
      settings_component: bike_search_settings
    )) %>
  </div>

  <%= turbo_frame_tag :organized_bikes_results_frame do %>
    <% if @render_results %>
      <%= render partial: "search_bike_table" %>
    <% else %>
      <span id="loadedWithoutResults" class="tw:hidden"></span>
    <% end %>
  <% end %>
</div>

<div id="hiddenLoadingSpinner" class="tw:hidden">
  <%= render UI::LoadingSpinner::Component.new(text: "Loading results...") %>
</div>
