.organized-page-header
  = form_tag organization_bikes_path(organization_id: current_organization.to_param), id: 'bikes_search_form', class: 'bikes-search-form', method: :get do
    = render partial: '/shared/search_inputs'
    = hidden_field_tag :stolenness, stolenness

.organized-bikes-table
  %p
    - if @search_query_present
      %strong
        #{ pluralize(@bikes_count, 'bike') }
      matching
    - else
      #{ pluralize(@bikes_count, 'bike') } registered
    - search_params = @interpreted_params.merge(organization_id: current_organization.to_param)
    - if stolenness == 'all'
      bikes
      %a.organized-bikes-stolenness-toggle{ href: organization_bikes_path(search_params.merge(stolenness: 'stolen')), data: { stolenness: 'stolen' } }
        view just stolen bikes
    - else
      %em
        stolen
      bikes
      %a.organized-bikes-stolenness-toggle{ href: organization_bikes_path(search_params.merge(stolenness: 'all')), data: { stolenness: 'all' } }
        view all bikes

  %table.table.table-striped.table-hover.table-bordered.table-sm.without-exterior-border
    %thead.small-header
      %tr
        %th.date-added Date added
        %th.hidden-xs-down Manufacturer
        %th.hidden-xs-down Model
        %th.hidden-xs-down Color
        %th
          %small.hidden-sm-up
            mnfg, model,
            %span.less-strong
              color
            %br
          Sent to
        / %th View PDF
    %tbody
      - @bikes.each do |bike|
        %tr
          %td
            = link_to l(bike.created_at, format: :dotted), bike_path(bike)
          %td.hidden-xs-down
            = bike.mnfg_name
          %td.hidden-xs-down
            = bike.frame_model
          %td.hidden-xs-down
            = bike.frame_colors.to_sentence
          %td
            %small.hidden-sm-up
              = bike.mnfg_name
              = ", #{bike.frame_model}" if bike.frame_model.present?
              %span.less-strong
                = bike.frame_colors.to_sentence
              %br
            = bike.owner_email
            - if bike.creation_description
              %small.less-string
                = bike.creation_description
          / %td
.paginate-container.paginate-container-bottom
  = paginate @bikes