- collection ||= @email_domains
- render_sortable ||= false

.full-screen-table.mt-4
  %table.table.table-striped.table-bordered.table-sm.without-exterior-border
    %thead.small-header
      %th= sortable "created_at"
      %th
        %small= sortable "updated_at"
      %th
        %small= sortable "status_changed_at"
      %th= sortable "domain"
      %th= sortable "status"
      %th= sortable "creator_id"
      %th= sortable "Users", "user_count"
      %th
        %small bikes
      %th &nbsp;

    %tbody
      - collection.each do |email_domain|
        %tr
          %td
            %a.convertTime{href: admin_email_domain_path(email_domain)}
              = l(email_domain.created_at, format: :convert_time)
            - if display_dev_info?
              %code.small.only-dev-visible= email_domain.id
          %td
            %small.convertTime
              = l(email_domain.updated_at, format: :convert_time)
          %td
            - if email_domain.status_changed_after_create?
              %small.convertTime
                = l(email_domain.updated_at, format: :convert_time)
          %td= email_domain.domain
          %td
            %span{class: (email_domain.status.match?("ban") ? "text-danger" : "")}
              = email_domain.status_humanized
          %td
            = render partial: "/shared/admin/user_cell", locals: {user: email_domain.creator, user_id: email_domain.creator_id, cache: false}
          %td
            = admin_number_display(email_domain.user_count)
          %td
            = admin_number_display(email_domain.bike_count)
          %td
            - if email_domain.no_auto_assign_status?
              %small.text-info no auto status
            - if email_domain.broader_domain_exists?
              %small.text-danger broader exists
          -#   %small.float-right= link_to "remove block", admin_email_domain_path(email_domain), method: :delete

