.admin-subnav
  .col-md-4
    %h1 Email Domain

.row.mt-4
  .col-md-6
    %table.table-list
      %tbody
        %tr
          %td
            Creator
          %td
            = render partial: "/shared/admin/user_cell", locals: {user: @email_domain.creator, user_id: @email_domain.creator_id}
        %tr.small
          %td
            Created
          %td
            %span.convertTime.preciseTime
              = l @email_domain.created_at, format: :convert_time
        %tr.small
          %td
            Updated
          %td
            %span.convertTime.preciseTime
              = l @email_domain.updated_at, format: :convert_time
        %tr.small
          %td
            Changed status at
          %td
            - if @email_domain.changed_status_after_creation?
              %span.convertTime.preciseTime
                = l @email_domain.status_changed_at, format: :convert_time

  .col-md-6
    %table.table-list
      %tbody
        %tr
          %td
            Status
          %td
            = @email_domain.status_humanized
        %tr
          %td
            Users
          %td
            = link_to admin_number_display(@email_domain.user_count), admin_users_path(search_domain: @email_domain.domain)

    = pretty_print_json(@email_domain.data)
.row.mt-4.mb-4
  .col-md-6.offset-md-3
    = render "form",
      email_domain: @email_domain,
      action: admin_email_domain_path(@email_domain),
      method: :patch,
      submit_label: "Save"
