.admin-subnav
  .col-md-12
    %h1
      Email Domain
      %strong #{@email_domain.domain}

.row.mt-4
  .col-md-6
    %table.table-list
      %tbody
        %tr
          %td
            Creator
          %td
            = render partial: "/shared/admin/user_cell", locals: {user: @email_domain.creator, user_id: @email_domain.creator_id}
        %tr.small
          %td
            Created
          %td
            %span.convertTime.preciseTime
              = l @email_domain.created_at, format: :convert_time
        %tr.small
          %td
            Updated
          %td
            %span.convertTime.preciseTime
              = l @email_domain.updated_at, format: :convert_time
        %tr.small
          %td
            Changed status at
          %td
            - if @email_domain.status_changed_after_create?
              %span.convertTime.preciseTime
                = l @email_domain.status_changed_at, format: :convert_time
        %tr
          %td TLD
          %td
            - if @email_domain.tld?
              %small.less-strong this is the TLD
            - elsif @matching_tld.present?
              = link_to @matching_tld.domain, admin_email_domain_path(@matching_tld.id)
            - else
              = @email_domain.tld
        %tr
          %td
            Extra
          %td
            = render partial: "data_details", locals: {email_domain: @email_domain}

  .col-md-6
    %table.table-list
      %tbody
        %tr
          %td
            Status
          %td
            %span{class: (@email_domain.status.match?("ban") ? "text-danger" : "")}
              = @email_domain.status_humanized
        - unless @email_domain.banned?
          %tr.small
            %td
              Bannable?
            %td
              ban blockers:
              %strong= @email_domain.has_ban_blockers?
              %span.ml-2 Score
              %strong
                #{@email_domain.spam_score} / 10
              %small.less-strong Lower is better, above 5 is auto-bannable


        %tr
          %td
            Bikes
          %td
            = admin_number_display @email_domain.bike_count
        %tr
          %td
            Users
          %td
            = link_to admin_number_display(@email_domain.user_count), admin_users_path(search_domain: @email_domain.domain, render_chart: true)


.row.mt-4.mb-4.pb-4
  .col-md-4.pt-3
    .only-dev-visible.small= pretty_print_json(@email_domain.data)
  .col-md-68.pt-3
    = render "form",
      email_domain: @email_domain,
      action: admin_email_domain_path(@email_domain),
      method: :patch,
      submit_label: "Save"



- if @subdomains.present?
  = render partial: "table", locals: {collection: @subdomains, render_sortable: false}
