- if @ad.errors.any?
  .card
    .card-header
      %h4.text-danger
        Please fix the following
        = pluralize(@ad.errors.count, "error")
    .card-body
      %ul
        - @ad.errors.full_messages.each do |msg|
          %li.text-danger
            = msg

= f.label :organization
= collection_select( :ad, :organization_id, @organizations, :id, :name, {:include_blank => "Please select org"}, class: "form-control w-50 mb-2")
= f.label :url
= f.text_field :target_url, placeholder: 'Target url', class: "form-control w-50 mb-2"
= f.label :title
= f.text_field :title, placeholder: "Title", class: "form-control w-50 mb-2"
= f.label :body, class: "w-100"
= f.text_area :body, placeholder: 'Ad body copy', class: "form-control w-50 block"
