- if @ad.errors.any?
  = render partial: "/shared/errors", locals: { name: "Ad", obj: @ad }

.form-group
  = f.label :organization
  = collection_select( :ad, :organization_id, @organizations, :id, :name, {:include_blank => "Please select org"}, class: "form-control w-50 mb-2")
.form-group
  = f.label :url
  = f.text_field :target_url, placeholder: 'Target url', class: "form-control w-50 mb-2"
.form-group
  = f.label :title
  = f.text_field :title, placeholder: "Title", class: "form-control w-50 mb-2"
.form-group
  = f.label :body, class: "w-100"
  = f.text_area :body, placeholder: 'Ad body copy', class: "form-control w-50 block"
