- if @ad.errors.any?
  %h4.text-danger
    Please fix the following
    = pluralize(@ad.errors.count, "error")
  %ul
    - @ad.errors.full_messages.each do |msg|
      %li.text-danger
        = msg


%label Select Organization
= collection_select( :ad, :organization_id, @organizations, :id, :name, {}, class: "form-control w-50")
%label URL
= f.text_field :target_url, placeholder: 'Target url', class: "form-control w-50"
%label Title
= f.text_field :title, placeholder: "Title", class: "form-control w-50"
%label.w-100 Body
= f.text_area :body, placeholder: 'ad body copy', class: "form control w-50 block"
