%h1
  Edit Ad

= render 'revised_shared/ad'


= form_for [:admin, @ad] do |f|
  = render partial: 'form', locals: { f: f }
  %label.w-100 Ad image
  - if @ad.image?
    = image_tag(@ad.image_url(:small))
  - else
    %p
      No picture!
    = f.label :image
    = f.file_field :image, class: "btn btn-light"
    = f.hidden_field :image_cache
    = f.label :live, class: "mr-2"
    = f.check_box :live
  = f.submit "Update", class: 'btn btn-success float-right'
