%h1.padded
  Edit Ad


= render 'revised_shared/ad'

%form
  = form_for [:admin, @ad] do |f|
    = render partial: 'form', locals: { f: f }
    %label.w-100
      Ad image
    - if @ad.image?
      = image_tag(@ad.image_url(:small))
    - else
      %p
        No picture!
      %ul.list-inline
        %li.list-inline-item
          = f.file_field :image, class: "btn btn-light"
          = f.hidden_field :image_cache
        %li.list-inline-item
          .form-check.form-check-inline
            %p.form-check-label
              Live?
            = f.check_box :live, class: "form-check inline-block form-check-input ml-2"
        = f.submit "Update", class: 'btn btn-success float-right'

  -#
  -# %label Ad Image
  -# - if @ad.image?
  -#   = image_tag(@ad.image_url(:small))
  -# - else
  -#   %p
  -#   No Picture!
