%header.with-subtitle
  %h1
    Manage Ads
  = link_to 'New ad', new_admin_ad_url, class: "button-green sharing-links"

%h4.padded
  = @ads.count
  ads are in the system so far!


%section.full-screen-table
  %table#admin-ads-table.table.table-striped.table-bordered
    %thead
      %th.medium-screens
        Created
      %th.large-screens
        Organization
      %th
        Text
      %th.medium-screens
        image
      
    %tbody
      - @ads.each do |ad|
        %tr
          %td.medium-screens
            - if ad.created_at.today?
              - ad_created = 'Today'
            - elsif Date.yesterday().beginning_of_day() <= ad.created_at
              - ad_created = 'Today'
            - else
              - ad_created = ad.created_at.strftime("%d.%m")
            = link_to ad_created, edit_admin_ad_url(ad)
          %td.large-screens
            = ad.organization.name if ad.organization.present?
          %td.ad-body-cell
            %h3
              = link_to ad.title, edit_admin_ad_url(ad)
            %p
              = link_to ad.body, edit_admin_ad_url(ad)
          %td.medium-screens
            - if ad.image.present?
              = image_tag ad.image_url(:small)
