%h1
  = link_to "Manage Ads", admin_ads_url

= link_to 'New ad', new_admin_ad_url, class: "btn btn-success float-right mb-2"

%h4
  = @ads.count
  ads are in the system so far!


.full-screen-table
  %table.table.table-bordered.table-striped
    %thead
      %th.w-25
        Created
      %th.w-25
        Organization
      %th.w-25
        Text
      %th.w25
        image

    %tbody
      - @ads.each do |ad|
        %tr
          %td.w-25
            %a.convertTime{href: edit_admin_ad_url(ad)}
              = l ad.created_at, format: :convert_time
          %td.w-25
            = ad.organization.name if ad.organization.present?
          %td.w-25
            %h3
              = link_to ad.title, edit_admin_ad_url(ad), class: "text-dark"
            %p
              = link_to ad.body, edit_admin_ad_url(ad), class: "text-dark"
          %td.w-25
            - if ad.image.present?
              = image_tag ad.image_url(:small)
