- bikes ||= @bikes
- no_show_header ||= false
- show_serial ||= params[:show_serial].present?
- render_sortable ||= false

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm{ class: show_serial ? "show-admin-bike-table-serial-cell" : "" }
    - unless no_show_header
      %thead.thead-light.sortable
        %th
          = sortable "created_at", "Added to Binx", render_sortable: render_sortable
        %th.small
          = sortable "status", render_sortable: render_sortable
        %th
          = sortable "mnfg_name", "Manufacturer", render_sortable: render_sortable
        %th.d-none.d-lg-table-cell
          Info
        %th.small
          Location
        %th.admin-bike-table-serial-cell
          Serial
        %th.d-sm-table-cell
          Registry

    %tbody
      - bikes.each do |bike|
        %tr
          %td
            .less-strong-hold
              %a.small.convertTime{href: admin_external_registry_bike_url(bike)}
                = l bike.created_at, format: :convert_time
              %span.less-strong-right.d-none.d-md-block
                = bike.id
          %td
            %small= bike_status_span(bike)
          %td
            - if bike.mnfg_name == "unknown_brand"
              %small.less-strong unknown
            - else
              = bike.mnfg_name
          %td.d-none.d-lg-table-cell
            = bike.frame_model
            %span.less-strong
              = bike.frame_colors.to_sentence
          %td
            %small= bike.short_address
          %td.admin-bike-table-serial-cell
            %small.less-strong
              = bike.serial_number
          %td.d-sm-table-cell
            .less-strong-hold
              = link_to bike.registry_name, bike.url, target: :_blank
