.admin-subnav
  .col-md-5
    %h1
      Manage External Registry Bikes
  .col-md-7
    %ul
      %li.nav-item
        %a.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@search_status != "all" ? "active" : "") }
          - if @search_status == "all"
            All Statuses
          - else
            = Bike.status_humanized(@search_status)
        .dropdown-menu
          = link_to "All statuses", admin_external_registry_bikes_path(sortable_search_params.merge(search_status: nil)), class: "dropdown-item #{@search_status == "all" ? 'active' : ''}"
          - shown_statuses = %w[status_with_owner status_stolen status_impounded]
          - shown_statuses.each do |status|
            - status_active = @search_status == status
            = link_to Bike.status_humanized(status), admin_external_registry_bikes_path(sortable_search_params.merge(search_status: status_active ? nil : status)), class: "dropdown-item #{status_active ? 'active' : ''}"
      %li.nav-item
        %a.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@search_type != "all" ? "active" : "") }
          - if @search_type == "all"
            All Registries
          - else
            = ExternalRegistryBike.registry_name(@search_type)
        .dropdown-menu
          = link_to "All Registries", admin_external_registry_bikes_path(sortable_search_params.merge(search_type: nil)), class: "dropdown-item #{@search_kind == "all" ? 'active' : ''}"
          - registry_types.each do |registry_type|
            - type_active = @search_type == registry_type
            = link_to ExternalRegistryBike.registry_name(registry_type), admin_external_registry_bikes_path(sortable_search_params.merge(search_type: type_active ? nil : registry_type)), class: "dropdown-item #{type_active ? 'active' : ''}"
      %li.nav-item
        = link_to "graph", admin_external_registry_bikes_path(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"

  = render partial: "/shared/admin/current_header", locals: { viewing: "External Registry Bikes" }

- if @render_chart
  - if @search_type == "all"
    - counts_by_type = registry_types.map { |search_type| { name: ExternalRegistryBike.registry_name(search_type), data: time_range_counts(collection: @matching_bikes.where(type: "ExternalRegistryBike::#{search_type}")) } }
    = column_chart counts_by_type, stacked: true, thousands: ",", colors: ["#5cb85c", "#3498db", "#ffc281", "#d12310"]
  - else
    = column_chart time_range_counts(collection: @matching_bikes), stacked: true, thousands: ","

.mt-4
  = render partial: "/shared/period_select"

.row.mt-4.mb-2
  .col-md-5
    %p
      = admin_number_display(@matching_bikes.count)
      matching external registry bikes
      %em
        = humanized_time_range(@time_range)

  .col-md-7
    = form_tag admin_external_registry_bikes_path, method: :get, class: "form-inline" do
      = render partial: "/shared/hidden_search_fields"
      .form-group.ml-auto.mr-2.mb-2
        = text_field_tag :search_serial_normalized,
          params[:search_serial_normalized],
          placeholder: "Search serial number",
          class: "form-control"

      = submit_tag "Search", name: "search", class: "btn btn-primary mb-2"

= render partial: "/shared/admin/pagination", locals: {collection: @bikes}

= render partial: "table", locals: {render_sortable: true}

= render partial: "/shared/admin/pagination", locals: {collection: @bikes, skip_total: true}
