.admin-subnav
  .col-12
    %h1 External Registry Bike

%h4
  = @bike.title_string
.row
  .col-lg-2.col-md-3.mb-2
    - if @bike.thumb_url.present?
      .admin-image-thumb
        = image_tag @bike.thumb_url, alt: @bike.title_string, style: "display: block; max-width: 100%;"
    - else
      %h3.less-strong
        No Image
  .col-lg-5.col-9.mb-2
    %table.table-list
      %tr
        %td Registry
        %td= @bike.registry_name
      %tr
        %td Registry ID
        %td= @bike.external_id
      %tr
        %td Status
        %td
          = bike_status_span(@bike)
      %tr
        %td Date Stolen
        %td.convertTime= l @bike.date_stolen, format: :convert_time
      %tr
        %td Location
        %td= @bike.location_found
      %tr
        %td Registry Link
        %td= link_to @bike.url, @bike.url, target: :_blank

  .col-lg-5.col-md-9.mt-auto.mb-2
    %table.table-list.mb-0
      %tbody
        %tr
          %td Serial number
          %td= @bike.serial_number
        %tr
          %td Description
          %td= @bike.description
        %tr
          %td Colors
          %td= @bike.frame_colors.to_sentence
        %tr
          %td Created
          %td
            %span.convertTime.preciseTime= l @bike.created_at, format: :convert_time
            %small.convertTimezone
        %tr
          %td Updated
          %td
            %span.convertTime.preciseTime= l @bike.updated_at, format: :convert_time
    .mt-2.p-2.pb-0{style: "border: 1px solid rgba(0,0,0,0.15);"}
      %p.mb-0 Info Hash
      %code{style: "overflow: scroll; display: block; width: 100%;"}
        = pretty_print_json(@bike.info_hash)


