<%= @customer_contact.body.html_safe %>

<% bike_image = 'https://files.bikeindex.org/email_assets/bike_photo_placeholder.png' %>
<% bike_image = @customer_contact.bike.stock_photo_url if @customer_contact.bike.stock_photo_url.present? %>
<% bike_image = @customer_contact.bike.thumb_path if @customer_contact.bike.thumb_path %>

<% if @customer_contact.bike.stolen %>
  <div class="bike-display" style="position: relative;width: 96%;height: 150px;padding: 10px 2%;background: #bf2f2f;border: 1px solid #ddd;max-width: 450px;margin: 30px auto 0;clear: both;">
<% else %>
  <div class="bike-display" style="position: relative;width: 96%;height: 150px;padding: 10px 2%;background: #ebebeb;border: 1px solid #ddd;max-width: 450px;margin: 30px auto 0; clear: both;">
<% end %>

  <div class="image-holder" style="width: 33%;float: left;position: relative;">
    <a href="<%= bike_url(@customer_contact.bike) %>">
     <img src="<%= bike_image %>" style="width: auto;max-width: 100%;max-height: 150px;border: 1px solid #ddd;">
  </div>
  <div class="bike-info" style="position: relative;width: 63%;margin-left: 3%;float: left;padding-top: 30px; <%= 'color: white;' if @customer_contact.bike.stolen %>">
    <p style="margin: 0;padding: 0;line-height: 1.2em;"><span style="display: inline-block;color: #999;width: 55px;">Make</span> <%= @customer_contact.bike.mnfg_name  %></p>
    <p style="margin: 0;padding: 0;line-height: 1.2em;"><span style="display: inline-block;color: #999;width: 55px;">Serial</span> <%= @customer_contact.bike.serial_number %></p>
    <p style="margin: 0;padding: 0;line-height: 1.2em;"><span style="display: inline-block;color: #999;width: 55px;">Color</span><% if @customer_contact.bike.paint.present? %><%= @customer_contact.bike.paint.name %><% else %><%= @customer_contact.bike.primary_frame_color.name %><% end %></p>
  </div>
</div>
