= t(".text.welcome_to_bike_index")

= t(".text.good_thinking")

= t(".text.to_finish_signing_up")

= t(".text.paste_url")

= confirm_users_url(id: @user.id, code: @user.confirmation_token, partner: @partner)

= t(".text.thanks")

= t(".text.bike_index_team")
