%h1
  = t(".html.thank_you_so_much")

%p
  = t(".html.we_really_appreciate_your_support")

- if @payment.is_recurring
  %p= t(".html.thanks_for_signing_up")
%p
  - if @payment.is_donation
    = t(".html.donation_will_help", amount: @payment.amount_formatted)
  - else
    = t(".html.payment_received", amount: @payment.amount_formatted)
