= t(".text.thanks_for_signing_up")

- if @payment.donation?
  = t(".text.donation_will_help", amount: @payment.amount_formatted)
- else
  = t(".text.payment_received", amount: @payment.amount_formatted)

= t(".text.thanks")
= t(".text.bike_index_management")
