<div style="white-space: pre-wrap;"><%= @marketplace_message.body %></div>

<p style="margin-top: 20px;">
  <em><%= link_to "reply to the message here", @message_url %></em>
</p>

<hr style="margin-top: 34px;">

<p>
  This email is about this <%= @marketplace_listing.item_type_display %>:
  <strong><%= link_to @marketplace_listing.item&.title_string, bike_url(@marketplace_listing.item_id) %></strong>.
</p>

<div style="margin-top: 44px;">
  <%= link_to "Mark #{@marketplace_listing.item_type_display} sold", my_account_message_url(id: @marketplace_message.id, anchor: "markSoldSection"), "data-pm-no-track" => true, class: 'binx-button' %>
</div>
