<% if @creation_org.present? && @creation_org.new_bike_notification.present? %>
  <%= @creation_org.new_bike_notification.html_safe %>
<% else %>

  <% if @new_user %>
    <h2 style="font-size: 30px;font-weight: 400;">Welcome to the Bike Index</h2>

    <p>Good thinking! We’re glad you’ve joined, you smarty pants.</p>
  <% end %>

  <% if @bike.stolen %>
    <h1 style="font-weight: 400;">Bike thieves are jerks.</h1>
    <h2 style="font-weight: 400;">We're sorry your bike was stolen.</h2>
  <% else %>
    <h1 style="font-weight: 400;">Congrats on adding your bike to the index!</h1>
  <% end %>

  <hr style="margin: 40px 0 30px;">
  <p>
    <% if @ownership.creator.email == @ownership.owner_email %>
      You added a <% if @bike.stolen %>stolen<% end %> <%= @biketype %> to the Bike Index
    <% else %>
      <strong>
        <% if @creation_org.present? %>
          <%= @creation_org.name %>
        <% elsif @ownership.creator.name %>
          <%= @ownership.creator.name %>
        <% else %>
          <%= @ownership.creator.email %>
        <% end %>
      </strong>
      <% if @bike.stolen %>
        added a stolen
      <% elsif @new_bike %>
        added a 
      <% else %>
        sent you a 
      <% end %>
      <%= @biketype %>
      <% if @new_bike %> for you <% end %>
    <% end %>
  .</p>
  
<% end # end of the creation_org notification %>


<% bike_image = "https://www.bikeindex.org/assets/bike_photo_placeholder.png" %>
<% bike_image = @bike.stock_photo_url if @bike.stock_photo_url.present? %>
<% bike_image = @bike.thumb_path if @bike.thumb_path %>

<% if @bike.stolen %>

  <div class="bike-display" style="position: relative;width: 96%;height: 150px;padding: 10px 2%;background: #bf2f2f;border: 1px solid #ddd;max-width: 450px;margin: 30px auto 0;clear: both;">
<% else %>
  <div class="bike-display" style="position: relative;width: 96%;height: 150px;padding: 10px 2%;background: #ebebeb;border: 1px solid #ddd;max-width: 450px;margin: 30px auto 0; clear: both;">
<% end %>

  <div class="image-holder" style="width: 33%;float: left;position: relative;">
    <a href="<%= ownership_url(@ownership) %>">
     <img src="<%= bike_image %>" style="width: auto;max-width: 100%;max-height: 150px;border: 1px solid #ddd;">
  </div>
  <div class="bike-info" style="position: relative;width: 63%;margin-left: 3%;float: left;padding-top: 30px; <%= 'color: white;' if @bike.stolen %>">
    <p style="margin: 0;padding: 0;line-height: 1.2em;"><span style="display: inline-block;color: #999;width: 55px;">Make</span> <%= @bike.manufacturer_name  %></p>
    <p style="margin: 0;padding: 0;line-height: 1.2em;"><span style="display: inline-block;color: #999;width: 55px;">Serial</span> <%= @bike.serial_number %></p>
    <p style="margin: 0;padding: 0;line-height: 1.2em;"><span style="display: inline-block;color: #999;width: 55px;">Color</span><%= @bike.frame_colors.to_sentence %></p>
  </div>
</div>

<% if @bike.stolen %>
  <p>Hopefully you find the <%= @biketype %> soon. Give us a heads up when you do!</p>
<% elsif @bike.created_with_token %>
  
<% else %>
  <a href="<%= ownership_url(@ownership) %>" class="button" style="text-decoration: none;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);box-shadow: 1px 1px 2px rgba(0,0,0,0.4);display: block;padding: .5em 1em;margin: 1.5em auto;width: 250px;max-width: 100%;font-size: 2em;background: #27ae60;border: 1px solid #229955;color: white;text-align: center;">
    Claim the <%= @biketype %>
  </a>

  <p class="explanation" style="text-align: center;color: #555;">Sign up or sign in to BikeIndex.org to claim your <%= @biketype %> and edit it, upload photos and make sure you never lose track of your trusty steed!</p>
<% end %>

<hr style="margin: 40px 0 30px;">
<h2>
Protect your bike by following these locking guidelines.
</h2>
<ul>
<li>
<p>
<strong>
Use a U-Lock. Cable locks should never be used as a primary means of locking a bike in a city.
</strong>
</p>
</li>
<li>
<p>
Secure both wheels - either with two U-locks, or one U-lock and one heavy duty cable.
</p>
</li>
<li>
<p>
Do not lock to anything without first checking to make sure it can't be easily removed.
</p>
</li>
<li>
<p>
<a href="https://www.bikeindex.org/protect_your_bike">Read more about protecting your bike here</a>
</p>
</li>
</ul>
<div class="locking-demonstration" style="-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);background: #cacaca;padding: 10px;max-width: 500px;margin: 30px auto;">
<div class="locked" style="-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;width: 100%;background: #FFF;">
<img alt="Correctly locking a bike" src="https://s3.amazonaws.com/bikeindex/Locking.gif" title="Pink Power U-Locks are a registered trademark of Bike Index, Inc" style="width: 100%;">
</div>
<p style="color: white;width: 100%;margin: 0;padding: 10px 10px 0;">
<em>
<strong>
A correctly locked bike.
</strong>
The frame is locked to the bike rack and both wheels are secured.
</em>
</p>
</div>
