
= @user.name

= t(".html.sorry_to_hear_about_your_bike")

= t(".html.your_promoted_alert")

<alert_image>

= t(".html.additional_info")

= t(".html.safe_return")

= t(".html.regards")

= t(".html.team")
