
= @user.name

= t(".html.sorry_to_hear_about_your_bike", brand: @bike.manufacturer)

= t(".html.your_promoted_alert", city: @user.city.present? ? @user.city : "your city", id: @bike.id)

= image_tag @alert_image.url

= t(".text.additional_info")

= t(".text.safe_return")

= t(".text.regards")

= t(".text.team")
