
= @user.name

= t(".text.sorry_to_hear_about_your_bike")

= t(".text.your_promoted_alert")

= image_tag @bike.thumb_path

= t(".text.additional_info")

= t(".text.safe_return")

= t(".text.regards")

= t(".text.team")
