%h1
  = @user.name
%p
  = t(".html.sorry_to_hear_about_your_bike")
%p
  = t(".html.your_promoted_alert")

= image_tag @bike.thumb_path
%p
  = t(".html.additional_info")
%p
  = t(".html.safe_return")
%p
  = t(".html.regards")
%p
  = t(".html.team")
