%h1 We're so glad you got your #{ @biketype } back!

%p
  Your #{ @biketype } was marked recovered on Bike Index:

= render partial: '/shared/email_bike_box', locals: { bike_url: bike_url(@bike) }

- if @stolen_record.recovered_description.present?
  %p
    The description of the recovery was:
    %span.less-strong
      = @stolen_record.recovered_description

- if @recovering_user.present?
  %p
    Marked recovered by:
    %span.less-strong
      = @recovering_user.email
      = "(#{@recovering_user.name})" if @recovering_user.name

%hr

%p.center-text
  %em
    %strong
      Note:
    If you didn't recover your bike, or marked it recovered accidentally, reply to this email and let us know!
