%h1= t(".html.were_so_glad_you_got_your_biketype_back", biketype:  @biketype )

%p= t(".html.your_biketype_was_marked_recovered_on_bik", biketype:  @biketype )

= render partial: "shared/email_bike_box", locals: { bike_url: bike_url(@bike) }

- if @stolen_record.recovered_description.present?
  %p
    = t(".html.the_description_of_the_recovery_was")
    %span.less-strong
      = @stolen_record.recovered_description

- if @recovering_user.present?
  %p
    = t(".html.marked_recovered_by")
    %span.less-strong
      = @recovering_user.email
      = "(#{@recovering_user.name})" if @recovering_user.name

%hr

%p.center-text
  %em
    = t(".html.note_if_you_didnt_recover_html")
