<h1 style="text-align: center; font-size: 18px; font-weight: 400;"><%= @stolenNotification.sender.email %> sent a message about your <a href="<%= bike_url(@stolenNotification.bike) %>">stolen <%= @stolenNotification.bike.type %></a>!</h1>

<hr>
<p><%= @stolenNotification.message %></p>
<% if @stolenNotification.reference_url.present? %>
  <p>
    link: <a href="<%= @stolenNotification.reference_url %>"><%= @stolenNotification.reference_url %></a>
  </p>
<% end %>
<% if @stolenNotification.sender.name.present? %>
  <p style="color: #ccc; margin: 2em 0 2em 1em;"><%= @stolenNotification.sender.name %></p>
<% end %>
<hr>
<p class="explanation" style="text-align: center;color: #555;"><a href="<%= bike_url(@stolenNotification.bike) %>">View your <%= @stolenNotification.bike.type %> on the Bike Index</a></p>
