- unless @customer_contact.body == "EMPTY"
  = @customer_contact.body.html_safe

\--------------------------------

\---

= t(".text.make")
= @customer_contact.bike.mnfg_name

= t(".text.serial")
= @customer_contact.bike.serial_number

= t(".text.color")
- if @customer_contact.bike.paint.present?
  = @customer_contact.bike.paint.name
- else
  = @customer_contact.bike.primary_frame_color.name

\---

- bike_type = @customer_contact.bike.type
- bike_url = bike_url(@customer_contact.bike)

- if @customer_contact.bike.stolen
  = t(".text.hopefully_you_find_the_bike_soon", bike_type: bike_type)

= t(".text.claim_the_bike_type_here_bike_url", bike_type: bike_type, bike_url: bike_url)

= t(".text.sign_up_or_in", bike_type: bike_type)


\--------------------------------
