= translate_with_args(".text.hello", name: @user.display_name)

= translate_with_args(".text.you_may_not_know_but_bike_index_recently_")

= translate_with_args(".text.weve_always_wanted_to_provide_one_free_un", url: news_url("bike-index--now-a-nonprofit"))

= translate_with_args(".text.were_emailing_you_because_we_updated_our_")

= translate_with_args(".text.nothing_significant_has_changed_about_how")


= translate_with_args(".text.as_always_thanks_for_helping_register_bik")

= translate_with_args(".text.gavin_hoover_and_the_bike_index_team")


= translate_with_args(".text.ps_if_you_like_reading_these_kinds_of_doc")
