= t(".text.hello", name: @user.display_name)

= t(".text.you_may_not_know_but_bike_index_recently_")

= t(".text.weve_always_wanted_to_provide_one_free_un", url: news_url("bike-index--now-a-nonprofit"))

= t(".text.were_emailing_you_because_we_updated_our_")

= t(".text.nothing_significant_has_changed_about_how")


= t(".text.as_always_thanks_for_helping_register_bik")

= t(".text.lily_williams_and_the_bike_index_team")


= t(".text.ps_if_you_like_reading_these_kinds_of_doc")
