= t(".text.welcome_to_bike_index")

= t(".text.good_thinking_were_glad_youve_joined_you_")

= t(".text.add_some_information_about_your_bikes_whe")


= t(".text.thanks")
= t(".text.bike_index_management")
