<div class="tw:space-y-8">
  <%= render(UI::Button::Component.new(text: "Open Settings", data: { open_modal: "settings-modal" })) %>

  <%= render(UI::Button::Component.new(text: "Open Confirmation", data: { open_modal: "confirm-modal" })) %>
</div>

<%= render(UI::Modal::Component.new(title: "Settings", id: "settings-modal")) do |modal| %>
  <% modal.with_body do %>
    Modal body content
  <% end %>
<% end %>

<%= render(UI::Modal::Component.new(title: "Confirmation", id: "confirm-modal")) do |modal| %>
  <% modal.with_body do %>
    <p class="tw:mb-4 tw:text-gray-700 tw:dark:text-gray-300">
      Are you sure you want to proceed?
    </p>

    <%= render(UI::Button::Component.new(text: "Confirm", color: :primary, data: { action: "click->ui--modal#close" })) %>
  <% end %>
<% end %>
