.admin-subnav
  .col-md-12
    %h1
      Edit Primary Activity

.row.mt-4
  .col-md-6
    %table.table-list
      %tbody
        %tr.small
          %td
            Created
          %td
            %span.convertTime.preciseTime
              = l @primary_activity.created_at, format: :convert_time
        %tr.small
          %td
            Updated
          %td
            %span.convertTime.preciseTime
              = l @primary_activity.updated_at, format: :convert_time
        %tr
          %td Name
          %td
            = @primary_activity.name
        %tr.small
          %td Short name
          %td
            = @primary_activity.short_name
        %tr.small
          %td Display name
          %td
            = @primary_activity.display_name

  .col-md-6
    %table.table-list
      %tbody
        %tr
          %td Top level?
          %td
            = check_mark if @primary_activity.top_level?
        %tr
          %td Family
          %td
            = check_mark if @primary_activity.family
        %tr
          %td Family
          %td
            = @primary_activity.family_name

- if @primary_activity.family?
  .mt-5.mb-5
    %h4 Flavors
    = render(partial: "table", locals: {collection: @primary_activity_flavors, render_sortable: false})

.row
  .col-sm-6
    = form_for [:admin, @primary_activity],
      html: { class: "form" } do |f|
      .form-group
        = f.label :priority, class: "form-label"
        = f.number_field :priority, class: "form-control"
      .mt-4
        = submit_tag "Save", class: "btn btn-success btn-lg"
