.card
  .card-body
    - if @organization_role.id.present?
      %h4.text-danger.mb-4
        DANGER! Don't edit
        %em
          %br
          It would be better to delete and re-add
    = form_for [:admin, @organization_role] do |f|
      = render(Alerts::ObjectErrors::Component.new(object: @organization_role))

      .form-group
        = render Form::Combobox::Component.new(name: :organization_id, form: f, label: OrganizationRole.human_attribute_name(:organization), placeholder: "Please select an organization", required: true, include_blank: true, options: @organizations.pluck(:name, :id))

      .form-group
        = f.label :invited_email
        = f.text_field :invited_email, required: true, class: "form-control"

      .form-group
        %label
          Role
        .form-check
          %label
            = f.radio_button :role, "admin", class: "form-check-input"
            Admin of organization
        .form-check
          %label
            = f.radio_button :role, "member", class: "form-check-input"
            Member of organization

      = f.submit 'Save', class: 'btn btn-success'
