%h1
  Editing OrganizationRole
- if @organization_role.deleted?
  %h2.text-danger.mb-4
    OrganizationRole deleted
    %span.convertTime.preciseTime
      = l @organization_role.deleted_at, format: :convert_time


.row
  .col-md-6
    %table.table-list
      %tbody
        %tr
          %td
            Sender
          %td
            - sender = @organization_role.sender
            - if sender.present?
              = link_to sender.display_name, admin_user_path(sender)
            - else
              %small.less-strong
                self created
        %tr
          %td
            Receiver
          %td
            - user = @organization_role.user
            - if user.present?
              = link_to user.display_name, admin_user_path(user)
        %tr
          %td
            Created
          %td
            %span.convertTime.preciseTime
              = l @organization_role.created_at, format: :convert_time
        %tr
          %td
            Updated
          %td
            %span.convertTime.preciseTime
              = l @organization_role.updated_at, format: :convert_time
        %tr
          %td
            Claimed
          %td
            - if @organization_role.claimed_at.present?
              %span.convertTime.preciseTime
                = l @organization_role.claimed_at, format: :convert_time
        %tr
          %td
            Emailed
          %td
            - if @organization_role.email_invitation_sent_at.present?
              %span.convertTime.preciseTime
                = l @organization_role.email_invitation_sent_at, format: :convert_time

  .col-md-4
    = render partial: "form"
    .mt-4.text-right
      = link_to "Delete membership", admin_organization_role_path(@organization_role), method: :delete, data: { confirm: "Are you sure you want to delete this membership?" }, class: "btn btn-danger"
