- nav_header_list_items = capture_haml do
  - if current_organization.present?
    %li.nav-item
      = link_to "Organization view", url_for(organization_id: current_organization.id), class: "nav-link less-strong"
  %li.nav-item
    = link_to "Deleted Roles", url_for(sortable_search_params.merge(search_deleted: true)), class: "nav-link #{@deleted_organization_roles ? 'active' : ''}"
  %li.nav-item
    = link_to "New Role", new_admin_organization_role_url(organization_id: current_organization&.to_param), class: "nav-link"

- table_view = render partial: "/admin/organization_roles/table", locals: {organization_roles: @collection, render_sortable: true, render_deleted: @deleted_organization_roles}

= render partial: "/shared/admin/index_skeleton", locals: {nav_header_list_items:,
  table_view:}


