= form_for external_registry_credential,
  url: action,
  method: method,
  html: { class: "form" } do |f|
  %fieldset
    = label :type, "Type", class: "form-label"
    = select_tag :type,
      external_registry_type_options(selected: external_registry_credential&.type),
      include_blank: true,
      class: "form-control"

  %fieldset
    = f.label :app_id, "App ID", class: "form-label"
    = f.text_field :app_id, class: "form-control"

  %fieldset
    = f.label :access_token, class: "form-label"
    = f.text_field :access_token, class: "form-control"

  %fieldset
    = f.label :refresh_token, "Refresh token", class: "form-label"
    = f.text_field :refresh_token, class: "form-control"

  %br
  = submit_tag submit_label, class: 'btn btn-success btn-md'
