- skip_map_cell ||= false
- skip_bike ||= false
- organization ||= current_organization

%table.table.table-striped.table-bordered.table-sm.without-exterior-border.list-table#records_table
  %thead.small-header.hidden-md-down
    - unless skip_map_cell
      %th.map-cell
    %th
      = t(".created")
      %small.convertTimezone
    - unless skip_bike
      %th=t(".bike")
    %th=t(".kind")
    %th=t(".by")
    %th=t(".internal_notes")
    %th=t(".impounded")
  %tbody
    - parking_notifications.each do |parking_notification|
      %tr
        - unless skip_map_cell
          %td
        %td
          %a.convertTime.preciseTime{ href: organization_parking_notification_path(parking_notification, organization_id: organization.to_param) }
            = l(parking_notification.created_at, format: :convert_time)

        - unless skip_bike
          %td
            - if bike.present?
              = link_to organized_bike_text(@bike), bike_path(@bike)
        %td
          = parking_notification.kind_humanized
        %td
          = parking_notification.user&.display_name
        %td
          = parking_notification.internal_notes
        %td
