- skip_map_cell ||= false
- skip_bike ||= false
- skip_repeat ||= false
- render_address ||= false
- skip_multiselect ||= false
- hide_status ||= false
- skip_resolved ||= false
- render_sortable ||= false

- # TODO: add translations
:css
  #recordsTable.hide-status .status-cell { display: none; }

%table.table.table-striped.table-bordered.table-sm.without-exterior-border.list-table#recordsTable{ class: hide_status ? "hide-status" : "" }
  %thead.small-header.hidden-md-down
    - unless skip_map_cell
      %th.map-cell
    %th
      - if render_sortable
        = sortable "created_at"
      - else
        = t(".created")
      %small.convertTimezone
    - unless skip_bike
      %th=t(".bike")
    - if render_address
      %th=t(".address")
    %th
      - if render_sortable
        = sortable "kind"
      - else
        Kind
    %th
      =t(".by")
    - unless skip_repeat
      %th
        %small=t(".notification_number")
    %th.status-cell Status
    - unless skip_resolved
      %th.status-cell
        %small=t(".resolved")
    - unless skip_multiselect
      %th.multiselect-cell.table-cell-check.collapse
        %a#selectAllSelector{ href: "#" }
          = check_mark
  %tbody
    - parking_notifications.each do |parking_notification|
      %tr
        - unless skip_map_cell
          %td
        %td
          %a.convertTime.preciseTime{ href: organization_parking_notification_path(parking_notification, organization_id: parking_notification.organization_id) }
            = l(parking_notification.created_at, format: :convert_time)
          %span.extended-col-info.small
            \- <em>#{parking_notification.kind_humanized}</em> - by #{parking_notification.user&.display_name}
          - unless skip_repeat
            - if parking_notification.repeat_number > 0
              %strong.extended-col-info
                Notification ##{parking_notification.notification_number}
          - unless skip_bike
            %span.extended-col-info.d-block
              = link_to organized_bike_text(parking_notification.bike), bike_path(parking_notification.bike, organization_id: current_organization.id)
          %em.small.extended-col-info.d-block.status-cell
            #{status_display(parking_notification.status)}
          - if parking_notification.resolved_at.present?
            %strong.small.extended-col-info.d-block
              - if parking_notification.impounded?
                Impounded:
              - elsif parking_notification.retrieved?
                Retrieved:
              - else
                Resolved
              %small.convertTime
                = l(parking_notification.resolved_at, format: :convert_time)

        - if render_address
          %td.hidden-sm-cells
            %small= address_formatted(parking_notification)
        - unless skip_bike
          %td.hidden-sm-cells
            - if parking_notification.bike.present?
              = link_to organized_bike_text(parking_notification.bike), bike_path(parking_notification.bike)
        %td.hidden-sm-cells
          %em
            = parking_notification.kind_humanized
        %td.hidden-sm-cells
          - if render_sortable && parking_notification.user.present?
            = link_to parking_notification.user&.display_name&.truncate(20), organization_parking_notifications_path(sortable_search_params.merge(user_id: parking_notification.user_id)), class: "linkWithSortableSearchParams", "data-urlparams" => "user_id,#{parking_notification.user_id}"
          - else
            = parking_notification.user&.display_name&.truncate(20)

        - unless skip_repeat
          %td.small.hidden-sm-cells
            - if parking_notification.repeat_record?
              = parking_notification.notification_number
        %td.hidden-sm-cells.status-cell
          = status_display(parking_notification.status)
        - unless skip_resolved
          %td.hidden-sm-cells.status-cell
            - if parking_notification.impound_record_id.present?
              - resolved_at = parking_notification.calculated_resolved_at
              %a.small{ href: organization_impound_record_path("pkey-#{parking_notification.impound_record_id}", organization_id: parking_notification.organization_id), class: (resolved_at.present? ? "convertTime" : "") }
                - if resolved_at.present?
                  = l(resolved_at, format: :convert_time)
                - else
                  impounded
            - elsif parking_notification.resolved_at.present?
              %small.convertTime
                = l(parking_notification.resolved_at, format: :convert_time)

        - unless skip_multiselect
          %td.multiselect-cell.table-cell-check.collapse
            = check_box_tag "ids[#{parking_notification.id}]", parking_notification.id

