.organized-page-header
  %h1
    = t(".parking_notifications")

- # TODO: add translations

.organized-records
  .text-right.mb-4
    = link_to "Parking notification for unregistered bike", new_organization_bike_path(organization_id: current_organization, kind: "abandoned"), class: "btn btn-sm btn-outline-primary"

  #map

  .row
    .col-md-12
      - if search_params_present?
        = pluralize number_with_delimiter(matching_parking_notifications.count), "parking notification"

        - if params[:search_bike_id].present?
          for
          - searched_bike = Bike.find_by_id(params[:search_bike_id])
          - if searched_bike.present?
            = link_to searched_bike.title_string, bike_path(searched_bike)
          - else
            %em
              unknown bike ##{params[:search_bike_id]}

    .col-xs-12
      %p#recordsCount.text-right.less-strong
        %span.number 0
        = t(".matches_visible")


  = render partial: "/organized/parking_notifications/table", locals: { parking_notifications: [] }

:javascript
  window.pageInfo = #{@page_data.to_json}

= javascript_pack_tag "application"
