- github_base_url = 'https://github.com/bikeindex/bike_index/blob/master/'
.container
  .page-header
    %h1
      Mailer templates
    %p
      View the file that defines this table #{link_to 'on github', "#{github_base_url}config/mailer_integration_templates.yml"}.
      - if @show_substitution_values
        = link_to "hide substitution values", mailer_integrations_path
      - else
        = link_to "view substitution values", mailer_integrations_path(show_substitution_values: true)
.container-fluid
  .padded
  %table.table.table-bordered.table-striped.table-hover
    %thead
      %tr
        %th
          Template name, when sent
        %th
          email subject line
        - if @show_substitution_values
          %th
            Substitution values
    %tbody
      - MailerIntegration.templates_config.each do |template|
        %tr
          %td
            .less-strong-hold
              = link_to template['name'], mailer_integration_path(template['name'])
              = link_to "file on Github", "#{github_base_url}/app/views/mailer_integrations/#{template['name']}.html.erb", class: 'less-strong-right'
              %br
              = template['description']
          %td
            = template['title']
          - if @show_substitution_values
            %td
              - if template['args']
                = template['args'].join(', ')
