%h1= "Ambassador: #{@ambassador.username}"

= @ambassador.avatar

%table.table.table-list
  %tbody
    - @ambassador.admin_viewable_attribute_listing.each_pair do |key, value|
      %tr
        %td= key
        %td= value

%h2 Ambassador Tasks

%p
  %strong= "#{@ambassador.progress_count} complete"

%table.table.table-striped.table-bordered.ambassador-tasks-table
  %thead.small-header
    %tr
      %th Task
      %th Completed at
  %tbody
    - @ambassador.ambassador_task_assignments.each do |task|
      %tr
        %td
          %strong= task.title
          %br
          = task.description_html.html_safe
        %td
          - if task.completed_at
            %span.convertTime= l task.completed_at, format: :convert_time
