-# require inline CSS setting because of caching
- skip_item ||= false

- if skip_item
  <style>.item-cell {display: none !important;} </style>

- unless display_dev_info?
  <style>.only-dev-visible {display: none !important;} </style>

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th
        = sortable "created_at", render_sortable: render_sortable
      %th.only-dev-visible.small
        = sortable "updated_at", render_sortable: render_sortable
      %th
        = sortable "status", render_sortable: render_sortable
      %th
        = sortable "published_at", render_sortable: render_sortable
      %th
        = sortable "end_at", render_sortable: render_sortable
      %th.item-cell
        Item
      %th
        = sortable "amount_cents", "amount", render_sortable: render_sortable
      %th
        = sortable "condition", render_sortable: render_sortable
      %th
        City
      %th
        = sortable "seller_id", render_sortable: render_sortable
      %th
        = sortable "buyer_id", render_sortable: render_sortable
    %tbody
      - collection.each do |marketplace_listing|
        - cache(["admin_marketplace_listing", marketplace_listing]) do
          %tr
            %td
              .less-strong-hold
                %span.convertTime
                  = l marketplace_listing.created_at, format: :convert_time
                %span.less-strong-right.d-none.d-md-block.only-dev-visible
                  = marketplace_listing.id
            %td.only-dev-visible
              %small.convertTime
                = l marketplace_listing.updated_at, format: :convert_time
            %td
              - status_class = "text-info" if marketplace_listing.for_sale?
              - status_class = "text-success" if marketplace_listing.sold?
              %span{class: status_class}
                = marketplace_listing.status_humanized
            %td
              - if marketplace_listing.published_at.present?
                %span.convertTime
                  = l marketplace_listing.published_at, format: :convert_time
            %td
              - if marketplace_listing.end_at.present?
                %span.convertTime
                  = l marketplace_listing.end_at, format: :convert_time
            %td.item-cell
              = render partial: "/shared/admin/bike_cell", locals: {bike: marketplace_listing.item, bike_id: marketplace_listing.item_id, bike_link_path: bike_path(marketplace_listing.item_id, show_marketplace_preview: true), search_url: admin_marketplace_listings_path(search_bike_id: marketplace_listing.item_id)}
            %td
              = "#{marketplace_listing.currency_symbol}#{admin_number_display(marketplace_listing.amount)}"
            %td
              = marketplace_listing.condition
            %td
              - if marketplace_listing.address_record
                = render partial: "/shared/admin/address_record_cell", locals: {address_record: marketplace_listing.address_record}
            %td
              = render partial: "/shared/admin/user_cell", locals: {user: marketplace_listing.seller, render_search: true, cache: true}
            %td
              - if marketplace_listing.buyer_id.present?
                = render partial: "/shared/admin/user_cell", locals: {user: marketplace_listing.buyer_id, render_search: true, cache: true}
