<% if @bike.present? %>
  <%= render partial: "/admin/bikes/bike_tabs", locals: {bike: @bike, active_tab: "marketplace_listings-index"} %>
  <h1 class="mt-5 mb-4">Marketplace Listings</h1>
  <%= render(partial: "table", locals: {collection: @collection, render_sortable: false, skip_item: true}) %>
<% else %>
  <% nav_header_list_items = capture do %>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle <%= @status.present? ? "active" : "" %>"
        href="#"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <% if @status.blank? %>
          All statuses
        <% elsif @status == "removed_or_sold" %>
          Removed or sold
        <% else %>
          <%= @status.titleize %>
          only
        <% end %>
      </a>

      <div class="dropdown-menu">
        <%= link_to "All statuses", url_for(sortable_search_params.merge(search_status: nil)), class: "dropdown-item #{@status.present? ? '' : 'active'}" %>
        <%= link_to "Removed or sold", url_for(sortable_search_params.merge(search_status: "removed_or_sold")), class: "dropdown-item #{@status == 'removed_or_sold' ? 'active' : ''}" %>

        <div class="dropdown-divider"></div>

        <% (searchable_statuses - ['removed_or_sold']).each do |kind| %>
          <%= link_to "#{kind.titleize} only", url_for(sortable_search_params.merge(search_status: kind)), class: "dropdown-item #{@status == kind ? 'active' : ''}" %>
        <% end %>
      </div>
    </li>
  <% end %>
  <%= render_admin_index_skeleton(chart_collection: @render_chart && matching_marketplace_listings, nav_header_list_items:) %>
<% end %>
