<div class="admin-subnav">
  <div class="col-md-12">
    <h1>Marketplace Listing</h1>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <table class="table-list">
      <tbody>
        <% if display_dev_info? %>
          <tr>
            <td class="only-dev-visible">ID</td>
            <td><code><%= @marketplace_listing.id %></code></td>
          </tr>
        <% end %>

        <tr>
          <td>Status</td>

          <td>
            <%= render Badge::Status::Component.new(status: @marketplace_listing.status, status_humanized: @marketplace_listing.status_humanized, kind: :marketplace_listing) %>
          </td>
        </tr>

        <tr>
          <td>Seller</td>

          <td>
            <%= render Admin::UserCell::Component.new(user: @marketplace_listing.seller, user_id: @marketplace_listing.seller_id) %>
          </td>
        </tr>

        <% if @marketplace_listing.buyer.present? %>
          <tr>
            <td>Buyer</td>

            <td>
              <%= render Admin::UserCell::Component.new(user: @marketplace_listing.buyer, user_id: @marketplace_listing.buyer_id) %>
            </td>
          </tr>
        <% end %>

        <tr>
          <td>Price</td>

          <td>
            <%= amount_display(@marketplace_listing, currency_name_suffix: true) %>

            <% if @marketplace_listing.price_negotiable? %>
              <small class="less-strong">(negotiable)</small>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>Condition</td>
          <td><%= @marketplace_listing.condition_humanized %></td>
        </tr>

        <tr class="small">
          <td>Created</td>

          <td>
            <span class="convertTime preciseTime">
              <%= l @marketplace_listing.created_at, format: :convert_time %>
            </span>
          </td>
        </tr>

        <% if @marketplace_listing.published_at.present? %>
          <tr class="small">
            <td>Published</td>

            <td>
              <span class="convertTime preciseTime">
                <%= l @marketplace_listing.published_at, format: :convert_time %>
              </span>
            </td>
          </tr>
        <% end %>

        <% if @marketplace_listing.end_at.present? %>
          <tr class="small">
            <td>Ended</td>

            <td>
              <span class="convertTime preciseTime">
                <%= l @marketplace_listing.end_at, format: :convert_time %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table-list">
      <tbody>
        <tr>
          <td>Item</td>

          <td>
            <% if @marketplace_listing.item.is_a?(Bike) %>
              <%= render Admin::BikeCell::Component.new(bike: @marketplace_listing.item, bike_id: @marketplace_listing.item_id, bike_link_path: bike_path(@marketplace_listing.item_id, show_marketplace_preview: true)) %>
            <% elsif @marketplace_listing.item.is_a?(BikeVersion) %>
              BikeVersion
              <%= link_to @marketplace_listing.item_id, bike_version_path(@marketplace_listing.item_id) %>
              <small>
                (bike:
                <%= link_to @marketplace_listing.item.bike_id, admin_bike_path(@marketplace_listing.item.bike_id) %>)
              </small>
            <% end %>
          </td>
        </tr>

        <% if @marketplace_listing.sale.present? %>
          <tr>
            <td>Sale</td>

            <td>
              <%= link_to @marketplace_listing.sale_id, admin_sale_path(@marketplace_listing.sale_id) %>
            </td>
          </tr>
        <% end %>

        <tr>
          <td>Location</td>

          <td>
            <%= render Admin::AddressRecordCell::Component.new(address_record: @marketplace_listing.address_record) %>
          </td>
        </tr>

        <tr>
          <td>Description</td>

          <td>
            <%= render(UI::UserTextBlockDisplay::Component.new(text: @marketplace_listing.description, max_height_class: "")) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="tw:mt-10">
  <h2>
    <% messages_count = @marketplace_listing.marketplace_messages.count %>

    <%= link_to admin_marketplace_messages_path(search_marketplace_listing_id: @marketplace_listing.id) do %>
      <%= number_display(messages_count) %>
      <%= "message".pluralize(messages_count) %>
    <% end %>

    <% if messages_count > @marketplace_messages.count %>
      <small>
        most recent <%= number_display(@marketplace_messages.count) %> shown
      </small>
    <% end %>
  </h2>

  <%= render partial: "/admin/marketplace_messages/table", locals: { collection: @marketplace_messages, render_sortable: false, skip_marketplace_listing: true } %>
</div>
