<div
  class="multi-search-serial-result"
  id="result_<%= result_index %>"
  data-serial-index="<%= result_index %>"
  data-result-count="<%= @pagy.count %>"
>
  <h4 class="uncap tw:mt-4 tw:mb-0 tw:px-1">
    Sticker:
    <span class="serial-span"><%= @query %></span>

    <span class="tw:text-sm tw:font-normal tw:text-gray-500">
      &mdash; <%= helpers.number_display(@pagy.count) %> <%= "result".pluralize(@pagy.count) %>

      <% if show_view_all? %>
        &mdash; first <%= @pagy.limit %> shown,
        <%= link_to "view all", view_all_path, class: "twlink", data: {turbo_frame: "_top"} %>
      <% end %>
    </span>
  </h4>

  <% if @bike_stickers.any? %>
    <table class="tw:w-full tw:mt-2 tw:text-sm tw:border-collapse">
      <thead>
        <tr class="tw:text-left tw:border-b tw:border-gray-200">
          <th class="tw:py-2 tw:px-2">Code</th>
          <th class="tw:py-2 tw:px-2">Claimed</th>
          <th class="tw:py-2 tw:px-2">Bike</th>
        </tr>
      </thead>
      <tbody>
        <% @bike_stickers.each do |bike_sticker| %>
          <tr class="tw:border-b tw:border-gray-100 tw:hover:bg-gray-50">
            <td class="tw:py-2 tw:px-2">
              <%= link_to bike_sticker.pretty_code,
                helpers.edit_organization_sticker_path(organization_id: @organization.to_param, id: bike_sticker.code),
                class: "twlink tw:font-mono" %>
            </td>
            <td class="tw:py-2 tw:px-2">
              <% if bike_sticker.claimed? && bike_sticker.claimed_at.present? %>
                <span class="localizeTime"><%= helpers.l(bike_sticker.claimed_at, format: :convert_time) %></span>
              <% else %>
                <span class="tw:text-gray-400">unclaimed</span>
              <% end %>
            </td>
            <td class="tw:py-2 tw:px-2">
              <% if bike_sticker.claimed? %>
                <%= link_to helpers.organized_bike_text(bike_sticker.bike),
                  helpers.bike_path(bike_sticker.bike, organization_id: @organization.to_param),
                  class: "twlink" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="tw:text-gray-500">No matches found</p>
  <% end %>
</div>
