.admin-subnav
  .col-md-4
    %h1 Banned Email Domains
  .col-md-8
    %ul
      %li.nav-item
        = link_to "New Banned Domain", new_admin_banned_email_domain_path

= render partial: "/shared/admin_current_header"

= render partial: "/shared/pagination", locals: {collection: @banned_email_domains}

.full-screen-table.mt-4
  %table.table.table-striped.table-bordered.table-sm.without-exterior-border
    %thead.small-header
      %th= sortable "domain"
      %th= sortable "created_at"
      %th= sortable "creator_id"
      %th
        Matching Users
    %tbody
      - @banned_email_domains.each do |banned_email_domain|
        %tr
          %td= banned_email_domain.domain
          %td.convertTime
            = banned_email_domain.created_at
          %td
            = render partial: "/shared/admin_user_cell", locals: {user_id: banned_email_domain.creator_id, cache: false}
          %td
            = number_with_delimiter(User.matching_domain(banned_email_domain.domain).count)

= render partial: "/shared/pagination", locals: {collection: @banned_email_domains, skip_total: true}
