- if current_user.present?
  .alert.alert-warning.padded
    %p
      Your current account (<strong>#{current_user.email}</strong>) will be a member of the organization you create.
    %p
      If you don't want that to be the case, #{link_to 'log out', session_path(redirect_location: 'new_user'), method: :delete} and sign up with the email you would like to use instead.
  / - if current_user.memberships.count == 1
  - if current_user.memberships.count > 0
    - org = current_user.organizations.first
    %h3.padded
      You are already a member of #{link_to org.name, organization_url(org.slug)}.
    %p.padded
      %a.collapsed{ href: "#org-add-panel", data: { toggle: "collapse"} }
        Click here
      if you would like to create another organization.

  #org-add-panel{ class: ('collapse' if org.present?) }
    = form_for @organization, html: { class: 'organized-form' } do |f|

      - if @organization.errors.any?
        #alert-block
          .alert.alert-error
            %a.close{"data-dismiss" => "alert"} ×
            %h4
              Please fix the following 
              = pluralize(@organization.errors.count, "error")
            %ul
              - @organization.errors.full_messages.each do |msg|
                %li 
                  = msg
      .card
        .card-block
          %h3.card-title
            New organization
          .form-group.row
            = f.label :name, 'Organization name', class: 'control-label', class: 'org-form-label'
            .col-sm-4
              = f.text_field :name, required: true, class: 'form-control'

          .form-group.row
            = f.label :website, class: 'control-label', class: 'org-form-label'
            .col-sm-4
              = f.text_field :website, class: 'form-control'

          .form-group.row
            %label.org-form-label
              Organization type
            .col-sm-4
              .radio
                %label
                  = f.radio_button :org_type, 'shop'
                  Bike shop
              .radio
                %label
                  = f.radio_button :org_type, 'advocacy'
                  Advocacy group
              .radio
                %label
                  = f.radio_button :org_type, 'police'
                  Police department
              .radio
                %label
                  = f.radio_button :org_type, 'college'
                  College
              .radio
                %label
                  = f.radio_button :org_type, 'manufacturer'
                  Manufacturer
          .form-group.row
            .col-sm-4.col-sm-push-4
              = f.submit 'add organization', class: 'btn btn-success'
- else
  .alert.alert-info.padded
    %p
      You'll first have to create an account on the Bike Index.
    %p
      After you create a user account you'll be redirected here to create your organization.
  = link_to "Create an organization account", new_user_url(return_to: new_organization_url ), class: 'button-blue call-to-action-new-org text-center'

