#root_url.hidden{data: { url: ENV['BASE_URL'] }}
= form_for @bike, multipart: true do |f|
  = hidden_field_tag :persist_email, @persist_email
  = f.hidden_field :b_param_id_token
  = f.hidden_field :creation_organization_id
  = f.hidden_field :embeded, value: true
  = f.hidden_field :embeded_extended, value: true
  .input-group
    .control-group
      = f.label :serial_number, class: "control-label"
      .controls
        = f.text_field :serial_number, required: true, autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off'
      - if @organization&.include_field_extra_registration_number?
        - label_secondary_serial = @organization.registration_field_label("extra_registration_number") || t(".additional_serial")
        = f.label :extra_registration_number, label_secondary_serial, class: "control-label"
        .controls
          = f.text_field :extra_registration_number, autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off'
    .has-no-serial.optional-block
      %label
        = check_box_tag :has_no_serial, true, @bike.serial_unknown?, tabindex: -1
        = t(".unknown_serial")

  .input-group.with-additional-block
    .control-group.select-jsonified
      = f.label :manufacturer_id, class: "control-label"
      .controls
        = f.text_field :manufacturer_id, value: @bike.manufacturer && @bike.manufacturer.name
        %span.help-block
          = t(".select_other_if_manufacturer_isnt_listed")
    .hidden-other.control-group.manufacturer-other-input
      = f.label :manufacturer_other, t(".other_manufacturer"), class: "control-label"
      .controls
        = f.text_field :manufacturer_other, placeholder: t(".manufacturer_name")

  .input-group
    .control-group.special-select-single
      = f.label :year, t(".model_year"), class: "control-label"
      .controls
        - years = (1900..Time.current.year+1).to_a.reverse.map {|i| [i,i] }
        = f.select :year, years, selected: Time.current.year, prompt: t(".unsure_or_unknown")
    .unknown-year.optional-block
      %label
        %input#bike_unknown_year{ type: 'checkbox', tabindex: -1 }
        = t(".unknown_year")

  .input-group
    .control-group
      = f.label :frame_model, class: "control-label"
      .controls
        = f.text_field :frame_model, autocomplete: 'off'

  .input-group.with-optional-blocks
    .control-group.special-select-single
      = f.label :primary_frame_color_id, t(".frame_color"), class: "control-label"
      .controls
        = select(:bike, :primary_frame_color_id, Color.select_options, required: true, prompt: t(".choose_color"))
    %a#add-secondary.optional-form-block{data: {target: "#secondary-color", toggle: "#rm-secondary"}}
      = t(".add_a_color")
    %a#rm-secondary.optional-form-block.rm-block.currently-hidden{data: {target: "#secondary-color", toggle: "#add-secondary"}}
      = t(".remove_color")
    #secondary-color.hidden-other
      .control-group.special-select-single
        %label.control-label
          = t(".secondary_color")
        .controls
          = select(:bike, :secondary_frame_color_id, Color.select_options, prompt: t(".choose_color"))
      %a#add-tertiary.optional-form-block{data: {target: "#tertiary-color", toggle: "#rm-tertiary"}}
        = t(".add_a_color")
      %a#rm-tertiary.optional-form-block.rm-block.currently-hidden{data: {target: "#tertiary-color", toggle: "#add-tertiary"}}
        = t(".remove_color")
    #tertiary-color.hidden-other
      .control-group
        %label.control-label
          = t(".third_color")
        .controls.special-select-single
          = select(:bike, :tertiary_frame_color_id, Color.select_options, prompt: t(".choose_color"))
  .input-group
    .control-group
      %label.control-label{ for: 'bike_owner_email' }
        = t(".owners_email_address")
        = f.email_field :owner_email, required: true
  - if @organization&.include_field_reg_address?
    - label_address = @organization.registration_field_label("reg_address") || t(".owners_street_address")
    / Set all the bike address attrs
    - @bike.attributes = { address: @b_param.address("address"), address_city: @b_param.address("city"), address_zipcode: @b_param.address("zipcode"), address_state: @b_param.address("state") }
    .input-group
      = f.label :address, label_address
      .controls
        = f.text_field :address, required: true, placeholder: t(".address")
      .controls.extra-field
        = f.text_field :address_city, required: true, placeholder: t(".city")
      .controls.extra-field
        = f.text_field :address_zipcode, required: true, placeholder: t(".zipcode")
      #state-select.controls.extra-field.special-select-single
        = f.collection_select(:address_state, State.all, :abbreviation, :name, include_blank: true, required: true, prompt: t(".state") )
  - if @organization&.include_field_reg_phone?
    - label_phone = @organization.registration_field_label("reg_phone") || t(".owners_phone")
    .input-group
      = f.label :phone, label_phone
      .controls
        = f.text_field :phone, required: true
  - if @organization&.include_field_reg_affiliation?
    - label_affiliation = @organization.registration_field_label("reg_affiliation") || t(".org_affiliation", org_name: @organization.short_name)
    .input-group
      = f.label :organization_affiliation, label_affiliation
      .controls
        = f.select :organization_affiliation, @organization.reg_affiliation_options, class: "form-control"
  - if @organization.enabled?("bike_stickers")
    .input-group
      .control-group
        = f.label :bike_sticker, t(".sticker_id_html"), class: "control-label"
        .controls
          = f.text_field :bike_sticker, value: @b_param.bike_sticker
  .input-group
    .submit-registration
      = submit_tag t(".register_this"), class: "button-submit"
      = select(:bike, :cycle_type, CycleType.select_options, { required: true })
  %h3
    = t(".optional_additions")
  / if the organization doesn't require a phone, show the phone as optional
  - if !@organization&.include_field_reg_phone?
    .input-group
      = f.label :phone, t(".owners_phone")
      .controls
        = f.text_field :phone
  .input-group
    .control-group.special-select-single
      = f.label :frame_material, t(".primary_frame_material"), class: "control-label"
      .controls
        = select(:bike, :frame_material, FrameMaterial.select_options , { include_blank: true, prompt: t(".choose_material")})
  .input-group
    .control-group.special-select-single
      = f.label :handlebar_type, class: "control-label"
      .controls
        = select(:bike, :handlebar_type, HandlebarType.select_options, { include_blank: true, required: true, prompt: t(".choose_handlebar") })
  .input-group
    .control-group
      = f.label :description, t(".other_defining_features"), class: "control-label"
      .controls
        = f.text_area :description, rows: 3, placeholder: t(".any_extra_words")
  .input-group.form-foot
    .control-group.form-photo-group
      - if @b_param.image.present? or @b_param.image_tmp.present?
        %strong
          = t(".image_has_been_uploaded")
      - else
        .filefield-button
          = t(".choose_photo")
          = f.file_field :image
        #filepath
