- if @bike.errors.any?
  #alert-block
    .alert.alert-error
      %a.close{"data-dismiss" => "alert"} ×
      %h4
        Please fix the following 
        = pluralize(@bike.errors.count, "error")
      %ul
        - @bike.errors.full_messages.each do |msg|
          %li
            = msg
= form_for @bike, :multipart => true do |f|
  = f.hidden_field :b_param_id
  = f.hidden_field :creation_organization_id
  = f.hidden_field :embeded, value: true
  .input-group
    .control-group
      = f.label :cycle_type_id, "Type of cycle", class: "control-label"
      .controls
        = collection_select( :bike, :cycle_type_id, CycleType.all, :id, :name, required: true)
  .input-group
    .control-group
      = f.label :serial_number, class: "control-label"
      .controls
        = f.text_field :serial_number, :required =>true
    .has-no-serial.optional-block
      %label
        = f.check_box :has_no_serial, tabindex: -1 
        - if @bike.stolen?
          Unknown
        - else
          Has no serial

  .input-group.with-additional-block
    .control-group.chosen-select
      = f.label :manufacturer_id, class: "control-label"
      .controls
        = collection_select( :bike, :manufacturer_id, Manufacturer.frames, :id, :name, :required =>true, prompt: "Choose manufacturer")
        %span.help-block
          Select 'Other' if manufacturer isn't listed
    %p.other-value
      = Manufacturer.find_by_slug("other").id
    .hidden-other.control-group
      = f.label :manufacturer_other, "Other manufacturer", class: "control-label"
      .controls
        = f.text_field :manufacturer_other, placeholder: "Manufacturer name"
        
  .input-group.with-optional-blocks
    .control-group
      %label.control-label{for: "standard-diams"}
        Rear wheel
      .controls
        %select#standard-diams
          %option{value: 0}
            Choose Diameter
          %option{value: 3}
            700c (includes 29ers)
          %option{value: 8}
            650b
          %option{value: 2}
            27in
          %option{value: 10}
            26in
          %option{value: 20}
            20in
          %option{value: 23}
            18in
          %option{value: 28}
            16in
          %option{value: 29}
            12in
    %a#show-wheel-diams.optional-form-block{:data => {target: "#wheel-diams", toggle: "#hide-wheel-diams"}}
      Show more sizes
    %a#hide-wheel-diams.optional-form-block.rm-block.currently-hidden{:data => {target: "#wheel-diams", toggle: "#show-wheel-diams"}}
      Hide extra sizes
    #wheel-diams.hidden-other
      .control-group
        %label.control-label
          Detailed wheel list
        .controls
          = collection_select( :bike, :rear_wheel_size_id, WheelSize.all , :id, :description, :html => { :required =>true }, prompt: "Choose diameter")
    .control-group.wheel-diameter
      .controls.radio-controls
        %label.radio
          = f.radio_button :rear_tire_narrow, "true"
          Narrow Tire
        %label.radio.wide-tire
          = f.radio_button :rear_tire_narrow, "false"
          Wide tire

  .input-group.with-optional-blocks
    .control-group
      = f.label :primary_frame_color_id, class: "control-label"
      .controls
        = collection_select( :bike, :primary_frame_color_id, Color.all, :id, :name, required: true, prompt: "Choose color" )
    %a#add-secondary.optional-form-block{:data => {target: "#secondary-color", toggle: "#rm-secondary"}}
      Add a color
    %a#rm-secondary.optional-form-block.rm-block.currently-hidden{:data => {target: "#secondary-color", toggle: "#add-secondary"}}
      Remove color
    #secondary-color.hidden-other
      .control-group
        %label.control-label
          Secondary color
        .controls
          = collection_select( :bike, :secondary_frame_color_id, Color.all, :id, :name, prompt: "Choose color" )
      %a#add-tertiary.optional-form-block{:data => {target: "#tertiary-color", toggle: "#rm-tertiary"}}
        Add a color
      %a#rm-tertiary.optional-form-block.rm-block.currently-hidden{:data => {target: "#tertiary-color", toggle: "#add-tertiary"}}
        Remove color
    #tertiary-color.hidden-other
      .control-group
        %label.control-label
          Third color
        .controls
          = collection_select( :bike, :tertiary_frame_color_id, Color.all, :id, :name, prompt: "Choose color" )

  .input-group
    .control-group
      %label.control-label{ for: 'bike_owner_email' }
        Your email address
        = f.email_field :owner_email
  
  .input-group.form-foot
    = submit_tag "Register the bike", class: "button-green"