.vendor-signup
  %h1
    How to: Lightspeed Retail and Bike Index Integration
  %article
    .alert.alert-info
      %h3.padded
        Our integration is recommended by Lightspeed
        %br
        %small
          You can find us under "Great tools for bicycle retailers" on #{link_to "Lightspeed's add-on page", "http://www.lightspeedpos.com/retail/addons/"}
    .padded

    %p
      This page gives instructions on integrating Bike Index registration with your Lightspeed Retail POS system. <strong><a href="#{about_url}">Read our about page</a></strong> for general information about what the Bike Index is and why it's important.
  %hr
  %article
    %p
      At Bike Index we believe that bicycle registration is one of the simplest and most effective ways to fight bicycle theft. By offering complete integration with Lightspeed Retail, we've made registration a quick, painless, and automated process for you and your customers.

    - if current_user.present? && current_user.memberships.present?
      %p
        This video will show you how to connect your shop to Lightspeed Retail:
    - else
      %p
        The first step is to create an account for yourself and your shop - you can do that <a href="#add_organization" class="scroll-to-ref">at the bottom of this page</a>
      %p
        Once you have a Bike Index account set up for your shop the following video will show you how to connect it to Lightspeed Retail.


        

    #lightspeed-tutorial-video

  %article.padded
    %p
      Once your Lightspeed Retail account is connected to your Bike Index account with automatic registration turned on, a listing on Bike Index will be automatically created for every bicycle you sell. All you need to do is add the customer's email address and the bicycle's serial number during a normal Lightspeed Retail checkout.

    / 
    / Should have another video of selling a bike
    / 

  %article.padded
    %p
      The bicycle's owner will receive an email with all the information he or she needs to log in and maintain the account as well as a PDF copy of the registration information.
    %h3
      A few things to note:

  %ul.fancy-bullets
    %li
      %span.blue-bullet
      %p
        If a customer doesn't want a bike to be added to Bike Index, simply write "DO NOT REGISTER" in the notes for the sale and the bicycle will not be registered.
    %li
      %span.blue-bullet
      %p
        Bicycles sold before you activated Lightspeed Retail integration will not be automatically registered. They'll show up in your Shop account on Bike Index and can be added manually following the instructions in the above video.
    %li
      %span.blue-bullet
      %p
        We know you and your customers are concerned about privacy and access to your sales and customer information. Bike Index is committed to keeping your information safe and secure, and we will never send your customers unsolicited email. You can our #{link_to "Privacy Policy here", privacy_url}.
    %li
      %span.blue-bullet
      %p
        We're happy to answer any questions you have about making Bike Index work with Lightspeed Retail and we're always looking for ways to improve the integration. Please #{link_to "support@bikeindex.org", "mailto:support@bikeindex.org"} with any questions, concerns, comments, or suggestions.


    %blockquote
      I started the Bike Index because I wanted to register bikes for my customers at the shop where I worked &mdash; with this integration, we're finally able to give shops a way to register bikes that doesn't interfere with selling them.
    .blockquote-cite
      Seth Herr, Bike Index co-founder

  / .vendor-questions.tabbable
  /   %ul.nav-tabs
  /     %li.active
  /       %a{ href: '#what_we_are', data: {toggle: 'tab'} }
  /         What the Bike Index is
  /     %li
  /       %a{ href: '#how_lightspeed_integration_works', data: {toggle: 'tab'} }
  /         How the integration works
      
  /   .tab-content
  /     %span.vendor-tab-bg
  /     #what_we_are.tab-pane.active
  /       %article
  /         %p
  /           Bicycle registration is a vital part of keeping bikes safe.

  /         %p
  /           While we know not every registered bike that is stolen will be recovered, unregistered stolen bikes are almost guaranteed to never turn up again. This is why we created Bike Index – to provide fast, free, and easy registration that people would actually want to use, so we could help recover stolen bikes.
  /         %p
  /           Just about everyone wants their bikes to be registered &mdash; but most people never bother to register on their own. It makes a lot of sense to register bikes right when they are sold - which is why we've partnered with Lightspeed Retail to do just that.
  /         %p
  /           We designed Bike Index from the outset to be a great way for bike shops to register bikes for their customers. If you register a bike for a customer, we will send them an email with the basic information about their bike in case they ever need it &mdash; and that's it.
  /         %p
  /           Registrants can log into the Index and edit their bikes later on, but they're protected even if they choose not to. Furthermore, Bike Index will never trade or sell their email, or send any sort of marketing to them. We just protect their bikes, for free, because it's what we do.
  /         %p
  /           Read more about #{link_to "how and why the Bike Index works", how_it_works_url}.
  /     #how_lightspeed_integration_works.tab-pane
  /       %article.padded
  /         %p
  /           Once you connect your Lightspeed account, we will register every bike you sell automatically (unless you write "Do not sell" in the sales note). If you'd prefer, you can make the integration wait for approval before registering the bikes though.
  /         %p
  /           We're an #{link_to "official integration with Lightspeed Retail", "http://www.lightspeedpos.com/retail/addons/", target: '_blank'} - you can find us in their
  /           %em
  /             Great tools for bicycle retailers
  /           section. We've been vetted and approved by Lightspeed &mdash; we protect your data and we'll help protect your customers' bikes.

  /         %p
  /           Setting up the integration is easy:
  /         %ol
  /           - unless current_user.present? && current_user.memberships.present?
  /             %li
  /               %p
  /                 Add your organization to the Bike Index (<a href="#add_organization" class="scroll-to-ref">below</a>)
  /           %li
  /             %p
  /               - if current_user.present? && current_user.memberships.count > 0
  /                 - org = current_user.organizations.first
  /                 Go to the
  /                 %a{ href: "https://pos_integration.bikeindex.org/organizations/connect?id=#{org.slug}&access_token=#{org.access_token}"}
  /                   Lightspeed Retail Integration
  /               - else
  /                 Click on the Lightspeed Retail Integration button (at the bottom of the page for your organization once you've signed up).
                  
  /           %li
  /             %p
  /               Click on "integrate with the Bike Index" and follow the steps with Lightspeed Retail to connect your account.
          
  /         %p.padded
  /           And that's it. Every bike you sell will be registered, so long as you put in the customer's email and the bike has a serial number in the "serial number" field in Lightspeed.
  /         %p
  /           If a customer doesn't want to be registered, put "do not register" in the notes for the sale and we won't register the bike.
          
  /         .alert.alert-info
  /           %p
  /             We will not automatically register bikes that were sold before you signed up for the integration.
  /           %p
  /             You can register these bikes manually or #{link_to "contact us", "mailto:seth@bikeindex.org"} for assistance.
  /           /   You can register these bikes by clicking edit, checking the "register despite issues" checkbox, and clicking the "Update bike" button. If you'd like to register a large quantity, #{link_to "contact us", "mailto:seth@bikeindex.org"}.

  %hr

  %article.padded.vendor-signup-form.bottom-padded#add_organization
    %h3
      Sign your shop up
    / %p
    /   And with the integration with Lightspeed Retail, registering bikes is effortless &mdash; all you have to do is sell them.

    = render "new_form"