%h1
  A few settings for #{@organization.name}

%hr
- if @organization.locations.any?
  - if @organization.locations.count > 1
    %h3.padded
      = pluralize(@organization.locations.count, "Location")
  - @organization.locations.each do |location|
    - if @organization.locations.count > 1
      %hr
    - if location.name
      %p
        Name: 
        = location.name

    - if location.phone
      %p
        Phone: 
        = location.display_phone

    - if location.street
      %p
        Street address: 
        = location.street


.form.form-horizontal
  = form_for @organization do |f|
    - if @organization.errors.any?
      #alert-block
        .alert.alert-error
          %h4
            Please fix the following 
            = pluralize(@organization.errors.count, "error")
          %ul
            - @organization.errors.full_messages.each do |msg|
              %li
                = msg

    .control-group.padded.controls-appended
      .control-label
        = f.label :website
      .controls.input-prepend
        %span.add-on
          http&#58;&#47;&#47;
        = f.text_field :website
    .control-group.actions
      = f.submit 'Update organization', class: 'button-green'
    
.delete-organization
  %p
    %a.collapsed{:data => {toggle: "collapse", target: "#delete-organization"}}
      I would like to terminate my account with the Bike Index
  #delete-organization.collapse
    = link_to "Delete #{@organization.name}!", organization_url(@organization), method: :delete, confirm: "Are you sure you want to?", class: "button-red"