%h1
  #{@organization.name} bikes

- if @bikes.present?
  .paginate-container
    = will_paginate @bikes 
  = render partial: "/bikes/bike_org_table", locals: {target: ""}
  .paginate-container
    = will_paginate @bikes 

.tutorials
  %h3
    Tutorials
  %a{href: "http://youtu.be/o2qqHhTWhLQ"}
    = image_tag("/assets/org_add_bike_screencast_screenshot.png")
  %a{href: "http://youtu.be/rCj6Gkndm1k"}
    = image_tag("/assets/org_manage_screencast_screenshot.png")

%hr

%h3
  %a#show-developer-info{href: "#"}
    %span.shown-info
      View
    %span.hidden-info
      Hide
    developer information

#developer-info.initially-hidden
  %h3
    API Access
  - if @organization.api_access_approved
    %p
      Questions? View our #{link_to "API documentation", documentation_index_url}.


    %dl.dl-horizontal.dl-wider-dt
      %dt
        Organization slug
      %dd
        = @organization.slug
      %dt
        API Access token
      %dd
        = @organization.access_token
      %dt
        API registration user
      %dd
        - if @organization.auto_user.present?
          = @organization.auto_user.email
        - else
          %span
            No user set!
          Contact us at 
          = link_to "support@bikeindex.org", "mailto:support@bikeindex.org"
          to get set up for API access.
  - else
    %h4
      You aren't set up for API access
    Contact us at 
    = link_to "bryan@bikeindex.org", "mailto:bryan@bikeindex.org"
    to get set up for API access

%hr

%h3
  %a#show-lightspeed-info{href: "#"}
    %span.shown-info
      View
    %span.hidden-info
      Hide
    LightSpeed Cloud information

#lightspeed-info.initially-hidden
  %h3
    Update your Lightspeed Cloud API key.
  .well.span6.form.form-horizontal
    = form_for @organization do |f|
      .lightspeed-api-key-input
        = f.text_field :lightspeed_cloud_api_key, placeholder: 'Enter your Lightspeed Cloud API key'
      = f.submit "Update key", class: 'button-green'
