.admin-subnav
  .col-md-4
    %h1 Promoted Alert Plans
  .col-md-8
    %ul
      %li.nav-item
        = link_to "New Promoted Alert Plan", new_admin_theft_alert_plan_path

.full-screen-table
  %table.table.table-striped.table-bordered.ambassador-tasks-table
    %thead.small-header
      %tr
        %th Name
        %th Price
        %th Views Provided
        %th Duration (days)
        %th Description
        %th Active?
    %tbody
      - @theft_alert_plans.each do |plan|
        %tr
          %td= link_to plan.name , edit_admin_theft_alert_plan_path(plan)
          %td= number_to_currency(plan.amount_cents / 100.0, unit: "$")
          %td= number_with_delimiter(plan.views)
          %td= plan.duration_days
          %td= plan.description_html.html_safe
          %td
            = check_mark if plan.active?
