- render_sortable ||= false

.full-screen-table
  %table.table.table-bordered.table-striped.table-sm
    %thead.thead-light.sortable
      %th
        - if render_sortable
          = sortable "created_at", "Added"
        - else
          Added&nbsp;<small class="convertTimezone d-none d-sm-inline"></small>
      %th
        - if render_sortable
          = sortable "email"
        - else
          Email
      %th
        Secondary Emails
      %th
        Name
      %th
        Bikes
      %th
        Memberships
      %th
        %small
          Ambassador tasks

      %th
        Admin?
      %th
        %small
          Confirmed
    %tbody
      - @users.each do |user|
        - cache(user) do
          %tr
            %td
              %span.convertTime
                = l user.created_at, format: :convert_time
            %td
              .less-strong-hold
                = link_to user.email, edit_admin_user_url(user.id)
                - if user.donor?
                  <span class="donor-icon">D</span>
                - elsif user.paid_org?
                  <span class="paid-org-icon">O</span>
                %small.less-strong-right
                  = user.id
            %td
              %small.less-strong
                = user.secondary_emails.join(', ')
            %td
              - if user.name?
                = user.name
            %td
              = user.ownerships.count
            %td
              - if user.memberships.present?
                - first_org_rendered = false # can't use each_with_index because sometimes org is ambassador org
                - user.memberships.each do |membership|
                  - next if membership.organization.ambassador?
                  - if first_org_rendered
                    <small class="less-strong">|</small>
                  - else
                    - first_org_rendered = true
                  = link_to membership.organization.name.gsub(" ", "\u00a0"), admin_users_path(organization_id: membership.organization_id), class: "small"
            %td
              - if user.ambassador?
                - ambassador = Ambassador.find(user.id)
                = ambassador.progress_count
            %td
              %small
                = "super" if user.superuser?
                = "developer" if user.developer?
            %td.table-cell-check
              = "&#x2713;".html_safe if user.confirmed
