%section
  %table.table.table-bordered.table-striped
    %thead
      %th.hidden-sm-down
        Added&nbsp;<small class="convertTimezone"></small>
      %th
        Email
      %th.hidden-sm-down
        Secondary Emails
      %th.hidden-md-down
        Name
      %th
        Bikes
      %th.hidden-sm-down
        Memberships
      %th.hidden-md-down
        Admin?
      %th.hidden-md-down
        Confirmed
    - @users.each do |user|
      %tr
        %td.hidden-sm-down
          %span.convertTime
            = l user.created_at, format: :convert_time
        %td
          .less-strong-hold
            = link_to user.email, edit_admin_user_url(user)
            - if user.donor?
              <span class="donor-icon">D</span>
            - elsif user.paid_org?
              <span class="paid-org-icon">O</span>
            %small.less-strong-right
              = user.id
        %td.hidden-sm-down
          %small.less-strong
            = user.secondary_emails.join(', ')
        %td.hidden-md-down
          - if user.name?
            = user.name
        %td
          = user.ownerships.count
        %td.hidden-sm-down
          - if user.memberships.present?
            - user.memberships.each do |membership|
              = link_to "#{membership.organization.name} ", admin_membership_url(membership)
        %td.hidden-md-down
          = "super" if user.superuser?
          = "content" if user.content?
        %td.hidden-md-down
          = "&#x2713;".html_safe if user.confirmed