.full-screen-table
  %table.table.table-bordered.table-striped.table-sm
    %thead.thead-light
      %th
        Added&nbsp;<small class="convertTimezone"></small>
      %th
        Email
      %th
        Secondary Emails
      %th
        Name
      %th
        Bikes
      %th
        Memberships
      %th
        Admin?
      %th
        Confirmed
    %tbody
      - @users.each do |user|
        %tr
          %td
            %span.convertTime
              = l user.created_at, format: :convert_time
          %td
            .less-strong-hold
              = link_to user.email, edit_admin_user_url(user)
              - if user.donor?
                <span class="donor-icon">D</span>
              - elsif user.paid_org?
                <span class="paid-org-icon">O</span>
              %small.less-strong-right
                = user.id
          %td
            %small.less-strong
              = user.secondary_emails.join(', ')
          %td
            - if user.name?
              = user.name
          %td
            = user.ownerships.count
          %td
            - if user.memberships.present?
              - user.memberships.each do |membership|
                = link_to "#{membership.organization.name} ", admin_membership_url(membership)
          %td
            = "super" if user.superuser?
            = "developer" if user.developer?
          %td.table-cell-check
            = "&#x2713;".html_safe if user.confirmed
