<%# locals: (collection: nil, render_sortable: false, render_deleted: false) %>
<% collection ||= @users %>

<% unless render_deleted %>
  <style>.deleted-cell {display: none !important;}</style>
<% end %>

<% unless display_dev_info? %>
  <style>
    .only-dev-visible {display: none !important;}
  </style>
<% end %>

<%# prevent double borders %>
<style>
  tbody td.only-dev-visible {border-top: 0px;}
</style>

<%= render(UI::Table::Component.new(records: collection, cache_key: "admin-users", render_sortable:)) do |table| %>
  <% table.column(sortable: "created_at") do |user| %>
    <%= render UI::Time::Component.new(time: user.created_at) %>
  <% end %>

  <% table.column(sortable: "updated_at", classes: "only-dev-visible tw:text-xs") do |user| %>
    <small><%= render UI::Time::Component.new(time: user.updated_at) %></small>
  <% end %>

  <% table.column(sortable: "deleted_at", classes: "deleted-cell tw:text-xs") do |user| %>
    <span class="<%= UI::Alert::Component::TEXT_CLASSES[:error] %>">
      <%= render UI::Time::Component.new(time: user.deleted_at) %>
    </span>
  <% end %>

  <% table.column(sortable: "email", lower_right: ->(user) { user.id }) do |user| %>
    <%= render Admin::UserCell::Component.new(email: user.email, user:, render_search: false) %>
  <% end %>

  <% table.column(label: "Secondary Emails", header_classes: "tw:font-normal") do |user| %>
    <small class="tw:text-gray-400">
      <%= user.secondary_emails.join(", ") %>
    </small>
  <% end %>

  <% table.column(label: "Name", header_classes: "tw:font-normal") do |user| %>
    <%= user.name if user.name? %>
  <% end %>

  <% table.column(label: "Bikes", header_classes: "tw:font-normal") do |user| %>
    <%= number_display(user.ownerships.count) %>
  <% end %>

  <% table.column(label: "OrganizationRoles", header_classes: "tw:font-normal") do |user| %>
    <% if user.organization_roles.present? %>
      <% visible_roles = user.organization_roles.reject { |or_role| or_role.organization.ambassador? } %>
      <% visible_roles.each_with_index do |organization_role, i| %>
        <% if i > 0 %>
          <small class="tw:text-gray-400">|</small>
        <% end %>

        <%= link_to organization_role.organization.name.gsub(" ", "\u00a0"), admin_users_path(organization_id: organization_role.organization_id), class: "small" %>
      <% end %>
    <% end %>
  <% end %>

  <% table.column(label: "Ambassador tasks", classes: "tw:text-xs", header_classes: "tw:font-normal") do |user| %>
    <% if user.ambassador? %>
      <%= number_display(Ambassador.find(user.id).progress_count) %>
    <% end %>
  <% end %>

  <% table.column(label: "Admin?", header_classes: "tw:font-normal") do |user| %>
    <small>
      <%= "super" if user.superuser? %>
      <%= "developer" if user.developer? %>

      <% if user.superuser_abilities.non_universal.any? %>
        <span class="tw:text-blue-500">limited</span>
      <% end %>
    </small>
  <% end %>

  <% table.column(label: "Confirmed", classes: "tw:text-xs", header_classes: "tw:font-normal") do |user| %>
    <%= check_mark if user.confirmed %>
  <% end %>
<% end %>
