<%# locals: (collection: nil, render_sortable: false, render_deleted: false) %>
<% collection ||= @users %>

<% unless render_deleted %>
  <style>.deleted-cell {display: none !important;}</style>
<% end %>

<% unless display_dev_info? %>
  <style>.only-dev-visible {display: none !important;}</style>
<% end %>

<%= render(UI::Table::Component.new(records: collection, cache_key: "admin-users", bordered: true)) do |table| %>
  <% table.with_column(sortable: render_sortable ? "created_at" : nil, label: "Created") do |user| %>
    <span class="localizeTime"><%= helpers.l user.created_at, format: :convert_time %></span>
  <% end %>

  <% table.with_column(sortable: render_sortable ? "updated_at" : nil, label: "Updated", classes: "only-dev-visible tw:text-xs") do |user| %>
    <small class="localizeTime"><%= helpers.l user.updated_at, format: :convert_time %></small>
  <% end %>

  <% table.with_column(sortable: render_sortable ? "deleted_at" : nil, label: "Deleted", classes: "deleted-cell tw:text-xs") do |user| %>
    <% if user.deleted_at.present? %>
      <span class="localizeTime tw:text-red-600"><%= helpers.l user.deleted_at, format: :convert_time %></span>
    <% end %>
  <% end %>

  <% table.with_column(sortable: render_sortable ? "email" : nil, label: "Email") do |user| %>
    <%= render Admin::UserCell::Component.new(email: user.email, user:, render_search: false) %>
    <small class="tw:text-gray-400">&nbsp;<%= user.id %></small>
  <% end %>

  <% table.with_column(label: "Secondary Emails") do |user| %>
    <small class="tw:text-gray-400"><%= user.secondary_emails.join(", ") %></small>
  <% end %>

  <% table.with_column(label: "Name") do |user| %>
    <%= user.name if user.name? %>
  <% end %>

  <% table.with_column(label: "Bikes") do |user| %>
    <%= number_display(user.ownerships.count) %>
  <% end %>

  <% table.with_column(label: "OrganizationRoles") do |user| %>
    <% if user.organization_roles.present? %>
      <% visible_roles = user.organization_roles.reject { |or_role| or_role.organization.ambassador? } %>
      <% visible_roles.each_with_index do |organization_role, i| %>
        <% if i > 0 %><small class="tw:text-gray-400">|</small><% end %>
        <%= helpers.link_to organization_role.organization.name.gsub(" ", "\u00a0"), helpers.admin_users_path(organization_id: organization_role.organization_id), class: "small" %>
      <% end %>
    <% end %>
  <% end %>

  <% table.with_column(label: "Ambassador tasks", classes: "tw:text-xs") do |user| %>
    <% if user.ambassador? %>
      <%= number_display(Ambassador.find(user.id).progress_count) %>
    <% end %>
  <% end %>

  <% table.with_column(label: "Admin?") do |user| %>
    <small>
      <%= "super" if user.superuser? %>
      <%= "developer" if user.developer? %>
      <% if user.superuser_abilities.non_universal.any? %>
        <span class="tw:text-blue-500">limited</span>
      <% end %>
    </small>
  <% end %>

  <% table.with_column(label: "Confirmed", classes: "tw:text-xs") do |user| %>
    <%= check_mark if user.confirmed %>
  <% end %>
<% end %>
