%h1
  Editing #{@user.email}
  - if @user.donor?
    <span class="donor-icon">D</span>

%h3
  Donations
%section.full-screen-table{ style: 'padding-top: 0;' }
  %table.table.table-striped.table-bordered
    %thead
      %th
        Date
      %th
        Amount
      %th
        Payment?
    - @user.payments.each do |payment|
      %tr
        %td
          = admin_display_date(payment.created_at)
        %td
          = payment.amount.to_i/100.00
        %td
          = "&#x2713;".html_safe if payment.is_payment

.row-fluid
  .span6.padded
    = render partial: "form"


- if @bikes.present?
  %h2.pull-left
    = pluralize(@bikes.total_count, "Bike")
  .paginate-container
    = paginate @bikes
  %h3.padded
    %span
      #{@user.email}
    Bikes
  %ul
    - @bikes.decorate.each do |bike|
      - display = bike.title
      - display = "#{display} (hidden)" if bike.hidden
      - display = "#{display} (example)" if bike.example

      %li
        = link_to display, edit_admin_bike_url(bike)

%h3.padded
  %span
    #{@user.email}
  ownerships
- if @ownerships.present?
  %h2.pull-left
    = pluralize(@ownerships.total_count, "Ownership")
  %section.full-screen-table
    %table.table.table-striped.table-bordered
      %thead
        %th
          ID
        %th
          Date Created
        %th
          Creator
        %th
          Owner email
        %th
          Current?
      %tbody
        - @ownerships.each do |ownership|
          %tr
            %td
              = link_to ownership.id, edit_admin_ownership_url(ownership.id)
            %td
              = admin_display_date(ownership.created_at)
            %td
              - u = ownership.creator
              - if u.name.present?
                = u.name
              - else
                = u.email
            %td
              = ownership.owner_email
            %td.table-cell-check
              = "&#x2713;".html_safe if ownership.current
  .paginate-container
    = paginate @ownerships
- else
  %p
    #{@user.email} has no Bikes

- if @user.user_emails.count > 1
  %h2 User emails
  %section.full-screen-table
    %table.table.table-striped.table-bordered
      %thead
        %th
          Date Created
        %th
          Confirmed
        %th
          Primary
        %th
          Old User Id
      %tbody
        - @user.user_emails.each do |user_email|
          %tr
            %td
              .less-strong-hold
                %span.less-strong-right.medium-screens
                  = user_email.id
              = admin_display_date(user_email.created_at)
            %td
              = "&#x2713;".html_safe if user_email.confirmed
            %td
              = "&#x2713;".html_safe if user_email.primary
            %td
              = user_email.old_user_id

.actions.padded
  = link_to "Delete #{@user.email}!", admin_user_url(@user), method: :delete, confirm: "Are you sure?", class: "button-red"
