.row
  .col-md-6
    %h1
      Editing #{@user.email}
    %table.table-list
      %tbody
        %tr
          %td
            Donor
          %td
            - if @user.donor?
              <span class="donor-icon">D</span>
            - if @user.paid_org?
              <span class="paid-org-icon">O</span>
        %tr
          %td
            Email: Newsletters
          %td
            = "&#x2713;".html_safe if @user.notification_newsletters
        %tr
          %td
            Email: Unstolen
          %td
            = "&#x2713;".html_safe if @user.notification_unstolen
        %tr
          %td
            Created
          %td.convertTime
            = l @user.created_at, format: :convert_time
        %tr
          %td
            Updated
          %td.convertTime
            = l @user.updated_at, format: :convert_time
  .col-md-6.mt-auto
    - if @user.avatar?
      = @user.avatar
    %table.table-list
      %tr
        %td
          Ambassador?
        %td
          %strong
            = @user.ambassador?
      %tr
        %td
          Name
        %td
          = @user.name
      %tr
        %td
          Phone
        %td
          = @user.phone
      %tr
        %td
          Website
        %td
          = @user.website
      %tr
        %td
          City
        %td
          = @user.city

= form_for [:admin, @user] do |f|
  - if @user.errors.any?
    = render partial: "/shared/errors", locals: { name: "User", obj: @user }
  .row.mt-4
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
    .col-md-6
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control"
  .row
    .col-md-6
      .form-group
        = f.label :username
        = f.text_field :username, class: "form-control"
      .form-group
        .form-check.form-check-inline
          = f.check_box :confirmed, disabled: @user.confirmed, class: "form-check-input"
          = f.label :confirmed, class: "form-check-label"
        .form-check.form-check-inline
          = f.check_box :banned, class: "form-check-input"
          = f.label :banned, class: "form-check-label"
      .form-group
        .form-check.form-check-inline
          = f.check_box :superuser, class: "form-check-input"
          = f.label :superuser, class: "form-check-label"
        - if current_user.developer?
          .form-check.form-check-inline
            = f.check_box :developer, class: "form-check-input"
            = f.label :developer, class: "form-check-label"
      .form-group
        .form-check.form-check-inline
          = f.check_box :can_send_many_stolen_notifications, class: "form-check-input"
          = f.label :can_send_many_stolen_notifications, class: "form-check-label"
    .col-md-6
      .form-group
        = f.label :secondary_emails
        = text_area_tag :secondary_emails, @user.secondary_emails.join(", "), disabled: true, rows: 2, class: "form-control"



  .row.justify-content-end.mt-4
    .col-auto
      = f.submit 'Save', class: 'btn btn-success'
- if @user.ambassador?
  %h2 Ambassador Tasks
  - ambassador = Ambassador.find(@user.id)
  %p
    %strong= "#{ambassador.progress_count} complete"

  %table.table.table-striped.table-bordered.ambassador-tasks-table
    %thead.small-header.thead-light
      %tr
        %th Task
        %th Completed at
    %tbody
      - ambassador.ambassador_task_assignments.each do |task|
        %tr
          %td
            %strong= task.title
          %td
            - if task.completed_at
              %span.convertTime= l task.completed_at, format: :convert_time
.mt-4
%h3
  Bikes
= render partial: "admin/bikes/admin_bikes_table", locals: {bikes: @bikes}

%h3
  Donations
.full-screen-table
  %table.table.table-striped.table-bordered
    %thead.thead-light
      %th
        Date
      %th
        Amount
      %th
        Payment?
    - @user.payments.reorder(created_at: :desc).each do |payment|
      %tr
        %td
          %span.convertTime
            = l payment.created_at, format: :convert_time
          %small.convertTimezone
        %td
          = payment.amount
        %td
          = "&#x2713;".html_safe if payment.is_payment

- if @user.memberships.count > 0
  .full-screen-table
    %h2.mt-4
      = @user.memberships.count
      Current memberships
    %table.table.table-striped.table-bordered
      %thead.thead-light
        %th
          Id&nbsp;
        %th.d-none.d-lg-table-cell
          Created&nbsp;<small class="convertTimezone"></small>
        %th
          Email
        %th
          Organization
        %th.d-none.d-xl-table-cell
          Management links
      %tbody
        - @user.memberships.each do |membership|
          %tr
            %td
              = link_to membership.id, admin_membership_url(membership)
            %td.d-none.d-lg-table-cell
              %span.convertTime
                = l membership.created_at, format: :convert_time
            %td
              = membership.user.email
            %td
              = link_to membership.organization.name, admin_organization_path(membership.organization)
            %td.d-none.d-xl-table-cell
              #{link_to 'Edit', edit_admin_membership_url(membership)}

- if @user.user_emails.count > 1
  %h2 User emails
  .full-screen-table
    %table.table.table-striped.table-bordered
      %thead
        %th
          Created&nbsp;<small class="convertTimezone"></small>
        %th
          Confirmed
        %th
          Primary
        %th
          Old User Id
      %tbody
        - @user.user_emails.each do |user_email|
          %tr
            %td
              .less-strong-hold
                %span.less-strong-right.medium-screens
                  = user_email.id
              %span.convertTime
                = l user_email.created_at, format: :convert_time
            %td
              = "&#x2713;".html_safe if user_email.confirmed
            %td
              = "&#x2713;".html_safe if user_email.primary
            %td
              = user_email.old_user_id


.mt-4.mb-4.row.justify-content-end
  .col-auto
    = link_to "Delete #{@user.email}!", admin_user_url(@user), method: :delete, confirm: "Are you sure?", class: "btn btn-danger"
