%h1
  Manage #{link_to "users", admin_users_path}

.special-search-field-container
  .special-search-field
    = form_tag admin_users_path, method: :get do
      = text_field_tag :user_query, params[:user_query], placeholder: "Find by name or email"
      = submit_tag "Search", name: "search", class: "button-blue"

  %h4
    #{number_with_delimiter(@user_count)} users
    = params[:user_query].present? ? 'matching query' : 'have signed up'

.pull-right
  #{link_to "Superusers", admin_users_path(superusers: true)}|#{link_to "content admins", admin_users_path(content_admins: true)}
- if @users.present?
  .paginate-container
    = paginate @users

  %table.table.table-striped.table-bordered
    = render partial: "/admin/users/table"

  .paginate-container
    = paginate @users
- else
  %h1.padded
    No users found!
