.admin-subnav
  .col-5
    %h1
      Manage
    - if current_user.developer?
      %em.less-strong.only-dev-visible
        current_user ##{current_user.id}
  .col-7
    %ul
      %li.nav-item
        - ambassadors_search_params = sortable_search_params.merge(search_ambassadors: !@search_ambassadors)
        = link_to "Ambassadors", admin_users_path(ambassadors_search_params), class: @search_ambassadors ? "nav-link active" : "nav-link"
      %li.nav-item
        - superusers_search_params = sortable_search_params.merge(search_superusers: !@search_superusers)
        = link_to "Superusers", admin_users_path(superusers_search_params), class: @search_superusers ? "nav-link active" : "nav-link"
      %li.nav-item
        = link_to "graph", admin_users_path(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"
  - if current_organization.present?
    %p.subtitle
      #{link_to current_organization.name, admin_organization_path(current_organization.to_param)} Users
      %em.small
        = link_to "without organization", admin_users_path(sortable_search_params.except(:organization_id)), class: "gray-link"

- if @render_chart
  = column_chart time_range_counts(collection: matching_users), stacked: true, thousands: ",", defer: true

.mt-2
  = render partial: "/shared/period_select"

.row.mt-4
  .col-md-5
    %p
      #{number_with_delimiter(matching_users.count)} matching users
      %em
        = humanized_time_range(@time_range)
  .col-md-7
    = form_tag admin_users_path, method: :get, class: "form-inline" do
      = hidden_field_tag :sort, sort_column
      = hidden_field_tag :sort_direction, sort_direction
      = hidden_field_tag :search_ambassadors, params[:search_ambassadors]
      = hidden_field_tag :search_superusers, params[:search_superusers]
      = hidden_field_tag :organization_id, params[:organization_id]
      .form-group.ml-auto.mr-2.mb-2
        = text_field_tag :query, params[:query], placeholder: "Find by name or email", class: "form-control"
      = submit_tag "Search", name: "search", class: "btn btn-primary mb-2"

.mt-4
= paginate @users, views_prefix: "admin"
= render partial: "/admin/users/table", locals: { render_sortable: true }
= paginate @users, views_prefix: "admin"
- unless @users.present?
  %h1.mt-4
    No users found!
