%h1
  Manage
  = link_to "users", admin_users_path

  %h4
    #{number_with_delimiter(@user_count)} users
    = params[:user_query].present? ? 'matching query' : 'have signed up'

.pull-right
  #{link_to "Superusers", admin_users_path(superusers: true)}
- if @users.present?
  .row
    .paginate-container.ml-auto
      = paginate @users, views_prefix: "admin"

  = render partial: "/admin/users/table"

  .row
    .paginate-container.ml-auto
      = paginate @users, views_prefix: "admin"
- else
  %h1.padded
    No users found!
