%h1
  Manage #{link_to "users", admin_users_path}

.special-search-field-container
  .special-search-field
    = form_tag admin_users_path, method: :get do
      = text_field_tag :user_query, params[:user_query], placeholder: "Find by name or email"
      = submit_tag "Search", name: "search", class: "button-blue"

  %h4
    #{number_with_delimiter(@user_count)} users
    = params[:user_query].present? ? 'matching query' : 'have signed up'

.pull-right
  #{link_to "Superusers", admin_users_path(superusers: true)}|#{link_to "content admins", admin_users_path(content_admins: true)}
- if @users.present?
  .paginate-container
    = paginate @users
  %section.full-screen-table
    %table.table.table-striped.table-bordered
      %thead
        %th
          Email
        %th.medium-screens
          Secondary Emails
        %th.medium-screens
          Created
        %th.large-screens
          Name
        %th
          Bikes
        %th.medium-screens
          Memberships
        %th.large-screens
          Admin?
        %th.large-screens
          Confirmed
      %tbody
        - @users.each do |user|
          %tr
            %td
              .less-strong-hold
                = link_to user.email, edit_admin_user_url(user)
                - if user.donor?
                  <span class="donor-icon">D</span>
                %span.less-strong-right
                  = user.id
            %td.medium-screens
              %small.less-strong
                = user.secondary_emails.join(', ')
            %td.medium-screens
              - if user.created_at.today?
                %span.hidden
                  = user.created_at.strftime("%-m.%-d.%Y %-H.%M")
                Today at #{user.created_at.strftime("%-I %p")}
              - elsif Date.yesterday().beginning_of_day() <= user.created_at
                %span.hidden
                  = user.created_at.strftime("%-m.%-d.%Y %-H.%M")
                Yesterday at #{user.created_at.strftime("%-I %p")}
              - else
                %span.hidden
                  = user.created_at.strftime("%-m.%-d.%Y %-H.%M")
                = user.created_at.strftime("%-m/%-d/%Y at %-I %p")
            %td.large-screens
              - if user.name?
                = user.name
            %td
              = user.ownerships.count
            %td.medium-screens
              - if user.memberships.present?
                - user.memberships.each do |membership|
                  = link_to "#{membership.organization.name} ", admin_membership_url(membership)
            %td.large-screens
              = "super" if user.superuser?
              = "content" if user.content?
            %td.large-screens.table-cell-check
              = "&#x2713;".html_safe if user.confirmed

  .paginate-container
    = paginate @users
- else
  %h1.padded
    No users found!
