.admin-subnav
  .col-5
    %h1
      Manage
      - if display_dev_info?
        %small.less-strong.only-dev-visible{ style: "font-size: 50%;" }
          current_user id:
          = link_to current_user.id, admin_user_path(current_user)
  .col-7
    %ul
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", class: (@invalid != invalid_user_options.first ? "active" : "")}
          = @invalid.titleize
        .dropdown-menu
          - invalid_user_options.each do |kind|
            = link_to kind.titleize, url_for(sortable_search_params.merge(search_invalid: kind)), class: "dropdown-item #{@invalid == kind ? 'active' : ''}"
      %li.nav-item
        = link_to "Un", url_for(sortable_search_params.merge(search_unconfirmed: !@search_unconfirmed, search_confirmed: false)), class: "d-inline-block pr-1 #{@search_unconfirmed ? 'nav-link active' : 'nav-link'}"
        \/
        = link_to "confirmed", url_for(sortable_search_params.merge(search_confirmed: !@search_confirmed, search_unconfirmed: false)), class: "d-inline-block pl-1 #{@search_confirmed ? 'nav-link active' : 'nav-link'}"
      %li.nav-item
        = link_to "Ambassadors", url_for(sortable_search_params.merge(search_ambassadors: !@search_ambassadors)), class: @search_ambassadors ? "nav-link active" : "nav-link"
      %li.nav-item
        = link_to "Superusers", url_for(sortable_search_params.merge(search_superusers: !@search_superusers)), class: @search_superusers ? "nav-link active" : "nav-link"
      %li.nav-item
        = link_to "graph", url_for(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"

  = render Admin::CurrentHeader::Component.new(params:, viewing: "Users", user: @user, bike: @bike, marketplace_listing: @marketplace_listing, primary_activity: @primary_activity, current_organization:)

- if @render_chart
  = column_chart time_range_counts(collection: matching_users, column: @time_range_column), stacked: true, thousands: ","

.mt-2
  = render partial: "/shared/period_select"

= form_tag admin_users_path, method: :get do
  = render partial: "/shared/hidden_search_fields"
  = hidden_field_tag :search_ambassadors, params[:search_ambassadors]
  = hidden_field_tag :search_superusers, params[:search_superusers]
  = hidden_field_tag :search_invalid, params[:search_invalid]
  = hidden_field_tag :search_confirmed, params[:search_confirmed]
  = hidden_field_tag :search_unconfirmed, params[:search_unconfirmed]
  .mt-4.mb-4.d-flex.justify-content-md-end.flex-wrap
    - if display_dev_info?
      .mt-2.mr-2.only-dev-visible
        = text_field_tag :search_domain, params[:search_domain], placeholder: "search email domain", class: "form-control"
    .mt-2.mr-2
      = text_field_tag :search_phone, params[:search_phone], placeholder: "Find by phone", class: "form-control"
    .mt-2.mr-2
      = text_field_tag :query, params[:query], placeholder: "Find by name or email", class: "form-control"
    .mt-2.mr-2
      = submit_tag "Search", name: "search", class: "btn btn-primary"

- if @deleted
  .row
    .col-sm-10.offset-sm-1.col-md-6.offset-md-3
      .alert.alert-info.mt-1.mb-1
        %p
          Account deletion was added because it's a requirement for the iOS app store. Right now, admins can't delete users, they must delete themselves.
- show_uncofirmed_count = params[:search_domain].present? && !@search_unconfirmed && !@search_confirmed
- if show_uncofirmed_count
  %strong
    = number_with_delimiter(matching_users.unconfirmed.size)
  unconfirmed users
= render partial: "/shared/admin/pagination", locals: {collection: @users, viewing: "User", count: matching_users.size}
= render partial: "/admin/users/table", locals: {render_sortable: true, render_deleted: @deleted}
= render partial: "/shared/admin/pagination", locals: {collection: @users, viewing: "User", skip_total: true}

- unless @users.present?
  %h1.mt-4
    No users found!
