<div class="admin-subnav">
  <div class="col-md-12">
    <h1>Strava Integration</h1>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <table class="table-list">
      <tbody>
        <% if display_dev_info? %>
          <tr>
            <td class="only-dev-visible">ID</td>

            <td>
              <code><%= @strava_integration.id %></code>

              <small class="less-strong tw:ml-2">
                Strava ID: <code><%= @strava_integration.strava_id %></code>
              </small>
            </td>
          </tr>
        <% end %>

        <tr>
          <td>User</td>

          <td>
            <%= render Admin::UserCell::Component.new(user: @strava_integration.user, user_id: @strava_integration.user_id) %>
          </td>
        </tr>

        <tr>
          <td>Strava ID</td>
          <td><%= number_display(@strava_integration.strava_id) %></td>
        </tr>

        <tr>
          <td>Created</td>

          <td>
            <span class="localizeTime preciseTime">
              <%= l @strava_integration.created_at, format: :convert_time %>
            </span>
          </td>
        </tr>

        <tr class="small">
          <td>Updated</td>

          <td>
            <span class="localizeTime preciseTime">
              <%= l @strava_integration.updated_at, format: :convert_time %>
            </span>
          </td>
        </tr>

        <tr>
          <td>Last Page 1 request</td>

          <td>
            <% if @strava_integration.last_updated_activities_at.present? %>
              <span class="localizeTime preciseTime">
                <%= l @strava_integration.last_updated_activities_at, format: :convert_time %>
              </span>
            <% end %>
          </td>
        </tr>

        <% if @strava_integration.deleted_at.present? %>
          <tr class="small">
            <td>Deleted</td>

            <td>
              <span class="localizeTime preciseTime text-danger">
                <%= l @strava_integration.deleted_at, format: :convert_time %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table-list">
      <tbody>
        <tr>
          <td>Status</td>

          <td>
            <%# duplicated in strava_integrations/table %>
            <% if @strava_integration.synced? %>
              <span class="text-success">
                <%= @strava_integration.status %>
              </span>
            <% elsif @strava_integration.error? %>
              <span class="text-danger"><%= @strava_integration.status %></span>
            <% else %>
              <small><%= @strava_integration.status %></small>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>Activities</td>

          <td>
            <%= link_to admin_strava_activities_path(search_strava_integration_id: @strava_integration.id) do %>
              <%= number_display(@strava_integration.activities_downloaded_count) %>
            <% end %>

            <% if @strava_integration.athlete_activity_count %>
              /
              <small title="Strava Athlete Activity count">
                <%= number_display(@strava_integration.athlete_activity_count) %>
              </small>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>Sync Progress</td>

          <td>
            <%= @strava_integration.sync_progress_percent %>%
            <span class="less-strong tw:ml-2"><%= number_display(@strava_integration.strava_activities.enriched.count) %> / <%= number_display(@strava_integration.activities_downloaded_count) %> enriched</span>
          </td>
        </tr>

        <tr>
          <td>Most recent proxy</td>

          <td>
            <% most_recent_proxy_at = StravaRequest.most_recent_proxy_at(@strava_integration.id) %>

            <% if most_recent_proxy_at.present? %>
              <span class="localizeTime preciseTime">
                <%= l most_recent_proxy_at, format: :convert_time %>
              </span>
            <% else %>
              <small class="less-strong">no proxy requests</small>
            <% end %>

            <small class="tw:ml-1">
              priority multiplier:
              <code><%= StravaJobs::ScheduledRequestPriorityUpdator.priority_multiplier(@strava_integration.id) %></code>
            </small>
          </td>
        </tr>

        <tr>
          <td>Permissions</td>

          <td>
            <code><%= @strava_integration.strava_permissions %></code>

            <% if @strava_integration.permissions_less? %>
              <%= render UI::Badge::Component.new(text: "less than default", color: :error, size: :sm) %>
            <% elsif @strava_integration.permissions_strava_search_default? %>
              <%= render UI::Badge::Component.new(text: "Strava Search default", color: :success, size: :sm) %>
            <% elsif @strava_integration.permissions_more? %>
              <%= render UI::Badge::Component.new(text: "more than default", color: :notice, size: :sm) %>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>Requests</td>

          <td>
            <%= link_to admin_strava_requests_path(search_strava_integration_id: @strava_integration.id) do %>
              <% strava_requests_count = @strava_integration.strava_requests.count %>
              <%= number_display(strava_requests_count) %>
              <%= "Strava Requests".pluralize(strava_requests_count) %>
            <% end %>

            <small class="tw:ml-2">
              Last successful request:
              <% last_requested_at = @strava_integration.strava_requests.maximum(:requested_at) %>
              <% if last_requested_at %>
                <span class="localizeTime preciseTime">
                  <%= l last_requested_at, format: :convert_time %>
                </span>
              <% end %>
            </small>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% unknown_gear = @strava_integration.unknown_gear_ids %>

<% if @strava_integration.strava_gears.any? || unknown_gear %>
  <div class="row mt-4">
    <div class="col-md-12">
      <h4>
        <%= link_to admin_strava_gears_path(search_strava_integration_id: @strava_integration.id) do %>
          Strava Gear
          (<%= number_display(@strava_integration.strava_gears.count) %>)
        <% end %>

        <% if unknown_gear.present? %>
          <small class="tw:mt-2 tw:mb-4 tw:block">
            <span class="text-warning">Unknown gear IDs:</span>
            <%= unknown_gear.join(", ") %>
          </small>
        <% end %>
      </h4>

      <% {bike: "Bikes", shoe: "Shoes"}.each do |gear_type, gear_type_label| %>
        <% gears = @strava_integration.strava_gears.select { |g| g.gear_type == gear_type.to_s }.sort_by { |g| g.strava_gear_display_name.downcase } %>
        <% next if gears.empty? %>

        <h5 class="mt-3"><%= gear_type_label %></h5>

        <%= render partial: "admin/strava_gears/table", locals: {collection: gears, skip_strava_integration: true} %>
      <% end %>
    </div>
  </div>
<% end %>
