<%= tag.div(data: wrapper_data_attributes) do %>
  <% if @skip_search_and_filters %>
    <%= render(settings_component) unless @skip_settings %>
  <% else %>
    <div class="mb-4">
      <%= render(Search::FormOrganized::Component.new(
        target_search_path: organization_bikes_path(organization_id: @organization.to_param),
        interpreted_params: @interpreted_params,
        settings_component: @skip_settings ? nil : settings_component
      )) %>
    </div>
  <% end %>

  <div class="tw:mt-4 tw:flex tw:items-baseline tw:justify-between">
    <p class="tw:mb-0">
      <% bikes_count = number_display(@pagy.count) %>

      <% if show_search_query_summary? %>
        <%= translation(".matching_bikes_html",
            count: bikes_count, cycle_type: cycle_type.pluralize(@pagy.count)) %>
      <% else %>
        <%= translation(".registered_bikes_html",
            count: bikes_count, cycle_type: cycle_type.pluralize(@pagy.count),
            org_name: @organization.short_name) %>
      <% end %>

      <% if active_search_filter_descriptions.any? %>
        <em>— <%= safe_join(active_search_filter_descriptions, " · ") %></em>
      <% end %>

      <em><%= helpers.humanized_time_range(@time_range) %></em>
    </p>
  </div>

  <% unless @skip_search_and_filters %>
    <% if @model_audit.present? %>
      <p class="mt-0">
        <%= translation(".e_vehicles_for_audit") %>
        <a class="gray-link" href="<%= organization_model_audit_path(@model_audit.to_param, organization_id: @organization.to_param) %>"><%= model_audit_display(@model_audit) %></a>
        &nbsp;
        <%= link_to translation(".view_matching_any_audit"),
            url_for(@sortable_search_params.merge(search_model_audit_id: nil)),
            class: "gray-link small" %>
      </p>
    <% end %>
  <% end %>

  <%# Always make it overflow, better aesthetics %>
  <div class="stimulus-full-screen-table full-screen-table-overflown tw:md:px-4">
    <table
      class="
        table table-striped table-hover table-bordered table-sm
        without-exterior-border
      "
    >
      <thead class="small-header sortable">
        <tr>
          <th class="hiddenColumn url_cell"><%= translation(".url") %></th>

          <th class="hiddenColumn created_at_cell">
            <%= sortable("id", translation(".registered")) %>
          </th>

          <th class="hiddenColumn updated_at_cell">
            <%= sortable("updated_by_user_at", translation(".updated")) %>
          </th>

          <th class="hiddenColumn stolen_cell">
            <small><%= translation(".stolen") %></small>
          </th>

          <th class="hiddenColumn serial_number_cell">
            <%= translation(".serial") %>
          </th>

          <th class="hiddenColumn propulsion_type_cell">
            <%= sortable("propulsion_type", translation(".propulsion_type")) %>
          </th>

          <th class="hiddenColumn cycle_type_cell">
            <%= sortable("cycle_type", translation(".vehicle_type")) %>
          </th>

          <th class="hiddenColumn manufacturer_cell">
            <%= sortable("mnfg_name", translation(".manufacturer")) %>
          </th>

          <th class="hiddenColumn model_cell">
            <%= sortable("frame_model", translation(".model")) %>
          </th>

          <th class="hiddenColumn color_cell"><%= translation(".color") %></th>

          <th class="hiddenColumn owner_email_cell">
            <small class="hidden-sm-up">
              <%= translation(".mfg_model_color_html") %>
              <br>
            </small>

            <%= sortable("owner_email", translation(".sent_to")) %>
          </th>

          <th class="hiddenColumn creation_description_cell">
            <%= translation(".source") %>
          </th>

          <th class="hiddenColumn owner_name_cell">
            <small><%= translation(".owner_name") %></small>
          </th>

          <th class="hiddenColumn status_cell">
            <small><%= translation(".status_cell") %></small>
          </th>

          <% if @organization.enabled?("registration_notes") %>
            <th class="hiddenColumn notes_cell">
              <%= translation(".notes") %>
            </th>
          <% end %>

          <% additional_registration_fields.each do |reg_field| %>
            <% next if reg_field == "extra_registration_number" %>

            <th class="hiddenColumn <%= "#{reg_field}_cell" %>">
              <%= column_renames[:"#{reg_field}_cell"] %>
            </th>
          <% end %>

          <%# All organizations can see additional serial# %>
          <th class="hiddenColumn extra_registration_number_cell">
            <%= translation(".secondary_number") %>
          </th>

          <% if @organization.enabled?("bike_stickers") %>
            <th class="hiddenColumn sticker_cell">
              <%= translation(".sticker") %>
            </th>
            <% if @bike_sticker.present? %>
              <th><%= translation(".link") %></th>
            <% end %>
          <% end %>

          <% if @organization.enabled?("impound_bikes") %>
            <th class="hiddenColumn impounded_cell">
              <%= translation(".impounded") %>
            </th>
          <% end %>

          <% if show_avery_export? %>
            <th class="hiddenColumn avery_cell">
              <%= translation(".avery") %>
            </th>
          <% end %>
        </tr>
      </thead>

      <tbody
        data-controller="update-cached-sortable-links"
        data-update-cached-sortable-links-base-url-value="<%= url_for(@sortable_search_params.merge(organization_id: @organization.to_param)) %>"
      >
        <%= content %>
      </tbody>
    </table>
  </div>

  <% if show_pagination? %>
    <div class="paginate-container paginate-container-bottom row">
      <div class="col-md-8 mb-2 mt-4">
        <%= render(Pagination::Component.new(pagy: @pagy, page_params: @params, size: :lg, data: {turbo_action: "advance"})) %>
      </div>

      <div class="col-md-4 text-right">
        <%= select_tag :per_page_select,
          options_for_select(
            [10, 25, 50, 100].map { |i| ["#{i} #{cycle_type.pluralize(10)} per page", i] },
            selected: @per_page
          ),
          class: "form-control d-inline-block",
          style: "width: 100%; max-width: 15rem; margin-top:15px;",
          data: {
            org__bike_search_target: "perPage",
            action: "change->org--bike-search#perPageChanged"
          } %>
      </div>
    </div>
  <% end %>
<% end %>
