= form_for [:admin, @content_tag] do |f|
  = render(UI::AlertForErrors::Component.new(object: @content_tag))

  .row
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
    .col-md-6
      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control"
    .col-md-6
      .form-group
        = f.label :priority
        = f.number_field :priority, class: "form-control"

  = f.submit (@content_tag.id.present? ? "Update" : "Create"), class: 'btn btn-success'
