.admin-subnav
  .col-lg-10.col-sm-12
    %h1 Content Tag
  .col-lg-2.col-sm-12
    = link_to "New tag", new_admin_content_tag_url, class: "btn btn-success float-right"

= render partial: "/shared/admin/pagination", locals: {collection: @content_tags}

.full-screen-table
  %table.table.table-striped.table-bordered.table-sm
    %thead.thead-light
      %th
        = sortable "created_at", "Added"
      %th.small
        = sortable "updated_at"
      %th
        = sortable "name"
      %th
        = sortable "priority"
      %th
        Blogs
    %tbody
      - @content_tags.each do |content_tag|
        %tr
          %td
            %span.convertTime
              = l content_tag.created_at, format: :convert_time
            - if display_dev_info?
              %code.only-dev-visible= content_tag.id
          %td
            %small.convertTime
              = l content_tag.updated_at, format: :convert_time
          %td
            = link_to content_tag.name, edit_admin_content_tag_url(content_tag)
          %td
            %small
              = content_tag.priority
          %td
            = number_display(content_tag.blogs.count)
