.admin-subnav
  .col-md-5
    %h1
      Model Audits
  .col-md-7
    %ul
      %li.nav-item
        = link_to "Mnfg Other", url_for(sortable_search_params.merge(search_mnfg_other: !@mnfg_other)), class: "nav-link #{@mnfg_other ? 'active' : ''}"
      %li.nav-item
        = link_to "graph", url_for(sortable_search_params.merge(render_chart: !@render_chart)), class: "nav-link #{@render_chart ? 'active' : ''}"

  = render partial: "/shared/admin/current_header"

- if @render_chart
  = column_chart time_range_counts(collection: matching_model_audits, column: @time_range_column), stacked: true, thousands: ","

.mt-2
  = render partial: "/shared/period_select"

.mt-4
= form_tag admin_model_audits_path, method: :get do
  = render partial: "/shared/hidden_search_fields"
  = hidden_field_tag :search_mnfg_name, params[:search_mnfg_name]
  .mt-4.mb-4.d-flex.justify-content-md-end.flex-wrap
    .mt-2.mr-2
      = text_field_tag :search_mnfg_name, params[:search_mnfg_name], placeholder: "Manufacturer", class: "form-control", style: ""
    .mt-2.mr-2
      = text_field_tag :search_frame_model, params[:search_frame_model], placeholder: "Frame model", class: "form-control", style: ""
    .mt-2.mr-2
      = submit_tag "Search", name: "search", class: "btn btn-primary"

= render partial: "/shared/pagination", locals: {collection: @model_audits}

- unless display_dev_info?
  <style>.only-dev-visible {display: none !important;} </style>

- skip_manufacturer_search ||= false
- org_ids = OrganizationModelAudit.distinct.pluck(:organization_id)
- org_names_hash = Organization.where(id: org_ids).pluck(:id, :short_name).to_h
.full-screen-table
  %table.table.table-striped.table-bordered.table-sm.without-exterior-border
    %thead.small-header
      %th.small
        = sortable "created_at"
      %th.small
        = sortable "updated_at"
      %th
        = sortable "mnfg_name", "Manufacturer"
      %th
        %small Mnfg other
      %th
        = sortable "frame_model", "Model"
      %th
        = sortable "bikes_count", "Vehicles #"
      %td
        Org vehicles
      %td
        Attestations
    %tbody
      - @model_audits.each do |model_audit|
        - cache(model_audit) do
          %tr
            %td
              %span.convertTime= l model_audit.created_at, format: :convert_time
              %code.small.only-dev-visible= model_audit.id
            %td.small
              %span.convertTime= l model_audit.updated_at, format: :convert_time
            %td
              = model_audit.mnfg_name
              - unless skip_manufacturer_search
                %small= link_to "🔎", url_for(sortable_search_params.merge(search_mnfg_name: model_audit.mnfg_name))
            %td.table-cell-check
              = check_mark if model_audit.manufacturer_other.present?
            %td
              = model_audit_frame_model_display(model_audit, truncate: true)
            %td
              = link_to admin_number_display(model_audit.bikes_count), admin_bikes_path(search_model_audit_id: model_audit.id)
            %td
              - model_audit.organization_model_audits.where.not(bikes_count: 0).pluck(:bikes_count, :organization_id).each do |bikes_count, org_id|
                %a.small{href: organization_model_audits_path(organization_id: org_id, model_audit_id: model_audit.id)}
                  #{org_names_hash[org_id]}:
                  = admin_number_display(bikes_count)

            %td
              =  admin_number_display(model_audit.model_attestations.count)



= render partial: "/shared/pagination", locals: {collection: @model_audits, skip_total: true}
