<% nav_header_list_items = capture do %>
  <li class="nav-item">
    <%= link_to "Mnfg Other", url_for(sortable_search_params.merge(search_mnfg_other: !@mnfg_other)), class: "nav-link #{@mnfg_other ? 'active' : ''}" %>
  </li>
<% end %>

<% admin_search_form = capture do %>
  <%= form_tag admin_model_audits_path, method: :get do %>
    <%= render partial: "/shared/hidden_search_fields" %>
    <%= hidden_field_tag :search_mnfg_name, params[:search_mnfg_name] %>

    <div class="mt-4 mb-4 d-flex justify-content-md-end flex-wrap">
      <div class="mt-2 mr-2">
        <%= text_field_tag :search_mnfg_name, params[:search_mnfg_name], placeholder: "Manufacturer", class: "form-control" %>
      </div>

      <div class="mt-2 mr-2">
        <%= text_field_tag :search_frame_model, params[:search_frame_model], placeholder: "Frame model", class: "form-control" %>
      </div>

      <div class="mt-2 mr-2">
        <%= submit_tag "Search", name: "search", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render(Admin::IndexSkeleton::Component.new(
  collection: @model_audits,
  viewing: "Model Audits",
  chart_collection: @render_chart && matching_model_audits,
  time_range_column: @time_range_column,
  nav_header_list_items:,
  admin_search_form:
)) %>
