.card.bg-light
  .card-body
    .UppyDragDrop-One
      = form_for PublicImage.new, html: {class: "UppyForm"} do |f|
        = hidden_field_tag :upload_plugin, "uppy"
        - if imageable_type == 'Blog'
          = hidden_field_tag :blog_id, @blog.id
        - elsif imageable_type == 'Organization'
          = hidden_field_tag :organization_id, @organization.id
        - elsif imageable_type == 'MailSnippet'
          = hidden_field_tag :mail_snippet_id, @mail_snippet.id
        = f.file_field :image, html: {name: "public_image[image]"}
    .UppyDragDrop-One-Progress
