<%= form_for PublicImage.new do |f| %>
  <div class="photo-upload-fields">
    <% if imageable_type == 'Blog' %>
      <%= hidden_field_tag :blog_id, @blog.id %>
    <% elsif imageable_type == 'Organization' %>
      <%= hidden_field_tag :organization_id, @organization.id %>
    <% elsif imageable_type == 'MailSnippet' %>
      <%= hidden_field_tag :mail_snippet_id, @mail_snippet.id %>
    <% end %>
    <div class="upload-buttons">
      <div class="multifilefield-button">
        Upload photos
        <%= f.file_field :image, multiple: true, name: "public_image[image]" %>
      </div>
      <!-- <p class="smaller-text">Use the shift key to select multiple photos</p> -->
    </div>
    <p class="extra-info">Drag and drop files here to or use the <em>Upload Photos</em> button.</p>
  </div>
<% end %>