= form_for @public_image do |f|
  - if @public_image.errors.any?
    #alert-block
      .alert-error
        %a.close{ herf: "#", data: {dismiss: "alert"}}
          x
        %h4
          - count = pluralize(@public_image.errors.count, t(".error"))
          = t(".errors_prevented_photo_from_saving", errors_count: count)
        %ul
          - @public_image.errors.full_messages.each do |msg|
            %li= msg

  %section.padded
    .form
      .control-group.padded
        = f.label :name, t(".image_name"), class: "control-label"
        .controls
          = f.text_field :name
      .clearfix
        .alert.alert-notice
          %p
            = t(".use_this_if_youd_like_to_attach_a_photo")
          .control-group.padded
            = f.label :is_private, class: "control-label" do
              = t(".do_not_display")
              %em= t(".no_one_will_be_able_to_see_this_image_exc")
              .controls
                = f.check_box :is_private
    .bibox-btn.padded
      = f.submit t(".save_image"), class: "button-green"
      = link_to t(".cancel_update"), edit_bike_url(@public_image.imageable), class: "button-red"
