<% if @public_image.new_record? %>
  alert("Failed to upload public_image: <%= j @public_image.errors.full_messages.join(', ').html_safe %>");
<% else %>
  <% if @public_image.imageable_type == 'Bike' %>
    item = "<li class='public_image' id='<%= @public_image.id %>'><div class='processing'>... processing</div>";
    item = item + "<img src='<%= @public_image.image_url %>'><div class='actions'>"
    item = item + "<a href='<%= edit_public_image_path(@public_image) %>' class='photo-edit'>Edit</a>"
    item = item + "<a href='<%= public_image_url(@public_image, return_url: edit_bike_url(@bike)) %>' class='photo-remove' data-method='delete' rel='nofollow'>Delete</a>"
    item = item + '</div></li>'
    $("#public_images").append(item);
  <% else %>
    $("#public_images").append("<%= j render(@public_image) %>");
  <% end %>
<% end %>
