<% if @public_image.name.present? %>
  <% name = @public_image.name %>
<% else %>
  <% name = translate_with_args(".bike_image") %>
<% end %>

<% if @public_image.imageable_type == "Blog" %>
  <% name = translate_with_args(".image_from", image_title: @public_image.imageable.title) %>
<% end %>

<h1><%= link_to name, polymorphic_path(@public_image.imageable) %></h1>

<%= image_tag @public_image.image_url(:large) %>

<% if @owner_viewing %>
  <div class="padded">
    <p class="padded"><%= translate_with_args(".looks_like_this_is_your_image") %></p>
    <p>
      <%= link_to translate_with_args(".edit"), edit_public_image_path(@public_image) %> |
      <%= link_to translate_with_args(".destroy"), @public_image, confirm: translate_with_args(".are_you_sure"), method: :delete %> |
      <%= link_to translate_with_args(".back_to_images"), public_images_path %>
    </p>
  </div>
<% end %>
