<% if publicImage.name.present? %>
  <% name = publicImage.name %>
<% else %>
  <% name = "Bike Image" %>
<% end %>
<% if publicImage.imageable_type == "Blog" %>
  <% name = "Image from #{publicImage.imageable.title}" %>
<% end %>
<h1><%= link_to name, polymorphic_path(publicImage.imageable) %></h1>

<%= image_tag publicImage.image_url(:large) %>
<% if @owner_viewing %>
  <div class="padded">
    <p class="padded">Looks like this is your image.</p>
    <p>
      <%= link_to "Edit", edit_publicImage_path(publicImage) %> |
      <%= link_to "Destroy", publicImage, confirm: 'Are you sure?', method: :delete %> |
      <%= link_to "Back to publicImages", publicImages_path %>
    </p>
  </div>
<% end %>