- if @locks.any?
  %header.with-subtitle
    %h3
      = t(".your_locks")
    %p.sharing-links
      = link_to t(".add_a_new_lock"), new_lock_url

- if @locks.any?
  %ul.lock-boxes
    - @locks.each do |lock|
      %li
        .blist-image-holder
          %a{href: "/locks/#{lock.id}"}
            = image_tag("locks/#{lock.lock_type.slug}.jpg")
        .blist-primary-group
          %dl.dl-horizontal
            = lock.dl_list_item(link_to(lock.lock_type_name, lock_url(lock)), t(".lock_type"))
            = lock.dl_list_item(lock.mnfg_name, t(".manufacturer"))
            = lock.dl_from_attribute("key_serial")
            = lock.dl_from_attribute("combination")
- else
  %h2= t(".save_information_about_your_bike_lock")
  %p= t(".lock_keys_often_have_serial_numbers_so_yo")
  %p= t(".if_you_want_you_can_save_serial_html")
  %p= t(".you_can_also_record_your_lock_html")
  %p
    %em= t(".any_lock_information_you_enter_on_bike_in")

  %p= link_to t(".save_information_about_a_lock"), new_lock_url, class: "button-blue"
