- if @locks.any?
  %header.with-subtitle
    %h3
      Your locks
    %p.sharing-links
      = link_to "Add a new lock", new_lock_url

- if @locks.any?
  %ul.lock-boxes
    - @locks.each do |lock|
      %li
        .blist-image-holder
          %a{href: "/locks/#{lock.id}"}
            %img{ src: "/assets/locks/#{lock.lock_type.slug}.jpg", alt: lock.lock_type.name} 
        .blist-primary-group
          .dl-holder
            %dl.dl-horizontal
              = link_to (lock.dl_list_item("Lock Type", lock.lock_type_name)), lock_url(lock)
              = link_to (lock.dl_list_item("Manufacturer", lock.mnfg_name)), lock_url(lock)
        .blist-info-group
          .dl-holder
            %dl.dl-horizontal
              = lock.dl_from_attribute("key_serial")
              = lock.dl_from_attribute("combination")
        
- else
  %h2
    Save information about your bike lock!
  %p
    Lock keys often have serial numbers, so you can order replacements if you lose the keys.
  %p
    If you want, you can 
    %strong
      save the serial numbers of your keys
    on the Bike Index&mdash;so you won't be out of luck if you lose them.
  %p
    You can also 
    %strong
      record your lock combinations.
  %p
    %em
      Any lock information you enter on the Bike Index is private and visible only to you.

  %p
    = link_to "Save information about a lock", new_lock_url, class: "button-blue"
