-# requires local organization or organization_id
- render_search ||= false
- organization_id ||= organization&.id

- if organization_id.present?
  - organization ||= Organization.unscoped.find_by(id: organization_id)

  = link_to admin_organization_path(organization_id) do
    - if organization.blank?
      %small.text-danger{title: organization_id} Missing organization
      %code.small= organization_id
    - elsif organization.deleted?
      %small
        %span.less-strong= organization.name
        - if organization.deleted?
          %span.text-danger deleted!
    - else
      = organization.name

  - if render_search
    = link_to search_emoji, url_for(sortable_search_params.merge(organization_id: organization_id)), class: "display-sortable-link small"
