
-# Requires collection
-# total_count is pagination method. Handle non-paginated collections, in case this is used to display count and time range
- count ||= defined?(@pagy.count) ? @pagy.count : collection.count

- skip_total ||= false
- skip_today ||= false
- skip_pagination ||= false
-# Override to enable converting "Created" to "Imported", etc
- humanized_time_range_column_override ||= nil
- viewing ||= (defined?(collection.table_name) ? collection.table_name.humanize : collection.first.class.table_name).humanize

.row.mt-4.mb-4
  - unless skip_total
    .col-md-5.mb-4
      %p.pagination-number.mb-0
        %strong= number_with_delimiter(count)
        Matching #{viewing.pluralize(count)}

        - if defined?(@time_range) && @period != "all"
          %em
            - if defined?(@time_range_column)
              %strong
                - if humanized_time_range_column_override.present?
                  = humanized_time_range_column_override
                - else
                  = humanized_time_range_column(@time_range_column)
            = humanized_time_range(@time_range)
        - elsif !skip_total && defined?(collection.total_count)
          %em.less-strong
            (#{number_with_delimiter(collection.where("#{collection.table_name}.#{@time_range_column || "created_at"} >= ?", Time.current.beginning_of_day).total_count)} today)
  - unless skip_pagination || !defined?(@pagy)
    %div{class: "tw:md:text-right tw:flex tw:flex-wrap tw:md:flex-nowrap tw:gap-4 #{(skip_total ? "col-12" : "col-md-7")}"}
      = render(Pagination::Component.new(pagy: @pagy, page_params: params))

      - per_pages = [10, 25, 50, 100, @per_page.to_i].uniq.sort
      -# Add -skiptotal onto id so that the JS can select it correctly for updating on change (otherwise there are two elements with the same ID)
      = select_tag :per_page_select, options_for_select(per_pages.map { |i| ["#{i} / page", i] }, selected: @per_page), {id: "per_page_select#{skip_total ? '-skiptotal' : ''}", class: "form-control d-inline-block", style: "margin-top: -6px; max-width: 8rem;"}
