
.edit-bike-fields#edit_additionals
  %header
    %h2
      Additional information
  .input-group
    .control-group
      = f.label :name, "Bike name", class: "control-label"
      .controls
        = f.text_field :name

  .input-group
    .control-group.large-text
      = f.label :description, "General description", class: "control-label"
      .controls
        = f.text_area :description, rows: 3, placeholder: "Say something more about your bike!"
  .input-group
    .control-group.large-text
      %label.control-label.unclickable
        = f.label :additional_registration, "Additional registration", class: "control-label"
      .controls
        = f.text_field :additional_registration, placeholder: "Enter a  registration number, if it exists"
  .input-group
    #normal-bike-location.control-group
      = f.label :zipcode, "Where is the #{@bike.type}?", class: "control-label"
      .controls
        = f.text_field :zipcode, placeholder: "Zipcode"
      .controls.extra-field.special-select-single
        = f.collection_select(:country_id, Country.all, :id, :name, prompt: "Choose country" )
      

  .input-group.special-select-single
    %a.bikeform-tip{role: "button", title: "Curious about handlebar types? Click here!!!", data: {toggle: "modal", target: "#handlebarTip"} }
      %span
        ?
    .control-group
      = f.label :handlebar_type_id, class: "control-label"
      .controls
        = collection_select( :bike, :handlebar_type_id, HandlebarType.all, :id, :name, label: "Handlebar Style", :required =>true, input_html: { class: "has-hidden-other" }, prompt: "Choose handlebar" )
      
  %fieldset.input-group.add-additional
    #has_multiples_parts{ data: {ids: Ctype.where(has_multiple: true).map(&:id).to_json}}
    = f.fields_for :components do |builder|
      = render '/bikes/bike_fields/component_fields', f: builder
    = link_to_add_components "Add a component", f, :components, "Frame and fork"

    
  .input-group.inform-save
    .controls
      = submit_tag "Save", class: "button-green submit-bike-update"