%fieldset.input-group.with-additional-block.add-component-fields
  %article
    .control-group.chosen-select.has-position-select{data: {other: Ctype.find_by_slug("other").id, hidden: ".hidden-ctype" }}
      = f.label :ctype_id, "Part type", class: "control-label"
      .controls.part-type-select
        = f.collection_select(:ctype_id, Ctype.all, :id, :name, :required =>true, prompt: "What type of part?" )
      .controls
        - position_visibility = "initially-hidden"
        - position_visibility = "" if f.object.front || f.object.rear
        .groupedbtn-group{ class: position_visibility, data:  { toggle: "buttons-radio" }}
          .btn-group
            %button.btn.ctype-position-both{ type: "button", :'data-position' => 'both' }
              Both
            %button.btn{ type: "button", :'data-position' => 'front', class: if f.object.front then 'active' end }
              Front
            %button.btn{ type: "button", :'data-position' => 'rear', class: if f.object.rear then 'active' end }
              Rear
          = f.hidden_field :front_or_rear, class: "front-or-rear"
    - other_show = ""
    - other_show = "other_present" if f.object.ctype_id == Ctype.find_by_slug("other").id
    .hidden-other.control-group.hidden-ctype{class: other_show }
      = f.label :ctype_other, "Other part type", class: "control-label"
      .controls
        = f.text_field :ctype_other

    .control-group.large-text.extra-field
      = f.label :description, "Part Description", class: "control-label"
      .controls
        = f.text_area :description, rows: 2

    .split-fields
      .control-group.chosen-select.extra-field{data: {other: Manufacturer.find_by_slug("other").id, hidden: ".hidden-mnfg" }}
        = f.label :manufacturer_id, class: "control-label"
        .controls.component-mnfg-select
          = f.collection_select( :manufacturer_id, Manufacturer.all, :id, :name, :required =>true, prompt: "Manufacturer")
      
      .control-group.extra-field.component_model.short-label
        = f.label :model_name, "Model", class: "control-label"
        .controls
          = f.text_field :model_name
    - other_show = ""
    - other_show = "other_present" if f.object.manufacturer_id == Manufacturer.find_by_slug("other").id
    .hidden-other.control-group.hidden-mnfg{class: other_show}
      = f.label :manufacturer_other, "Other manufacturer", class: "control-label"
      .controls
        = f.text_field :manufacturer_other

    .split-fields.extra-model-fields{class: ("hidden-other" unless f.object.model_name.present?)}
      .control-group.extra-field
        = f.label :year, "Model Year", class: "control-label"
        .controls
          = f.text_field :year

      .control-group.extra-field.short-label
        = f.label :serial_number, "Part Serial", class: "control-label"
        .controls
          = f.text_field :serial_number

    .remove-part
      = f.check_box :_destroy
      = f.label :_destroy, "Remove part", class: "remove_fields"
    
    