.edit-bike-fields#edit_drivetrain
  %header
    %h2
      Drivetrain and brakes
  .input-group
    .control-group
      = f.label :rear_gear_type_id, "How many rear gears", class: "control-label"
      .controls
        = collection_select( :bike, :rear_gear_type_id, RearGearType.all, :id, :name, prompt: "Choose cogs" )

  .input-group
    .control-group
      = f.label :front_gear_type_id, "How many front gears", class: "control-label"
      .controls
        = collection_select( :bike, :front_gear_type_id, FrontGearType.all, :id, :name, prompt: "Choose chainrings" )

  .input-group.inform-save
    .controls
      = submit_tag "Save", class: "button-green"