.edit-bike-fields#edit_drivetrain
  %header
    %h2
      Drivetrain 
      / and brakes
  .input-group
    .control-group
      %label.control-label
        Drivetrain
      #drivetrain_checks.controls
        - fixed = @bike.rear_gear_type == RearGearType.fixed.first
        %label.checkbox
          %input#fixed_gear_check.checkbox.drive-check{ type: "checkbox", checked: fixed }
          Fixed gear
        %label.checkbox.not-fixed
          = f.check_box :coaster_brake, class: 'drive-check'
          Coaster brake (backpedal to brake)
        %label.checkbox.not-fixed
          = f.check_box :belt_drive
          Belt drive
      
  .input-group.not-fixed
    .control-group
      %label.control-label{ for: 'front_gear_select'}
        How many front gears
      .controls
        %select#front_gear_select
          %option.placeholder{ value: ''}
            Select chainring count
          - FrontGearType.standard.each do |gt|
            %option{ value: gt.count }
              = gt.name
      
      .optional-form-block
        - f_internal = (@bike.front_gear_type ? @bike.front_gear_type.internal : false)
        %label.checkbox{ for: "front_gear_select_internal" }
          %input#front_gear_select_internal.drive-check{ type: "checkbox", checked: f_internal }
          Internal front gears

      .gear-info-fields#front_gear_select_value
        .initial_value
          = @bike.front_gear_type.count if @bike.front_gear_type
        .fixed_value
          = FrontGearType.fixed.first.id
        = f.radio_button 'front_gear_type_id', nil, class: "no-gear-selected"
        - FrontGearType.all.each do |gt|
          = f.radio_button 'front_gear_type_id', gt.id, class: "count_#{gt.count} internal_#{gt.internal}", :data => {count: gt.count }


  .input-group.not-fixed
    .control-group
      %label.control-label{ for: 'rear_gear_select' }
        How many rear gears
      .controls
        %select#rear_gear_select
          %option.placeholder{ value: '' }
            Select cog count
          - RearGearType.standard.each do |gt|
            %option{ value: gt.count }
              = gt.name
      .optional-form-block
        - r_internal = (@bike.rear_gear_type ? @bike.rear_gear_type.internal : false)
        %label.checkbox{ for: "rear_gear_select_internal" }
          %input#rear_gear_select_internal.drive-check{ type: "checkbox", checked: r_internal }
          Internal rear gears

      .gear-info-fields#rear_gear_select_value
        .initial_value
          = @bike.rear_gear_type.count if @bike.rear_gear_type
        .fixed_value
          = RearGearType.fixed.first.id
        = f.radio_button 'rear_gear_type_id', nil, class: "no-gear-selected"
        - RearGearType.all.each do |gt|
          = f.radio_button 'rear_gear_type_id', gt.id, class: "count_#{gt.count} internal_#{gt.internal}", :data => {count: gt.count }

  .input-group.inform-save
    .controls
      = submit_tag "Save", class: "button-green"