.edit-bike-fields#edit_frame
  %header
    %h2
      Frame
  .input-group
    .control-group.with-optional-blocks
      %label.control-label.unclickable
        Serial number
      .controls
        = @bike.serial_number.upcase
      %a.serial-update-link.optional-form-block{role: "button", title: "Incorrect serial? Fix it!", data: {toggle: "modal", target: "#submitSerialCorrection"} }
        Submit serial number correction
    .control-group
      %label.control-label.unclickable
        Manufacturer
      .controls
        = @bike.manufacturer_name

  .input-group
    .control-group
      = f.label :frame_model, class: "control-label"
      .controls
        = f.text_field :frame_model

  .input-group.with-optional-blocks
    .control-group.chosen-select
      = f.label :year, class: "control-label"
      .controls
        - years = (1900..Time.now.year+1).to_a.reverse.map {|i| [i,i] }
        - years = [['Unsure or unknown','']] + years
        = f.select :year, years
      .unknown-year.optional-form-block
        %label
          %input#bike_unknown_year{ type: 'checkbox', tabindex: -1 }
          Unknown year

  .input-group.with-additional-block#frame-sizer
    %a.bikeform-tip{role: "button", title: "Seat tube measuring", data: {toggle: "modal", target: "#seatTubeLengthTip"} }
      %span
        ?
    .control-group
      %label.control-label.unclickable
        Frame size
      .controls
        .groupedbtn-group{ data:  { toggle: "buttons-radio" }}
          .btn-group
            %button.btn{ type: "button", :'data-size' => 'xs', class: if @bike.frame_size == 'xs' then 'active' end}
              XS
            %button.btn{ type: "button", :'data-size' => 's', class: if @bike.frame_size == 's' then 'active' end }
              S
            %button.btn{ type: "button", :'data-size' => 'm', class: if @bike.frame_size == 'm' then 'active' end }
              M
            %button.btn{ type: "button", :'data-size' => 'l', class: if @bike.frame_size == 'l' then 'active' end }
              L
            %button.btn{ type: "button", :'data-size' => 'xl', class: if @bike.frame_size == 'xl' then 'active' end }
              XL
          .btn-group
            %button.btn{ type: "button", :'data-size' => 'cm', class: if @bike.frame_size_unit == 'cm' then 'active' end }
              CM
            %button.btn{ type: "button", :'data-size' => 'in', class: if @bike.frame_size_unit == 'in' then 'active' end }
              IN
    .hidden-other.control-group
      = f.label :frame_size, "Seat tube length", class: "control-label"
      .controls
        = f.hidden_field :frame_size_unit
        = f.text_field :frame_size



  .input-group
    %a.bikeform-tip{role: "button", title: "What's the frame made of?", data: {toggle: "modal", target: "#frameMaterialTip"} }
      %span
        ?
    .control-group
      = f.label :frame_material_id, "Primary frame material", class: "control-label"
      .controls
        = collection_select( :bike, :frame_material_id, FrameMaterial.all, :id, :name, prompt: "Choose material" )

  .input-group.with-optional-blocks
    %a.bikeform-tip{role: "button", title: "Why do we do colors like this?", data: {toggle: "modal", target: "#colorTip"} }
      %span
        ?
    .control-group
      = f.label :primary_frame_color_id, class: "control-label"
      .controls
        = collection_select( :bike, :primary_frame_color_id, Color.all, :id, :name, required: true, prompt: "Choose color" )
    %a#add-secondary.optional-form-block{data: {target: "#secondary-color", toggle: "#rm-secondary"}}
      Add a color
    %a#rm-secondary.optional-form-block.rm-block.currently-hidden{data: {target: "#secondary-color", toggle: "#add-secondary"}}
      Remove color
    #secondary-color.hidden-other
      .control-group
        %label.control-label
          Secondary color
        .controls
          = collection_select( :bike, :secondary_frame_color_id, Color.all, :id, :name, include_blank: 'Choose color' )
      %a#add-tertiary.optional-form-block{data: {target: "#tertiary-color", toggle: "#rm-tertiary"}}
        Add a color
      %a#rm-tertiary.optional-form-block.rm-block.currently-hidden{data: {target: "#tertiary-color", toggle: "#add-tertiary"}}
        Remove color
    #tertiary-color.hidden-other
      .control-group
        %label.control-label
          Third color
        .controls
          = collection_select( :bike, :tertiary_frame_color_id, Color.all, :id, :name, include_blank: 'Choose color' )
  .input-group
    .control-group
      = f.label :paint_name, "Paint description", class: "control-label"
      .controls
        = f.text_field :paint_name, value: (@bike.paint.name.titleize if @bike.paint.present?)

  .input-group.inform-save
    .controls
      = submit_tag "Save", class: "button-green"