#root_url.hidden{data: { url: ENV['BASE_URL'] }}
.input-group.with-optional-blocks.form-head
  %a.bikeform-tip{role: "button", title: "Help with bicycle serial numbers", data: {toggle: "modal", keyboard: "true", target: "#serialTip"} }
    %span
      ?
  .control-group
    = f.label :serial_number, class: "control-label"
    .controls
      = f.text_field :serial_number, :required =>true
  .has-no-serial.optional-block
    %label
      = f.check_box :has_no_serial, tabindex: -1 
      - if @bike.stolen?
        Unknown
      - else
        Has no serial

.input-group.with-additional-block
  %a.bikeform-tip{role: "button", title: "Help with choosing a frame manufacturer", data: {toggle: "modal", target: "#frameManufacturerTip"} }
    %span
      ?
  .control-group.select-jsonified
    = f.label :manufacturer_id, class: "control-label"
    .controls
      = f.text_area :manufacturer_id
      %span.help-block
        Select 'Other' if manufacturer isn't listed
  %p.other-value
    = Manufacturer.find_by_slug("other").id
  .hidden-other.control-group
    = f.label :manufacturer_other, "Other manufacturer", class: "control-label"
    .controls
      = f.text_field :manufacturer_other, placeholder: "Manufacturer name"

.input-group.with-optional-blocks
  .control-group.chosen-select
    = f.label :year, "Model year", class: "control-label"
    .controls
      - years = (1900..Time.now.year+1).to_a.reverse.map {|i| [i,i] }
      = f.select :year, years, prompt: "Unsure or unknown", selected: Time.now.year
  .unknown-year.optional-block
    %label
      %input#bike_unknown_year{ type: 'checkbox', tabindex: -1 }
      Unknown year
      
.input-group
  .control-group
    = f.label :frame_model, class: "control-label"
    .controls
      = f.text_field :frame_model, autocomplete: 'off'

.input-group.with-optional-blocks
  %a.bikeform-tip{role: "button", title: "Why do we do colors like this?", data: {toggle: "modal", target: "#colorTip"} }
    %span
      ?
  .control-group.chosen-select
    = f.label :primary_frame_color_id, "Frame color", class: "control-label"
    .controls
      = collection_select( :bike, :primary_frame_color_id, Color.all, :id, :name, required: true, prompt: "Choose color" )
  %a#add-secondary.optional-form-block{data: {target: "#secondary-color", toggle: "#rm-secondary"}}
    Add a color
  %a#rm-secondary.optional-form-block.rm-block.currently-hidden{data: {target: "#secondary-color", toggle: "#add-secondary"}}
    Remove color
  #secondary-color.hidden-other
    .control-group.chosen-select
      %label.control-label
        Secondary color
      .controls
        = collection_select( :bike, :secondary_frame_color_id, Color.all, :id, :name, prompt: "Choose color" )
    %a#add-tertiary.optional-form-block{data: {target: "#tertiary-color", toggle: "#rm-tertiary"}}
      Add a color
    %a#rm-tertiary.optional-form-block.rm-block.currently-hidden{data: {target: "#tertiary-color", toggle: "#add-tertiary"}}
      Remove color
  #tertiary-color.hidden-other
    .control-group.chosen-select
      %label.control-label
        Third color
      .controls
        = collection_select( :bike, :tertiary_frame_color_id, Color.all, :id, :name, prompt: "Choose color" )