- if @bike.recovered
  - stolen_type = "recovered"
- else 
  - stolen_type = "stolen"
.edit-bike-fields#edit_stolen
  %header
    %h2
      - if @bike.recovered
        Information about the bike's recovery
      - else
        The theft
  .input-group
    %a.bikeform-tip{role: "button", title: "Why do we want your phone number?", data: {toggle: "modal", target: "#phoneTip"} }
      %span
        ?
    .control-group
      = f.label :phone, class: "control-label"
      .controls#primary_stolen_phone_field
        = f.text_field :phone, required: "true"
    .control-group.extra-field
      = f.label :secondary_phone, class: "control-label"
      .controls
        = f.text_field :secondary_phone
    .control-group.stolen-phone-groups
      %label.control-label
        Show phone number to:
      .phone-group
        = f.label :phone_for_everyone do
          = f.check_box :phone_for_everyone
          Everyone
      .phone-group
        = f.label :phone_for_users do
          = f.check_box :phone_for_users
          Bike Index users
      .phone-group
        = f.label :phone_for_shops do
          = f.check_box :phone_for_shops
          Bike Shops
      .phone-group
        = f.label :phone_for_police do
          = f.check_box :phone_for_police
          Law enforcement

  .input-group
    .control-group.datepicker-container
      = bike.label :date_stolen_input, "When was it #{stolen_type}?", class: "control-label"
      .controls
        #stolen_date
          = bike.text_field :date_stolen_input, value: @bike.find_current_stolen_record.date_stolen.strftime("%m-%d-%Y"), required: true, data: { :'date-format' => "mm-dd-yyyy" }
    / .span6.input-tip
    /   .tip-title
    /     %h2 When was this bike stolen
    /   %section
    /     = render 'content/bike_tips/when_stolen'

  .input-group
    #stolen-bike-location.control-group
      = f.label :street, "Where was it #{stolen_type}?", class: "control-label"
      #country_select_container.controls.special-select-single
        = f.collection_select(:country_id, Country.all, :id, :name, prompt: "Choose country" )
        %p.other-value
          = Country.united_states.id
      .controls.extra-field
        = f.text_field :street, placeholder: "Intersection or address"
      .controls.extra-field
        = f.text_field :city, placeholder: "City"
      .controls.extra-field
        = f.text_field :zipcode, placeholder: "Zipcode"
      #state-select.controls.extra-field.chosen-select
        = f.collection_select(:state_id, State.all, :id, :name, include_blank: true, prompt: "State" )
      %span.form-info-addition.padded
        Address is public - use a nearby intersection if you are concerned about privacy

  - unless @bike.recovered
    .input-group
      .control-group.special-select-single
        = f.label :locking_description, "Bike locking description", class: "control-label"
        .controls
          = f.select(:locking_description, StolenRecord.locking_description_select, prompt: "Choose lock")

    .input-group
      .control-group.large-text.special-select-single
        = f.label :lock_defeat_description, "lock defeated", class: "control-label"
        .controls
          = f.select(:lock_defeat_description, StolenRecord.locking_defeat_description_select, prompt: "How was the lock defeated?")

    
  .input-group
    .control-group.large-text
      - if @bike.recovered?
        = f.label :theft_description, "How and why you recovered the bike", class: "control-label"
      - else
        = f.label :theft_description, "Description of the theft", class: "control-label"
      .controls
        = f.text_area :theft_description, rows: 3
  
  - unless @bike.recovered
    .input-group
      .control-group
        %p
          Filing a 
          %strong
            police report
          is 
          %em.stolen-color
            extremely important
          for stolen bike recovery.
        = f.label :police_report_number, "Police report #", class: "control-label"
        .controls.police-report-check
          = f.text_field :police_report_number
        = f.label :police_report_department, "Department & city", class: "control-label"
        .controls.police-report-check.extra-field
          = f.text_field :police_report_department

  .input-group
    .control-group
      .receive-notifications
        = f.label :proof_of_ownership do
          = f.check_box :proof_of_ownership
          Do you have proof of ownership of this #{@bike.type}?
          %span.form-info-addition
            If this #{@bike.type} was added to the Index by a bike shop, that counts as proof of ownership
  .input-group
    .control-group
      .receive-notifications
        = f.label :receive_notifications do
          = f.check_box :receive_notifications
          Receive notifications from the Bike Index about this stolen #{@bike.type}
          %span.form-info-addition
            eg if we tweet about or see someone searching for it's serial number
            
        