.edit-bike-fields#edit_wheels
  %header
    %h2
      Wheels
  .input-group.with-optional-blocks
    %a.bikeform-tip{role: "button", title: "An amazing explanation of wheel sizing.", :data => {toggle: "modal", target: "#rearWheelTip"} }
      %span
        ?
    .control-group
      %label.control-label{for: "front_standard"}
        Front wheel
      .controls
        %select#front_standard.standard-diams
          %option{value: ''}
            Choose diameter
          %option{value: WheelSize.find_by_iso_bsd(622).id}
            700c (includes 29ers)
          %option{value: WheelSize.find_by_iso_bsd(571).id}
            650c
          %option{value: WheelSize.find_by_iso_bsd(630).id}
            27in
          %option{value: WheelSize.find_by_iso_bsd(559).id}
            26in
          %option{value: WheelSize.find_by_iso_bsd(406).id}
            20in
          %option{value: WheelSize.find_by_iso_bsd(355).id}
            18in
          %option{value: WheelSize.find_by_iso_bsd(305).id}
            16in
          %option{value: WheelSize.find_by_iso_bsd(203).id}
            12in
        = collection_select( :bike, :front_wheel_size_id, WheelSize.all , :id, :description, :html => { :required =>true }, prompt: "All diameters")
    %a#show-front-wheel-diams.wh_sw.show-all.optional-form-block{:data => {target: "#bike_front_wheel_size_id", toggle: "#hide-front-wheel-diams"}}
      Show more sizes
    %a#hide-front-wheel-diams.wh_sw.optional-form-block.currently-hidden{:data => {target: "#bike_front_wheel_size_id", toggle: "#show-front-wheel-diams"}}
      Hide extra sizes
    .control-group.wheel-diameter
      %label.control-label
        Front tire
      .controls.radio-controls
        %label.radio
          = f.radio_button :front_tire_narrow, "true"
          Narrow Tire
        %label.radio.wide-tire
          = f.radio_button :front_tire_narrow, "false"
          Wide tire
  .input-group.with-optional-blocks
    %a.bikeform-tip{role: "button", title: "An amazing explanation of wheel sizing.", :data => {toggle: "modal", target: "#rearWheelTip"} }
      %span
        ?
    .control-group
      %label.control-label{for: "rear_standard"}
        Rear wheel
      .controls
        %select#rear_standard.standard-diams
          %option{value: ''}
            Choose diameter
          %option{value: WheelSize.find_by_iso_bsd(622).id}
            700c (includes 29ers)
          %option{value: WheelSize.find_by_iso_bsd(571).id}
            650c
          %option{value: WheelSize.find_by_iso_bsd(630).id}
            27in
          %option{value: WheelSize.find_by_iso_bsd(559).id}
            26in
          %option{value: WheelSize.find_by_iso_bsd(406).id}
            20in
          %option{value: WheelSize.find_by_iso_bsd(355).id}
            18in
          %option{value: WheelSize.find_by_iso_bsd(305).id}
            16in
          %option{value: WheelSize.find_by_iso_bsd(203).id}
            12in
        = collection_select( :bike, :rear_wheel_size_id, WheelSize.all , :id, :description, :html => { :required =>true }, prompt: "All diameters")
    %a#show-rear-wheel-diams.wh_sw.show-all.optional-form-block{:data => {target: "#bike_rear_wheel_size_id", toggle: "#hide-rear-wheel-diams"}}
      Show more sizes
    %a#hide-rear-wheel-diams.wh_sw.optional-form-block.currently-hidden{:data => {target: "#bike_rear_wheel_size_id", toggle: "#show-rear-wheel-diams"}}
      Hide extra sizes
    .control-group.wheel-diameter
      %label.control-label
        Rear tire
      .controls.radio-controls
        %label.radio
          = f.radio_button :rear_tire_narrow, "true"
          Narrow Tire
        %label.radio.wide-tire
          = f.radio_button :rear_tire_narrow, "false"
          Wide tire

  .input-group.inform-save
    .controls
      = submit_tag "Save", class: "button-green"