- if @mail_snippet.errors.any?
  = render partial: "/shared/errors", locals: { name: "Payment", obj: @mail_snippet }


.form-group
  = f.label :name
  = f.text_field :name, :required =>true, class: "form-control w-25"
.form-group
  = f.label :address
  = f.text_field :address, :required =>true, class: "form-control w-25"
.form-group
  = f.label :proximity_radius
  = f.number_field :proximity_radius, :required =>true, class: "form-control w-25"

.form-group
  = f.label :body
  = f.text_area :body, placeholder: "Body", class: "form-control w-25"
