-# TODO: maybe make this only show up for relevant ones

- if @mail_snippet.organization_message?
  %h3.mt-4.mb-4
    %span.text-warning Organization Snippet!
    %em.small.d-block.mt-4
      This should actually be #{link_to "edited though the organization!", edit_mail_snippet_path_for(@mail_snippet)}

.alert.alert-info.mt-2.mb-4
  %span.d-block.mb-2
    %strong Note:
    Organization Message snippets are actually the entire email.

  Organization emails are editable through the organization's page and should probably be edited there (rather than here). Those kinds:
  %small.d-block.mt-2= safe_join(MailSnippet.organization_message_kinds.map { |kind| content_tag(:code, MailSnippet.kind_humanized(kind)) }, ", ")

= render(AlertForErrors::Component.new(object:@mail_snippet))

- def select_display(k); "#{MailSnippet.kind_humanized(k)} - in #{MailSnippet.organization_email_for(k)} emails" end
.form-group.fancy-select.unfancy
  = f.label :kind
  = f.select :kind, MailSnippet.kinds.map { |k| [select_display(k), k] }, {required: true}, class: "form-control"

- if @mail_snippet.kind == "stolen_notification_oauth"
  .form-group.fancy-select.unfancy
    = f.label :doorkeeper_application_id
    = f.collection_select(:doorkeeper_application_id, Doorkeeper::Application.where(can_send_stolen_notifications: true), :id, :name, {prompt: "Choose Doorkeeper App"}, {class: "form-control"})
- else
  .form-group.fancy-select.unfancy
    = f.label :organization_id
    = f.collection_select(:organization_id, @organizations, :id, :name, {prompt: "Choose organization"}, {class: "form-control"})

.form-group
  = f.label :subject
  = f.text_field :subject, class: "form-control"
.form-group
  = f.label :body
  = f.text_area :body, placeholder: "Body", class: "form-control", rows: 5

-# No longer used, but keeping in case we decide to use. Check PR#415
-# .row
-#   .col-6
-#     .form-group
-#       = f.label :latitude
-#       = f.number_field :latitude, required: true, class: "form-control"
-#   .col-6
-#     .form-group
-#       = f.label :longitude
-#       = f.number_field :longitude, required: true, class: "form-control"
-# .row.mb-4
-#   .col-6
-#     .form-group
-#       = f.label :proximity_radius
-#       = f.number_field :proximity_radius, required: true, class: "form-control"
-#   .col-6
-#     .form-group
-#       %small.less-strong.d-block.mt-3 NOTE: this isn't currently production ready
-#       = f.check_box :is_location_triggered
-#       = f.label :is_location_triggered do
-#         Location triggered?


