%h1.padded
  Edit Snippet

.form.form-horizontal
  = form_for [:admin, @mail_snippet] do |f|
    = render partial: 'form', locals: { f: f }

    .form-group
      = f.label :is_enabled, "Enabled?"
      = f.check_box :is_enabled

    = f.submit "Update", class: 'btn btn-success float-right'
