%h1.mt-4
  Edit Snippet
- if @mail_snippet.organization_message?
  %h3.mt-4.mb-4
    %span.text-warning Organization Snippet!
    %em.small.d-block.mt-2
      This should actually be #{link_to "edited though organization!", edit_mail_snippet_path_for(@mail_snippet)}


.row
  .col-md-6
    = form_for [:admin, @mail_snippet] do |f|
      = render partial: 'form', locals: { f: f }

      .form-group
        = f.label :is_enabled, "Enabled?"
        = f.check_box :is_enabled

      = f.submit "Update", class: 'btn btn-success float-right'
