
%h1
  Manage (non-organization) mail snippets
= link_to 'New snippet', new_admin_mail_snippet_url, class: "btn btn-success float-right"
%h4.mt-4
  = @mail_snippets.count
  Mail snippets are in the system so far!


.full-screen-table
  %table.table.table-striped.table-bordered
    %thead.thead-light
      %th
        Created
      %th
        Name
      %th
        Location
      %th
        Live?

    %tbody
      - @mail_snippets.each do |mail_snippet|
        %tr
          %td
            %a.convertTime{ href: admin_mail_snippet_url(mail_snippet) }
              = l mail_snippet.created_at, format: :convert_time
          %td
            = mail_snippet.name
          %td
            = mail_snippet.address
          %td.table-cell-check
            = "&#x2713;".html_safe if mail_snippet.is_enabled
