<div class="multi-search-serial-result" data-serial="<%= @serial %>" data-count="<%= @pagy.count %>">
  <% if @bikes.any? %>
    <%= render(Org::RegistrationSearch::Component.new(
      organization: current_organization,
      pagy: @pagy,
      bikes: @bikes,
      interpreted_params: @interpreted_params,
      sortable_search_params:,
      per_page: @per_page,
      params:,
      search_query_present: true,
      skip_search_and_filters: true,
      skip_settings: true
    )) %>
  <% elsif @close_serials&.any? %>
    <p class="tw:text-gray-500 tw:px-3">
      No exact matches. Close:
      <% @close_serials.each do |bike| %>
        <a href="<%= bike_path(bike) %>" class="twlink"><%= bike.serial_number %></a>
      <% end %>
    </p>
  <% else %>
    <p class="tw:text-gray-500 tw:px-3">No matches found</p>
  <% end %>
</div>
