<%= turbo_stream.append :multi_serial_results do %>
  <%= render partial: "multi_search_results" %>
<% end %>
<% if @serial_chip_id.present? %>
  <%= turbo_stream.replace @serial_chip_id do %>
    <span id="<%= @serial_chip_id %>"
      class="<%= UI::Badge::Component.badge_classes(color: @bikes.any? ? :success : :gray, size: :md) %>">
      <%= @serial %>
    </span>
  <% end %>
<% end %>
