- cache(['manufacturers_index', @manufacturers.maximum(:updated_at)]) do
  - github_url = "https://github.com/bikeindex/resources/blob/main/manufacturers.csv"
  - csv_on_github = link_to t('.csv_on_github'), github_url
  %h1
    = t(".manufacturers_we_know_about")
  %p
    = t(".also_available_html", csv_on_github:)


  .mt-4
  %table#manufacturers-list.table.table-striped.table-bordered.table-sm
    %thead
      %th
        = t(".name")
      %th.large-screens
        = t(".only_makes_components")
    %tbody
      - @manufacturers.each do |manufacturer|
        %tr
          %td
            - if manufacturer.website
              %a{href: manufacturer.website}
                = manufacturer.name
            - else
              = manufacturer.name
          %td.large-screens.table-cell-check
            = check_mark unless manufacturer.frame_maker

  %h2.padded
    = t(".oh_no_were_missing_a_manufacturer")
  %p= t(".thats_not_actually_surprising")
  %p= t(".submit_a_pr_html", csv_on_github:)

