- cache 'manufacturers_index' do 
  %h1
    Manufacturers we know about

  %section.full-screen-table
    %table#manufacturers-list.table.table-striped.table-bordered
      %thead
        %th
          Name
        %th.large-screens
          Only makes components
      %tbody
        - @manufacturers.each do |manufacturer|
          %tr
            %td
              - if manufacturer.website
                %a{href: manufacturer.website}
                  = manufacturer.name
              - else
                = manufacturer.name
            %td.large-screens
              = "&#x2713;".html_safe unless manufacturer.frame_maker

  %h2.padded
    OH NO! We're missing a manufacturer?
  %p
    That's not actually surprising, there are a bunch.
  %p
    Give us a heads up in a comment below.

%article
  = render '/shared/google_text_ad'

.padded
%article.content-comments
  :plain
    <script type="text/javascript">
      DiscourseEmbed = { discourseUrl: 'https://discuss.bikeindex.org/',
                         topicId: '#{manufacturers_url}' };

      (function() {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
      })();
    </script>

