- cache(['manufacturers_index', @manufacturers.maximum(:updated_at)]) do
  %h1
    = t(".manufacturers_we_know_about")
  .mt-4
  %table#manufacturers-list.table.table-striped.table-bordered.table-sm
    %thead
      %th
        = t(".name")
      %th.large-screens
        = t(".only_makes_components")
    %tbody
      - @manufacturers.each do |manufacturer|
        %tr
          %td
            - if manufacturer.website
              %a{href: manufacturer.website}
                = manufacturer.name
            - else
              = manufacturer.name
          %td.large-screens.table-cell-check
            = check_mark unless manufacturer.frame_maker

  %h2.padded
    = t(".oh_no_were_missing_a_manufacturer")
  %p= t(".thats_not_actually_surprising")
  %p= t(".give_us_a_heads_up_in_a_comment_below")



.padded
%article#discourse-comments
  :plain
    <script type="text/javascript">
      DiscourseEmbed = { discourseUrl: 'https://discuss.bikeindex.org/',
                         discourseEmbedUrl: '#{manufacturers_url}' };

      (function() {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
      })();
    </script>
