name&#9;website&#9;frame_maker&#9;open_year&#9;close_year&#9;logo_url
%br
- @manufacturers.each do |manufacturer|
  #{manufacturer.name}&#9;
  #{manufacturer.website}&#9;
  #{manufacturer.frame_maker}&#9;
  #{manufacturer.open_year}&#9;
  #{manufacturer.close_year}&#9;
  = manufacturer.logo if manufacturer.logo.present?
  %br
