name,website,frame_maker,open_year,close_year,logo_url
%br
- @manufacturers.each do |manufacturer|
  #{manufacturer.name},
  #{manufacturer.website},
  #{manufacturer.frame_maker},
  #{manufacturer.open_year},
  #{manufacturer.close_year}
  %br
