-# Requires local vars: side, f
- side_title ||= side

.related-fields
  .form-group.row
    %label.form-well-label{for: "#{side}_standard" }
      = t(".#{side_title}_wheel")
    .form-well-input.fancy-select-placeholder.unfancy
      .standard-diams{id: "#{side}_standard"}
        -# ignore this select in dirty forms
        %select.form-control.dirtyignore
          %option{ value: '' }
            = t(".choose_diameter")
          %option{ value: WheelSize.id_for_bsd(622) }
            = t(".diameter_700c")
          %option{ value: WheelSize.id_for_bsd(584) }
            650b / 27.5
          %option{ value: WheelSize.id_for_bsd(630) }
            27in
          %option{ value: WheelSize.id_for_bsd(559) }
            26in
          %option{ value: WheelSize.id_for_bsd(406) }
            20in
          %option{ value: WheelSize.id_for_bsd(355) }
            18in
          %option{ value: WheelSize.id_for_bsd(305) }
            16in
          %option{ value: WheelSize.id_for_bsd(203) }
            12in
      .all-diams.currently-hidden{ id: "#{side}_all" }
        = f.collection_select("#{side}_wheel_size_id".to_sym, WheelSize.all , :id, :select_value, prompt: t(".all_diameters", ))
    .right-input-help
      %a.wh_sw.show-all-diams.optional-form-block{ id: "show_#{side}_wheel_diams", data: { target: "##{side}_all", toggle: "#hide_#{side}_wheel_diams", action: 'swap', swap: "##{side}_standard" } }
        = t(".show_more_sizes")
      %a.wh_sw.optional-form-block.currently-hidden{ id: "hide_#{side}_wheel_diams", data: { target: "##{side}_standard", toggle: "#show_#{side}_wheel_diams", action: 'swap', swap: "##{side}_all" } }
        = t(".hide_extra_sizes")
.form-group.row.unnested-field
  %label.form-well-label
    = t(".#{side_title}_tire")
  .form-well-input.form-well-input-checks
    %label.radio-inline.mr-2{title: t(".narrow_title")}
      = f.radio_button "#{side}_tire_narrow".to_sym, 'true'
      = t(".narrow")
    %label.radio-inline{title: t(".wide_title")}
      = f.radio_button "#{side}_tire_narrow".to_sym, 'false'
      = t(".wide")
      %small= t(".wide_help")
