= form_for @bike, multipart: true, html: { class: 'primary-edit-bike-form stolenEditPage' } do |f|
  - if params[:return_to].present?
    = hidden_field_tag :return_to, params[:return_to]

  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: '/bikes_edit/primary_menu'

      .col-md-8.form-well#form_well_wrap
        .form-wrap
          .form-well-form-header
            %h3= @edit_templates[@edit_template]

          -# Helper text display
          = f.fields_for :impound_records do |irecord|
            - next unless irecord.object.current? # Because they may have multiple stolen records

            .form-group.row.unnested-field
              = irecord.hidden_field :timezone, value: "", class: "hiddenFieldTimezone"
              = irecord.label :impounded_at_with_timezone, "When did you find this bike?", class: 'form-well-label'
              .form-well-input
                - irecord.object.impounded_at = TimeParser.round(irecord.object.impounded_at || Time.current)
                = irecord.datetime_local_field :impounded_at_with_timezone, max: TimeParser.round(Time.current + 1.day), step: 60, required: true, class: 'form-control dateInputUpdateZone', "data-initialtime" => l(irecord.object.impounded_at, format: :convert_time)

            .form-group.row.unnested-field
              = irecord.label :impounded_description, "Description", class: 'form-well-label'
              .form-well-input
                = irecord.text_area :impounded_description, rows: 3, class: 'form-control'

            = render partial: '/bikes_edit/bike_fields/stolen_location', locals: { srecord: irecord }

            = render "/shared/form_well_footer_save"
