= form_for @bike, multipart: true, html: { class: 'primary-edit-bike-form' } do |f|
  - if params[:return_to].present?
    = hidden_field_tag :return_to, params[:return_to]
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: '/bikes_edit/primary_menu'

      .col-md-8.form-well
        .form-wrap#edit_bike_organizations
          .form-well-form-header
            %h3= t(".groups_and_organizations")
          .col-xs-12
            %p= t(".are_you_part_of_a_school_want_to_bolster_")

          - if @bike.bike_organizations.any?
            = hidden_field_tag :organization_ids_can_edit_claimed_present, true
            .related-fields.no-divider-row
              - if @bike.bike_organizations.where(organization_id: @bike.creation_organization_id).present? && @bike.creation_organization.present?
                - bike_organization = @bike.bike_organizations.where(organization_id: @bike.creation_organization_id).first
                = render partial: "/bikes_edit/edit_bike_organization", locals: {bike_organization: bike_organization, main_label: t(".creation_organization")}

              - displayed_other_organizations = false
              - @bike.bike_organizations.reorder(:created_at).each_with_index do |bike_organization, index|
                - next if bike_organization.organization == @bike.creation_organization
                - main_label = displayed_other_organizations ? nil : t(".other_organizations")
                - displayed_other_organizations = true
                = render partial: "/bikes_edit/edit_bike_organization", locals: {bike_organization: bike_organization, main_label: main_label}


          :javascript
            window.organizations = #{Organization.approved.map { |organization| { name: organization.name, id: organization.id } }.to_json };

          .related-fields#additional_organization_fields
            .form-group.row.unnested-field.no-divider-row
              = f.hidden_field :bike_organization_ids, value: @bike.bike_organization_ids.join(',')

            :plain
              <script id="additional-organization-template" type="x-tmpl-mustache">
                <div class='form-group row collapse mt-2'>
                  <label class='form-well-label add-additional-organization-label'></label>
                  <div class='form-well-input fancy-select-placeholder unfancy'>
                    <select class="form-control bike_organization_input" autocomplete="off" autocorrect="off" autocapitalize="off">
                      <option value="" disabled selected>
                        #{t(".choose_organization")}
                      </option>
                      {{ #organizations }}
                        <option value="{{ id }}">{{ name }}</option>
                      {{ /organizations }}
                    </select>
                  </div>
                  <div class="right-input-help">
                    <a class="optional-form-block remove-organization">
                      <span class="context-display-help">&ndash;</span>
                      #{t(".remove")}
                    </a>
                  </div>
                </div>
              </script>
          .add-additional-fields-block.no-divider-row
            %a.add_fields#add_additional_organization{ href: '#', role: 'button' }
              %span.context-display-help
                +
              = t(".add_an_organization")
          .clearfix.mt-4
          = render "/shared/form_well_footer_save"
