= javascript_importmap_tags

= form_with(model: @bike, multipart: true, html: { class: 'primary-edit-bike-form' }) do |f|
  - if params[:return_to].present?
    = hidden_field_tag :return_to, params[:return_to]
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: '/bikes_edit/primary_menu'

      .col-md-8.form-well#form_well_wrap
        .form-wrap
          .form-well-form-header
            %h3= @edit_templates[@edit_template]

          - unless @bike.primary_activity.present?
            = render partial: "/bikes_edit/bike_fields/primary_activity", locals: {f: f}


          = f.fields_for :current_marketplace_listing, MarketplaceListing.find_or_build_current_for(@bike) do |ml|
            = render LegacyFormWell::FormGroupRow::Component.new(form_builder: ml, label: :condition, label_translation: t(".condition"), row_classes: "unnested-field no-divider-row") do
              = ml.select :condition, MarketplaceListing.conditions.keys.map { |i| [MarketplaceListing.condition_humanized(i), i] }, {prompt: t(".choose_condition")}, class: "form-control"

            .form-group.row.unnested-field
              = ml.label :amount, t(".price"), class: 'form-well-label'
              .form-well-input.input-group{ style: 'max-height: 2.5rem;'}
                .input-group-addon
                  = current_currency.symbol
                = ml.number_field :amount, min: '0', class: 'form-control'

            = ml.fields_for :address_record do |address_form|
              = render(LegacyFormWell::AddressRecordWithDefault::Component.new(form_builder: address_form, user: @bike.user))



          = render "/shared/form_well_footer_save"
