
= form_with(model: @bike, multipart: true, html: { class: 'primary-edit-bike-form' }) do |f|
  - if params[:return_to].present?
    = hidden_field_tag :return_to, params[:return_to]
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: '/bikes_edit/primary_menu'

      .col-md-8.form-well#form_well_wrap
        .form-wrap
          .form-well-form-header
            %h3= @edit_templates[@edit_template]

          - unless @bike.primary_activity.present?
            = render partial: "/bikes_edit/bike_fields/primary_activity", locals: {f: f}




          = render "/shared/form_well_footer_save"
