= javascript_importmap_tags
- marketplace_listing = MarketplaceListing.find_or_build_current_for(@bike)
= form_with(model: @bike, multipart: true, html: { class: 'primary-edit-bike-form' }) do |f|
  - if params[:return_to].present?
    = hidden_field_tag :return_to, params[:return_to]
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: '/bikes_edit/primary_menu'

      .col-md-8.form-well#form_well_wrap
        .form-wrap.stolen-checklist-wrap
          .form-well-form-header-always-visible
            %h3.header-font-alt
              - if marketplace_listing.for_sale?
                = t(".listing_is_published")
              - else
                = t(".listing_draft", item_type_display: marketplace_listing.item_type_display)

            - if marketplace_listing.for_sale?
              %strong.d-block.also-give-me-padding-x
                = link_to t(".view_listing"), bike_path(@bike)
            - else
              - publishable = marketplace_listing.valid_publishable?
              %ul.stolen-checklist
                %li{class: (publishable ? "completed-item" : "")}
                  %span.checklist-checkbox
                    = "&#10003;".html_safe if publishable
                  %span.checklist-text
                    = t(".add_required_information")
                %li
                  %span.checklist-checkbox
                  %span.checklist-text
                    - if marketplace_listing.id.present?
                      = link_to t(".preview_it"), bike_path(@bike, show_marketplace_preview: true), target: "_blank"
                    - else
                      %span{class: "tw:underline tw:cursor-not-allowed"}
                        = t(".preview_it")
                      %em.ml-1.less-strong= t(".save_to_preview")
                %li
                  %span.checklist-checkbox
                  %span.checklist-text
                    = t(".publish_listing_when_ready")



        .form-wrap.secondary-form-wrap
          .form-well-form-header
            %h3= @edit_templates[@edit_template]

          - unless @bike.primary_activity.present?
            = render partial: "/bikes_edit/bike_fields/primary_activity", locals: {f: f}


          = f.fields_for :current_marketplace_listing, marketplace_listing do |ml|
            = render LegacyFormWell::FormGroupRow::Component.new(form_builder: ml, label: :condition, label_translation: t(".condition"), row_classes: "unnested-field") do
              = ml.select :condition, MarketplaceListing.conditions.keys.map { |i| [MarketplaceListing.condition_humanized(i), i] }, {prompt: t(".choose_condition")}, class: "form-control"

            .related-fields
              .form-group.row
                = ml.label :amount_with_nil, t(".price"), class: 'form-well-label'
                .form-well-input.input-group{ style: 'max-height: 2.5rem;'}
                  .input-group-addon
                    = current_currency.symbol
                  = ml.number_field :amount_with_nil, min: 0, class: 'form-control'
              .form-group.row.mt-2
                %label.form-well-label
                .form-well-input.form-well-input-checks
                  %label{class: "tw:cursor-pointer"}
                    = ml.check_box :price_negotiable
                    = t(".price_is_negitiable")

            = ml.fields_for :address_record do |address_form|
              = render(LegacyFormWell::AddressRecordWithDefault::Component.new(form_builder: address_form, user: @bike.user))

            - if marketplace_listing.id.present? && !marketplace_listing.for_sale?
              .form-group.row.unnested-field.pt-4.pb-3
                .form-well-label
                .form-well-input
                  = link_to t(".publish_listing"), marketplace_listing_path(marketplace_listing, marketplace_listing: {status: :for_sale}), method: :patch, class: "btn btn-success tw:w-full"
            .form-group.row.unnested-field
              = ml.label :description, class: "form-well-label form-well-label-large-input" do
                = t(".description")
                %em.less-strong= t(".optional")
              .form-well-input-large
                = ml.text_area :description, rows: 3, class: "form-control", placeholder: t(".why_are_you_selling")
                %span.below-input-help
                  = t(".sale_description_html", item_type_display: marketplace_listing.item_type_display, edit_item_path: edit_bike_path(@bike))

        = render "/shared/form_well_footer_save"
