= form_for @bike, multipart: true, html: { class: 'primary-edit-bike-form' } do |f|
  - if params[:return_to].present?
    = hidden_field_tag :return_to, params[:return_to]
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: '/bikes_edit/primary_menu'

      .col-md-8.form-well
        .form-wrap
          .form-well-form-header
            %h3= t(".transfer_ownership")
          .col-xs-12
            %p
              - if @bike.current_impound_record.present? && @bike.authorized_by_organization?(u: current_user)
                - impound_record = @bike.current_impound_record
                - if impound_record.organization.present? # I don't think there is a scenario where the org would be nil, but just in case...
                  = t(".this_bike_is_currently_impounded_html", impound_record_id: impound_record.display_id, bike_type: @bike.type)
                  %br
                  .mt-2
                  - link_to_impound_record_page = link_to t(".impound_record_page"), organization_impound_record_path(impound_record.display_id, organization_id: impound_record.organization.to_param)
                  = t(".to_transfer_use_impound_record_page_html", link_to_impound_record_page: link_to_impound_record_page)
              - else
                %p
                  = t(".sell_trade_or_give_away_this_bike", bike_type: @bike.type)
                %p.pb-2
                  - if @new_email_assigned
                    %em= t(".new_email_assigned_save_to_update")
                  - else
                    = t(".enter_new_owner_email_to_transfer")
          .form-group.row.unnested-field.no-divider-row
            = f.label :owner_email, class: 'form-well-label'
            .form-well-input
              = f.email_field :owner_email, required: true, class: 'form-control'

          = render "/shared/form_well_footer_save"
