= form_for @bike, multipart: true, html: { class: 'primary-edit-bike-form' } do |f|
  - if params[:return_to].present?
    = hidden_field_tag :return_to, params[:return_to]
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: '/bikes_edit/primary_menu', locals: { no_save_button: true }

      .col-md-8.form-well
        .form-wrap
          .form-well-form-header
            %h3= t(".strava_gear")

          .related-fields
            %p.mb-3= t(".connect_bike_to_strava_gear")

            - strava_integration = current_user.strava_integration
            - if strava_integration&.synced? && strava_integration.athlete_gear.present?
              - bike_gear = @bike.strava_gear_association
              - bikes_from_strava = strava_integration.athlete_gear.select { |g| g["resource_state"].present? }

              - if bikes_from_strava.any?
                .form-group.row.unnested-field
                  %label.form-well-label= t(".strava_bike")
                  .form-well-input
                    %select.form-control{ name: "strava_gear_id" }
                      %option{ value: "", selected: bike_gear.blank? }= t(".none_selected")
                      - bikes_from_strava.each do |gear|
                        %option{ value: gear["id"], selected: (bike_gear&.strava_gear_id == gear["id"]) }
                          = gear["name"]
                          - if gear["distance"].present?
                            = "(#{(gear["distance"].to_f / 1000).round(0)} km)"

                - if bike_gear.present?
                  .mt-3.p-3.bg-light.rounded
                    %p.mb-1
                      %strong= t(".currently_connected")
                    %p.mb-0
                      = bike_gear.strava_gear_display_name

                .mt-3
                  = hidden_field_tag :edit_template, @edit_template
                  = submit_tag t(".save_strava_gear"), class: 'btn btn-lg btn-primary'
              - else
                .alert.alert-info
                  = t(".no_bikes_in_strava")
            - else
              .alert.alert-warning
                = t(".strava_not_connected")
                - unless strava_integration.present?
                  = link_to t(".connect_strava"), my_account_path, class: "alert-link"
