= form_for @bike, multipart: true, html: { class: 'primary-edit-bike-form stolenEditPage' } do |f|
  - if params[:return_to].present?
    = hidden_field_tag :return_to, params[:return_to]

  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: '/bikes_edit/primary_menu'

      .col-md-8.form-well#form_well_wrap
        - if @bike.current_stolen_record&.display_checklist?
          .form-wrap.stolen-checklist-wrap
            .form-well-form-header-always-visible
              %h3.header-font-alt
                = t(".do_these_things_for_the_best_chance")
            = render partial: "/bikes/stolen_checklist", locals: { stolen_record: @bike.current_stolen_record }

        .form-wrap{ class: @bike.current_stolen_record&.display_checklist? ? "secondary-form-wrap" : "" }
          .form-well-form-header
            -# Theft Details
            %h3= @edit_templates[@edit_template]

          = f.fields_for :stolen_records do |srecord|
            - next unless srecord.object.current? # Because they may have multiple stolen records
            -# This is a partial because it's also rendered in bulk_import#new
            = render partial: "/bikes_edit/theft_details_partial", locals: {srecord: srecord}

-# "Try a Promoted Theft Alert" modal
-# Only show if there is a stolen_record_id, the session_key hasn't been stored, and there isn't a paid alert

- stolen_record_id = @bike&.current_stolen_record&.id
- session_key = "promoted_theft_alert_modal_#{stolen_record_id}_seen"
- if stolen_record_id.present? && session[session_key].blank? && TheftAlert.paid.where(stolen_record_id: stolen_record_id).none?
  - session[session_key] = true
  - modal_title = t(".promoted_theft_alerts")
  - modal_body = capture_haml do
    .modal-body
      %p
        = t(".we_can_create_fb_ads_for_you")

      .mb-4.text-center
        = image_tag "promoted_alerts/sample.jpg",
          alt: "Sample Promoted Alert Image",
          class: "m-auto mw-100"

      %p
        = t(".promoted_theft_alert_service_description")

      %p
        - blog_post_link = link_to t(".here"),
          news_url("bike-indexs-new-promoted-alerts-are-the-megaphone-crooks-dont-want-you"),
          target: :_blank
        = t(".click_to_see_promoted_alert_blog_post_html", link: blog_post_link)

      %p
        = t(".charges_go_to_cost_of_ad")

      %p.text-center
        = link_to t(".try_one_now"),
          edit_bike_path(@bike, edit_template: :alert),
          class: "btn btn-md btn-primary"

  = render partial: "/shared/modal", locals: { title: modal_title, id: "tryAPromotedAlert", modal_body: modal_body, start_open: true }
