= form_for @bike, multipart: true, html: { class: 'primary-edit-bike-form' } do |f|
  - if params[:return_to].present?
    = hidden_field_tag :return_to, params[:return_to]
  .form-well-container.container{ class: "edit-bike-page-#{@edit_template}" }
    .row
      = render partial: '/bikes_edit/primary_menu'

      .col-md-8.form-well
        .form-wrap#edit_bike_organizations
          .form-well-form-header
            %h3 Versions
          .col-xs-12
            %p Store and manage snapshots of your #{@bike.type} at specific times

          - if @bike_versions.present? && @bike_versions.any?
            .related-fields.no-divider-row-wrap
              .form-group.row
                %label.form-well-label.less-strong
                  #{@bike_og.type.titleize} Registration
                .form-well-input-static-full-width
                  - if @bike.id == @bike_og.id && !@bike.version?
                    %span.text-muted.text-normal-weight{style: "text-decoration: underline;"}= bike_title_html(@bike_og)
                    %em.text-muted.less-strong currently editing
                  - else
                    = link_to bike_title_html(@bike_og), edit_bike_path(@bike_og), class: "text-normal-weight"

            - rendered_version_label = false
            .related-fields.no-divider-row-wrap
              - @bike_versions.each do |bike_version|
                .form-group.row
                  %label.form-well-label.less-strong
                    - if rendered_version_label
                      &nbsp;
                    - else
                      Versions
                      - rendered_version_label = true
                  .form-well-input-static-full-width{class: (rendered_version_label ? "" : "mt-1")}
                    - if bike_version.id == @bike.id && @bike.version?
                      %span.text-muted{style: "text-decoration: underline;"}= bike_version.display_name
                      %em.text-muted.less-strong currently editing
                    - else
                      = link_to bike_version.display_name, edit_bike_version_path(bike_version)

          .add-additional-fields-block.no-divider-row
            = link_to bike_versions_path(bike_id: @bike_og.id), method: :create, class: "add_fields", role: "button" do
              %span.context-display-help
                +
              Create a new version

        = render partial: '/bikes_edit/strava_gear_fields'
