<div
  class="tw:-mx-4 tw:mb-4 tw:overflow-x-scroll tw:px-4 tw:pb-3"
  data-controller="ui--table"
  data-ui--table-sticky-value="<%= @sticky %>"
>
  <table class="<%= table_classes %>">
    <thead class="tw:bg-gray-50 tw:text-sm tw:dark:bg-gray-700">
      <tr>
        <% @columns.each do |col| %>
          <th class="<%= [col.th_classes(bordered: @bordered), sticky_th_classes].compact.join(" ") %>">
            <%= col.render_header(render_sortable: @render_sortable, current_sort:, current_direction:, sortable_url: method(:sortable_url)) %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @records.each do |record| %>
        <% cache_if(@cache_key, [@cache_key, record]) do %>
          <tr>
            <% @columns.each do |col| %>
              <td class="<%= col.td_classes(bordered: @bordered) %>">
                <%= col.render_cell(record) { |r| capture { instance_exec(r, &col.cell_block) } } %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
