<div class="tw:-mx-4 tw:mb-4 tw:overflow-x-scroll tw:px-4 tw:pb-3">
  <table class="<%= table_classes %>">
    <thead class="tw:text-sm tw:text-gray-700 tw:dark:text-gray-400">
      <tr>
        <% @columns.each_with_index do |col, i| %>
          <th class="<%= th_classes(col, i) %>">
            <% if col.sortable.present? %>
              <%= render_sortable(col.sortable) %>
            <% else %>
              <%= col.label %>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @records.each_with_index do |record, row_index| %>
        <% cache_if(@cache_key, [@cache_key, record]) do %>
          <% last_row = row_index == @records.length - 1 %>

          <tr
            class="
              tw:odd:bg-white tw:even:bg-gray-100 tw:dark:odd:bg-gray-900
              tw:dark:even:bg-gray-800
            "
          >
            <% @columns.each_with_index do |col, i| %>
              <td class="<%= td_classes(col, i, last_row:) %>">
                <%= capture { instance_exec(record, &col.block) } %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
