<div class="tw:-mx-4 tw:mb-4 tw:overflow-x-scroll tw:px-4 tw:pb-3">
  <table class="<%= table_classes %>">
    <thead class="tw:text-sm">
      <tr>
        <% @columns.each_with_index do |col, i| %>
          <th class="<%= th_classes(col, i) %>">
            <%= render_header(col) %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody class="twtable-striped">
      <% @records.each_with_index do |record, row_index| %>
        <% cache_if(@cache_key, [@cache_key, record]) do %>
          <tr>
            <% @columns.each_with_index do |col, i| %>
              <td class="<%= td_classes(col, i, last_row: last_row?(row_index)) %>">
                <%= render_cell(col, record) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
