<% file_path = @view_renderer.lookup_context.find_template(@virtual_path).identifier.gsub(/\A.*\/app\//i, 'app/') %>
<%- change_history_url = "https://github.com/bikeindex/bike_index/tree/master/#{file_path}" %>
<%- terms_link = link_to("bikeindex.org/terms", terms_path) %>
<%- contact_email_link = link_to("contact@bikeindex.org", "mailto:contact@bikeindex.org") %>
<%- contact_link = link_to("contact us", contact_us_path) %>

<header>
  <h1>
    <a name="terms-of-service" class="anchor" href="#terms-of-service">
      <span class="mini-icon mini-icon-link">
      </span></a>
      <%= t('.terms_of_service') %>
  </h1>

  <p>
  <%= t('.last_updated_html', link: link_to(t('.available_here'), change_history_url)) %>
  </p>
  <hr>
</header>


<h2>
  <a name="about-our-terms-of-service" class="anchor" href="#about-our-terms-of-service"><span class="mini-icon mini-icon-link"></span></a>
  <%= t('.about_our_terms_of_service') %>
</h2>

<p><%= t('.welcome_to_bike_index_html') %></p>

<p><%= t('.by_giving_bike_shops_html', contact_link: contact_link) %></p>

<h1 id="section_a">
  <a name="section-a-acceptance-of-terms" class="anchor" href="#section-a-acceptance-of-terms"><span class="mini-icon mini-icon-link"></span></a>
  <%= t('.section_a_header') %>
</h1>

<ol>
  <li>
    <p><%= t('.by_creating_account') %></p>
  </li>
  <li>
    <p>
    <%= t('.if_bike_index_html', terms_link: terms_link) %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.content_on_the_service') %>
    </p>
  </li>
</ol>


<h1 id="section_b">
  <a name="section-b-account-terms" class="anchor" href="#section-b-account-terms"><span class="mini-icon mini-icon-link"></span></a>
  <%= t('.section_b_header') %>
</h1>

<ol>
  <li>
    <p>
    <%= t('.you_must_be_human') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.you_must_provide_email') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.you_are_responsible_for_security') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.you_are_responsible_for_content') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.you_may_not_use_for_illegal') %>
    </p>
  </li>
</ol>


<h1 id="section_c">
  <a name="section-c-modifications-to-the-service" class="anchor" href="#section-c-modifications-to-the-service"><span class="mini-icon mini-icon-link"></span></a>
  <%= t('.section_c_header') %>
</h1>

<ol>
  <li>
    <p>
    <%= t('.bike_index_reserves') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.bike_index_shall_not_be_liable') %>
    </p>
  </li>
</ol>

<h1 id="section_d">
  <a name="section-d-copyright-and-content-ownership" class="anchor" href="#section-d-copyright-and-content-ownership"><span class="mini-icon mini-icon-link"></span></a>
  <%= t('.section_d_header') %>
</h1>

<ol>
  <li>
    <p>
    <%= t('.we_claim_no_ip') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.we_dont_prescreen_content') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.you_shall_defend_bike_index') %>
    </p>
  </li>
</ol>


<h1 id="section_e">
  <a name="section-e-general-conditions" class="anchor" href="#section-e-general-conditions">
    <span class="mini-icon mini-icon-link">
    </span>
  </a>
  <%= t('.section_e_header') %>
</h1>

<ol>
  <li>
    <p>
    <%= t('.your_use_of_the_service') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.support_for_bike_index_services') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.third_party_vendors') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.you_must_notify') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.you_agree_not_to_resell') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.we_may_remove_content') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.no_abuse') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.may_be_terminated') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.no_spam') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.best_effort') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.no_waiver') %>
    </p>
  </li>
  <li>
    <p>
    <%= t('.questions_html', contact_email_link: contact_email_link) %>
    </p>
  </li>
</ol>
