<% file_path = @view_renderer.lookup_context.find_template(@virtual_path).identifier.gsub(/\A.*\/app\//i, 'app/') %>
<%- change_history_url = "https://github.com/bikeindex/bike_index/tree/main/#{file_path}" %>
<%- terms_link = link_to("bikeindex.org/terms", terms_path) %>
<%- contact_email_link = link_to("contact@bikeindex.org", "mailto:contact@bikeindex.org") %>
<%- contact_link = link_to("contact us", contact_us_path) %>

<header>
  <h1>
    <a name="terms-of-service-for-vendors" class="anchor" href="#terms-of-service-for-vendors">
      <span class="mini-icon mini-icon-link"></span></a>
    <%= t('.terms_of_service_for_vendors') %>
  </h1>

  <p>
  <%= t('.last_updated_html', link: link_to(t('.available_here'), change_history_url)) %>
  </p>

  <hr>
</header>

<h2>
  <a name="about-our-terms-of-service-for-vendors"
     class="anchor"
     href="#about-our-terms-of-service-for-vendors">
    <span class="mini-icon mini-icon-link"></span></a>
  <%= t('.about_terms_of_service_for_vendors') %>
</h2>

<p>
<%= t('.welcome_to_bike_index_html') %>
</p>

<p>
<%= t('.by_giving_bike_shop_employees_html', contact_link: contact_link) %>
</p>

<p>
<%= t('.with_the_following_brief_descriptions') %>
</p>

<h2>
  <a name="bike-index-vendor-service" class="anchor" href="#bike-index-vendor-service">
    <span class="mini-icon mini-icon-link"></span></a>
  <%= t('.bike_index_vendor_service') %>
</h2>

<p>
<%= t('.we_provide_you_with_html') %>
</p>

<h2>
  <a name="becoming-a-vendor-on-the-bike-index" class="anchor" href="#becoming-a-vendor-on-the-bike-index">
    <span class="mini-icon mini-icon-link"></span></a>
  <%= t('.becoming_a_vendor') %>
</h2>

<p>
<%= t('.because_bike_index_html') %>
</p>

<h2>
  <a name="termination-and-other-legal-terms" class="anchor" href="#termination-and-other-legal-terms">
    <span class="mini-icon mini-icon-link"></span></a>
  <%= t('.termination_and_other_legal_terms') %>
</h2>

<p>
<%= t('.we_can_deactivate_html') %>
</p>

<h2>
  <a name="bike-index-vendor-terms-of-service" class="anchor" href="#bike-index-vendor-terms-of-service">
    <span class="mini-icon mini-icon-link"></span></a>
  <%= t('.bike_index_vendor_tos') %>
</h2>

<p>
<%= t('.tos_agreement') %>
</p>

<h1 id="section_a">
  <a name="section-a-the-bike-index-service" class="anchor" href="#section-a-the-bike-index-service">
    <span class="mini-icon mini-icon-link"></span></a>
  <%= t('.section_a') %>
</h1>

<ol>
  <li>
    <h3>
      <a name="our-role" class="anchor" href="#our-role">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.our_role') %>
    </h3>

    <p>
    <%= t('.our_role_body') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="customer-service" class="anchor" href="#customer-service">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.customer_service') %>
    </h3>

    <p>
    <%= t('.customer_service_body') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="security" class="anchor" href="#security">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.security') %>
    </h3>

    <p>
    <%= t('.security_body_html') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="your-privacy" class="anchor" href="#your-privacy">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.your_privacy') %>
    </h3>

    <p>
    <%= t('.your_privacy_body_html') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="privacy-of-others" class="anchor" href="#privacy-of-others">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.privacy_of_others') %>
    </h3>

    <p>
    <%= t('.privacy_of_others_p1_html') %>
    </p>

    <p>
    <%= t('.privacy_of_others_p2_html') %>
    </p>

    <p>
    <%= t('.privacy_of_others_p3_html') %>
    </p>

    <p>
    <%= t('.privacy_of_others_p4_html') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="lightspeed-integration" class="anchor" href="#lightspeed-integration">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.lightspeed_integration') %>
    </h3>

    <p>
    <%= t('.lightspeed_integration_p1') %>
    </p>

    <p>
    <%= t('.lightspeed_integration_p2') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="restricted-use" class="anchor" href="#restricted-use">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.restricted_use') %>
    </h3>

    <p>
    <%= t('.restricted_use_p1') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="suspicion-of-unauthorized-or-illegal-use" class="anchor" href="#suspicion-of-unauthorized-or-illegal-use">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.illegal_use') %>
    </h3>

    <p>
    <%= t('.illegal_use_p1') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="disclosures-and-notices" class="anchor" href="#disclosures-and-notices">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.disclosures_and_notices') %>
    </h3>

    <p>
    <%= t('.disclosures_and_notices_p1') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="references-to-our-relationship" class="anchor" href="#references-to-our-relationship">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.references_to_relationship') %>
    </h3>

    <p>
    <%= t('.references_to_relationship_p1') %>
    </p>
  </li>
</ol>

<h1 id="section_c">
  <a name="section-c-registering-for-bike-index-vendor-status" class="anchor" href="#section-c-registering-for-bike-index-vendor-status">
    <span class="mini-icon mini-icon-link"></span></a>
  <%= t('.section_c') %>
</h1>

<ol>
  <li>
    <h3>
      <a name="vendor-registration" class="anchor" href="#vendor-registration">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.vendor_registration') %>
    </h3>

    <p>
    <%= t('.vendor_registration_p1') %>
    </p>

    <p>
    <%= t('.vendor_registration_p2') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="verification" class="anchor" href="#verification">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.verification') %>
    </h3>

    <p>
    <%= t('.verification_p1') %>
    </p>

    <p>
    <%= t('.verification_p2') %>
    </p>

    <p>
    <%= t('.verification_p3') %>
    </p>

    <p>
    <%= t('.verification_p4') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="prohibited-businesses" class="anchor" href="#prohibited-businesses">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.prohibited_businesses') %>
    </h3>

    <p>
    <%= t('.prohibited_businesses_p1') %>
    </p>

    <p>
    <%= t('.prohibited_businesses_p2') %>
    </p>
  </li>
</ol>

<h1 id="section_d">
  <a name="section-d-termination-and-other-legal-matters" class="anchor" href="#section-d-termination-and-other-legal-matters">
    <span class="mini-icon mini-icon-link"></span></a>
  <%= t('.section_d') %>
</h1>

<ol>
  <li>
    <h3>
      <a name="term" class="anchor" href="#term">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.term') %>
    </h3>

    <p>
    <%= t('.term_p1') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="termination" class="anchor" href="#termination">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.termination') %>
    </h3>

    <p>
    <%= t('.termination_p1') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="effects-of-deactivation" class="anchor" href="#effects-of-deactivation">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.effects_of_deactivation') %>
    </h3>

    <p>
    <%= t('.effects_of_deactivation_p1') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="effects-of-termination" class="anchor" href="#effects-of-termination">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.effects_of_termination') %>
    </h3>

    <p>
    <%= t('.effects_of_termination_p1') %>
    </p>

    <p>
    <%= t('.effects_of_termination_p2') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="your-license-our-trademarks" class="anchor" href="#your-license-our-trademarks">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.license_trademarks') %>
    </h3>

    <p>
    <%= t('.license_trademarks_p1') %>
    </p>

    <p>
    <%= t('.license_trademarks_p2') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="ownership" class="anchor" href="#ownership">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.ownership') %>
    </h3>

    <p>
    <%= t('.ownership_p1') %>
    </p>

    <p>
    <%= t('.ownership_p2') %>
    </p>

    <p>
    <%= t('.ownership_p3') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="your-liability" class="anchor" href="#your-liability">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.your_liability') %>
    </h3>

    <p>
    <%= t('.your_liability_p1') %>
    </p>

    <p>
    <%= t('.your_liability_p2') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="representation-and-warranties" class="anchor" href="#representation-and-warranties">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.representation_and_warranties') %>
    </h3>

    <p>
    <%= t('.representation_and_warranties_p1') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="no-warranties" class="anchor" href="#no-warranties">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.no_warranties') %>
    </h3>

    <p>
    <%= t('.no_warranties_p1') %>
    </p>

    <p>
    <%= t('.no_warranties_p2') %>
    </p>

    <p>
    <%= t('.no_warranties_p3') %>
    </p>

    <p>
    <%= t('.no_warranties_p4') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="limitation-of-liability-and-damages" class="anchor" href="#limitation-of-liability-and-damages">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.limitation_of_liability') %>
    </h3>

    <p>
    <%= t('.limitation_of_liability_p1') %>
    </p>

    <p>
    <%= t('.limitation_of_liability_p2') %>
    </p>

    <p>
    <%= t('.limitation_of_liability_p3') %>
    </p>

    <p>
    <%= t('.limitation_of_liability_p4') %>
    </p>

    <p>
    <%= t('.limitation_of_liability_p5') %>
    </p>

    <p>
    <%= t('.limitation_of_liability_p6') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="binding-arbitration" class="anchor" href="#binding-arbitration">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.binding_arbitration') %>
    </h3>

    <p>
    <%= t('.binding_arbitration_p1') %>
    </p>
  </li>
  <li>
    <h3>
      <a name="governing-law" class="anchor" href="#governing-law">
        <span class="mini-icon mini-icon-link"></span></a>
      <%= t('.governing_law') %>
    </h3>

    <p>
    <%= t('.governing_law_p1') %>
    </p>
  </li>
</ol>
