%h1
  About the Bike Index
%p
  The Bike Index is a
  %a{ href: "http://en.wikipedia.org/wiki/Benefit_corporation" }
    benefit corporation
  that was started in Chicago in 2012 by a group of bike shop employees and bicycle lovers who were frustrated by the everyone's fatalistic response to bike theft.
%p
  We believe that registering bikes is a great idea, but in our experience too few bike owners actually register their bikes.
%p
  The only way registration can decrease bike theft is through widespread adoption.
%p
  By charging a small fee to register bikes but giving local bike shops the ability to offer the service for free to their customers, the Bike Index gives shops the ability and incentive to register bikes.

%p
  Ultimately the Bike Index wants to make biking as fun and free of worry as we can, and we see bike theft as a major source of worry. So we're trying to end it.

%h2.the-team 
  Bike Index team

%ul.about-list
  %li
    = image_tag "/assets/who/seth-herr1.jpg"
    %h4
      Seth Herr
  %li
    = image_tag "/assets/who/will-barrett.jpg"
    %h4
      Will Barrett
  %li
    = image_tag "/assets/who/stephanie-scheurich1.jpg"
    %h4
      Stephanie Scheurich
%ul.about-list
  %li
    = image_tag "/assets/who/alex-frantz.jpg"
    %h4
      Alexandra Frantz
  %li
    = image_tag "/assets/who/mike-oleon.jpg"
    %h4
      Mike Oleon
  %li
    = image_tag "/assets/who/bike-mike.jpg"
    %h4
      Mike Pickerd
