- bikes_count = number_with_precision(Bike.count.round(-3), precision: 0, delimiter: ',')
- partners_count = number_with_precision(Organization.count.round(-1), precision: 0, delimiter: ',')
- nonprofit_blog_link = link_to(t(".nonprofit_status"), news_path("bike-index--now-a-nonprofit"))

%h1= t(".about_bike_index")

- cache('about_counts', expires_in: 24.hours) do
  %p= t(".cofounded_by_html", description_link: nonprofit_blog_link)
  %p= t(".widely_used", bikes_count: bikes_count, partners_count: partners_count)

%p= t(".seth_built")

%p= t(".merging_the_services")

%p= t(".simple_efficient_effective")

%p
  %strong= t(".bike_registration_that_works")

.about-social
  %ul
    %li
      = link_to "https://facebook.com/BikeIndex", alt: "Bike Index Facebook" do
        %i.fab.fa-facebook-square.fa-5x
        %span.social-link-text Facebook
    %li
      = link_to "https://twitter.com/BikeIndex", alt: "Bike Index Twitter" do
        %i.fab.fa-twitter.fa-5x
        %span.social-link-text Twitter
    %li
      = link_to "https://instagram.com/bikeindex", alt: "Bike Index Instagram" do
        %i.fab.fa-instagram.fa-5x
        %span.social-link-text Instagram

%h2= t(".the_team")

%ul.about-people
  %li
    %p
      = image_tag "who/seth-herr2.jpg", alt: 'Seth Herr', title: t(".seth_herr_image_title")
      = t(".seth_herr_bio_html")
  %li
    %p
      = image_tag "who/bryan-hance.jpg", alt: 'Bryan Hance'
      = t(".bryan_hance_bio_html")
  %li
    %p
      = image_tag 'who/craig-dalton1.jpg', alt: 'Craig Dalton'
      = t(".craig_dalton_bio_html")
  %li
    %p
      = image_tag 'who/lily-williams.jpg', alt: 'Lily Williams'
      = t(".lily_williams_bio_html")
  %li
    %p
      = image_tag "who/jan-pecnik.jpg", alt: "Jan Pecnik"
      = t(".jan_pecnik_bio_html")
  %li
    %p
      = image_tag 'who/mike-oleon.jpg', alt: 'Mike Oleon'
      = t(".mike_oleon_bio_html")


%h2.the-alumni.d-none
  = t(".alumni")

%ul.about-list.about-alumni-list.d-none
  %li
    = image_tag "who/will-barrett.jpg", alt: 'Will Barrett'
    %h4 Will Barrett
  %li
    = image_tag "who/erin-vogel.jpg", alt: 'Erin Vogel'
    %h4 Erin Vogel
  %li
    = image_tag "who/andrew-herr.jpg", alt: 'Andrew Herr'
    %h4 Andrew Herr
  %li
    = image_tag "who/laura-nash.jpg", alt: 'Laura Nash'
    %h4 Laura Nash
  %li
    = image_tag 'who/michael-catano.jpg', alt: 'Michael Catano'
    %h4 Michael Catano
  %li
    = image_tag "who/stephanie-scheurich1.jpg", alt: 'Stephanie Scheurich'
    %h4 Stephanie Scheurich
  %li
    = image_tag "who/bike-mike.jpg", alt: 'Mike Pickerd'
    %h4 Mike Pickerd
