%h1
  About the Bike Index
%p
  The Bike Index is the best bike registry that exists&mdash;but we're a small organization.
%p
  We aren't funded (other than through #{link_to "Kickstarter", "https://www.kickstarter.com/projects/1073266317/the-bike-index-lets-stop-bike-theft-together"}) and don't have full-time staff.
%p
  We don't have many official police or city government partnerships either.
%p
  Registering your bike on the Index will not make your bike show up in your local government's records (even in St. Louis, where #{link_to "we're the official city registry", "https://bikeindex.org/news/bike-index-official-registry-of-st-louis"}).

%p
  Here's what we can do:

%ul.fancy-bullets
  %li
    %span.blue-bullet
    %p
      <strong>We make it easy to register</strong>. We've made registration entirely automatic for #{link_to "some manufacturers", "https://bikeindex.org/news/heritage-bicycles-are-now-automatically-registered"} and for #{link_to "bike shops", "https://bikeindex.org/news/lightspeed-retail--bikeindex--win"}. We offer an easy way for any bike shop or advocacy organization to register bikes for their constituents.

  %li
    %span.blue-bullet
    %p
      %strong
        We recover stolen bikes
      every single week. During the summer we average more than one recovery a day. We generally #{link_to "tweet", "https://twitter.com/BikeIndex"} about them.
  %li
    %span.blue-bullet
    %p
      %strong
        We're the best place to list your stolen bike
      if you want to get it back. The Index is easy to search, so people (including the police even though they may not have an official integration) find bikes and return them. There are lots of bike registries (<a href="http://www.bikeshepherd.org/" title="BikeShepherd">a</a>, <a href="http://project529.com/" title="Project529">b</a>, <a href="http://nationalbikeregistry.com/" title="NBR">c</a>, <a href="http://safebikes.org/" title="SfSafe">d</a>, <a href="http://bikeregistry.com/" title="BikeRegistry.com">e</a>) &mdash; but none of them are easy to search, so not many stolen bikes are recovered. We know we aren't the only registry and we support registering in other places too - e.g. if you're in Chicago, cross list on #{link_to "chicago.stolenbike", "http://chicago.stolenbike.org/"}, it's well run and widely used in the bike community.

  %li
    %span.blue-bullet
    %p
      %strong
        We're not going to disappear. 
      Bryan ran StolenBikeRegistry.com for 10 years without getting paid. Operating the Bike Index costs just a few hundred dollars a month. We're really excited about making enough money from advertising that a few of us can work on this all the time though, so if you have something you'd like a bunch of people searching for bikes to see, contact  #{link_to "ads@bikeindex.org", "mailto:ads@bikeindex.org"}.
  %li
    %span.blue-bullet
    %p
      %strong
        We're not going to rip you off.
      We won't sell your personal information, start charging hidden fees or send you unsolicited email. Selling stolen bikes shouldn't be easy, bike registration should be and we're going to keep working on this to make sure that happens.

%h2
  The team

%ul.about-people
  %li
    %p
      = image_tag "/assets/who/seth-herr.jpg", alt: 'Seth Herr'
      %strong
        Seth Herr
      learned to program so that he could build the Bike Index, because he was a bike mechanic and was frustrated that something like it didn't exist. He does part-time programming contracts and spends most of his time working on the improving the Bike Index.
  %li
    %p
      = image_tag "/assets/who/bryan-hance.jpg", alt: 'Bryan Hance'
      %strong
        Bryan Hance
      created StolenBicycleRegistry.com in 2005 because 5 of his bikes were stolen in 9 years. The first week it was live he recovered a bike - and realized recovering bikes was really fun. He lives in Portland and recovers lots of bikes.
  %li
    %p
      = image_tag "/assets/who/laura-nash.jpg", alt: 'Laura Nash'
      %strong
        Laura Nash
      handles our #{link_to "Twitter", "https://twitter.com/BikeIndex"} and #{link_to "Facebook", "http://facebook.com/bikeindex"} accounts, contacts people about their stolen bikes and reviews stolen listings.
  %li
    %p
      = image_tag "/assets/who/michael-catano.jpg", alt: 'Michael Catano'
      %strong
        Michael Catano
      is in charge of making sure the words read gooder. In his spare time he builds fancy bicycle frames under the name #{link_to "Humble Frameworks", "http://www.humbleframeworks.cc/"} and hangs out with his cats.
  %li
    %p
      = image_tag "/assets/who/mike-oleon.jpg", alt: 'Mike Oleon'
      %strong
        Mike Oleon
      does the graphic design and illustration for the Index. If anything looks good, it's probably his fault.


%h2.the-alumni
  Alumni

%ul.about-list
  %li
    = image_tag "/assets/who/will-barrett.jpg", alt: 'Will Barrett'
    %h4
      Will Barrett
  %li
    = image_tag "/assets/who/erin-vogel.jpg", alt: 'Erin Vogel'
    %h4
      Erin Vogel
  %li
    = image_tag "/assets/who/andrew-herr.jpg", alt: 'Andrew Herr'
    %h4
      Andrew Herr
%ul.about-list.final-list
  %li
    = image_tag "/assets/who/stephanie-scheurich1.jpg", alt: 'Stephanie Scheurich'
    %h4
      Stephanie Scheurich
  %li
    = image_tag "/assets/who/bike-mike.jpg", alt: 'Mike Pickerd'
    %h4
      Mike Pickerd