%h1
  About Bike Index

%p
  Cofounded by Seth Herr and Bryan Hance in 2014, Bike Index is the nation’s largest and most successful bicycle registration and recovery service with over 100,000 catalogued bikes, 75,000 registered riders, 320 community partners and 3,200 confirmed recoveries to date. 

%p
  Seth, a bike mechanic, conceived Bike Index as a universal bicycle registry for his customers and the cyclists of Chicago. 

%p
  Bryan, creator of StolenBikeRegistry.com, developed a bicycle recovery resource leveraging community-driven tools and engagement to produce successful claims dating back to 2004.

%p
  Merging the two services in 2014, Seth and Bryan created a system that is the culmination of over 20 years of combined experience creating modern, innovative platforms designed to equip the cycling community with the necessary tools to secure their equipment against theft. 

%p
  Simple. Efficient. Effective.

%p
  Bike Index. It’s bike registration that works.

%h2
  The team

%ul.about-people
  %li
    %p
      = image_tag "who/seth-herr2.jpg", alt: 'Seth Herr', title: "Those are not official Bike Index arm warmers, we don't have Bike Index arm warmers"
      %strong
        Seth Herr
      learned to program so that he could build Bike Index, because he was a bike mechanic and was frustrated that something like it didn't exist.
  %li
    %p
      = image_tag "who/bryan-hance.jpg", alt: 'Bryan Hance'
      %strong
        Bryan Hance
      created StolenBicycleRegistry.com in 2005 because 5 of his bikes were stolen in 9 years. The first week it was live he recovered a bike - and realized recovering bikes was really fun. He lives in Portland and recovers lots of bikes.
  %li
    %p
      = image_tag "who/laura-nash.jpg", alt: 'Laura Nash'
      %strong
        Laura Nash
      handles our #{link_to "Twitter", "https://twitter.com/BikeIndex"} and #{link_to "Facebook", "http://facebook.com/bikeindex"} accounts, contacts people about their stolen bikes and reviews stolen listings.
  %li
    %p
      = image_tag "who/michael-catano.jpg", alt: 'Michael Catano'
      %strong
        Michael Catano
      is in charge of making sure the words read gooder. In his spare time he builds fancy bicycle frames under the name #{link_to "Humble Frameworks", "http://www.humbleframeworks.cc/"} and hangs out with his cats.
  %li
    %p
      = image_tag "who/mike-oleon.jpg", alt: 'Mike Oleon'
      %strong
        Mike Oleon
      does the graphic design and illustration for the Index. If anything looks good, it's probably his fault.


%h2.the-alumni
  Alumni

%ul.about-list.about-alumni-list
  %li
    = image_tag "who/will-barrett.jpg", alt: 'Will Barrett'
    %h4
      Will Barrett
  %li
    = image_tag "who/erin-vogel.jpg", alt: 'Erin Vogel'
    %h4
      Erin Vogel
  %li
    = image_tag "who/andrew-herr.jpg", alt: 'Andrew Herr'
    %h4
      Andrew Herr
%ul.about-list.final-list.about-alumni-list
  %li
    = image_tag "who/stephanie-scheurich1.jpg", alt: 'Stephanie Scheurich'
    %h4
      Stephanie Scheurich
  %li
    = image_tag "who/bike-mike.jpg", alt: 'Mike Pickerd'
    %h4
      Mike Pickerd
