%h1
  About the Bike Index
%p
  The Bike Index is a
  %a{ href: "http://en.wikipedia.org/wiki/Benefit_corporation" }
    benefit corporation
  that was started in Chicago in 2013 by a group of bike shop employees and bicycle lovers who were frustrated by everyone's fatalistic response to bike theft.
%p
  We believe that registering bikes is a great idea, but in our experience too few bike owners actually register their bikes. The only way registration can decrease bike theft is through widespread adoption.
%p
  By giving bike shops the ability to register their customer's bikes for free, the Bike Index aims to make registration an expectation.

%p
  Ultimately the Bike Index wants to make biking as fun and free of worry as we can, and we see bike theft as a major source of worry. So we're trying to stop it.

%h2.the-team 
  Bike Index team

%ul.about-list
  %li
    = image_tag "/assets/who/seth-herr.jpg"
    %h4
      Seth Herr
  %li
    = image_tag "/assets/who/will-barrett.jpg"
    %h4
      Will Barrett
  %li
    = image_tag "/assets/who/erin-vogel.jpg"
    %h4
      Erin Vogel
%ul.about-list
  %li
    = image_tag "/assets/who/mike-oleon.jpg"
    %h4
      Mike Oleon
  %li
    = image_tag "/assets/who/stephanie-scheurich1.jpg"
    %h4
      Stephanie Scheurich
  %li
    = image_tag "/assets/who/bike-mike.jpg"
    %h4
      Mike Pickerd
