%h1
  We don't just bike on the weekend

%p
  Bicycles are a defining feature of our lives. We work with them professionally, we wear lycra sometimes, we have pedal scars, we believe everyone should be riding all the time.

%p
  We want to make biking as fun and free of stress as possible. Bike theft is a major source of worry, so we're stopping it.

%p
  Registering bikes is a vital part of reducing bike theft &mdash; so we've made it easy.
%p
  The Bike Index was founded in Chicago in 2013. We're a #{link_to 'benefit corporation', "http://en.wikipedia.org/wiki/Benefit_corporation" }, we ran a successful #{link_to "Kickstarter campaign", "https://www.kickstarter.com/projects/1073266317/the-bike-index-lets-stop-bike-theft-together"} and we're nerds (Bike Index is open source, #{link_to "all the code is available on GitHub", 'https://github.com/bikeindex/bike_index'}).

%h2.the-team 
  Bike Index team

%ul.about-list
  %li
    = image_tag "/assets/who/seth-herr.jpg", alt: 'Seth Herr'
    %h4
      Seth Herr
  %li
    = image_tag "/assets/who/bryan-hance.jpg", alt: 'Bryan Hance'
    %h4
      Bryan Hance
  %li
    = image_tag "/assets/who/laura-nash.jpg", alt: 'Laura Nash'
    %h4
      Laura Nash
  
%ul.about-list
  %li
    = image_tag "/assets/who/mike-oleon.jpg", alt: 'Mike Oleon'
    %h4
      Mike Oleon
  %li
    = image_tag "/assets/who/stephanie-scheurich1.jpg", alt: 'Stephanie Scheurich'
    %h4
      Stephanie Scheurich
  %li
    = image_tag "/assets/who/bike-mike.jpg", alt: 'Mike Pickerd'
    %h4
      Mike Pickerd
%ul.about-list.final-list
  %li
    = image_tag "/assets/who/will-barrett.jpg", alt: 'Will Barrett'
    %h4
      Will Barrett
  %li
    = image_tag "/assets/who/erin-vogel.jpg", alt: 'Erin Vogel'
    %h4
      Erin Vogel
  %li
    = image_tag "/assets/who/andrew-herr.jpg", alt: 'Andrew Herr'
    %h4
      Andrew Herr