%h1
  About the Bike Index
%p
  The Bike Index is a
  %a{ href: "http://en.wikipedia.org/wiki/Benefit_corporation" }
    benefit corporation
  that was started in Chicago in 2013 by a group of bike shop employees and bicycle lovers who were frustrated by everyone's fatalistic response to bike theft and we ran a successful
  = link_to "Kickstarter campaign", "https://www.kickstarter.com/projects/1073266317/the-bike-index-lets-stop-bike-theft-together"
  to expand.

%p
  We believe registering bikes is an incredibly important part of reducing bike theft but too few bikers register their trusty steeds because it's been inconvenient. So we've made it easy, and given organizations the ability to help.


%p
  Ultimately the Bike Index wants to make biking as fun and free of worry as we can, and we see bike theft as a major source of worry. So we're trying to stop it.

%h2.the-team 
  Bike Index team

%ul.about-list
  %li
    = image_tag "/assets/who/seth-herr.jpg"
    %h4
      Seth Herr
  %li
    = image_tag "/assets/who/will-barrett.jpg"
    %h4
      Will Barrett
  %li
    = image_tag "/assets/who/erin-vogel.jpg"
    %h4
      Erin Vogel
%ul.about-list
  %li
    = image_tag "/assets/who/mike-oleon.jpg"
    %h4
      Mike Oleon
  %li
    = image_tag "/assets/who/stephanie-scheurich1.jpg"
    %h4
      Stephanie Scheurich
  %li
    = image_tag "/assets/who/bike-mike.jpg"
    %h4
      Mike Pickerd
