%h5 Bike Index is meant to be usable and expandable by everyone. We're way into the open source.

%h3.mt-4 Design resources

%ul
  %li
    = image_assets_link = link_to "Image assets", image_resources_path
    = "#{image_assets_link} - vector and png Bike Index logos".html_safe
  %li
    - flyer_pdf_url =  "https://files.bikeindex.org/stored/Bike-Index-TriFold.pdf"
    - trifold_flyer_link = link_to "Trifold Flyer", flyer_pdf_url
    = "#{trifold_flyer_link} - Print color & double-sided (<em>do not</em> rescale, have printer print as close to the edges as it can)".html_safe
  %li
    - bike_shop_card_url = "https://files.bikeindex.org/stored/Bike-Index-Shop-Card.pdf"
    = bike_shop_card_link = link_to "Bike shop card", bike_shop_card_url
    = "#{bike_shop_card_link} - design is for notecard size (5.5\" x 4.25\")"

%h3.mt-4 Development resources
%ul
  %li
    - github_link = link_to "on GitHub", "https://github.com/bikeindex/bike_index"
    = "Bike Index itself is open source - check it out #{github_link}."
  %li
    = link_to "Our API documentation", documentation_index_path
  %li
    - nearby_stolen_widget_link = link_to "Nearby stolen widget", "https://github.com/bikeindex/stolen_bikes_widget_html"
    = "#{nearby_stolen_widget_link} (on GitHub)".html_safe
  %li
    - url_for_embed = current_user ? user_embed_path(current_user) : new_user_url(return_to: dev_and_design_path)
    - display_widget_link = link_to "Personal bike display widget", url_for_embed
    = "#{display_widget_link} (must be logged in - also, has no usage instructions...)".html_safe
  %li
    - oauth_apps_link = link_to "OAuth Applications you've made", oauth_applications_path
    = "#{oauth_apps_link} (must be logged in)".html_safe
  %li
    - oauth_authorized_apps_link = link_to "OAuth Applications you've authorized", oauth_authorized_applications_path
    = "#{oauth_authorized_apps_link} (must be logged in)".html_safe
