%h1
  What is this and how does it work?

%hr.padded
%article.padded
  %h3
    What is bike registration and why should I care?
  %p.padded
    We know how hard it can be to prove that a bike actually belongs to you: receipts get lost, not all shops keep records of past sales, and very few of us copy down our bike's serial number. When you register a bike on Bike Index you're creating a listing of important information such as brand, model, size, color, serial number, components, and any other unique or identifying features you can think of. You'll be able to update your listing as often as you'd like, you have control over how much of that information is made public, and you'll have access to all of it 24/7. 
  %p
    A listing on Bike Index means you have access to information about your bike at a moment's notice. No more scrambling to find old receipts or photos of your bike and no more frantic calls to bike shops to dig up an old serial number. We put all of the information in one convenient place and make it easy for you to pass it to law enforcement, insurance companies, local bike shops, and your social network.

%hr.padded
%article.padded
  %h3
    OK, so how do I register my bike?
  %p.padded
    Creating a listing on Bike Index is easy.  If you've purchased a bike from one of our retail partners, chances are they've already entered most of the information on your behalf. You'll receive an email from us with a link to your new account and bike listing - all you need to do is log in and verify your listing.
  %p

    If you're registering a bicycle that you already own, a new-to-you purchase, or a brand new bike that came from a shop that doesn't automatically register with Bike Index, just follow the link to #{link_to "REGISTER YOUR BIKE", new_bike_url} and enter as much or as little information as you can about your bike.  Remember: the more information you can add, the more helpful your listing will be in the future.
  %p
    After you've registered your bike you can go back at any time and make changes. Fancier saddle? Different color grips? Brand new paint job? Update the listing and add current photos to keep your information as fresh as your bike.

  %p
    We make managing your listings as easy as possible in order to ensure that you have as much useful information on file in case you ever need it. Simply log into your account, select the bike you want to modify, make the changes, save the info, and you're good to go.
  %p
    Time to sell a bike to make way for a new one? Make sure the new owner enjoys the same peace-of-mind by easily transferring ownership.
%hr.padded
%article.padded
  %h3
    So what happens if my bike is stolen?
  %p.padded
    In the unfortunate event that your bike is stolen, you can harness the power of our network to help get it back. If you haven't already registered the bike, you'll need to create a new listing (you can #{link_to "do that here", new_bike_url(stolen: true)}); if the bike is already registered, here's how it works:

  %ol
    %li
      %p
        Log into your Bike Index account and click on the bicycle that's been stolen from #{link_to "your list of bikes", user_home_url}.
    %li
      %p
        Scroll down the edit page until you reach the section with the title "Mark Stolen or send bike to a new owner."
    %li
      %p
        Click the red button that says "Mark bike as stolen" and once the bike has been updated, fill in information about the theft.
    %li
      %p
        When a bike is marked as STOLEN on Bike Index we look over your listing and offer suggestions that might make it easier to recover.
    %li
      %p
        We'll use Twitter to send out an alert to your regional stolen bike alert account (find #{link_to "our a list of all our city-specific Twitter accounts here", "https://twitter.com/BikeIndex/lists/stolen-bike-alerts/members"}) and create a link that makes it easy for you to share the stolen bike alert with your entire social network.
    
  %p
    Police departments and pawn shops use the Bike Index database to check bikes that they receive or recover. When a bike is marked "stolen" on our site, it gives them a way to quickly get in touch with you so you and your ride can be reunited. Likewise, when people are considering a used bike purchase they can quickly check the serial number to help determine if the bike is being sold legitimately.
  %p.padded
    We also recommend #{link_to "reading this article", "https://medium.com/@stolenbikessfo/what-to-do-after-you-bike-has-been-stolen-in-the-bay-area-e08e6b6f005b"} by Bike Index co-founder Bryan Hance. It focuses on the Bay Area, but it has useful information for victims everywhere.


%hr.padded
%article.padded
  %h3
    I'm sold! How do I get started?
  %p.padded
    It's easy -
    - if current_user.present?
      all you have to do is
    - else
      #{link_to "create an account", new_user_url}, then
    follow this link #{link_to "and REGISTER YOUR BIKE", new_bike_url}!



