.vendor-signup.page-content
  %h1
    = t(".how_to_lightspeed_retail")
  %article
    %p.mt-4
      = t(".this_page_gives_instructions_html", about_url: about_path)

  .video-responsive
    <iframe src="https://www.youtube.com/embed/MKUNw4zfLJY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  %article.mt-4
    %p
      = t(".we_believe_that_bicycle_registration")

    - if current_user.present? && current_user.memberships.present?
      - link = link_to 'bikeindex.org/lightspeed_interface', lightspeed_interface_path(organization_id: passive_organization&.id)
      %p= t(".all_you_have_to_do_is_go_to_html", link: link)
    - else
      %p= t(".the_first_step_is_to_create_an_account_html")
      %p= t(".once_you_have_a_bike_index_account_set_up")

    %p= t(".a_listing_on_bike_index_will_be_created")

  %article.mt-4
    %p= t(".the_bicycles_owner_will_receive_an_email")

    %h3= t(".a_few_things_to_note")

  %ul.fancy-bullets
    %li
      %span.blue-bullet
      %p= t(".write_do_not_register")
    %li
      %span.blue-bullet
      %p= t(".bicycles_sold_before_you_activated_lights")
    %li
      - link = link_to t(".privacy_policy_here"), privacy_url
      %span.blue-bullet
      %p= t(".we_know_you_and_your_customers_html", link: link)
    %li
      - link = link_to "support@bikeindex.org", "mailto:support@bikeindex.org"
      %span.blue-bullet
      %p= t(".were_happy_to_answer_any_questions_html", link: link)

  %blockquote
    = t(".i_started_bike_index_because")

  .blockquote-cite
    Seth Herr,
    = t(".bike_index_cofounder")

  .row.mt-4{ style: "align-items: center;" }
    .col-xs-6
      = t(".learn_more_about")
      %a{ href: "https://www.lightspeedhq.com/pos/retail/bike-shop/?utm_medium=partner&utm_source=Reseller&utm_campaign=001G00000118MwjIAE&ref=001G00000118MwjIAE", style: "display: inline-block;" }
        = t(".lightspeed_retail")
    .col-xs-6
      %a{ href: "https://www.lightspeedhq.com/pos/retail/bike-shop/?utm_medium=partner&utm_source=Reseller&utm_campaign=001G00000118MwjIAE&ref=001G00000118MwjIAE", style: "display: block; margin: 0 auto; max-width: 200px;" }
        = image_tag "lightspeed_partner_logo.png"



  %article.padded.vendor-signup-form.bottom-padded#add_organization
    %h3= t(".sign_your_shop_up")

    = render "/organizations/new_form"
