<% file_path = @view_renderer.lookup_context.find_template(@virtual_path).identifier.gsub(/\A.*\/app\//i, 'app/') %>
<%- change_history_url = "https://github.com/bikeindex/bike_index/tree/master/#{file_path}" %>
<%- terms_link = link_to(t(".terms_of_service"), terms_path) %>

<div id="legal-terms" class="inner-recep legal-content">
  <header>
    <h1>
      <a name="privacy-policy" class="anchor" href="#privacy-policy">
        <span class="mini-icon mini-icon-link"></span></a>
      Privacy Policy
    </h1>

    <p>
    <%= t('.last_updated_html', link: link_to(t('.available_here'), change_history_url)) %>
    </p>

    <hr>
  </header>

  <h2>
    <a name="privacy-general-information" class="anchor" href="#privacy-general-information"><span class="mini-icon mini-icon-link"></span></a>
    <%= t('.general_information') %>
  </h2>

  <p>
  <%= t('.see_terms_link_html', terms_link: terms_link) %>
  </p>

  <p>
  <%= t('.general_information_p1') %>
  </p>

  <p>
  <%= t('.general_information_p2') %>
  </p>

  <p>
  <%= t('.general_information_p3') %>
  </p>

  <h2>
    <a name="privacy-information-gathering-and-usage" class="anchor" href="#information-gathering-and-usage"><span class="mini-icon mini-icon-link"></span></a>
    <%= t('.information_gathering') %>
  </h2>

  <p>
  <%= t('.information_gathering_p1') %>
  </p>

  <p>
  <%= t('.information_gathering_p2') %>
  </p>

  <h2>
    <a name="cookies" class="anchor" href="#cookies"><span class="mini-icon mini-icon-link"></span></a>
    <%= t('.cookies') %>
  </h2>

  <p>
  <%= t('.cookies_p1') %>
  </p>

  <p>
  <%= t('.cookies_p2') %>
  </p>

  <p>
  <%= t('.cookies_p3') %>
  </p>


  <h2>
    <a name="data-storage" class="anchor" href="#data-storage"><span class="mini-icon mini-icon-link"></span></a>
    <%= t('.data_storage') %>
  </h2>

  <p>
  <%= t('.data_storage_p1') %>
  </p>

  <h2>
    <a name="disclosure" class="anchor" href="#disclosure"><span class="mini-icon mini-icon-link"></span></a>
    <%= t('.disclosure') %>
  </h2>

  <p>
  <%= t('.disclosure_p1_html') %>
  </p>

  <h2>
    <a name="changes" class="anchor" href="#changes"><span class="mini-icon mini-icon-link"></span></a>
    <%= t('.changes') %>
  </h2>

  <p>
  <%= t('.changes_p1') %>
  </p>

  <p>
  <%= t('.changes_p2_html') %>
  </p>


  <h2>
    <a name="questions" class="anchor" href="#questions"><span class="mini-icon mini-icon-link"></span></a>
    <%= t('.questions') %>
  </h2>

  <p>
  <%= t('.questions_p1_html') %>
  </p>

</div>
