%h1= translate_with_args(".bike_index_resources")

%ul
  %li
    %p
      - link = link_to translate_with_args(".how_not_to_buy_a_stolen_bike"), how_not_to_buy_stolen_url
      = translate_with_args(".infographic_html", link: link)

  %li
    - link = link_to translate_with_args(".map_of_bike_thefts"), "http://map.bikewise.org"
    %p= translate_with_args(".check_out_our_link_html", link: link)
  %li
    - link = link_to translate_with_args(".logos_and_design_assets"), image_resources_url
    %p= translate_with_args(".get_bike_index_html", link: link)
  %li
    - link = link_to translate_with_args(".learn_about_serial_numbers_here"), serials_url
    %p= translate_with_args(".did_you_know_every_bike_html", link: link)
  %li
    - link = link_to translate_with_args(".the_manufacturers"), manufacturers_url
    %p= translate_with_args(".view_the_list_of_all_html", link: link)
  %li
    - github_link = link_to "GitHub", "https://github.com/bikeindex", target: "_blank"
    %p= translate_with_args(".were_open_source_view_this_app_html", github_link: github_link)
  %li
    - link = link_to translate_with_args(".api_documentation"), documentation_index_url
    %p= translate_with_args(".we_have_an_open_api_check_out_html", link: link)
