%h1= t(".bike_index_resources")

%ul
  %li
    %p
      - link = link_to t(".how_not_to_buy_a_stolen_bike"), how_not_to_buy_stolen_url
      = t(".infographic_html", link: link)

  %li
    - link = link_to t(".map_of_bike_thefts"), "http://map.bikewise.org"
    %p= t(".check_out_our_link_html", link: link)
  %li
    - link = link_to t(".logos_and_design_assets"), image_resources_url
    %p= t(".get_bike_index_html", link: link)
  %li
    - link = link_to t(".learn_about_serial_numbers_here"), serials_url
    %p= t(".did_you_know_every_bike_html", link: link)
  %li
    - link = link_to t(".the_manufacturers"), manufacturers_url
    %p= t(".view_the_list_of_all_html", link: link)
  %li
    - github_link = link_to "GitHub", "https://github.com/bikeindex", target: "_blank"
    %p= t(".were_open_source_view_this_app_html", github_link: github_link)
  %li
    - link = link_to t(".api_documentation"), documentation_index_url
    %p= t(".we_have_an_open_api_check_out_html", link: link)
