%h1
  = t(".bike_serial_numbers")

%p#fnref-all-bikes-serials
  = t(".all_bikes")
  %sup
    %a.footnote-ref{ href: '#fn-all-bikes-serials' }
      1
  = t(".all_have_unique_serial_numbers")

%h3.header-font-uncap#find-serial-number.mt-4
  = t(".finding_a_bicycle_serial_number")

%p= t(".most_bicycles_have_their_serial_number_en")


%ul.serial-pictures
  %li
    = link_to image_tag('serials/serial_bb.jpg', alt: t('.bike_with_bottom_circled')), image_path('serials/serial_bb.jpg'), class: 'serial-image'
    %p= t(".the_bottom_bracket_html")
  %li
    = link_to image_tag('serials/serial_peters.jpg', alt: t('.standard_serial_number')), image_path('serials/serial_peters.jpg'), class: 'serial-image'
    %p= t(".a_serial_number_on_the_underside_html")
  %li
    = link_to image_tag('serials/serial_fixie.jpg', alt: t('.another_standard_serial_number')), image_path('serials/serial_fixie.jpg'), class: 'serial-image'
    %p= t(".another_serial_number_beneath_html")
  %li
    = link_to image_tag('serials/serial_rad_power.jpg', alt: t('.rad_power_serial')), image_path('serials/serial_rad_power.jpg'), class: 'serial-image'
    %p= t(".rad_power_serials_html")
  %li
    = link_to image_tag('serials/serial_headtube.jpg', alt: t('.schwinn_serial')), image_path('serials/serial_headtube.jpg'), class: 'serial-image'
    %p= t(".some_schwinn_bicycles_also")
  %li
    = link_to image_tag('serials/serial_pinsch.jpg', alt: t('.doberman_serial')), image_path('serials/serial_pinsch.jpg'), class: 'serial-image'
    %p= t(".a_serial_number_located_on_a_html")

  %li#fnref-all-bikes-serials
    = link_to image_tag('serials/serial_look.jpg', alt: t('.look_serial')), image_path('serials/serial_look.jpg'), class: 'serial-image'
    %p
      = t(".some_bikes_have_multiple_html")
      %sup
        %a.footnote-ref{ href: '#fn-second-serial-number' }
          2
      = t(".when_adding_a_bike_to_the_index")

%p
  - link = link_to 'contact@bikeindex.org', 'mailto:contact@bikeindex.org'
  = t(".hopefully_you_can_find_the_serial_html", link: link)

%h3.header-font-uncap#searching-bike-index-serials.mt-4
  = t(".searching_serials_on_bike_index")

%p
  - search_form_link = link_to t(".our_search_form"), default_bike_search_path
  = t(".finding_bicycles_by_serial_number_html", search_form_link: search_form_link)

= link_to image_tag("serials/serial_search_bar.png", alt: t(".serial_search_input")), default_bike_search_path, class: "serial-search-screenshot"

%p.mt-2{ style: "margin-bottom: 0;" }
  = t(".weve_done_a_few_things_to_make_it_more_li")

%ul
  %li= t(".certain_numbers_and_letters_html")
  %li= t(".we_split_bike_serials_up_by_html")
  %li= t(".we_do_close_serial_matching_html")
  %li= t(".we_do_not_currently_do_partial_html")



.footnotes
  %ol
    %li#fn-all-bikes-serials
      = t(".okay_fine_so_maybe_html")
      %a.footnote-back-link{ href: "#fnref-all-bikes-serials", title: t(".jump_back_to_footnote", num: 1) }
        &#8617;
    %li#fn-second-serial-number
      = t(".in_this_picture_html")
      %a.footnote-back-link{ href: "#fnref-second-serial-number", title: t(".jump_back_to_footnote", num: 2) }
        &#8617;
