%h1
  = t "info.serials.title"
%p#fnref-all-bikes-serials
  = t "info.serials.intro"
  %sup
    %a.footnote-ref{ href: "#fn-all-bikes-serials" }
      1
  = t "info.serials.intro2"

%p
  = t "info.serials.texts.text1"


%ul.serial-pictures
  %li
    = link_to image_tag("/assets/serials/serial_bb.jpg", alt: "Bike with bottom bracket circled"), "/assets/serials/serial_bb.jpg", class: "serial-image"
    %p
      = t "info.serials.texts.text2"
  %li
    = link_to image_tag("/assets/serials/serial_peters.jpg", alt: "Standard serial number"), "/assets/serials/serial_peters.jpg", class: "serial-image"
    %p
      = t "info.serials.texts.text3"
  %li
    = link_to image_tag("/assets/serials/serial_fixie.jpg", alt: "Another standard serial number. Sometime to be replaced with a serial number covered up by routing."), "/assets/serials/serial_fixie.jpg", class: "serial-image"
    %p
      = t "info.serials.texts.text4"
  %li
    = link_to image_tag("/assets/serials/serial_headtube.jpg", alt: "Schwinn Serial."), "/assets/serials/serial_headtube.jpg", class: "serial-image"
    %p
      = t "info.serials.texts.text5"
  
  %li
    = link_to image_tag("/assets/serials/serial_pinsch.jpg", alt: "Doberman dropout serial number"), "/assets/serials/serial_pinsch.jpg", class: "serial-image"
    %p
      = t "info.serials.texts.text6"


  %li#fnref-all-bikes-serials
    = link_to image_tag("/assets/serials/serial_look.jpg", alt: "Look serial number"), "/assets/serials/serial_look.jpg", class: "serial-image"
    %p
      = t "info.serials.texts.text7"
      %sup
        %a.footnote-ref{ href: "#fn-second-serial-number" }
          2
      = t "info.serials.texts.text8"

%p
  = t "info.serials.texts.text9"
  / # = link_to 'Check out the forum', discuss_url
  email #{link_to 'contact@bikeindex.org', 'mailto:contact@bikeindex.org'}
  = t "info.serials.texts.text10"

= render '/shared/content_footer_ad'

.footnotes
  %ol
    %li#fn-all-bikes-serials
      = t "info.serials.texts.text11" 
      %em
        = t "info.serials.words.word1"
      = t "info.serials.texts.text12"
      %a.footnote-back-link{ href: "#fnref-all-bikes-serials", title: "Jump back to footnote 1 in the text."}
        &#8617;
    %li#fn-second-serial-number
      = t "info.serials.texts.text13"
      %em
        200910427-2A
      = t "info.serials.texts.text14"
      %a.footnote-back-link{ href: "#fnref-second-serial-number", title: "Jump back to footnote 2 in the text."}
        &#8617;    