.blog-header
  %h1.global-title
    = @blog.title

  %article.blogger-info
    %h4.pub-date
      = t(".updated")
      %span.convertTime.withPreposition= l @blog.published_at, format: :convert_time
  %hr.mb-5.less-strong

- if @blog.is_listicle
  - @blog.listicles.each_with_index do |list_item, i|
    - unless i == 0
      %hr.listicle-separator
    = listicle_html(list_item)

- else
  :markdown
    #{@blog.body}

- if @blog.canonical_url?
  .mt-4
    %h4.less-strong
      = t(".also_published")
      = link_to @blog.pretty_canonical, @blog.canonical_url
