%h1#what-spokecards-are
  Spoke cards

%p
  = link_to "Spokecards", "https://en.wikipedia.org/wiki/Spokecard", target: '_blank'
  are cards placed in the spokes of a bicycle wheel. They are held in place by overlapping spokes.

  = image_tag '/assets/spokecard-demo.jpg', alt: 'Bike Index spokecard, showin off', class: 'spokecard-demo'



%h2#bike-index-specifics
  Bike Index spoke cards
%p
  Bike Index spoke cards have a
  = link_to "QR code", "https://en.wikipedia.org/wiki/QR_code", target: '_blank'
  that links to a specific bike registration on the Index. You can read the QR code with a free app on your 
  = link_to "iOS", "https://itunes.apple.com/us/app/qr-reader-for-iphone/id368494609"
  or 
  = link_to "Andriod", "https://play.google.com/store/apps/details?id=uk.tapmedia.qrreader"
  device. When you scan the qr code it will go to your bike's page on the Bike Index!

%p
  If you were sent a spoke card by the Bike Index, it may not be linked to your bike. When you scan the card you will get sent to a page that asks for your email.


%h2#making-one
  Making your own

%p
  So you wanna have your own wicked cool spoke card?

%h3
  Steps:
%ul.fancy-bullets
  %li
    %span.blue-bullet
    %p
      Print out the code
  %li
    %span.blue-bullet
    %p
      Laminate the card
  %li
    %span.blue-bullet
    %p
      Put it in your bike
  %li
    %span.blue-bullet
    %p
      Be awesome


%article
  .well.spokecard-bikes
    %p.url-spokecard
      You can see a spoke card page by adding 
      %em
        \/spokecard
      to the end of a bike's URL on the Bike Index.

    - if current_user.present? 
      - if @bikes.any?
        %ul
          - @bikes.each do |bike|
            %li
              %p
                Spoke card for your
                %a{ href: "#{bike_url(bike)}/spokecard" }
                  #{bike.primary_frame_color.name} #{bike.manufacturer_name}
      - else
        %p 
          %em
            If you had any bikes on the index, we would put links to their spoke card pages here.
    - else
      %p
        %em 
          (If you logged in we would put links to all the spoke card pages here)


%h3.padded
  Tips:
%ul.fancy-bullets
  %li
    %span.bullet-point
    %p
      If you're using lamination pouches, run it through the lamination machine at least twice.
  %li
    %span.bullet-point
    %p
      Leave a little bit of space around the edges of the cuttout so the card stays watertight.
  %li
    %span.bullet-point
    %p
      If you'd like to have a double sided spoke card, you'll have to print out double sided. Putting two pages together doesn't work terribly well, it peels apart.