- if @blog.present?
  = content_for :header do
    %link{rel: :canonical, href: canonical_url(@blog) }
    - if @blog.secondary_title.present? # This is gross, but whatever
      <meta name="title" content="#{@blog.secondary_title}">

  #news_display
    .blog-header
      %h1.global-title
        = @blog.title

      %article.blogger-info
        %h4.pub-date
          updated
          - if @blog.published_at > Time.current - 1.week
            = l(@blog.published_at, format: :standard_display)
          - else
            = l(@blog.published_at, format: :no_day_with_year)

  :markdown
    #{@blog.body}

