- cache("where/shown-#{@organizations.count}-#{@organizations.maximum(:updated_at)}") do
  / Cache these queries
  - @states = State.includes(:locations).all
  - @countries = Country.where('iso != ?', 'US').includes(:locations)
  / Set the locations on the window for the partial
  - locations = []
  - @organizations.each do |organization|
    - organization.locations.each_with_index do |location, index|
      - next unless location.latitude && location.longitude
      - locations << [ "#shop#{location.org_location_id}", location.latitude, location.longitude]
  :javascript
    window.shop_locations = #{locations};
  %h1#where-bike-index
    Bike Index partners
    %small
      = link_to 'Sign up your organization', new_organization_path
  %article
    .map-of-shops
      = render '/shared/shops_map'
  %h3.padded
    Partner organizations

  %article.where-shops-list#list_of_partners
    %table.organizations-datatable
      %thead
        %tr
          %td Country
          %td State
          %td Name
          %td Address
          %td Phone
          %td Website
      %tbody
        - @states.each do |state|
          - next unless state.locations.where(shown: true).any?
          - state.locations.each do |location|
            - next unless location.shown
            - location = location.decorate

            %tr
              %td US
              %td= state.name
              %td
                - if location.street.present?
                  %a.where-shop-location{data: { lat: location.latitude, long: location.longitude } }
                    Show #{location.display_name} on map
              %td #{location.street}, #{location.city}, #{location.state.abbreviation} #{location.zipcode}
              %td
                - if location.phone
                  %a{ href: "tel:#{ location.phone }" }
                    = location.display_phone
              %td= link_to "#{location.organization.name} website", location.organization.website, target: "_blank", class: "shop-site"
        - @countries.each do |country|
          - next unless country.locations.where(shown: true).any?
          - country.locations.each do |location|
            - next unless location.shown
            - location = location.decorate

            %tr
              %td= country.name
              %td= location.city
              %td
                - if location.street.present?
                  %a.where-shop-location{data: { lat: location.latitude, long: location.longitude } }
                    Show #{location.display_name} on map
              %td #{location.street}, #{location.city}, #{location.zipcode}, #{location.country.name}
              %td
                - if location.phone
                  %a{ href: "tel:#{ location.phone }" }
                    = location.display_phone
              %td= link_to "#{location.organization.name} website", location.organization.website, target: "_blank", class: "shop-site"

  %hr.where-add-shops

  %p
    If you're a bike shop and would like to join us, check out our #{link_to "signup page", new_organization_path}.


:javascript
  $('.organizations-datatable').dataTable();