- cache("where/shown-#{@organizations.count}-#{@organizations.maximum(:updated_at)}") do
  / Cache these queries
  - @states = State.includes(:locations).all
  - @countries = Country.where('iso != ?', 'US').includes(:locations)
  / Set the locations on the window for the partial
  - locations = []
  - @organizations.each do |organization|
    - organization.locations.each_with_index do |location, index|
      - locations << [ "#shop#{location.org_location_id}", location.latitude, location.longitude]
  :javascript
    window.shop_locations = #{locations};
  %h1#where-bike-index
    Bike Index partners
    %small
      = link_to 'Sign up your organization', new_organization_path
  %article
    .map-of-shops
      = render '/shared/shops_map'
  %h3.padded
    US Partner organizations

  %article.where-shops-list#list_of_partners
    - @states.each do |state|
      - next unless state.locations.where(shown: true).any?
      %p.state-name
        = state.name
      %ul.state-list
        - state.locations.each do |location|
          - next unless location.shown
          - location = location.decorate
          %li
            .collapse-faq
              %a.shop-title-link.collapsed{ href: "#shop#{location.org_location_id}", data: { toggle: "collapse"} }
                %span
                  &#x25B6;
                = location.display_name
                %em
                  &nbsp;&nbsp;#{location.city}
            .shop-info.collapse{ id: "shop#{location.org_location_id}" }
              - if location.street.present?
                %a.where-shop-location{data: { lat: location.latitude, long: location.longitude } }
                  Show #{location.display_name} on map
                %p
                  #{location.street}, #{location.city}, #{location.state.abbreviation} #{location.zipcode}
              - if location.phone
                %p
                  %a{ href: "tel:#{ location.phone }" }
                    = location.display_phone
              - if location.organization.website.present?
                %p
                  = link_to "#{location.organization.name} website", location.organization.website, target: "_blank", class: "shop-site"
              .map-window
                .window-content
                  %h3
                    = location.display_name
                  %p
                    = location.street
                    %br
                    #{location.city}, #{location.state.abbreviation} #{location.zipcode}
                  - if location.phone
                    .map-telephone
                      %a{ href: "tel:#{ location.phone }" }
                        = number_to_phone(location.phone)
    %h3.padded
      International Partner organizations

    - @countries.each do |country|
      - next unless country.locations.where(shown: true).any?
      %p.state-name
        = country.name
      %ul.state-list
        - country.locations.each do |location|
          - next unless location.shown
          - location = location.decorate
          %li
            .collapse-faq
              %a.shop-title-link.collapsed{ href: "#shop#{location.org_location_id}", data: { toggle: "collapse"} }
                %span
                  &#x25B6;
                = location.display_name
                %em
                  &nbsp;&nbsp;#{location.city}
            .shop-info.collapse{ id: "shop#{location.org_location_id}" }
              - if location.street.present?
                %a.where-shop-location{data: { lat: location.latitude, long: location.longitude } }
                  Show #{location.display_name} on map
                %p
                  #{location.street}, #{location.city}, #{location.zipcode}, #{location.country.name}
              - if location.phone
                %p
                  %a{ href: "tel:#{ location.phone }" }
                    = location.display_phone
              - if location.organization.website.present?
                %p
                  = link_to "#{location.organization.name} website", location.organization.website, target: "_blank", class: "shop-site"
              .map-window
                .window-content
                  %h3
                    = location.display_name
                  %p
                    = location.street
                    %br
                    #{location.city}, #{location.zipcode}, #{location.country.name}
                  - if location.phone
                    .map-telephone
                      %a{ href: "tel:#{ location.phone }" }
                        = number_to_phone(location.phone)


  %hr.where-add-shops

  %p
    If you're a bike shop and would like to join us, check out our #{link_to "signup page", new_organization_path}.