- cache("where/shown2-#{@organizations.count}-#{@organizations.maximum(:updated_at)}") do
  -# Collect all visible locations from organizations
  - all_locations = @organizations.flat_map { |org| org.locations.shown.includes(:address_record) }
  - us_locations = all_locations.select { |loc| loc.address_record&.country_id == Country.united_states&.id }
  - international_locations = all_locations.reject { |loc| loc.address_record&.country_id == Country.united_states&.id }

  -# Group locations by state/country
  - us_by_state = us_locations.group_by { |loc| loc.address_record&.region_record }.compact
  - intl_by_country = international_locations.group_by { |loc| loc.address_record&.country }.compact

  -# Set the locations on the window for the partial
  - locations = []
  - @organizations.each do |organization|
    - organization.locations.each_with_index do |location, index|
      - next unless location.latitude && location.longitude
      - locations << ["#shop#{location.org_location_id}", location.latitude, location.longitude]

  :javascript
    window.shop_locations = #{locations};

  %h1#where-bike-index
    = t(".bike_index_partners")
    %small= link_to t(".sign_up_your_organization"), new_organization_path
  %article
    .map-of-shops
      = render '/shared/shops_map'
  %h3.padded
    = t(".us_partner_organizations")

  %article.where-shops-list#list_of_partners
    - us_by_state.sort_by { |state, _| state&.name.to_s }.each do |state, state_locations|
      - next if state.blank? || state_locations.empty?
      %p.state-name
        = state.name
      %ul.state-list
        - state_locations.each do |location|
          %li
            .collapse-faq
              %a.shop-title-link.collapsed{ href: "#shop#{location.org_location_id}", data: { toggle: "collapse"} }
                %span
                  &#x25B6;
                = location.display_name
                %em
                  &nbsp;&nbsp;
                  = location.address_record&.city
            .shop-info.collapse{ id: "shop#{location.org_location_id}" }
              - if location.address_record&.street.present?
                %a.where-shop-location{data: { lat: location.latitude, long: location.longitude } }
                  = t(".show_location_on_map", location_name: location.display_name)
                %p= [location.address_record.street, location.address_record.city, "#{location.address_record.region_record&.abbreviation} #{location.address_record.postal_code}"].compact.join(", ")
              - if location.phone.present?
                %p= phone_link(location.phone)
              - if location&.organization&.website.present?
                %p= link_to t(".website_for_organization", org_name: location.organization.name), location.organization.website, target: "_blank", class: "shop-site"
              .map-window
                .window-content
                  %h3= location.display_name
                  %p
                    = location.address_record&.street
                    %br
                    = [location.address_record&.city, "#{location.address_record&.region_record&.abbreviation} #{location.address_record&.postal_code}"].compact.join(", ")
                  - if location.phone.present?
                    .map-telephone
                      = link_to number_to_phone(location.phone), "tel:#{ location.phone }"
    %h3.padded
      = t(".international_partner_organizations")

    - intl_by_country.sort_by { |country, _| country&.name.to_s }.each do |country, country_locations|
      - next if country.blank? || country_locations.empty?
      %p.state-name
        = country.name
      %ul.state-list
        - country_locations.each do |location|
          %li
            .collapse-faq
              %a.shop-title-link.collapsed{ href: "#shop#{location.org_location_id}", data: { toggle: "collapse"} }
                %span
                  &#x25B6;
                = location.display_name
                %em
                  &nbsp;&nbsp;
                  = location.address_record&.city
            .shop-info.collapse{ id: "shop#{location.org_location_id}" }
              - if location.address_record&.street.present?
                %a.where-shop-location{data: { lat: location.latitude, long: location.longitude } }
                  = t(".show_location_on_map", location_name: location.display_name)
                %p= [location.address_record.street, location.address_record.city, location.address_record.postal_code, location.address_record.country&.name].compact.join(", ")

              - if location.phone.present?
                %p= phone_link(location.phone)

              - if location&.organization&.website.present?
                %p= link_to t(".website_for_organization", org_name: location.organization.name), location.organization.website, target: "_blank", class: "shop-site"

              .map-window
                .window-content
                  %h3= location.display_name
                  %p
                    = location.address_record&.street
                    %br
                    = [location.address_record&.city, location.address_record&.postal_code, location.address_record&.country&.name].compact.join(", ")

                  - if location.phone.present?
                    .map-telephone
                      = link_to number_to_phone(location.phone), "tel:#{ location.phone }"


  %hr.where-add-shops

  %p
    - signup_link = link_to t(".signup_page"), new_organization_path
    = t(".if_you_would_like_to_join_html", signup_link: signup_link)
