- cache("where/shown-#{@organizations.count}-#{@organizations.maximum(:updated_at)}") do
  -# Cache these queries
  - @states = State.includes(:locations).all
  - @countries = Country.where('iso != ?', 'US').includes(:locations)

  -# Set the locations on the window for the partial
  - locations = []
  - @organizations.each do |organization|
    - organization.locations.each_with_index do |location, index|
      - next unless location.latitude && location.longitude
      - locations << [ "#shop#{location.org_location_id}", location.latitude, location.longitude]

  :javascript
    window.shop_locations = #{locations};

  %h1#where-bike-index
    = t(".bike_index_partners")
    %small= link_to t(".sign_up_your_organization"), new_organization_path
  %article
    .map-of-shops
      = render '/shared/shops_map'
  %h3.padded
    = t(".us_partner_organizations")

  %article.where-shops-list#list_of_partners
    - @states.each do |state|
      - next unless state.locations.where(shown: true).any?
      %p.state-name
        = state.name
      %ul.state-list
        - state.locations.each do |location|
          - next unless location.shown
          %li
            .collapse-faq
              %a.shop-title-link.collapsed{ href: "#shop#{location.org_location_id}", data: { toggle: "collapse"} }
                %span
                  &#x25B6;
                = location.display_name
                %em
                  &nbsp;&nbsp;
                  = location.city
            .shop-info.collapse{ id: "shop#{location.org_location_id}" }
              - if location.street.present?
                %a.where-shop-location{data: { lat: location.latitude, long: location.longitude } }
                  = t(".show_location_on_map", location_name: location.display_name)
                %p= [location.street, location.city, "#{location.state.abbreviation} #{location.zipcode}"].join(", ")
              - if location.phone.present?
                %p= link_to display_phone(location.phone), "tel:#{ location.phone }"
              - if location&.organization&.website.present?
                %p= link_to t(".website_for_organization", org_name: location.organization.name), location.organization.website, target: "_blank", class: "shop-site"
              .map-window
                .window-content
                  %h3= location.display_name
                  %p
                    = location.street
                    %br
                    = [location.city, "#{location.state.abbreviation} #{location.zipcode}"].join(", ")
                  - if location.phone.present?
                    .map-telephone
                      = link_to number_to_phone(location.phone), "tel:#{ location.phone }"
    %h3.padded
      = t(".international_partner_organizations")

    - @countries.each do |country|
      - next unless country.locations.where(shown: true).any?
      %p.state-name
        = country.name
      %ul.state-list
        - country.locations.each do |location|
          - next unless location.shown
          %li
            .collapse-faq
              %a.shop-title-link.collapsed{ href: "#shop#{location.org_location_id}", data: { toggle: "collapse"} }
                %span
                  &#x25B6;
                = location.display_name
                %em
                  &nbsp;&nbsp;
                  = location.city
            .shop-info.collapse{ id: "shop#{location.org_location_id}" }
              - if location.street.present?
                %a.where-shop-location{data: { lat: location.latitude, long: location.longitude } }
                  = t(".show_location_on_map", location_name: location.display_name)
                %p= [location.street, location.city, location.zipcode, location.country.name].join(", ")

              - if location.phone.present?
                %p= link_to display_phone(location.phone), "tel:#{ location.phone }"

              - if location&.organization&.website.present?
                %p= link_to t(".website_for_organization", org_name: location.organization.name), location.organization.website, target: "_blank", class: "shop-site"

              .map-window
                .window-content
                  %h3= location.display_name
                  %p
                    = location.street
                    %br
                    = [location.city, location.zipcode, location.country.name].join(", ")

                  - if location.phone.present?
                    .map-telephone
                      = link_to number_to_phone(location.phone), "tel:#{ location.phone }"


  %hr.where-add-shops

  %p
    - signup_link = link_to t(".signup_page"), new_organization_path
    = t(".if_you_would_like_to_join_html", signup_link: signup_link)
