- mnfg_name = Manufacturer.find(@b_param.params[:bike][:manufacturer_id]).name
- mnfg_name = @b_param.params[:bike][:manufacturer_other] if mnfg_name == "Other"
- cycle_type = CycleType.find(@b_param.params[:bike][:cycle_type_id]).name.downcase
- wheel_size = WheelSize.find(@b_param.params[:bike][:rear_wheel_size_id]).name
- wheel_width = "wide tires"
- wheel_width = "narrow tires" unless @b_param.params[:bike][:rear_tire_narrow]
- color = Color.find(@b_param.params[:bike][:primary_frame_color_id]).name
.pay-for-registration
  %h2
    Registering this 
    = cycle_type
    costs $6.99

  = form_tag charges_path do
    = hidden_field :b_param, :id, value: @b_param.id
    = render "/charges/stripe_button"
  
  %dl.dl-horizontal
    %dt
      Manufacturer
    %dd
      = mnfg_name
    %dt
      Serial
    %dd
      = @b_param.params[:bike][:serial_number]
    %dt
      Color
    %dd
      = color
    %dt
      Wheels
    %dd
      = wheel_size
      with
      = wheel_width
