!!!
%html
  = render 'shared/header'
  
  - body_class = "welcome-page" if current_page?(root_path) and controller_name == "welcome"
  - body_class = "vendor-signup-page" if current_page?(:vendor_signup)
  - body_class = "news-page" if controller_name == "news"
  :scss
    .donor-icon {
      display: inline-block;
      color: white;
      font-size: 75%;
      background: #2ecc71;
      font-weight: 800;
      padding: .15em .25em;
      border: 1px solid #ccc;
      line-height: 1em;
      border-radius: 0.5em;
    }
    .paid-org-icon {
      display: inline-block;
      color: white;
      font-size: 75%;
      background: #2980B9;
      font-weight: 800;
      padding: .15em .25em;
      border: 1px solid #ccc;
      line-height: 1em;
      border-radius: 0.5em;
    }
    thead.sortable {
      th {
        font-weight: normal;
        a.sortable-link {
          display: block;
          position: relative;
          // To give a spot for the sortable direction
          &.active {
            padding-right: 1.5rem;
          }
          span.sortable-direction {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
          }
          &.active {
            font-weight: strong;
            text-decoration: underline;
          }
        }
      }
    }
  %body#body{ class: body_class }
    = render 'layouts/messages'

    %header.global-header.collapsible-head.invisibled#header
      = render 'shared/header_nav'
      
    %a#nav-header-collapse.expandable
      %span.e +
      %span.c -

    %header.replace-header
      .inner-recep
        - if current_user.superuser?
          %h2.new-title 
            = admin_nav_link "Go hard", admin_root_path
          %ul
            %li
              = admin_nav_link "Organizations", admin_organizations_path

            %li
              = admin_nav_link "Users", admin_users_path

            %li
              = admin_nav_link "Memberships", admin_memberships_path

            %li
              = admin_nav_link "Manufacturers", admin_manufacturers_path

            %li
              = admin_nav_link "Bikes", admin_bikes_path

            %li
              = admin_nav_link "Invitations", admin_invitations_path

            %li
              = admin_nav_link "News", admin_news_index_path
            %li
              = admin_nav_link "Stolen", admin_stolen_bikes_path
            / %li
            /   = admin_nav_link "Recoveries", admin_recoveries_path
            %li
              = admin_nav_link "Recovery displays", admin_recovery_displays_path
            %li
              = admin_nav_link "Paid Features", admin_paid_features_path
            %li
              = admin_nav_link "Payments", admin_payments_path
            %li
              = admin_nav_link "Invoices", admin_invoices_path

            - if Rails.env.development?
              %li
                Mailers: #{admin_nav_link "organized", '/rails/mailers/organized_mailer'}, #{admin_nav_link "admin", '/rails/mailers/admin_mailer'}, #{admin_nav_link "customer", '/rails/mailers/customer_mailer'}
        - elsif current_user.is_content_admin?
          %h2.new-title 
            = admin_nav_link "Go hard", admin_news_index_path
          %ul
            %li
              = admin_nav_link "News", admin_news_index_path



    %section.content#admin-content
      .receptacle
        .inner-recep

          = yield
      
    = render 'shared/footer'

  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-38316708-1', 'auto');
    ga('send', 'pageview');