!!!
%html
  %head
    = header_tags
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    = javascript_pack_tag "application_standalone"
    = stylesheet_pack_tag "application_css"

  / manually override body_class in a few situations :/
  - admin_body_class = "welcome-page" if current_page?(root_path) and controller_name == "welcome"
  - admin_body_class = "vendor-signup-page" if current_page?(:vendor_signup)
  - admin_body_class = "news-page" if controller_name == "news"
  %body{ id: page_id, class:  admin_body_class || body_class }
    %nav.navbar.navbar-expand-md.navbar-light.bg-light.admin-navbar
      %span.navbar-brand
        = link_to (image_tag("logo.svg")), admin_root_path
      - if current_user.superuser?
        %ul.navbar-nav.d-none.d-lg-flex
          %li.nav-item
            = active_link "Users", admin_users_path, role: "button", class: "nav-link users", match_controller: true
          %li.nav-item
            = active_link "Bikes", admin_bikes_path, role: "button", class:"nav-link bikes", match_controller: true
          %li.nav-item
            = active_link "Organizations", admin_organizations_path, role: "button", class: "nav-link", match_controller: true
          %li.nav-item
            = active_link "News", admin_news_index_path, role: "button", class: "nav-link", match_controller: true
          %li.nav-item
            = active_link "Stolen", admin_stolen_bikes_path, role: "button", class: "nav-link", match_controller: true
          - if Rails.env.development?
            %li.dropdown.nav-item
              %a.dropdown-toggle.nav-link{ "data-toggle" => "dropdown" }
                Mailers
              .dropdown-menu.admin-nav-dropdown
                = link_to "Organized", '/rails/mailers/organized_mailer' , role: "button", class: "btn btn-light dropdown-item"
                = link_to "Admin", '/rails/mailers/admin_mailer' , role: "button", class: "btn btn-light dropdown-item"
                = link_to "Customer", '/rails/mailers/customer_mailer' , role: "button", class: "btn btn-light dropdown-item"

        - if admin_nav_display_view_all
          = link_to admin_nav_select_link_active[:path], class: "nav-link text-muted em" do
            All
            .d-none.d-sm-inline-block.d-lg-none.d-xl-inline-block
              = admin_nav_select_link_active[:title]
        .fancy-select.unfancy.no-restore-on-backspace
          = select(:admin, :other_navigation, options_for_select(admin_nav_select_links.map { |l| [l[:title], l[:path]] }), { prompt: admin_nav_select_prompt }, { class: "form-control" })

        = link_to "Exit Admin", root_path, class: "btn btn-outline-secondary ml-auto less-strong d-none d-lg-inline-block"
    = render 'layouts/revised_messages'

    %section#admin-content.pb-4.mb-4
      .container-fluid.mt-4.pb-4
        = yield


