!!!
%html
  %head
    = header_tags
    = csrf_meta_tags
    <link rel="shortcut icon" href="/fav.ico" />
    = stylesheet_link_tag 'revised', media: 'all'
    <link rel='apple-touch-icon-precomposed apple-touch-icon' href='/apple_touch_icon.png'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    = javascript_include_tag 'application_revised'
    <!--[if IE]>$('body').prepend("<div id='old-browser-warning'><h4>Your browser is out of date!</h4><p>As a result, the Bike Index (and the internet in general) is broken. <a href=\"http://whatbrowser.com\">Learn more here</a>.</p></div>")<![endif]-->

    - if content_page_type == 'news'
      = auto_discovery_link_tag(:atom, news_index_url(format: "atom"), { title: 'Bike Index news atom feed' })

  %body{ id: body_id, class: ('organized-body' if current_page_skeleton == 'organized_skeleton') }
    %nav.primary-header-nav
      .container
        %a.primary-logo{ href: user_root_url }
          = image_tag 'revised/logo.svg', class: 'primary-nav', alt: 'Bike Index home'
        %a#menu-opened-backdrop
        .hamburgler
          %a#primary_nav_hamburgler
            &#9776;
        %ul.primary-main-menu
          - if current_user.present?
            - memberships = current_user.memberships.includes(:organization)
            %li.primary-nav-item
              %a.nav-link.settings-link#setting_submenu{ 'aria-haspopup' => "true", 'aria-expanded' => "false", data: { toggle: 'dropdown' } }
                %span.settings-text
                  Settings
                :plain
                  <svg id="settings-icon" data-name="Layer 13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.16 30"><defs><style>.cls-1{fill:none;stroke:#a4a4a4;stroke-miterlimit:10;}</style></defs><title>settings</title><circle class="cls-1" cx="10.68" cy="19.41" r="3.78"/><circle class="cls-1" cx="23.92" cy="6.17" r="1.89"/><path class="cls-1" d="M4900.95,1506.07a8.21,8.21,0,0,0-.18-1.71l2-1.15-2.52-4.37-1.95,1.15a6.91,6.91,0,0,0-2.92-1.72v-2.14h-5v2.14a7.28,7.28,0,0,0-3,1.72l-2-1.15-2.53,4.37,2,1.15a8.15,8.15,0,0,0,0,3.43l-2,1.14,2.52,4.37,2-1.15a7.26,7.26,0,0,0,3,1.72v2.29h5v-2.29a6.93,6.93,0,0,0,2.92-1.72l2,1.15,2.51-4.37-2-1.14A8.28,8.28,0,0,0,4900.95,1506.07Z" transform="translate(-4882.07 -1486.66)"/><path class="cls-1" d="M4910.4,1492.83a4.42,4.42,0,0,0-.12-1l1.25-.72-1.26-2.18-1.21.73a4.53,4.53,0,0,0-1.72-1v-1.45h-2.52v1.45a4.86,4.86,0,0,0-1.81,1l-1.28-.73-1.27,2.18,1.25,0.72a4.27,4.27,0,0,0,0,2l-1.26.72,1.26,2.19,1.3-.73a4.84,4.84,0,0,0,1.81,1v1.45h2.52v-1.45a4.51,4.51,0,0,0,1.72-1l1.23,0.73,1.25-2.19-1.26-.72A4.42,4.42,0,0,0,4910.4,1492.83Z" transform="translate(-4882.07 -1486.66)"/></svg>
              %ul.primary-submenu{ 'aria-labelledby' => '#setting_submenu' }
                = active_link 'Register a new bike', new_bike_path, class_name: 'nav-link'
                / Include personal bikes here if user has organizations
                - if memberships.any?
                  = active_link 'Your bikes', user_home_path, class_name: 'nav-link'
                %li
                  = active_link "#{current_user.email} settings", my_account_path, class_name: 'nav-link'
                %li
                  = link_to 'Logout', session_path, method: :delete, class: 'nav-link'
            - unless memberships.any?
              / If the user is in an organization, bikes are in their settings button
              %li.primary-nav-item
                = active_link 'Your bikes', user_home_path, class_name: 'nav-link'
            - memberships.each do |membership|
              - organization = membership.organization
              %li.primary-nav-item
                %a.nav-link{ id: "#{organization.slug}_submenu", 'aria-haspopup' => "true", 'aria-expanded' => "false", data: { toggle: 'dropdown' } }
                  = organization.short_name
                %ul.primary-submenu{ 'aria-labelledby' => "##{organization.slug}_submenu" }
                  %li
                    - bike_link_title = (organization.is_paid ? 'Search' : 'List') + ' bikes'
                    = active_link bike_link_title, organization_bikes_path(organization_id: organization.to_param), class_name: 'nav-link'
                  %li
                    = active_link 'Add a bike', new_organization_bike_path(organization), class_name: 'nav-link'
                  - if membership.admin?
                    %li
                      = active_link 'Users', organization_users_path(organization_id: organization.to_param), class_name: 'nav-link', match_controller: true
                    %li
                      = active_link 'Settings', organization_manage_index_path(organization_id: organization.to_param), class_name: 'nav-link'
                    %li
                      = active_link 'Location settings', locations_organization_manage_index_path(organization_id: organization.to_param), class_name: 'nav-link'
                    %li
                      = active_link 'Dev resources', dev_organization_manage_index_path(organization_id: organization.to_param), class_name: 'nav-link'
            - if current_user.admin_authorized('any')
              %li.primary-nav-item
                = active_link 'Admin', user_root_url, class_name: 'nav-link'
          - else
            %li.primary-nav-item
              = active_link 'Sign up', new_user_url, class_name: 'nav-link signup-link'
            %li.primary-nav-item
              = active_link 'log in', new_session_url, class_name: 'nav-link'
          %li.primary-nav-item
            = active_link 'Help', help_path, class_name: 'nav-link'
            / %a.nav-link{ id: "helpSubmenu", 'aria-haspopup' => "true", 'aria-expanded' => "false", data: { toggle: 'dropdown' } }
            /   Help
            / %ul.primary-submenu{ 'aria-labelledby' => "#helpSubmenu" }
            /   %li
            /     = active_link 'For Cyclists', help_path, class_name: 'nav-link'
            /   %li
            /     = active_link 'For Bike Shops', help_path, class_name: 'nav-link'
            /   %li
            /     = active_link 'For Law Enforcement', help_path, class_name: 'nav-link'
            /   %li
            /     = active_link 'For Universities', help_path, class_name: 'nav-link'
            /   %li
            /     = active_link 'Contact us', help_path, class_name: 'nav-link'
          %li.primary-nav-item
            = active_link 'About', about_path, class_name: 'nav-link'
          %li.primary-nav-item
            = active_link 'News', news_index_path, class_name: 'nav-link', match_controller: true
          / %li.primary-nav-item
          /   = active_link 'Community', '/discuss', class_name: 'nav-link'
          %li.primary-nav-item
            = active_link 'Search bikes', bikes_path(proximity: 'ip', stolen: true), class_name: 'nav-link', id: 'search_bikes_header_link', match_controller: true
    = render 'layouts/revised_messages'

    - if current_page_skeleton
      = render "/shared/#{current_page_skeleton}"
    - else
      = yield

    %footer.primary-footer
      .primary-footer-nav
        .container
          .row
            %nav.col-md-3.pull-right
              %h4
                = active_link 'Donate to the Bike Index', support_the_index_path
              %ul
                %li
                  = active_link 'Store', shop_path
            %nav.col-md-3.pull-right
              %h4
                = active_link 'Help', help_path
              %ul
                %li
                  = active_link 'Sign up a shop or organization', new_organization_path
                %li
                  = active_link 'List of manufacturers', manufacturers_path
            %nav.col-md-3.pull-right
              %h4
                = active_link 'Dev and Design Resources', dev_and_design_path
              %ul
                %li
                  = active_link 'API documentation', documentation_index_path
            %nav.col-md-3.social-nav
              %ul
                %li
                  %a.footer-facebook{ href: 'https://facebook.com/bikeindex', alt: 'Bike Index Facebook' }
                    :plain
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.09 40.09">
                        <g>
                          <path class="svgpath" d="M2987.81,2564.42a20,20,0,1,1,20-20A20.07,20.07,0,0,1,2987.81,2564.42Zm0-38.57a18.52,18.52,0,1,0,18.52,18.52A18.54,18.54,0,0,0,2987.81,2525.85Z" transform="translate(-2967.76 -2524.33)"/>
                          <path class="svgpath" d="M2997,2552.31a1,1,0,0,1-1,1h-4.75v-7.22h2.42l0.36-2.81h-2.79v-1.8a1.17,1.17,0,0,1,1.39-1.37h1.49v-2.52a19.91,19.91,0,0,0-2.17-.11,3.39,3.39,0,0,0-3.62,3.72v2.08h-2.43v2.81h2.43v7.22h-8.93a1,1,0,0,1-1-1v-16.59a1,1,0,0,1,1-1H2996a1,1,0,0,1,1,1v16.59Z" transform="translate(-2967.76 -2524.33)"/>
                        </g>
                      </svg>

                %li
                  %a{ href: 'https://twitter.com/BikeIndex', alt: 'Bike Index Twitter' }
                    :plain
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.09 40.09">
                        <g>
                          <path class="svgpath" d="M2806.61,2590.64a7.69,7.69,0,0,1-2.48,1,3.85,3.85,0,0,0-2.85-1.26,4,4,0,0,0-3.9,4,4.08,4.08,0,0,0,.1.91,11,11,0,0,1-8-4.18,4.07,4.07,0,0,0-.53,2,4,4,0,0,0,1.74,3.33,3.83,3.83,0,0,1-1.77-.5v0a4,4,0,0,0,3.13,3.92,3.72,3.72,0,0,1-1,.14,3.79,3.79,0,0,1-.73-0.07,3.92,3.92,0,0,0,3.65,2.78,7.71,7.71,0,0,1-4.85,1.71,7.81,7.81,0,0,1-.93-0.05,10.87,10.87,0,0,0,6,1.8c7.18,0,11.1-6.1,11.1-11.39,0-.17,0-0.35,0-0.52a8,8,0,0,0,1.95-2.07,7.62,7.62,0,0,1-2.24.63A4,4,0,0,0,2806.61,2590.64Z" transform="translate(-2777.81 -2578.33)"/>
                          <path class="svgpath" d="M2797.85,2618.42a20,20,0,1,1,20-20A20.07,20.07,0,0,1,2797.85,2618.42Zm0-38.57a18.52,18.52,0,1,0,18.52,18.52A18.54,18.54,0,0,0,2797.85,2579.85Z" transform="translate(-2777.81 -2578.33)"/>
                        </g>
                      </svg>
                %li
                  %a{ href:  'https://instagram.com/bikeindex', alt: 'Bike Index Instagram' }
                    :plain
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.09 40.09">
                        <g>
                          <path class="svgpath" d="M2868.16,2589H2854a2.21,2.21,0,0,0-2.21,2.21v14.2a2.21,2.21,0,0,0,2.21,2.21h14.19a2.21,2.21,0,0,0,2.21-2.21v-14.2A2.21,2.21,0,0,0,2868.16,2589Zm-3,2.91a0.58,0.58,0,0,1,.58-0.58h1.75a0.58,0.58,0,0,1,.58.58v1.75a0.58,0.58,0,0,1-.58.58h-1.75a0.58,0.58,0,0,1-.58-0.58v-1.75Zm-4.05,2.85a3.57,3.57,0,1,1-3.58,3.57A3.58,3.58,0,0,1,2861.09,2594.78Zm7.54,10.53a0.58,0.58,0,0,1-.58.58h-14a0.58,0.58,0,0,1-.58-0.58v-8.73h2.33a3.55,3.55,0,0,0-.41,1.77,5.66,5.66,0,0,0,11.33,0,3,3,0,0,0-.45-1.77h2.33v8.73Z" transform="translate(-2840.54 -2578.33)"/>
                          <path class="svgpath" d="M2860.58,2618.42a20,20,0,1,1,20-20A20.07,20.07,0,0,1,2860.58,2618.42Zm0-38.57a18.52,18.52,0,1,0,18.52,18.52A18.54,18.54,0,0,0,2860.58,2579.85Z" transform="translate(-2840.54 -2578.33)"/>
                        </g>
                      </svg>



      %nav.terms-and-stuff
        .container
          %p
            %span{data: {license: "https://github.com/bikeindex/bike_index/blob/master/LICENSE"}}
              #{Time.zone.now.year} &copy; Bike Index.
            - if current_user.present? && current_user.has_membership?
              #{link_to "Privacy policy", privacy_path}, #{link_to "vendor terms", vendor_terms_path}
            - else
              #{link_to "Privacy policy", privacy_path}
            and #{link_to "terms and conditions", terms_path}.
    - cache 'facebook_pixel' do
      = render '/shared/facebook_pixel'
