!!!
%html
  %head
    = header_tags
    = csrf_meta_tags
    <link rel="shortcut icon" href="/fav.ico" />
    = stylesheet_link_tag "updated", media: "all"
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600' rel='stylesheet' type='text/css'>
    = javascript_include_tag "application"
    <!-- Pulled from https://code.google.com/p/html5shiv/ -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script type="text/javascript">$(function() {$('body').prepend("<body class='welcome-page' id='body'><div id='old-browser-warning'><h4>Your browser is out of date!</h4><p>As a result, the Bike Index (and the internet in general) is broken and ugly. <a href=\"http://whatbrowser.com\">Learn more here</a>.</p></div>");});</script>
    <![endif]-->
    
    - if controller_name == "news"
      = auto_discovery_link_tag(:atom, news_index_url(format: "atom"), {title: "Bike Index"})

  :plain
    <!--
                                                      
        Stop reading code and go ride your bike!                          ~~O
                                                                        -  /\,
        https://github.com/bikeindex/bike_index                        -  -|~(*)
                                                                      -  (*)
        
                                                                        ^--------                                         
    -->
  - body_class = "welcome-page" if current_page?(root_path) and controller_name == "welcome"
  - body_class = "vendor-signup-page" if current_page?(:vendor_signup)
  %body#body{ class: body_class }
    / = render 'layouts/grid'
    = render 'layouts/messages'
    .bodywrap
      %header.global-header
        .container.bikes-nav
          .small-header
            %a.top-logo{ href: root_url }
              %span.stripey
              = image_tag "/assets/updated/home/logo.svg", class: 'logo home-logo', alt: "Logo with dark background"
              = image_tag "/assets/updated/logo.svg", class: "logo", alt: "Bike Index logo"
            %a#expand_user.hamburglar{ href: '#' }
              = image_tag "/assets/updated/hamburglar.svg", alt: "Expand menu graphic", role: 'presentation', :"aria-hidden" => "true"
          = render 'shared/top_user_nav'

          = form_tag bikes_path, method: :get, id: "head-search-bikes", class: 'bike-search-form' do
            - params[:query] = params[:query].gsub(/,?#,?/,'').gsub(/(\A,|,\z)/, '') if params[:query].present?
            = text_field_tag :query,                  |
              strip_tags(params[:query]),             |
              placeholder: "Search Bike Index",       |
              class: "search-text-field form-control"
            = button_tag(type: "submit", class: "searchit btn") do
              = image_tag '/assets/updated/search_white.svg', alt: "Search graphic"
            .stolen-search-link
              %a#most_recent_stolen_bikes{href: '#'}
                View recent stolen bikes near you

            .stolen-search-fields
              = text_field_tag :proximity, params[:proximity], placeholder: 'Anywhere', class: 'form-control stolen-proximity'
              %span
                miles of
              = number_field_tag :proximity_radius, params[:proximity_radius] || 100, placeholder: '100', min: 5, class: 'form-control stolen-radius'
              %span
                within
              = hidden_field_tag :stolen, params[:stolen] || true
              = hidden_field_tag :non_stolen, params[:non_stolen] || ''
              = hidden_field_tag :non_proximity, params[:non_proximity] || ''
            - if params[:manufacturer_id].present?
              - mnfg = {id: params[:manufacturer_id], text: Manufacturer.find(params[:manufacturer_id]).name} if params[:manufacturer_id].present?
            - else
              - mnfg = ''
            - cache 'header_search' do
              - select_list = Color.all.map { |c| { id: "c_#{c.id}", text: "#{c.name} bikes", display: c.display } }
              - select_list += Manufacturer.frames.map { |m| { id: "m_#{m.id}", text: m.name } }
              %span#header-search-select.hidden{ data: { options: select_list.to_json }}
            #header-search{ data: { selected: mnfg.to_json } }
              = hidden_field_tag :serial, params[:serial]
      = render 'shared/ad' if @ad.present?
      
      %h1
        = strip_tags(params[:queryd])

      = yield
      
      - cache 'footer_updated' do
        = render 'shared/footer_updated'

      