-# copies application_revised assets but dramatically different
!!!
%html{ style: "background: #fff; padding-bottom: 40px;" }
  %head
    = header_tags
    = stylesheet_link_tag 'revised', media: 'all'
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    = javascript_include_tag 'application_revised'
    <!--[if IE]>$('body').prepend("<div id='old-browser-warning'><h4>Your browser is out of date!</h4><p>As a result, Bike Index will not function correctly. <a href=\"http://whatbrowser.com\">Learn more here</a>.</p></div>")<![endif]-->

  %body{ id: page_id, class:  body_class, style: "padding-top: 0;" }
    -# This is either the signup or signin page
    - signup_page = controller_name != "sessions"
    .bikehub
      .navbar.nav.bikehub-nav.navbar-expand-md
        .container-fluid
          %a.bikehub-logo{ href: "https://bikehub.com" }
            = image_tag "bikehub/bikehub_logo.png", alt: "BikeHub home"
          %span.powered-by-text
            Powered
            %br
            by
          %a.powered-by-logo{ href: user_root_url }
            = image_tag "logo.svg", alt: "Bike Index home"

          %button.navbar-toggler{ type: "button", "data-toggle" => "collapse", "data-target" => "#mainNavbarContent", "aria-controls" => "mainNavbarContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation" }
            %span.navbar-toggler-icon

          .collapse.navbar-collapse#mainNavbarContent
            %ul.navbar-nav
              %li.nav-item
                %a.nav-link{ href: "https://bikehub.com/" }
                  = t(".home")
              %li.nav-item
                %a.nav-link{ href: "https://bikehub.com/contact/" }
                  = t(".contact")
              %li.nav-item
                %a.nav-link{ href: new_user_path(partner: sign_in_partner), class: (signup_page ? "active" : "") }
                  = t(".register")
              %li.nav-item
                %a.nav-link{ href:  new_session_path(partner: sign_in_partner), class: (signup_page ? "" : "active") }
                  = t(".login")

      .bikehub-signup-landing-page.bikehub-signup-page.landing-page
        %header.bikehub-banner-header
          .row.teamed-up-with-bike-index.text-center
            .col-lg-4
              %h1.mb-auto
                = t(".teamed_up")
              = image_tag "bikehub/high-five.svg", alt: "High Five"
            .col-lg-8
              %p
                = t(".non_profit")
              %p
                = t(".security")
              %p
                = t(".partnership")
      .bike-hub-login.mt-4
        %h2
          = t(".accounts_powered_by_bike_index")
          %span
            - if signup_page
              = t(".sign_up_message")
            - else
              = t(".log_in_message")


      = render "layouts/revised_messages"
      = yield


  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-38316708-1', 'auto');
    ga('send', 'pageview');

    var trackOutboundLink = function(url) {
      ga('send', 'event', 'outbound', 'click', url, {
        'transport': 'beacon',
        'hitCallback': function(){document.location = url;}
      });
    }
