<!DOCTYPE html>
<html>
  <head>
    <title>Bike Index Component Preview</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "tailwind" %>
    <link rel="stylesheet" href="https://ga.jspm.io/npm:choices.js@11.1.0/public/assets/styles/choices.min.css" />
    <%= combobox_style_tag %>
    <%= javascript_importmap_tags %>
  </head>
  <%# NOTE: This sets the theme %>
  <body class="<%= params.dig(:lookbook, :display, :theme) %>">
    <div class="tw:w-full tw:h-full">
      <%= yield %>
    </div>
  </body>
</html>
