!!!
%html
  = render 'shared/header'
  
  - body_class = "welcome-page" if current_page?(root_path) and controller_name == "welcome"
  - body_class = "vendor-signup-page" if current_page?(:vendor_signup)
  - body_class = "news-page" if controller_name == "news"
  %body#body{ class: body_class }
    = render 'layouts/messages'

    #content-wrap.header-closed
      %header.global-header.collapsible-head.invisibled#header
        = render 'shared/header_nav'

      %a#nav-header-collapse.expandable
        %span.e +
        %span.c -


      %header.content-sidebar#content-menu
        .header-content
          .logo
            %a.follow-link.logo{ href: root_path }
              = image_tag "/assets/logo.svg"
              %h2
                Bike Index
        %nav.content-nav
          %ul.content-sections{ class: "#{@active_section}_menu"}
            %li{ class: content_nav_class("about") }
              = nav_link "About<span> the Bike Index</span>", about_path
              %ul
                %li
                  = nav_link "Bike Index news", news_index_path
                %li
                  = nav_link "Bike Index partner organizations", where_path

            %li{ class: content_nav_class("resources") }
              = nav_link "Resources", resources_path
              %ul
                %li
                  = nav_link "Protect your bike", protect_your_bike_path
                %li
                  = nav_link "Information about bicycle serial numbers", serials_path
                %li
                  = nav_link "List of manufacturers", manufacturers_path
                %li
                  = nav_link "Image & design assets", image_resources_path
                      
            %li.contact-nav-btns{ class: content_nav_class("contact") }
              = nav_link "Help", help_path
              %ul
                %li
                  = nav_link "Contact", help_path(anchor: 'contact_us_section')
                %li
                  = nav_link "Sign up a shop or organization", vendor_signup_path
                / %li
                /   = nav_link "Lightspeed Retail integration", lightspeed_integration_path
                

      #content-top-margin
      %section.page-content
        = yield
        
      = render 'shared/footer'