= render 'shared/header'

#content-wrap.header-closed
  %header.global-header.collapsible-head.invisibled#header
    = render 'shared/header_nav'

  %a#nav-header-collapse.expandable
    %span.e +
    %span.c -


  %header.content-sidebar#documentation-menu
    .header-content
      .logo
        %a.follow-link.logo{ href: root_url }
          = image_tag "/assets/logo.svg"
          %h2
            Bike Index
    %nav.content-nav
      %ul.content-sections
        %li.active-menu
          = link_to "API documentation", "#header", class: "active documentation-head"
          %ul
            %li
              = link_to "Adding bikes", "#bikes_ref"
            %li
              = link_to "Manufacturers", "#manufacturers_ref"
            %li
              = link_to "Wheel sizes", "#wheel_size_ref"
            


  %section.page-content#documentation-content
    = yield
    
  = render 'shared/footer'