!!!
%html.doorkeeper
  %head
    = header_tags
    = csrf_meta_tags
    <link rel="shortcut icon" href="/fav.ico" />
    = stylesheet_link_tag "updated", media: "all"
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600' rel='stylesheet' type='text/css'>
    = javascript_include_tag "application"
    <!-- Pulled from https://code.google.com/p/html5shiv/ -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script type="text/javascript">$(function() {$('body').prepend("<body class='welcome-page' id='body'><div id='old-browser-warning'><h4>Your browser is out of date!</h4><p>As a result, the Bike Index (and the internet in general) is broken and ugly. <a href=\"http://whatbrowser.com\">Learn more here</a>.</p></div>");});</script>
    <![endif]-->
    
  %body
    = render 'layouts/messages'
    .bodywrap
      %header.global-header
        .container.bikes-nav
          .small-header
            %a.top-logo{ href: root_url }
              %span.stripey
              = image_tag "/assets/updated/home/logo.svg", class: 'logo home-logo'
              = image_tag "/assets/updated/logo.svg", class: "logo"
            %a#expand_user.hamburglar{ href: '#' }
              = image_tag "/assets/updated/hamburglar.svg"
          - if @current_user.present?
            = render 'shared/top_user_nav'

      .bcontainer.doorkeeper-container
        = yield
      
      
      