<!DOCTYPE html>

<html class="doorkeeper" lang="<%= I18n.locale %>">
  <head>
    <%= render(HeaderTags::Component.new(**header_tags_component_options)) %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'tailwind', 'revised', "data-turbo-track": "reload" %>

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,700"
      rel="stylesheet"
      type="text/css"
    >

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    >

    <script src="/vendored_assets/application_standalone.js"></script>

    <!--[if IE]>$('body').prepend("<div id='old-browser-warning'><h4>Your browser is out of date!</h4><p>As a result, Bike Index will not function correctly. <a href=\"http://whatbrowser.com\">Learn more here</a>.</p></div>")<![endif]-->
  </head>

  <body
    id="<%= page_id %>"
    class="<%= 'organized-body' if current_page_skeleton == 'organized_skeleton' %>"
  >
    <nav class="primary-header-nav">
      <div class="container">
        <a href="<%= user_root_url %>" class="primary-logo">
          <%= image_tag 'revised/logo.svg', class: 'primary-nav', alt: 'Bike Index home' %>
        </a>
      </div>
    </nav>

    <%= render 'layouts/revised_messages' %>

    <div class="doorkeeper-container">
      <% if @current_user && @current_user.superuser? && @application.present? && @application.owner.present? %>
        Application by
        <strong><%= @application.owner.display_name %></strong>
      <% end %>

      <% if controller_name.match('application') && action_name != 'index' %>
        <%= link_to 'Your applications', oauth_applications_url, class: 'pull-right' %>
      <% end %>

      <%= yield %>
    </div>

    <%= render 'shared/footer_revised' %>
    <%= render "/shared/analytics" %>
  </body>
</html>
