!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title= content_for?(:title) ? yield(:title) : t(".bike_index")
    = stylesheet_link_tag 'email'

    -# Remove the top and bottom margin on email preview, because they look funky
    - if @email_preview
      :css
        .binx-wrapper { margin: 0; }
        html { background: #e6e6e6; }

  %body
    .binx-wrapper
      %table.binx-header
        %tbody
          %td{ class: (@partner.present? ? "partner-header" : "") }
            - if @partner
              %span.partner-logo-wrapper
                = image_tag "https://files.bikeindex.org/email_assets/bikehub_logo.png",
                  height: "50",
                  alt: "BikeHub Logo",
                  class: "partner-header-logo"

                %span.logo-plus
                  +

            %img.bike-index-logo{ src: "https://files.bikeindex.org/email_assets/logo.png", height: "70", alt: "Bike Index logo" }

      .binx-body
        -# We only render snippets for organized messages - or if we're doing a preview
        - render_organization_snippets = @organization.present? && (controller_path == 'organized_mailer' || @email_preview)
        - if render_organization_snippets && @organization.mail_snippet_body('header').present?
          = @organization.mail_snippet_body('header').html_safe

        = yield

        - if render_organization_snippets && @organization.mail_snippet_body('footer').present?
          = @organization.mail_snippet_body('footer').html_safe

      .binx-pstscpt
        .hearts
          %span &#9829;
          %span &#9829;
          %span &#9829;
          %span &#9829;
          %span &#9829;
        %h4= t(".the_bike_index_team")

      .binx-footer
        %h5
          #{Time.current.year} &copy; #{t(".bike_index")}.

          - unless @organization.present? && controller_path == 'organized_mailer' && @organization.paid?
            = t(".help_prevent_theft")
            = link_to(t(".make_a_donation"), support_the_index_url)
