!!!
%html{ lang: I18n.locale }
  %head
    = render(HeaderTags::Component.new(**header_tags_component_options))
    = stylesheet_link_tag "embed_styles", media: "all"
    = javascript_include_tag "embed"
    = csrf_meta_tags


  %body#bi_embed
    #alert-block
      - flash.each do |name, msg|
        %div{class: "alert-#{name}"}
          %a.close{'data-dismiss' => 'alert'} ×
          = content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)

      - if @b_param && @b_param.bike_errors.present?
        #alert-block
          .alert.alert-error
            %a.close{"data-dismiss" => "alert"} ×
            %h4
              = t(".please_fix_the_following")
              = pluralize(@b_param.bike_errors.count, t(".error"))
            %ul
              - @b_param.bike_errors.each do |msg|
                %li= msg

    = yield

    = render "/shared/analytics"
