!!!
%html
  %head
    = header_tags
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    = javascript_pack_tag "admin_application"
    = stylesheet_pack_tag "application_css"

  / manually override body_class in a few situations :/
  - body_class = "welcome-page" if current_page?(root_path) and controller_name == "welcome"
  - body_class = "vendor-signup-page" if current_page?(:vendor_signup)
  - body_class = "news-page" if controller_name == "news"
  %body{ id: page_id, class:  body_class }
    %nav.navbar.navbar-expand-md.navbar-light.bg-light.admin-navbar
      %span.navbar-brand
        = link_to (image_tag("logo.svg")), admin_root_path
      - if current_user.superuser?
        / %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#collapsible-admin-nav", "data-toggle" => "collapse", type: "button"}
        /   %span.navbar-toggler-icon
        / .collapse.navbar-collapse#collapsible-admin-nav
        %ul.navbar-nav.d-none.d-md-flex
          %li.nav-item
            = active_link "Users", admin_users_path, role: "button", class: "nav-link users", match_controller: true
          %li.nav-item
            = active_link "Bikes", admin_bikes_path, role: "button", class:"nav-link bikes", match_controller: true
          %li.nav-item
            = active_link "Organizations", admin_organizations_path, role: "button", class: "nav-link", match_controller: true
          %li.nav-item
            = active_link "News", admin_news_index_path, role: "button", class: "nav-link", match_controller: true
          %li.nav-item
            = active_link "Stolen", admin_stolen_bikes_path, role: "button", class: "nav-link", match_controller: true
          - if Rails.env.development?
            %li.dropdown.nav-item
              %a.dropdown-toggle.nav-link{ "data-toggle" => "dropdown" }
                Mailers
              .dropdown-menu.admin-nav-dropdown
                = link_to "Organized", '/rails/mailers/organized_mailer' , role: "button", class: "btn btn-light dropdown-item"
                = link_to "Admin", '/rails/mailers/admin_mailer' , role: "button", class: "btn btn-light dropdown-item"
                = link_to "Customer", '/rails/mailers/customer_mailer' , role: "button", class: "btn btn-light dropdown-item"
        :ruby
          other_links = [
                          { title: "POS Integration", path: lightspeed_interface_path, match_controller: false },
                          { title: "Ambassador Activities", path: admin_ambassador_tasks_path, match_controller: true },
                          { title: "Completed Ambassador Activities", path: admin_ambassador_task_assignments_path, match_controller: true },
                          { title: "Theft Alerts", path: admin_theft_alerts_path, match_controller: true },
                          { title: "Theft Alert Plans", path: admin_theft_alert_plans_path, match_controller: true },
                          { title: "Payments", path: admin_payments_path, match_controller: true },
                          { title: "Paid Features", path: admin_paid_features_path, match_controller: true },
                          { title: "Invoices", path: admin_invoices_path(query: "active", direction: "asc", sort: "subscription_end_at"), match_controller: true },
                          { title: "Recoveries", path: admin_recoveries_path, match_controller: true },
                          { title: "Recovery Displays", path: admin_recovery_displays_path, match_controller: true },
                          { title: "Stolen Twitterbot", path: ENV["STOLEN_TWITTERBOT_URL"].gsub(/bikes\z/, ""), match_controller: false },
                          { title: "Memberships", path: admin_memberships_path, match_controller: true },
                          { title: "Manufacturers", path: admin_manufacturers_path, match_controller: true },
                          { title: "Organization Invitations", path: admin_organization_invitations_path, match_controller: false },
                          { title: "New Organization Invitation", path: new_admin_organization_invitation_path, match_controller: false },
                          { title: "TSV Exports", path: admin_tsvs_path, match_controller: false },
                          { title: "Maintenance", path: admin_maintenance_path, match_controller: false },
                          { title: "Failed Bikes", path: admin_failed_bikes_path, match_controller: true },
                          { title: "Component Types", path: admin_ctypes_path, match_controller: true },
                          { title: "Graphs", path: admin_graphs_path, match_controller: true },
                          { title: "Edit Paints", path: admin_paints_path, match_controller: true },
                          { title: "Feedback & Messages", path: admin_feedbacks_path, match_controller: true },
                          { title: "Tweets", path: admin_tweets_path, match_controller: true },
                          { title: "Stickers", path: admin_bike_codes_path, match_controller: true },
                          { title: "Exports", path: admin_exports_path, match_controller: true },
                          { title: "Bulk Imports", path: admin_bulk_imports_path, match_controller: true },
                          { title: "Partial Bikes", path: admin_partial_bikes_path, match_controller: true },
                          { title: "Duplicate Bikes", path: duplicates_admin_bikes_path, match_controller: false },
                          { title: "Users", path: admin_users_path, match_controller: true },
                          { title: "Bikes", path: admin_bikes_path, match_controller: true },
                          { title: "Stolen Bikes", path: admin_stolen_bikes_path, match_controller: true },
                          { title: "Organizations", path: admin_organizations_path, match_controller: true },
                          { title: "News", path: admin_news_index_path, match_controller: true },
                          { title: "Exit Admin", path: root_path, match_controller: false },
                        ]
          other_link_active = other_links.detect { |l| current_page_active?(l[:path], l[:match_controller]) }
          other_prompt = other_link_active.present? ? "Viewing #{other_link_active[:title]}" : "Admin navigation"
        .fancy-select.unfancy.no-restore-on-backspace
          = select(:admin, :other_navigation, options_for_select(other_links.map { |l| [l[:title], l[:path]] }), { prompt: other_prompt }, { class: "form-control" })

        = link_to "Exit Admin", root_path, class: "btn btn-outline-secondary ml-auto less-strong d-none d-lg-inline-block"

    = render 'layouts/revised_messages'

    %section#admin-content
      .container-fluid.mt-4
        = yield

    = render 'shared/footer_revised'
