!!!
%html
  %head
    = header_tags
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    = javascript_pack_tag "admin_application"
    = stylesheet_pack_tag "application_css"

  -# To check for active page for dropdown menus
  - paid_links = %w[payments paid_features invoices]
  - other_links = %w[memberships manufacturers invitations tsvs maintenance failed_bikes ctypes graphs paints feedbacks tweets exports bulk_imports ]

  / manually override body_class in a few situations :/
  - body_class = "welcome-page" if current_page?(root_path) and controller_name == "welcome"
  - body_class = "vendor-signup-page" if current_page?(:vendor_signup)
  - body_class = "news-page" if controller_name == "news"
  %body{ id: page_id, class:  body_class }
    %nav.navbar.navbar-expand-md.navbar-light.bg-light.sticky-admin-nav-md-screens.admin-navbar
      %span.navbar-brand
        = link_to (image_tag("logo.svg")), admin_root_path
      - if current_user.superuser?
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#collapsible-admin-nav", "data-toggle" => "collapse", type: "button"}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#collapsible-admin-nav
          %ul.navbar-nav
            %li.nav-item
              = active_link "Users", admin_users_path, role: "button", class: "nav-link"
            %li.nav-item
              = active_link "Bikes", admin_bikes_path, role: "button", class: "nav-link"
            %li.nav-item
              = active_link "Organizations", admin_organizations_path, role: "button", class: "nav-link"
            %li.nav-item
              = active_link "News", admin_news_index_path, role: "button", class: "nav-link"
            %li.dropdown.nav-item
              - stolen_links = {"Stolen": admin_stolen_bikes_path, "Recoveries": admin_recoveries_path, "Recovery Displays": admin_recovery_displays_path, "Stolen Twitterbot URL": ENV['STOLEN_TWITTERBOT_URL'].gsub(/bikes\z/, '')  }
              %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown", class: stolen_links.has_value?(request.path) ? "active" : ""}
                Stolen
              .dropdown-menu.admin-nav-dropdown
                - stolen_links.each do |link, path|
                  = active_link link, path, role: "button", class: "btn btn-light dropdown-item"
            %li.dropdown.nav-item
              - paid_links = {"Payments": admin_payments_path, "Paid Features": admin_paid_features_path, "Invoices": admin_invoices_path}
              %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown",  class: paid_links.has_value?(request.path) ? "active" : ""}
                Paid
              .dropdown-menu.admin-nav-dropdown
                - paid_links.each do |link, path|
                  = active_link link, path, role: "button", class: "btn btn-light dropdown-item"
            %li.dropdown.nav-item
              - other_links = {"Memberships": admin_memberships_path, "Manufacturers": admin_manufacturers_path, "Invitations": admin_invitations_path, "TSV Exports": admin_tsvs_path, "Maintenance": admin_maintenance_path, "Failed Bikes": admin_failed_bikes_path, "Component Types": admin_ctypes_path, "Graphs": admin_graphs_path, "Edit Paints": admin_paints_path, "Feedbacks": admin_feedbacks_path, "Tweets": admin_tweets_path, "Exports": admin_exports_path, "Bulk Imports": admin_bulk_imports_path}
              %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown",  class: other_links.has_value?(request.path) ? "active" : ""}
                Other
              .dropdown-menu.admin-nav-dropdown
                -other_links.each do |link, path|
                  = active_link link, path, role: "button", class: "btn btn-light dropdown-item"
            - if Rails.env.development?
              %li.dropdown.nav-item
                %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown"}
                  Mailers
                .dropdown-menu.admin-nav-dropdown
                  = link_to "Organized", '/rails/mailers/organized_mailer' , role: "button", class: "btn btn-light dropdown-item"
                  = link_to "Admin", '/rails/mailers/admin_mailer' , role: "button", class: "btn btn-light dropdown-item"
                  = link_to "Customer", '/rails/mailers/customer_mailer' , role: "button", class: "btn btn-light dropdown-item"
          %ul.navbar-nav.ml-auto
            %li.nav-item
              = link_to "Exit Admin", root_path, role: "button", class: "nav-link"

    = render 'layouts/revised_messages'

    %section#admin-content
      .container-fluid.mt-4
        = yield

    = render 'shared/footer_revised'
