!!!
%html
  %head
    = header_tags
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    = javascript_pack_tag "admin_application"
    = stylesheet_pack_tag "application_css"


  / manually override body_class in a few situations :/
  - body_class = "welcome-page" if current_page?(root_path) and controller_name == "welcome"
  - body_class = "vendor-signup-page" if current_page?(:vendor_signup)
  - body_class = "news-page" if controller_name == "news"
  %body{ id: page_id, class:  body_class }
    .navheaderwhatever
      - if current_user.superuser?
        %h2.new-title 
          = admin_nav_link "Go hard", admin_root_path
        %ul
          %li
            = admin_nav_link "Organizations", admin_organizations_path

          %li
            = admin_nav_link "Users", admin_users_path

          %li
            = admin_nav_link "Memberships", admin_memberships_path

          %li
            = admin_nav_link "Manufacturers", admin_manufacturers_path

          %li
            = admin_nav_link "Bikes", admin_bikes_path

          %li
            = admin_nav_link "Invitations", admin_invitations_path

          %li
            = admin_nav_link "News", admin_news_index_path
          %li
            = admin_nav_link "Stolen", admin_stolen_bikes_path
          / %li
          /   = admin_nav_link "Recoveries", admin_recoveries_path
          %li
            = admin_nav_link "Recovery displays", admin_recovery_displays_path
          %li
            = admin_nav_link "Paid Features", admin_paid_features_path
          %li
            = admin_nav_link "Payments", admin_payments_path
          %li
            = admin_nav_link "Invoices", admin_invoices_path

          - if Rails.env.development?
            %li
              Mailers: #{admin_nav_link "organized", '/rails/mailers/organized_mailer'}, #{admin_nav_link "admin", '/rails/mailers/admin_mailer'}, #{admin_nav_link "customer", '/rails/mailers/customer_mailer'}
      - elsif current_user.is_content_admin?
        %h2.new-title 
          = admin_nav_link "Go hard", admin_news_index_path
        %ul
          %li
            = admin_nav_link "News", admin_news_index_path
    = render 'layouts/revised_messages'

    %section#admin-content
      .container
        = yield

    = render 'shared/footer_revised'
