!!!
%html
  %head
    = header_tags
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    = javascript_pack_tag "admin_application"
    = stylesheet_pack_tag "application_css"

  -# To check for active page for dropdown menus
  - stolen_links = %w[stolen_bikes recoveries recovery_displays]
  - paid_links = %w[payments paid_features invoices]
  - other_links = %w[memberships manufacturers invitations tsvs maintenance failed_bikes ctypes graphs paints feedbacks tweets exports bulk_imports ]

  / manually override body_class in a few situations :/
  - body_class = "welcome-page" if current_page?(root_path) and controller_name == "welcome"
  - body_class = "vendor-signup-page" if current_page?(:vendor_signup)
  - body_class = "news-page" if controller_name == "news"
  %body{ id: page_id, class:  body_class }
    %nav.navbar.navbar-expand-md.navbar-light.bg-light.sticky-admin-nav-md-screens.admin-navbar
      %span.navbar-brand
        = link_to (image_tag("logo.svg")), admin_root_path
      - if current_user.superuser?
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#collapsible-admin-nav", "data-toggle" => "collapse", type: "button"}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#collapsible-admin-nav
          %ul.navbar-nav
            %li.nav-item
              = active_link "Users", admin_users_path, role: "button", class: "nav-link nav-item px-2"
            %li.nav-item
              = active_link "Bikes", admin_bikes_path, role: "button", class: "nav-link nav-item px-2"
            %li.nav-item
              = active_link "Organizations", admin_organizations_path, role: "button", class: "nav-link nav-item px-2"
            %li.nav-item
              = active_link "News", admin_news_index_path, role: "button", class: "nav-link nav-item px-2"
            %li.nav-item.dropdown.ml-2
              %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown", class: stolen_links.include?(controller_name) ? 'active' : ''}
                Stolen
              .dropdown-menu.admin-nav-dropdown
                = active_link "Stolen", admin_stolen_bikes_path, role: "button", class: "btn btn-light dropdown-item"
                = active_link "Recoveries", admin_recoveries_path, role: "button", class: "btn btn-light dropdown-item"
                = active_link "Recovery Displays", admin_recovery_displays_path, role: "button", class: "btn btn-light dropdown-item"
                = active_link "Stolen Twitterbot URL", ENV['STOLEN_TWITTERBOT_URL'].gsub(/bikes\z/, ''), role: "button", class: "btn btn-light dropdown-item"
            %li.nav-item.dropdown.ml-2
              %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown",  class: paid_links.include?(controller_name) ? 'active' : ''}
                Paid
              .dropdown-menu.admin-nav-dropdown
                = active_link "Payments", admin_payments_path, role: "button", class: "btn btn-light dropdown-item"
                = active_link "Paid Features", admin_paid_features_path, role: "button", class: "btn btn-light dropdown-item"
                = active_link "Invoices", admin_invoices_path, role: "button", class: "btn btn-light dropdown-item"
            %li.nav-item.dropdown.ml-2
              %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown", class: other_links.include?(controller_name || action_name) ? 'active' : ""}
                Other
              .dropdown-menu.admin-nav-dropdown
                = active_link "Memberships", admin_memberships_path, role: "button", class: "btn btn-light dropdown-item"
                = active_link "Manufacturers", admin_manufacturers_path, role: "button", class: "btn btn-light dropdown-item"
                = active_link "Invitations", admin_invitations_path, role: "button", class: "btn btn-light dropdown-item"
                = link_to "TSV Exports", admin_tsvs_url, role: "button", class: "btn btn-light dropdown-item #{action_name == 'tsvs' ? 'active' : ''}"
                = link_to "Maintenance", admin_maintenance_url, role: "button", class: "btn btn-light dropdown-item #{action_name == 'maintenance' ? 'active' : ''}"
                = active_link "Failed Bikes", admin_failed_bikes_url, role: "button", class: "btn btn-light dropdown-item"
                = active_link "Component Types", admin_ctypes_url, role: "button", class: "btn btn-light dropdown-item"
                = active_link "Graphs", admin_graphs_url, role: "button", class: "btn btn-light dropdown-item"
                = active_link "Edit Paints", admin_paints_url, role: "button", class: "btn btn-light dropdown-item"
                = active_link "Feedbacks", admin_feedbacks_url, role: "button", class: "btn btn-light dropdown-item"
                = active_link "Tweets", admin_tweets_url, role: "button", class: "btn btn-light dropdown-item"
                = active_link "Exports", admin_exports_url, role: "button", class: "btn btn-light dropdown-item"
                = active_link "Bulk Imports", admin_bulk_imports_url, role: "button", class: "btn btn-light dropdown-item"
            - if Rails.env.development?
              %li.nav-item.dropdown.ml-2
                %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown"}
                  Mailers
                .dropdown-menu.admin-nav-dropdown
                  = link_to "Organized", '/rails/mailers/organized_mailer' , role: "button", class: "btn btn-light dropdown-item"
                  = link_to "Admin", '/rails/mailers/admin_mailer' , role: "button", class: "btn btn-light dropdown-item"
                  = link_to "Customer", '/rails/mailers/customer_mailer' , role: "button", class: "btn btn-light dropdown-item"
          %ul.navbar-nav.ml-auto
            %li.nav-item
              = link_to "Exit Admin", root_path, role: "button", class: "nav-link nav-item px-2"

    = render 'layouts/revised_messages'

    %section#admin-content
      .container-fluid.mt-4
        = yield

    = render 'shared/footer_revised'
