!!!
%html
  = render 'shared/header'
  
  - body_class = "welcome-page" if current_page?(root_path) and controller_name == "welcome"
  - body_class = "vendor-signup-page" if current_page?(:vendor_signup)
  - body_class = "news-page" if controller_name == "news"
  %body#body{ class: body_class }
    = render 'layouts/messages'
    %header.global-header.collapsible-head.invisibled#header
      = render 'shared/header_nav'
    %a#nav-header-collapse.expandable
      %span.e +
      %span.c -

    %header.replace-header
      .inner-recep
        %h2.new-title
          = FlavorText.first(offset: rand(FlavorText.count)).message

    = yield

    = render 'shared/footer'