!!!
%html
  = render 'shared/header'
  
  - body_class = "welcome-page" if current_page?(root_path) and controller_name == "welcome"
  - body_class = "vendor-signup-page" if current_page?(:vendor_signup)
  - body_class = "news-page" if controller_name == "news"
  %body#body{ class: body_class }
    = render 'layouts/messages'
    %header.global-header.collapsible-head.invisibled#header
      = render 'shared/header_nav'
    %a#nav-header-collapse.expandable
      %span.e +
      %span.c -

    %header.replace-header
      .inner-recep
        %h2.new-title
          = active_link current_organization.name, organization_path(@organization)
        %ul.org-links
          - if current_user.is_admin_of?(current_organization)
            %li
              = active_link "Manage", edit_organization_url(@organization)
          - if current_organization.auto_user_id.present?
            %li
              = active_link "Continuous upload form", embed_extended_organization_url(@organization)
        
        .org-add-bike
          = link_to "Add a bike to the Index", new_bike_url(creation_organization_id: current_organization.id), class: "button-green"


    %section.content#organization-content
      .receptacle
        .inner-recep

          = yield
      
    = render 'shared/footer'