= render 'shared/header'
%header.global-header.collapsible-head.invisibled#header
  = render 'shared/header_nav'
%a#nav-header-collapse.expandable
  %span.e +
  %span.c -

%header.replace-header
  .inner-recep
    %h2.new-title
      = nav_link current_organization.name, organization_path(@organization)
    %ul.org-links
      - if current_user.is_admin_of?(current_organization)
        %li
          = nav_link "Manage", edit_organization_url(@organization)
    
    .org-add-bike
      = link_to "Add a bike to the Index", new_bike_url(creation_organization_id: current_organization.id), class: "button-green"


%section.content#organization-content
  .receptacle
    .inner-recep

      = yield
  
= render 'shared/footer'