!!!
%html{ style: 'background: none;'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1'}
    %meta{name: 'description', content: 'Embedable Bike Index registration form. Register your bike for free, right now' }
    %title Protect your bike today
    = csrf_meta_tags
    = stylesheet_link_tag 'registrations', media: 'all'
    = javascript_include_tag 'registrations'
  %body{ style: 'background: none; width: 100%; max-width: 500px; margin: 0 auto;' }
    .registration-widget#binx_registration_widget{ class: params[:organization_id] }
      - if action_name == 'create'
        %header.reg-header
          = image_tag 'revised/logo.svg', class: 'reg-header-logo'
      - elsif @simple_header
        %header
          %h3
            Register your bike
      - else
        %header.reg-header
          = image_tag 'revised/logo.svg', class: 'reg-header-logo'
          %h2
            Protect your bike today
          %p
            Register on Bike Index.
            %em
              It's free.
      .registration-widget-body
        = yield
