!!!
%html
  %head
    <title lang='en'>Stolen Bike Registry</title>
    <meta name="charset" content="utf-8"/>
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="Stolen Bike Registry - the best, most comprehensive stolen bike registration system in the universe"/>
    <meta property="og:url" content="https://bikeindex.org/stolen"/>
    <meta property="og:image" content="https://bikeindex.org/assets/logos/bw_transparent.png"/>
    <meta property="og:site_name" content="Stolen Bike Registry"/>
    <meta property="twitter:card" content="summary"/>
    <link rel="shortcut icon" href="/sbr.ico" />
    = stylesheet_link_tag "application", :media => "all"
    <link href='https://fonts.googleapis.com/css?family=Rambla:400' rel='stylesheet' type='text/css'>
    = javascript_include_tag "application"
    <!-- Pulled from https://code.google.com/p/html5shiv/ -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script type="text/javascript">$(function() {$('body').prepend("<body class='welcome-page' id='body'><div id='old-browser-warning'><h4>Your browser is out of date!</h4><p>As a result, the Bike Index (and the internet in general) is broken and ugly. <a href=\"http://whatbrowser.com\">Learn more here</a>.</p></div>");});</script>
    <![endif]-->
    
    - if controller_name == "blogs"
      = auto_discovery_link_tag(:atom, blogs_url(format: "atom"), {:title => "Bike Index"})

  %body
  
  .sbr-wrap

    = yield
    
  = render 'shared/footer'