!!!
%html
  %head
    <title lang='en'>StolenBicycleRegistry#{@title}</title>
    <meta name="charset" content="utf-8"/>
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="Stolen Bike Registry - the best, most comprehensive stolen bike registration system in the universe"/>
    <meta property="og:url" content="https://bikeindex.org/stolen"/>
    <meta property="og:image" content="https://bikeindex.org/assets/logos/bw_transparent.png"/>
    <meta property="og:site_name" content="Stolen Bike Registry"/>
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:site" content="@stolenbikereg"/>
    <link rel="shortcut icon" href="/sbr.ico" />
    = stylesheet_link_tag "application", media: "all"
    <link href='https://fonts.googleapis.com/css?family=Rambla:400' rel='stylesheet' type='text/css'>
    = javascript_include_tag "application"
    <!-- Pulled from https://code.google.com/p/html5shiv/ -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script type="text/javascript">$(function() {$('body').prepend("<body class='welcome-page' id='body'><div id='old-browser-warning'><h4>Your browser is out of date!</h4><p>As a result, the Bike Index (and the internet in general) is broken and ugly. <a href=\"http://whatbrowser.com\">Learn more here</a>.</p></div>");});</script>
    <![endif]-->
    
    - if controller_name == "blogs"
      = auto_discovery_link_tag(:atom, blogs_url(format: "atom"), {title: "Bike Index"})

  %body#body
    .sbr-wrap#sbr-body
      %section.sbr-main-section
        .receptacle
          .inner-recep
            .alert.alert-info
              %h4
                StolenBicycleRegistry.com has leveled up!
              %p
                StolenBicycleRegistry.com has merged with Bike Index. Read the #{link_to 'Bike Index post', 'https://bikeindex.org/news/providing-the-largest-and-most-effective-bicycle-registry---ever'} and #{link_to "StolenBikeRegistry.com's anouncement", 'https://medium.com/@stolenbikessfo/stolenbicycleregistry-just-merged-with-bikeindex-org-102ffa548821'}!
              %p
                \- Bryan Hance & Bike Index

            = link_to 'Register your stolen bike', new_bike_url(stolen: true), class: 'list-stolen-bike'
            .stolen-registry-logo
              = image_tag '/assets/stolen/stolen-registry.svg'
            %h1
              Stolen Bike Registry
            .multiserial-form#ms_form_section
              %h3
                Multiple Serial Search
              = text_area_tag :multi_serial_search, nil, placeholder: 'Enter multiple serial numbers. Separate them with commas or new lines'
              %a#search_serials.sbrbtn{ href: '#', data: { target: api_v1_bikes_url } }
                = image_tag '/assets/stolen/search.svg'
            = form_tag bikes_path, method: :get, class: 'sbr-search-fields' do 
              = hidden_field_tag :stolen, true
              = hidden_field_tag :search_type, 'description'
              = hidden_field_tag :manufacturer_id, params[:manufacturer_id]
              = hidden_field_tag :serial, params[:manufacturer_id]
              #search-type-tabs
                %a.search-type-tab.active{ href: '#', data: { stype: 'description' } }
                  %span.medium-screens
                    Search bike
                  descriptions
                %a.search-type-tab{ href: '#', data: { stype: 'serial' } }
                  %span.medium-screens
                    Search bike
                  serials
              #sbr-search.sbr-search-inputs{ data: {manufacturers: Manufacturer.frames.map { |m| { id: m.id, text: m.name } }.to_json }}
                = text_field_tag :query_typed, params[:query_typed], class: 'sbr-bike-search', autofocus: true
                = button_tag(type: "submit", class: "sbrbtn") do
                  = image_tag '/assets/stolen/search.svg'
                .proximity#stolen-proximity
                  %span
                    Stolen near
                  = text_field_tag :proximity, params[:proximity], placeholder: 'Anywhere'
            %h4.multi-search-toggle
              %a#show_multi_search{ href: '#' }
                show
                %span.multi
                  multi-serial
                %span.not-multi
                  normal
                search
      .sbr-banner
        Over 
        2030
        bikes recovered
        %span.medium-screens
          \- and counting
            
      = yield

      %section#ms_search_section
        .receptacle
          .inner-recep.multiserial-response
            %h2
              Multi serial search results
            %ul#serials_submitted.multiserials-list
            .multiserial-fuzzy-box
              %a#multiserial_fuzzy.button-green{ href: '#', data: { target: close_serials_api_v1_bikes_url }}
                %span
                  Find nearly matching serials (in case of a mis-entry)
                %span.ms-short-fuzzy
                  Find near matches
            
            #bikes_returned.padded
      
    = render 'shared/footer'