<div class="tw:w-full tw:py-2 tw:px-3 tw:border-b tw:first:border-t tw:border-gray-200 tw:dark:border-gray-700 tw:flex tw:max-lg:flex-wrap tw:relative tw:hover:shadow-md tw:dark:hover:shadow-slate-300/10">
  <span class="tw:max-lg:grow tw:lg:w-40 tw:lg:min-w-40 tw:truncate" title="<%= translation(".from") %>: <%= sender_full_text %>">
    <%= sender_display_html %>
  </span>
  <div class="tw:w-30 tw:text-right tw:lg:order-last">
    <span class="convertTime">
      <%= l @marketplace_message.created_at, format: :convert_time %>
    </span>
  </div>
  <a href="<%= message_path %>" class="tw:max-lg:min-w-full tw:lg:grow tw:lg:truncate">
    <span class="tw:absolute tw:inset-0 tw:z-10"></span>
    <strong class="tw:opacity-65 tw:mr-2"><%= item_title %></strong>

    <span title="<%= @marketplace_message.body %>">
      <%= message_display %>
    </span>
  </a>
</div>
