<%# locals: (collection:, render_sortable: false, searched_activity_type: nil) %>

<%= render(UI::Table::Component.new(records: collection, render_sortable:)) do |table| %>
  <% table.column(sortable: "created_at", lower_right: ->(r) { content_tag(:span, r.id, class: "only-dev-visible") }) do |strava_activity| %>
    <%= render UI::Time::Component.new(time: strava_activity.created_at) %>
  <% end %>

  <% table.column(sortable: "updated_at", classes: "tw:text-xs") do |strava_activity| %>
    <small>
      <%= render UI::Time::Component.new(time: strava_activity.updated_at) %>
    </small>
  <% end %>

  <% table.column(sortable: "start_date", label: "Start date") do |strava_activity| %>
    <%= render UI::Time::Component.new(time: strava_activity.start_date) %>
  <% end %>

  <% table.column(label: "Title", header_classes: "tw:font-normal") do |strava_activity| %>
    <% if strava_activity.photos&.dig("photo_url").present? %>
      📷
    <% end %>

    <span class="tw:mr-1"><%= strava_activity.title %></span>

    <%= link_to link_emoji, "https://www.strava.com/activities/#{strava_activity.strava_id}", title: "View on Strava" %>

    <% if strava_activity.description.present? %>
      <span
        class="small less-strong tw:block"
        title="<%= strava_activity.description %>"
      >
        <%= strava_activity.description&.truncate(120) %>
      </span>
    <% end %>
  <% end %>

  <% table.column(sortable: "activity_type", label: "Type") do |strava_activity| %>
    <% if strava_activity.cycling? %>
      <span class="<%= UI::Alert::Component::TEXT_CLASSES[:success] %>">
        <%= strava_activity.activity_type %>
      </span>
    <% else %>
      <small><%= strava_activity.activity_type %></small>
    <% end %>

    <% unless searched_activity_type.present? %>
      <%= link_to search_emoji, url_for(sortable_search_params.merge(search_activity_type: strava_activity.activity_type)), class: "display-sortable-link small" %>
    <% end %>
  <% end %>

  <% table.column(sortable: "distance_meters", label: "Distance (miles)", classes: "tw:text-xs") do |strava_activity| %>
    <%= number_display(strava_activity.distance_miles&.round) %>
  <% end %>

  <% table.column(label: "Gear", header_classes: "tw:font-normal") do |strava_activity| %>
    <% if strava_activity.gear_id.present? %>
      <small><%= strava_activity.calculated_gear_name %></small>
      <% gear_assoc = strava_activity.strava_integration.strava_gears.find { |ga| ga.strava_id == strava_activity.gear_id } %>
      <% if gear_assoc&.item.present? %>
        <%= link_to "BI", bike_path(gear_assoc.item), class: "small #{UI::Alert::Component::TEXT_CLASSES[:success]}", title: gear_assoc.item.title_string %>
      <% end %>
    <% end %>
  <% end %>

  <% table.column(label: "User", header_classes: "tw:font-normal") do |strava_activity| %>
    <%= render Admin::UserCell::Component.new(user: strava_activity.strava_integration.user, user_id: strava_activity.strava_integration.user_id, render_search: render_sortable, user_link_path: admin_strava_integration_path(strava_activity.strava_integration_id), search_url: url_for(sortable_search_params.merge(search_strava_integration_id: strava_activity.strava_integration_id))) %>
  <% end %>

  <% if display_dev_info? %>
    <% table.column(sortable: "enriched_at", classes: "only-dev-visible tw:text-xs") do |strava_activity| %>
      <small>
        <%= render UI::Time::Component.new(time: strava_activity.enriched_at) %>
      </small>
    <% end %>
  <% end %>
<% end %>
