<% nav_header_list_items = capture do %>
  <%= link_to "with gear", url_for(sortable_search_params.merge(search_with_gear: !@with_gear)), class: "nav-link #{@with_gear ? "active" : ""}" %>

  <li class="nav-item dropdown dropleft">
    <a
      class="nav-link dropdown-toggle <%= @searched_activity_type.present? ? "active" : "" %>"
      href="#"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <% if @searched_activity_type.blank? %>
        All types
      <% else %>
        <%= @searched_activity_type %>
      <% end %>
    </a>

    <div class="dropdown-menu">
      <%= link_to "All types", url_for(sortable_search_params.merge(search_activity_type: nil)), class: "dropdown-item #{@searched_activity_type.present? ? '' : 'active'}" %>

      <div class="dropdown-divider"></div>

      <% StravaActivity::CYCLING_TYPES.each do |activity_type| %>
        <%= link_to activity_type, url_for(sortable_search_params.merge(search_activity_type: activity_type)), class: "dropdown-item text-success #{@searched_activity_type == activity_type ? 'active' : ''}" %>
      <% end %>

      <div class="dropdown-divider"></div>

      <% (StravaActivity.activity_types - StravaActivity::CYCLING_TYPES).each do |activity_type| %>
        <%= link_to activity_type, url_for(sortable_search_params.merge(search_activity_type: activity_type)), class: "dropdown-item #{@searched_activity_type == activity_type ? 'active' : ''}" %>
      <% end %>
    </div>
  </li>
<% end %>

<% table_view = render(partial: "table", locals: {collection: @collection, render_sortable: true, searched_activity_type: @searched_activity_type}) %>

<%= render(Admin::IndexSkeleton::Component.new(nav_header_list_items:, table_view:, chart_collection: @render_chart && matching_strava_activities)) %>
